Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat(lms-yaksa): Phase 3 - Controllers & Routes implementation
  docs/specs/lms-yaksa/README.md
  packages/lms-yaksa/TODO.md
  packages/lms-yaksa/src/backend/controllers/CourseAssignmentController.ts
  packages/lms-yaksa/src/backend/controllers/CreditRecordController.ts
  packages/lms-yaksa/src/backend/controllers/LicenseProfileController.ts
  packages/lms-yaksa/src/backend/controllers/RequiredCoursePolicyController.ts
  packages/lms-yaksa/src/backend/controllers/YaksaLmsAdminController.ts
  packages/lms-yaksa/src/backend/controllers/index.ts
  packages/lms-yaksa/src/backend/index.ts
  packages/lms-yaksa/src/backend/routes/index.ts
  packages/lms-yaksa/src/backend/routes/yaksaLms.routes.ts
  packages/lms-yaksa/src/manifest.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(admin-dashboard): Use cross-env for cross-platform build:prod script
  apps/admin-dashboard/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

feat(lms-yaksa): Phase 4 - LMS Core Hooks integration
  docs/specs/lms-yaksa/README.md
  packages/lms-yaksa/TODO.md
  packages/lms-yaksa/src/backend/hooks/CertificateIssuedHandler.ts
  packages/lms-yaksa/src/backend/hooks/CourseCompletionHandler.ts
  packages/lms-yaksa/src/backend/hooks/EnrollmentHandler.ts
  packages/lms-yaksa/src/backend/hooks/LmsCoreEventHandlers.ts
  packages/lms-yaksa/src/backend/hooks/ProgressSyncHandler.ts
  packages/lms-yaksa/src/backend/hooks/index.ts
  packages/lms-yaksa/src/backend/index.ts
  packages/lms-yaksa/src/manifest.ts
  packages/lms-yaksa/src/types/events.ts
  packages/lms-yaksa/src/types/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(lms-yaksa): Phase 5 & 6 - Admin UI and Member UI implementation
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/lms-yaksa/AssignmentStatusTag.tsx
  apps/admin-dashboard/src/components/lms-yaksa/CoursePicker.tsx
  apps/admin-dashboard/src/components/lms-yaksa/CreditBadge.tsx
  apps/admin-dashboard/src/components/lms-yaksa/UserSearch.tsx
  apps/admin-dashboard/src/components/lms-yaksa/index.ts
  apps/admin-dashboard/src/lib/api/lmsYaksa.ts
  apps/admin-dashboard/src/pages/lms-yaksa/LmsYaksaRouter.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/assignments/index.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/credits/index.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/dashboard/index.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/license-profiles/index.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/reports/index.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/required-policy/index.tsx
  apps/main-site/src/components/lms-yaksa/CourseStatusTag.tsx
  apps/main-site/src/components/lms-yaksa/CreditSummaryCard.tsx
  apps/main-site/src/components/lms-yaksa/LicenseProfileCard.tsx
  apps/main-site/src/components/lms-yaksa/RequiredCourseCard.tsx
  apps/main-site/src/components/lms-yaksa/index.ts
  apps/main-site/src/lib/api/lmsYaksaMember.ts
  apps/main-site/src/pages/member/lms/LmsMemberAssignments.tsx
  apps/main-site/src/pages/member/lms/LmsMemberCredits.tsx
  apps/main-site/src/pages/member/lms/LmsMemberDashboard.tsx
  apps/main-site/src/pages/member/lms/LmsMemberLicense.tsx
  apps/main-site/src/pages/member/lms/LmsMemberRequiredCourses.tsx
  apps/main-site/src/pages/member/lms/index.ts
  apps/main-site/src/router/index.tsx
  docs/specs/lms-yaksa/README.md
  packages/lms-yaksa/TODO.md
Owners: @o4o-platform/admin-team, @o4o-platform/ui-team, @o4o-platform/frontend-team, @o4o-platform/docs-team

fix(admin): Remove Command component dependency from CoursePicker
  apps/admin-dashboard/src/components/lms-yaksa/CoursePicker.tsx
Owners: @o4o-platform/admin-team

feat(membership-yaksa): Phase 1 - Extend Member entity with Yaksa-specific fields
  apps/admin-dashboard/src/pages/membership/members/MemberManagement.tsx
  apps/main-site/src/pages/mypage/MemberProfilePage.tsx
  apps/main-site/src/pages/mypage/index.ts
  docs/reports/membership-yaksa-phase0-report.md
  packages/lms-yaksa/src/backend/entities/RequiredCoursePolicy.entity.ts
  packages/lms-yaksa/src/backend/services/RequiredCoursePolicyService.ts
  packages/membership-yaksa/src/backend/entities/Member.ts
  packages/membership-yaksa/src/backend/entities/index.ts
  packages/membership-yaksa/src/backend/services/MemberService.ts
  packages/reporting-yaksa/src/backend/services/MembershipSyncService.ts
  packages/reporting-yaksa/src/backend/services/index.ts
Owners: @o4o-platform/admin-team, @o4o-platform/frontend-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(membership-yaksa): Add Phase 1 migration for extended member fields
  apps/api-server/src/database/migrations/1733600000000-ExtendYaksaMemberFields.ts
Owners: @o4o-platform/backend-team

fix(api-server): Add reporting-yaksa path mapping to tsconfig
  apps/api-server/tsconfig.json
Owners: @o4o-platform/devops-team

fix(reporting-yaksa): Resolve circular dependency in entity imports
  packages/reporting-yaksa/src/backend/entities/ReportAssignment.ts
  packages/reporting-yaksa/src/backend/entities/ReportLog.ts
Owners: @o4o-platform/core-team

fix(scripts): Add cross-env to root and fix deploy script
  package.json
  pnpm-lock.yaml
  scripts/deploy-admin-manual.sh
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(auth-context): Allow super_admin to access admin-required routes
  packages/auth-context/src/AdminProtectedRoute.tsx
Owners: @o4o-platform/security-team

refactor(cpt): Unify CPT system under cms_cpt_types table
  apps/api-server/src/database/connection.ts
  apps/api-server/src/entities/CustomPostType.ts
  apps/api-server/src/modules/cms/entities/CustomPostType.ts
  apps/api-server/src/routes/appstore.routes.ts
  apps/api-server/src/services/cpt/cpt.service.ts
  apps/api-server/src/test-module-discovery.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

fix(cpt): Add backward compatibility and fix TypeScript errors
  apps/api-server/src/controllers/MigrationController.ts
  apps/api-server/src/entities/CustomPostType.ts
  apps/api-server/src/modules/cms/services/CustomPostTypeService.ts
  apps/api-server/src/services/cpt/dropshipping-cpts.ts
  apps/api-server/src/test-module-discovery.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team

refactor(entities): Unify duplicate AISetting and RoleAssignment entities
  apps/api-server/src/database/connection.ts
  apps/api-server/src/entities/AISetting.ts
  apps/api-server/src/entities/RoleAssignment.ts
  apps/api-server/src/routes/admin-role-applications.ts
  apps/api-server/src/routes/role-applications.ts
  apps/api-server/src/scripts/migrate-user-roles-to-assignments.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

fix(lifecycle): Add missing table creation to core app install hooks
  packages/lms-core/src/lifecycle/install.ts
  packages/lms-yaksa/src/lifecycle/install.ts
  packages/organization-core/src/lifecycle/install.ts
  packages/reporting-yaksa/src/lifecycle/install.ts
Owners: @o4o-platform/core-team

feat(core): Phase 8-6, 8-7 완료 - Lifecycle 정비 및 Core App 생성
  apps/api-server/src/routes/inventory.ts
  apps/api-server/src/routes/posts.ts
  packages/auth-core/package.json
  packages/auth-core/src/index.ts
  packages/auth-core/src/lifecycle/activate.ts
  packages/auth-core/src/lifecycle/deactivate.ts
  packages/auth-core/src/lifecycle/index.ts
  packages/auth-core/src/lifecycle/install.ts
  packages/auth-core/src/lifecycle/uninstall.ts
  packages/auth-core/src/manifest.ts
  packages/auth-core/tsconfig.json
  packages/cosmetics-seller-extension/src/manifest.ts
  packages/dropshipping-cosmetics/src/manifest.ts
  packages/forum-yaksa/src/lifecycle/activate.ts
  packages/forum-yaksa/src/lifecycle/deactivate.ts
  packages/forum-yaksa/src/lifecycle/index.ts
  packages/forum-yaksa/src/lifecycle/install.ts
  packages/forum-yaksa/src/lifecycle/uninstall.ts
  packages/forum-yaksa/src/manifest.ts
  packages/forum-yaksa/tsconfig.json
  packages/lms-core/src/manifest.ts
  packages/lms-yaksa/src/backend/routes/yaksaLms.routes.ts
  packages/lms-yaksa/src/manifest.ts
  packages/membership-yaksa/src/lifecycle/index.ts
  packages/organization-core/src/manifest.ts
  packages/platform-core/package.json
  packages/platform-core/src/index.ts
  packages/platform-core/src/lifecycle/activate.ts
  packages/platform-core/src/lifecycle/deactivate.ts
  packages/platform-core/src/lifecycle/index.ts
  packages/platform-core/src/lifecycle/install.ts
  packages/platform-core/src/lifecycle/uninstall.ts
  packages/platform-core/src/manifest.ts
  packages/platform-core/tsconfig.json
  packages/reporting-yaksa/src/manifest.ts
  pnpm-lock.yaml
Owners: @o4o-platform/api-team, @o4o-platform/devops-team, @o4o-platform/security-team, @o4o-platform/core-team

fix: Remove broken Post entity references from Category and Tag
  apps/api-server/src/entities/Category.ts
  apps/api-server/src/entities/Tag.ts
  packages/lms-yaksa/src/manifest.ts
Owners: @o4o-platform/database-team, @o4o-platform/core-team

fix: Remove Post references from Tag routes and service
  apps/api-server/src/routes/api/tags.ts
  apps/api-server/src/services/tag.service.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team

feat(phase-6): Add multi-tenancy, service group filtering, and ViewSystem improvements
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/tenant-context.middleware.ts
  apps/api-server/src/modules/module-loader.ts
  apps/api-server/src/modules/types.ts
  docs/plan/active/phase-6-core-improvements.md
  packages/cms-core/src/view-system/navigation-registry.ts
  packages/cms-core/src/view-system/types.ts
  packages/cms-core/src/view-system/view-registry.ts
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(phase7): Add Service Templates & App Installer Automation
  apps/admin-dashboard/src/api/admin-apps.ts
  apps/admin-dashboard/src/components/apps/ServiceTemplateSelector.tsx
  apps/admin-dashboard/src/pages/apps/AppStorePage.tsx
  apps/api-server/src/main.ts
  apps/api-server/src/routes/service-provisioning.routes.ts
  apps/api-server/src/service-templates/index.ts
  apps/api-server/src/service-templates/service-installer.ts
  apps/api-server/src/service-templates/template-registry.ts
  apps/api-server/src/service-templates/template-schema.ts
  apps/api-server/src/service-templates/templates/cosmetics-retail.json
  apps/api-server/src/service-templates/templates/sellerops-universal.json
  apps/api-server/src/service-templates/templates/supplierops-universal.json
  apps/api-server/src/service-templates/templates/tourist-service.json
  apps/api-server/src/service-templates/templates/yaksa-branch.json
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/devops-team

feat(phase8): Service Environment Initialization & Multi-Tenant Data Isolation
  apps/api-server/src/database/tenant-aware-repository.ts
  apps/api-server/src/decorators/tenant-scoped.decorator.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/tenant-isolation.middleware.ts
  apps/api-server/src/routes/service-admin.routes.ts
  apps/api-server/src/service-templates/index.ts
  apps/api-server/src/service-templates/init-pack-registry.ts
  apps/api-server/src/service-templates/init-packs/cosmetics-retail-init.json
  apps/api-server/src/service-templates/init-packs/tourist-service-init.json
  apps/api-server/src/service-templates/init-packs/yaksa-branch-init.json
  apps/api-server/src/service-templates/init-schema.ts
  apps/api-server/src/service-templates/service-initializer.ts
  apps/api-server/src/service-templates/service-installer.ts
  apps/api-server/src/services/theme-preset.service.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/devops-team

fix(lms-yaksa): Register LMS-Yaksa entities in API server DataSource
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/backend-team

fix(typescript): Add explicit Router type annotations
  apps/api-server/src/middleware/tenant-isolation.middleware.ts
  apps/api-server/src/routes/service-admin.routes.ts
  apps/api-server/src/routes/service-provisioning.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

fix(lms-yaksa): Add @o4o/lms-yaksa dependency to api-server
  apps/api-server/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

feat(lms-yaksa): Add database migration for LMS-Yaksa tables
  apps/api-server/src/database/migrations/9300000000000-CreateLMSYaksaTables.ts
Owners: @o4o-platform/backend-team

feat(multi-tenant): Connect cross-service tests to real platform services
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/tests/multi-tenant/README.md
  apps/api-server/tests/multi-tenant/appstore.spec.ts
  apps/api-server/tests/multi-tenant/config/service-groups.ts
  apps/api-server/tests/multi-tenant/data-isolation.spec.ts
  apps/api-server/tests/multi-tenant/index.ts
  apps/api-server/tests/multi-tenant/navigation.spec.ts
  apps/api-server/tests/multi-tenant/package.json
  apps/api-server/tests/multi-tenant/setup.ts
  apps/api-server/tests/multi-tenant/tenant-factory.ts
  apps/api-server/tests/multi-tenant/view-system.spec.ts
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/devops-team

fix(tests): Remove console.log statements from multi-tenant tests
  apps/api-server/tests/multi-tenant/appstore.spec.ts
  apps/api-server/tests/multi-tenant/setup.ts
  apps/api-server/tests/multi-tenant/tenant-factory.ts
Owners: @o4o-platform/backend-team

fix(api): Register core routes (auth, cms, cpt, users, etc.)
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

fix(api): Use .js extension for imports
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

fix(api): Add legacy /api/auth route for backward compatibility
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

fix(api): Re-export User entity from modules/auth/entities
  apps/api-server/src/entities/User.ts
Owners: @o4o-platform/database-team

fix(api): Match AccountActivity entity with DB schema
  apps/api-server/src/entities/AccountActivity.ts
  apps/api-server/src/services/authentication.service.ts
  packages/forum-yaksa/scripts/build.cjs
  pnpm-lock.yaml
  scripts/deploy-admin-manual.ps1
  scripts/deploy-dev-admin-manual.ps1
  scripts/deploy-main-site-manual.ps1
Owners: @o4o-platform/database-team, @o4o-platform/backend-team, @o4o-platform/core-team, @o4o-platform/devops-team

fix(api): Restore provider fields in OAuth user creation
  apps/api-server/src/services/authentication.service.ts
Owners: @o4o-platform/backend-team

fix(api): Update account-linking.service.ts for AccountActivity schema
  apps/api-server/src/services/account-linking.service.ts
  apps/api-server/src/services/authentication.service.ts
Owners: @o4o-platform/backend-team

fix(api): Use metadata for LinkingSession, details for AccountActivity
  apps/api-server/src/services/account-linking.service.ts
Owners: @o4o-platform/backend-team

feat(api): Add Service Monitoring API (Phase 9 Task 3)
  apps/api-server/src/main.ts
  apps/api-server/src/routes/service-monitor.routes.ts
  apps/api-server/src/services/service-monitor.service.ts
  apps/api-server/src/services/validation-report.service.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

feat(admin): Add Service Monitoring Dashboard UI (Phase 9 Task 3.2)
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/services/ServiceOverview.tsx
Owners: @o4o-platform/admin-team

feat(phase9): Task 4 - InitPack Quality & Template Consistency Enforcement
  apps/admin-dashboard/src/pages/services/ServiceOverview.tsx
  apps/api-server/src/services/baseline-linter.service.ts
  apps/api-server/src/services/service-monitor.service.ts
  apps/api-server/src/validators/initpack-linter.ts
  apps/api-server/src/validators/template-linter.ts
  packages/dropshipping-cosmetics/src/backend/services/dictionary.service.ts
  packages/dropshipping-cosmetics/src/backend/services/recommendation-engine.service.ts
  packages/dropshipping-cosmetics/src/frontend/components/CosmeticsRecommendationPanel.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat(phase10): Service Evolution Layer & Upgrade Pipeline
  apps/api-server/src/service-groups/index.ts
  apps/api-server/src/service-templates/template-version-schema.ts
  apps/api-server/src/service-templates/versioned-template-registry.ts
  apps/api-server/src/services/extension-lifecycle.service.ts
  apps/api-server/src/services/service-upgrade.service.ts
  docs/services/new-service-group.md
  docs/services/upgrade-pipeline.md
  docs/services/versioning.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(phase11): Cross-Service Migration, Consolidation & Evolution Layer
  apps/api-server/src/services/cross-service-migration.service.ts
  apps/api-server/src/services/extension-portability.service.ts
  apps/api-server/src/services/service-snapshot.service.ts
  apps/api-server/src/services/template-switch.service.ts
  apps/api-server/src/services/tenant-consolidation.service.ts
  docs/services/cross-service-migration.md
  docs/services/service-snapshot.md
  docs/services/tenant-consolidation.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team
