Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

chore(drug-otc): GA-V5 batch6 10그룹 70 master claim (에이전트 가)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 경구 복합성분 매장 설명서 batch6 KO+EN 10그룹 70 master LIVE (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-combo-leaflet-401090229c631e53-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-401090229c631e53-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4da3b7a0f97b4206-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4da3b7a0f97b4206-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5383df7d49fdf7f7-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5383df7d49fdf7f7-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5b02d746e0b674e0-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5b02d746e0b674e0-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-69d379dfe5e8d7f4-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-69d379dfe5e8d7f4-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a228c0c1f7510fea-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a228c0c1f7510fea-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-ab81f93bb943b39a-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-ab81f93bb943b39a-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-aec70069fea678da-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-aec70069fea678da-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-d8f3c650f529eee4-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-d8f3c650f529eee4-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-f3dbf8ad57fb4432-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-f3dbf8ad57fb4432-ko.run.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-config-batch6.ga.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-en-batch6.ga.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

chore(drug-otc): GA-V5 batch7 claim 10그룹 60 master (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 경구 복합성분 매장 설명서 batch7 KO+EN 10그룹 60 master LIVE (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-combo-leaflet-0e8729cb7b617ee4-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-0e8729cb7b617ee4-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-1caa441848f10fd1-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-1caa441848f10fd1-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-26025df241557f80-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-26025df241557f80-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-262be157b0e4825d-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-262be157b0e4825d-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-263b17547f3e5e24-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-263b17547f3e5e24-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-3f21c651205a3b2d-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-3f21c651205a3b2d-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-3fc4b2d180d678c4-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-3fc4b2d180d678c4-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-46ffa6d03d0eb6dc-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-46ffa6d03d0eb6dc-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4840d3b5304687cc-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4840d3b5304687cc-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4cd5aacc94a0af56-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4cd5aacc94a0af56-ko.run.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-config-batch7.ga.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-en-batch7.ga.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

chore(drug-otc): GA-V5 batch8 claim 10그룹 (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

feat(hff): 콜라겐 부원료 비타민 허용형 46 신규 LIVE (Agent A)
  apps/api-server/src/scripts/hff-sf-a-build.ts
  docs/checks/CHECK-O4O-HFF-INDEPENDENT-COLLAGEN-MAX-PRODUCTION-A-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-hff): 장·대사·면역 잔여 최대생산 신규 20 STORE LIVE + 표고/청국장균/풋사과 발굴 (WO-O4O-HFF-INDEPENDENT-GUT-REMAINDER-MAX-PRODUCTION-B-V1, 에이전트 나)
  apps/api-server/src/scripts/hff-sf-b-registry.ts
  docs/checks/CHECK-O4O-HFF-INDEPENDENT-GUT-REMAINDER-MAX-PRODUCTION-B-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-otc): 경구 복합성분 매장 설명서 batch8 KO+EN 10그룹 60 master LIVE (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-combo-leaflet-5525cff600f31aa4-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5525cff600f31aa4-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5ce4a14458a28973-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5ce4a14458a28973-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5e57d1b6c389c411-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5e57d1b6c389c411-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-6dcb3dfa6dad92ad-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-6dcb3dfa6dad92ad-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-6e32f70de3f2372c-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-6e32f70de3f2372c-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-82324f96e58e3466-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-82324f96e58e3466-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-838accb04dda5160-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-838accb04dda5160-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-86ea446f1ffff152-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-86ea446f1ffff152-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-89b7e1fcd52566a1-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-89b7e1fcd52566a1-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-97960be079db9b97-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-97960be079db9b97-ko.run.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-config-batch8.ga.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-en-batch8.ga.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

chore(drug-otc): GA-V5 batch9 claim 10그룹 (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 경구 복합성분 매장 설명서 batch9 KO+EN 10그룹 60 master LIVE (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-combo-leaflet-97dd638435894019-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-97dd638435894019-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-994118018e19ec77-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-994118018e19ec77-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-9eb53fcaa2ff8a2e-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-9eb53fcaa2ff8a2e-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a0eede5423c04cd9-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a0eede5423c04cd9-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a41e9611ee74eaa7-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a41e9611ee74eaa7-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a63a78448575d800-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-a63a78448575d800-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-b154ff542edbf5e8-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-b154ff542edbf5e8-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-b954b025f8d3a50e-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-b954b025f8d3a50e-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-c0b0ebef6a08b049-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-c0b0ebef6a08b049-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-d543ab1d71b179f8-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-d543ab1d71b179f8-ko.run.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-config-batch9.ga.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-en-batch9.ga.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

chore(drug-otc): GA-V5 batch10 claim 10그룹 (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

chore(drug-otc): 에이전트 다 V6 claim 선점 — 미녹시딜·시클로피록스·아모롤핀·살리실산 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 경구 복합성분 매장 설명서 batch10 KO+EN 10그룹 54 master LIVE (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-combo-leaflet-01108ff74e6e7b6b-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-01108ff74e6e7b6b-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-04a7b05964026d3c-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-04a7b05964026d3c-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-04e3106abeda9529-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-04e3106abeda9529-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-07dbd97e86802a37-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-07dbd97e86802a37-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-2342fd0e35e3234c-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-2342fd0e35e3234c-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-256584284070acfa-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-256584284070acfa-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-dcd87a9a084f247f-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-dcd87a9a084f247f-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-e55029e58e935586-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-e55029e58e935586-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-f6e8a80a6142d012-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-f6e8a80a6142d012-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-fd5f1cd5a031ef34-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-fd5f1cd5a031ef34-ko.run.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-config-batch10.ga.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-en-batch10.ga.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

chore(drug-otc): GA-V5 batch11 claim 10그룹 (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 경구 복합성분 매장 설명서 batch11 KO+EN 10그룹 50 master LIVE — GA-V5 종료임계 달성 (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-config-batch11.ga.json
  apps/api-server/src/scripts/data/otc-oral-combo-leaflet-en-batch11.ga.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

docs(check): GA-V5 경구 복합성분 연속생산 종료 기록 — 70그룹/431 master KO+EN LIVE (WO-O4O-OTC-ORAL-MULTI-INGREDIENT-KO-EN-CONTINUOUS-PRODUCTION-GA-V5, 에이전트 가)
  docs/checks/CHECK-O4O-OTC-ORAL-COMBO-CONTINUOUS-PRODUCTION-GA-V5.md
Owners: @o4o-platform/docs-team

feat(drug-otc): V6 미녹시딜 전량 68fp/155 KO+EN LIVE (액2/3/5·겔3/5·폼 분리, 5%=남성전용) + runner --assume-route topical (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-minoxidil-foam-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-minoxidil-foam-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-minoxidil-gel3.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-minoxidil-gel5.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-minoxidil-sol2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-minoxidil-sol3.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-minoxidil-sol5.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-minoxidil-foam-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-minoxidil-foam-b.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-minoxidil-gel3.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-minoxidil-gel5.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-minoxidil-sol2.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-minoxidil-sol3.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-minoxidil-sol5.json
  apps/api-server/src/scripts/drug-otc-topical-store-leaflet-batch.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(drug-otc): topical V6 시클로피록스 완결 36fp/79 LIVE(누계 1079) — 네일라카 매일형/주기감량형/올아민 두피액/겔 EN 분리 + 복용→사용 병용문구 재표현 + oral 오분류 정밀 재분류 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-ciclopirox-gel.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-ciclopirox-lacquer-daily.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-ciclopirox-lacquer-taper.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-ciclopirox-lacquer-tg.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-ciclopirox-olamine-scalp.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-ciclopirox-gel.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-ciclopirox-lacquer-daily.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-ciclopirox-lacquer-taper.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-ciclopirox-olamine-scalp.json
  apps/api-server/src/scripts/drug-otc-topical-store-leaflet-batch.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(hff): 콜라겐 잔여·액상 32 신규 LIVE + 다원료 복합형 오귀속 방어 (에이전트 A)
  apps/api-server/src/scripts/hff-sf-a-build.ts
  docs/checks/CHECK-O4O-HFF-INDEPENDENT-COLLAGEN-REMAINDER-UNLOCK-A-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-otc): topical V6 아모롤핀염산염 네일라카 완결 9fp/50 LIVE(누계 1129) — 단일 요법 EN·HOLD 0·no-op 0 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-amorolfine-lacquer.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-amorolfine-lacquer.json
Owners: @o4o-platform/devops-team

feat(drug-otc): topical V6 살리실산 여드름 외용액·겔·팁스왑 완결 9fp/16 LIVE(누계 1145) — 제품별 EN 5분리·첩부제 생산 제외 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-salicylic-gel-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-salicylic-gel-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-salicylic-sol-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-salicylic-sol-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-salicylic-swab.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-salicylic-gel-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-salicylic-gel-b.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-salicylic-sol-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-salicylic-sol-b.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-salicylic-swab.json
Owners: @o4o-platform/devops-team

feat(drug-hff): 지표성분 basis 검증·잔여 대량 생산 B 신규 101 STORE LIVE (WO-O4O-HFF-INDEPENDENT-BASIS-UNLOCK-B-V1, 에이전트 나)
  apps/api-server/src/scripts/hff-sf-b-census.ts
  apps/api-server/src/scripts/hff-sf-b-generate.ts
  apps/api-server/src/scripts/hff-sf-b-registry.ts
  docs/checks/CHECK-O4O-HFF-INDEPENDENT-BASIS-UNLOCK-B-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): topical V6 종료 CHECK — 122fp/300 KO+EN LIVE(누계 1145)·반납 풀 전량 소진 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  docs/checks/CHECK-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6.md
Owners: @o4o-platform/docs-team

chore(drug-otc): topical V6 케토프로펜 겔 46 선점 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): topical V6 케토프로펜 겔 완결 20fp/46 LIVE(누계 1191) — 횟수·농도별 EN 3형 분리·경고제 제외 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-keto-gel-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-keto-gel-a2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-keto-gel-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-keto-gel-b2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-keto-gel-c.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-ketoprofen-gel-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-ketoprofen-gel-b.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-ketoprofen-gel-c.json
Owners: @o4o-platform/devops-team

chore(drug-otc): 다 V6 우선순위⑤ 디클로페낙 나트륨겔8+디에틸암모늄 크림·겔10 CLAIMED (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 다 V6 우선순위⑤ 디클로페낙 나트륨겔 8+디에틸암모늄 크림·겔 10 = 18 master KO+EN LIVE, '함께 복용 시' 병용 rewrite 규칙 추가 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-dic-dea-artivex.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-dic-dea-cream.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-dic-dea-emulgel.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-dic-dea-gel1.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-dic-na-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-dic-na-a2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-dic-na-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-diclofenac-dea-cream.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-diclofenac-dea-emulgel.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-diclofenac-dea-gel-artivex.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-diclofenac-dea-gel1pct.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-diclofenac-na-gel-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-diclofenac-na-gel-b.json
  apps/api-server/src/scripts/drug-otc-topical-store-leaflet-batch.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

chore(drug-otc): 다 V6 우선순위⑤ 라미실계 테르비나핀 12 CLAIMED (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 다 V6 우선순위⑤ 라미실계 테르비나핀 12 master KO+EN LIVE + 용량접미 이름 coarse 패턴 수정 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-cream-r2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-cream.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-dermgel-r2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-dermgel.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-once-r2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-once.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-sol-r2.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-terb-sol.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-terbinafine-cream-lamisil.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-terbinafine-dermgel.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-terbinafine-once-lamisil.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-terbinafine-solution-lamisil.json
  apps/api-server/src/scripts/drug-otc-topical-store-leaflet-batch.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

chore(drug-otc): 다 V6 우선순위⑤ 가수과산화벤조일 겔 7 CLAIMED (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 다 V6 우선순위⑤ 가수과산화벤조일 여드름 겔 7 master KO+EN LIVE (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-bpo-acderm.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-bpo-fatima.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-bpo-joa.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-bpo-gel-acderm.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-bpo-gel-fatima.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-bpo-gel-joa.json
Owners: @o4o-platform/devops-team

@ feat(hff): 관절·피부 복합형+뮤코다당 SF 248 신규 LIVE (Agent A Combo Completion)
  apps/api-server/src/scripts/hff-combo-a-build.ts
  docs/checks/CHECK-O4O-HFF-COMBO-COMPLETION-A-JOINT-SKIN-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

chore(drug-otc): 다 V6 우선순위⑤ 인도메타신 크림7+록소프로펜 겔5 CLAIMED (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 다 V6 인도메타신 크림7+록소프로펜 겔5 KO+EN LIVE — 누계 topical 1240 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-indomethacin-cream.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-loxoprofen-gel-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-loxoprofen-gel-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-indomethacin-cream.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-loxoprofen-gel-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-loxoprofen-gel-b.json
Owners: @o4o-platform/devops-team

chore(drug-otc): 다 V6 우선순위⑤ 퓨시드산 겔·크림9+D-판테놀 크림5 CLAIMED (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 다 V6 퓨시드산 겔·크림9+D-판테놀 크림5 KO+EN LIVE — 누계 topical 1254 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-fusidic-cream.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-fusidic-gel.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-panthenol-cream-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-panthenol-cream-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-fusidic-cream.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-fusidic-gel.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-panthenol-cream-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-panthenol-cream-b.json
Owners: @o4o-platform/devops-team

chore(drug-otc): 다 V6 우선순위⑤ PDRN 크림10+크로타미톤 연고4 CLAIMED (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 다 V6 PDRN 크림10+크로타미톤 연고4 KO+EN LIVE — 누계 topical 1268 (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-crotamiton-oint.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-pdrn-cream-a.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-batch-pdrn-cream-b.run.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-crotamiton-oint.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-pdrn-cream-a.json
  apps/api-server/src/scripts/data/topical/otc-topical-en-pdrn-cream-b.json
Owners: @o4o-platform/devops-team

chore(drug-otc): 다 V6 우선순위⑤ 7그룹 30 master CLAIMED (무피로신·세르타코나졸·아모롤핀크림·케토코나졸·뮤코폴리·우레아·코네티비나) (WO-O4O-OTC-TOPICAL-SPECIAL-FORM-CONTINUOUS-PRODUCTION-DA-V6, 에이전트 다)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-hff): 장·대사·면역 Combo B 신규 190 STORE LIVE — 체지방(가르시니아)·면역(프로폴리스/아연)·대사(녹차/B복합) (WO-O4O-HFF-COMBO-COMPLETION-B-GUT-METABOLIC-V1, 에이전트 나)
  apps/api-server/src/scripts/hff-combo-b-census.ts
  docs/checks/CHECK-O4O-HFF-COMBO-COMPLETION-B-GUT-METABOLIC-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team
