Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

docs(smoke): platform global users read-only post-deploy — PARTIAL PASS (SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-POST-DEPLOY-V1.md
Owners: @o4o-platform/docs-team

docs(ir): cross-service store home audit — canonical shell direction (IR-O4O-STORE-HOME-CROSSSERVICE-AUDIT-V1)
  docs/ir/IR-O4O-STORE-HOME-CROSSSERVICE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(ui): GP/KCos admin layout flex sibling, drop lg:ml-64 margin (WO-O4O-GP-KCOS-ADMIN-DASHBOARD-LAYOUT-RESPONSIVE-CLEANUP-V1)
  docs/investigations/CHECK-O4O-GP-KCOS-ADMIN-DASHBOARD-LAYOUT-RESPONSIVE-CLEANUP-V1.md
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat: adopt standard list core for operator stores (WO-O4O-OPERATOR-STORES-STANDARD-LIST-ADOPTION-V1)
  docs/checks/CHECK-O4O-OPERATOR-STORES-STANDARD-LIST-ADOPTION-V1.md
  packages/operator-core-ui/src/modules/stores/OperatorStoresList.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(platform): remove nonexistent user.company from platform-users search (WO-O4O-PLATFORM-USERS-SEARCH-COMPANY-FIELD-FIX-V1)
  apps/api-server/src/routes/admin/platform-users.routes.ts
  docs/investigations/CHECK-O4O-PLATFORM-USERS-SEARCH-COMPANY-FIELD-FIX-V1.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

docs(check): GlycoPharm store home reference stabilization (WO-O4O-STORE-HOME-GLYCOPHARM-REFERENCE-STABILIZATION-V1)
  docs/checks/CHECK-O4O-STORE-HOME-GLYCOPHARM-REFERENCE-STABILIZATION-V1.md
Owners: @o4o-platform/docs-team

docs(ir): store-content surface audit — 3-service store-hub content IA (IR-O4O-STORE-CONTENT-SURFACE-AUDIT-V1)
  docs/investigations/IR-O4O-STORE-CONTENT-SURFACE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(smoke): cumulative responsive sidebar post-deploy smoke PASS (SMOKE-O4O-RESPONSIVE-SIDEBAR-CUMULATIVE-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-RESPONSIVE-SIDEBAR-CUMULATIVE-POST-DEPLOY-V1.md
Owners: @o4o-platform/docs-team

feat: add controlled sort support to data table (WO-O4O-DATATABLE-ONSORT-CONTROLLED-SORT-V1)
  docs/checks/CHECK-O4O-DATATABLE-ONSORT-CONTROLLED-SORT-V1.md
  packages/operator-core-ui/src/modules/stores/OperatorStoresList.tsx
  packages/operator-ux-core/src/list/DataTable.tsx
  packages/operator-ux-core/src/list/types.ts
  packages/ui/src/components/table/BaseTable.tsx
  packages/ui/src/components/table/types.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/ui-team

docs(smoke): platform users search FIX post-deploy — PASS (SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-SEARCH-FIX-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-SEARCH-FIX-V1.md
Owners: @o4o-platform/docs-team

feat(store-ui-core): canonical StoreHomeShell + GlycoPharm adopt (WO-O4O-STORE-HOME-CANONICAL-SHELL-V1)
  docs/checks/CHECK-O4O-STORE-HOME-CANONICAL-SHELL-V1.md
  packages/store-ui-core/src/components/StoreHomeShell.tsx
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/pages/store/StoreOverviewPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa): align store-hub content library to GP/KCos canonical (WO-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1)
  docs/investigations/CHECK-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1.md
  services/web-kpa-society/src/pages/pharmacy/HubContentLibraryPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): platform-admin surface Phase 1 closure — CLOSED/PASS (CHECK-O4O-PLATFORM-ADMIN-SURFACE-PHASE1-CLOSURE-V1)
  docs/investigations/CHECK-O4O-PLATFORM-ADMIN-SURFACE-PHASE1-CLOSURE-V1.md
Owners: @o4o-platform/docs-team

fix(ui): standardize KPA admin sidebar to lg(1024) breakpoint (WO-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1.md
  services/web-kpa-society/src/components/admin/AdminLayout.tsx
  services/web-kpa-society/src/components/admin/AdminSidebar.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record kpa store-hub content deploy success + defer browser smoke (WO-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1)
  docs/investigations/CHECK-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1.md
Owners: @o4o-platform/docs-team

docs(smoke): GlycoPharm store home canonical shell post-deploy — PASS (SMOKE-O4O-STORE-HOME-GLYCOPHARM-CANONICAL-SHELL-V1)
  docs/checks/CHECK-O4O-STORE-HOME-GLYCOPHARM-CANONICAL-SHELL-SMOKE-V1.md
Owners: @o4o-platform/docs-team

docs(ir): platform Tier 1 menu migration decision (IR-O4O-PLATFORM-TIER1-MENU-MIGRATION-DECISION-V1)
  docs/investigations/IR-O4O-PLATFORM-TIER1-MENU-MIGRATION-DECISION-V1.md
Owners: @o4o-platform/docs-team

docs(check): KPA admin sidebar lg — live browser smoke PASS (WO-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1.md
Owners: @o4o-platform/docs-team

feat(k-cosmetics): adopt canonical StoreHomeShell on store home (WO-O4O-STORE-HOME-KCOSMETICS-ADOPT-V1)
  services/web-k-cosmetics/src/pages/operator/StoreCockpitPage.tsx
Owners: @o4o-platform/core-team

feat: adopt standard list core for operator members (WO-O4O-OPERATOR-MEMBERS-STANDARD-LIST-ADOPTION-V1)
  docs/checks/CHECK-O4O-OPERATOR-MEMBERS-STANDARD-LIST-ADOPTION-V1.md
  packages/operator-core-ui/src/modules/members/OperatorMembersConsolePage.tsx
  packages/operator-core-ui/src/modules/members/types.ts
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-k-cosmetics/src/pages/operator/UsersPage.tsx
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(platform): Tier 1 crosslink cards on platform landing (WO-O4O-PLATFORM-TIER1-CROSSLINK-CARDS-V1)
  docs/investigations/CHECK-O4O-PLATFORM-TIER1-CROSSLINK-CARDS-V1.md
  services/web-neture/src/pages/admin/platform/PlatformAdminLandingPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): K-Cosmetics store home StoreHomeShell adopt — PARTIAL (WO-O4O-STORE-HOME-KCOSMETICS-ADOPT-V1)
  docs/checks/CHECK-O4O-STORE-HOME-KCOSMETICS-ADOPT-V1.md
Owners: @o4o-platform/docs-team

fix(ui): align StoreSidebar hierarchy tokens to responsive sidebar standard (WO-O4O-STORE-SIDEBAR-HIERARCHY-TOKEN-ALIGNMENT-V1)
  docs/investigations/CHECK-O4O-STORE-SIDEBAR-HIERARCHY-TOKEN-ALIGNMENT-V1.md
  packages/store-ui-core/src/components/StoreSidebar.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat: adopt standard list core for recruitment exposure (WO-O4O-OPERATOR-RECRUITMENT-EXPOSURE-STANDARD-LIST-ADOPTION-V1)
  docs/checks/CHECK-O4O-OPERATOR-RECRUITMENT-EXPOSURE-STANDARD-LIST-ADOPTION-V1.md
  packages/operator-ux-core/src/recruitment-exposure/RecruitmentExposureConsole.tsx
  services/web-glycopharm/src/pages/operator/RecruitmentExposureApprovalPage.tsx
  services/web-k-cosmetics/src/pages/operator/RecruitmentExposureApprovalPage.tsx
  services/web-kpa-society/src/pages/operator/RecruitmentExposureApprovalPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(baseline): O4O Responsive Sidebar Navigation Standard V1 (DOC-O4O-RESPONSIVE-SIDEBAR-NAVIGATION-STANDARD-V1)
  docs/baseline/O4O-RESPONSIVE-SIDEBAR-NAVIGATION-STANDARD-V1.md
Owners: @o4o-platform/docs-team

docs(check): KCos store home adopt — add demo-store main cockpit runtime smoke (single-store PASS)
  docs/checks/CHECK-O4O-STORE-HOME-KCOSMETICS-ADOPT-V1.md
Owners: @o4o-platform/docs-team

feat(platform): migrate role management to /admin/platform/roles (WO-O4O-PLATFORM-ROLES-MENU-MIGRATION-V1)
  docs/investigations/CHECK-O4O-PLATFORM-ROLES-MENU-MIGRATION-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/admin/platform/PlatformAdminLandingPage.tsx
  services/web-neture/src/pages/admin/platform/PlatformRolesPage.tsx
  services/web-neture/src/pages/admin/platform/PlatformSectionLayout.tsx
  services/web-neture/src/pages/operator/RoleManagementPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat: adopt standard list core for operator applications (WO-O4O-OPERATOR-APPLICATIONS-STANDARD-LIST-ADOPTION-V1)
  docs/checks/CHECK-O4O-OPERATOR-APPLICATIONS-STANDARD-LIST-ADOPTION-V1.md
  services/web-glycopharm/src/pages/operator/ApplicationsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa): adopt canonical StoreHomeShell on store home (WO-O4O-STORE-HOME-KPA-ADOPT-V1)
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
Owners: @o4o-platform/core-team

docs(smoke): platform roles menu migration post-deploy — PASS(core)/PARTIAL (SMOKE-O4O-PLATFORM-ROLES-MENU-MIGRATION-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-ROLES-MENU-MIGRATION-POST-DEPLOY-V1.md
Owners: @o4o-platform/docs-team

docs(check): KPA store home StoreHomeShell adopt — PASS (WO-O4O-STORE-HOME-KPA-ADOPT-V1)
  docs/checks/CHECK-O4O-STORE-HOME-KPA-ADOPT-V1.md
Owners: @o4o-platform/docs-team

feat(store-hub): defer CMS type filter tabs on /store-hub/content (WO-O4O-STOREHUB-CONTENT-FILTER-TABS-DEFER-V1)
  docs/checks/CHECK-O4O-STOREHUB-CONTENT-FILTER-TABS-DEFER-V1.md
  packages/shared-space-ui/src/ContentHubTemplate.tsx
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
  services/web-k-cosmetics/src/pages/hub/HubContentPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubContentLibraryPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(ir): service audience policy ownership decision — recommend B (IR-O4O-SERVICE-AUDIENCE-POLICY-OWNERSHIP-DECISION-V1)
  docs/investigations/IR-O4O-SERVICE-AUDIENCE-POLICY-OWNERSHIP-DECISION-V1.md
Owners: @o4o-platform/docs-team

feat: sync kcos applications filters with url (WO-O4O-KCOS-OPERATOR-APPLICATIONS-URL-SYNC-MINIMAL-V1)
  docs/checks/CHECK-O4O-KCOS-OPERATOR-APPLICATIONS-URL-SYNC-MINIMAL-V1.md
  services/web-k-cosmetics/src/pages/operator/ApplicationsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs: audit product approval list backend pagination (IR-O4O-ADMIN-PRODUCT-APPROVAL-STANDARD-LIST-BACKEND-AUDIT-V1)
  docs/investigations/IR-O4O-ADMIN-PRODUCT-APPROVAL-STANDARD-LIST-BACKEND-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(platform): migrate service-audience policy ownership to platform-admin (WO-O4O-PLATFORM-SERVICE-AUDIENCE-POLICY-MIGRATION-V1)
  apps/api-server/src/modules/neture/controllers/admin-service-audience.controller.ts
  docs/investigations/CHECK-O4O-PLATFORM-SERVICE-AUDIENCE-POLICY-MIGRATION-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/admin/ServiceAudiencePolicyPage.tsx
  services/web-neture/src/pages/admin/platform/PlatformAdminLandingPage.tsx
  services/web-neture/src/pages/admin/platform/PlatformSectionLayout.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record service-audience migration commit hash (CHECK-O4O-PLATFORM-SERVICE-AUDIENCE-POLICY-MIGRATION-V1)
  docs/investigations/CHECK-O4O-PLATFORM-SERVICE-AUDIENCE-POLICY-MIGRATION-V1.md
Owners: @o4o-platform/docs-team

feat(signage): standardize playlist create across all surfaces (WO-O4O-SIGNAGE-PLAYLIST-CREATE-STANDARD-ALL-SURFACES-V1)
  docs/checks/CHECK-O4O-SIGNAGE-PLAYLIST-CREATE-STANDARD-ALL-SURFACES-V1.md
  packages/shared-space-ui/src/index.ts
  packages/shared-space-ui/src/signage/SignagePlaylistCreateShell.tsx
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/operator/signage/HqPlaylistCreatePage.tsx
  services/web-glycopharm/src/pages/operator/signage/HqPlaylistsPage.tsx
  services/web-glycopharm/src/pages/store-management/signage/StorePlaylistCreatePage.tsx
  services/web-glycopharm/src/pages/store-management/signage/StoreSignageMainPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/operator/signage/HqPlaylistCreatePage.tsx
  services/web-k-cosmetics/src/pages/operator/signage/HqPlaylistsPage.tsx
  services/web-k-cosmetics/src/pages/store/StorePlaylistCreatePage.tsx
  services/web-k-cosmetics/src/pages/store/StoreSignagePage.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistCreatePage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StorePlaylistCreatePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
  services/web-kpa-society/src/pages/signage/PlaylistEditorPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

chore(ui): scan operator-ux-core in tailwind content for sidebar standard
  docs/investigations/SMOKE-O4O-PLATFORM-SERVICE-AUDIENCE-POLICY-MIGRATION-POST-DEPLOY-V1.md
  services/web-glycopharm/tailwind.config.js
  services/web-k-cosmetics/tailwind.config.js
  services/web-kpa-society/tailwind.config.js
  services/web-neture/tailwind.config.js
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat: add pagination support for admin product approvals (WO-O4O-ADMIN-PRODUCT-APPROVAL-BACKEND-PAGINATION-V1)
  apps/api-server/src/modules/neture/controllers/admin.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  docs/checks/CHECK-O4O-ADMIN-PRODUCT-APPROVAL-BACKEND-PAGINATION-V1.md
  services/web-neture/src/lib/api/admin.ts
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team
