Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(ci): resolve build + test + Docker failures
  .github/workflows/deploy-api.yml
  apps/api-server/src/__tests__/kpa-role-guard.spec.ts
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
  services/web-kpa-society/Dockerfile
  services/web-neture/Dockerfile
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(asset-copy-core): extract platform core package — WO-O4O-ASSET-COPY-CORE-EXTRACTION-V1
  .github/workflows/deploy-api.yml
  apps/api-server/package.json
  apps/api-server/src/database/migrations/20260216200002-AddYaksa01ToKpaA.ts
  apps/api-server/src/modules/asset-snapshot/asset-snapshot.service.ts
  apps/api-server/src/modules/asset-snapshot/entities/asset-snapshot.entity.ts
  apps/api-server/src/modules/asset-snapshot/interfaces/asset-resolver.interface.ts
  apps/api-server/src/modules/asset-snapshot/resolvers/kpa-asset.resolver.ts
  apps/api-server/src/modules/asset-snapshot/resolvers/neture-asset.resolver.ts
  apps/api-server/src/modules/neture/controllers/neture-asset-snapshot.controller.ts
  apps/api-server/src/routes/kpa/controllers/asset-snapshot.controller.ts
  packages/asset-copy-core/package.json
  packages/asset-copy-core/src/entities/asset-snapshot.entity.ts
  packages/asset-copy-core/src/entities/index.ts
  packages/asset-copy-core/src/factory/create-asset-copy-controller.ts
  packages/asset-copy-core/src/index.ts
  packages/asset-copy-core/src/interfaces/content-resolver.interface.ts
  packages/asset-copy-core/src/interfaces/controller-config.interface.ts
  packages/asset-copy-core/src/interfaces/permission-checker.interface.ts
  packages/asset-copy-core/src/resolver/base-resolver.ts
  packages/asset-copy-core/src/services/asset-copy.service.ts
  packages/asset-copy-core/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

test(asset-copy-core): hardening tests — WO-O4O-ASSET-COPY-CORE-TEST-HARDENING-V1
  packages/asset-copy-core/__tests__/asset-copy-service.test.ts
  packages/asset-copy-core/__tests__/base-resolver.test.ts
  packages/asset-copy-core/__tests__/controller-factory.test.ts
  packages/asset-copy-core/__tests__/permission-checker.test.ts
  packages/asset-copy-core/jest.config.cjs
  packages/asset-copy-core/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

feat(platform): AI→Hub→AssetCopy integration — QuickAction flow
  packages/ai-core/src/orchestration/action-keys.ts
  packages/ai-core/src/orchestration/index.ts
  packages/hub-core/src/components/HubCard.tsx
  packages/hub-core/src/components/HubLayout.tsx
  packages/hub-core/src/components/HubSection.tsx
  packages/hub-core/src/index.ts
  packages/hub-core/src/signal-adapter.ts
  packages/hub-core/src/types.ts
Owners: @o4o-platform/core-team

feat(glycopharm): AI 기반 의료 운영 허브 — Hub + Signal + QuickAction
  apps/api-server/src/routes/glycopharm/controllers/hub-trigger.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  packages/ai-core/src/orchestration/action-keys.ts
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/pharmacy/hub/HubPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team, @o4o-platform/devops-team

feat(neture): AI 기반 셀러 운영 허브 확장 — Signal + QuickAction + Trigger API
  apps/api-server/src/modules/neture/controllers/hub-trigger.controller.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  packages/ai-core/src/orchestration/action-keys.ts
  services/web-neture/src/pages/hub/HubPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(platform): 통합 운영 허브 — 전체 서비스 집계 + cross-service 트리거
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/platform/PlatformHubPage.tsx
  apps/api-server/src/main.ts
  apps/api-server/src/modules/platform/platform-hub.controller.ts
  packages/ai-core/src/orchestration/action-keys.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat(platform): Action Log Core — 모든 Hub Trigger 실행 이력 기록
  apps/api-server/package.json
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260216100001-CreateActionLogs.ts
  apps/api-server/src/modules/neture/controllers/hub-trigger.controller.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/platform/platform-hub.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/hub-trigger.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  packages/action-log-core/package.json
  packages/action-log-core/src/action-log.entity.ts
  packages/action-log-core/src/action-log.middleware.ts
  packages/action-log-core/src/action-log.service.ts
  packages/action-log-core/src/index.ts
  packages/action-log-core/src/types.ts
  packages/action-log-core/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(platform): operator architecture stabilization — security + operational patches
  apps/api-server/src/modules/platform/platform-hub.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/display.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/hub-trigger.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  packages/security-core/src/index.ts
  packages/security-core/src/service-configs.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(retail): O4O Retail Stable v1.0 — payment core + visibility gate + sales limit hardening
  CLAUDE.md
  apps/api-server/src/entities/payment/PlatformPayment.entity.ts
  apps/api-server/src/migrations/1771027200000-CreateO4oPaymentsTable.ts
  apps/api-server/src/migrations/1771027200001-AddPaymentKeyUniqueAndStatusIndex.ts
  apps/api-server/src/routes/glycopharm/controllers/checkout.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/glycopharm-payment.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/store.controller.ts
  apps/api-server/src/services/glycopharm/GlycopharmPaymentEventHandler.ts
  apps/api-server/src/services/payment/adapters/EventHubPaymentPublisher.ts
  apps/api-server/src/services/payment/adapters/TossPaymentProviderAdapter.ts
  apps/api-server/src/services/payment/adapters/TypeORMPaymentRepository.ts
  apps/api-server/src/services/payment/adapters/index.ts
  docs/investigations/IR-O4O-ASSET-COPY-CORE-IMPACT-ANALYSIS-V1.md
  docs/platform/architecture/O4O-RETAIL-STABLE-V1.md
  docs/platform/hub/HUB-UX-GUIDELINES-V1.md
  packages/payment-core/package.json
  packages/payment-core/src/controllers/PaymentController.ts
  packages/payment-core/src/controllers/index.ts
  packages/payment-core/src/index.ts
  packages/payment-core/src/interfaces/PaymentEventPublisher.ts
  packages/payment-core/src/interfaces/PaymentProviderAdapter.ts
  packages/payment-core/src/interfaces/PaymentRepository.ts
  packages/payment-core/src/interfaces/index.ts
  packages/payment-core/src/services/PaymentCoreService.ts
  packages/payment-core/src/services/PaymentEventService.ts
  packages/payment-core/src/services/PaymentStateMachine.ts
  packages/payment-core/src/services/index.ts
  packages/payment-core/src/types/PaymentEvents.ts
  packages/payment-core/src/types/PaymentProps.ts
  packages/payment-core/src/types/PaymentStatus.ts
  packages/payment-core/src/types/PaymentTypes.ts
  packages/payment-core/src/types/index.ts
  packages/payment-core/tsconfig.json
Owners: @o4o-platform/docs-team, @o4o-platform/database-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/devops-team, @o4o-platform/core-team

feat(platform): Hub UX Guidelines 적용 — 전 서비스 Signal/Fetch 정렬
  apps/api-server/src/routes/glycopharm/controllers/store.controller.ts
  services/web-glycopharm/src/pages/pharmacy/hub/HubPage.tsx
  services/web-kpa-society/src/pages/hub/HubPage.tsx
  services/web-neture/src/pages/hub/HubPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(ci): add action-log-core and payment-core to API build pipeline
  .github/workflows/deploy-api.yml
  apps/api-server/package.json
Owners: @o4o-platform/devops-team

chore(platform): Operator OS Baseline v1 freeze
  CLAUDE.md
  docs/_platform/BASELINE-OPERATOR-OS-V1.md
  packages/action-log-core/src/index.ts
  packages/ai-core/src/index.ts
  packages/asset-copy-core/src/index.ts
  packages/hub-core/src/index.ts
  packages/security-core/src/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(neture): protect admin routes and correct operator role access
  services/web-neture/src/App.tsx
Owners: @o4o-platform/core-team

fix(glucoseview): protect admin and operator routes with role guard
  services/web-glucoseview/src/App.tsx
Owners: @o4o-platform/core-team

feat(kpa-b): enforce branch ownership validation for admin and operator routes
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/kpa/middleware/branch-scope.middleware.ts
  services/web-kpa-society/src/components/branch-admin/BranchAdminAuthGuard.tsx
  services/web-kpa-society/src/components/branch-operator/BranchOperatorAuthGuard.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

refactor(auth): normalize guard interface to RoleGuard across services
  services/web-glucoseview/src/App.tsx
  services/web-glucoseview/src/components/auth/RoleGuard.tsx
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/auth/RoleGuard.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/components/auth/RoleGuard.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/auth/RoleGuard.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
  services/web-neture/src/App.tsx
  services/web-neture/src/components/auth/RoleGuard.tsx
Owners: @o4o-platform/core-team

feat(auth): add roles[] array to login response and JWT payload (phase1)
  apps/admin-dashboard/src/components/editor/blocks/GutenbergColumnBlock.tsx.old
  apps/admin-dashboard/src/components/editor/blocks/GutenbergColumnsBlock.tsx.old
  apps/admin-dashboard/src/components/editor/hooks/useKeyboardShortcuts.ts.old
  apps/admin-dashboard/src/pages/apps/AppManager.tsx
  apps/admin-dashboard/src/pages/apps/AppsManager.tsx
  apps/admin-dashboard/src/pages/apps/AppsManagerV2.tsx
  apps/admin-dashboard/src/pages/categories/CategoryListAdmin.tsx
  apps/admin-dashboard/src/pages/categories/TagListAdmin.tsx
  apps/admin-dashboard/src/pages/comments/CommentsListEnhanced.tsx
  apps/admin-dashboard/src/pages/settings/PermalinkSettings.tsx
  apps/admin-dashboard/src/pages/settings/ReadingSettings.tsx
  apps/admin-dashboard/src/pages/settings/WritingSettings.tsx
  apps/api-server/src/middleware/cache-routes.middleware.ts.broken
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/routes/v1/operations.routes.ts.broken
  apps/api-server/src/types/auth.ts
  apps/api-server/src/utils/token.utils.ts
  apps/ecommerce/src/pages/CheckoutPage.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

refactor(kpa): realign admin/operator menus based on role policy (P1)
  services/web-kpa-society/src/components/admin/AdminSidebar.tsx
  services/web-kpa-society/src/components/branch-admin/AdminSidebar.tsx
  services/web-kpa-society/src/components/branch-operator/BranchOperatorLayout.tsx
  services/web-kpa-society/src/pages/hub/HubPage.tsx
  services/web-kpa-society/src/routes/AdminRoutes.tsx
  services/web-kpa-society/src/routes/BranchAdminRoutes.tsx
  services/web-kpa-society/src/routes/BranchOperatorRoutes.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): add Admin area and separate structural functions (P2)
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/lib/auth-utils.ts
  services/web-glycopharm/src/types/index.ts
Owners: @o4o-platform/core-team

refactor(neture): move 3 AI operational routes from Admin to Operator (P3)
  services/web-neture/src/App.tsx
Owners: @o4o-platform/core-team

feat(operator-ux-core): scaffold 5-Block unified dashboard package
  packages/operator-ux-core/package.json
  packages/operator-ux-core/src/OperatorDashboardLayout.tsx
  packages/operator-ux-core/src/blocks/ActionQueueBlock.tsx
  packages/operator-ux-core/src/blocks/ActivityLogBlock.tsx
  packages/operator-ux-core/src/blocks/AiSummaryBlock.tsx
  packages/operator-ux-core/src/blocks/KpiGrid.tsx
  packages/operator-ux-core/src/blocks/QuickActionBlock.tsx
  packages/operator-ux-core/src/index.ts
  packages/operator-ux-core/src/types.ts
  packages/operator-ux-core/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(neture): pilot 5-Block unified operator dashboard
  pnpm-lock.yaml
  services/web-neture/package.json
  services/web-neture/src/pages/operator/NetureOperatorDashboard.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(glycopharm): pilot 5-Block unified operator dashboard
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/pages/operator/GlycoPharmOperatorDashboard.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(k-cosmetics): replace operator dashboard with 5-Block layout
  pnpm-lock.yaml
  services/web-k-cosmetics/package.json
  services/web-k-cosmetics/src/pages/operator/KCosmeticsOperatorDashboard.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(kpa-a): replace operator dashboard with 5-Block layout
  pnpm-lock.yaml
  services/web-kpa-society/package.json
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

docs: freeze operator 5-block UX core (v1)
  CLAUDE.md
  docs/platform-core/OPERATOR_UX_CORE_FREEZE_V1.md
Owners: @o4o-platform/docs-team

feat(admin-ux-core): scaffold 4-Block admin dashboard + Neture pilot
  packages/admin-ux-core/package.json
  packages/admin-ux-core/src/AdminDashboardLayout.tsx
  packages/admin-ux-core/src/blocks/GovernanceAlertBlock.tsx
  packages/admin-ux-core/src/blocks/PolicyOverviewBlock.tsx
  packages/admin-ux-core/src/blocks/StructureActionBlock.tsx
  packages/admin-ux-core/src/blocks/StructureSnapshotBlock.tsx
  packages/admin-ux-core/src/index.ts
  packages/admin-ux-core/src/types.ts
  packages/admin-ux-core/tsconfig.json
  pnpm-lock.yaml
  services/web-neture/package.json
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(glycopharm): WO-MENU-REALIGN-V1 메뉴 재정렬 및 Care 분리
  docs/investigations/IR-O4O-STORE-HUB-BASELINE-V1.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/lib/auth-utils.ts
  services/web-glycopharm/src/pages/auth/RoleSelectPage.tsx
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
  services/web-glycopharm/src/pages/care/index.ts
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-glycopharm/src/pages/store/StoreOverviewPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(platform): resolve tsc errors across 6 minor workspaces (WO-PHASE16-STEP5)
  packages/ai-common-core/src/index.ts
  packages/forum-yaksa/src/backend/services/YaksaCommunityService.ts
  packages/partner-core/tsconfig.json
  packages/partnerops/src/services/index.ts
  packages/siteguide-widget/src/widget.ts
  packages/supplier-connector/package.json
  packages/supplier-connector/src/axios.d.ts
  packages/supplier-connector/src/connectors/CSVSupplierConnector.ts
  packages/supplier-connector/src/connectors/DomesticSupplierConnector.ts
  packages/supplier-connector/src/index.ts
  packages/supplier-connector/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

feat(glycopharm): replace admin dashboard with 4-Block layout
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/admin/GlycoPharmAdminDashboard.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

chore: regenerate pnpm-lock.yaml for CI
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

docs: freeze admin 4-Block UX core (v1)
  CLAUDE.md
  docs/platform-core/ADMIN_UX_CORE_FREEZE_V1.md
Owners: @o4o-platform/docs-team

fix(docker): add missing workspace packages to Dockerfiles
  services/web-glycopharm/Dockerfile
  services/web-neture/Dockerfile
Owners: @o4o-platform/core-team

feat(kpa-b): pilot Branch Operator 5-Block + Branch Admin 4-Block UX
  pnpm-lock.yaml
  services/web-kpa-society/Dockerfile
  services/web-kpa-society/package.json
  services/web-kpa-society/src/pages/branch-admin/DashboardPage.tsx
  services/web-kpa-society/src/pages/branch-operator/BranchOperatorDashboard.tsx
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix: commit missing files and fix TS errors for CI/CD builds
  packages/operator-core/src/store/StoreDashboardLayout.tsx
  packages/operator-core/src/store/storeMenuConfig.ts
  services/web-glycopharm/src/components/common/RedirectNoticeBanner.tsx
  services/web-glycopharm/src/pages/store/hooks/useStoreHub.ts
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
  services/web-neture/src/pages/operator/NetureOperatorDashboard.tsx
Owners: @o4o-platform/core-team

feat(kpa-c): pilot District Operator 5-Block + District Admin 4-Block UX
  services/web-kpa-society/src/pages/admin/AdminDashboardPage.tsx
  services/web-kpa-society/src/pages/admin/KpaOperatorDashboardPage.tsx
Owners: @o4o-platform/core-team

docs: freeze KPA UX baseline v1 (all 3 service areas)
  CLAUDE.md
  docs/platform-core/ADMIN_UX_CORE_FREEZE_V1.md
  docs/platform-core/KPA_UX_BASELINE_V1.md
  docs/platform-core/OPERATOR_UX_CORE_FREEZE_V1.md
Owners: @o4o-platform/docs-team

feat(platform-core): implement store slug system with requested slug support
  apps/api-server/package.json
  apps/api-server/src/main.ts
  apps/api-server/src/migrations/1771200000000-CreatePlatformStoreSlugsTables.ts
  apps/api-server/src/migrations/1771200000001-BackfillPlatformStoreSlugs.ts
  apps/api-server/src/migrations/1771200000002-AddRequestedSlugToApplications.ts
  apps/api-server/src/routes/cosmetics/entities/cosmetics-store-application.entity.ts
  apps/api-server/src/routes/cosmetics/services/cosmetics-store.service.ts
  apps/api-server/src/routes/glucoseview/controllers/application.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/admin.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/application.controller.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-application.entity.ts
  apps/api-server/src/routes/glycopharm/repositories/glycopharm.repository.ts
  apps/api-server/src/routes/glycopharm/services/glycopharm.service.ts
  apps/api-server/src/routes/platform/slug.routes.ts
  apps/api-server/src/utils/slug.ts
  docs/platform/store-identity/STORE-SLUG-POLICY-V1.md
  packages/platform-core/package.json
  packages/platform-core/src/index.ts
  packages/platform-core/src/store-identity/constants/reserved-slugs.ts
  packages/platform-core/src/store-identity/entities/index.ts
  packages/platform-core/src/store-identity/entities/platform-store-slug-history.entity.ts
  packages/platform-core/src/store-identity/entities/platform-store-slug.entity.ts
  packages/platform-core/src/store-identity/index.ts
  packages/platform-core/src/store-identity/services/store-slug.service.ts
  packages/platform-core/src/store-identity/utils/slug-validation.ts
  pnpm-lock.yaml
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/pages/apply/PharmacyApplyPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix: resolve TS strict warnings and pin pnpm overrides
  apps/admin-dashboard/src/components/ag/AGSearchBar.tsx
  apps/admin-dashboard/src/components/common/DataTable.tsx
  apps/admin-dashboard/src/components/editor/blocks/gallery/GalleryLightbox.tsx
  apps/admin-dashboard/src/components/editor/blocks/gallery/GallerySlider.tsx
  apps/admin-dashboard/src/components/editor/hooks/useZoneContent.ts
  apps/admin-dashboard/src/components/partner/RealTimeActivity.tsx
  apps/admin-dashboard/src/hooks/useThemeCustomization.ts
  apps/admin-dashboard/src/pages/cms/designer/components/Canvas.tsx
  apps/admin-dashboard/src/pages/cms/designer/components/Palette.tsx
  apps/admin-dashboard/src/pages/platform/PlatformHubPage.tsx
  apps/admin-dashboard/src/utils/editor-runtime.ts
  apps/admin-dashboard/tsconfig.json
  apps/api-server/src/scripts/audit-roles.ts
  package.json
  services/web-k-cosmetics/src/components/auth/RoleGuard.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/core-team
