Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(kpa): surface store action and loading errors (WO-O4O-KPA-STORE-SILENT-ERROR-UX-STANDARDIZATION-V1)
  docs/checks/CHECK-O4O-KPA-STORE-SILENT-ERROR-UX-STANDARDIZATION-V1.md
  services/web-kpa-society/src/pages/pharmacy/PharmacySellPage.tsx
  services/web-kpa-society/src/pages/pharmacy/ProductMarketingPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreAssetsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreRecruitmentApplicationsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

refactor(neture): retire legacy supplier dashboard and account shell
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-LEGACY-DASHBOARD-AND-ACCOUNT-SHELL-RETIREMENT-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/SupplierAccountLayout.tsx
  services/web-neture/src/pages/account/SupplierAccountDashboardPage.tsx
  services/web-neture/src/pages/account/SupplierProductsListPage.tsx
  services/web-neture/src/pages/dashboard/SupplierDashboardPage.tsx
  services/web-neture/src/pages/dashboard/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(kpa-store-hub): clear signage import banner on tab change (A-6 follow-up)
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
Owners: @o4o-platform/core-team

docs(check): 운영자 콘솔 P2/P3 UX·오류계약 통합 정비 — API+브라우저 smoke PASS (WO-O4O-KPA-OPERATOR-P2-P3-USABILITY-AND-ERROR-CLEANUP-CONSOLIDATED-V1)
  docs/checks/CHECK-O4O-KPA-OPERATOR-P2-P3-USABILITY-AND-ERROR-CLEANUP-CONSOLIDATED-V1.md
Owners: @o4o-platform/docs-team

feat(drug-otc): topical-unit-1 V3 content-fp LIVE apply GREEN — 327m/55fp 1,962T (agent-na)
  apps/api-server/src/scripts/data/otc-ready-na-v3/green-topical-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/unblocked-ophthalmic-unit-1.json
  apps/api-server/src/scripts/otc-v3-topical-oromucosal-apply.na.ts
  apps/api-server/src/scripts/otc-v3-topical-postverify.na.ts
  apps/api-server/src/scripts/otc-v3-topical-preflight-gate.na.ts
  apps/api-server/src/scripts/otc-v3-topical-track-verify.na.ts
  docs/checks/CHECK-O4O-OTC-EASY-DRUG-READY-TOPICAL-UNIT1-CONTENT-FP-V3-FINAL-PRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(kpa): record store hub UX cleanup A-1~A-7 implementation and smoke
  docs/checks/CHECK-O4O-KPA-STORE-HUB-UX-CONSISTENCY-CLEANUP-V1.md
Owners: @o4o-platform/docs-team

docs(neture): record legacy supplier shell retirement deploy and smoke
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-LEGACY-DASHBOARD-AND-ACCOUNT-SHELL-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

docs(check): 내 매장 silent error UX 브라우저 smoke 기록 (WO-O4O-KPA-STORE-SILENT-ERROR-UX-STANDARDIZATION-V1)
  docs/checks/CHECK-O4O-KPA-STORE-SILENT-ERROR-UX-STANDARDIZATION-V1.md
Owners: @o4o-platform/docs-team

docs(kpa): audit hidden store management entry policy
  docs/investigations/IR-O4O-KPA-STORE-HIDDEN-MANAGEMENT-ENTRY-POLICY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store-hub): paginate screen set hub listings
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-KPA-SCREEN-SET-HUB-SERVER-PAGINATION-V1.md
  services/web-kpa-society/src/api/storeScreenSetHub.ts
  services/web-kpa-society/src/pages/pharmacy/HubScreenSetLibraryPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa-operator): standardize runBulk/single confirm to ConfirmActionDialog
  services/web-kpa-society/src/pages/operator/WorkingContentListPage.tsx
  services/web-kpa-society/src/pages/operator/blog/OperatorBlogListPage.tsx
  services/web-kpa-society/src/pages/operator/multilingual-product-content/OperatorMultilingualContentListPage.tsx
  services/web-kpa-society/src/pages/operator/pop/OperatorPopListPage.tsx
  services/web-kpa-society/src/pages/operator/qr/OperatorQrListPage.tsx
  services/web-kpa-society/src/pages/operator/video/OperatorVideoListPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): restore local product management entry
  docs/checks/CHECK-O4O-KPA-STORE-LOCAL-PRODUCTS-ENTRY-ALIGNMENT-V1.md
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductDescriptionsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): KPA operator runBulk/confirm 표준화 CHECK + 실브라우저 smoke 결과
  docs/checks/CHECK-O4O-KPA-OPERATOR-RUNBULK-CONFIRM-FLOW-STANDARDIZATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): record screen set hub pagination production API smoke (WO-O4O-KPA-SCREEN-SET-HUB-SERVER-PAGINATION-V1)
  docs/checks/CHECK-O4O-KPA-SCREEN-SET-HUB-SERVER-PAGINATION-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): align local products screen title with restored menu
  services/web-kpa-society/src/pages/pharmacy/StoreLocalProductsPage.tsx
Owners: @o4o-platform/core-team

docs(ir): KPA operator WorkingContent 역할·발행경로 감사 — dead flow(D) 판정
  docs/ir/IR-O4O-KPA-OPERATOR-WORKING-CONTENT-ROLE-AND-PUBLISH-PATH-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(ir): fill WorkingContent 감사 IR commit SHA d7caa51ce
  docs/ir/IR-O4O-KPA-OPERATOR-WORKING-CONTENT-ROLE-AND-PUBLISH-PATH-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): record screen set hub pagination browser DOM smoke (WO-O4O-KPA-SCREEN-SET-HUB-SERVER-PAGINATION-V1)
  docs/checks/CHECK-O4O-KPA-SCREEN-SET-HUB-SERVER-PAGINATION-V1.md
Owners: @o4o-platform/docs-team

docs(kpa): record local products entry alignment smoke
  docs/checks/CHECK-O4O-KPA-STORE-LOCAL-PRODUCTS-ENTRY-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

fix(neture): 공급자 화면 조회 실패 은폐 제거 — 4상태 오류계약 표준화 (WO-O4O-NETURE-SUPPLIER-REMAINING-LOAD-ERROR-CONTRACT-STANDARDIZATION-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-REMAINING-LOAD-ERROR-CONTRACT-STANDARDIZATION-V1.md
  services/web-neture/src/pages/supplier/SupplierEventOfferPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
  services/web-neture/src/pages/supplier/SupplierProductLibraryPage.tsx
  services/web-neture/src/pages/supplier/SupplierStoreDescriptionEditorDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierStoreDescriptionsPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialEditPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialListPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): 공급자 조회 실패 은폐 제거 배포·프로덕션 번들 검증 기록 (WO-O4O-NETURE-SUPPLIER-REMAINING-LOAD-ERROR-CONTRACT-STANDARDIZATION-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-REMAINING-LOAD-ERROR-CONTRACT-STANDARDIZATION-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): 매장 HUB 가져오기·중복·상태 계약 마감 검증 + 목록조회 실패 재시도 버튼 (WO-O4O-KPA-SCREEN-SET-HUB-IMPORT-AND-PAGINATION-CLOSEOUT-V1)
  docs/checks/CHECK-O4O-KPA-SCREEN-SET-HUB-IMPORT-AND-PAGINATION-CLOSEOUT-V1.md
  services/web-kpa-society/src/pages/pharmacy/HubScreenSetLibraryPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

@ refactor(kpa): align legacy production materials entry routes
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/ProductionMaterialEditorPage.tsx
  services/web-kpa-society/src/pages/pharmacy/SelectContentsForProductionModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductionMaterialsPage.tsx
  services/web-neture/src/components/import/EditImportRowDrawer.tsx
  services/web-neture/src/lib/api/csvImport.ts
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
Owners: @o4o-platform/core-team

revert(neture): restore CSV import files swept by unrelated commit
  services/web-neture/src/components/import/EditImportRowDrawer.tsx
  services/web-neture/src/lib/api/csvImport.ts
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
Owners: @o4o-platform/core-team

refactor(neture): retire legacy supplier CSV import → canonical bulk redirect
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-LEGACY-CSV-IMPORT-RETIREMENT-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/components/import/EditImportRowDrawer.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/lib/api/csvImport.ts
  services/web-neture/src/lib/api/index.ts
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
  services/web-neture/src/pages/supplier/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): KPA 제작 자료 legacy 진입 정합 검증 기록
  docs/checks/CHECK-O4O-KPA-STORE-PRODUCTION-MATERIALS-ENTRY-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

docs(check): record legacy CSV import retirement deploy and prod bundle smoke
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-LEGACY-CSV-IMPORT-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

refactor(kpa): retire operator WorkingContent dead flow (WO-O4O-KPA-OPERATOR-WORKING-CONTENT-DEAD-FLOW-RETIREMENT-V1)
  apps/api-server/src/routes/kpa/controllers/working-content.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/content.ts
  services/web-kpa-society/src/api/workingContent.ts
  services/web-kpa-society/src/pages/operator/OperatorContentDetailPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorContentHubPage.tsx
  services/web-kpa-society/src/pages/operator/WorkingContentEditPage.tsx
  services/web-kpa-society/src/pages/operator/WorkingContentListPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(neture): F 버킷 공급자 승인·품질 콘솔 역할 정합 감사 IR (IR-O4O-NETURE-SUPPLIER-APPROVAL-AND-QUALITY-CONSOLE-CANONICALIZATION-AUDIT-V1)
  docs/ir/IR-O4O-NETURE-SUPPLIER-APPROVAL-AND-QUALITY-CONSOLE-CANONICALIZATION-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(kpa): audit product ai contents 403 authorization
  docs/investigations/IR-O4O-KPA-STORE-PRODUCT-AI-CONTENTS-403-AUTH-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): WO-O4O-KPA-OPERATOR-WORKING-CONTENT-DEAD-FLOW-RETIREMENT-V1 검증 기록
  docs/checks/CHECK-O4O-KPA-OPERATOR-WORKING-CONTENT-DEAD-FLOW-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

docs(audit): verify final KPA store hub gaps and regressions
  docs/investigations/IR-O4O-KPA-STORE-HUB-FINAL-INTEGRATED-GAP-AND-REGRESSION-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(neture): 공급자 비활성화 governance·승인 콘솔 정책 게이트 IR (IR-O4O-NETURE-SUPPLIER-DEACTIVATION-GOVERNANCE-AND-APPROVAL-CONSOLE-GATE-V1)
  docs/ir/IR-O4O-NETURE-SUPPLIER-DEACTIVATION-GOVERNANCE-AND-APPROVAL-CONSOLE-GATE-V1.md
Owners: @o4o-platform/docs-team

docs(check): product AI content ID·접근 계약 정렬 WO 중지 보고 (WO-O4O-PRODUCT-AI-CONTENT-ID-AND-ACCESS-CONTRACT-ALIGNMENT-V1)
  docs/checks/CHECK-O4O-PRODUCT-AI-CONTENT-ID-AND-ACCESS-CONTRACT-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): align operator audit log entity/action-type contract to real emitters (WO-O4O-KPA-OPERATOR-AUDIT-LOG-ENTITY-ACTION-TYPE-CONTRACT-ALIGNMENT-V1)
  apps/api-server/src/routes/kpa/entities/kpa-audit-log.entity.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  docs/checks/CHECK-O4O-KPA-OPERATOR-AUDIT-LOG-ENTITY-ACTION-TYPE-CONTRACT-ALIGNMENT-V1.md
  services/web-kpa-society/src/pages/operator/AuditLogPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): audit-log contract alignment — deploy revisions + browser smoke results (WO-O4O-KPA-OPERATOR-AUDIT-LOG-ENTITY-ACTION-TYPE-CONTRACT-ALIGNMENT-V1)
  docs/checks/CHECK-O4O-KPA-OPERATOR-AUDIT-LOG-ENTITY-ACTION-TYPE-CONTRACT-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

docs(o4o): define product AI and store description ownership
  docs/design/DESIGN-O4O-PRODUCT-AI-CONTENT-OWNERSHIP-AND-STORE-DESCRIPTION-CONTRACT-V1.md
Owners: @o4o-platform/docs-team

docs(ir): KPA operator track final closeout — PASS_WITH_DEBT (IR-O4O-KPA-OPERATOR-TRACK-FINAL-CLOSEOUT-AND-RESIDUAL-DEBT-AUDIT-V1)
  docs/ir/IR-O4O-KPA-OPERATOR-TRACK-FINAL-CLOSEOUT-AND-RESIDUAL-DEBT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(o4o): align global product AI content ID contract, stop on access guard
  apps/api-server/src/modules/store-ai/controllers/product-ai-content.controller.ts
  apps/api-server/src/modules/store-ai/controllers/product-ai-tag.controller.ts
  apps/api-server/src/modules/store-ai/entities/product-ai-content.entity.ts
  apps/api-server/src/modules/store-ai/entities/product-ai-tag.entity.ts
  apps/api-server/src/modules/store-ai/utils/product-access.utils.ts
  docs/checks/CHECK-O4O-PRODUCT-AI-CONTENT-GLOBAL-CONTRACT-AND-ACCESS-FIX-V1.md
  docs/data-audits/AUDIT-O4O-PRODUCT-AI-ORPHAN-CLEANUP-PREFLIGHT-V1.md
  docs/data-audits/product-ai-orphans-before-cleanup-2026-07-29.json
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(neture): 공급자 승인 콘솔·admin governance 분리 — 주문·정산 가드+재활성화 계약 단일 배포 (WO-O4O-NETURE-SUPPLIER-APPROVAL-CONSOLE-AND-ADMIN-GOVERNANCE-SEPARATION-V1)
  apps/api-server/src/modules/neture/controllers/admin.controller.ts
  apps/api-server/src/modules/neture/controllers/neture-tier1-test.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-APPROVAL-CONSOLE-AND-ADMIN-GOVERNANCE-SEPARATION-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/lib/api/admin.ts
  services/web-neture/src/lib/api/index.ts
  services/web-neture/src/pages/admin/AdminSupplierApprovalPage.tsx
  services/web-neture/src/pages/admin/AdminSupplierGovernancePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
