Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(admin): Fix CPT menu display issues
  apps/admin-dashboard/src/hooks/useDynamicCPTMenu.tsx
Owners: @o4o-platform/admin-team

feat(api): Add placeholder forms API endpoints
  apps/api-server/src/modules/cpt-acf/routes/cpt.routes.ts
Owners: @o4o-platform/backend-team

fix(api): Handle missing forms table gracefully
  apps/api-server/src/controllers/cpt/FormsController.ts
Owners: @o4o-platform/backend-team

fix(api): Fix variable scope in forms error handler
  apps/api-server/src/controllers/cpt/FormsController.ts
Owners: @o4o-platform/backend-team

feat(admin): Add hierarchical drag-and-drop for menu items
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
Owners: @o4o-platform/admin-team

fix(admin): Add array validation to prevent filter error in MenuItemTree
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
Owners: @o4o-platform/admin-team

fix(admin): Add array validation to CPT menu hook
  apps/admin-dashboard/src/hooks/useDynamicCPTMenu.tsx
Owners: @o4o-platform/admin-team

fix(admin): Remove duplicate findItemByIdLocal function
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
Owners: @o4o-platform/admin-team

chore: Update version.json
  apps/admin-dashboard/public/version.json
Owners: @o4o-platform/devops-team

fix(admin): Prevent mutation of menu items in filterMenuItems
  apps/admin-dashboard/src/hooks/useAdminMenu.ts
Owners: @o4o-platform/admin-team

fix(ci): Fix package build in CI workflow
  .github/workflows/main.yml
  scripts/ci-build-app.sh
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(ci): Ensure packages are built before apps in all workflows
  .github/workflows/deploy-admin.yml
  .github/workflows/deploy.yml
Owners: @o4o-platform/devops-team

fix(ci): Always deploy admin dashboard when workflow triggers
  .github/workflows/deploy-admin.yml
Owners: @o4o-platform/devops-team

debug(ci): Add package build verification logs
  .github/workflows/main.yml
Owners: @o4o-platform/devops-team

fix(packages): Use tsc --build for composite TypeScript projects
  packages/auth-client/package.json
  packages/shortcodes/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
Owners: @o4o-platform/devops-team

chore: Ignore build artifacts in Git
  .gitignore
  apps/admin-dashboard/dist-node/tsconfig.node.tsbuildinfo
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/tsconfig.tsbuildinfo
  apps/api-server/tsconfig.tsbuildinfo
  apps/api-server/version.json
  apps/main-site/tsconfig.app.tsbuildinfo
  apps/main-site/tsconfig.node.tsbuildinfo
  apps/main-site/tsconfig.tsbuildinfo
  packages/auth-client/tsconfig.tsbuildinfo
  packages/auth-context/tsconfig.tsbuildinfo
  packages/types/tsconfig.tsbuildinfo
  packages/ui/tsconfig.tsbuildinfo
  packages/utils/tsconfig.tsbuildinfo
Owners: @o4o-platform/core-team, @o4o-platform/admin-team, @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/frontend-team, @o4o-platform/security-team, @o4o-platform/ui-team

chore: Remove deprecated deploy.yml workflow
  .github/workflows/deploy.yml
Owners: @o4o-platform/devops-team

docs: Consolidate deployment documentation
  DEPLOYMENT.md
  docs/archive/DEPLOY_NOW.md
  docs/deployment/DEPLOYMENT_CHECKLIST.md
  docs/deployment/POST_DEPLOY_VERIFICATION_CHECKLIST.md
  docs/deployment/SETUP_AUTO_DEPLOY.md
  docs/deployment/legacy/DEPLOYMENT_FIX.md
  docs/deployment/legacy/DEPLOY_MANUAL.md
  docs/deployment/legacy/deployment-checklist.md
  docs/deployment/legacy/deployment-overview.md
  docs/deployment/legacy/pre-deployment-checklist.md
  docs/deployment/legacy/step-by-step-deployment.md
  scripts/DEPLOYMENT_QUICK_START.md
  scripts/README-DEPLOYMENT.md
Owners: @o4o-platform/docs-team

docs: Consolidate and organize shortcode documentation
  SHORTCODES.md
  docs/architecture/SHORTCODE_REFERENCE.md
  docs/architecture/SHORTCODE_USAGE_GUIDE.md
  docs/guide/ADD_NEW_SHORTCODE.md
  docs/manual/shortcode-reference.md
  docs/shortcodes-ai/README.md
  docs/shortcodes-ai/shortcode-best-practices.md
  docs/shortcodes-ai/shortcode-examples.md
  docs/shortcodes-ai/shortcode-registry.md
  docs/shortcodes-ai/shortcode-system.md
Owners: @o4o-platform/docs-team

docs: Restructure AI documentation into unified docs/ai/ folder
  docs/ai/AI_BLOCK_REFERENCE_SYSTEM.md
  docs/ai/AI_DYNAMIC_REFERENCE_SUMMARY.md
  docs/ai/README.md
  docs/ai/shortcode-best-practices.md
  docs/ai/shortcode-examples.md
  docs/ai/shortcode-registry.md
  docs/ai/shortcode-system.md
  docs/manual/README.md
  docs/manual/ai-technical-guide.md
  docs/manual/ai-user-guide.md
Owners: @o4o-platform/docs-team

fix(admin): Support nested menu items with recursive rendering
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
Owners: @o4o-platform/admin-team

feat(admin): Add indent/outdent buttons for menu hierarchy management
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
Owners: @o4o-platform/admin-team

fix(admin): Add Array.isArray checks to prevent filter/map errors
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
  apps/admin-dashboard/src/pages/menus/utils/menu-tree-helpers.ts
  apps/api-server/.env.sqlite
  apps/api-server/data/o4o_dev.sqlite
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

feat(admin): Fix CPT menu navigation and add categories
  apps/admin-dashboard/src/hooks/useDynamicCPTMenu.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentList.tsx
Owners: @o4o-platform/admin-team

feat(admin): Implement dedicated CPT content list with WordPress-style UI
  apps/admin-dashboard/src/components/cpt/CPTBulkActions.tsx
  apps/admin-dashboard/src/components/cpt/CPTQuickEditRow.tsx
  apps/admin-dashboard/src/components/cpt/CPTRow.tsx
  apps/admin-dashboard/src/components/cpt/CPTScreenOptions.tsx
  apps/admin-dashboard/src/components/cpt/CPTStatusTabs.tsx
  apps/admin-dashboard/src/hooks/cpt/useCPTActions.ts
  apps/admin-dashboard/src/hooks/cpt/useCPTData.ts
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentList.tsx
  apps/admin-dashboard/src/pages/cpt-engine/taxonomies/TaxonomiesList.tsx
Owners: @o4o-platform/admin-team

feat(admin): Replace CPT editor with Gutenberg block editor
  apps/admin-dashboard/src/pages/cpt-engine/CPTContentEditorWrapper.tsx
Owners: @o4o-platform/admin-team

fix(menu): Limit menu depth to 2 levels
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
Owners: @o4o-platform/admin-team

feat(blocks): Refactor Heading block to Slate.js
  apps/admin-dashboard/src/blocks/definitions/heading.tsx
  apps/admin-dashboard/src/components/editor/blocks/HeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/slate/types/slate-types.ts
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
Owners: @o4o-platform/admin-team

feat(admin): Refactor List block to Slate.js
  apps/admin-dashboard/src/blocks/definitions/list.tsx
  apps/admin-dashboard/src/components/editor/blocks/ListBlock.old.tsx
  apps/admin-dashboard/src/components/editor/blocks/ListBlock.tsx
  apps/admin-dashboard/src/components/editor/slate/plugins/withLists.ts
  apps/admin-dashboard/src/components/editor/slate/types/slate-types.ts
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
Owners: @o4o-platform/admin-team

fix(admin): Fix Paragraph & Heading block bugs
  apps/admin-dashboard/src/components/editor/blocks/HeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/slate/components/LinkInlineEditor.tsx
  apps/admin-dashboard/src/components/editor/slate/plugins/withLinks.ts
  apps/admin-dashboard/src/components/editor/slate/types/slate-types.ts
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
Owners: @o4o-platform/admin-team

fix(admin): Fix Bug 1 - Double wrapping issue in Paragraph & Heading blocks
  apps/admin-dashboard/src/components/editor/blocks/HeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
Owners: @o4o-platform/admin-team

fix(main-site): Fix frontend rendering for links and markdown formatting
  apps/main-site/package.json
  apps/main-site/src/utils/wordpress-block-parser.ts
  apps/main-site/tailwind.config.cjs
Owners: @o4o-platform/devops-team, @o4o-platform/frontend-team

chore: Update pnpm-lock.yaml for @tailwindcss/typography
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix(markdown): Fix TOC sidebar visibility and heading ID generation
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
  apps/main-site/src/components/WordPressBlockRenderer/blocks/MarkdownReaderBlock.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/ui-team

feat(editor): Promote DefaultBlockAppender to independent block (o4o/block-appender)
  apps/admin-dashboard/src/blocks/definitions/block-appender.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/blocks/registry/types.ts
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/BlockAppenderBlock.tsx
  pnpm-lock.yaml
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team

fix(editor): Fix BlockAppender bugs and UX improvements
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/BlockAppenderBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/HeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

fix(editor): Fix BlockAppender session restoration and add common Enter key handler
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/HeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/utils/handleBlockEnter.ts
Owners: @o4o-platform/admin-team

fix(editor): BlockAppender slash command now replaces instead of appending
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

fix(editor): Optimize line spacing and block margins for better readability
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/styles/editor.css
Owners: @o4o-platform/admin-team

feat(editor): Clean up top toolbar - remove undo/redo/add buttons and title display
  apps/admin-dashboard/src/components/editor/header/CenterControls.tsx
  apps/admin-dashboard/src/components/editor/header/EditorHeader.tsx
  apps/admin-dashboard/src/components/editor/header/LeftControls.tsx
  apps/admin-dashboard/src/components/editor/header/types.ts
Owners: @o4o-platform/admin-team
