Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(kpa-store): /print 보관 QR 응답을 409 로 통일 + 보관 코너 QR dead action 제거
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(check): QR↔Screen Set 정합 — 인증 프로덕션 E2E 완료 기록
  docs/checks/CHECK-O4O-KPA-STORE-QR-SCREENSET-STATE-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

docs(check): QR↔Screen Set 정합 WO 최종 확정 — 566224d2d CI GREEN + 전 코드 커밋 포함 검증
  docs/checks/CHECK-O4O-KPA-STORE-QR-SCREENSET-STATE-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

feat(auth-react): 서비스용 React 인증 패키지 골격 (계약 타입)
  packages/auth-react/package.json
  packages/auth-react/src/types.ts
Owners: @o4o-platform/devops-team, @o4o-platform/security-team

fix(store-qr): 스캔 이벤트 INSERT 파라미터 타입 확정 — 전 서비스 집계 복구
  apps/api-server/src/services/store/__tests__/store-qr.service.test.ts
  apps/api-server/src/services/store/store-qr.service.ts
Owners: @o4o-platform/backend-team

docs(check): QR 스캔 이벤트 타입 수정 — 배포 후 집계 복구 실측 PASS
  docs/checks/CHECK-O4O-STORE-QR-SCAN-EVENT-INSERT-TYPE-FIX-V1.md
Owners: @o4o-platform/docs-team

feat(auth): 5개 서비스 AuthContext 를 @o4o/auth-react 공통 Core 로 수렴
  packages/auth-react/src/createRouteGuard.tsx
  packages/auth-react/src/index.ts
  packages/auth-react/src/types.ts
  packages/auth-react/src/useServiceAuth.ts
  packages/auth-react/tsconfig.json
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/components/common/LoginModal.tsx
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-k-cosmetics/package.json
  services/web-k-cosmetics/src/contexts/AuthContext.tsx
  services/web-kpa-society/package.json
  services/web-kpa-society/src/components/LoginModal.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-neture/package.json
  services/web-neture/src/contexts/AuthContext.tsx
  services/web-pharmacy-hub/package.json
  services/web-pharmacy-hub/src/contexts/AuthContext.tsx
  services/web-pharmacy-hub/src/pages/LoginPage.tsx
Owners: @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/core-team

docs(ir): KPA 내 매장 QR·태블릿·자료함·설명서 흐름 read-only 조사
  docs/investigations/IR-O4O-KPA-STORE-QR-TABLET-CONTENT-FLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(pharmacy-hub): 태블릿 · Screen Set service-scoped 통합
  apps/api-server/src/controllers/pharmacy-hub/pharmacy-hub-store-org.seam.ts
  apps/api-server/src/routes/pharmacy-hub/pharmacy-hub.routes.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  packages/store-ui-core/src/config/storeMenuConfig.ts
  pnpm-lock.yaml
  services/web-pharmacy-hub/package.json
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/lib/api/pharmacyHubTablet.ts
  services/web-pharmacy-hub/src/pages/store-owner/TabletsPage.tsx
  services/web-pharmacy-hub/tailwind.config.js
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team, @o4o-platform/devops-team

fix(pharmacy-hub): Dockerfile 에 태블릿 공유 패키지 3종 추가 — 웹 배포 실패 복구
  services/web-pharmacy-hub/Dockerfile
Owners: @o4o-platform/core-team

docs(check): Signage HUB 대상·의약품 가드 정합 — HOLD (중지 조건 4건 충족)
  docs/checks/CHECK-O4O-SUPPLIER-SIGNAGE-HUB-TARGET-AND-MEDICATION-GUARD-ALIGN-V1.md
Owners: @o4o-platform/docs-team

fix(pharmacy-hub): 태블릿 화면을 실측한 API 계약에 맞춤
  services/web-pharmacy-hub/src/lib/api/pharmacyHubTablet.ts
  services/web-pharmacy-hub/src/pages/store-owner/TabletsPage.tsx
Owners: @o4o-platform/core-team

docs(check): PH 태블릿 service-scoped 통합 — PASS
  docs/checks/CHECK-PHARMACY-HUB-STORE-TABLET-SERVICE-SCOPED-INTEGRATION-V1.md
Owners: @o4o-platform/docs-team

feat(auth): 4개 서비스 일반 RoleGuard 를 @o4o/auth-react createRouteGuard 로 수렴
  docs/checks/CHECK-O4O-FRONTEND-AUTH-CONTEXT-AND-ROUTE-GUARD-COMMONIZATION-V1.md
  packages/auth-react/src/__tests__/createRouteGuard.test.tsx
  packages/auth-react/src/__tests__/useServiceAuth.test.tsx
  packages/auth-react/src/createRouteGuard.tsx
  packages/auth-react/vitest.config.mjs
  services/web-glycopharm/src/components/auth/RoleGuard.tsx
  services/web-k-cosmetics/src/components/auth/RoleGuard.tsx
  services/web-kpa-society/src/components/auth/RoleGuard.tsx
  services/web-neture/src/components/auth/RoleGuard.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/security-team, @o4o-platform/core-team

docs(policy): Signage HUB 상품 분류 가드 미적용 확정 — WO CANCEL + IR 정정
  docs/checks/CHECK-O4O-SUPPLIER-SIGNAGE-HUB-TARGET-AND-MEDICATION-GUARD-ALIGN-V1.md
  docs/investigations/IR-O4O-KPA-STORE-QR-TABLET-CONTENT-FLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): Identity V2 serviceKey 로그인 401 원인 확정 — drift 아님, 설계된 서비스별 자격 분리
  docs/checks/CHECK-O4O-IDENTITY-V2-SERVICE-CREDENTIAL-PASSWORD-HASH-DRIFT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(neture-supplier): 공급자 대시보드 '매장 제공 자료' IA 정리 + 검수·게시 현황
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/components/supplier/StoreMaterialUsageNote.tsx
  services/web-neture/src/pages/supplier/SupplierSignagePage.tsx
  services/web-neture/src/pages/supplier/SupplierStoreDescriptionsPage.tsx
  services/web-neture/src/pages/supplier/SupplierStoreMaterialsStatusPage.tsx
  services/web-neture/src/pages/supplier/SupplierTabletScreenSetsPage.tsx
Owners: @o4o-platform/core-team

fix(pharmacy-hub): guard organization reuse during provisioning
  apps/api-server/src/services/pharmacy-hub/PharmacyHubStoreProvisioningService.ts
  apps/api-server/src/services/pharmacy-hub/__tests__/PharmacyHubStoreProvisioningService.reuse-guard.test.ts
  docs/checks/CHECK-PHARMACY-HUB-STORE-PROVISIONING-ORGANIZATION-REUSE-GUARD-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): 공급자 대시보드 '매장 제공 자료' IA — 배포·프로덕션 smoke 완료 기록
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-DASHBOARD-STORE-MATERIALS-IA-V1.md
Owners: @o4o-platform/docs-team

feat(security): 의약품 거래 절대 차단 게이트 — 장바구니·주문 3지점
  apps/api-server/src/__tests__/security/drug-commerce-block.spec.ts
  apps/api-server/src/controllers/checkout/checkoutController.ts
  apps/api-server/src/modules/neture/guards/drug-commerce.guard.ts
  apps/api-server/src/routes/cart/store-cart.routes.ts
  apps/api-server/src/services/cart/store-cart.service.ts
  apps/api-server/src/services/checkout.service.ts
  docs/checks/CHECK-O4O-DRUG-COMMERCE-ABSOLUTE-BLOCK-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team

docs(check): serviceKey 로그인 401 — HOLD, P0 아님(설계된 서비스별 자격 분리)
  docs/checks/CHECK-O4O-AUTH-SERVICEKEY-LOGIN-INVALID-CREDENTIALS-P0-V1.md
Owners: @o4o-platform/docs-team

docs(check): 서비스별 비밀번호 복잡성 + Membership 경계 감사 — A=CROSS_SERVICE_RISK, B=REDESIGN_REQUIRED
  docs/checks/CHECK-O4O-SERVICE-PASSWORD-COMPLEXITY-AND-MEMBERSHIP-BOUNDARY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): serviceKey 로그인 401 — 결정 A~D 확정, HOLD 종료
  docs/checks/CHECK-O4O-AUTH-SERVICEKEY-LOGIN-INVALID-CREDENTIALS-P0-V1.md
Owners: @o4o-platform/docs-team

feat(admin): 비밀번호 재설정 적용 범위 명시 — 서비스별 credential 사일런트 무효 해소
  apps/admin-dashboard/src/pages/operators/OperatorsPage.tsx
  apps/admin-dashboard/src/pages/settings/AdminAccountsSettings.tsx
  apps/api-server/src/controllers/admin/AdminUserController.ts
  apps/api-server/src/routes/admin/platform-accounts.routes.ts
  apps/api-server/src/services/auth/admin-password-reset-scope.service.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team

docs(check): 관리자 비밀번호 재설정 적용 범위 명시 — CI·배포 완료 기록
  docs/checks/CHECK-O4O-ADMIN-PASSWORD-RESET-SERVICE-CREDENTIAL-SCOPE-CLARIFY-V1.md
Owners: @o4o-platform/docs-team

fix(operator): 회원 반려·중지를 해당 서비스 Membership 범위로 격리
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/controllers/operator/__tests__/MembershipConsoleController.crossServiceIsolation.test.ts
  docs/checks/CHECK-O4O-SERVICE-MEMBERSHIP-REJECTION-CROSS-SERVICE-ISOLATION-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): 테스트 계정 문서 Identity V2 구조 개편 + 선행 CHECK 오진 정정
  docs/checks/CHECK-O4O-ADMIN-PASSWORD-RESET-SERVICE-CREDENTIAL-SCOPE-CLARIFY-V1.md
  docs/checks/CHECK-O4O-TEST-ACCOUNTS-IDENTITY-V2-SERVICE-CREDENTIAL-DOCUMENTATION-V1.md
Owners: @o4o-platform/docs-team

fix(approval): 서비스 운영자의 재활성화가 플랫폼 정지를 해제하지 못하도록 경계 분리
  apps/api-server/src/services/approval/MembershipApprovalService.ts
  apps/api-server/src/services/approval/__tests__/MembershipApprovalService.reactivationBoundary.test.ts
  docs/checks/CHECK-O4O-MEMBERSHIP-REACTIVATION-PLATFORM-SUSPENSION-BOUNDARY-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

fix(auth): account_activities.success 오집계 수정 — 실패 기록이 true 로 저장되던 문제
  apps/api-server/src/entities/AccountActivity.ts
  apps/api-server/src/services/auth/auth-login.service.ts
Owners: @o4o-platform/database-team, @o4o-platform/backend-team

docs(check): account_activities.success 오집계 수정 — 프로덕션 4경로 실측 통과
  docs/checks/CHECK-O4O-AUTH-ACCOUNT-ACTIVITIES-SUCCESS-FLAG-FIX-V1.md
Owners: @o4o-platform/docs-team

docs(check): 관리자 재설정 scope — API smoke 통과로 검증 공백 해소
  docs/checks/CHECK-O4O-ADMIN-PASSWORD-RESET-SERVICE-CREDENTIAL-SCOPE-CLARIFY-V1.md
Owners: @o4o-platform/docs-team

fix(approval): 서비스 운영자의 회원 탈퇴(soft delete)를 해당 서비스 Membership 범위로 격리
  apps/api-server/src/services/approval/MembershipApprovalService.ts
  apps/api-server/src/services/approval/__tests__/MembershipApprovalService.softDeleteBoundary.test.ts
  docs/checks/CHECK-O4O-SERVICE-MEMBER-SOFT-DELETE-CROSS-SERVICE-ISOLATION-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): 3개 미병합 브랜치 병합 충돌 실측 결과로 정정 (merge-tree 3쌍 전부 충돌 0)
  docs/checks/CHECK-O4O-SERVICE-MEMBER-SOFT-DELETE-CROSS-SERVICE-ISOLATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): settings:read 매핑 갭은 오진 — HOLD(수정 불필요) + 관리자 UI smoke 완료
  docs/checks/CHECK-O4O-ADMIN-DASHBOARD-PLATFORM-SUPER-ADMIN-SETTINGS-READ-MAPPING-V1.md
  docs/checks/CHECK-O4O-ADMIN-PASSWORD-RESET-SERVICE-CREDENTIAL-SCOPE-CLARIFY-V1.md
Owners: @o4o-platform/docs-team

fix(operator): 회원 비밀번호 변경을 Identity V2 서비스별 credential 로 연결 + 문서 현행화
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/controllers/operator/__tests__/MembershipConsoleController.servicePassword.test.ts
  docs/architecture/O4O-IDENTITY-ARCHITECTURE-V1.md
  docs/architecture/O4O-IDENTITY-ARCHITECTURE-V2.md
  docs/checks/CHECK-O4O-ADMIN-PASSWORD-RESET-SERVICE-CREDENTIAL-SCOPE-CLARIFY-V1.md
  docs/checks/CHECK-O4O-OPERATOR-SERVICE-CREDENTIAL-PASSWORD-CHANGE-AND-DOC-ALIGNMENT-V1.md
  docs/platform/operator/OPERATOR-DASHBOARD-STANDARD-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

fix(auth): account_activities.email 미매핑 수정 — 컬럼이 항상 비어 있던 문제
  apps/api-server/src/entities/AccountActivity.ts
  apps/api-server/src/services/account-linking.service.ts
  apps/api-server/src/services/auth/auth-guest.service.ts
  apps/api-server/src/services/auth/auth-login.service.ts
Owners: @o4o-platform/database-team, @o4o-platform/backend-team

docs(check): account_activities.email 미매핑 수정 — 프로덕션 4시나리오 실측 통과
  docs/checks/CHECK-O4O-AUTH-ACCOUNT-ACTIVITIES-EMAIL-MAPPING-V1.md
Owners: @o4o-platform/docs-team

fix(operator-analytics): 실패 집계가 항상 0이던 status 리터럴 오류 수정
  apps/api-server/src/routes/operator/analytics.routes.ts
Owners: @o4o-platform/api-team

docs(check): 인증 대시보드 감사 — details 의존 없음 + 실패 집계 결함 수정 실측
  docs/checks/CHECK-O4O-AUTH-FAILURE-RATE-DASHBOARD-SUCCESS-COLUMN-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(operator): 비밀번호 변경 대상 서비스 표시·선택 + 후보 교집합 기반 serviceKey 확정
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/controllers/operator/__tests__/MembershipConsoleController.servicePassword.test.ts
  apps/api-server/src/services/auth/__tests__/servicePasswordLoginSelection.test.ts
  docs/checks/CHECK-O4O-SERVICE-PASSWORD-CHANGE-UI-SCOPE-AND-INTEGRATION-V2.md
  docs/platform/operator/OPERATOR-DASHBOARD-STANDARD-V1.md
  packages/operator-core-ui/src/modules/members/OperatorMembersConsolePage.tsx
  packages/operator-core-ui/src/modules/members/types.ts
  services/web-glycopharm/src/pages/admin/GlycoPharmAdminMembersPage.tsx
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-k-cosmetics/src/pages/admin/KCosmeticsAdminMembersPage.tsx
  services/web-k-cosmetics/src/pages/operator/UsersPage.tsx
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team
