Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs: add member type role permission display audit
  docs/investigations/IR-O4O-CROSSSERVICE-MEMBER-TYPE-ROLE-PERMISSION-DISPLAY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(neture): WO-O4O-NETURE-MEMBER-LIST-TYPE-PERMISSION-DISPLAY-ALIGNMENT-V1 — 회원 리스트 유형 컬럼 참여유형만 표시
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Owners: @o4o-platform/core-team

docs(neture): IR-O4O-NETURE-OPERATOR-DASHBOARD-DATA-ACCURACY-AUDIT-V1 — operator dashboard 데이터 정합성 audit
  docs/investigations/IR-O4O-NETURE-OPERATOR-DASHBOARD-DATA-ACCURACY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(neture): CHECK-O4O-NETURE-SUPPLIERS-PENDING-STALE-DATA-V1 — operator dashboard 공급사 PENDING 2건 실체 확인 (F 확정)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIERS-PENDING-STALE-DATA-V1.md
Owners: @o4o-platform/docs-team

fix(neture): WO-O4O-NETURE-MEMBER-LIST-MODAL-PERMISSION-DISPLAY-CORRECTION-V1 — 회원유형/운영권한 분리 표시
  packages/operator-core-ui/src/modules/members/CommonEditUserModal.tsx
  packages/operator-core-ui/src/modules/members/OperatorMembersConsolePage.tsx
  packages/operator-core-ui/src/modules/members/types.ts
  services/web-neture/src/pages/operator/EditUserModal.tsx
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Owners: @o4o-platform/core-team

chore(glycopharm): WO-O4O-GLYCOPHARM-STORE-APPLY-DEAD-CODE-REMOVAL-V1 — dead StoreApplyPage 제거 (750 lines)
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/store.ts
  services/web-glycopharm/src/pages/store-management/StoreApplyPage.tsx
Owners: @o4o-platform/core-team

docs: update member type role audit with neture verification
  docs/investigations/IR-O4O-CROSSSERVICE-MEMBER-TYPE-ROLE-PERMISSION-DISPLAY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(types): WO-O4O-BUSINESS-INFO-CANONICAL-TYPE-PACKAGE-V1 — canonical 사업자 등록 타입 추가 (계좌 정보 제외)
  apps/api-server/src/modules/neture/controllers/operator-action-queue.controller.ts
  apps/api-server/src/modules/neture/controllers/operator-dashboard.controller.ts
  apps/api-server/src/modules/neture/controllers/operator-supplier.controller.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/services/operator-ai-action.service.ts
  apps/api-server/src/modules/neture/services/operator-ai-llm.service.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/lib/api/admin.ts
  services/web-neture/src/lib/api/index.ts
  services/web-neture/src/pages/operator/OperatorSupplierApprovalPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs: add glycopharm kcos member role display audit
  docs/investigations/IR-O4O-GLYCOPHARM-KCOS-MEMBER-TYPE-ROLE-PERMISSION-DISPLAY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(types): WO-O4O-BUSINESS-INFO-CANONICAL-TYPE-PACKAGE-V1 — canonical 사업자 등록 타입 추가 (실제 변경 — 47c0b0a73 보완)
  packages/types/src/business-registration.ts
  packages/types/src/index.ts
Owners: @o4o-platform/core-team

fix(glycopharm,k-cosmetics): WO-O4O-GLYCOPHARM-KCOS-MEMBER-LIST-MODAL-PERMISSION-DISPLAY-ALIGNMENT-V1 — 회원유형/운영권한 분리
  packages/operator-core-ui/src/modules/members/CommonEditUserModal.tsx
  services/web-glycopharm/src/pages/operator/EditUserModal.tsx
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-k-cosmetics/src/pages/operator/EditUserModal.tsx
  services/web-k-cosmetics/src/pages/operator/UsersPage.tsx
Owners: @o4o-platform/core-team

refactor(types): WO-O4O-BUSINESS-INFO-CANONICAL-TYPE-PACKAGE-V1 — service-specific 확장 type 이름 일관화 (*BusinessRegistrationInfo)
  packages/types/src/business-registration.ts
Owners: @o4o-platform/core-team

fix(neture): WO-O4O-NETURE-OPERATOR-DASHBOARD-KPI-LABEL-DRIFT-FIX-V1 — KPI '활성 약국' → '활성 참여 조직'
  apps/api-server/src/modules/neture/controllers/operator-dashboard.controller.ts
  services/web-neture/src/pages/operator/NetureOperatorDashboard.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs: add bare operator admin write path audit
  docs/investigations/IR-O4O-BARE-OPERATOR-ADMIN-WRITE-PATH-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(auth): WO-O4O-CROSSSERVICE-BUSINESS-REGISTRATION-FORM-ALIGNMENT-V1 Step 1 (Backend) — businessEntityType / businessStartDate canonical 수용
  apps/api-server/src/modules/auth/controllers/auth-account.controller.ts
  apps/api-server/src/modules/auth/controllers/auth-register.controller.ts
  apps/api-server/src/modules/auth/dto/register.dto.ts
Owners: @o4o-platform/backend-team

fix(neture): WO-O4O-NETURE-OPERATOR-DASHBOARD-AI-SUMMARY-INACTIVITY-RULE-REFINE-V1 — zero-orders inactivity warning → info + 중립 문구
  apps/api-server/src/copilot/insight-rules.ts
Owners: @o4o-platform/backend-team

fix(api): WO-O4O-MEMBER-ROLE-WRITE-PATH-HARDENING-V1 — service_memberships.role에 운영권한 저장 차단
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/types/roles.ts
Owners: @o4o-platform/backend-team

feat(register-forms): WO-O4O-CROSSSERVICE-BUSINESS-REGISTRATION-FORM-ALIGNMENT-V1 Step 2 (Frontend) — 4 service canonical 가입 폼 사업자등록증 4 필드 정렬
  services/web-glycopharm/src/pages/auth/RegisterFlowModal.tsx
  services/web-k-cosmetics/src/pages/auth/RegisterPage.tsx
  services/web-kpa-society/src/components/RegisterModal.tsx
  services/web-neture/src/components/RegisterModal.tsx
Owners: @o4o-platform/core-team

docs(neture): IR-O4O-NETURE-OPERATOR-CONTACT-MESSAGES-SCOPE-AUDIT-V1 — contact-messages dead link 5건 정책 결정 기준 문서
  docs/investigations/IR-O4O-NETURE-OPERATOR-CONTACT-MESSAGES-SCOPE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(neture): WO-O4O-NETURE-OPERATOR-CONTACT-MESSAGES-OPERATOR-SCOPE-V1 — operator scope 문의 메시지 화면 + 일괄 mark-read 범위 정비
  apps/api-server/src/modules/neture/controllers/operator-action-queue.controller.ts
  apps/api-server/src/modules/neture/controllers/operator-contact.controller.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/lib/api/admin.ts
  services/web-neture/src/lib/api/index.ts
  services/web-neture/src/pages/operator/OperatorContactMessagesPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(operator): expose canonical business registration fields
  apps/api-server/src/modules/neture/services/operator-registration.service.ts
  apps/api-server/src/routes/cosmetics/services/cosmetics-store.service.ts
  apps/api-server/src/routes/glycopharm/controllers/admin.controller.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

feat(operator-ui): display canonical business registration fields
  packages/operator-core-ui/src/modules/members/KpaEditUserModal.tsx
  packages/types/src/business-registration.ts
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/pages/operator/ApplicationDetailPage.tsx
  services/web-k-cosmetics/src/pages/operator/ApplicationsPage.tsx
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
  services/web-neture/src/lib/api/admin.ts
  services/web-neture/src/pages/operator/registrations/RegistrationRequestsPage.tsx
Owners: @o4o-platform/core-team

docs: add member role contamination readonly audit
  docs/investigations/IR-O4O-MEMBER-ROLE-CONTAMINATION-READONLY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(account-ui): add business registration fields component
  packages/account-ui/package.json
  packages/account-ui/src/components/BusinessRegistrationFields.tsx
  packages/account-ui/src/index.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

docs: record member role contamination data correction
  docs/investigations/WO-O4O-MEMBER-ROLE-CONTAMINATION-DATA-CORRECTION-V1.md
Owners: @o4o-platform/docs-team

refactor(registration): reuse business registration fields across services
  packages/account-ui/src/components/BusinessRegistrationFields.tsx
  services/web-glycopharm/src/pages/auth/RegisterFlowModal.tsx
  services/web-k-cosmetics/src/pages/auth/RegisterPage.tsx
  services/web-kpa-society/src/components/RegisterModal.tsx
  services/web-neture/src/components/RegisterModal.tsx
Owners: @o4o-platform/core-team

docs(check): CHECK-O4O-BUSINESS-REGISTRATION-CROSSSERVICE-E2E-V1 — 4서비스 사업자 등록 공통화 통합 브라우저 검증 준비
  docs/investigations/CHECK-O4O-BUSINESS-REGISTRATION-CROSSSERVICE-E2E-V1.md
Owners: @o4o-platform/docs-team

feat(glycopharm): WO-O4O-GLYCOPHARM-OPERATOR-MENU-ALIGN-WITH-KPA-V1 — operator sidebar 를 KPA 도메인 IA 로 정렬
  services/web-glycopharm/src/components/glyco-operator/GlycoOperatorSidebar.tsx
  services/web-glycopharm/src/components/layouts/OperatorLayoutWrapper.tsx
  services/web-glycopharm/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/core-team

docs(dashboard): IR-O4O-CROSSSERVICE-OPERATOR-ADMIN-DASHBOARD-CANONICAL-AUDIT-V1 — 4서비스 operator/admin 대시보드 정합성 조사
  docs/investigations/IR-O4O-CROSSSERVICE-OPERATOR-ADMIN-DASHBOARD-CANONICAL-AUDIT-V1.md
Owners: @o4o-platform/docs-team

refactor(k-cosmetics): remove duplicate internal header in admin layout
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
Owners: @o4o-platform/core-team

fix(kpa): WO-O4O-KPA-OPERATOR-DASHBOARD-SIGNAGE-DEAD-LINK-FIX-V1 — operatorConfig 의 /operator/signage/content dead link 5곳을 /operator/signage/hq-media 로 교체
  services/web-kpa-society/src/pages/operator/operatorConfig.ts
Owners: @o4o-platform/core-team

feat(kpa-mypage): WO-O4O-MYPAGE-BUSINESS-INFO-EDIT-P2-P4-ADD-V1 — KPA 약국 정보에 사업자등록증 P2/P4 4 fields 표시·수정 추가
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-info.controller.ts
  pnpm-lock.yaml
  services/web-kpa-society/src/api/pharmacyInfo.ts
  services/web-kpa-society/src/pages/pharmacy/PharmacyInfoPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/devops-team, @o4o-platform/core-team

refactor(neture-supplier): WO-O4O-NETURE-SUPPLIER-PROFILE-BUSINESSREGISTRATIONFIELDS-REUSE-V1 — 자체 input 을 공통 BusinessRegistrationFields 로 교체
  services/web-neture/src/pages/supplier/SupplierProfilePage.tsx
Owners: @o4o-platform/core-team

fix(copilot): WO-O4O-CROSSSERVICE-INSIGHT-RULES-VAGUE-MESSAGE-REFINE-V1 — Cosmetics inactivity + Order Spike vague 문구 구체화
  apps/api-server/src/copilot/insight-rules.ts
Owners: @o4o-platform/backend-team

feat(neture-supplier): WO-O4O-NETURE-SUPPLIER-PROFILE-P4-FIELDS-ADD-V1 — SupplierProfilePage 에 사업자유형/개업일 추가
  apps/api-server/src/modules/neture/controllers/supplier-management.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProfilePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(k-cosmetics): WO-O4O-KCOS-OPERATOR-MENU-ALIGN-WITH-KPA-V1 — operator sidebar 를 KPA 도메인 IA 로 정렬
  services/web-k-cosmetics/src/components/kcos-operator/KCosOperatorSidebar.tsx
  services/web-k-cosmetics/src/components/layouts/OperatorLayoutWrapper.tsx
  services/web-k-cosmetics/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/core-team

fix(k-cosmetics): align global header profile menu to actual role
  services/web-k-cosmetics/src/components/KCosGlobalHeader.tsx
Owners: @o4o-platform/core-team

docs(dashboard): CHECK-O4O-CROSSSERVICE-OPERATOR-ADMIN-DASHBOARD-TIER1-COMPLETION-V1 — Tier 1 (W1/W3/W7) 완료 검증
  docs/investigations/CHECK-O4O-CROSSSERVICE-OPERATOR-ADMIN-DASHBOARD-TIER1-COMPLETION-V1.md
Owners: @o4o-platform/docs-team

fix(glycopharm): WO-O4O-GLYCOPHARM-MY-STORE-MENU-FLICKER-FIX-V1 — operator/admin 도 /store 진입 허용
  services/web-glycopharm/src/App.tsx
Owners: @o4o-platform/core-team

feat(glycopharm-api): WO-O4O-GLYCOPHARM-PHARMACY-PROFILE-EDIT-PAGE-V1 — 약국 경영자 사업자 정보 GET/PATCH endpoint
  apps/api-server/src/routes/glycopharm/controllers/mypage.controller.ts
  services/web-glycopharm/src/api/mypage.ts
Owners: @o4o-platform/api-team, @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
