Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs(check): glucoseview service key 은퇴 — 중지 조건 발동 (코드 변경 0)
  docs/checks/CHECK-O4O-GLUCOSEVIEW-SERVICE-KEY-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

docs(check): glucoseview 운영 데이터 6행 은퇴 — DB write only, 코드 변경 0
  docs/checks/CHECK-O4O-GLUCOSEVIEW-OPERATING-DATA-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

chore(yaksa): legacy /api/v1/yaksa/* API 와 실행 불가능한 관리자 UI 제거
  apps/admin-dashboard/src/config/service-entry.ts
  apps/admin-dashboard/src/pages/yaksa-forum/CategoryListPage.tsx
  apps/admin-dashboard/src/pages/yaksa-forum/PostDetailPage.tsx
  apps/admin-dashboard/src/pages/yaksa-forum/PostListPage.tsx
  apps/admin-dashboard/src/pages/yaksa-forum/YaksaForumRouter.tsx
  apps/admin-dashboard/src/pages/yaksa-forum/index.ts
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/config/service-scopes.ts
  apps/api-server/src/controllers/forum/ForumRecommendationController.ts
  apps/api-server/src/database/entities.ts
  apps/api-server/src/routes/yaksa/controllers/index.ts
  apps/api-server/src/routes/yaksa/controllers/yaksa.controller.ts
  apps/api-server/src/routes/yaksa/dto/index.ts
  apps/api-server/src/routes/yaksa/entities/index.ts
  apps/api-server/src/routes/yaksa/entities/yaksa-category.entity.ts
  apps/api-server/src/routes/yaksa/entities/yaksa-post-log.entity.ts
  apps/api-server/src/routes/yaksa/entities/yaksa-post.entity.ts
  apps/api-server/src/routes/yaksa/index.ts
  apps/api-server/src/routes/yaksa/repositories/index.ts
  apps/api-server/src/routes/yaksa/repositories/yaksa.repository.ts
  apps/api-server/src/routes/yaksa/services/index.ts
  apps/api-server/src/routes/yaksa/services/yaksa.service.ts
  apps/api-server/src/routes/yaksa/yaksa.routes.ts
  docs/checks/WO-O4O-LEGACY-YAKSA-API-ROUTE-AND-DEAD-UI-REMOVAL-V1-CHECK.md
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team

docs(check): legacy yaksa 제거 CHECK 에 commit·push 결과 기재
  docs/checks/WO-O4O-LEGACY-YAKSA-API-ROUTE-AND-DEAD-UI-REMOVAL-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(check): /admin/yaksa/reports 도달성·4개 API 계약·404 원인 감사 (WO-O4O-YAKSA-REPORTS-ROUTED-UI-API-CONTRACT-AND-404-RECOVERY-AUDIT-V1)
  docs/checks/WO-O4O-YAKSA-REPORTS-ROUTED-UI-API-CONTRACT-AND-404-RECOVERY-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(check): yaksa reports 감사 CHECK 에 commit·push 결과 기재
  docs/checks/WO-O4O-YAKSA-REPORTS-ROUTED-UI-API-CONTRACT-AND-404-RECOVERY-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

fix(neture): 제품 랜딩 제목이 카드를 뚫고 나가는 가로 넘침 수정 (WO-O4O-EASY-DRUG-KO-FULL-REBUILD-BROWSER-SMOKE-V1)
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/evidence/anon-auth-gate.png
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/evidence/before-fix-desktop-08-title-overflow.png
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/.gitignore
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-run1-before-fix-findings.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-run1-before-fix-result.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-run1-before-fix-rows.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-sample.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-targets.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/run-browser-smoke.mjs
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/select-browser-smoke.mjs
  services/web-neture/src/pages/ProductLandingPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team, @o4o-platform/core-team

chore(glucoseview): 폐지 서비스 key 코드·설정·UI 잔재 제거 (WO-O4O-GLUCOSEVIEW-SERVICE-KEY-RETIREMENT-V1)
  apps/admin-dashboard/src/hooks/useOperatorPolicy.ts
  apps/admin-dashboard/src/lib/rbac-catalog.ts
  apps/admin-dashboard/src/pages/operator/PointBudgetPage.tsx
  apps/api-server/src/__tests__/kpa-role-guard.spec.ts
  apps/api-server/src/__tests__/security/cross-service.spec.ts
  apps/api-server/src/database/entities.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/partner/entities/PartnerApplication.ts
  apps/api-server/src/routes/cms-content/cms-content-slot.handler.ts
  apps/api-server/src/routes/debug/approval-test.controller.ts
  apps/api-server/src/routes/debug/user-debug.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-campaign-request.controller.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team

docs(check): glucoseview service key 은퇴 WO 재개·완료 기록 (§8)
  docs/checks/CHECK-O4O-GLUCOSEVIEW-SERVICE-KEY-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

refactor(yaksa): 작동 불가 신상신고 UI·죽은 프런트엔드 API 계약 제거 (WO-O4O-YAKSA-REPORTS-NONFUNCTIONAL-UI-AND-DEAD-CONTRACT-REMOVAL-V1)
  apps/admin-dashboard/src/admin/menu/admin-menu.static.tsx
  apps/admin-dashboard/src/lib/api/yaksaAdmin.ts
  apps/admin-dashboard/src/pages/dashboard/unified/cards/OperatorCard.tsx
  apps/admin-dashboard/src/pages/reporting/ReportingRouter.tsx
  apps/admin-dashboard/src/pages/reporting/dashboard/ReportingDashboard.tsx
  apps/admin-dashboard/src/pages/reporting/reports/ReportList.tsx
  apps/admin-dashboard/src/pages/reporting/templates/TemplateList.tsx
  apps/admin-dashboard/src/pages/yaksa-admin/ReportReviewPage.tsx
  apps/admin-dashboard/src/pages/yaksa-admin/YaksaAdminDashboard.tsx
  apps/admin-dashboard/src/pages/yaksa-admin/index.tsx
  apps/admin-dashboard/src/pages/yaksa/YaksaAdminHub.tsx
  apps/admin-dashboard/src/routes/yaksa.routes.tsx
  apps/admin-dashboard/src/tests/admin-menu-batch2.test.ts
  apps/main-site/src/pages/member/MemberHome.tsx
  apps/main-site/src/pages/member/MemberNotifications.tsx
  docs/checks/WO-O4O-YAKSA-REPORTS-NONFUNCTIONAL-UI-AND-DEAD-CONTRACT-REMOVAL-V1-CHECK.md
  services/web-kpa-society/src/pages/mypage/PersonalStatusReportPage.tsx
  services/web-kpa-society/src/pages/mypage/index.ts
Owners: @o4o-platform/admin-team, @o4o-platform/frontend-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): 신상신고 UI 제거 CHECK 에 commit·push 결과 기재
  docs/checks/WO-O4O-YAKSA-REPORTS-NONFUNCTIONAL-UI-AND-DEAD-CONTRACT-REMOVAL-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(check): 신규 KO canonical 19,363건 제품명 h1 전수 브라우저 검증 완료 (WO-O4O-EASY-DRUG-KO-FULL-REBUILD-BROWSER-SMOKE-V1)
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/evidence/after-fix-desktop-worst-4lines.png
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/evidence/after-fix-mobile-charbreak-review.png
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/evidence/after-fix-mobile-worst-10lines.png
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/h1-audit-api.mjs
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/h1-audit-collect.mjs
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/h1-audit-layout.mjs
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/.gitignore
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-run2-after-fix-findings.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-run2-after-fix-result.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/browser-smoke-run2-after-fix-rows.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-audit-api-findings.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-audit-api-result.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-layout-findings.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-layout-result.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-layout-slack-ledger-worst500.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-population-summary.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-risk-targets.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-risk-visual-findings.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-risk-visual-result.json
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/results/h1-risk-visual-rows.jsonl
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/run-browser-smoke.mjs
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/run-h1-risk-visual.mjs
  apps/api-server/src/scripts/easy-drug-ko-full-rebuild-live/select-h1-risk.mjs
  docs/checks/WO-O4O-EASY-DRUG-KO-FULL-REBUILD-BROWSER-SMOKE-V1-CHECK.md
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs(check): yaksa-scheduler YaksaReport 의존성 런타임 감사 (WO-O4O-YAKSA-SCHEDULER-DEAD-REPORT-DEPENDENCY-RUNTIME-AUDIT-V1)
  docs/checks/WO-O4O-YAKSA-SCHEDULER-DEAD-REPORT-DEPENDENCY-RUNTIME-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(check): yaksa-scheduler 감사 CHECK §17 commit·push 결과 기재
  docs/checks/WO-O4O-YAKSA-SCHEDULER-DEAD-REPORT-DEPENDENCY-RUNTIME-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

feat(pharmacy-hub): add handled and local products
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubHandledProductController.ts
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubLocalProductController.ts
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubStoreProductController.ts
  apps/api-server/src/controllers/pharmacy-hub/offer-exposure.ts
  apps/api-server/src/routes/pharmacy-hub/pharmacy-hub.routes.ts
  apps/api-server/src/routes/platform/store-handled-products.routes.ts
  apps/api-server/src/routes/platform/store-local-product.routes.ts
  apps/api-server/src/services/store/store-handled-products.service.ts
  apps/api-server/src/services/store/store-local-products.service.ts
  packages/store-ui-core/src/components/local-products/StoreLocalProductsManager.tsx
  packages/store-ui-core/src/config/storeMenuConfig.ts
  packages/store-ui-core/src/index.ts
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/components/store-owner/StoreConnectionNotice.tsx
  services/web-pharmacy-hub/src/lib/api/pharmacyHubHandledProducts.ts
  services/web-pharmacy-hub/src/lib/api/pharmacyHubLocalProducts.ts
  services/web-pharmacy-hub/src/pages/store-owner/HandledProductsPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/LocalProductsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

docs(check): easy-drug KO h1 전수 브라우저 검증 CHECK 에 commit·push·배포 결과 기재
  docs/checks/WO-O4O-EASY-DRUG-KO-FULL-REBUILD-BROWSER-SMOKE-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(check): pharmacy-hub 매장 제품 2화면 프로덕션 스모크 결과 기재
  docs/checks/CHECK-PHARMACY-HUB-STORE-HANDLED-PRODUCTS-V1.md
Owners: @o4o-platform/docs-team

docs(check): yaksa-scheduler 잔여 Job 8건 사업 필요성·대체 구조 감사 (WO-O4O-YAKSA-SCHEDULER-REMAINING-JOBS-BUSINESS-NECESSITY-AND-REPLACEMENT-AUDIT-V1)
  docs/checks/WO-O4O-YAKSA-SCHEDULER-REMAINING-JOBS-BUSINESS-NECESSITY-AND-REPLACEMENT-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(check): yaksa-scheduler 잔여 Job 감사 CHECK §19 commit·push 결과 기재
  docs/checks/WO-O4O-YAKSA-SCHEDULER-REMAINING-JOBS-BUSINESS-NECESSITY-AND-REPLACEMENT-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

fix(store): local product 추출본의 자체 유입 UUID 가드 제거 (동작 불변 복원)
  apps/api-server/src/services/store/store-local-products.service.ts
  docs/checks/CHECK-PHARMACY-HUB-STORE-HANDLED-PRODUCTS-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

fix(pharmacy-hub): local product 비-uuid id 가드를 PH 컨트롤러로 이동
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubLocalProductController.ts
Owners: @o4o-platform/backend-team

docs(check): W7 §4-6 연결된 매장 쓰기 성공 경로 실측 완료 (PASS)
  docs/checks/CHECK-PHARMACY-HUB-STORE-HANDLED-PRODUCTS-V1.md
Owners: @o4o-platform/docs-team

docs(check): post-legacy cleanup CHECK §8-2 commit·push·CI 결과 기재
  docs/checks/CHECK-O4O-POST-LEGACY-RESIDUE-AND-ENVIRONMENT-CLEANUP-V1.md
Owners: @o4o-platform/docs-team

docs(check): 약사회 전용 기능 전면 제거 CHECK §20 commit·push 결과 기재 (WO-O4O-LEGACY-YAKSA-ADMIN-AND-DOMAIN-FEATURES-FULL-REMOVAL-V1)
  docs/checks/WO-O4O-LEGACY-YAKSA-ADMIN-AND-DOMAIN-FEATURES-FULL-REMOVAL-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(wo): 신규 KO 19,363 기준 영어 설명서 전량 재번역 WO 등록 (WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1)
  docs/work-orders/WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1.md
Owners: @o4o-platform/docs-team

feat(easy-drug-en): EN 재번역 실행 계약 read-only 재현 (WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/contract-recon.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/.gitignore
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/contract-recon-result.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

docs(check): forum-yaksa·Vite alias·멀티테넌트 fixture 소비 경계 감사 (WO-O4O-FORUM-YAKSA-AND-LEGACY-BUILD-TEST-RESIDUE-BOUNDARY-AUDIT-V1)
  docs/checks/WO-O4O-FORUM-YAKSA-AND-LEGACY-BUILD-TEST-RESIDUE-BOUNDARY-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(check): forum-yaksa 경계 감사 CHECK §20 commit·push 결과 기재
  docs/checks/WO-O4O-FORUM-YAKSA-AND-LEGACY-BUILD-TEST-RESIDUE-BOUNDARY-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

feat(hff-zh): NUMBER_STRUCTURE_AMBIGUOUS 101건 교정·생산 (WO-O4O-HFF-ZH-NUMBER-STRUCTURE-AMBIGUOUS-101-REPAIR-AND-APPLY-V1)
  apps/api-server/src/scripts/data/hff-zh-b04-z82-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-final-summary-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-nsa-base-v1.jsonl
  apps/api-server/src/scripts/data/hff-zh-final-rollback-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-atoms-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-markhead-regress-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-scan-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-target-ids-v1.json
  apps/api-server/src/scripts/data/hff-zh-nsa-verify-v1.json
  apps/api-server/src/scripts/hff-zh-b01-translate.mjs
  apps/api-server/src/scripts/hff-zh-final-apply.mjs
  apps/api-server/src/scripts/hff-zh-final-render.mjs
  apps/api-server/src/scripts/hff-zh-nsa-atoms.mjs
  apps/api-server/src/scripts/hff-zh-nsa-markhead-regress.mjs
  apps/api-server/src/scripts/hff-zh-nsa-scan.mjs
  apps/api-server/src/scripts/hff-zh-nsa-verify.mjs
  docs/work-orders/CHECK-O4O-HFF-ZH-NUMBER-STRUCTURE-AMBIGUOUS-101-REPAIR-AND-APPLY-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): HFF ZH NSA 101 CHECK §10 commit·push 결과 기재
  docs/work-orders/CHECK-O4O-HFF-ZH-NUMBER-STRUCTURE-AMBIGUOUS-101-REPAIR-AND-APPLY-V1.md
Owners: @o4o-platform/docs-team

feat(easy-drug-en): 번역 단위 추출 + TM census (WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/extract-units.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/.gitignore
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/extract-units-result.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

docs(check): KPA 매장 콘텐츠·QR·태블렛 동선 감사 (WO-O4O-KPA-STORE-CONTENT-WORKFLOW-AUDIT-V1)
  docs/checks/CHECK-O4O-KPA-STORE-CONTENT-WORKFLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(easy-drug-en): 복합제 검증 grounding 감사 + master별 EN 보존 기대치 산출
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/combo-census.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/.gitignore
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/combo-census-result.json
  docs/work-orders/WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team, @o4o-platform/docs-team

feat(pharmacy-hub): add store content and library
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubStoreBlogController.ts
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubStoreContentController.ts
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubStoreLibraryController.ts
  apps/api-server/src/routes/o4o-store/controllers/blog.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-content.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-library.controller.ts
  apps/api-server/src/routes/pharmacy-hub/pharmacy-hub.routes.ts
  apps/api-server/src/services/store/store-blog.service.ts
  apps/api-server/src/services/store/store-content.service.ts
  apps/api-server/src/services/store/store-library.service.ts
  packages/store-ui-core/src/components/StoreProductionMaterialsView.tsx
  packages/store-ui-core/src/config/storeMenuConfig.ts
  packages/store-ui-core/src/index.ts
  pnpm-lock.yaml
  services/web-pharmacy-hub/Dockerfile
  services/web-pharmacy-hub/package.json
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/components/store-owner/StoreConnectionNotice.tsx
  services/web-pharmacy-hub/src/lib/api/pharmacyHubStoreBlog.ts
  services/web-pharmacy-hub/src/lib/api/pharmacyHubStoreContent.ts
  services/web-pharmacy-hub/src/lib/api/pharmacyHubStoreLibrary.ts
  services/web-pharmacy-hub/src/pages/store-owner/BlogEditorPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/BlogPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/ContentPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/LibraryPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/LibraryResourcesPage.tsx
  services/web-pharmacy-hub/tsconfig.app.json
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team, @o4o-platform/devops-team

feat(easy-drug-en): EN 고정 프레임 사전 + 의약품 전용 검증기 + 자기검증 (WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-frame.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-validator-selftest.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-validator.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/en-validator-selftest-result.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

test(easy-drug-en): 5단계 소규모 대표 표본으로 EN 번역 계약 검증 및 검증기 규칙 정정
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-frame.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-sample-contract-check.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-validator-selftest.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-validator.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/en-sample-contract-check-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/en-validator-selftest-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/sample-en-translations.json
  docs/work-orders/WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs(check): Pharmacy-Hub 매장 콘텐츠·자료함·블로그 검증 (WO-PHARMACY-HUB-STORE-CONTENT-LIBRARY-V1)
  docs/checks/CHECK-PHARMACY-HUB-STORE-CONTENT-LIBRARY-V1.md
Owners: @o4o-platform/docs-team

feat(easy-drug-en): 외부 API 없는 누적 TM 생산 하네스 구축 및 1차 배치 189 master 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/produce-emit.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/produce-ingest.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/.gitignore
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0001.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0001.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0001-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-seed-samples-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/tm-lib.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/tm-seed-samples.mjs
  docs/work-orders/WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-FROM-REBUILT-KO-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team, @o4o-platform/docs-team

feat(hff-zh): TRANSLATION_AMBIGUOUS 319건 전수 교정·생산 (ZH 40,918 = KO 40,918)
  apps/api-server/src/scripts/data/hff-zh-b04-z83-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-final-summary-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-final-v1.jsonl
  apps/api-server/src/scripts/data/hff-zh-ta-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-cleanliness-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-engine-regress-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-ids-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-leak-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-prior-queue-v1.jsonl
  apps/api-server/src/scripts/data/hff-zh-ta-regress-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-rollback-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-scan-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-verify-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-z83-effect-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-z83-keys-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-z83-overlap-v1.json
  apps/api-server/src/scripts/hff-zh-b01-translate.mjs
  apps/api-server/src/scripts/hff-zh-final-apply.mjs
  apps/api-server/src/scripts/hff-zh-ta-engine-regress.mjs
  apps/api-server/src/scripts/hff-zh-ta-leak.mjs
  apps/api-server/src/scripts/hff-zh-ta-regress.mjs
  apps/api-server/src/scripts/hff-zh-ta-scan.mjs
  apps/api-server/src/scripts/hff-zh-ta-verify.mjs
  apps/api-server/src/scripts/hff-zh-ta-z83-overlap.mjs
  docs/work-orders/CHECK-O4O-HFF-ZH-TRANSLATION-AMBIGUOUS-319-REPAIR-AND-APPLY-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(hff-zh): TRANSLATION_AMBIGUOUS 319건 전수 교정·생산 (ZH 40,918 = KO 40,918)
  apps/api-server/src/scripts/data/hff-zh-b04-z83-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-final-summary-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-final-v1.jsonl
  apps/api-server/src/scripts/data/hff-zh-ta-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-cleanliness-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-engine-regress-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-ids-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-leak-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-prior-queue-v1.jsonl
  apps/api-server/src/scripts/data/hff-zh-ta-regress-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-rollback-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-scan-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-verify-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-z83-effect-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-z83-keys-v1.json
  apps/api-server/src/scripts/data/hff-zh-ta-z83-overlap-v1.json
  apps/api-server/src/scripts/hff-zh-b01-translate.mjs
  apps/api-server/src/scripts/hff-zh-final-apply.mjs
  apps/api-server/src/scripts/hff-zh-ta-engine-regress.mjs
  apps/api-server/src/scripts/hff-zh-ta-leak.mjs
  apps/api-server/src/scripts/hff-zh-ta-regress.mjs
  apps/api-server/src/scripts/hff-zh-ta-scan.mjs
  apps/api-server/src/scripts/hff-zh-ta-verify.mjs
  apps/api-server/src/scripts/hff-zh-ta-z83-overlap.mjs
  docs/work-orders/CHECK-O4O-HFF-ZH-TRANSLATION-AMBIGUOUS-319-REPAIR-AND-APPLY-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
