Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(editor): Strengthen UNCONTROLLED mode with ref flag
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Owners: @o4o-platform/admin-team

fix(editor): CRITICAL - Remove EditorElement wrapper causing DOM remount
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Owners: @o4o-platform/admin-team

fix(editor): Remove cursor positioning from EnhancedBlockWrapper
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/admin-team

fix(editor): Add selection creation for cursor visibility
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/admin-team

fix(editor): Increase delay for new block focus to 50ms
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/admin-team

fix(editor): Fix cursor visibility and text selection in contentEditable
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix(editor): CRITICAL - Revert onClick contentEditable skip logic
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

chore: Overhaul deployment system for reliability
  .github/workflows/deploy-admin.yml
  DEPLOY-QUICK.md
  scripts/check-deployment.sh
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs: Unify deployment documentation into single source
  DEPLOY-QUICK.md
  DEPLOYMENT.md
Owners: @o4o-platform/docs-team

fix(editor): Preserve browser's native Selection and cursor positioning
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Owners: @o4o-platform/admin-team

fix(customizer): Add type assertion for footer columns property
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
Owners: @o4o-platform/admin-team

chore(admin): Remove unused Tiptap dependencies and reduce bundle size
  apps/admin-dashboard/package.json
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/vite.config.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix(ci): Remove unreliable paths filter from deploy-admin workflow
  .github/workflows/deploy-admin.yml
Owners: @o4o-platform/devops-team

feat(editor): Implement Slate.js foundation for Gutenberg blocks
  apps/admin-dashboard/package.json
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/slate/SlateEditor.tsx
  apps/admin-dashboard/src/components/editor/slate/components/Toolbar.tsx
  apps/admin-dashboard/src/components/editor/slate/plugins/withDeleteKey.ts
  apps/admin-dashboard/src/components/editor/slate/plugins/withParagraphs.ts
  apps/admin-dashboard/src/components/editor/slate/types/slate-types.ts
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

docs: Consolidate block development documentation into BLOCKS_DEVELOPMENT.md
  BLOCKS_DEVELOPMENT.md
Owners: @o4o-platform/docs-team

fix(ci): Add intelligent deployment skip logic to avoid unnecessary builds
  .github/workflows/deploy-admin.yml
Owners: @o4o-platform/devops-team

refactor(editor): Delete old ParagraphBlock in preparation for Slate.js migration
  apps/admin-dashboard/src/blocks/definitions/paragraph.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlockSettings.tsx
Owners: @o4o-platform/admin-team

feat(editor): Implement new Slate.js-based ParagraphBlock
  apps/admin-dashboard/src/blocks/definitions/paragraph.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

feat(editor): Add Link, Strikethrough, and Inline Code support to ParagraphBlock (Phase 1.5)
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/slate/plugins/withLinks.ts
  apps/admin-dashboard/src/components/editor/slate/types/slate-types.ts
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
Owners: @o4o-platform/admin-team

feat(editor): Add Underline mark support (Ctrl+U)
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/slate/types/slate-types.ts
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
Owners: @o4o-platform/admin-team

feat(editor): Add Text/Background Color and Font Size UI controls (Phase 2.1)
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

refactor(editor): Move Color and Font Size controls from Toolbar to Sidebar (Gutenberg pattern)
  apps/admin-dashboard/src/components/editor/BlockSettingsRenderer.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

refactor(blocks): Remove MarkdownReaderBlock (file-based reader, non-editable)
  apps/admin-dashboard/src/blocks/definitions/markdown-reader.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/blocks/registry/DynamicRenderer.tsx
  apps/admin-dashboard/src/components/editor/blocks/MarkdownReaderBlock.tsx
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

feat(blocks): Implement new Markdown block with Edit/Preview tabs
  apps/admin-dashboard/src/blocks/definitions/markdown.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/blocks/registry/DynamicRenderer.tsx
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

refactor(editor): Complete EditorHeader modular refactoring (Phase 1)
  apps/admin-dashboard/src/components/editor/header/CenterControls.tsx
  apps/admin-dashboard/src/components/editor/header/EditorHeader.tsx
  apps/admin-dashboard/src/components/editor/header/LeftControls.tsx
  apps/admin-dashboard/src/components/editor/header/RightControls.tsx
  apps/admin-dashboard/src/components/editor/header/types.ts
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

refactor(editor): Phase 2 - Block spacing and toolbar improvements
  CLAUDE.md
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/admin-team

feat(editor): Phase 4 - Intelligent floating toolbar with smart positioning
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

polish(editor): Phase 5 - Icon and button consistency improvements
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

feat(editor): Add file selector to Markdown block
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix(editor): Fix editor header layout bugs - responsive breakpoints and icon visibility
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/ViewportSwitcher.tsx
  apps/admin-dashboard/src/components/editor/header/LeftControls.tsx
  apps/admin-dashboard/src/components/editor/header/RightControls.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix(editor): Fix header layout overflow and usability issues - Phase 1
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/header/CenterControls.tsx
  apps/admin-dashboard/src/components/editor/header/EditorHeader.tsx
  apps/admin-dashboard/src/components/editor/header/LeftControls.tsx
  apps/admin-dashboard/src/components/editor/header/RightControls.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

feat(editor): Add link button to Paragraph block toolbar
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

feat(editor): Implement Gutenberg standard keyboard behavior for Paragraph block
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

feat(main-site): Add /login route and Login page to fix 404 error
  apps/admin-dashboard/public/version.json
  apps/main-site/src/App.tsx
  apps/main-site/src/components/shortcodes/authShortcodes.tsx
  apps/main-site/src/pages/auth/Login.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/frontend-team, @o4o-platform/ui-team

feat(main-site): Add WordPress-style page routing with /:slug
  apps/main-site/src/App.tsx
Owners: @o4o-platform/frontend-team

fix(main-site): Replace mock PageViewer with PublicPage that fetches from API
  apps/main-site/src/App.tsx
  apps/main-site/src/pages/PublicPage.tsx
Owners: @o4o-platform/frontend-team

fix(api,main-site): Add slug-based page endpoint and update PublicPage
  apps/api-server/src/routes/api/pages.ts
  apps/main-site/src/pages/PublicPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/frontend-team

fix(main-site): Correct API path to /v1/pages/slug/:slug
  apps/main-site/src/pages/PublicPage.tsx
Owners: @o4o-platform/frontend-team

fix(editor): Save paragraph content before creating new block on Enter
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

fix(editor): Improve Backspace deletion logic for empty paragraph blocks
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team
