Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat: Phase 3-2 - Implement onboarding guide modal for Seller/Supplier
  apps/api-server/src/controllers/userController.ts
  apps/api-server/src/database/migrations/7400000000000-AddOnboardingCompletedToUsers.ts
  apps/api-server/src/entities/User.ts
  apps/api-server/src/routes/user.ts
  apps/main-site/src/components/dashboard/OnboardingGuideModal.tsx
  apps/main-site/src/components/shortcodes/SellerDashboardOverview.tsx
  apps/main-site/src/components/shortcodes/SupplierDashboardOverview.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/ui-team

feat: Phase 4 - Remove V1 RoleEnrollment system (Legacy cleanup)
  apps/api-server/src/config/routes.config.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/7500000000000-DropRoleEnrollmentsTable.ts
  apps/api-server/src/entities/KycDocument.ts
  apps/api-server/src/entities/RoleAssignment.ts
  apps/api-server/src/entities/RoleEnrollment.ts
  apps/api-server/src/routes/admin/enrollments.routes.ts
  apps/api-server/src/routes/enrollments.routes.ts
  apps/api-server/src/services/EnrollmentEmailService.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

fix: 사용자 편집 페이지 API 응답 구조 처리 개선
  apps/admin-dashboard/src/pages/users/UserDetail.tsx
  apps/admin-dashboard/src/pages/users/UserForm.tsx
Owners: @o4o-platform/admin-team

feat: Add user edit test page for debugging 401 errors
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/test/UserEditTest.tsx
Owners: @o4o-platform/admin-team

fix: Use QueryBuilder for nested relations in getUser
  apps/api-server/src/controllers/UserManagementController.ts
Owners: @o4o-platform/backend-team

Fix: Remove approvalLogs relation from getUser to resolve 500 error
  apps/api-server/src/controllers/UserManagementController.ts
Owners: @o4o-platform/backend-team

Fix: Return empty array for approval history until table exists
  apps/api-server/src/controllers/UserManagementController.ts
Owners: @o4o-platform/backend-team

feat(Phase 3-3): Add phone field to User entity for checkout auto-fill
  apps/api-server/src/database/migrations/1830000000000-AddPhoneToUsers.ts
  apps/api-server/src/entities/User.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team

feat(Phase 3-3): Update user phone on order creation
  apps/api-server/src/controllers/StorefrontController.ts
Owners: @o4o-platform/backend-team

feat: Implement phone auto-fill in checkout page (Phase 3-3-5)
  apps/main-site/src/pages/storefront/CheckoutPage.tsx
Owners: @o4o-platform/frontend-team

fix: Correct customer dashboard API endpoint path
  apps/main-site/src/components/shortcodes/CustomerDashboard.tsx
Owners: @o4o-platform/ui-team

fix: Change sameSite cookie policy to 'none' for cross-subdomain auth
  apps/api-server/src/utils/cookie.utils.ts
Owners: @o4o-platform/backend-team

fix(api): Improve error handling and logging in authentication
  apps/api-server/src/routes/auth-v2.ts
  apps/api-server/src/services/authentication.service.ts
  pnpm-lock.yaml
Owners: @o4o-platform/api-team, @o4o-platform/backend-team, @o4o-platform/devops-team

fix(api): Fix error code mismatch in login error handling
  apps/api-server/src/routes/auth-v2.ts
Owners: @o4o-platform/api-team

fix(admin): Remove hardcoded /api/v1 prefix from order management paths
  apps/admin-dashboard/src/pages/admin/orders/OrderDetailPage.tsx
  apps/admin-dashboard/src/pages/admin/orders/OrderListPage.tsx
Owners: @o4o-platform/admin-team

fix(api): Add super_admin role to admin orders access
  apps/api-server/src/routes/admin/orders.routes.ts
Owners: @o4o-platform/api-team

fix(api): Remove buyerType column from Order entity
  apps/api-server/src/entities/Order.ts
  apps/api-server/src/services/OrderService.ts
Owners: @o4o-platform/database-team, @o4o-platform/backend-team

fix(api): Remove buyerType filter from OrderService
  apps/api-server/src/services/OrderService.ts
Owners: @o4o-platform/backend-team

fix(api): Convert order parameter to uppercase in CPT orderBy
  apps/api-server/src/services/cpt/modules/post.module.ts
Owners: @o4o-platform/backend-team

fix(admin): Prevent duplicate CPT content management menu
  apps/admin-dashboard/src/hooks/useDynamicCPTMenu.tsx
Owners: @o4o-platform/admin-team

fix(admin): Fix 'filter is not a function' error in CPT data hook
  apps/admin-dashboard/src/hooks/cpt/useCPTData.ts
Owners: @o4o-platform/admin-team

fix: Windows/Linux 환경 호환성 개선 (Cross-platform/Linux parity)
  .claude/settings.local.json
  .editorconfig
  .gitattributes
  apps/admin-dashboard/public/favicon.ico
  apps/admin-dashboard/public/placeholder-150x150.png
  apps/api-server/src/controllers/GalleryController.ts
  apps/api-server/src/controllers/content/MediaController.ts
  package.json
  scripts/dev.mjs
Owners: @o4o-platform/devops-team, @o4o-platform/core-team, @o4o-platform/admin-team, @o4o-platform/backend-team

feat: Enable develop branch auto-deployment with environment badge
  .github/workflows/deploy-admin.yml
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/EnvBadge.tsx
  apps/admin-dashboard/src/hooks/useAdminMenu.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

docs: Update CLAUDE.md with develop branch workflow and local test info
  CLAUDE.md
Owners: @o4o-platform/docs-team

fix(admin): Fix user form payload structure for backend compatibility
  apps/admin-dashboard/src/pages/users/UserForm.tsx
Owners: @o4o-platform/admin-team

fix: Change default user role from 'customer' to 'user'
  apps/admin-dashboard/src/pages/users/UserForm.tsx
  apps/api-server/src/controllers/UserManagementController.ts
  apps/api-server/src/routes/users.routes.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team

refactor: Remove VENDOR_MANAGER role and revert default to customer
  apps/admin-dashboard/src/pages/users/UserForm.tsx
  apps/api-server/src/controllers/UserManagementController.ts
  apps/api-server/src/controllers/v1/userRole.controller.ts
  apps/api-server/src/types/auth.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

feat: Add vendor_manager role cleanup script
  apps/api-server/scripts/cleanup-vendor-manager-role.ts
Owners: @o4o-platform/backend-team

feat: Add vendor_manager cleanup scripts (SQL and JS versions)
  apps/api-server/scripts/cleanup-vendor-manager.sql
  apps/api-server/scripts/run-cleanup.js
Owners: @o4o-platform/backend-team

fix: Use DB_USERNAME instead of DB_USER in cleanup script
  apps/api-server/scripts/run-cleanup.js
Owners: @o4o-platform/backend-team

fix: Handle simple-array format for roles cleanup
  apps/api-server/scripts/run-cleanup.js
Owners: @o4o-platform/backend-team

fix(api): Fix user role update and remove unused roles
  apps/api-server/scripts/cleanup-moderator-role.ts
  apps/api-server/src/controllers/betaUserController.ts
  apps/api-server/src/controllers/v1/userRole.controller.ts
  apps/api-server/src/entities/BetaFeedback.ts
  apps/api-server/src/entities/BetaUser.ts
  apps/api-server/src/entities/FeedbackConversation.ts
  apps/api-server/src/entities/User.ts
  apps/api-server/src/routes/auth.ts
  apps/api-server/src/routes/beta.ts
  apps/api-server/src/routes/v1/users.routes.ts
  apps/api-server/src/services/betaUserService.ts
  apps/api-server/src/services/index.ts
  apps/api-server/src/services/realtimeFeedbackService.ts
  apps/api-server/src/types/auth.ts
  pnpm-lock.yaml
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/devops-team

feat(admin): Add user role update debug test page
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/test/UserRoleUpdateTest.tsx
Owners: @o4o-platform/admin-team

fix(admin): Fix UserApi endpoints to use /v1/ prefix
  apps/admin-dashboard/src/api/userApi.ts
Owners: @o4o-platform/admin-team

fix(api): Remove AFFILIATE role (merged with PARTNER)
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/test/UserRoleUpdateTest.tsx
  apps/api-server/scripts/cleanup-affiliate-role.ts
  apps/api-server/src/controllers/v1/userRole.controller.ts
  apps/api-server/src/types/auth.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

fix(admin): Remove UserRoleUpdateTest route definition
  apps/admin-dashboard/src/App.tsx
Owners: @o4o-platform/admin-team

feat(admin): Add API response checker test page
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/test/ApiResponseChecker.tsx
Owners: @o4o-platform/admin-team

fix(admin): Remove duplicate /v1/ prefix in ApiResponseChecker
  apps/admin-dashboard/src/pages/test/ApiResponseChecker.tsx
Owners: @o4o-platform/admin-team

fix(admin): Fix ApiResponseChecker route path
  apps/admin-dashboard/src/App.tsx
Owners: @o4o-platform/admin-team

debug(api): Add logging to user update endpoint
  apps/api-server/src/routes/v1/users.routes.ts
Owners: @o4o-platform/api-team
