Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

feat(drug-otc): V2 가 EN 저작 p05 (20fp/60m) — 누적 100fp/557m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p05.json
Owners: @o4o-platform/devops-team

docs(kpa): record browser smoke for content detail store import
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PARTNER-COMMISSIONS-UI-LOCALIZATION-V1.md
  docs/investigations/CHECK-O4O-KPA-CONTENT-DETAIL-STORE-IMPORT-LINK-V1.md
Owners: @o4o-platform/docs-team

feat(drug-otc): V2 가 EN 저작 p06 (20fp/49m) — 누적 120fp/606m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p06.json
Owners: @o4o-platform/devops-team

docs(rbac): confirm super_admin separation is blocked by shared account
  docs/checks/CHECK-O4O-KPA-PLATFORM-SUPER-ADMIN-ROLE-SEPARATION-V1.md
Owners: @o4o-platform/docs-team

chore(drug-otc): 다 shard apply preflight 산출물 — 게이트 검증 기록 (에이전트 다)
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.da.json
Owners: @o4o-platform/devops-team

docs(codex): rewrite AGENTS.md as Codex execution guidelines
  AGENTS.md
  docs/investigations/CHECK-CODEX-ENV-SETUP-V1.md
Owners: @o4o-platform/docs-team

docs(neture): record supplier IA smoke attempt blocked by CORS
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-IA-UNIFICATION-V1.md
Owners: @o4o-platform/docs-team

chore(drug-otc): add MSM+vitD ad-hoc query scripts and na shard preflight
  apps/api-server/_msm.mjs
  apps/api-server/_msmx.mjs
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.na.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

feat(drug-otc): V2 가 EN 저작 p07 (20fp/40m) — 누적 140fp/646m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p07.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 가 EN 저작 p08 (20fp/40m) — 누적 160fp/686m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p08.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 가 EN 저작 p09 (20fp/40m) — 누적 180fp/726m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p09.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 가 EN 저작 p10 (20fp/40m) — 누적 200fp/766m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p10.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 가 EN 저작 p11 (20fp/40m) — 누적 220fp/806m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p11.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 가 EN 저작 완료 p12 (17fp/31m) — 237fp/837master COMPLETE
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p12.json
Owners: @o4o-platform/devops-team

fix(neture): keep supplier commission header button on one line on mobile
  services/web-neture/src/pages/supplier/SupplierPartnerCommissionsPage.tsx
Owners: @o4o-platform/core-team

feat(drug-otc): V2 가 shard KO LIVE apply 완료 (3,348T) — EN 은 러너 구조 차단
  apps/api-server/src/scripts/data/otc-v2-apply-order.json
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.ga.json
  apps/api-server/src/scripts/data/otc-v2-apply-run.ga.ko.json
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-all.json
  apps/api-server/src/scripts/otc-v2-ga-postverify.ga.mjs
  docs/work-orders/CHECK-O4O-OTC-REMAINING-READY-SHARD-GA-V2-LIVE-APPLY-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-otc): V2 나 EN 저작 p01 (20fp/216m) + 저작 기준 원문·검증 도구
  apps/api-server/src/scripts/data/otc-v2-authoring-source-full.na.json
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p01.json
  apps/api-server/src/scripts/otc-v2-authoring-source-full.na.mjs
  apps/api-server/src/scripts/otc-v2-en-config-coverage.na.mjs
  apps/api-server/src/scripts/otc-v2-en-config-verify.na.mjs
  apps/api-server/src/scripts/otc-v2-en-part-plan.na.mjs
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(kpa): return reusable_policy in content list for restricted parity
  apps/api-server/src/routes/kpa/kpa.routes.ts
  docs/investigations/CHECK-O4O-KPA-CONTENT-REUSABLE-POLICY-LIST-DETAIL-PARITY-V1.md
  services/web-kpa-society/src/pages/contents/ContentDocumentsPage.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(drug-otc): V2 다 EN 저작 p01-p02 (40fp/171m) — da 저작 도구 + 무절단 원문
  apps/api-server/src/scripts/data/otc-v2-authoring-source-full.da.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p01.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p02.json
  apps/api-server/src/scripts/otc-v2-authoring-source-full.da.mjs
  apps/api-server/src/scripts/otc-v2-emit-part.da.mjs
  apps/api-server/src/scripts/otc-v2-en-config-coverage.da.mjs
  apps/api-server/src/scripts/otc-v2-en-config-verify.da.mjs
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

docs(neture): complete partner commissions localization CHECK with browser smoke
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PARTNER-COMMISSIONS-UI-LOCALIZATION-V1.md
Owners: @o4o-platform/docs-team

feat(drug-otc): V2 나 EN 저작 p02 (20fp/118m) — 누적 40fp/334m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p02.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 가 shard EN LIVE apply 완료 — 총 5,022T · 독립검증 GREEN · 나 해제
  apps/api-server/src/scripts/data/otc-v2-apply-order.json
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.ga.json
  apps/api-server/src/scripts/data/otc-v2-apply-run.ga.en.json
  apps/api-server/src/scripts/otc-v2-store-leaflet-runner.shared.ts
  docs/work-orders/CHECK-O4O-OTC-REMAINING-READY-SHARD-GA-V2-LIVE-APPLY-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-otc): V2 나 EN 저작 p03 (20fp/88m) — 누적 60fp/422m + EN 게이트 차단 1건 기록
  apps/api-server/src/scripts/data/otc-v2-en-blocker.na.json
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p03.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 다 EN 저작 p03-p05 (60fp) — 누적 100fp/237
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p03.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p04.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p05.json
Owners: @o4o-platform/devops-team

docs(kpa): record browser smoke for reusable_policy list/detail parity
  docs/investigations/CHECK-O4O-KPA-CONTENT-REUSABLE-POLICY-LIST-DETAIL-PARITY-V1.md
Owners: @o4o-platform/docs-team

feat(drug-otc): V2 나 EN 저작 p04 (20fp/72m) — 누적 80fp/494m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p04.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 나 EN 저작 p05 (20fp/60m) — 누적 100fp/554m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p05.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 나 EN 저작 p06 (20fp/49m) — 누적 120fp/603m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p06.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 나 EN 저작 p07 (20fp/40m) — 누적 140fp/643m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p07.json
Owners: @o4o-platform/devops-team

fix(drug-otc): 공용 러너 EN 수량 게이트 하이픈 범위 오탐 수정 + 다 EN p06-p08
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p06.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p07.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p08.json
  apps/api-server/src/scripts/otc-v2-store-leaflet-runner.shared.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(drug-otc): V2 나 EN 저작 p08 (20fp/40m) — 누적 160fp/683m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p08.json
Owners: @o4o-platform/devops-team

feat(admin): 관리자 계정 O4O 표준 목록 전환 + 안전 액션 (WO-O4O-ADMIN-ADMIN-ACCOUNTS-STANDARD-TABLE-AND-CRUD-V1)
  apps/admin-dashboard/src/pages/settings/AdminAccountsSettings.tsx
Owners: @o4o-platform/admin-team

fix(neture): preserve partner commission load errors
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierPartnerCommissionsPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): link imported content to canonical management
  docs/investigations/CHECK-O4O-KPA-CONTENT-IMPORT-COMPLETE-CANONICAL-MANAGEMENT-LINK-V1.md
  services/web-kpa-society/src/api/contentStoreImport.ts
  services/web-kpa-society/src/components/contentImportToast.tsx
  services/web-kpa-society/src/pages/contents/ContentDetailPage.tsx
  services/web-kpa-society/src/pages/contents/ContentDocumentsPage.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(drug-otc): V2 나 EN 저작 p09 (20fp/40m) — 누적 180fp/723m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p09.json
Owners: @o4o-platform/devops-team

docs(neture): add partner commissions load-error contract CHECK
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PARTNER-COMMISSIONS-LOAD-ERROR-CONTRACT-V1.md
Owners: @o4o-platform/docs-team

docs(check): 관리자 계정 표준 목록 전환 + 안전 액션 smoke PASS, CRUD 설계 보고(중지#4) (WO-O4O-ADMIN-ADMIN-ACCOUNTS-STANDARD-TABLE-AND-CRUD-V1)
  docs/checks/CHECK-O4O-ADMIN-ADMIN-ACCOUNTS-STANDARD-TABLE-AND-CRUD-V1.md
Owners: @o4o-platform/docs-team

feat(drug-otc): V2 나 EN 저작 p10 (20fp/40m) — 누적 200fp/763m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p10.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 나 EN 저작 p11 (20fp/40m) — 누적 220fp/803m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p11.json
Owners: @o4o-platform/devops-team

feat(drug-otc): V2 다 EN 저작 완료 p09-p12 (77fp) — 237fp/833master COMPLETE
  apps/api-server/src/scripts/data/otc-v2-en-config-coverage.da.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p09.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p10.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p11.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p12.json
Owners: @o4o-platform/devops-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
