Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat(kpa+lms): WO-O4O-LMS-CERTIFICATE-VERIFY-V1 + KPA UI 보완
  apps/api-server/src/modules/lms/controllers/CertificateController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/pharmacy/HubSubNav.tsx
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
  services/web-kpa-society/src/pages/admin/KpaOperatorDashboardPage.tsx
  services/web-kpa-society/src/pages/event-offer/KpaEventOfferPage.tsx
  services/web-kpa-society/src/pages/lms/CertificateVerifyPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreMarketingDashboardPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-TOP-NAV-KPA-ALIGN-V1 — KPA 기준 상단 메뉴 구조 정렬
  services/web-glycopharm/src/components/common/Header.tsx
Owners: @o4o-platform/core-team

fix(market-trial): force-add rewardRate column to market_trials
  apps/api-server/src/database/migrations/20260416200000-ForceAddRewardRateToMarketTrials.ts
Owners: @o4o-platform/backend-team

feat(lms): WO-O4O-LMS-CERTIFICATE-ACCESS-ENHANCEMENT-V1 — 수료증 접근성 강화
  apps/api-server/src/modules/lms/controllers/CertificateController.ts
  apps/api-server/src/modules/lms/utils/certificatePdf.ts
  services/web-kpa-society/src/pages/mypage/MyCertificatesPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(nav): 강의 → 강의 / 마케팅 콘텐츠 메뉴 레이블 변경 (glycopharm, kpa-society)
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-kpa-society/src/components/Header.tsx
Owners: @o4o-platform/core-team

feat(event-offer): WO-EVENT-OFFER-SUPPLIER-DASHBOARD-STATS-INTEGRATION-V1 — 공급자 대시보드 성과 집계
  apps/api-server/src/database/migrations/20260416300000-BackfillMissingKpaSlugs.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-info.controller.ts
  docs/event-offer/EventOffer-Final-Summary.md
  services/web-neture/src/lib/api/index.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(lms): WO-O4O-MARKETING-CONTENT-OPERATIONS-MVP-V1 — 콘텐츠별 참여자 관리 MVP
  apps/api-server/src/modules/lms/controllers/InstructorController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/ContentParticipantsPage.tsx
  services/web-kpa-society/src/pages/instructor/InstructorCourseDashboardPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(market-trial): WO-MARKET-TRIAL-PHASE2-PARTICIPANT-DASHBOARD-AND-SETTLEMENT-STATE-V1
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/database/migrations/20260416500000-AddSettlementFieldsToParticipants.ts
  apps/api-server/src/routes/market-trial.routes.ts
  packages/market-trial/src/entities/MarketTrialParticipant.entity.ts
  services/web-kpa-society/src/api/marketTrial.ts
  services/web-kpa-society/src/pages/market-trial/MarketTrialHubPage.tsx
  services/web-kpa-society/src/pages/market-trial/MyParticipationsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(store-public): WO-O4O-STORE-SERVICEKEY-MAPPING-FIX-V1
  apps/api-server/src/database/migrations/20260416400000-BackfillKpaSlugsByMembership.ts
  apps/api-server/src/routes/platform/store-public/store-public-product.handler.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

feat(lms): WO-O4O-MARKETING-CONTENT-REWARD-DETAIL-MVP-V1
  apps/api-server/src/database/migrations/20260416600000-AddSourceIndexToCreditTransactions.ts
  apps/api-server/src/modules/lms/controllers/InstructorController.ts
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/ContentParticipantsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(lms): WO-O4O-MARKETING-CONTENT-OPERATIONS-ENHANCEMENT-V2
  apps/api-server/src/modules/lms/controllers/InstructorController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/ContentParticipantsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(store-public): correct SQL column refs — neture_suppliers.slug, store_product_profiles
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
Owners: @o4o-platform/api-team

docs(policy): IR-O4O-MARKETING-CONTENT-REWARD-POLICY-V1 — 보상 정책 코드/문서 고정
  apps/api-server/src/modules/credit/services/CreditService.ts
  apps/api-server/src/modules/lms/services/CertificateService.ts
  apps/api-server/src/modules/lms/services/CompletionService.ts
  apps/api-server/src/modules/lms/services/EnrollmentService.ts
  apps/api-server/src/modules/lms/services/QuizService.ts
  docs/policies/marketing-content-reward-policy-v1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

fix(migration): credit_transactions 인덱스 컬럼명 수정 (snake_case → camelCase)
  apps/api-server/src/database/migrations/20260416600000-AddSourceIndexToCreditTransactions.ts
Owners: @o4o-platform/backend-team

fix(mypage): ReferenceError: servicePrefix is not defined — /mypage 크래시 수정
  services/web-kpa-society/src/pages/mypage/MyDashboardPage.tsx
Owners: @o4o-platform/core-team

fix(account-ui): MyPageNavigation 탭 줄바꿈 반응형 수정
  packages/account-ui/src/components/MyPageNavigation.tsx
Owners: @o4o-platform/core-team

fix(account-ui): MyPageLayout 최대 폭 확장 (max-w-xl → max-w-4xl)
  packages/account-ui/src/components/MyPageLayout.tsx
Owners: @o4o-platform/core-team

fix(account-ui): AccountPageLayout 최대 폭 확장 (max-w-xl → max-w-4xl)
  packages/account-ui/src/components/AccountPageLayout.tsx
Owners: @o4o-platform/core-team

feat(qr): WO-O4O-STORE-QR-TEMPLATE-PRINT-UX-FINISH-V1
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/pages/pharmacy/QrPrintTemplateModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(market-trial): WO-MARKET-TRIAL-PHASE3-SETTLEMENT-OPERATOR-TRANSITION-V1
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  apps/api-server/src/routes/market-trial-operator.routes.ts
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(store-qr): use Bearer token for PDF fetch; fix OrganizationMember column names
  packages/organization-core/src/entities/OrganizationMember.ts
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
Owners: @o4o-platform/core-team

fix(store): description override writes to store_product_profiles
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
Owners: @o4o-platform/api-team

fix(api): copy fonts to dist/assets in Dockerfile for PDF generation
  apps/api-server/Dockerfile
Owners: @o4o-platform/backend-team

fix(api): allowlist src/assets/fonts in .dockerignore for PDF fonts
  apps/api-server/.dockerignore
Owners: @o4o-platform/backend-team

fix(store-qr): encode Korean product name in Content-Disposition header
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
Owners: @o4o-platform/api-team

fix(market-trial): set updatedAt=now() in settlement-status UPDATE
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
Owners: @o4o-platform/backend-team

ci: add continue-on-error to upload-artifact step
  .github/workflows/ci-pipeline.yml
Owners: @o4o-platform/devops-team

feat(neture): WO-NETURE-MARKET-TRIAL-PARTICIPANT-PAGES-V1 — 참여자 페이지 3종 신설
  services/web-neture/src/App.tsx
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/market-trial/MarketTrialDetailPage.tsx
  services/web-neture/src/pages/market-trial/MarketTrialHubPage.tsx
  services/web-neture/src/pages/market-trial/MyParticipationsPage.tsx
  services/web-neture/src/pages/market-trial/index.ts
Owners: @o4o-platform/core-team

feat(market-trial): WO-MARKET-TRIAL-CROSS-SERVICE-ENTRY-ONLY-MIGRATION-V1
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/common/MarketTrialNetureRedirect.tsx
  services/web-glycopharm/src/pages/store-management/StoreMainPage.tsx
  services/web-glycopharm/src/pages/store-management/market-trial/MarketTrialDetailPage.tsx
  services/web-glycopharm/src/pages/store-management/market-trial/MarketTrialListPage.tsx
  services/web-glycopharm/src/pages/store-management/market-trial/index.ts
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/components/common/MarketTrialNetureRedirect.tsx
  services/web-k-cosmetics/src/pages/HomePage.tsx
  services/web-k-cosmetics/src/pages/store/MarketTrialListPage.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/marketTrial.ts
  services/web-kpa-society/src/components/MarketTrialNetureRedirect.tsx
  services/web-kpa-society/src/components/ServiceBanner.tsx
  services/web-kpa-society/src/components/home/MarketTrialSection.tsx
  services/web-kpa-society/src/pages/market-trial/MarketTrialDetailPage.tsx
  services/web-kpa-society/src/pages/market-trial/MarketTrialHubPage.tsx
  services/web-kpa-society/src/pages/market-trial/MyParticipationsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyDashboardPage.tsx
Owners: @o4o-platform/core-team

feat(store): WO-STORE-HIDDEN-ROUTES-UNHIDE-V1 — 매장 디스플레이 섹션 정식 노출
  packages/store-ui-core/src/config/storeMenuConfig.ts
Owners: @o4o-platform/core-team

feat(store): WO-STORE-CHANNELS-TABLET-QUICKACTION-FIX-V1 — TABLET 탭 분기점 정리
  services/web-kpa-society/src/pages/pharmacy/StoreChannelsPage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-LMS-ROUTING-INTEGRATION-V1 — Education 페이지 실데이터 연동
  services/web-glycopharm/src/api/lms.ts
  services/web-glycopharm/src/pages/education/EducationPage.tsx
Owners: @o4o-platform/core-team

refactor(signage): remove dead code (WO-KPA-SIGNAGE-DEAD-CODE-CLEANUP-V1)
  apps/api-server/src/controllers/SignageController.ts
  apps/api-server/src/database/migrations/20260417100000-DropSignageDeadTables.ts
  apps/api-server/src/entities/ContentUsageLog.ts
  apps/api-server/src/entities/PlaylistItem.ts
  apps/api-server/src/entities/SignageContent.ts
  apps/api-server/src/entities/SignageDevice.ts
  apps/api-server/src/entities/SignagePlaylist.ts
  apps/api-server/src/entities/SignageSchedule.ts
  apps/api-server/src/entities/SignageSlide.ts
  apps/api-server/src/entities/StorePlaylist.ts
  apps/api-server/src/services/AnalyticsService.ts
  apps/api-server/src/services/PerformanceMonitoringInitializer.ts
  apps/api-server/src/services/PerformanceOptimizationService.ts
  apps/api-server/src/services/ScheduledReportingService.ts
  apps/api-server/src/services/SignageService.ts
  apps/api-server/src/services/index.ts
  packages/digital-signage-core/src/backend/entities/SignageAnalytics.entity.ts
  packages/digital-signage-core/src/backend/entities/SignageMedia.entity.ts
  packages/digital-signage-core/src/backend/entities/SignageMediaTag.entity.ts
  packages/digital-signage-core/src/backend/entities/SignagePlaylistShare.entity.ts
  packages/digital-signage-core/src/backend/entities/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-COURSE-DETAIL-ENROLL-V1 — 강의 상세 + 수강신청
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/lms.ts
  services/web-glycopharm/src/pages/education/CourseDetailPage.tsx
  services/web-glycopharm/src/pages/education/EducationPage.tsx
Owners: @o4o-platform/core-team

feat(store): WO-STORE-SELL-LISTINGS-TABLET-LINK-V1 — 매장 진열 상품 → 태블릿 진열 연결
  services/web-kpa-society/src/pages/pharmacy/PharmacySellPage.tsx
Owners: @o4o-platform/core-team

docs(store): IR-STORE-IA-RESTRUCTURE-COMPLETION-V1 — /store IA 정비 완료 문서
  docs/audit/IR-STORE-IA-RESTRUCTURE-COMPLETION-V1.md
Owners: @o4o-platform/docs-team

feat(glycopharm): WO-GLYCOPHARM-LESSON-QUIZ-LEARNING-V1 — 레슨·퀴즈·진도 학습 흐름 구현
  services/web-glycopharm/src/api/lms.ts
  services/web-glycopharm/src/pages/education/CourseDetailPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-signage): restructure signage UI into 3 domains (WO-KPA-SIGNAGE-UI-RESTRUCTURE-V1)
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/core-team

docs(store): IR-STORE-IA-RESTRUCTURE-COMPLETION-V1 문서 구조 개정
  docs/audit/IR-STORE-IA-RESTRUCTURE-COMPLETION-V1.md
Owners: @o4o-platform/docs-team

feat(glycopharm): WO-GLYCOPHARM-INSTRUCTOR-OPERATOR-V1 — 강사 대시보드 + 운영자 강의 관리
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/instructor/InstructorDashboardPage.tsx
  services/web-glycopharm/src/pages/operator/LmsCoursesPage.tsx
Owners: @o4o-platform/core-team
