Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix: remove console.log for CI/CD compliance and fix potential nested post structure
  apps/admin-dashboard/src/pages/content/PostFormWYSIWYG.tsx
Owners: @o4o-platform/admin-team

fix: handle multiple API response structures for post data
  apps/admin-dashboard/src/pages/content/PostFormWYSIWYG.tsx
Owners: @o4o-platform/admin-team

fix: handle nested post structure in StandaloneEditor API response
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: correct API response handling in postApi.get method
  apps/admin-dashboard/src/services/api/postApi.ts
Owners: @o4o-platform/admin-team

fix: revert postApi changes and add debug info for slug issue
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
  apps/api-server/src/controllers/content/PostController.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

fix: correct nested API response structure handling for slug field
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Add debug logs to track slug binding issue in permalink field
  apps/admin-dashboard/package.json
  apps/admin-dashboard/postcss.config.cjs
  apps/admin-dashboard/src/pages/content/Content.tsx
  apps/admin-dashboard/src/pages/content/PostForm.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
  packages/auth-context/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix: Remove console.log statements from production code
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Temporarily bypass auth-context build issues for CI
  packages/auth-context/package.json
  packages/auth-context/tsconfig.json
Owners: @o4o-platform/devops-team

fix: Tailwind CSS configuration and package builds
  apps/admin-dashboard/package.json
  apps/admin-dashboard/postcss.config.cjs
  package-lock.json
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix: add packages/ui path to Tailwind content configuration
  apps/admin-dashboard/tailwind.config.cjs
Owners: @o4o-platform/admin-team

fix: resolve CI build issues and dependencies
  apps/admin-dashboard/package.json
  packages/auth-context/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix: add @tailwindcss/postcss to main-site app
  apps/main-site/package.json
  apps/main-site/postcss.config.cjs
  package-lock.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/frontend-team

fix: resolve auth-context build issues in CI
  packages/auth-context/src/AuthContext.tsx
  packages/auth-context/src/AuthProvider.tsx
Owners: @o4o-platform/security-team

fix: resolve slug display issue in post editor
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  ecosystem.config.local.cjs
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

fix: change edit button to open StandaloneEditor instead of redirecting to admin home
  apps/admin-dashboard/src/pages/posts/Posts.tsx
Owners: @o4o-platform/admin-team

fix: disable forced mock API usage in development environment
  apps/admin-dashboard/src/services/api/mockApi.ts
Owners: @o4o-platform/admin-team

debug: add console logging to trace slug data flow
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

build: production build with slug debugging support
  .github/workflows/build-and-deploy.yml
  .github/workflows/main.yml
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/api-gateway/package.json
  apps/api-server/package.json
  apps/crowdfunding/package.json
  apps/digital-signage/package.json
  apps/ecommerce/package.json
  apps/forum/package.json
  apps/main-site/package.json
  package.json
  packages/auth-client/package.json
  packages/auth-context/package.json
  packages/block-core/package.json
  packages/blocks/dynamic/package.json
  packages/blocks/interactive/package.json
  packages/blocks/layout-media/package.json
  packages/blocks/text-content/package.json
  packages/crowdfunding-types/package.json
  packages/forum-types/package.json
  packages/shortcodes/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

debug: add comprehensive logging for slug data flow tracking
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: improve slug handling and error reporting
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
  apps/api-server/src/controllers/v1/content.controller.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

fix: remove console.log statements from production code
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: enforce required fields and prevent duplicate saves
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/api-server/src/controllers/v1/content.controller.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

fix: improve slug handling and display
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
Owners: @o4o-platform/admin-team

fix: CSS layout issue for permalink input field
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
Owners: @o4o-platform/admin-team

fix: temporarily disable TypeORM migrations to resolve connection issues
  apps/api-server/src/database/connection.ts
  packages/ui/tsconfig.json
  packages/utils/tsconfig.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

fix: remove @wordpress/blocks serialize import causing exports error
  apps/admin-dashboard/src/pages/appearance/TemplatePartEditor.tsx
Owners: @o4o-platform/admin-team

fix: resolve mobile hamburger menu navigation issue
  apps/admin-dashboard/src/components/layout/AdminLayout.tsx
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
Owners: @o4o-platform/admin-team

feat: add Card and Button components to @o4o/ui package
  packages/ui/src/components/Button.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
Owners: @o4o-platform/ui-team, @o4o-platform/devops-team

fix: Add missing UI components and convert packages to ESM format
  packages/ui/src/index.tsx
  packages/ui/tsconfig.json
  packages/utils/tsconfig.json
Owners: @o4o-platform/ui-team, @o4o-platform/devops-team

fix: Resolve permalink field not displaying slug value in editor
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
Owners: @o4o-platform/admin-team

Revert "fix: Resolve permalink field not displaying slug value in editor"
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
Owners: @o4o-platform/admin-team

fix: Fix permalink field CSS layout issue causing text to be hidden
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
Owners: @o4o-platform/admin-team

fix: Add comprehensive debugging for slug field display issue
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
Owners: @o4o-platform/admin-team

fix: Remove console.log statements to fix CI/CD build
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: resolve mobile navigation and permalink input visibility issues
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/styles/admin-layout-fixed.css
Owners: @o4o-platform/admin-team

fix: resolve mobile navigation and permalink field issues comprehensively
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/components/layout/AdminLayout.tsx
  apps/admin-dashboard/vite.config.ts
Owners: @o4o-platform/admin-team

fix: remove console.log from production code
  apps/admin-dashboard/src/components/layout/AdminLayout.tsx
Owners: @o4o-platform/admin-team

fix: resolve mobile hamburger menu duplication and datetime-local input format errors
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/components/layout/AdminHeader.tsx
  apps/admin-dashboard/src/components/layout/AdminLayout.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: restore mobile hamburger menu icon and improve permalink field sync
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/components/layout/AdminLayout.tsx
Owners: @o4o-platform/admin-team
