Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(main-site): Add markdown block rendering support with proper formatting
  apps/main-site/package.json
  apps/main-site/src/components/PageRenderer.tsx
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/ui-team

feat(editor): Add 'Done' button to Markdown block for completing edits
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
Owners: @o4o-platform/admin-team

feat(editor): Add placeholder block between blocks on Enter key
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/PlaceholderBlock.tsx
Owners: @o4o-platform/admin-team

feat(editor): Add Gutenberg-style DefaultBlockAppender
  apps/admin-dashboard/src/components/editor/DefaultBlockAppender.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/PlaceholderBlock.tsx
Owners: @o4o-platform/admin-team

fix(editor): Remove duplicate placeholders and Add Block button
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

fix(editor): Filter empty blocks from session restore
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

fix(editor): Fix block deletion and handlers
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

chore: Update pnpm-lock.yaml and version.json
  apps/admin-dashboard/public/version.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix(editor): Simplify DefaultBlockAppender to direct input area
  apps/admin-dashboard/src/components/editor/DefaultBlockAppender.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

fix(editor): Remove auto block creation on Enter key
  apps/admin-dashboard/src/components/editor/blocks/EnhancedHeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedQuoteBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

refactor(editor): Remove 'Done' button from MarkdownBlock, add Esc key handler
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
Owners: @o4o-platform/admin-team

fix(editor): Change Enter key behavior - finish editing and move to DefaultBlockAppender
  apps/admin-dashboard/src/components/editor/blocks/EnhancedHeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedQuoteBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Owners: @o4o-platform/admin-team

feat(editor): Add block list sidebar with toggle button (Gutenberg-style)
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

feat(editor): Add automatic table of contents sidebar to MarkdownBlock
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
Owners: @o4o-platform/admin-team

refactor(editor): Simplify MarkdownBlock to read-only preview with filename display
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
Owners: @o4o-platform/admin-team

fix(editor): Hide GutenbergBlockEditor Top Toolbar when embedded in StandaloneEditor
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

fix(editor): Restore '+ Add Block' button and fix sidebar positioning
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

fix(editor): GutenbergBlockInserter - auto-close after block selection and add keyboard shortcuts
  apps/admin-dashboard/src/components/editor/GutenbergBlockInserter.tsx
Owners: @o4o-platform/admin-team

feat(main-site): Add TOC sidebar to MarkdownReaderBlock for frontend rendering
  apps/main-site/src/components/WordPressBlockRenderer/blocks/MarkdownReaderBlock.tsx
Owners: @o4o-platform/ui-team

fix(main-site): Remove hardcoded /v1/ prefix causing double path segments
  apps/main-site/src/api/blog/blogApi.ts
  apps/main-site/src/pages/PublicPage.tsx
Owners: @o4o-platform/frontend-team

fix(main-site): Handle o4o/markdown block type in parser
  apps/admin-dashboard/public/version.json
  apps/main-site/src/utils/wordpress-block-parser.ts
Owners: @o4o-platform/devops-team, @o4o-platform/frontend-team

feat(api): Add type filter to getPosts endpoint
  apps/api-server/src/controllers/content/PostController.ts
Owners: @o4o-platform/backend-team

feat(scripts): Add docs to CPT conversion scripts
  scripts/analyze-docs.cjs
  scripts/check-cpt.cjs
  scripts/check-latest-posts.cjs
  scripts/check-posts.cjs
  scripts/convert-all-md-to-posts.cjs
  scripts/convert-docs-to-cpt.cjs
  scripts/convert-md-to-posts-v2.cjs
  scripts/convert-md-to-posts.cjs
  scripts/count-docs-posts.cjs
  scripts/delete-posts.cjs
  scripts/docs-files.json
  scripts/get-post-by-id.cjs
  scripts/test-post-creation.cjs
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

feat(api): Add CPT menu integration - dynamic post loading
  apps/api-server/src/database/migrations/1760745000000-AddCPTTypeToMenuItem.ts
  apps/api-server/src/entities/MenuItem.ts
  apps/api-server/src/services/menu.service.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team

feat(admin): Add CPT menu item selection UI
  apps/admin-dashboard/src/pages/menus/components/menu-editor/AvailableItems.tsx
  apps/admin-dashboard/src/types/menu.types.ts
Owners: @o4o-platform/admin-team

build: Improve .gitignore to exclude more files
  .gitignore
Owners: @o4o-platform/core-team

feat: 마크다운 렌더링 및 .gitignore 수정
  .gitignore
  apps/main-site/src/pages/PageViewer.tsx
Owners: @o4o-platform/core-team, @o4o-platform/frontend-team

fix(editor): 상단 헤더 UI 및 버튼 순서 수정
  apps/admin-dashboard/src/components/editor/header/EditorHeader.tsx
  apps/admin-dashboard/src/components/editor/header/RightControls.tsx
Owners: @o4o-platform/admin-team

feat: 에디터 헤더 레이아웃 개편 및 반응형 UI 개선
  apps/admin-dashboard/src/components/editor/ViewportSwitcher.tsx
  apps/admin-dashboard/src/components/editor/header/CenterControls.tsx
  apps/admin-dashboard/src/components/editor/header/EditorHeader.tsx
  apps/admin-dashboard/src/components/editor/header/LeftControls.tsx
  apps/admin-dashboard/src/components/editor/header/RightControls.tsx
Owners: @o4o-platform/admin-team

fix(admin): Fix build errors after editor header refactor
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/api/menuApi.ts
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
  apps/admin-dashboard/src/components/editor/header/PostTitle.tsx
  apps/admin-dashboard/src/components/editor/header/types.ts
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/menus/utils/menu-tree-helpers.ts
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix(build): Move recharts to vendor-react chunk to fix initialization error
  apps/admin-dashboard/public/version.json
  vite.config.shared.ts
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(api): Fix CPT 500 error - add missing database columns
  apps/api-server/src/entities/CustomPost.ts
  apps/api-server/src/migrations/1760836251604-CreateCustomPostTables.ts
  apps/api-server/src/modules/cpt-acf/services/cpt.service.ts
  check-posts-db.cjs
Owners: @o4o-platform/database-team, @o4o-platform/backend-team, @o4o-platform/core-team

fix: Remove console.log from migration and fix CPT entity mappings
  apps/api-server/src/migrations/1760836251604-CreateCustomPostTables.ts
Owners: @o4o-platform/backend-team

fix(build): Complete d3 vendor-react migration and cleanup old scripts
  scripts/analyze-docs.cjs
  scripts/check-cpt-posts.cjs
  scripts/check-cpt.cjs
  scripts/check-posts.cjs
  scripts/convert-all-md-to-posts.cjs
  scripts/convert-md-to-posts-v2.cjs
  scripts/convert-md-to-posts.cjs
  scripts/count-docs-posts.cjs
  scripts/docs-files.json
  scripts/migrate-docs-to-cpt.cjs
  scripts/migrate-remaining-docs.cjs
  scripts/test-cpt-create.cjs
  vite.config.shared.ts
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

fix(api): Add placeholder taxonomies endpoint to prevent 500 errors
  apps/api-server/src/modules/cpt-acf/routes/cpt.routes.ts
Owners: @o4o-platform/backend-team

fix(admin): Handle taxonomies API errors gracefully
  apps/admin-dashboard/src/pages/cpt-engine/taxonomies/TaxonomiesList.tsx
Owners: @o4o-platform/admin-team

fix(api): Add comments explaining route order importance
  apps/api-server/src/modules/cpt-acf/routes/cpt.routes.ts
Owners: @o4o-platform/backend-team

fix(api): Add Taxonomy entities to TypeORM datasource
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/backend-team

fix(admin): Fix taxonomies data extraction from API response
  apps/admin-dashboard/src/pages/cpt-engine/taxonomies/TaxonomiesList.tsx
Owners: @o4o-platform/admin-team

feat(admin): Group CPT menu items under "자체 글" parent
  apps/admin-dashboard/src/hooks/useDynamicCPTMenu.tsx
Owners: @o4o-platform/admin-team
