Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

docs(check): OTC authored corpus 지문 조사 — 3,128 전수 (에이전트 나 · 5442 인증환경 실행)
  apps/api-server/src/scripts/data/otc-authored-corpus-fingerprint-v1.json
  docs/checks/CHECK-O4O-OTC-AUTHORED-CORPUS-FINGERPRINT-AUDIT-AGENT-NA-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

feat(hff): 액상 6 STORE canonical apply 스크립트 생성 — 릴레이 실행 준비 (선결②, DB write 0)
  apps/api-server/src/scripts/hff-liq-store-canonical-apply.ts
  docs/checks/CHECK-O4O-HFF-PROBIOTICS-LIQUID-LOAD-PREP-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(hff): 고형 G2~G5(68) 파라미터화 STORE canonical apply 스크립트 — 릴레이 실행 준비 (DB write 0)
  apps/api-server/src/scripts/hff-probiotics-solid-store-canonical-apply.ts
  docs/checks/CHECK-O4O-HFF-PROBIOTICS-LOAD-PREP-CONSOLIDATION-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-otc): 알파칼시돌 0.5㎍ ko·en canonical 완결 (에이전트 가) — 21/21 LIVE
  apps/api-server/src/scripts/data/otc-en-translations-batch-01b-alfacalcidol-v1.json
  apps/api-server/src/scripts/drug-otc-batch-01b-alfacalcidol-en-canonical-promotion.ts
  apps/api-server/src/scripts/drug-otc-batch-01b-alfacalcidol-en-persist.ts
  apps/api-server/src/scripts/drug-otc-batch-01b-alfacalcidol-ko-canonical-promotion.ts
  docs/checks/CHECK-O4O-OTC-BATCH-01B-ALFACALCIDOL-KO-EN-COMPLETE-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-otc): 글로벌 ATC+안전지문 재계산 — 무성분명 7301 전수 단일규칙 판정 (WO-O4O-OTC-GLOBAL-ATC-SAFETY-BRIDGE-RECALC-V1)
  apps/api-server/src/scripts/data/otc-global-atc-safety-bridge-exceptions-v1.json
  apps/api-server/src/scripts/data/otc-global-atc-safety-bridge-groups-v1.json
  apps/api-server/src/scripts/data/otc-global-atc-safety-bridge-summary-v1.json
  apps/api-server/src/scripts/drug-otc-global-atc-safety-bridge-recalc.ts
  docs/checks/CHECK-O4O-OTC-GLOBAL-ATC-SAFETY-BRIDGE-RECALC-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(drug-otc): grounded↔authored 최종 bridge 통합 스크립트 — WO-O4O-OTC-FULL-CORPUS-AUTHORED-BRIDGE-INTEGRATION-V1
  apps/api-server/src/scripts/drug-otc-full-corpus-authored-bridge-integration.ts
Owners: @o4o-platform/backend-team

fix(kpa-tablet): 신규 제작 미리보기 초기 문맥 정비 — layout-only 골격 + 상품 이미지 안전 대체 (WO-O4O-KPA-TABLET-NEW-SCREEN-INITIAL-PREVIEW-CONTEXT-FIX-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-NEW-SCREEN-INITIAL-PREVIEW-CONTEXT-FIX-V1.md
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(drug-otc): bridge 통합 스크립트 교정 — full-content conflict=12 + 드리프트 게이트 + 복원력 배치 read
  apps/api-server/src/scripts/drug-otc-full-corpus-authored-bridge-integration.ts
Owners: @o4o-platform/backend-team

docs(wo): OTC canonical apply 파일럿 WO — B01AC06 아스피린100 60제품 (WO-O4O-OTC-CANONICAL-APPLY-PILOT-B01AC06-V1)
  docs/work-orders/WO-O4O-OTC-CANONICAL-APPLY-PILOT-B01AC06-V1.md
Owners: @o4o-platform/docs-team

docs(check): grounded↔authored bridge 통합 최종 산출물 확정 (에이전트 가) — f2c819451 실행
  apps/api-server/src/scripts/data/otc-full-corpus-authored-bridge-exceptions-v1.json
  apps/api-server/src/scripts/data/otc-full-corpus-authored-bridge-groups-v1.json
  apps/api-server/src/scripts/data/otc-full-corpus-authored-bridge-summary-v1.json
  docs/checks/CHECK-O4O-OTC-FULL-CORPUS-AUTHORED-BRIDGE-INTEGRATION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

chore(drug-otc): B01AC06 아스피린 apply 파일럿 §1~4 read-only dry-run — write 0 (WO-O4O-OTC-CANONICAL-APPLY-PILOT-B01AC06-V1)
  apps/api-server/src/scripts/data/otc-apply-pilot-b01ac06-dryrun-v1.json
  apps/api-server/src/scripts/data/otc-apply-pilot-b01ac06-target-frozen-v1.json
  apps/api-server/src/scripts/drug-otc-apply-pilot-b01ac06-dryrun.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(hff): G1 apply 스크립트 경로 포터블화 — 하드코딩 클론 경로 제거 (에이전트 가)
  apps/api-server/src/scripts/hff-b3-store-canonical-apply.ts
Owners: @o4o-platform/backend-team

chore(drug-otc): Model A(기존 authored 재사용) 후보 감사 — 전 구간 구조적 0 (WO 파일럿 중단·재검토 후속)
  apps/api-server/src/scripts/data/otc-apply-modelA-candidate-audit-v1.json
  apps/api-server/src/scripts/drug-otc-apply-modelA-candidate-audit.ts
  docs/checks/CHECK-O4O-OTC-APPLY-MODELA-CANDIDATE-AUDIT-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(kpa-tablet): 제작기 단순화 — 상태 선택 제거 + 관리 이름 코너 제목 자동 파생 + 기본정보 단계 제거 (WO-O4O-KPA-TABLET-BUILDER-REMOVE-STATUS-SELECT-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-BUILDER-REMOVE-STATUS-SELECT-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

chore(drug-otc): Model B(grounded 원문 신규 authoring) 첫 파일럿 후보 집계 — write 0 (WO 파일럿 재정의)
  apps/api-server/src/scripts/data/otc-modelB-pilot-candidates-v1.json
  apps/api-server/src/scripts/drug-otc-modelB-pilot-candidates.ts
  docs/checks/CHECK-O4O-OTC-MODELB-PILOT-CANDIDATES-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): 태블릿 추가정보 동일이름·모달정렬 IR 조사 (IR-O4O-KPA-TABLET-ADDITIONAL-CONTENT-DUPLICATE-NAME-AND-MODAL-ALIGNMENT-AUDIT-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-ADDITIONAL-CONTENT-DUPLICATE-NAME-AND-MODAL-ALIGNMENT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): source_ref_id 정책 재검토 — 공유 허용 판정 (OTC canonical 승격)
  docs/checks/CHECK-O4O-OTC-SOURCE-REF-ID-POLICY-V1.md
Owners: @o4o-platform/docs-team

docs(check): grounded 무성분명 STORE canonical 슬롯 점유 — apply 파일럿 구조적 blocker
  docs/checks/CHECK-O4O-OTC-GROUNDED-CANONICAL-SLOT-CONFLICT-V1.md
Owners: @o4o-platform/docs-team

docs(check): 비타민D+칼슘 복합형 read-only 조사 (에이전트 가) — 신규 apply 대상 0 (45/45 기적재)
  docs/checks/CHECK-O4O-HFF-COMBO-VD-CA-READONLY-INVESTIGATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): MSM+비타민D 복합형 read-only 조사 (에이전트 가) — 신규 apply 0 (31/31 기적재)
  docs/checks/CHECK-O4O-HFF-COMBO-MSM-VD-READONLY-INVESTIGATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): 루테인+비타민A 복합형 read-only 조사 + dry-run 설계 (에이전트 가) — NEW 7 apply-ready (write 28)
  docs/checks/CHECK-O4O-HFF-COMBO-LUTEIN-VA-READONLY-INVESTIGATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): 코푸시럽에스 동일이름 prod read-only 검증 — 판정 B 확정 (IR-O4O-KPA-TABLET-KOPU-SAME-NAME-PRODUCTS-PROD-READONLY-VERIFY-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-KOPU-SAME-NAME-PRODUCTS-PROD-READONLY-VERIFY-V1.md
Owners: @o4o-platform/docs-team

docs(check): 루테인+비타민A 7건 apply LIVE 반영 (에이전트 가) — 28 write COMMIT·독립검증·no-op
  docs/checks/CHECK-O4O-HFF-COMBO-LUTEIN-VA-READONLY-INVESTIGATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): 식이섬유+아연 복합형 read-only 조사 (에이전트 가) — 신규 0 (eligible 0, 식이섬유 grounding held)
  docs/checks/CHECK-O4O-HFF-COMBO-FIBER-ZN-READONLY-INVESTIGATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): 오메가3+비타민E 복합형 read-only 조사 (에이전트 가) — 신규 0 (eligible 0, 오메가3 grounding held)
  docs/checks/CHECK-O4O-HFF-COMBO-OMEGA3-VE-READONLY-INVESTIGATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): 철+엽산 복합형 read-only 조사 (에이전트 가) — 신규 0 (eligible 0, 순수 2-조합 부재)
  docs/checks/CHECK-O4O-HFF-COMBO-IRON-FOLATE-READONLY-INVESTIGATION-V1.md
Owners: @o4o-platform/docs-team

perf(hff): combo-select 저선택도 조합 스캔 대응 — statement_timeout 300s + --no-prefilter
  apps/api-server/src/scripts/hff-combo-select.ts
  apps/api-server/src/scripts/hff-raw-source.ts
Owners: @o4o-platform/backend-team

chore(drug-otc): e약은요-미보유 첫 파일럿 후보 집계 스크립트 (벌크-로드, read-only)
  apps/api-server/src/scripts/drug-otc-no-canonical-pilot-candidates.ts
Owners: @o4o-platform/backend-team

feat(kpa-tablet): 콘텐츠 목록 초안 개념 제거(사용가능/보관) + 추가정보 중복버튼 제거 (WO-...-REMOVE-DRAFT-CONCEPT-V1 / -EXTRA-INFO-BUTTON-DEDUP-V1)
  services/web-kpa-society/src/pages/pharmacy/TabletContentLibraryList.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/core-team

feat(store-products): O4O 표준 상품 검색에 SKU 구분정보 표시 (WO-O4O-STORE-HANDLED-PRODUCTS-SKU-DISTINGUISHABILITY-IMPROVEMENT-V1)
  docs/checks/CHECK-O4O-STORE-HANDLED-PRODUCTS-SKU-DISTINGUISHABILITY-IMPROVEMENT-V1.md
  services/web-kpa-society/src/api/o4oStandardProducts.ts
  services/web-kpa-society/src/pages/pharmacy/AddO4oStandardProductModal.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): bridge 통합 결과 검토 (에이전트 나) — 최종 게이트 PASS, 1차 apply 1,201 확정
  docs/checks/CHECK-O4O-OTC-BRIDGE-INTEGRATION-FINAL-REVIEW-NA-V1.md
Owners: @o4o-platform/docs-team

docs(check): e약은요-미보유 OTC 첫 파일럿 후보 집계 실행·판정 (에이전트 가) — 미보유 35,292, 확정 경구 2
  apps/api-server/src/scripts/data/otc-no-canonical-pilot-candidates-v1.json
  docs/checks/CHECK-O4O-OTC-NO-CANONICAL-PILOT-CANDIDATES-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

chore(drug-otc): e약은요-미보유 첫 파일럿 후보 확정 — 벌크 결정론 실행 + 산출 JSON (read-only)
  apps/api-server/src/scripts/data/otc-no-canonical-pilot-candidates-v1.json
  apps/api-server/src/scripts/drug-otc-no-canonical-pilot-candidates.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

docs(hff): 유산균 300건 LIVE 적재 독립 검증 — 전량 프로덕션 확인 (이 세션 DB write 0)
  docs/checks/CHECK-O4O-HFF-PROBIOTICS-300-LIVE-APPLY-VERIFY-V1.md
Owners: @o4o-platform/docs-team

fix(kpa-tablet): 추가정보 고르기 모달 탭 라벨 줄바꿈 정비
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/core-team

feat(drug-otc): Model B 첫 canonical write 파일럿 설계·dry-run — 파모티딘 10mg 정 24 (WO-O4O-OTC-NO-CANONICAL-PILOT-WRITE-DESIGN-DA-V1)
  apps/api-server/src/scripts/data/otc-modelB-apply-pilot-famotidine-dryrun-v1.json
  apps/api-server/src/scripts/drug-otc-modelB-apply-pilot-famotidine.ts
  docs/checks/CHECK-O4O-OTC-NO-CANONICAL-PILOT-WRITE-DESIGN-DA-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(hff): 복합형 M2/M3 라인 종결 — mg-zn-ca 2 LIVE (누적 296) + 소진 판정
  docs/checks/CHECK-O4O-HFF-LARGE-FUNCTION-GROUPS-AND-MULTI-INGREDIENT-CONTINUOUS-END-TO-END-V1.md
  docs/checks/data/product-description-guard/hff-combo-mg-zn-ca.json
  docs/guides/products/health-functional-food/production-combo/mg-zn-ca/drafts/mg-zn-ca-001.en.html
  docs/guides/products/health-functional-food/production-combo/mg-zn-ca/drafts/mg-zn-ca-001.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-zn-ca/drafts/mg-zn-ca-002.en.html
  docs/guides/products/health-functional-food/production-combo/mg-zn-ca/drafts/mg-zn-ca-002.ko.html
Owners: @o4o-platform/docs-team

docs(check): KPA 태블릿·store UX 변경 6건 프로덕션 브라우저 스모크 — 전항목 PASS
  docs/checks/CHECK-O4O-KPA-TABLET-AND-STORE-UX-CHANGES-BROWSER-SMOKE-V1.md
Owners: @o4o-platform/docs-team

docs(hff): MX(4+원료) 확장 파일럿 WO 착수 — composer 무변경 4-원료 처리 검증
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Owners: @o4o-platform/docs-team

fix(drug-otc): bridge 통합 최소 결정론 보완 (에이전트 나) — 판정·집계 로직 무변경
  apps/api-server/src/scripts/drug-otc-full-corpus-authored-bridge-integration.ts
Owners: @o4o-platform/backend-team
