Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

docs(easy-drug-img): 이미지 복사 조사·dry-run 실측 (WO-O4O-EASY-DRUG-INFO-IMAGE-COPY-TO-PRODUCTIMAGE-V1 1단계)
  docs/checks/CHECK-O4O-EASY-DRUG-INFO-IMAGE-COPY-DRYRUN-V1.md
Owners: @o4o-platform/docs-team

feat(quasi-drug-seed): 의약외품 EE/UD/NB XML 공식설명 파서 + 전량 파싱 dry-run
  apps/api-server/src/modules/neture/drug-import/__tests__/quasi-drug-permit-official-text.parser.test.ts
  apps/api-server/src/modules/neture/drug-import/quasi-drug-permit-official-text.parser.ts
  docs/work-orders/WO-O4O-QUASI-DRUG-PUBLIC-XML-DESCRIPTION-PARSER-DRYRUN-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(admin): add read-only O4O product DB skeleton
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/admin/menu/admin-menu.static.tsx
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductCandidateDetailPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductCandidatesPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductDbLayout.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductDbMaintenancePage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMastersPage.tsx
  apps/admin-dashboard/src/routes/o4o-product-db.routes.tsx
  docs/checks/CHECK-O4O-ADMIN-PUBLIC-PRODUCT-DB-READONLY-SKELETON-V1.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team

feat(easy-drug-img): 이미지 복사 서비스+Job (Gate A 구현, dry-run 준비)
  apps/api-server/.dockerignore
  apps/api-server/Dockerfile
  apps/api-server/src/easy-drug-image-copy-job.ts
  apps/api-server/src/modules/neture/drug-import/easy-drug-image-copy.service.ts
  apps/api-server/tsup.config.ts
Owners: @o4o-platform/backend-team

docs(check): record O4O product DB smoke PASS (candidates/masters 200, mutation 0)
  docs/checks/CHECK-O4O-ADMIN-PUBLIC-PRODUCT-DB-READONLY-SKELETON-V1.md
Owners: @o4o-platform/docs-team

ci: exclude *-job.ts (Cloud Run Job entry points) from console.log guard
  .github/workflows/ci-pipeline.yml
Owners: @o4o-platform/devops-team

fix(easy-drug-img): 429 backoff + 동시성 하향(16→4) + 청크 지연 (rate-limit 회피)
  apps/api-server/src/easy-drug-image-copy-job.ts
  apps/api-server/src/modules/neture/drug-import/easy-drug-image-copy.service.ts
Owners: @o4o-platform/backend-team

docs(easy-drug-img): Gate A/B apply 완료 기록 (이미지 2,789 / 대표 썸네일 100% / WO 종결)
  docs/checks/CHECK-O4O-EASY-DRUG-INFO-IMAGE-COPY-DRYRUN-V1.md
Owners: @o4o-platform/docs-team

docs(hff-seed): Gate A 후보 admin 검토 가능성 + 다음 Gate audit (read-only)
  docs/work-orders/WO-O4O-HEALTH-FUNCTIONAL-FOOD-PUBLIC-CANDIDATE-ADMIN-REVIEW-AND-NEXT-GATE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(hff-seed): Gate 0 read-only CHECK — grain/mapping/식별자/승격 판단 고정
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-PUBLIC-SEED-GATE0-V1.md
Owners: @o4o-platform/docs-team

docs(spd-curation): canonical 큐레이션 조사·bulk dry-run (WO-O4O-DRUG-SHARED-DESCRIPTION-CANONICAL-CURATION-V1 1단계)
  docs/checks/CHECK-O4O-DRUG-SHARED-DESCRIPTION-CANONICAL-CURATION-V1.md
Owners: @o4o-platform/docs-team

feat(spd-curation): O4O 상품 DB 설명 검토 화면 + 목록/상세/dry-run 엔드포인트 (WO-O4O-DRUG-SHARED-DESCRIPTION-CANONICAL-CURATION-V1)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/DescriptionReviewDetailPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/DescriptionReviewPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductDbLayout.tsx
  apps/admin-dashboard/src/routes/o4o-product-db.routes.tsx
  apps/api-server/src/modules/neture/controllers/shared-product-description.controller.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

feat(o4o-product-db): 후보 목록 source_label 필터 + 검색 추가 (external_api 후보 분리)
  apps/admin-dashboard/src/pages/o4o-product-db/ProductCandidatesPage.tsx
  apps/api-server/src/modules/neture/controllers/product-candidate.controller.ts
  apps/api-server/src/modules/neture/services/product-candidate.service.ts
  docs/checks/CHECK-O4O-ADMIN-PUBLIC-PRODUCT-CANDIDATE-SOURCE-FILTER-AND-SEARCH-V1.md
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(spd-curation): 2~4단계 구현 완료 기록 (설명 검토 화면 + 엔드포인트 배포 확인)
  docs/checks/CHECK-O4O-DRUG-SHARED-DESCRIPTION-CANONICAL-CURATION-V1.md
Owners: @o4o-platform/docs-team

docs(quasi-drug-seed): SKU/barcode 원천 audit + Gate B 재판정 (HOLD 유지)
  docs/work-orders/WO-O4O-QUASI-DRUG-PUBLIC-SKU-BARCODE-SOURCE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(hff-seed): Gate B 선행조건 원천 감사 CHECK — barcode/상태 NO-GO, 승격 HOLD
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-GATE-B-PREREQUISITE-SOURCE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(quasi-drug-seed): 의약외품 바코드 등록 원천 verify → Gate B HOLD 확정
  docs/checks/CHECK-O4O-QUASI-DRUG-BARCODE-REGISTRY-VERIFY-V1.md
Owners: @o4o-platform/docs-team

docs(o4o-product-db): 후보 필터/검색 browser smoke PASS 기록 (§2.3)
  docs/checks/CHECK-O4O-ADMIN-PUBLIC-PRODUCT-CANDIDATE-SOURCE-FILTER-AND-SEARCH-V1.md
Owners: @o4o-platform/docs-team

feat(spd-canonical): bulk canonical apply 서비스/Job (Gate apply 준비)
  apps/api-server/.dockerignore
  apps/api-server/Dockerfile
  apps/api-server/src/drug-shared-description-bulk-canonical-job.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
  apps/api-server/tsup.config.ts
Owners: @o4o-platform/backend-team

docs(hff-seed): rawPayload 기반 매장 설명 seed 설계 + 기능성 표현 검수 기준 (read-only)
  docs/work-orders/WO-O4O-HEALTH-FUNCTIONAL-FOOD-RAWPAYLOAD-DESCRIPTION-SEED-DESIGN-V1.md
Owners: @o4o-platform/docs-team

feat(hff-seed): 건강기능식품 공식 텍스트 파서 + read-only dry-run (Gate C 준비)
  apps/api-server/package.json
  apps/api-server/src/modules/neture/drug-import/__tests__/health-functional-food-official-text.parser.test.ts
  apps/api-server/src/modules/neture/drug-import/health-functional-food-official-text.parser.ts
  apps/api-server/src/scripts/health-functional-food-official-text-parser-dryrun.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-OFFICIAL-TEXT-PARSER-DRYRUN-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(spd-canonical): bulk canonical apply 완료 (15,962 승격 / WO 종결)
  docs/checks/CHECK-O4O-DRUG-SHARED-DESCRIPTION-BULK-CANONICAL-APPLY-V1.md
Owners: @o4o-platform/docs-team

feat(hff-seed): 매장 설명 AI draft dry-run — 프롬프트+seed 빌더+품질검증 (GO 조건부)
  apps/api-server/package.json
  apps/api-server/src/modules/neture/drug-import/health-functional-food-store-description.prompt.ts
  apps/api-server/src/scripts/health-functional-food-store-description-ai-draft-dryrun.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-AI-DRAFT-DRYRUN-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(medical-device-seed): Gate B DB 충돌 대조 = 0, 최종 승격후보 확정 (WO-O4O-MEDICAL-DEVICE-GATE-B-DB-COLLISION-CHECK-V1)
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-DB-COLLISION-CHECK-V1.md
Owners: @o4o-platform/docs-team

feat(canonical-output): ProductMaster 상세에 canonical 공식 설명 연결 (WO-O4O-DRUG-CANONICAL-DESCRIPTION-OUTPUT-LINK-V1)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

feat(neture): ProductIdentifier UDI_DI type 추가 (WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1)
  apps/api-server/src/modules/neture/entities/ProductIdentifier.entity.ts
  apps/api-server/src/modules/neture/utils/__tests__/product-identifier.util.test.ts
  apps/api-server/src/modules/neture/utils/product-identifier.util.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(canonical-output): canonical 설명 출력 연결 완료 기록 (WO 종결)
  docs/checks/CHECK-O4O-DRUG-CANONICAL-DESCRIPTION-OUTPUT-LINK-V1.md
Owners: @o4o-platform/docs-team

fix(neture): UDI_DI normalize 원형 보존 — 하이픈·대소문자 유지 (WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1)
  apps/api-server/src/modules/neture/utils/__tests__/product-identifier.util.test.ts
  apps/api-server/src/modules/neture/utils/product-identifier.util.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(hff-seed): 매장 설명 bulk dry-run — guards 3종 + 사전필터 + 비용예측 (GO 조건부)
  apps/api-server/package.json
  apps/api-server/src/modules/neture/drug-import/__tests__/health-functional-food-description-guards.test.ts
  apps/api-server/src/modules/neture/drug-import/health-functional-food-description-guards.ts
  apps/api-server/src/scripts/health-functional-food-store-description-bulk-dryrun.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-DRYRUN-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(neture): add medical device candidate import dry-run (WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-IMPORT-V1)
  apps/api-server/src/modules/neture/drug-import/__tests__/medical-device-standard-code-candidate-import.test.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-candidate-import.service.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-candidate.mapper.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-jsonl.parser.ts
  apps/api-server/src/scripts/medical-device-standard-code-candidate-import.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-IMPORT-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(hff-seed): 매장 설명 bulk apply 설계 — 저장구조 Option B 확정 (GO 조건부)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-APPLY-DESIGN-V1.md
  docs/design/O4O-HEALTH-FUNCTIONAL-FOOD-CANDIDATE-DESCRIPTION-DRAFT-STORAGE-V1.md
Owners: @o4o-platform/docs-team

docs(medical-device-seed): Gate A candidate apply runbook 고정 (WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RUNBOOK-V1)
  docs/checks/WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RUNBOOK-V1.md
Owners: @o4o-platform/docs-team

feat(hff-seed): 후보 설명 draft 저장 인프라 + bulk apply CLI (live 게이트로 apply 중단)
  apps/api-server/package.json
  apps/api-server/src/database/entities.ts
  apps/api-server/src/database/migrations/20261204000000-CreateProductCandidateDescriptionDrafts.ts
  apps/api-server/src/modules/neture/entities/ProductCandidateDescriptionDraft.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/services/__tests__/product-candidate-description-draft.service.test.ts
  apps/api-server/src/modules/neture/services/product-candidate-description-draft.service.ts
  apps/api-server/src/scripts/health-functional-food-store-description-bulk-apply.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-APPLY-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

perf(neture): medical device candidate import 배치 apply + 로컬 proxy SSL 지원 (WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-IMPORT-V1)
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-candidate-import.service.ts
  apps/api-server/src/scripts/medical-device-standard-code-candidate-import.ts
Owners: @o4o-platform/backend-team

docs(medical-device-seed): Gate A apply 완료 결과 기록 (CHECK-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RESULT-V1)
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RESULT-V1.md
Owners: @o4o-platform/docs-team

docs(neture): add medical device Gate B apply runbook (WO-O4O-MEDICAL-DEVICE-GATE-B-APPLY-RUNBOOK-V1)
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-APPLY-RUNBOOK-V1.md
Owners: @o4o-platform/docs-team

feat(hff-seed): HFF 매장설명 AI policy scope 추가 + ai_llm_policies seed (bulk-apply-execute 선행)
  apps/api-server/src/database/migrations/20261205000000-SeedHffStoreDescriptionAiPolicy.ts
  apps/api-server/src/modules/ai-policy/ai-policy-scope.ts
  apps/api-server/src/scripts/health-functional-food-store-description-bulk-apply.ts
Owners: @o4o-platform/backend-team

feat(neture): add medical device Gate B promotion dry-run (WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-SCRIPT-V1)
  apps/api-server/src/modules/neture/drug-import/__tests__/medical-device-gate-b-promotion.test.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-gate-b-promotion.service.ts
  apps/api-server/src/scripts/medical-device-gate-b-promotion.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-SCRIPT-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(hff-seed): 매장설명 bulk apply-execute — live 50 게이트 HOLD(gemini 429 quota)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-APPLY-EXECUTE-V1.md
Owners: @o4o-platform/docs-team

feat(neture): implement medical device Gate B promotion apply path (WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-APPLY-IMPLEMENTATION-V1)
  apps/api-server/src/modules/neture/drug-import/__tests__/medical-device-gate-b-promotion.test.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-gate-b-promotion.service.ts
  apps/api-server/src/scripts/medical-device-gate-b-promotion.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-APPLY-IMPLEMENTATION-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team
