Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

docs: Add Phase 9-A completion report
  docs/reports/phase9a-sellerops-refactor-report.md
Owners: @o4o-platform/docs-team

feat(supplierops): Phase 9-B Core alignment - DTOs and ProductMasterService
  packages/supplierops/src/dto/index.ts
  packages/supplierops/src/services/ProductMasterService.ts
Owners: @o4o-platform/core-team

feat(phase9b): SupplierOps Refactoring & Core Alignment
  packages/supplierops/src/controllers/offers.controller.ts
  packages/supplierops/src/controllers/orders.controller.ts
  packages/supplierops/src/controllers/products.controller.ts
  packages/supplierops/src/controllers/profile.controller.ts
  packages/supplierops/src/controllers/settlement.controller.ts
  packages/supplierops/src/dto/index.ts
  packages/supplierops/src/extension.ts
  packages/supplierops/src/index.ts
  packages/supplierops/src/services/DashboardService.ts
  packages/supplierops/src/services/OfferOpsService.ts
  packages/supplierops/src/services/OrderMonitorService.ts
  packages/supplierops/src/services/SettlementOpsService.ts
  packages/supplierops/src/services/index.ts
Owners: @o4o-platform/core-team

docs: Add Phase 9-B completion report
  docs/reports/phase9b-supplierops-refactoring-completion.md
Owners: @o4o-platform/docs-team

feat(phase14-1): Create forum-cosmetics backend extension package
  packages/forum-cosmetics/package.json
  packages/forum-cosmetics/src/backend/controllers/CosmeticsForumController.ts
  packages/forum-cosmetics/src/backend/controllers/index.ts
  packages/forum-cosmetics/src/backend/entities/CosmeticsForumMeta.ts
  packages/forum-cosmetics/src/backend/entities/index.ts
  packages/forum-cosmetics/src/backend/index.ts
  packages/forum-cosmetics/src/backend/routes/cosmetics.forum.routes.ts
  packages/forum-cosmetics/src/backend/routes/index.ts
  packages/forum-cosmetics/src/backend/services/CosmeticsForumService.ts
  packages/forum-cosmetics/src/backend/services/index.ts
  packages/forum-cosmetics/src/index.ts
  packages/forum-cosmetics/src/lifecycle/activate.ts
  packages/forum-cosmetics/src/lifecycle/deactivate.ts
  packages/forum-cosmetics/src/lifecycle/index.ts
  packages/forum-cosmetics/src/lifecycle/install.ts
  packages/forum-cosmetics/src/lifecycle/uninstall.ts
  packages/forum-cosmetics/src/manifest.ts
  packages/forum-cosmetics/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(phase9c): Cosmetics Extension Refactoring & Core Alignment
  packages/dropshipping-cosmetics/src/backend/controllers/cosmetics-product-list.controller.ts
  packages/dropshipping-cosmetics/src/backend/controllers/cosmetics-product.controller.ts
  packages/dropshipping-cosmetics/src/backend/controllers/influencer-routine.controller.ts
  packages/dropshipping-cosmetics/src/backend/controllers/seller-workflow.controller.ts
  packages/dropshipping-cosmetics/src/backend/dto/index.ts
  packages/dropshipping-cosmetics/src/backend/entities/index.ts
  packages/dropshipping-cosmetics/src/backend/index.ts
  packages/dropshipping-cosmetics/src/backend/services/cosmetics-product-list.service.ts
  packages/dropshipping-cosmetics/src/backend/services/cosmetics-product.service.ts
  packages/dropshipping-cosmetics/src/backend/services/influencer-routine.service.ts
  packages/dropshipping-cosmetics/src/backend/types/product.types.ts
  packages/dropshipping-cosmetics/src/extension.ts
  packages/dropshipping-cosmetics/src/frontend/components/index.ts
  packages/dropshipping-cosmetics/src/frontend/shortcodes/index.ts
  packages/dropshipping-cosmetics/src/index.ts
  packages/dropshipping-cosmetics/src/types.ts
Owners: @o4o-platform/core-team

feat(phase9c): Cosmetics Extension Refactoring & Core Alignment
  packages/dropshipping-cosmetics/src/backend/controllers/cosmetics-product-list.controller.ts
  packages/dropshipping-cosmetics/src/backend/controllers/cosmetics-product.controller.ts
  packages/dropshipping-cosmetics/src/backend/controllers/influencer-routine.controller.ts
  packages/dropshipping-cosmetics/src/backend/controllers/seller-workflow.controller.ts
  packages/dropshipping-cosmetics/src/backend/dto/index.ts
  packages/dropshipping-cosmetics/src/backend/entities/index.ts
  packages/dropshipping-cosmetics/src/backend/index.ts
  packages/dropshipping-cosmetics/src/backend/services/cosmetics-product-list.service.ts
  packages/dropshipping-cosmetics/src/backend/services/cosmetics-product.service.ts
  packages/dropshipping-cosmetics/src/backend/services/influencer-routine.service.ts
  packages/dropshipping-cosmetics/src/backend/types/product.types.ts
  packages/dropshipping-cosmetics/src/extension.ts
  packages/dropshipping-cosmetics/src/frontend/components/index.ts
  packages/dropshipping-cosmetics/src/frontend/shortcodes/index.ts
  packages/dropshipping-cosmetics/src/index.ts
  packages/dropshipping-cosmetics/src/types.ts
Owners: @o4o-platform/core-team

docs: Add Phase 9-C completion report
  docs/reports/phase9c-cosmetics-extension-refactoring-completion.md
Owners: @o4o-platform/docs-team

docs(ecommerce-core): Phase 1 Order 책임 경계 설계 완료
  docs/specs/INDEX.md
  docs/specs/ecommerce-core/INDEX.md
  docs/specs/ecommerce-core/phase1-design-order-boundary.md
  docs/specs/ecommerce-core/responsibility-boundary.md
Owners: @o4o-platform/docs-team

feat(phase14-2): Forum-Cosmetics Ecommerce Integration
  packages/forum-cosmetics/src/backend/controllers/CosmeticsForumController.ts
  packages/forum-cosmetics/src/backend/routes/cosmetics.forum.routes.ts
  packages/forum-cosmetics/src/backend/services/CosmeticsForumService.ts
  packages/forum-cosmetics/src/backend/services/index.ts
  packages/forum-cosmetics/src/frontend/components/CosmeticsProductForumPosts.tsx
  packages/forum-cosmetics/src/frontend/components/CosmeticsProductForumSummary.tsx
  packages/forum-cosmetics/src/frontend/components/index.ts
  packages/forum-cosmetics/src/frontend/index.ts
  packages/forum-cosmetics/src/index.ts
Owners: @o4o-platform/core-team

feat(phase10): Pharmaceutical-Core App v1 - Complete Implementation
  packages/pharmaceutical-core/src/backend/index.ts
  packages/pharmaceutical-core/src/controllers/dispatch.controller.ts
  packages/pharmaceutical-core/src/controllers/index.ts
  packages/pharmaceutical-core/src/controllers/offers.controller.ts
  packages/pharmaceutical-core/src/controllers/orders.controller.ts
  packages/pharmaceutical-core/src/controllers/products.controller.ts
  packages/pharmaceutical-core/src/controllers/settlement.controller.ts
  packages/pharmaceutical-core/src/entities/PharmaDispatch.entity.ts
  packages/pharmaceutical-core/src/entities/index.ts
  packages/pharmaceutical-core/src/hooks/pharmaceutical-extension.ts
  packages/pharmaceutical-core/src/lifecycle/activate.ts
  packages/pharmaceutical-core/src/lifecycle/uninstall.ts
  packages/pharmaceutical-core/src/services/PharmaDispatchService.ts
  packages/pharmaceutical-core/src/services/index.ts
Owners: @o4o-platform/core-team

feat(phase3): E-commerce Core OrderType 확정 및 공통 활용 기반 마련
  docs/reports/ecommerce-core-phase3-completion-report.md
  docs/specs/ecommerce-core/service-extension-guide.md
  packages/dropshipping-core/src/services/OrderRelayService.ts
  packages/ecommerce-core/src/entities/EcommerceOrder.entity.ts
  packages/ecommerce-core/src/services/EcommerceOrderQueryService.ts
  packages/ecommerce-core/src/services/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

save state: forum-cosmetics and forum-yaksa changes
  packages/forum-cosmetics/package.json
  packages/forum-cosmetics/src/backend/controllers/CosmeticsForumController.ts
  packages/forum-cosmetics/src/backend/controllers/index.ts
  packages/forum-cosmetics/src/backend/entities/CosmeticsForumMeta.ts
  packages/forum-cosmetics/src/backend/entities/index.ts
  packages/forum-cosmetics/src/backend/index.ts
  packages/forum-cosmetics/src/backend/routes/cosmetics.forum.routes.ts
  packages/forum-cosmetics/src/backend/routes/index.ts
  packages/forum-cosmetics/src/backend/services/CosmeticsForumService.ts
  packages/forum-cosmetics/src/backend/services/index.ts
  packages/forum-cosmetics/src/frontend/components/CosmeticsProductForumPosts.tsx
  packages/forum-cosmetics/src/frontend/components/CosmeticsProductForumSummary.tsx
  packages/forum-cosmetics/src/frontend/components/index.ts
  packages/forum-cosmetics/src/frontend/index.ts
  packages/forum-cosmetics/src/index.ts
  packages/forum-cosmetics/src/lifecycle/activate.ts
  packages/forum-cosmetics/src/lifecycle/deactivate.ts
  packages/forum-cosmetics/src/lifecycle/index.ts
  packages/forum-cosmetics/src/lifecycle/install.ts
  packages/forum-cosmetics/src/lifecycle/uninstall.ts
  packages/forum-cosmetics/src/manifest.ts
  packages/forum-cosmetics/tsconfig.json
  packages/forum-yaksa/package.json
  packages/forum-yaksa/src/backend/entities/YaksaCommunity.d.ts
  packages/forum-yaksa/src/backend/entities/YaksaCommunity.ts
  packages/forum-yaksa/src/backend/entities/YaksaCommunityMember.d.ts
  packages/forum-yaksa/src/backend/entities/YaksaCommunityMember.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(phase15a-fix): Forum Full-text Search Integration & Structure Alignment
  packages/forum-app/src/backend/controllers/search.controller.ts
  packages/forum-app/src/backend/entities/ForumPost.ts
  packages/forum-app/src/backend/routes/search.routes.ts
  packages/forum-app/src/backend/services/forum.search.service.ts
  packages/forum-app/src/backend/services/index.ts
  packages/forum-app/src/backend/utils/searchUtils.ts
  packages/forum-app/src/index.ts
  packages/forum-app/src/migrations/003-add-fulltext-search.ts
  packages/forum-cosmetics/src/backend/routes/cosmetics.search.routes.ts
Owners: @o4o-platform/core-team

feat(phase4): E-commerce Core 화장품 서비스 Extension 적용
  docs/reports/ecommerce-core-phase4-completion.md
  docs/specs/ecommerce-core/phase4-cosmetics-service-analysis.md
  packages/dropshipping-core/src/entities/OrderRelay.entity.ts
  packages/dropshipping-core/src/services/OrderRelayService.ts
  packages/sellerops/src/dto/index.ts
  packages/sellerops/src/services/OrderIntegrationService.ts
  packages/sellerops/src/services/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(phase4): E-commerce Core 화장품 서비스 Extension 적용
  docs/reports/ecommerce-core-phase4-completion.md
  docs/specs/ecommerce-core/phase4-cosmetics-service-analysis.md
  packages/dropshipping-core/src/entities/OrderRelay.entity.ts
  packages/dropshipping-core/src/services/OrderRelayService.ts
  packages/sellerops/src/dto/index.ts
  packages/sellerops/src/services/OrderIntegrationService.ts
  packages/sellerops/src/services/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(phase5): E-commerce Core 약사회 서비스 적용
  docs/reports/ecommerce-core-phase5-completion.md
  docs/specs/ecommerce-core/phase5-yaksa-service-analysis.md
  packages/annualfee-yaksa/src/backend/entities/FeePayment.ts
  packages/pharmaceutical-core/src/entities/PharmaOrder.entity.ts
  packages/pharmaceutical-core/src/services/PharmaOrderService.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(phase5): E-commerce Core 약사회 서비스 적용
  docs/reports/ecommerce-core-phase5-completion.md
  docs/specs/ecommerce-core/phase5-yaksa-service-analysis.md
  packages/annualfee-yaksa/src/backend/entities/FeePayment.ts
  packages/pharmaceutical-core/src/entities/PharmaOrder.entity.ts
  packages/pharmaceutical-core/src/services/PharmaOrderService.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(phase11): Health Extension Refactoring & Core Alignment
  packages/health-extension/package.json
  packages/health-extension/src/backend/hooks/health-validation.hook.ts
  packages/health-extension/src/backend/index.ts
  packages/health-extension/src/index.ts
  packages/health-extension/src/lifecycle/activate.ts
  packages/health-extension/src/lifecycle/deactivate.ts
  packages/health-extension/src/lifecycle/install.ts
  packages/health-extension/src/lifecycle/uninstall.ts
  packages/health-extension/src/manifest.ts
  packages/health-extension/src/types.ts
  packages/health-extension/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

docs: Add Phase 11 completion report
  docs/reports/phase11-health-extension-completion.md
Owners: @o4o-platform/docs-team

feat(phase15b): Forum Notification Realtime (SSE) Layer
  apps/api-server/src/routes/forum/forum.notifications.routes.ts
  apps/api-server/src/services/forum/ForumNotificationService.ts
  apps/api-server/src/services/forum/NotificationEventHub.ts
  apps/main-site/src/hooks/useNotifications.ts
  apps/main-site/src/hooks/useRealtimeNotifications.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team, @o4o-platform/frontend-team

docs(phase6): E-commerce Core 적용 완료 및 종료 선언
  docs/specs/ecommerce-core/application-status.md
Owners: @o4o-platform/docs-team

docs: Add E-commerce Core Phase 6 completion report
  docs/reports/ecommerce-core-phase6-completion.md
Owners: @o4o-platform/docs-team

feat(phase16): Forum AI Summary & Auto-Tagging
  apps/api-server/src/controllers/forum/ForumAIController.ts
  apps/api-server/src/routes/forum/forum.ai.routes.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  apps/api-server/src/services/forum/ForumAIService.ts
  apps/api-server/src/services/forum/index.ts
  apps/main-site/src/components/forum/ai/AISummary.tsx
  apps/main-site/src/components/forum/ai/AITagSuggestions.tsx
  apps/main-site/src/components/forum/ai/index.ts
  apps/main-site/src/hooks/useForumAI.ts
  packages/forum-app/src/backend/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/ui-team, @o4o-platform/frontend-team, @o4o-platform/core-team

save state
  packages/dropshipping-core/src/tests/integration/cross-industry.test.ts
  packages/health-extension/package.json
  packages/health-extension/src/backend/hooks/health-validation.hook.ts
  packages/health-extension/src/backend/index.ts
  packages/health-extension/src/index.ts
  packages/health-extension/src/lifecycle/activate.ts
  packages/health-extension/src/lifecycle/deactivate.ts
  packages/health-extension/src/lifecycle/install.ts
  packages/health-extension/src/lifecycle/uninstall.ts
  packages/health-extension/src/manifest.ts
  packages/health-extension/src/types.ts
  packages/health-extension/tsconfig.json
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

feat(phase12): Cross-Industry Integration Test - All 44 Tests Pass
  docs/reports/phase12-cross-industry-integration-completion.md
  packages/dropshipping-core/src/tests/integration/cross-industry.test.ts
  packages/health-extension/package.json
  packages/health-extension/src/backend/hooks/health-validation.hook.ts
  packages/health-extension/src/backend/index.ts
  packages/health-extension/src/index.ts
  packages/health-extension/src/lifecycle/activate.ts
  packages/health-extension/src/lifecycle/deactivate.ts
  packages/health-extension/src/lifecycle/install.ts
  packages/health-extension/src/lifecycle/uninstall.ts
  packages/health-extension/src/manifest.ts
  packages/health-extension/src/types.ts
  packages/health-extension/tsconfig.json
Owners: @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/devops-team

docs(audit): E-commerce Core 전 서비스 주문·결제·정산 구조 Audit
  docs/reports/ecommerce-core-phasex-audit-report.md
Owners: @o4o-platform/docs-team

docs(audit): E-commerce Core 전 서비스 주문·결제·정산 구조 Audit
  docs/reports/ecommerce-core-phasex-audit-report.md
Owners: @o4o-platform/docs-team

feat(phase17): Forum AI Recommendation Engine
  apps/api-server/src/controllers/forum/ForumRecommendationController.ts
  apps/api-server/src/routes/forum/forum.recommendation.routes.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  apps/api-server/src/services/forum/ForumRecommendationService.ts
  apps/api-server/src/services/forum/index.ts
  apps/main-site/src/components/forum/recommendations/RecommendationCard.tsx
  apps/main-site/src/components/forum/recommendations/RecommendationList.tsx
  apps/main-site/src/components/forum/recommendations/index.ts
  apps/main-site/src/hooks/useForumRecommendations.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/ui-team, @o4o-platform/frontend-team

feat(phasey): annualfee-yaksa E-commerce Core 연결 보완
  docs/reports/ecommerce-core-phasey-followup-completion.md
  docs/specs/ecommerce-core/phase5-yaksa-service-analysis.md
  packages/annualfee-yaksa/src/backend/services/FeePaymentService.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(organization-core): Add .js extensions for ESM compatibility
  packages/organization-core/src/backend/index.ts
Owners: @o4o-platform/core-team

fix(organization-core): Add .js extensions for ESM compatibility
  packages/organization-core/src/backend/index.ts
Owners: @o4o-platform/core-team

fix(phase17): Fix imports and patterns for API server compatibility
  apps/api-server/src/routes/forum/forum.recommendation.routes.ts
  apps/api-server/src/services/forum/ForumAIService.ts
  apps/api-server/src/services/forum/ForumRecommendationService.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team

fix(phase17): Fix imports and patterns for API server compatibility
  apps/api-server/src/routes/forum/forum.recommendation.routes.ts
  apps/api-server/src/services/forum/ForumAIService.ts
  apps/api-server/src/services/forum/ForumRecommendationService.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team

docs: Add E-commerce Core operational governance documentation
  CLAUDE.md
  docs/guides/ecommerce-core/INDEX.md
  docs/guides/ecommerce-core/agent-guidelines.md
  docs/guides/ecommerce-core/exemption-policy.md
  docs/guides/ecommerce-core/new-service-order-checklist.md
  docs/reports/ecommerce-core-operational-governance-completion.md
  docs/specs/ecommerce-core/application-status.md
  packages/pharmacyops/src/frontend/pages/PharmacyDashboardPage.tsx
  packages/pharmacyops/src/frontend/pages/PharmacyOfferListPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(forum-app): include backend types in tsconfig for proper exports
  packages/forum-app/tsconfig.json
Owners: @o4o-platform/devops-team

fix(forum-app): include backend types in tsconfig for proper exports
  packages/forum-app/tsconfig.json
Owners: @o4o-platform/devops-team

fix: add local forum types for API server to avoid circular deps
  apps/api-server/src/services/forum/ForumRecommendationService.ts
  apps/api-server/src/types/forum.types.ts
  packages/forum-app/tsconfig.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

fix(forum-app): correct dist paths in package.json
  packages/forum-app/package.json
Owners: @o4o-platform/devops-team

fix: add documentType to YaksaForumMeta type
  apps/api-server/src/types/forum.types.ts
  packages/pharmacyops/src/backend/index.ts
  packages/pharmacyops/src/controllers/PharmacyDashboardController.ts
  packages/pharmacyops/src/controllers/PharmacyDispatchController.ts
  packages/pharmacyops/src/controllers/PharmacyOfferController.ts
  packages/pharmacyops/src/controllers/PharmacyOrderController.ts
  packages/pharmacyops/src/controllers/PharmacyProductController.ts
  packages/pharmacyops/src/controllers/PharmacySettlementController.ts
  packages/pharmacyops/src/controllers/index.ts
  packages/pharmacyops/src/dto/index.ts
  packages/pharmacyops/src/guards/PharmacyAuthGuard.ts
  packages/pharmacyops/src/guards/index.ts
  packages/pharmacyops/src/hooks/index.ts
  packages/pharmacyops/src/index.ts
  packages/pharmacyops/src/lifecycle/activate.ts
  packages/pharmacyops/src/lifecycle/deactivate.ts
  packages/pharmacyops/src/lifecycle/index.ts
  packages/pharmacyops/src/lifecycle/install.ts
  packages/pharmacyops/src/lifecycle/uninstall.ts
  packages/pharmacyops/src/manifest.ts
  packages/pharmacyops/src/services/PharmacyDashboardService.ts
  packages/pharmacyops/src/services/PharmacyDispatchService.ts
  packages/pharmacyops/src/services/PharmacyOfferService.ts
  packages/pharmacyops/src/services/PharmacyOrderService.ts
  packages/pharmacyops/src/services/PharmacyProductService.ts
  packages/pharmacyops/src/services/PharmacySettlementService.ts
  packages/pharmacyops/src/services/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/core-team
