Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs: remove image references from menu role manual
  docs/manual/menu-role-application.md
Owners: @o4o-platform/docs-team

fix(menu): manually build tree from parentId instead of closure table
  apps/api-server/src/services/menu.service.ts
Owners: @o4o-platform/backend-team

fix(menu): handle orphaned menu items by treating them as root
  apps/api-server/src/services/menu.service.ts
Owners: @o4o-platform/backend-team

debug: Add detailed logging for AI proxy 500 error
  apps/api-server/src/routes/ai-proxy.ts
  apps/api-server/src/services/ai-proxy.service.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team

fix: Remove Insert Before/After buttons from BlockToolbar
  apps/admin-dashboard/src/components/editor/blocks/gutenberg/BlockToolbar.tsx
Owners: @o4o-platform/admin-team

fix(menu): explicitly set parentId when saving menu items
  apps/api-server/src/services/menu.service.ts
Owners: @o4o-platform/backend-team

refactor(menu): Simplify menu structure and remove TypeORM Tree
  apps/api-server/src/controllers/menu/MenuCacheController.ts
  apps/api-server/src/entities/MenuItem.ts
  apps/api-server/src/services/menu.service.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team

feat(header-builder): add Role Switcher module to header builder
  apps/admin-dashboard/src/pages/appearance/astra-customizer/components/HeaderBuilder.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/types/customizer-types.ts
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/template-parts-converter.ts
Owners: @o4o-platform/admin-team

fix(menu): set parent_id when making items children via drag-and-drop
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
Owners: @o4o-platform/admin-team

fix(menu): fix nested menu structure not displaying correctly
  apps/api-server/src/services/menu.service.ts
Owners: @o4o-platform/backend-team

feat(header): register RoleSwitcher module in TemplatePartRenderer
  apps/main-site/src/components/TemplatePartRenderer.tsx
Owners: @o4o-platform/ui-team

refactor(menu): simplify menu tree conversion in editor
  apps/admin-dashboard/src/pages/menus/hooks/useMenuEditor.ts
  apps/admin-dashboard/src/pages/menus/utils/menu-tree-helpers.ts
Owners: @o4o-platform/admin-team

fix: Improve AI-generated page rendering in block-renderer
  packages/block-renderer/src/renderers/layout/ColumnBlock.tsx
  packages/block-renderer/src/renderers/layout/ColumnsBlock.tsx
  packages/block-renderer/src/renderers/media/ImageBlock.tsx
Owners: @o4o-platform/core-team

fix: Add TOC (Table of Contents) functionality to markdown blocks
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
  packages/block-renderer/src/renderers/special/MarkdownBlock.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

fix: Add limit parameter support and server-side search for menu items
  apps/admin-dashboard/src/pages/menus/components/menu-editor/AvailableItems.tsx
  apps/api-server/src/routes/api/pages.ts
  apps/api-server/src/routes/posts.ts
Owners: @o4o-platform/admin-team, @o4o-platform/api-team

feat: Add ShortcodeBlock support to block-renderer
  packages/block-renderer/package.json
  packages/block-renderer/src/renderers/index.ts
  packages/block-renderer/src/renderers/special/ShortcodeBlock.tsx
  packages/block-renderer/tsconfig.json
  packages/shortcodes/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

ci: Add paths filter to Admin deployment workflow
  .github/workflows/deploy-admin.yml
Owners: @o4o-platform/devops-team

docs: Add CPT/ACF MVP-A planning documents
  docs/cpt-acf/00-MVP-A-REPORT.md
  docs/cpt-acf/01-current-status.md
  docs/cpt-acf/02-mvp-a-plan.md
  docs/cpt-acf/03-presets-spec.md
  docs/cpt-acf/04-admin-ia.md
Owners: @o4o-platform/docs-team

feat: Implement CPT/ACF Preset System - Phase 1
  apps/api-server/src/config/routes.config.ts
  apps/api-server/src/database/migrations/1762000000000-CreatePresetTables.ts
  apps/api-server/src/entities/FormPreset.ts
  apps/api-server/src/entities/TemplatePreset.ts
  apps/api-server/src/entities/ViewPreset.ts
  apps/api-server/src/modules/cpt-acf/controllers/preset.controller.ts
  apps/api-server/src/modules/cpt-acf/routes/preset.routes.ts
  apps/api-server/src/modules/cpt-acf/services/preset.service.ts
  packages/types/src/index.ts
  packages/types/src/preset.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/core-team

fix: Use correct authenticateToken export in preset routes
  apps/api-server/src/modules/cpt-acf/routes/preset.routes.ts
Owners: @o4o-platform/backend-team

fix: Fix TypeScript build errors and migration command
  .github/workflows/deploy-api.yml
  apps/api-server/package.json
  apps/api-server/scripts/run-migrations.mjs
  apps/api-server/src/modules/cpt-acf/routes/preset.routes.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat: Add logging to migration script for debugging
  apps/api-server/src/database/run-migration.ts
Owners: @o4o-platform/backend-team

feat: Add CPT/ACF Preset System Phase 2 - Admin Dashboard UI
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/api/presets.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/cpt-engine/presets/FormPresets.tsx
  apps/admin-dashboard/src/pages/cpt-engine/presets/TemplatePresets.tsx
  apps/admin-dashboard/src/pages/cpt-engine/presets/ViewPresets.tsx
Owners: @o4o-platform/admin-team

fix: Replace console.log with logger in migration scripts
  apps/api-server/src/database/migrations/1762000000000-CreatePresetTables.ts
  apps/api-server/src/database/run-migration.ts
Owners: @o4o-platform/backend-team

feat: Implement CPT/ACF Preset Create/Edit Forms (Phase 2.5)
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/presets/FormPresetModal.tsx
  apps/admin-dashboard/src/components/presets/TemplatePresetModal.tsx
  apps/admin-dashboard/src/components/presets/ViewPresetModal.tsx
  apps/admin-dashboard/src/pages/cpt-engine/presets/FormPresets.tsx
  apps/admin-dashboard/src/pages/cpt-engine/presets/TemplatePresets.tsx
  apps/admin-dashboard/src/pages/cpt-engine/presets/ViewPresets.tsx
  apps/admin-dashboard/src/pages/test/SeedPresets.tsx
  apps/admin-dashboard/src/utils/seedPresets.ts
Owners: @o4o-platform/admin-team

feat: Implement Phase 3 - Block and Shortcode Integration with Presets
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/presets/PresetSelector.tsx
  apps/admin-dashboard/src/components/presets/index.ts
  apps/admin-dashboard/src/pages/test/PresetIntegrationTest.tsx
  apps/admin-dashboard/src/utils/register-dynamic-shortcodes.ts
  packages/shortcodes/src/components/PresetShortcode.tsx
  packages/shortcodes/src/index.ts
  packages/shortcodes/src/preset/index.ts
  packages/utils/package.json
  packages/utils/src/components/PresetRenderer.tsx
  packages/utils/src/hooks/usePreset.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Owners: @o4o-platform/admin-team, @o4o-platform/core-team, @o4o-platform/devops-team

feat: Implement Phase 4 of CPT/ACF Preset System
  PRESET_INTEGRATION_REPORT.md
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/components/editor/inspector/PresetInspectorControl.tsx
  apps/admin-dashboard/src/pages/test/PresetIntegrationTest.tsx
  packages/shortcodes/package.json
  packages/shortcodes/src/components/PresetShortcode.tsx
  packages/utils/src/components/FormRenderer.tsx
  packages/utils/src/components/TemplateRenderer.tsx
  packages/utils/src/hooks/usePreset.ts
  packages/utils/src/hooks/usePresetData.ts
  packages/utils/src/hooks/usePresetMutations.ts
  packages/utils/src/hooks/usePresets.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/admin-team, @o4o-platform/core-team

fix: Update build order - build auth-client before utils
  package.json
Owners: @o4o-platform/devops-team

fix: Resolve TypeScript errors in admin-dashboard
  apps/admin-dashboard/src/api/categoriesApi.ts
  apps/admin-dashboard/src/blocks/definitions/buttons.tsx
  apps/admin-dashboard/src/blocks/definitions/columns.tsx
  apps/admin-dashboard/src/blocks/definitions/universal-form.tsx
  apps/admin-dashboard/src/blocks/registry/DynamicRenderer.tsx
  apps/admin-dashboard/src/blocks/registry/types.ts
  apps/admin-dashboard/src/components/PostAccessControl.tsx
  apps/admin-dashboard/src/components/editor/AIChatPanel.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.backup.tsx
  apps/admin-dashboard/src/components/editor/blocks/MarkdownBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ShortcodeBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/UniversalFormBlock.tsx
Owners: @o4o-platform/admin-team

fix: Replace console.log with logger in migration file
  apps/api-server/src/database/migrations/1762000000000-CreatePresetTables.ts
Owners: @o4o-platform/backend-team

fix: Remove console.log from seedPresets and fix build order in CI
  .github/workflows/deploy-admin.yml
  apps/admin-dashboard/src/utils/seedPresets.ts
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix: Exclude database migrations from console.log CI check
  .github/workflows/main.yml
Owners: @o4o-platform/devops-team

docs: Add comprehensive GitHub Actions workflow analysis
  .github/workflows/ANALYSIS_REPORT.md
  .github/workflows/EXECUTIVE_SUMMARY.md
  .github/workflows/INDEX.md
  .github/workflows/REORGANIZATION_PLAN.md
  .github/workflows/WORKFLOW_MAP.txt
Owners: @o4o-platform/devops-team

docs: Add Universal Block Phase 2 extension design documentation
  docs/dev/audit/universal-block_audit.md
  docs/dev/specs/universal-block_phase2_design.md
  docs/dev/tasks/universal-block_audit_request.md
  docs/dev/tasks/universal-block_phase2_design_request.md
Owners: @o4o-platform/docs-team

refactor: Complete CI/CD workflow optimization (Phase 1-3)
  .github/actions/setup-build-env/action.yml
  .github/workflows/automation-pr-labeler.yml
  .github/workflows/automation-repo-setup.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/ci-security.yml
  .github/workflows/deploy-admin.yml
  .github/workflows/deploy-api.yml
  .github/workflows/deploy-main-site.yml
  .github/workflows/setup-pnpm.yml
  packages/shortcodes/tsconfig.json
Owners: @o4o-platform/devops-team

docs: Update workflows README with optimization results
  .github/workflows/README.md
Owners: @o4o-platform/devops-team

fix: Add composite and declaration settings to types tsconfig
  packages/types/tsconfig.json
Owners: @o4o-platform/devops-team

fix: Add complete project references to shortcodes tsconfig
  packages/shortcodes/tsconfig.json
Owners: @o4o-platform/devops-team

fix: Enable composite mode for all TypeScript packages
  packages/auth-client/tsconfig.json
  packages/utils/tsconfig.json
Owners: @o4o-platform/devops-team

fix: Add @o4o/types as dependency in shortcodes package
  packages/shortcodes/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
