Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat: add TestCenterPage to all services - separate test sections from HomePage
  services/web-glucoseview/src/App.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glucoseview/src/pages/TestCenterPage.tsx
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/HomePage.tsx
  services/web-glycopharm/src/pages/TestCenterPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/HomePage.tsx
  services/web-k-cosmetics/src/pages/TestCenterPage.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/TestCenterPage.tsx
  services/web-kpa-society/src/pages/platform/HomePage.tsx
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/HomePage.tsx
  services/web-neture/src/pages/TestCenterPage.tsx
Owners: @o4o-platform/core-team

feat(admin-dashboard): Add /debug/auth JSON debugging page
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/__debug__/AuthStateJsonDebug.tsx
Owners: @o4o-platform/admin-team

fix(admin-dashboard): Update /debug/auth with built-in login form
  apps/admin-dashboard/src/pages/__debug__/AuthStateJsonDebug.tsx
Owners: @o4o-platform/admin-team

fix(admin-dashboard): 로그인 인증 및 UI 수정
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
  apps/admin-dashboard/src/pages/settings/AiQuerySettings.tsx
  apps/admin-dashboard/src/pages/settings/OAuthSettings.tsx
  apps/admin-dashboard/src/styles/wordpress-sidebar.css
  apps/api-server/src/routes/admin/apps.routes.ts
  apps/api-server/src/utils/cookie.utils.ts
Owners: @o4o-platform/admin-team, @o4o-platform/api-team, @o4o-platform/backend-team

fix(api-server): remove console.log from cookie.utils
  apps/api-server/src/utils/cookie.utils.ts
Owners: @o4o-platform/backend-team

fix(api-server): update KPA test account passwords to TestPassword
  apps/api-server/src/database/migrations/1737400000000-UpdateKpaTestAccountPasswords.ts
Owners: @o4o-platform/backend-team

fix(glycopharm): replace email with user icon in header
  services/web-glycopharm/src/components/common/Header.tsx
Owners: @o4o-platform/core-team

fix(api-server): update GlucoseView test account passwords to TestPassword
  apps/api-server/src/database/migrations/1737400100000-UpdateGlucoseViewTestAccountPasswords.ts
Owners: @o4o-platform/backend-team

fix(api-server): create KPA and GlucoseView test accounts
  apps/api-server/src/database/migrations/1737400200000-CreateTestAccounts.ts
Owners: @o4o-platform/backend-team

fix(api-server): fix test account migration column names
  apps/api-server/src/database/migrations/1737400000000-UpdateKpaTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400100000-UpdateGlucoseViewTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400200000-CreateTestAccounts.ts
Owners: @o4o-platform/backend-team

fix: align test accounts with DB and optimize Neture loading
  apps/api-server/src/database/migrations/1737400000000-UpdateKpaTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400100000-UpdateGlucoseViewTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400200000-CreateTestAccounts.ts
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-kpa-society/src/pages/LoginPage.tsx
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/HomePage.tsx
  services/web-neture/src/pages/LoginPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(neture): add site navigation to partner/admin dashboards
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
Owners: @o4o-platform/core-team

fix(k-cosmetics): remove consumer test account with role mismatch
  apps/api-server/src/database/migrations/1737450000000-RemoveKCosmeticsConsumerAccount.ts
  services/web-k-cosmetics/src/pages/auth/LoginPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix: GlucoseView login password and KPA user dropdown
  services/web-glucoseview/src/components/LoginModal.tsx
  services/web-kpa-society/src/components/Header.tsx
Owners: @o4o-platform/core-team

perf: add lazy loading to glycopharm and k-cosmetics
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glycopharm/src/App.tsx
  services/web-k-cosmetics/src/App.tsx
Owners: @o4o-platform/core-team

refactor: centralize test feedback forum to Neture
  services/web-glucoseview/src/components/layouts/TestGuideLayout.tsx
  services/web-glycopharm/src/components/layouts/TestGuideLayout.tsx
  services/web-k-cosmetics/src/components/layouts/TestGuideLayout.tsx
  services/web-kpa-society/src/components/layouts/TestGuideLayout.tsx
  services/web-neture/src/components/layouts/TestGuideLayout.tsx
Owners: @o4o-platform/core-team

fix(neture): return to forum after login instead of dashboard
  services/web-neture/src/pages/LoginPage.tsx
  services/web-neture/src/pages/forum/ForumWritePage.tsx
Owners: @o4o-platform/core-team

feat: update user icons to Neture style and add KPA service button
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/components/platform/HeroSection.tsx
Owners: @o4o-platform/core-team

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

docs(signage): add Phase 2 Baseline and Finalization documents
  docs/signage/SIGNAGE-PHASE2-DEPLOY-CHECKLIST.md
  docs/signage/baseline/PHASE2-BASELINE-V2.md
  docs/signage/reports/smoke-test-phase2.md
Owners: @o4o-platform/docs-team

docs(signage): add Phase 3 Pre-Design documents
  docs/signage/phase3/EXTENSION-BOUNDARIES-V2.md
  docs/signage/phase3/EXTENSION-ENTITY-PRELIMINARY-DRAFT.md
  docs/signage/phase3/GLOBAL-CONTENT-FLOW-V3.md
  docs/signage/phase3/OPERATOR-WORKSPACE-V2.md
  docs/signage/phase3/PHASE3-ROADMAP-V1.md
Owners: @o4o-platform/docs-team

docs(signage): add Phase 3 Pre-Design documents (#109)
  docs/signage/phase3/EXTENSION-BOUNDARIES-V2.md
  docs/signage/phase3/EXTENSION-ENTITY-PRELIMINARY-DRAFT.md
  docs/signage/phase3/GLOBAL-CONTENT-FLOW-V3.md
  docs/signage/phase3/OPERATOR-WORKSPACE-V2.md
  docs/signage/phase3/PHASE3-ROADMAP-V1.md
Owners: @o4o-platform/docs-team

docs(signage): add Phase 3 Design documents (FROZEN)
  docs/signage/phase3/EXTENSION-API-CONTRACT-V1.md
  docs/signage/phase3/EXTENSION-BOUNDARIES-V3.md
  docs/signage/phase3/EXTENSION-ENTITY-DESIGN-V1.md
  docs/signage/phase3/GLOBAL-CONTENT-FLOW-V4.md
  docs/signage/phase3/OPERATOR-WORKSPACE-V3.md
  docs/signage/phase3/PHASE3-DESIGN-BASELINE.md
Owners: @o4o-platform/docs-team

docs(signage): add Phase 3 Design documents (FROZEN) (#110)
  docs/signage/phase3/EXTENSION-API-CONTRACT-V1.md
  docs/signage/phase3/EXTENSION-BOUNDARIES-V3.md
  docs/signage/phase3/EXTENSION-ENTITY-DESIGN-V1.md
  docs/signage/phase3/GLOBAL-CONTENT-FLOW-V4.md
  docs/signage/phase3/OPERATOR-WORKSPACE-V3.md
  docs/signage/phase3/PHASE3-DESIGN-BASELINE.md
Owners: @o4o-platform/docs-team

feat(signage): add Phase 3 extension development foundation
  apps/api-server/src/routes/signage/extensions/common/extension.adapter.ts
  apps/api-server/src/routes/signage/extensions/common/extension.config.ts
  apps/api-server/src/routes/signage/extensions/common/extension.guards.ts
  apps/api-server/src/routes/signage/extensions/common/extension.router.ts
  apps/api-server/src/routes/signage/extensions/common/extension.types.ts
  apps/api-server/src/routes/signage/extensions/common/index.ts
  apps/api-server/src/routes/signage/extensions/index.ts
  docs/signage/phase3/DEV-FOUNDATION-README.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

feat(signage): add Phase 3 extension development foundation (#111)
  apps/api-server/src/routes/signage/extensions/common/extension.adapter.ts
  apps/api-server/src/routes/signage/extensions/common/extension.config.ts
  apps/api-server/src/routes/signage/extensions/common/extension.guards.ts
  apps/api-server/src/routes/signage/extensions/common/extension.router.ts
  apps/api-server/src/routes/signage/extensions/common/extension.types.ts
  apps/api-server/src/routes/signage/extensions/common/index.ts
  apps/api-server/src/routes/signage/extensions/index.ts
  docs/signage/phase3/DEV-FOUNDATION-README.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

feat(signage): implement Pharmacy Extension (Phase 3 P1)
  apps/api-server/src/routes/signage/extensions/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/controllers/pharmacy.controller.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/dto/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacyCategory.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacyContent.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacySeasonalCampaign.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacyTemplatePreset.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/pharmacy.routes.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/repositories/pharmacy.repository.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/services/pharmacy.service.ts
  docs/signage/phase3/PHARMACY-EXTENSION-README.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

feat(signage): implement Pharmacy Extension (Phase 3 P1) (#112)
  apps/api-server/src/routes/signage/extensions/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/controllers/pharmacy.controller.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/dto/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacyCategory.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacyContent.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacySeasonalCampaign.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/PharmacyTemplatePreset.entity.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/entities/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/index.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/pharmacy.routes.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/repositories/pharmacy.repository.ts
  apps/api-server/src/routes/signage/extensions/pharmacy/services/pharmacy.service.ts
  docs/signage/phase3/PHARMACY-EXTENSION-README.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

feat(signage): implement Cosmetics Extension (Phase 3 P2)
  apps/api-server/src/routes/signage/extensions/cosmetics/COSMETICS-EXTENSION-README.md
  apps/api-server/src/routes/signage/extensions/cosmetics/controllers/cosmetics.controller.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/cosmetics.routes.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/dto/index.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsBrand.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsBrandContent.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsContentPreset.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsTrendCard.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/index.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/index.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/repositories/cosmetics.repository.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/services/cosmetics.service.ts
  apps/api-server/src/routes/signage/extensions/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/api-team

feat(signage): implement Cosmetics Extension (Phase 3 P2) (#113)
  apps/api-server/src/routes/signage/extensions/cosmetics/COSMETICS-EXTENSION-README.md
  apps/api-server/src/routes/signage/extensions/cosmetics/controllers/cosmetics.controller.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/cosmetics.routes.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/dto/index.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsBrand.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsBrandContent.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsContentPreset.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/CosmeticsTrendCard.entity.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/entities/index.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/index.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/repositories/cosmetics.repository.ts
  apps/api-server/src/routes/signage/extensions/cosmetics/services/cosmetics.service.ts
  apps/api-server/src/routes/signage/extensions/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/api-team

docs(signage): add Phase 3 integration verification documents
  docs/signage/phase3/GLOBAL-CONTENT-MERGE-VERIFICATION.md
  docs/signage/phase3/ROLE-GUARD-INTEGRATION-CHECKLIST.md
  docs/signage/phase3/SIGNAGE-PHASE3-INTEGRATION-REPORT.md
Owners: @o4o-platform/docs-team

docs(signage): add Phase 3 integration verification documents (#114)
  docs/signage/phase3/GLOBAL-CONTENT-MERGE-VERIFICATION.md
  docs/signage/phase3/ROLE-GUARD-INTEGRATION-CHECKLIST.md
  docs/signage/phase3/SIGNAGE-PHASE3-INTEGRATION-REPORT.md
Owners: @o4o-platform/docs-team

feat(signage): implement Seller Extension (Phase 3 P3)
  apps/api-server/src/routes/signage/extensions/index.ts
  apps/api-server/src/routes/signage/extensions/seller/SELLER-EXTENSION-README.md
  apps/api-server/src/routes/signage/extensions/seller/controllers/seller.controller.ts
  apps/api-server/src/routes/signage/extensions/seller/dto/index.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerCampaign.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerContent.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerContentMetric.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerPartner.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/index.ts
  apps/api-server/src/routes/signage/extensions/seller/index.ts
  apps/api-server/src/routes/signage/extensions/seller/repositories/seller.repository.ts
  apps/api-server/src/routes/signage/extensions/seller/seller.routes.ts
  apps/api-server/src/routes/signage/extensions/seller/services/seller.service.ts
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

feat(signage): implement Seller Extension (Phase 3 P3) (#115)
  apps/api-server/src/routes/signage/extensions/index.ts
  apps/api-server/src/routes/signage/extensions/seller/SELLER-EXTENSION-README.md
  apps/api-server/src/routes/signage/extensions/seller/controllers/seller.controller.ts
  apps/api-server/src/routes/signage/extensions/seller/dto/index.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerCampaign.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerContent.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerContentMetric.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/SellerPartner.entity.ts
  apps/api-server/src/routes/signage/extensions/seller/entities/index.ts
  apps/api-server/src/routes/signage/extensions/seller/index.ts
  apps/api-server/src/routes/signage/extensions/seller/repositories/seller.repository.ts
  apps/api-server/src/routes/signage/extensions/seller/seller.routes.ts
  apps/api-server/src/routes/signage/extensions/seller/services/seller.service.ts
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

docs(signage): add Phase 3 Pilot preparation documents
  docs/signage/phase3/PILOT-EXECUTION-CHECKLIST.md
  docs/signage/phase3/PILOT-KPI-FRAMEWORK.md
  docs/signage/phase3/SIGNAGE-PHASE3-COMPLETION-REPORT.md
  docs/signage/phase3/SIGNAGE-PHASE3-PILOT-GUIDE.md
Owners: @o4o-platform/docs-team

docs(signage): add Phase 3 Pilot preparation documents (#116)
  docs/signage/phase3/PILOT-EXECUTION-CHECKLIST.md
  docs/signage/phase3/PILOT-KPI-FRAMEWORK.md
  docs/signage/phase3/SIGNAGE-PHASE3-COMPLETION-REPORT.md
  docs/signage/phase3/SIGNAGE-PHASE3-PILOT-GUIDE.md
Owners: @o4o-platform/docs-team

docs(signage): add operator and store manuals for Phase 3
  docs/signage/manuals/OPERATOR-MANUAL.md
  docs/signage/manuals/STORE-MANUAL.md
Owners: @o4o-platform/docs-team

docs(signage): add operator and store manuals for Phase 3 (#117)
  docs/signage/manuals/OPERATOR-MANUAL.md
  docs/signage/manuals/STORE-MANUAL.md
Owners: @o4o-platform/docs-team

feat(neture): implement o4o public site and admin vault
  docs/operations/EXTERNAL-MEETING-PACK-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/AdminVaultLayout.tsx
  services/web-neture/src/components/layouts/MainLayout.tsx
  services/web-neture/src/components/layouts/SupplierOpsLayout.tsx
  services/web-neture/src/pages/O4OIntroPage.tsx
  services/web-neture/src/pages/admin-vault/VaultArchitecturePage.tsx
  services/web-neture/src/pages/admin-vault/VaultDocsPage.tsx
  services/web-neture/src/pages/admin-vault/VaultNotesPage.tsx
  services/web-neture/src/pages/admin-vault/VaultOverviewPage.tsx
  services/web-neture/src/pages/admin-vault/index.ts
  services/web-neture/src/pages/examples/ExamplesPage.tsx
  services/web-neture/src/pages/examples/PharmacyStorePage.tsx
  services/web-neture/src/pages/manual/concepts/ChannelMapPage.tsx
  services/web-neture/src/pages/manual/concepts/ConceptsPage.tsx
  services/web-neture/src/pages/o4o/O4OMainPage.tsx
  services/web-neture/src/utils/adminVaultAuth.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(neture): add other targets page and update channel descriptions
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/o4o/O4OMainPage.tsx
  services/web-neture/src/pages/o4o/OtherTargetsPage.tsx
Owners: @o4o-platform/core-team
