Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(care): 저장 완료 후 1.2초 뒤 이전 화면으로 자동 이동
  services/web-glucoseview/src/pages/patient/GlucoseInputPage.tsx
  services/web-glycopharm/src/pages/patient/GlucoseInputPage.tsx
Owners: @o4o-platform/core-team

refactor(neture): WO-O4O-NETURE-PARTNER-CONTROLLER-SPLIT-V1 — partner.controller.ts 분해
  apps/api-server/src/modules/neture/controllers/admin-partner.controller.ts
  apps/api-server/src/modules/neture/controllers/partner-commerce.controller.ts
  apps/api-server/src/modules/neture/controllers/partner-dashboard.controller.ts
  apps/api-server/src/modules/neture/controllers/partner-recruitment.controller.ts
  apps/api-server/src/modules/neture/controllers/partner.controller.ts
Owners: @o4o-platform/backend-team

docs(audit): IR-O4O-NETURE-PARTNER-CONTROLLER-SPLIT-POST-CHECK-V1
  docs/audit/IR-O4O-NETURE-PARTNER-CONTROLLER-SPLIT-POST-CHECK-V1.md
Owners: @o4o-platform/docs-team

fix(auth): bcrypt → bcryptjs 통일 — 로그인 401 버그 수정
  apps/api-server/src/controllers/admin/AdminUserController.ts
  apps/api-server/src/database/migrations/1770601460383-ActivateAdminUser.ts
  apps/api-server/src/modules/admin/seed-store-hub.controller.ts
  apps/api-server/src/scripts/create-admin-user.ts
  apps/api-server/src/scripts/create-manager-user.ts
  apps/api-server/src/scripts/diagnose-admin-login.ts
  apps/api-server/src/scripts/list-and-reset-all-users.ts
  apps/api-server/src/scripts/reset-admin-password.ts
  apps/api-server/src/utils/auth.utils.ts
Owners: @o4o-platform/backend-team

feat(tools): WO-NETURE-FIRSTMALL-CONVERTER-V1 — FirstMall Excel → O4O CSV 변환기
  tools/firstmall-converter/barcode.ts
  tools/firstmall-converter/index.ts
  tools/firstmall-converter/mapper.ts
  tools/firstmall-converter/parser.ts
  tools/firstmall-converter/types.ts
  tools/firstmall-converter/writer.ts
Owners: @o4o-platform/core-team

docs: audit/investigation reports + neture service split files
  apps/api-server/src/modules/neture/services/catalog.service.ts
  apps/api-server/src/modules/neture/services/neture-dashboard.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/neture/services/partner-contract.service.ts
  apps/api-server/src/modules/neture/services/partnership.service.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  docs/audit/IR-NETURE-CSV-IMPORT-POST-REFACTOR-AUDIT-V1.md
  docs/audit/IR-NETURE-FIRSTMALL-BASIC-BULK-IMPORT-VERIFY-V1.md
  docs/audit/IR-NETURE-FIRSTMALL-REAL-DATA-VERIFY-V1.md
  docs/audit/IR-O4O-GLUCOSEVIEW-FUNCTION-STATE-AUDIT-V1.md
  docs/audit/IR-O4O-GLYCOPHARM-BASIC-FUNCTION-AUDIT-V1.md
  docs/audit/IR-O4O-GLYCOPHARM-GLUCOSEVIEW-PHASE1-VERIFY-V1.md
  docs/audit/IR-O4O-GLYCOPHARM-PATIENT-INPUT-RUNTIME-VERIFY-V1.md
  docs/investigations/IR-O4O-AUTHENTICATION-SERVICE-SPLIT-POST-CHECK-V1.md
  docs/investigations/IR-O4O-NETURE-SERVICE-SPLIT-PREP-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

fix(api): /users/me/contact 403 수정 — requireAdmin 이전에 라우트 등록
  apps/api-server/src/routes/users.routes.ts
Owners: @o4o-platform/api-team

refactor(store): WO-O4O-UNIFIED-STORE-PUBLIC-ROUTES-SPLIT-V1 — unified-store-public.routes.ts 분해
  apps/api-server/src/routes/platform/store-public/store-public-content.handler.ts
  apps/api-server/src/routes/platform/store-public/store-public-home.handler.ts
  apps/api-server/src/routes/platform/store-public/store-public-product.handler.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  apps/api-server/src/routes/platform/unified-store-public.routes.ts
Owners: @o4o-platform/api-team

fix(care): patient-profile 500 에러 수정 + 생년월일 달력 범위 제한
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260322000001-CreatePatientHealthProfiles.ts
  services/web-glucoseview/src/pages/patient/ProfilePage.tsx
  services/web-glycopharm/src/pages/patient/ProfilePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs(audit): IR-O4O-UNIFIED-STORE-PUBLIC-ROUTES-SPLIT-POST-CHECK-V1
  docs/audit/IR-O4O-UNIFIED-STORE-PUBLIC-ROUTES-SPLIT-POST-CHECK-V1.md
Owners: @o4o-platform/docs-team

feat(care): WO-GLYCOPHARM-PATIENT-CARE-GUIDELINE-V1 — 당뇨 케어 가이드라인 페이지
  services/web-glucoseview/src/pages/patient/CareGuidelinePage.tsx
  services/web-glycopharm/src/pages/patient/CareGuidelinePage.tsx
Owners: @o4o-platform/core-team

feat(neture): WO-O4O-DASHBOARD-SIDEBAR-CONVERSION-V1 — 상단 메뉴 → 좌측 사이드바 변환
  services/web-neture/src/components/layouts/PartnerSpaceLayout.tsx
  services/web-neture/src/components/layouts/SupplierOpsLayout.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): GET /pharmacy/customers/:id 엔드포인트 추가
  apps/api-server/src/routes/glycopharm/controllers/pharmacy.controller.ts
Owners: @o4o-platform/api-team

fix(glycopharm): sourceDomain=signage → signage-media (400 에러 수정)
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
Owners: @o4o-platform/core-team

fix(auth): WO-O4O-AUTH-HASH-STANDARDIZATION-AUDIT-V1 — bcryptjs 단일화 및 SSOT 고정
  apps/api-server/src/common/docs/module-structure.md
  apps/api-server/src/controllers/UserManagementController.ts
  apps/api-server/src/controllers/admin/AdminUserController.ts
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/database/migrations/1737000000000-SeedProductionTestAccounts.ts
  apps/api-server/src/database/migrations/1737100000000-UpdateGlucoseViewTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737100200000-SeedAdditionalTestAccounts.ts
  apps/api-server/src/database/migrations/1770601460383-ActivateAdminUser.ts
  apps/api-server/src/database/migrations/2026012100001-CreateO4OAdminVaultAccount.ts
  apps/api-server/src/database/migrations/20260207100000-SeedKpaTestAccounts.ts
  apps/api-server/src/database/migrations/20260216200001-CreateKpaAdminAccount.ts
  apps/api-server/src/modules/admin/care-test-data.controller.ts
  apps/api-server/src/modules/admin/seed-store-hub.controller.ts
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/modules/auth/controllers/password.controller.ts
  apps/api-server/src/modules/auth/utils/auth.utils.ts
  apps/api-server/src/modules/user/controllers/user.controller.ts
  apps/api-server/src/routes/admin/seed-test-accounts.ts
  apps/api-server/src/routes/glucoseview/services/pharmacist.service.ts
  apps/api-server/src/scripts/create-admin-user.ts
  apps/api-server/src/scripts/create-manager-user.ts
  apps/api-server/src/scripts/diagnose-admin-login.ts
  apps/api-server/src/scripts/list-and-reset-all-users.ts
  apps/api-server/src/scripts/reset-admin-password.ts
  apps/api-server/src/services/AuthService.ts
  apps/api-server/src/services/UserService.ts
  apps/api-server/src/services/passwordResetService.ts
Owners: @o4o-platform/docs-team, @o4o-platform/backend-team, @o4o-platform/api-team

refactor(cms): WO-O4O-CMS-CONTENT-ROUTES-SPLIT-V1 — cms-content.routes.ts 분해
  apps/api-server/src/routes/cms-content/cms-content-mutation.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-query.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-slot.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-utils.ts
  apps/api-server/src/routes/cms-content/cms-content.routes.ts
Owners: @o4o-platform/api-team

docs(audit): IR-O4O-CMS-CONTENT-ROUTES-SPLIT-POST-CHECK-V1
  docs/audit/IR-O4O-CMS-CONTENT-ROUTES-SPLIT-POST-CHECK-V1.md
Owners: @o4o-platform/docs-team

feat(glycopharm): WO-GLYCOPHARM-PHARMACIST-GUIDELINE-V1 — 약국 케어 가이드라인 페이지
  docs/audit/IR-O4O-GLYCOPHARM-CARE-GUIDELINE-AND-FORUM-READINESS-AUDIT-V1.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/PharmacistPlaceholderPage.tsx
  services/web-glycopharm/src/pages/care/CareSubNav.tsx
  services/web-glycopharm/src/pages/care/PharmacistGuidelinePage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(migration): revert auth.utils import — migrations must be self-contained
  apps/api-server/src/database/migrations/1737000000000-SeedProductionTestAccounts.ts
  apps/api-server/src/database/migrations/1737100000000-UpdateGlucoseViewTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737100200000-SeedAdditionalTestAccounts.ts
  apps/api-server/src/database/migrations/1770601460383-ActivateAdminUser.ts
  apps/api-server/src/database/migrations/2026012100001-CreateO4OAdminVaultAccount.ts
  apps/api-server/src/database/migrations/20260207100000-SeedKpaTestAccounts.ts
  apps/api-server/src/database/migrations/20260216200001-CreateKpaAdminAccount.ts
Owners: @o4o-platform/backend-team

feat(mail-core): WO-O4O-MAIL-SERVICE-SPLIT-V1 — MailService facade + sub-services
  packages/mail-core/src/mail-render.helper.ts
  packages/mail-core/src/mail-template.service.ts
  packages/mail-core/src/mail-transport.service.ts
  packages/mail-core/src/mail.service.ts
Owners: @o4o-platform/core-team

docs(audit): IR-O4O-MAIL-SERVICE-SPLIT-POST-CHECK-V1
  docs/audit/IR-O4O-MAIL-SERVICE-SPLIT-POST-CHECK-V1.md
Owners: @o4o-platform/docs-team

feat(signage): WO-O4O-CONTENT-BLOCK-LIBRARY-SPLIT-V1 — ContentBlockLibrary 1,237줄 → container + sub-components + hook 분해
  apps/admin-dashboard/src/pages/digital-signage/v2/ContentBlockLibrary.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/content-blocks/BlockDeleteDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/content-blocks/BlockEditorDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/content-blocks/BlockPreviewDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/content-blocks/ContentBlockEditors.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/content-blocks/content-block-constants.ts
  apps/admin-dashboard/src/pages/digital-signage/v2/content-blocks/useContentBlocks.ts
Owners: @o4o-platform/admin-team

feat(auth): WO-O4O-AUTH-MONITORING-V1 — login event logging + operator API
  apps/api-server/src/routes/operator/analytics.routes.ts
  apps/api-server/src/services/auth/auth-login.service.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team

docs(audit): IR-O4O-CONTENT-BLOCK-LIBRARY-SPLIT-POST-CHECK-V1 — post-check 조사 완료
  docs/audit/IR-O4O-CONTENT-BLOCK-LIBRARY-SPLIT-POST-CHECK-V1.md
Owners: @o4o-platform/docs-team

feat(signage): WO-O4O-TEMPLATE-BUILDER-SPLIT-V1 — TemplateBuilder 1,038줄 → 9파일 분해
  apps/admin-dashboard/src/pages/digital-signage/v2/TemplateBuilder.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/LayoutPresetDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/NewTemplateDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/TemplateBuilderCanvas.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/TemplateBuilderSidebar.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/TemplatePreviewDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/ZoneEditorDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/template-builder-constants.ts
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/useTemplateBuilder.ts
Owners: @o4o-platform/admin-team

fix(neture): supplier dashboard 500 — fix nonexistent table/column references
  apps/api-server/src/modules/neture/controllers/supplier-settlement.controller.ts
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Owners: @o4o-platform/backend-team

fix(neture): supplier dashboard 500 — fix nonexistent table/column references
  apps/api-server/src/modules/neture/controllers/supplier-settlement.controller.ts
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Owners: @o4o-platform/backend-team

docs(audit): IR-O4O-TEMPLATE-BUILDER-SPLIT-POST-CHECK-V1 — post-check 조사 완료
  docs/audit/IR-O4O-TEMPLATE-BUILDER-SPLIT-POST-CHECK-V1.md
Owners: @o4o-platform/docs-team

feat(glycopharm): WO-GLYCOPHARM-GUIDELINE-CMS-MIGRATION-V1 + WO-COACHING-CTA-FIX + WO-AI-CHAT-500-FIX
  apps/api-server/src/database/migrations/20260322100000-SeedGlycopharmForumCategory.ts
  apps/api-server/src/database/migrations/20260322120000-UpdateCareAiModelToGemini25Flash.ts
  apps/api-server/src/modules/care/care-pharmacy-context.middleware.ts
  apps/api-server/src/modules/care/controllers/care-ai-chat.controller.ts
  apps/api-server/src/modules/care/controllers/care-llm-insight.controller.ts
  apps/api-server/src/modules/care/entities/ai-model-setting.entity.ts
  apps/api-server/src/modules/care/services/llm/care-ai-chat.service.ts
  apps/api-server/src/modules/care/services/llm/care-coaching-draft.service.ts
  apps/api-server/src/modules/care/services/llm/care-llm-insight.service.ts
  apps/api-server/src/modules/care/services/llm/patient-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/controllers/store-ai.controller.ts
  apps/api-server/src/modules/store-ai/services/product-ai-tagging.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-product-insight.service.ts
  apps/api-server/src/routes/ai-admin.routes.ts
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/services/ai-admin.service.ts
  apps/api-server/src/services/ai-proxy.service.ts
  apps/api-server/src/utils/gemini.helper.ts
  packages/ai-core/src/orchestration/orchestrator.ts
  packages/ai-core/src/orchestration/providers/gemini.provider.ts
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/cms.ts
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/care/CareAiChatPanel.tsx
  services/web-glycopharm/src/pages/care/PatientDetailPage.tsx
  services/web-glycopharm/src/pages/care/PharmacistGuidelinePage.tsx
  services/web-glycopharm/src/pages/care/patient-tabs/CoachingTab.tsx
  services/web-glycopharm/src/pages/operator/GuidelineManagementPage.tsx
  services/web-glycopharm/src/pages/patient/CareGuidelinePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team, @o4o-platform/devops-team

fix(glycopharm): add content-editor package to Dockerfile
  services/web-glycopharm/Dockerfile
Owners: @o4o-platform/core-team

fix(glycopharm): add content-editor build step to Dockerfile
  services/web-glycopharm/Dockerfile
Owners: @o4o-platform/core-team

fix(glycopharm): add content-editor build step to Dockerfile
  services/web-glycopharm/Dockerfile
Owners: @o4o-platform/core-team

feat(vendors): WO-O4O-VENDORS-ADMIN-PAGES-SPLIT-V1 — VendorsAdmin + VendorsCommissionAdmin 분해
  apps/admin-dashboard/src/pages/vendors/VendorsAdmin.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsCommissionAdmin.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/VendorsScreenOptions.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/VendorsTable.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/useVendorsAdmin.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/vendors-admin-types.ts
  apps/admin-dashboard/src/pages/vendors/vendors-commission/CommissionScreenOptions.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/CommissionSummaryCards.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/CommissionTable.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/useVendorsCommission.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/vendors-commission-types.ts
Owners: @o4o-platform/admin-team

fix(neture): make supplier copilot resilient to missing checkout_orders table
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Owners: @o4o-platform/backend-team

fix(neture): make supplier copilot resilient to missing checkout_orders table
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Owners: @o4o-platform/backend-team

docs(audit): IR-O4O-VENDORS-ADMIN-PAGES-SPLIT-POST-CHECK-V1 — 분해 사후 점검 보고서
  docs/audit/IR-O4O-VENDORS-ADMIN-PAGES-SPLIT-POST-CHECK-V1.md
Owners: @o4o-platform/docs-team

feat(ai-core): WO-PLATFORM-AI-ORCHESTRATION-LAYER-V1 — execute() 통합 + gemini.helper 제거
  apps/api-server/src/modules/care/services/llm/care-ai-chat.service.ts
  apps/api-server/src/modules/care/services/llm/care-coaching-draft.service.ts
  apps/api-server/src/modules/care/services/llm/care-llm-insight.service.ts
  apps/api-server/src/modules/care/services/llm/patient-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/services/product-ai-tagging.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-product-insight.service.ts
  apps/api-server/src/routes/siteguide/siteguide.routes.ts
  apps/api-server/src/services/ai-query.service.ts
  apps/api-server/src/services/app-registry.service.ts
  apps/api-server/src/utils/ai-config-resolver.ts
  apps/api-server/src/utils/gemini.helper.ts
  packages/ai-core/src/orchestration/execute.ts
  packages/ai-core/src/orchestration/index.ts
  packages/ai-core/src/orchestration/providers/gemini.provider.ts
  packages/ai-core/src/orchestration/providers/openai.provider.ts
  packages/ai-core/src/orchestration/types.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(glucoseview): WO-O4O-GLUCOSEVIEW-REGISTER-ROLE-MISMATCH-FIX-V1 — 환자 전용 회원가입
  services/web-glucoseview/src/pages/RegisterPage.tsx
Owners: @o4o-platform/core-team

feat(operator): WO-O4O-AUTH-ANALYTICS-UI-V1 — auth log analytics page
  apps/admin-dashboard/src/pages/operator/AuthAnalyticsPage.tsx
  apps/admin-dashboard/src/routes/platform.routes.tsx
Owners: @o4o-platform/admin-team

docs: add gcloud/gh CLI availability to CLAUDE.md
  CLAUDE.md
Owners: @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
