Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

feat(kpa-signage): final UX cleanup — tab reorder, search, DataTable, hub clarity (WO-KPA-SIGNAGE-UI-FINAL-CLEANUP-V1)
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-COMPLETION-CERTIFICATE-V1 — 수료 완료 및 인증서 표시
  services/web-glycopharm/src/api/lms.ts
  services/web-glycopharm/src/pages/education/CourseDetailPage.tsx
Owners: @o4o-platform/core-team

docs(kpa-signage): add KPA-SIGNAGE-STRUCTURE-V1 baseline document
  docs/baseline/KPA-SIGNAGE-STRUCTURE-V1.md
Owners: @o4o-platform/docs-team

docs(audit): IR-KPA-KCOS-MENU-HOME-BASELINE-AUDIT-V1 — KPA vs K-Cosmetics 메뉴/홈 기준선 조사
  docs/audit/IR-KPA-KCOS-MENU-HOME-BASELINE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(signage): align Core V1 — remove upload source type, validate HQ media URL, hold schedule tab
  apps/api-server/src/routes/signage/controllers/global-content.controller.ts
  apps/api-server/src/routes/signage/dto/index.ts
  packages/digital-signage-core/src/backend/entities/SignageMedia.entity.ts
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(k-cosmetics): WO-KCOS-HOME-DYNAMIC-IMPL-V1 — 홈 공지사항 CMS 동적화
  services/web-k-cosmetics/src/api/home.ts
  services/web-k-cosmetics/src/components/home/NoticeSection.tsx
  services/web-k-cosmetics/src/config/homeStaticData.ts
  services/web-k-cosmetics/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

docs(audit): IR-KCOS-HOME-DYNAMIC-V2-BASELINE-AUDIT-V1 — 홈 동적화 V2 기준선 조사
  docs/audit/IR-KCOS-HOME-DYNAMIC-V2-BASELINE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(signage): residual code alignment — video source validation + remove dead clone methods
  apps/api-server/src/routes/signage/extensions/common/extension.adapter.ts
  apps/api-server/src/routes/signage/services/media.service.ts
Owners: @o4o-platform/api-team

feat(k-cosmetics): WO-KCOS-HOME-DYNAMIC-IMPL-V2 — NowRunning + Partners 동적화
  services/web-k-cosmetics/src/api/home.ts
  services/web-k-cosmetics/src/config/homeStaticData.ts
  services/web-k-cosmetics/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

feat(market-trial): WO-CLEANUP-1~3 + WO-MONITOR-1/UI-1 — Neture canonical 구조 정리
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260417200000-DropMarketTrialServiceApprovals.ts
  apps/api-server/src/database/migrations/20260417300000-CreateMarketTrialForumSyncFailures.ts
  apps/api-server/src/database/migrations/20260417400000-MigrateApprovedTrialToRecruiting.ts
  apps/api-server/src/extensions/trial-forum-monitor/entities/MarketTrialForumSyncFailure.entity.ts
  apps/api-server/src/routes/market-trial-operator.routes.ts
  docs/audit/IR-MARKET-TRIAL-DEAD-CODE-AUDIT-V1.md
  docs/audit/IR-MARKET-TRIAL-NETURE-CANONICAL-RESTART-AUDIT-V1.md
  packages/market-trial/src/entities/MarketTrial.entity.ts
  packages/market-trial/src/entities/MarketTrialServiceApproval.entity.ts
  packages/market-trial/src/entities/index.ts
  packages/market-trial/src/types/MarketTrial.types.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalsPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(audit): IR-KCOS-HOME-DYNAMIC-V3-BASELINE-AUDIT-V1 — 홈 동적화 V3 기준선 조사
  docs/audit/IR-KCOS-HOME-DYNAMIC-V3-BASELINE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(signage): implement forced content injection for KPA store playlists
  apps/api-server/src/database/migrations/20260418100000-CreateSignageForcedContent.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/store-playlist.controller.ts
  apps/api-server/src/routes/signage/controllers/forced-content.controller.ts
  apps/api-server/src/routes/signage/signage.routes.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/signage/ForcedContentPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(k-cosmetics): connect heroSlides to CMS slots with static fallback
  services/web-k-cosmetics/src/api/home.ts
  services/web-k-cosmetics/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): WO-O4O-GLYCOPHARM-SIGNAGE-PHASE1-V1 — 사이니지 최소 실행 루프
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/store-management/signage/SignagePlaybackPage.tsx
  services/web-glycopharm/src/pages/store-management/signage/StoreSignageMainPage.tsx
  services/web-glycopharm/src/pages/store-management/signage/index.ts
Owners: @o4o-platform/core-team

feat(glycopharm): WO-O4O-GLYCOPHARM-SIGNAGE-OPERATOR-UX-V1 — Operator 사이니지 UX 개선
  services/web-glycopharm/src/pages/operator/signage/HqMediaPage.tsx
  services/web-glycopharm/src/pages/operator/signage/HqPlaylistsPage.tsx
Owners: @o4o-platform/core-team

feat(store): add platform-wide common Store Settings API (WO-STORE-COMMON-SETTINGS-FOUNDATION-V1)
  apps/api-server/src/routes/cosmetics/cosmetics.routes.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/store-settings.controller.ts
  apps/api-server/src/routes/o4o-store/store-settings.types.ts
Owners: @o4o-platform/api-team

feat(kpa/store-settings): migrate PharmacyStorePage to common Store Settings API (WO-STORE-COMMON-SETTINGS-KPA-MIGRATION-V1)
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyStorePage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm/signage): WO-O4O-GLYCOPHARM-SIGNAGE-STORE-UX-V1 — KPA canonical store signage 이식
  services/web-glycopharm/src/pages/store-management/signage/StoreSignageMainPage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm/store-settings): align to common Store Settings Foundation (WO-STORE-COMMON-SETTINGS-GLYCOPHARM-ALIGNMENT-V1)
  services/web-glycopharm/src/pages/store-management/PharmacySettings.tsx
Owners: @o4o-platform/core-team

feat(glycopharm/signage): WO-O4O-GLYCOPHARM-SIGNAGE-SCHEDULE-V1 — Schedule 탭 활성화
  services/web-glycopharm/src/api/signageSchedule.ts
  services/web-glycopharm/src/pages/store-management/signage/StoreSignageMainPage.tsx
Owners: @o4o-platform/core-team

feat(ai): WO-AI-CONTENT-TRANSFORM + WO-AI-PROMPT-STRUCTURE-DESIGN
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/services/ai-prompts/blog.ts
  apps/api-server/src/services/ai-prompts/common.ts
  apps/api-server/src/services/ai-prompts/index.ts
  apps/api-server/src/services/ai-prompts/pop.ts
  apps/api-server/src/services/ai-prompts/productDetail.ts
  packages/content-editor/src/components/AiContentModal.tsx
  packages/content-editor/src/components/Toolbar.tsx
  packages/content-editor/src/components/index.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat(k-cosmetics): add StoreSettingsPage with common Foundation API (WO-STORE-COMMON-SETTINGS-KCOS-UI-V1)
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/store/StoreSettingsPage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm-signage): WO-O4O-GLYCOPHARM-SIGNAGE-FORCED-CONTENT-V1
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/operator/signage/ForcedContentPage.tsx
Owners: @o4o-platform/core-team

feat(k-cosmetics): add test account quick-fill button on login page
  services/web-k-cosmetics/src/pages/auth/LoginPage.tsx
Owners: @o4o-platform/core-team

feat(k-cosmetics): 매장 경영자 테스트 계정 로그인 버튼 추가
  services/web-k-cosmetics/src/pages/auth/LoginPage.tsx
Owners: @o4o-platform/core-team

fix(store-settings): use "isActive" quoted column name in organizations query
  apps/api-server/src/routes/o4o-store/controllers/store-settings.controller.ts
Owners: @o4o-platform/api-team

feat(k-cosmetics): home dynamic data, tourist hub stats, menu/community/library alignment
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-tourist-hub.controller.ts
  apps/api-server/src/routes/cosmetics/cosmetics.routes.ts
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-k-cosmetics/src/api/home.ts
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-k-cosmetics/src/config/homeStaticData.ts
  services/web-k-cosmetics/src/pages/HomePage.tsx
  services/web-k-cosmetics/src/pages/community/CommunityHubPage.tsx
  services/web-k-cosmetics/src/pages/library/ContentLibraryPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(store-settings): use "updatedAt" quoted column in organizations UPDATE
  apps/api-server/src/routes/o4o-store/controllers/store-settings.controller.ts
Owners: @o4o-platform/api-team

docs(k-cosmetics): add K-Cosmetics Phase1 audit reports
  docs/audit/IR-KCOS-COMMUNITY-CONTENT-INTEGRATION-BASELINE-AUDIT-V1.md
  docs/audit/IR-KCOS-HOME-DYNAMIC-PHASE1-COMPLETION-V1.md
  docs/audit/IR-KCOS-HOME-QUICK-ACTION-STATUS-BASELINE-AUDIT-V1.md
  docs/audit/IR-KCOS-MENU-STRUCTURE-ALIGN-BASELINE-AUDIT-V1.md
  docs/audit/IR-KCOS-TOURIST-HUB-STATS-BACKEND-BASELINE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): WO-KPA-STORE-LOCAL-PRODUCT-RICHTEXT-INTEGRATION-V1
  services/web-kpa-society/src/pages/pharmacy/StoreLocalProductsPage.tsx
Owners: @o4o-platform/core-team

fix(kpa-society): align store header nav items with main header
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team

feat(k-cosmetics): WO-KCOS-COMMUNITY-FORUM-STRUCTURE-ALIGN-V1 — 포럼/커뮤니티 구조 정리
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-k-cosmetics/src/pages/community/CommunityHubPage.tsx
Owners: @o4o-platform/core-team

fix(signage): use organization_members for universal store auth fallback
  apps/api-server/src/middleware/signage-role.middleware.ts
Owners: @o4o-platform/backend-team

fix(store-settings): resolve slug from platform_store_slugs instead of organizations.code
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-hub.controller.ts
Owners: @o4o-platform/api-team

fix(glycopharm): route header "약국 HUB" menu to /hub instead of /store/hub
  services/web-glycopharm/src/components/common/Header.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): WO-STORE-SIDEBAR-RESTRUCTURE-V1 — 사이드바 메뉴 재구성
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team

fix(kpa-store): remove capability filtering to restore all sidebar menus
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team

fix(kpa-store): remove KpaGlobalHeader dependency from sidebar fix
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team

feat(platform): WO-O4O-GLOBAL-LAYOUT-UNIFICATION-V1 — unified GlobalHeader across all 4 services
  docs/architecture/ui/global-header-standard-v1.md
  docs/audit/IR-O4O-GLOBAL-LAYOUT-HEADER-AUDIT-V1.md
  packages/ui/src/layout/GlobalHeader.tsx
  packages/ui/src/layout/index.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/GlycoGlobalHeader.tsx
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/components/layouts/MainLayout.tsx
  services/web-glycopharm/src/components/layouts/OperatorLayoutWrapper.tsx
  services/web-glycopharm/src/config/navigation.ts
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/components/KCosGlobalHeader.tsx
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
  services/web-k-cosmetics/src/components/layouts/MainLayout.tsx
  services/web-k-cosmetics/src/components/layouts/OperatorLayoutWrapper.tsx
  services/web-k-cosmetics/src/components/layouts/PartnerLayout.tsx
  services/web-k-cosmetics/src/config/navigation.ts
  services/web-kpa-society/src/components/DemoLayout.tsx
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
  services/web-kpa-society/src/components/Layout.tsx
  services/web-kpa-society/src/components/admin/AdminLayout.tsx
  services/web-kpa-society/src/components/intranet/IntranetLayout.tsx
  services/web-kpa-society/src/components/kpa-operator/KpaOperatorLayoutWrapper.tsx
  services/web-kpa-society/src/config/navigation.ts
  services/web-neture/src/components/NetureGlobalHeader.tsx
  services/web-neture/src/components/layouts/AdminLayoutWrapper.tsx
  services/web-neture/src/components/layouts/MainLayout.tsx
  services/web-neture/src/components/layouts/NetureLayout.tsx
  services/web-neture/src/components/layouts/OperatorLayoutWrapper.tsx
  services/web-neture/src/components/layouts/PartnerAccountLayout.tsx
  services/web-neture/src/components/layouts/PartnerSpaceLayout.tsx
  services/web-neture/src/components/layouts/SupplierAccountLayout.tsx
  services/web-neture/src/components/layouts/SupplierOpsLayout.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/config/navigation.ts
Owners: @o4o-platform/docs-team, @o4o-platform/ui-team, @o4o-platform/core-team

feat(kpa-store): WO-STORE-B2B-ORDER-EXECUTION-FLOW-V1 — B2B order creation and store order management
  apps/api-server/src/routes/kpa/controllers/kpa-checkout.controller.ts
  services/web-kpa-society/src/api/checkout.ts
  services/web-kpa-society/src/pages/pharmacy/StoreOrderWorktablePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreOrdersPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
