Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

chore: sync glucoseview-web to services for deployment
  services/web-glucoseview/README.md
  services/web-glucoseview/eslint.config.js
  services/web-glucoseview/package-lock.json
  services/web-glucoseview/package.json
  services/web-glucoseview/public/vite.svg
  services/web-glucoseview/src/pages/AboutPage.tsx
  services/web-glucoseview/src/pages/AdminPage.tsx
  services/web-glucoseview/src/pages/SettingsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/devops-team

feat(glucoseview): 홈 배너, 파트너 배너, 푸터, 관리자 기능 추가
  apps/glucoseview-web/src/components/Layout.tsx
  apps/glucoseview-web/src/index.css
  apps/glucoseview-web/src/pages/AdminPage.tsx
  apps/glucoseview-web/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

chore: sync glucoseview-web to services for deployment
  services/web-glucoseview/src/components/Layout.tsx
  services/web-glucoseview/src/index.css
  services/web-glucoseview/src/pages/AdminPage.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

feat(glucoseview): add AI Chat assistant with prompt registry
  apps/glucoseview-web/src/components/Layout.tsx
  apps/glucoseview-web/src/components/ai/AIChatButton.tsx
  apps/glucoseview-web/src/components/ai/AIChatWidget.tsx
  apps/glucoseview-web/src/components/ai/index.ts
  apps/glucoseview-web/src/components/ai/prompts.ts
  apps/glucoseview-web/src/components/ai/types.ts
  packages/ai-common-core/package.json
  packages/ai-common-core/src/components/AIChatButton.tsx
  packages/ai-common-core/src/components/AIChatWidget.tsx
  packages/ai-common-core/src/components/index.ts
  packages/ai-common-core/src/index.ts
  packages/ai-common-core/src/prompts/glucoseview/index.ts
  packages/ai-common-core/src/prompts/index.ts
  packages/ai-common-core/src/services/AIService.ts
  packages/ai-common-core/src/services/PromptRegistry.ts
  packages/ai-common-core/src/services/index.ts
  packages/ai-common-core/src/types/index.ts
  packages/ai-common-core/tsconfig.json
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

deploy(glucoseview): sync AI chat feature to services for Cloud Run
  services/web-glucoseview/src/components/Layout.tsx
  services/web-glucoseview/src/components/ai/AIChatButton.tsx
  services/web-glucoseview/src/components/ai/AIChatWidget.tsx
  services/web-glucoseview/src/components/ai/index.ts
  services/web-glucoseview/src/components/ai/prompts.ts
  services/web-glucoseview/src/components/ai/types.ts
Owners: @o4o-platform/core-team

fix(ai-common-core): simplify dependencies for CI compatibility
  packages/ai-common-core/package.json
Owners: @o4o-platform/devops-team

fix(ci): add fallback for pnpm lockfile mismatch
  .github/actions/setup-build-env/action.yml
  .husky/pre-commit
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(glucoseview): improve UI and add MyPage
  apps/glucoseview-web/src/App.tsx
  apps/glucoseview-web/src/components/Layout.tsx
  apps/glucoseview-web/src/pages/HomePage.tsx
  apps/glucoseview-web/src/pages/MyPage.tsx
  services/web-glucoseview/src/App.tsx
  services/web-glucoseview/src/components/Layout.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glucoseview/src/pages/MyPage.tsx
Owners: @o4o-platform/core-team

fix(ci): add --no-frozen-lockfile to fallback install
  .github/actions/setup-build-env/action.yml
Owners: @o4o-platform/devops-team

fix(glucoseview): adjust banner sizes to match site width
  apps/glucoseview-web/src/pages/HomePage.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

fix(glucoseview): partner section infinite scroll marquee
  apps/glucoseview-web/src/pages/HomePage.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

fix(glucoseview): change age to birth_year in customer.service.ts
  apps/api-server/src/routes/glucoseview/services/customer.service.ts
Owners: @o4o-platform/api-team

fix(glycopharm): use npm instead of pnpm in Dockerfile
  services/web-glycopharm/Dockerfile
Owners: @o4o-platform/core-team

feat(glycopharm): Smart Display & Forum Request API integration
  apps/api-server/src/database/migrations/9980000000000-CreateGlycopharmDisplayTables.ts
  apps/api-server/src/routes/glycopharm/controllers/display.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/forum-request.controller.ts
  apps/api-server/src/routes/glycopharm/entities/display-media.entity.ts
  apps/api-server/src/routes/glycopharm/entities/display-playlist-item.entity.ts
  apps/api-server/src/routes/glycopharm/entities/display-playlist.entity.ts
  apps/api-server/src/routes/glycopharm/entities/display-schedule.entity.ts
  apps/api-server/src/routes/glycopharm/entities/forum-category-request.entity.ts
  apps/api-server/src/routes/glycopharm/entities/index.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/education/EducationPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPage.tsx
  services/web-glycopharm/src/pages/forum/MyRequestsPage.tsx
  services/web-glycopharm/src/pages/forum/RequestCategoryPage.tsx
  services/web-glycopharm/src/pages/operator/ForumRequestsPage.tsx
  services/web-glycopharm/src/pages/partner/PartnerDashboard.tsx
  services/web-glycopharm/src/pages/pharmacy/PharmacyOrders.tsx
  services/web-glycopharm/src/pages/pharmacy/PharmacyProducts.tsx
  services/web-glycopharm/src/pages/pharmacy/PharmacySettings.tsx
  services/web-glycopharm/src/pages/pharmacy/smart-display/MediaLibraryPage.tsx
  services/web-glycopharm/src/pages/pharmacy/smart-display/PlaylistForumPage.tsx
  services/web-glycopharm/src/pages/pharmacy/smart-display/PlaylistsPage.tsx
  services/web-glycopharm/src/pages/pharmacy/smart-display/SchedulesPage.tsx
  services/web-glycopharm/src/pages/pharmacy/smart-display/SmartDisplayPage.tsx
  services/web-glycopharm/src/pages/store/StoreProductDetail.tsx
  services/web-glycopharm/src/pages/store/StoreProducts.tsx
  services/web-glycopharm/src/services/api.ts
  services/web-glycopharm/src/types/categoryRequest.ts
  services/web-glycopharm/src/types/index.ts
  services/web-glycopharm/src/types/signage.ts
  services/web-glycopharm/src/vite-env.d.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat: frontend API integration + UI guidelines
  apps/glycopharm-web/package.json
  apps/glycopharm-web/src/App.tsx
  apps/glycopharm-web/src/api/glycopharm.ts
  apps/glycopharm-web/src/pages/apply/MyApplicationsPage.tsx
  apps/glycopharm-web/src/pages/apply/PharmacyApplyPage.tsx
  apps/glycopharm-web/src/pages/pharmacy/PharmacyDashboard.tsx
  services/web-kpa-society/package-lock.json
  services/web-kpa-society/package.json
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/kpa.ts
  services/web-kpa-society/src/components/Navigation.tsx
  services/web-kpa-society/src/pages/MemberApplyPage.tsx
  services/web-kpa-society/src/pages/MyApplicationsPage.tsx
  services/web-kpa-society/src/pages/OrganizationDetailPage.tsx
  services/web-kpa-society/src/pages/OrganizationsPage.tsx
  services/web-kpa-society/src/pages/index.ts
  ui-guidelines/README.md
  ui-guidelines/theme-profiles/admin.management.md
  ui-guidelines/theme-profiles/consumer.commerce.md
  ui-guidelines/theme-profiles/service.professional.md
Owners: @o4o-platform/devops-team, @o4o-platform/core-team, @o4o-platform/docs-team

refactor(glucoseview): UI 표현 정비 (Service.Professional 기준)
  apps/glucoseview-web/package.json
  apps/glucoseview-web/src/pages/HomePage.tsx
  apps/glucoseview-web/src/pages/InsightsPage.tsx
  apps/glucoseview-web/src/pages/PatientsPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(glucoseview): apply UI expression refinement (WO-CGM-FE-A-001)
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glucoseview/src/pages/InsightsPage.tsx
  services/web-glucoseview/src/pages/PatientsPage.tsx
Owners: @o4o-platform/core-team

feat(glucoseview): 테스트 계정 정보를 클릭 가능한 버튼으로 변경
  services/web-glucoseview/src/components/LoginModal.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

style(glucoseview): 가독성 개선 (WO-CGM-FE-READABILITY-001)
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glucoseview/src/pages/InsightsPage.tsx
  services/web-glucoseview/src/pages/PatientsPage.tsx
Owners: @o4o-platform/core-team

fix(glucoseview): 파트너 섹션 문구 간소화
  services/web-glucoseview/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

feat(glucoseview): Home/About 얼굴 화면 정비 (WO-CGM-FE-FACE-001)
  services/web-glucoseview/src/pages/AboutPage.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

feat(glucoseview): improve homepage with carousel hero and marquee partners
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glucoseview/tailwind.config.js
Owners: @o4o-platform/core-team

fix(glycopharm): fix partner marquee animation
  services/web-glycopharm/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): constrain marquee within max-w-7xl container
  services/web-glycopharm/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

fix(api): add glycopharm.co.kr and glucoseview.co.kr to CORS allowed origins
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

feat(glycopharm): add Contact page and clean up Footer
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/common/Footer.tsx
  services/web-glycopharm/src/pages/ContactPage.tsx
Owners: @o4o-platform/core-team

style(glycopharm): adjust section spacing rhythm and fix Tailwind classes
  services/web-glycopharm/src/pages/ContactPage.tsx
  services/web-glycopharm/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

style(glycopharm): apply typography rhythm consistency
  services/web-glycopharm/src/pages/ContactPage.tsx
  services/web-glycopharm/src/pages/HomePage.tsx
Owners: @o4o-platform/core-team

chore: sync pnpm-lock.yaml with web-kpa-society dependencies
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix: correct Cloud Run API URL in service Dockerfiles
  services/web-glucoseview/.env.example
  services/web-glucoseview/Dockerfile
  services/web-glycopharm/.env.example
  services/web-glycopharm/Dockerfile
  services/web-k-cosmetics/.env.example
  services/web-k-cosmetics/Dockerfile
  services/web-k-cosmetics/src/api/health.ts
  services/web-kpa-society/.env.example
  services/web-kpa-society/Dockerfile
  services/web-kpa-society/src/api/health.ts
  services/web-neture/.env.example
  services/web-neture/Dockerfile
  services/web-neture/src/api/health.ts
Owners: @o4o-platform/core-team

feat(kpa): add Pharmacist Association SaaS backend API v1
  .claude/settings.local.json
  Dockerfile.web
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/9990000000000-CreateKpaTables.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/kpa/controllers/application.controller.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/controllers/organization.controller.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/kpa-application.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-member.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-organization.entity.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/glucoseview-web/src/vite-env.d.ts
  cloudbuild-web.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/api-team

feat(api): H1-0 - Freeze K-Shopping domain and define Cosmetics boundaries
  apps/api-server/src/routes/cosmetics/DOMAIN-BOUNDARY.md
  apps/api-server/src/routes/cosmetics/entities/index.ts
  apps/api-server/src/routes/cosmetics/index.ts
  apps/api-server/src/routes/k-shopping/DOMAIN-FROZEN.md
  apps/api-server/src/routes/k-shopping/entities/index.ts
  apps/api-server/src/routes/k-shopping/entities/kshopping-application.entity.ts
  apps/api-server/src/routes/k-shopping/entities/kshopping-participant.entity.ts
  apps/api-server/src/routes/k-shopping/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/api-team

feat(cosmetics): H2-0 - Implement metadata.channel based order creation
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-order.controller.ts
  apps/api-server/src/routes/cosmetics/controllers/index.ts
  apps/api-server/src/routes/cosmetics/cosmetics.routes.ts
  docs/plan/active/H1-1-order-payment-investigation.md
  docs/plan/active/H1-2-order-payment-decision.md
  packages/ecommerce-core/src/services/CosmeticsOrderService.ts
  packages/ecommerce-core/src/services/index.ts
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs: H2-1 - Travel channel UI design specification
  docs/plan/active/H2-1-travel-channel-ui-design.md
Owners: @o4o-platform/docs-team

feat(cosmetics): H3-0 - Enable Travel orders with TaxRefund metadata
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-order.controller.ts
  docs/plan/active/H2-2-travel-commission-decision.md
  docs/plan/active/H2-3-tax-refund-decision.md
  packages/ecommerce-core/src/services/CosmeticsOrderService.ts
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(cosmetics): H3-1 - Travel order filtering API
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-order.controller.ts
  packages/ecommerce-core/src/services/CosmeticsOrderService.ts
Owners: @o4o-platform/api-team, @o4o-platform/core-team

chore(server): H4-0 cleanup - remove unused stub routes and related admin UI
  apps/admin-dashboard/src/components/shortcodes/dropshipping/index.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/seller/ProductMarketplace.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/seller/SellerDashboard.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/seller/SellerProducts.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/seller/SellerSettlement.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/seller/index.tsx
  apps/api-server/src/controllers/CategoryController.ts
  apps/api-server/src/routes/categories.ts
  apps/api-server/src/routes/ds-seller-authorization.routes.ts
  apps/api-server/src/routes/ds-seller-product.routes.ts
  docs/plan/active/Pre-H4-cleanup-candidate-report.md
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team

feat(trial): H8-2/H8-3 - Trial Shipping & Fulfillment Extensions
  apps/api-server/src/extensions/trial-fulfillment/index.ts
  apps/api-server/src/extensions/trial-fulfillment/trialFulfillment.controller.ts
  apps/api-server/src/extensions/trial-fulfillment/trialFulfillment.routes.ts
  apps/api-server/src/extensions/trial-fulfillment/trialFulfillment.store.ts
  apps/api-server/src/extensions/trial-shipping/index.ts
  apps/api-server/src/extensions/trial-shipping/trialShipping.controller.ts
  apps/api-server/src/extensions/trial-shipping/trialShipping.routes.ts
  apps/api-server/src/extensions/trial-shipping/trialShipping.store.ts
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

feat(H8-4): Trial Fulfillment E2E Verification & Multi-service Updates
  .claude/settings.local.json
  .github/workflows/deploy-web-services.yml
  apps/api-server/src/config/service-registry.ts
  apps/api-server/src/config/service-scopes.ts
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/9992000000000-CreateGlycopharmOrderTables.ts
  apps/api-server/src/routes/ecommerce-orders.routes.ts
  apps/api-server/src/routes/glycopharm/controllers/order.controller.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-order-item.entity.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-order.entity.ts
  apps/api-server/src/routes/glycopharm/entities/index.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  apps/api-server/src/routes/glycopharm/services/order.service.ts
  apps/glucoseview-web/src/contexts/AuthContext.tsx
  apps/glucoseview-web/src/pages/HomePage.tsx
  apps/glucoseview-web/src/pages/PatientsPage.tsx
  apps/glucoseview-web/src/services/api.ts
  apps/glycopharm-web/src/api/glycopharm.ts
  docs/_reports/verification/WO-VER-NETURE-H8-4-verification-report.md
  docs/plan/active/H0-k-cosmetics-investigation-report.md
  docs/plan/active/H0-traveler-shopping-investigation-report.md
  docs/plan/active/H4-1-checkout-ecommerceorder-decision.md
  docs/plan/active/H4-2-payment-toss-migration.md
  docs/plan/active/H4-3-checkout-ecommerceorder-transition.md
  docs/plan/active/H5-0-k-cosmetics-service-context.md
  docs/plan/active/H6-0-api-server-investigation-report.md
  docs/plan/active/H7-0-api-server-hard-cleanup-v1.md
  docs/plan/active/H7-1-frontend-service-readiness-report.md
  docs/plan/active/H8-0-neture-service-transition-phase1-report.md
  docs/plan/active/H8-1-neture-extension-feasibility-report.md
  packages/ecommerce-core/src/services/pg/TossPaymentsService.ts
  packages/ecommerce-core/src/services/pg/index.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team, @o4o-platform/docs-team

fix: replace console.log with logger in production code
  apps/api-server/src/extensions/trial-fulfillment/trialFulfillment.controller.ts
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-order.controller.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
