Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(signage): fix SQL column name mismatches in public signage API
  apps/api-server/src/middleware/signage-role.middleware.ts
  apps/api-server/src/routes/signage/signage-public.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

docs: add operator dashboard and KPA-c branch investigation reports
  docs/investigations/IR-OPERATOR-DASHBOARD-STATUS-V1-RESULT.md
  docs/investigations/WO-KPA-C-BRANCH-OPERATOR-BOOTSTRAP-V1-RESULT.md
  docs/investigations/WO-OPERATOR-DASHBOARD-CLASSIFICATION-V1-RESULT.md
Owners: @o4o-platform/docs-team

fix(signage): remove non-existent tags column from playlists query
  apps/api-server/src/routes/signage/signage-public.routes.ts
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs: add KPA-c branch admin and operator design result documents
  docs/investigations/WO-KPA-C-BRANCH-ADMIN-DESIGN-V1-RESULT.md
  docs/investigations/WO-KPA-C-BRANCH-OPERATOR-DESIGN-V1-RESULT.md
Owners: @o4o-platform/docs-team

feat(kpa-society): enhance forum UI with sort tabs, per-forum grouping, and branch operator routes
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/branch-operator/BranchOperatorAuthGuard.tsx
  services/web-kpa-society/src/components/branch-operator/BranchOperatorLayout.tsx
  services/web-kpa-society/src/components/branch-operator/index.ts
  services/web-kpa-society/src/components/forum/ForumActivitySection.tsx
  services/web-kpa-society/src/components/forum/ForumCategorySection.tsx
  services/web-kpa-society/src/pages/operator/OperatorDashboard.tsx
  services/web-kpa-society/src/routes/BranchOperatorRoutes.tsx
Owners: @o4o-platform/core-team

feat(kpa-society): redesign signage content hub + implement branch admin APIs and pages
  apps/api-server/src/database/connection.ts
  apps/api-server/src/routes/kpa/controllers/branch-admin-dashboard.controller.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/kpa-branch-doc.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-branch-news.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-branch-officer.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-branch-settings.entity.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/branchAdmin.ts
  services/web-kpa-society/src/components/branch-admin/AdminSidebar.tsx
  services/web-kpa-society/src/components/branch-admin/BranchAdminAuthGuard.tsx
  services/web-kpa-society/src/pages/branch-admin/DocsManagementPage.tsx
  services/web-kpa-society/src/pages/branch-admin/NewsManagementPage.tsx
  services/web-kpa-society/src/pages/branch-admin/OfficersPage.tsx
  services/web-kpa-society/src/pages/branch-admin/SettingsPage.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
  services/web-kpa-society/src/routes/BranchAdminRoutes.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(glycopharm): implement store main page with product policy catalog (Phase 1)
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/config/store-catalog.ts
  services/web-glycopharm/src/pages/pharmacy/StoreMainPage.tsx
  services/web-glycopharm/src/types/store-main.ts
  services/web-glycopharm/src/utils/store-ai-summary.ts
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-society): redesign branch operator dashboard for action-signal UX
  services/web-kpa-society/src/pages/branch-operator/BranchOperatorDashboard.tsx
  services/web-kpa-society/src/routes/BranchOperatorRoutes.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): implement store main Phase 2-A - hub/approval sync and LIMITED conditions
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
  services/web-glycopharm/src/config/store-catalog.ts
  services/web-glycopharm/src/pages/pharmacy/StoreMainPage.tsx
  services/web-glycopharm/src/types/store-main.ts
  services/web-glycopharm/src/utils/store-ai-summary.ts
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs: add KPA-c branch alpha freeze investigation document
  docs/investigations/WO-KPA-C-BRANCH-ALPHA-FREEZE-V1.md
Owners: @o4o-platform/docs-team

feat(glycopharm): store main Phase 2-B/2-C/3-A - UX, auto-sort, AI summary
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
  docs/investigations/WO-APP-DATA-HUB-PHASE2-B.md
  docs/investigations/WO-APP-DATA-HUB-PHASE2-FREEZE-V1.md
  docs/investigations/WO-APP-DATA-HUB-PHASE3-A-AI-RECOMMENDATION-V1.md
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/components/store/HubCopyModal.tsx
  services/web-glycopharm/src/config/store-catalog.ts
  services/web-glycopharm/src/pages/pharmacy/StoreMainPage.tsx
  services/web-glycopharm/src/types/store-main.ts
  services/web-glycopharm/src/utils/store-action-log.ts
  services/web-glycopharm/src/utils/store-action-sort.ts
  services/web-glycopharm/src/utils/store-ai-recommend.ts
  services/web-glycopharm/src/utils/store-ai-summary.ts
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(glycopharm): store Phase 3-B auto-default + Phase 3 freeze
  docs/investigations/WO-APP-DATA-HUB-PHASE3-B-AUTO-DEFAULT-V1.md
  docs/investigations/WO-APP-DATA-HUB-PHASE3-FREEZE-V1.md
  services/web-glycopharm/src/components/store/HubCopyModal.tsx
  services/web-glycopharm/src/utils/store-ai-recommend.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix: remove console.log from cockpit controller to pass CI
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
Owners: @o4o-platform/api-team

feat(kpa-society): unify operator dashboard UX across KPA-a/b/c
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
  services/web-kpa-society/src/pages/operator/index.ts
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/core-team

feat: apply Signal-based Operator Dashboard UX v1 to GlycoPharm, Neture, K-Cosmetics + freeze
  docs/investigations/WO-OPERATOR-DASHBOARD-UX-V1-FREEZE.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/operator/GlycoPharmOperatorDashboard.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/operator/KCosmeticsOperatorDashboard.tsx
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/operator/NetureOperatorDashboard.tsx
  services/web-neture/src/pages/operator/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(ux): move recommend/copy actions from list to detail pages
  services/web-kpa-society/src/pages/EventsPage.tsx
  services/web-kpa-society/src/pages/news/GalleryPage.tsx
  services/web-kpa-society/src/pages/news/NewsDetailPage.tsx
  services/web-kpa-society/src/pages/news/NewsListPage.tsx
  services/web-neture/src/pages/content/ContentDetailPage.tsx
  services/web-neture/src/pages/content/ContentListPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-society): add public branch API endpoints and connect frontend pages
  apps/api-server/src/routes/kpa/controllers/branch-public.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/pages/branch/BranchDashboardPage.tsx
  services/web-kpa-society/src/routes/BranchRoutes.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-society): handle virtual branches so demo pages render without DB records
  apps/api-server/src/routes/kpa/controllers/branch-public.controller.ts
Owners: @o4o-platform/api-team

feat: optimize forum API calls + add source tabs to signage content hub
  services/web-glycopharm/src/pages/pharmacy/signage/ContentHubPage.tsx
  services/web-k-cosmetics/src/pages/signage/ContentHubPage.tsx
  services/web-kpa-society/src/components/forum/ForumActivitySection.tsx
  services/web-kpa-society/src/components/forum/ForumCategorySection.tsx
  services/web-kpa-society/src/pages/forum/ForumHomePage.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-society): add PlaceholderImage fallback for missing thumbnails
  apps/api-server/src/routes/signage/signage-public.routes.ts
  packages/types/src/signage.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/common/PlaceholderImage.tsx
  services/web-kpa-society/src/components/common/index.ts
  services/web-kpa-society/src/components/home/SignageSection.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
  services/web-kpa-society/src/pages/signage/MediaDetailPage.tsx
  services/web-kpa-society/src/pages/signage/PlaylistDetailPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-society): split signage section into responsive 2-column grid
  services/web-kpa-society/src/components/home/SignageSection.tsx
Owners: @o4o-platform/core-team

fix(signage): fix production 500 error on public API + add detail pages for glycopharm/k-cosmetics
  apps/api-server/src/routes/signage/signage-public.routes.ts
  docs/investigations/WO-CONTENT-ARCH-INVESTIGATION-PHASE1-REPORT.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/lib/api/signageV2.ts
  services/web-glycopharm/src/pages/pharmacy/signage/ContentHubPage.tsx
  services/web-glycopharm/src/pages/pharmacy/signage/MediaDetailPage.tsx
  services/web-glycopharm/src/pages/pharmacy/signage/PlaylistDetailPage.tsx
  services/web-glycopharm/src/pages/pharmacy/signage/index.ts
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/lib/api/signageV2.ts
  services/web-k-cosmetics/src/pages/signage/ContentHubPage.tsx
  services/web-k-cosmetics/src/pages/signage/MediaDetailPage.tsx
  services/web-k-cosmetics/src/pages/signage/PlaylistDetailPage.tsx
  services/web-kpa-society/src/components/home/SignageSection.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa-forum): add ForumHubSection and hub aggregation API (v2 Phase 1)
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/home.ts
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
  services/web-kpa-society/src/pages/forum/ForumHomePage.tsx
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-forum): add sort tabs and search to ForumHubSection (v2 Phase 2)
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/home.ts
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-forum): server-side activity aggregation with LATERAL JOIN (v2 Phase 3)
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/home.ts
  services/web-kpa-society/src/components/forum/ForumActivitySection.tsx
  services/web-kpa-society/src/components/forum/ForumCategorySection.tsx
  services/web-kpa-society/src/pages/forum/ForumHomePage.tsx
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-forum): add "Joined Forums" tab to ForumHubSection (v2 Phase 4)
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-forum): stabilize forum operations (pinnedOrder, postCount, accessLevel)
  apps/api-server/src/controllers/forum/ForumController.ts
  apps/api-server/src/modules/forum/forum-query.service.ts
Owners: @o4o-platform/backend-team

feat(lms): implement instructor role system, paid course infrastructure, and dashboard UI
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/lib/api/lmsInstructor.ts
  apps/admin-dashboard/src/pages/lms-instructor/LmsInstructorRouter.tsx
  apps/admin-dashboard/src/pages/lms-instructor/dashboard/index.tsx
  apps/api-server/src/database/connection.ts
  apps/api-server/src/main.ts
  apps/api-server/src/migrations/1739400000000-AddCoursePaidFields.ts
  apps/api-server/src/migrations/1739500000000-AddInstructorRoleSupport.ts
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/modules/lms/controllers/CourseController.ts
  apps/api-server/src/modules/lms/controllers/InstructorController.ts
  apps/api-server/src/modules/lms/controllers/ProgressController.ts
  apps/api-server/src/modules/lms/middleware/requireEnrollment.ts
  apps/api-server/src/modules/lms/middleware/requireInstructor.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/CourseService.ts
  apps/api-server/src/modules/lms/services/EnrollmentService.ts
  apps/api-server/src/modules/lms/services/LmsPaymentEventHandler.ts
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
  docs/investigations/WO-LMS-PAID-COURSE-RISK-INVESTIGATION-V1-REPORT.md
  docs/platform/content-core/CONTENT-ARCH-REDEFINITION-PHASE2.md
  docs/platform/lms/LMS-INSTRUCTOR-ROLE-V1-FREEZE.md
  packages/ecommerce-core/src/entities/EcommerceOrder.entity.ts
  packages/lms-core/src/entities/Course.ts
  packages/lms-core/src/entities/Enrollment.ts
  packages/lms-core/src/entities/InstructorApplication.ts
  packages/lms-core/src/entities/index.ts
  services/web-kpa-society/src/api/operator.ts
  services/web-kpa-society/src/pages/operator/ForumAnalyticsDashboard.tsx
  services/web-kpa-society/src/pages/operator/index.ts
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

refactor(operator): extract operator-core package and refactor KPA dashboards
  packages/operator-core/package.json
  packages/operator-core/src/components/SignalCard.tsx
  packages/operator-core/src/components/StatusDot.tsx
  packages/operator-core/src/index.ts
  packages/operator-core/src/layout/OperatorActivityFeed.tsx
  packages/operator-core/src/layout/OperatorHero.tsx
  packages/operator-core/src/layout/OperatorLayout.tsx
  packages/operator-core/src/layout/OperatorSignalCards.tsx
  packages/operator-core/src/types.ts
  packages/operator-core/src/utils.ts
  packages/operator-core/tsconfig.json
  pnpm-lock.yaml
  services/web-kpa-society/package.json
  services/web-kpa-society/src/pages/branch-operator/BranchOperatorDashboard.tsx
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
  services/web-kpa-society/src/pages/operator/operatorConfig.ts
  services/web-kpa-society/tailwind.config.js
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

refactor(operator): convert Neture dashboard to operator-core
  pnpm-lock.yaml
  services/web-neture/package.json
  services/web-neture/src/pages/operator/NetureOperatorDashboard.tsx
  services/web-neture/src/pages/operator/operatorConfig.ts
  services/web-neture/tailwind.config.js
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(lms): add Course Hub and Course Intro pages for kpa-society
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/courses/CourseHubPage.tsx
  services/web-kpa-society/src/pages/courses/CourseIntroPage.tsx
  services/web-kpa-society/src/pages/courses/index.ts
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/core-team

refactor(operator): remove legacy operator dashboards across all services
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/operator/OperatorDashboard.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/operator/index.tsx
  services/web-kpa-society/src/pages/operator/OperatorDashboard.tsx
  services/web-kpa-society/src/pages/operator/index.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/operator/OperatorDashboard.tsx
  services/web-neture/src/pages/operator/index.ts
Owners: @o4o-platform/core-team

chore(deps): bump lucide-react to ^0.523.0 across monorepo
  apps/ecommerce/package.json
  packages/content-editor/package.json
  pnpm-lock.yaml
  services/signage-player-web/package.json
  services/web-glucoseview/package.json
  services/web-glycopharm/package.json
  services/web-k-cosmetics/package.json
  services/web-kpa-society/package.json
  services/web-neture/package.json
  services/web-siteguide/package.json
Owners: @o4o-platform/devops-team

chore(deps): remove unused @wordpress packages and dead code
  apps/api-server/packages/block-core/package.json
  apps/api-server/src/utils/wordpress-transformer.ts
  package.json
  packages/block-core/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(docker): add operator-core to service Dockerfiles
  services/web-glycopharm/Dockerfile
  services/web-k-cosmetics/Dockerfile
  services/web-kpa-society/Dockerfile
  services/web-neture/Dockerfile
Owners: @o4o-platform/core-team

fix(block-renderer): use React.ElementType for React 19 JSX compat
  packages/block-renderer/src/renderers/layout/GroupBlock.tsx
Owners: @o4o-platform/core-team

fix: replace global JSX namespace with React.JSX for React 19 compat
  apps/admin-dashboard/src/components/editor/blocks/GroupBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/cover/CoverContent.tsx
  apps/admin-dashboard/src/components/editor/blocks/gutenberg/GutenbergHeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/templates/StandardTextBlock.tsx
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
  apps/admin-dashboard/src/pages/admin/settlements/AdminSettlementDetailPage.tsx
  apps/admin-dashboard/src/pages/admin/settlements/AdminSettlementsPage.tsx
  apps/admin-dashboard/src/pages/cms/contents/CMSContentList.tsx
  apps/admin-dashboard/src/pages/cms/designer/blocks/basic/Heading.tsx
  apps/admin-dashboard/src/pages/cms/designer/components/Canvas.tsx
  apps/main-site/src/components/blocks/BlockRenderer.ts
  apps/main-site/src/components/blocks/basic/Heading.tsx
  apps/main-site/src/components/blocks/forum/ForumPostDetail.tsx
  apps/main-site/src/components/ui/forum/ForumDetailView.tsx
  packages/forum-core/src/public-ui/components/ForumBlockRenderer.tsx
  packages/reporting-yaksa/src/frontend/admin/pages/YaksaReportDetailPage.tsx
  packages/reporting-yaksa/src/frontend/admin/pages/YaksaReportListPage.tsx
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/ui-team, @o4o-platform/core-team

fix(api): add missing badRequest method to BaseController
  apps/api-server/src/common/base.controller.ts
Owners: @o4o-platform/backend-team

chore: add pnpm as workspace devDependency for nested build stability
  package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

feat(lms-content): complete instructor public profile and course hub architecture
  apps/api-server/src/modules/lms/controllers/InstructorPublicController.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/courses/CourseIntroPage.tsx
  services/web-kpa-society/src/pages/instructors/InstructorProfilePage.tsx
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
