Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

refactor(glycopharm): apply WO-O4O-GLYCOPHARM-PHARMACY-ONLY-ROLE-CLEANUP-V1 Phase 4-C2
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/PatientPlaceholderPage.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
Owners: @o4o-platform/core-team

refactor(glycopharm): remove operator login buttons from landing page
  services/web-glycopharm/src/pages/LandingPage.tsx
Owners: @o4o-platform/core-team

fix(neture): WO-NETURE-APPROVAL-REQUEST-TRUTH-ALIGNMENT-V1
  apps/api-server/src/modules/neture/constants/approval-service-keys.ts
  apps/api-server/src/modules/neture/services/offer-service-approval.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  docs/investigations/IR-NETURE-APPROVAL-REQUEST-STATE-AND-COUNT-TRUTH-AUDIT-V1.md
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa-hub): WO-KPA-HUB-RECOMMENDED-TAB-HIDE-AND-STATE-CLEANUP-V1
  CLAUDE.md
  services/web-kpa-society/src/pages/pharmacy/HubB2BCatalogPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(seed): WO-NETURE-TEST-PRODUCT-RESET-AND-RESEED-V1
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/modules/admin/seed-neture-offers.controller.ts
Owners: @o4o-platform/backend-team

fix(kpa-auth): correct refresh token response parsing to fix 401 cascade
  services/web-kpa-society/src/api/token-refresh.ts
Owners: @o4o-platform/core-team

fix(auth-client): fire auth:token-cleared event on refresh failure for localStorage strategy
  packages/auth-client/src/client.ts
Owners: @o4o-platform/security-team

fix(kpa-auth): use localStorage-strategy authClient in all KPA API modules
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/api/mypage.ts
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/operator/EditUserModal.tsx
  services/web-kpa-society/src/pages/operator/RoleManagementPage.tsx
  services/web-kpa-society/src/pages/operator/UserDetailPage.tsx
  services/web-kpa-society/src/pages/operator/UsersPage.tsx
Owners: @o4o-platform/core-team

feat(seed): WO-NETURE-DELETE-ALL-TEST-PRODUCTS-AND-RECREATE-SAMPLES-V1
  apps/api-server/src/modules/admin/seed-neture-offers.controller.ts
Owners: @o4o-platform/backend-team

fix(seed): use sohae21@naver.com supplier, sample-only delete
  apps/api-server/src/modules/admin/seed-neture-offers.controller.ts
Owners: @o4o-platform/backend-team

fix(seed): remove neture_suppliers.name ref (dropped in migration)
  apps/api-server/src/modules/admin/seed-neture-offers.controller.ts
Owners: @o4o-platform/backend-team

fix(seed): remove last ns.name in ORDER BY clause
  apps/api-server/src/modules/admin/seed-neture-offers.controller.ts
Owners: @o4o-platform/backend-team

feat(kpa-forum): add operator direct forum deactivation (WO-KPA-A-OPERATOR-FORUM-DIRECT-SOFT-DELETE-V1)
  apps/api-server/src/routes/forum/operator-forum.routes.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(seed): cast UUID to text before LIKE operator
  apps/api-server/src/modules/admin/seed-neture-offers.controller.ts
Owners: @o4o-platform/backend-team

feat(kpa-forum): add operator hard delete with safety guard (WO-KPA-A-OPERATOR-FORUM-HARD-DELETE-SAFE-GUARD-V1)
  apps/api-server/src/routes/forum/operator-forum.routes.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(signage): WO-KPA-SOCIETY-OPERATOR-SIGNAGE-CONTENT-HARD-DELETE-POLICY-V1
  apps/api-server/src/routes/signage/controllers/media.controller.ts
  apps/api-server/src/routes/signage/controllers/playlist.controller.ts
  apps/api-server/src/routes/signage/repositories/media.repository.ts
  apps/api-server/src/routes/signage/repositories/playlist.repository.ts
  apps/api-server/src/routes/signage/services/media.service.ts
  apps/api-server/src/routes/signage/services/playlist.service.ts
  apps/api-server/src/routes/signage/signage.routes.ts
  services/web-kpa-society/src/pages/operator/signage/HqMediaDetailPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistDetailPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(lms): add migration to create lms core tables in production DB
  apps/api-server/src/database/migrations/20260410000001-CreateLmsCoreTables.ts
Owners: @o4o-platform/backend-team

fix(seed): add full-wipe DELETE for sohae21@naver.com supplier
  apps/api-server/src/modules/admin/seed-neture-offers.controller.ts
Owners: @o4o-platform/backend-team

fix(branch-forum): replace direct content render with standard block renderer
  services/web-kpa-society/src/pages/branch/BranchForumDetailPage.tsx
Owners: @o4o-platform/core-team

feat(forum): WO-KPA-A-FORUM-NOTICE-PIN-BY-OWNER-V1
  apps/api-server/src/controllers/forum/ForumPostController.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(signage): content hub — new tab navigation + HQ delete button
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Owners: @o4o-platform/core-team

feat(operator/news): add delete button to notice management page
  services/web-kpa-society/src/pages/admin-branch/NewsPage.tsx
Owners: @o4o-platform/core-team

feat(content): operator hard delete for archived CMS content
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/pages/operator/ContentManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(community): migrate community API from fetch-client to authClient.api
  services/web-kpa-society/src/api/community.ts
Owners: @o4o-platform/core-team

feat(kpa/hub-signage): Phase1 UI improvement — title link, description, creatorName
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
Owners: @o4o-platform/core-team

fix(test): narrow soft-delete boundary check to /:id route only
  apps/api-server/src/__tests__/kpa-boundary-regression.spec.ts
Owners: @o4o-platform/backend-team

feat(neture/operator): add delete button + enable checkbox for all offers in product list
  services/web-neture/src/pages/operator/AllRegisteredProductsPage.tsx
Owners: @o4o-platform/core-team

fix(operator/stores): KPA Society operator 매장관리 접근 오류 수정
  apps/api-server/src/routes/operator/stores.routes.ts
  apps/api-server/src/utils/serviceScope.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team

fix(kpa): /admin/* route directly serves AdminRoutes instead of redirecting to /demo/admin
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team

fix(kpa/signage): default content hub tab to 운영자 제공 (hq)
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Owners: @o4o-platform/core-team

feat(kpa/operator): connect news management page to real API
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/pages/admin-branch/NewsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(signage): community content creation and deletion on /signage page
  apps/api-server/src/middleware/signage-role.middleware.ts
  apps/api-server/src/routes/signage/controllers/global-content.controller.ts
  apps/api-server/src/routes/signage/services/global-content.service.ts
  apps/api-server/src/routes/signage/signage-public.routes.ts
  apps/api-server/src/routes/signage/signage.routes.ts
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(signage): Phase1+2+7 — ContentHub Table UI, media-only, filter, 가져가기
  apps/api-server/src/routes/signage/signage-public.routes.ts
  services/web-kpa-society/src/lib/api/signageV2.ts
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(signage): Phase4+5 — signage_categories + legacy entity removal
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260410100000-CreateSignageCategories.ts
  apps/api-server/src/routes/signage/signage.routes.ts
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

chore(migration): kpa-society organization_channels 전체 삭제
  apps/api-server/src/database/migrations/20260410300000-DeleteKpaSocietyOrganizationChannels.ts
Owners: @o4o-platform/backend-team

feat(signage): category refine + Store UX table unification + operation visibility
  apps/api-server/src/database/migrations/20260410200000-AddCategoryIdToSignageMedia.ts
  apps/api-server/src/routes/signage/controllers/global-content.controller.ts
  apps/api-server/src/routes/signage/signage.routes.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/signage/CategoriesPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa): 콘텐츠 정리 허브 기초 구축 (WO-O4O-KPA-CONTENT-HUB-FOUNDATION-V1)
  apps/api-server/src/database/migrations/20260410400000-CreateKpaContentHub.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/kpa-content.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-working-content.entity.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/OperatorContentDetailPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorContentHubPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorDocsPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

chore: remove playwright-mcp screenshot artifacts
  .playwright-mcp/page-2026-03-05T04-40-37-966Z.png
  .playwright-mcp/page-2026-03-13T05-32-54-583Z.png
  .playwright-mcp/page-2026-03-13T05-41-17-303Z.png
Owners: @o4o-platform/core-team

fix(kpa): WO-KPA-A-OPERATOR-FORUM-HARD-DELETE-ICON-V1
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-KPA-A-OPERATOR-FORUM-MANAGEMENT-DATATABLE-BULK-ACTION-V1
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
Owners: @o4o-platform/core-team
