Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat(neture): O4O Home 을 검색엔진 초기 화면형으로 단순화 (WO-O4O-COMMON-HOME-PHASE1-V1)
  docs/checks/CHECK-O4O-COMMON-HOME-PHASE1-V1.md
  services/web-neture/src/pages/O4OHomePage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(store-content): Content/Tablet/QR canonical baseline + 현재 코드 census (WO-O4O-STORE-CONTENT-TABLET-QR-CANONICAL-BASELINE-AND-LEGACY-CENSUS-V1)
  docs/baseline/O4O-STORE-CONTENT-AND-EXECUTION-MODEL-V1.md
  docs/baseline/README.md
  docs/investigations/IR-O4O-STORE-CONTENT-TABLET-QR-CURRENT-STATE-AND-LEGACY-CENSUS-V1.md
Owners: @o4o-platform/docs-team

docs(check): production deploy·smoke 결과 기록 (WO-O4O-COMMON-HOME-PHASE1-V1)
  docs/checks/CHECK-O4O-COMMON-HOME-PHASE1-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-branch): 신상신고 운영자 검수·승인·보완요청 (WO-O4O-KPA-BRANCH-ANNUAL-REPORT-REVIEW-V1)
  apps/api-server/src/controllers/kpa-branch/MemberAnnualReportController.ts
  apps/api-server/src/controllers/kpa-branch/OperatorAnnualReportController.ts
  apps/api-server/src/database/migrations/20270324000000-AddAnnualReportReview.ts
  apps/api-server/src/routes/kpa-branch/entities/annual-report.entity.ts
  apps/api-server/src/routes/kpa-branch/kpa-branch.routes.ts
  apps/api-server/src/services/kpa-branch/AnnualReportMembershipSyncService.ts
  apps/api-server/src/services/kpa-branch/AnnualReportReviewService.ts
  services/web-kpa-branch/src/App.tsx
  services/web-kpa-branch/src/layouts/BranchLayout.tsx
  services/web-kpa-branch/src/lib/api/annualReport.ts
  services/web-kpa-branch/src/lib/api/operatorAnnualReport.ts
  services/web-kpa-branch/src/pages/annual-report/AnnualReportPage.tsx
  services/web-kpa-branch/src/pages/operator/AnnualReportsReviewPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

docs(check): 신상신고 운영자 검수·승인 프로덕션 E2E 종결 (WO-O4O-KPA-BRANCH-ANNUAL-REPORT-REVIEW-V1)
  docs/checks/CHECK-O4O-KPA-BRANCH-ANNUAL-REPORT-REVIEW-V1.md
Owners: @o4o-platform/docs-team

docs(check): minScale=0 canonical 정책 재검증 — 후속 배포 6회 유지 실증 (WO-O4O-CORE-API-MINSCALE-ZERO-CANONICAL-DEPLOY-POLICY-V1)
  docs/checks/WO-O4O-CORE-API-MINSCALE-ZERO-CANONICAL-DEPLOY-POLICY-V1-CHECK.md
Owners: @o4o-platform/docs-team

feat(kpa-branch): 분회 연회비 정책·원장 (WO-O4O-KPA-BRANCH-ANNUAL-FEE-LEDGER-V1)
  apps/api-server/src/controllers/kpa-branch/BranchFeeController.ts
  apps/api-server/src/controllers/kpa-branch/MemberAnnualReportController.ts
  apps/api-server/src/database/entities.ts
  apps/api-server/src/database/migrations/20270325000000-CreateBranchFeeLedger.ts
  apps/api-server/src/routes/kpa-branch/entities/branch-fee-ledger.entity.ts
  apps/api-server/src/routes/kpa-branch/entities/branch-fee-policy.entity.ts
  apps/api-server/src/routes/kpa-branch/entities/index.ts
  apps/api-server/src/routes/kpa-branch/kpa-branch.routes.ts
  apps/api-server/src/services/kpa-branch/AnnualReportService.ts
  apps/api-server/src/services/kpa-branch/BranchFeeService.ts
  services/web-kpa-branch/src/App.tsx
  services/web-kpa-branch/src/layouts/BranchLayout.tsx
  services/web-kpa-branch/src/lib/api/branchFee.ts
  services/web-kpa-branch/src/pages/annual-report/MyFeePage.tsx
  services/web-kpa-branch/src/pages/operator/FeeLedgerPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(neture): Work Scope V0 계약·resolver·active scope (WO-O4O-WORK-SCOPE-CONTRACT-V0)
  docs/checks/CHECK-O4O-WORK-SCOPE-CONTRACT-V0.md
  services/web-neture/src/App.tsx
  services/web-neture/src/contexts/WorkScopeContext.tsx
  services/web-neture/src/contexts/index.ts
  services/web-neture/src/lib/work-scope/index.ts
  services/web-neture/src/lib/work-scope/resolveWorkScope.ts
  services/web-neture/src/lib/work-scope/routeWorkspaceMap.ts
  services/web-neture/src/lib/work-scope/types.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): 분회 연회비 원장 프로덕션 E2E 종결 (WO-O4O-KPA-BRANCH-ANNUAL-FEE-LEDGER-V1)
  docs/checks/CHECK-O4O-KPA-BRANCH-ANNUAL-FEE-LEDGER-V1.md
Owners: @o4o-platform/docs-team

refactor(kpa-tablet): 태블릿 3세대 구현을 단일 계약으로 수렴 (WO-O4O-KPA-TABLET-GENERATION-CONSOLIDATION-AND-CANONICAL-REFERENCE-V1)
  apps/api-server/src/__tests__/kpa-tablet-generation-consolidation-contract.spec.ts
  apps/api-server/src/routes/o4o-store/controllers/operator-screen-set.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/supplier-screen-set.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet-idle-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  apps/api-server/src/routes/platform/store-tablet-medication-guard.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/WO-O4O-KPA-TABLET-GENERATION-CONSOLIDATION-AND-CANONICAL-REFERENCE-V1-CHECK.md
  packages/screen-content-core/src/index.ts
  services/web-kpa-society/src/api/tabletDisplays.ts
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
  services/web-kpa-society/src/pages/qr/PublicScreenSetViewer.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa-branch): 분회 연수교육 평점 원장 (WO-O4O-KPA-BRANCH-CONTINUING-EDUCATION-CREDIT-LEDGER-V1)
  apps/api-server/src/controllers/kpa-branch/BranchEducationCreditController.ts
  apps/api-server/src/database/entities.ts
  apps/api-server/src/database/migrations/20270326000000-CreateBranchEducationCreditLedger.ts
  apps/api-server/src/routes/kpa-branch/entities/branch-education-credit-ledger.entity.ts
  apps/api-server/src/routes/kpa-branch/entities/index.ts
  apps/api-server/src/routes/kpa-branch/kpa-branch.routes.ts
  apps/api-server/src/services/kpa-branch/AnnualReportService.ts
  apps/api-server/src/services/kpa-branch/BranchEducationCreditService.ts
  services/web-kpa-branch/src/App.tsx
  services/web-kpa-branch/src/layouts/BranchLayout.tsx
  services/web-kpa-branch/src/lib/api/educationCredit.ts
  services/web-kpa-branch/src/pages/annual-report/MyEducationPage.tsx
  services/web-kpa-branch/src/pages/operator/EducationCreditsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

docs(tablet): canonical production closure + 공통 Core 경계·PH adoption gap 확정 (WO-O4O-TABLET-CANONICAL-PRODUCTION-CLOSURE-AND-COMMON-CORE-BOUNDARY-V1)
  docs/checks/CHECK-O4O-TABLET-CANONICAL-PRODUCTION-CLOSURE-V1.md
  docs/investigations/IR-O4O-TABLET-CANONICAL-COMMON-CORE-BOUNDARY-AND-PH-ADOPTION-GAP-V1.md
Owners: @o4o-platform/docs-team

feat(work-scope): 매장 scope 서버 해석 read-only 경로 (WO-O4O-WORK-SCOPE-STORE-RESOLUTION-V0)
  apps/api-server/src/__tests__/work-scope-store-resolution.spec.ts
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/routes/work-scope.routes.ts
  apps/api-server/src/utils/work-scope-store-resolution.ts
  docs/checks/CHECK-O4O-WORK-SCOPE-STORE-RESOLUTION-V0.md
  services/web-neture/src/contexts/WorkScopeContext.tsx
  services/web-neture/src/lib/work-scope/index.ts
  services/web-neture/src/lib/work-scope/mergeStoreResolution.ts
  services/web-neture/src/lib/work-scope/storeResolutionApi.ts
  services/web-neture/src/lib/work-scope/types.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): 분회 연수교육 평점 원장 프로덕션 E2E 종결 (WO-O4O-KPA-BRANCH-CONTINUING-EDUCATION-CREDIT-LEDGER-V1)
  docs/checks/CHECK-O4O-KPA-BRANCH-CONTINUING-EDUCATION-CREDIT-LEDGER-V1.md
Owners: @o4o-platform/docs-team

docs(check): 매장 scope 해석 프로덕션 smoke 실측 기록 (WO-O4O-WORK-SCOPE-STORE-RESOLUTION-V0)
  docs/checks/CHECK-O4O-WORK-SCOPE-STORE-RESOLUTION-V0.md
Owners: @o4o-platform/docs-team

feat(tablet): product_list 계약 단일화 + 운영(B) 공통 Core 추출·KPA 채택 (WO-O4O-TABLET-PRODUCT-LIST-CONTRACT-AND-OPERATION-CORE-KPA-ADOPTION-V1)
  apps/api-server/src/__tests__/kpa-tablet-generation-consolidation-contract.spec.ts
  apps/api-server/src/__tests__/tablet-product-list-contract.spec.ts
  apps/api-server/src/routes/platform/store-public/store-public-product-list-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  packages/tablet-screen-set-editor/src/TabletCornerBoard.tsx
  packages/tablet-screen-set-editor/src/index.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-branch): 회원 업무 콘솔 — 소속·신상신고·회비·연수교육 통합 조회 (WO-O4O-KPA-BRANCH-MEMBER-OPERATIONS-CONSOLE-V1)
  apps/api-server/src/controllers/kpa-branch/BranchMemberController.ts
  apps/api-server/src/routes/kpa-branch/kpa-branch.routes.ts
  apps/api-server/src/services/kpa-branch/BranchMemberConsoleService.ts
  services/web-kpa-branch/src/App.tsx
  services/web-kpa-branch/src/layouts/BranchLayout.tsx
  services/web-kpa-branch/src/lib/api/memberConsole.ts
  services/web-kpa-branch/src/pages/operator/MembersConsolePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-qr): QR 뷰어 가격 표기를 태블릿과 같은 규칙으로 정규화 (WO-O4O-TABLET-PRODUCT-LIST-CONTRACT-AND-OPERATION-CORE-KPA-ADOPTION-V1)
  services/web-kpa-society/src/pages/qr/PublicScreenSetViewer.tsx
Owners: @o4o-platform/core-team

docs(check): product_list 계약 단일화 + 운영 Core·KPA 채택 종결 기록 (WO-O4O-TABLET-PRODUCT-LIST-CONTRACT-AND-OPERATION-CORE-KPA-ADOPTION-V1)
  docs/checks/CHECK-O4O-TABLET-PRODUCT-LIST-CONTRACT-AND-OPERATION-CORE-KPA-ADOPTION-V1.md
Owners: @o4o-platform/docs-team

feat(home): O4O Home 중앙 AI 입력 활성화 — 텍스트 질의응답 V0 (WO-O4O-COMMON-HOME-AI-INPUT-V0)
  apps/api-server/src/__tests__/home-chat-ai-input.spec.ts
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/services/ai-prompts/homeChat.ts
  docs/checks/CHECK-O4O-COMMON-HOME-AI-INPUT-V0.md
  services/web-neture/src/lib/ai/home-chat.ts
  services/web-neture/src/pages/O4OHomePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): 회원 업무 콘솔 프로덕션 E2E 종결 (WO-O4O-KPA-BRANCH-MEMBER-OPERATIONS-CONSOLE-V1)
  docs/checks/CHECK-O4O-KPA-BRANCH-MEMBER-OPERATIONS-CONSOLE-V1.md
Owners: @o4o-platform/docs-team

docs(check): Home AI 입력 프로덕션 smoke PARTIAL 기록 (WO-O4O-COMMON-HOME-AI-INPUT-V0)
  docs/checks/CHECK-O4O-COMMON-HOME-AI-INPUT-V0.md
Owners: @o4o-platform/docs-team

docs(check): 회원 콘솔 정본 KEEP_SEPARATE 확정 (WO-O4O-KPA-BRANCH-MEMBER-CONSOLE-CANONICAL-ADOPTION-V1)
  docs/checks/CHECK-O4O-KPA-BRANCH-MEMBER-CONSOLE-CANONICAL-ADOPTION-V1.md
Owners: @o4o-platform/docs-team

feat(pharmacy-hub): Tablet canonical 채택 + 공개 kiosk 개통 · 암묵적 전체상품 fallback 폐기 (WO-O4O-PHARMACYHUB-TABLET-CANONICAL-ADOPTION-AND-PUBLIC-KIOSK-CLOSURE-V1)
  apps/api-server/src/__tests__/kpa-tablet-generation-consolidation-contract.spec.ts
  apps/api-server/src/__tests__/pharmacy-hub-tablet-canonical-adoption.spec.ts
  apps/api-server/src/__tests__/tablet-product-list-contract.spec.ts
  apps/api-server/src/routes/platform/store-public/store-public-product-list-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  packages/tablet-screen-set-editor/src/TabletScreenSetSwapDialog.tsx
  packages/tablet-screen-set-editor/src/index.tsx
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/lib/api/pharmacyHubTablet.ts
  services/web-pharmacy-hub/src/lib/api/publicTablet.ts
  services/web-pharmacy-hub/src/lib/tabletKioskUrl.ts
  services/web-pharmacy-hub/src/pages/store-owner/TabletsPage.tsx
  services/web-pharmacy-hub/src/pages/tablet/TabletStorePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

docs(check): PH Tablet canonical 채택·공개 kiosk 종결 기록 + 태블릿 관리 액션 정리 (WO-O4O-PHARMACYHUB-TABLET-CANONICAL-ADOPTION-AND-PUBLIC-KIOSK-CLOSURE-V1)
  docs/checks/CHECK-O4O-PHARMACYHUB-TABLET-CANONICAL-ADOPTION-AND-PUBLIC-KIOSK-CLOSURE-V1.md
  services/web-pharmacy-hub/src/pages/store-owner/TabletsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(migration): GlycoPharm 삭제 마이그레이션 role 재귀속 충돌 해소 (WO-O4O-GLYCOPHARM-COMPLETE-ERASURE-V1)
  .github/workflows/e2e-auth-runtime.yml
  apps/api-server/src/database/migrations/20270326000000-DropGlycopharmService.ts
  apps/api-server/src/types/roles.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

docs(check): GlycoPharm 완전 삭제 — 배포·DB·GCP 실행 결과 기록 (WO-O4O-GLYCOPHARM-COMPLETE-ERASURE-V1)
  docs/checks/WO-O4O-GLYCOPHARM-COMPLETE-ERASURE-V1-CHECK.md
Owners: @o4o-platform/docs-team

fix(build): build:packages 에 api-server 워크스페이스 의존 포함 (WO-O4O-PLATFORM-CORE-BUILD-PACKAGES-REPRODUCIBILITY-V1)
  apps/api-server/src/__tests__/build-packages-workspace-dependency-coverage.spec.ts
  docs/checks/CHECK-O4O-PLATFORM-CORE-BUILD-PACKAGES-REPRODUCIBILITY-V1.md
  package.json
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/devops-team

fix(build): Windows cmd.exe 에서 pnpm --filter 가 조용히 no-op 되는 결함 마감 (WO-O4O-WINDOWS-PNPM-FILTER-NOOP-GUARD-CLOSURE-V1)
  apps/api-server/package.json
  apps/api-server/src/__tests__/windows-pnpm-filter-noop-guard.spec.ts
  docs/checks/CHECK-O4O-WINDOWS-PNPM-FILTER-NOOP-GUARD-CLOSURE-V1.md
  package.json
  scripts/ci-build-app.sh
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix(ci): 존재한 적 없는 @o4o/storefront dead 분기 제거 + build target 가드 (WO-O4O-STOREFRONT-DEAD-CI-BRANCH-AUDIT-AND-CLOSURE-V1)
  apps/api-server/src/__tests__/ci-build-app-target-validity.spec.ts
  docs/checks/CHECK-O4O-STOREFRONT-DEAD-CI-BRANCH-AUDIT-AND-CLOSURE-V1.md
  scripts/ci-build-app.sh
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa-branch): 분회 전입·전출 운영자 처리 (WO-O4O-KPA-BRANCH-MEMBER-AFFILIATION-TRANSFER-OPERATIONS-V1)
  apps/api-server/src/controllers/kpa-branch/BranchMemberController.ts
  apps/api-server/src/routes/kpa-branch/kpa-branch.routes.ts
  apps/api-server/src/services/kpa-branch/BranchMembershipService.ts
  services/web-kpa-branch/src/lib/api/memberConsole.ts
  services/web-kpa-branch/src/pages/operator/MembersConsolePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

docs(check): O4O Home AI production credential 원인 확정 + BLOCKED 기록 (WO-O4O-HOME-AI-PRODUCTION-CREDENTIAL-AND-CLOSURE-V1)
  docs/checks/CHECK-O4O-HOME-AI-PRODUCTION-CREDENTIAL-AND-CLOSURE-V1.md
Owners: @o4o-platform/docs-team

docs(check): GlycoPharm DNS 삭제 완료 — 완전 삭제 CLOSED (WO-O4O-GLYCOPHARM-COMPLETE-ERASURE-V1)
  docs/checks/WO-O4O-GLYCOPHARM-COMPLETE-ERASURE-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(design): 매장 QR canonical target · placement · analytics 설계 확정 (WO-O4O-STORE-QR-CANONICAL-TARGET-AND-PLACEMENT-DESIGN-V1)
  docs/design/DESIGN-O4O-STORE-QR-CANONICAL-TARGET-PLACEMENT-AND-ANALYTICS-V1.md
  docs/investigations/IR-O4O-STORE-QR-CURRENT-CONTRACT-AND-LEGACY-CENSUS-V2.md
Owners: @o4o-platform/docs-team

docs(check): 분회 전입·전출 운영 production E2E 결과 기록 (WO-O4O-KPA-BRANCH-MEMBER-AFFILIATION-TRANSFER-OPERATIONS-V1)
  docs/checks/CHECK-O4O-KPA-BRANCH-MEMBER-AFFILIATION-TRANSFER-OPERATIONS-V1.md
Owners: @o4o-platform/docs-team

fix(ci): ci-build-app.sh 의 비-frozen install 이 lockfile 을 말없이 고치던 결함 마감 (WO-O4O-CI-INSTALL-LOCKFILE-DRIFT-REPRODUCIBILITY-CLOSURE-V1)
  apps/api-server/src/__tests__/ci-install-lockfile-contract.spec.ts
  docs/checks/CHECK-O4O-CI-INSTALL-LOCKFILE-DRIFT-REPRODUCIBILITY-CLOSURE-V1.md
  pnpm-lock.yaml
  scripts/ci-build-app.sh
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/core-team

fix(config): GlycoPharm 활성 설정 잔재 2건 제거 (WO-O4O-GLYCOPHARM-POST-ERASURE-RESIDUAL-FINAL-CLOSURE-V1)
  apps/api-server/src/bootstrap/setup-middlewares.ts
  docs/checks/WO-O4O-GLYCOPHARM-COMPLETE-ERASURE-V1-CHECK.md
  packages/types/src/service-branding.ts
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix(kpa-branch): 세션 복구 전 public site 선조회로 나던 /site 404 제거 (WO-O4O-KPA-BRANCH-BRANCHLAYOUT-SITE-PREFETCH-404-CLOSURE-V1)
  services/web-kpa-branch/src/layouts/BranchLayout.tsx
Owners: @o4o-platform/core-team

fix(config): GlycoPharm 런타임 맵 잔재 5건 제거 및 삭제 종결 (WO-O4O-GLYCOPHARM-RUNTIME-MAP-RESIDUAL-FINAL-CLOSURE-V1)
  apps/api-server/src/common/auth/account-access.policy.ts
  apps/api-server/src/modules/contact-inquiry/public-contact-inquiry.controller.ts
  apps/api-server/src/modules/neture/services/neture-dashboard.service.ts
  docs/checks/WO-O4O-GLYCOPHARM-COMPLETE-ERASURE-V1-CHECK.md
  packages/ui/src/operator-user-detail/UserDetailPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacySellPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/ui-team, @o4o-platform/core-team

fix(kpa-branch): 회원 화면에도 남던 세션 복구 전 site 선조회 제거 (WO-O4O-KPA-BRANCH-BRANCHLAYOUT-SITE-PREFETCH-404-CLOSURE-V1)
  services/web-kpa-branch/src/layouts/BranchLayout.tsx
Owners: @o4o-platform/core-team
