Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat(kpa-store): 콘텐츠 목록 direct [편집]을 상세보기 거치지 않고 편집기 직행 (WO-O4O-KPA-STORE-LIBRARY-CONTENTS-EDIT-ROUTE-UNIFY-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LIBRARY-CONTENTS-EDIT-ROUTE-UNIFY-V1.md
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreDirectContentPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa-store): 인쇄용 PDF 출력 밀도(표준/절약/큰글씨) + 기본 밀도 축소 (WO-O4O-KPA-CONTENT-PDF-PRINT-DENSITY-STYLES-V1)
  services/web-kpa-society/src/pages/pharmacy/ContentPdfExportModal.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): 매장 자체 제품 생성 동선 노출 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-MENU-ACCESS-V1)
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-kpa-society/src/pages/pharmacy/StoreLocalProductsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
Owners: @o4o-platform/core-team

docs(check): 매장 자체 제품 생성 동선 노출 결과 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-MENU-ACCESS-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LOCAL-PRODUCT-MENU-ACCESS-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): QR/POP 결과물 노출 범위 정리 — 매장 제작 자료 메뉴 숨김 + POP 완료 안내 정리 (WO-O4O-KPA-QR-POP-RESULT-SCOPE-V1)
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-kpa-society/src/components/store/StorePopCreateModal.tsx
  services/web-kpa-society/src/pages/pharmacy/ProductionMaterialEditorPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
Owners: @o4o-platform/core-team

docs(check): 인쇄용 PDF 출력 밀도 옵션 smoke PASS (WO-O4O-KPA-CONTENT-PDF-PRINT-DENSITY-STYLES-V1)
  docs/checks/CHECK-O4O-KPA-CONTENT-PDF-PRINT-DENSITY-STYLES-V1.md
Owners: @o4o-platform/docs-team

docs(check): QR/POP 결과물 노출 범위 정리 smoke PASS (WO-O4O-KPA-QR-POP-RESULT-SCOPE-V1)
  docs/checks/CHECK-O4O-KPA-QR-POP-RESULT-SCOPE-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): direct 콘텐츠 편집을 o4o 표준 RichTextEditor로 통일 (WO-O4O-KPA-STORE-LIBRARY-CONTENTS-DIRECT-EDITOR-UNIFY-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LIBRARY-CONTENTS-DIRECT-EDITOR-UNIFY-V1.md
  services/web-kpa-society/src/pages/pharmacy/StoreDirectContentPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): direct 콘텐츠 표준 편집기 통일 smoke PASS (WO-O4O-KPA-STORE-LIBRARY-CONTENTS-DIRECT-EDITOR-UNIFY-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LIBRARY-CONTENTS-DIRECT-EDITOR-UNIFY-V1.md
Owners: @o4o-platform/docs-team

docs(check): 매장 자체 제품 동선 smoke PASS + 공개뷰어 localProducts 드롭 버그 발견 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-MENU-ACCESS-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LOCAL-PRODUCT-MENU-ACCESS-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): POP 메뉴에서 생성된 POP PDF 목록 표시 (WO-O4O-KPA-POP-LIST-GENERATED-ASSETS-V1)
  services/web-kpa-society/src/components/store/StorePopCreateModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StorePopPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): snapshot 콘텐츠 편집을 o4o 표준 RichTextEditor로 통일 (WO-O4O-KPA-STORE-LIBRARY-SNAPSHOT-EDITOR-UNIFY-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LIBRARY-SNAPSHOT-EDITOR-UNIFY-V1.md
  services/web-kpa-society/src/pages/pharmacy/StoreContentEditPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): POP 메뉴 생성된 POP PDF 목록 표시 smoke PASS (WO-O4O-KPA-POP-LIST-GENERATED-ASSETS-V1)
  docs/checks/CHECK-O4O-KPA-POP-LIST-GENERATED-ASSETS-V1.md
Owners: @o4o-platform/docs-team

docs(check): snapshot 표준 편집기 통일 smoke PASS (WO-O4O-KPA-STORE-LIBRARY-SNAPSHOT-EDITOR-UNIFY-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LIBRARY-SNAPSHOT-EDITOR-UNIFY-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): 콘텐츠 자료함 안내문 축약 + 콘텐츠 제작 가이드 모달(반응형) (WO-O4O-KPA-STORE-LIBRARY-CONTENT-CREATION-GUIDE-MODAL-V1)
  services/web-kpa-society/src/pages/pharmacy/ContentCreationGuideModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreLibraryContentsPage.tsx
Owners: @o4o-platform/core-team

fix(kpa-tablet): 공개 타블렛 뷰어에 매장 자체 제품 노출 (WO-O4O-KPA-TABLET-PUBLIC-LOCAL-PRODUCTS-FIX-V1)
  services/web-kpa-society/src/api/tablet.ts
Owners: @o4o-platform/core-team

docs(check): 공개 타블렛 뷰어 매장 자체 제품 노출 fix 결과 (WO-O4O-KPA-TABLET-PUBLIC-LOCAL-PRODUCTS-FIX-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-PUBLIC-LOCAL-PRODUCTS-FIX-V1.md
Owners: @o4o-platform/docs-team

docs(ir): O4O 초안생성 AI 진입점 전수 조사 (IR-O4O-AI-CONTENT-GENERATION-ENTRYPOINT-AUDIT-V1)
  docs/ir/IR-O4O-AI-CONTENT-GENERATION-ENTRYPOINT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa-store): 콘텐츠 제작 가이드 — 안전한 HTML→디자인 입힌 HTML 요청으로 문구 변경 (WO-O4O-KPA-STORE-LIBRARY-CONTENT-CREATION-GUIDE-MODAL-V1)
  services/web-kpa-society/src/pages/pharmacy/ContentCreationGuideModal.tsx
Owners: @o4o-platform/core-team

docs(ir): KPA 매장 제품 메뉴·매장 취급제품 IA 조사 (read-only)
  docs/investigations/IR-O4O-KPA-STORE-PRODUCT-MENU-AND-LOCAL-PRODUCT-IA-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): 콘텐츠 제작 가이드 모달 smoke PASS (WO-O4O-KPA-STORE-LIBRARY-CONTENT-CREATION-GUIDE-MODAL-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LIBRARY-CONTENT-CREATION-GUIDE-MODAL-V1.md
Owners: @o4o-platform/docs-team

docs(check): 공개 뷰어 자체제품 노출 + Browse 자동 넘김 시각 smoke PASS
  docs/checks/CHECK-O4O-KPA-TABLET-BROWSE-AUTO-SLIDE-V1.md
  docs/checks/CHECK-O4O-KPA-TABLET-PUBLIC-LOCAL-PRODUCTS-FIX-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): 제품 메뉴 IA 재배치 — 기준관리=상품·거래 / 타블렛=경영지원 (WO-O4O-KPA-STORE-PRODUCT-MENU-IA-REORG-V1)
  docs/checks/CHECK-O4O-KPA-STORE-PRODUCT-MENU-IA-REORG-V1.md
  packages/store-ui-core/src/config/storeMenuConfig.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa-store): QR 제작 흐름 AI 작성 단계 제거 (WO-O4O-KPA-QR-AI-STEP-REMOVE-V1)
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
Owners: @o4o-platform/core-team

docs(check): 제품 메뉴 IA 재배치 smoke PASS (WO-O4O-KPA-STORE-PRODUCT-MENU-IA-REORG-V1)
  docs/checks/CHECK-O4O-KPA-STORE-PRODUCT-MENU-IA-REORG-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-operator): /operator/docs 콘텐츠 제작 가이드 모달(운영자 모드) + 가이드 모달 공통화 (WO-O4O-KPA-OPERATOR-DOCS-CONTENT-CREATION-GUIDE-MODAL-V1)
  services/web-kpa-society/src/pages/operator/OperatorContentHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/ContentCreationGuideModal.tsx
Owners: @o4o-platform/core-team

docs(check): QR 제작 AI 작성 단계 제거 smoke PASS (WO-O4O-KPA-QR-AI-STEP-REMOVE-V1)
  docs/checks/CHECK-O4O-KPA-QR-AI-STEP-REMOVE-V1.md
Owners: @o4o-platform/docs-team

docs(check): /operator/docs 콘텐츠 제작 가이드 모달 — 구현·배포 완료, operator 라이브 smoke 보류 (WO-O4O-KPA-OPERATOR-DOCS-CONTENT-CREATION-GUIDE-MODAL-V1)
  docs/checks/CHECK-O4O-KPA-OPERATOR-DOCS-CONTENT-CREATION-GUIDE-MODAL-V1.md
Owners: @o4o-platform/docs-team

docs(ir): 매장 취급제품 통합 뷰 설계 조사 (read-only)
  docs/investigations/IR-O4O-KPA-STORE-HANDLED-PRODUCTS-UNIFIED-VIEW-DESIGN-V1.md
Owners: @o4o-platform/docs-team

docs(check): /operator/docs 콘텐츠 제작 가이드 모달 operator 라이브 smoke PASS (WO-O4O-KPA-OPERATOR-DOCS-CONTENT-CREATION-GUIDE-MODAL-V1)
  docs/checks/CHECK-O4O-KPA-OPERATOR-DOCS-CONTENT-CREATION-GUIDE-MODAL-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): 타블렛 구성 고객 화면 미리보기 추가 (WO-O4O-KPA-TABLET-PREVIEW-V1)
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): 콘텐츠 제작 AI 본문 생성 단계 제거 — 빈 편집기 직접 작성 전용 (WO-O4O-KPA-CONTENT-CREATE-AI-STEP-REMOVE-V1)
  services/web-kpa-society/src/pages/pharmacy/CreateContentFromResourcesModal.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): 매장 취급제품 통합 조회 뷰 V1 (WO-O4O-KPA-STORE-HANDLED-PRODUCTS-UNIFIED-VIEW-V1)
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/routes/platform/store-handled-products.routes.ts
  docs/checks/CHECK-O4O-KPA-STORE-HANDLED-PRODUCTS-UNIFIED-VIEW-V1.md
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/handledProducts.ts
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): 콘텐츠 제작 AI 본문 생성 단계 제거 smoke PASS (WO-O4O-KPA-CONTENT-CREATE-AI-STEP-REMOVE-V1)
  docs/checks/CHECK-O4O-KPA-CONTENT-CREATE-AI-STEP-REMOVE-V1.md
Owners: @o4o-platform/docs-team

fix(kpa-tablet): 미리보기 Router 중첩 제거 — kiosk slug prop 주입 (WO-O4O-KPA-TABLET-PREVIEW-V1)
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-community): 커뮤니티 콘텐츠/강의 콘텐츠 제작 가이드 모달 + mode 확장 (WO-O4O-KPA-COMMUNITY-CONTENT-LECTURE-CREATION-GUIDE-MODAL-V1)
  services/web-kpa-society/src/pages/contents/ContentWritePage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseNewPage.tsx
  services/web-kpa-society/src/pages/pharmacy/ContentCreationGuideModal.tsx
Owners: @o4o-platform/core-team

docs(check): 매장 취급제품 통합 뷰 V1 smoke PASS (WO-O4O-KPA-STORE-HANDLED-PRODUCTS-UNIFIED-VIEW-V1)
  docs/checks/CHECK-O4O-KPA-STORE-HANDLED-PRODUCTS-UNIFIED-VIEW-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): POP 제작 흐름 AI 문구 생성 단계 제거 (WO-O4O-KPA-POP-AI-STEP-REMOVE-V1)
  services/web-kpa-society/src/pages/pharmacy/StorePopPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): 매장 취급제품 중심화 + 제품 관리 메뉴 흡수 (WO-O4O-KPA-STORE-HANDLED-PRODUCTS-INTERNAL-TABS-V1)
  docs/checks/CHECK-O4O-KPA-STORE-HANDLED-PRODUCTS-INTERNAL-TABS-V1.md
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): 매장 취급제품 중심화 smoke PASS (WO-O4O-KPA-STORE-HANDLED-PRODUCTS-INTERNAL-TABS-V1)
  docs/checks/CHECK-O4O-KPA-STORE-HANDLED-PRODUCTS-INTERNAL-TABS-V1.md
Owners: @o4o-platform/docs-team
