Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

chore(phase0): Record rollback point and baseline
  docs/dev/tasks/phase0_rollback_point.md
Owners: @o4o-platform/docs-team

feat(p1-d2-d3-d4): Add search debouncing, keyboard shortcuts, and quick actions
  apps/admin-dashboard/src/hooks/useDebounce.ts
  apps/admin-dashboard/src/hooks/useKeyboardShortcuts.ts
  apps/admin-dashboard/src/pages/enrollments/EnrollmentManagement.tsx
  apps/api-server/src/routes/admin/enrollments.routes.ts
Owners: @o4o-platform/admin-team, @o4o-platform/api-team

fix(customizer): Fix handleReset adapter bypass (BUG-02 root cause)
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
  docs/dev/tasks/phase2_adapter_bypass_inventory.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team

docs(customizer): Mark Phase 2 adapter bypass fix complete
  docs/dev/tasks/phase2_adapter_bypass_inventory.md
Owners: @o4o-platform/docs-team

feat(customizer): Remove window.location.reload() from preset apply
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
Owners: @o4o-platform/admin-team

refactor(customizer): Unify save pipeline with normalizeCustomizerSettings
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
Owners: @o4o-platform/admin-team

feat(customizer): Add control-based type enforcement to adapter
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/normalize-settings.ts
  docs/dev/tasks/control_based_schema_spec.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team

feat(customizer): Add control-based type enforcement to adapter
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/normalize-settings.ts
  docs/dev/tasks/control_based_schema_spec.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team

docs(prune): Add code cleanup inventory and PR checklist templates
  docs/dev/tasks/code_prune_inventory.md
  docs/dev/tasks/code_prune_pr_checklist.md
Owners: @o4o-platform/docs-team

debug: Add comprehensive logging to diagnose type enforcement failure
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/normalize-settings.ts
Owners: @o4o-platform/admin-team

fix(customizer): Force type enforcement for all fields unconditionally
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/normalize-settings.ts
Owners: @o4o-platform/admin-team

fix(customizer): Add undefined guard in AstraColorPicker
  apps/admin-dashboard/src/pages/appearance/astra-customizer/components/controls/AstraColorPicker.tsx
Owners: @o4o-platform/admin-team

fix(customizer): Add undefined guards in AstraSlider
  apps/admin-dashboard/src/pages/appearance/astra-customizer/components/controls/AstraSlider.tsx
Owners: @o4o-platform/admin-team

fix(customizer): Remove iframe preview + cross-origin blocking + type hardening
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/normalize-settings.ts
  apps/main-site/src/contexts/AuthContext.tsx
  docs/dev/tasks/customizer_preview_off_hotfix.md
Owners: @o4o-platform/admin-team, @o4o-platform/frontend-team, @o4o-platform/docs-team

docs(customizer): Add Phase-1 cleanup and preview page specification
  docs/dev/tasks/customizer_phase1_cleanup_and_preview_build.md
Owners: @o4o-platform/docs-team

fix(admin): Disable auto-reload on version check to prevent work interruption
  apps/admin-dashboard/src/utils/versionCheck.ts
  pnpm-lock.yaml
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team

fix(admin): Remove console.log statements from versionCheck
  apps/admin-dashboard/src/utils/versionCheck.ts
Owners: @o4o-platform/admin-team

fix(main-site): Fix infinite loop in useTemplateParts hook
  apps/main-site/src/hooks/useTemplateParts.ts
Owners: @o4o-platform/frontend-team

fix(customizer): Fix logo not appearing on frontend after save
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/template-parts-converter.ts
Owners: @o4o-platform/admin-team

fix(auth): Remove console.error statements causing delayed error messages
  apps/main-site/src/contexts/AuthContext.tsx
  packages/auth-client/src/cookie-client.ts
Owners: @o4o-platform/frontend-team, @o4o-platform/security-team

fix(customizer): Fix logo save errors and remove hardcoded fallback
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
  apps/main-site/src/components/blocks/SiteLogo.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/ui-team

fix(main-site): Remove duplicate checkAuthStatus call to prevent repeated /me requests
  apps/main-site/src/App.tsx
Owners: @o4o-platform/frontend-team

feat(api): Add user seeding script for 30 test users
  apps/api-server/package.json
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(api): Add .js extension to imports in seed-users script
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/backend-team

fix(api): Remove .js extensions from imports
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/backend-team

fix(api): Add .ts extensions to imports for ESM compatibility
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/backend-team

fix: Update seed-users script for compilation - change imports to .js extensions and include scripts in build
  apps/api-server/scripts/seed-users.ts
  apps/api-server/tsconfig.build.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

fix: Exclude problematic scripts from build
  apps/api-server/tsconfig.build.json
Owners: @o4o-platform/devops-team

fix: Add explicit env loading to seed-users script
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/backend-team

debug: Add env loading debug to seed script
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/backend-team

fix: Correct env file path resolution in seed script
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/backend-team

fix: Correct env file path in connection.ts for compiled code
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/backend-team

fix: Add explicit snake_case column names to RoleAssignment entity
  apps/api-server/src/entities/RoleAssignment.ts
Owners: @o4o-platform/database-team

fix: Remove assignedBy field from seed script (nullable UUID)
  apps/api-server/scripts/seed-users.ts
Owners: @o4o-platform/backend-team

chore: Remove debug logging from seed script and connection
  apps/api-server/scripts/seed-users.ts
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/backend-team

fix: Revert tsconfig rootDir to ./src for proper main.js location
  apps/api-server/package.json
  apps/api-server/scripts/seed-users.ts
  apps/api-server/tsconfig.build.json
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix: Add error handling and user feedback for customizer save
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
Owners: @o4o-platform/admin-team

refactor: Fix logo save issue by unifying template-parts conversion
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
  apps/api-server/src/services/settingsService.ts
  apps/api-server/src/utils/customizer/template-parts-converter.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

fix: Fix settings save by unwrapping request body and remove unused legacy code
  apps/api-server/src/controllers/settingsController.ts
  apps/api-server/src/utils/customizer/template-parts-converter.ts
Owners: @o4o-platform/backend-team

fix: Replace CommonJS require with ES module import for UserRoleController
  apps/api-server/src/config/routes.config.ts
Owners: @o4o-platform/backend-team
