Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix: Handle nested API response structure
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Force title update with setTimeout to ensure UI reflects loaded data
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

debug: Add comprehensive alerts to trace execution flow
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

debug: Add error alert to catch API call failures
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Clean up debug code and use requestAnimationFrame for state update
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Add multiple strategies to ensure title is displayed
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Add text color class to title input field
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

debug: Add logging to track component mounts and state changes
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Remove console.log and simplify post data loading logic
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

docs: Add code cleanup summary and archive backup
  archive/2025-01-06-editor-cleanup/CLEANUP_SUMMARY.md
Owners: @o4o-platform/docs-team

fix: Fix post editor data loading with flushSync and remove unused code
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/appearance/TemplatePartEditor.tsx
  apps/admin-dashboard/src/pages/posts/PostsManagement.tsx
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
  archive/2025-01-06-duplicate-cleanup/CLEANUP_REPORT.md
  archive/2025-01-06-duplicate-cleanup/WordPressBlockEditor.tsx
  archive/2025-01-06-duplicate-cleanup/WordPressBlockEditorDynamic.tsx
  archive/2025-01-06-duplicate-cleanup/WordPressBlockEditorLazy.tsx
  archive/2025-01-06-duplicate-cleanup/authorize.ts
  archive/2025-01-06-duplicate-cleanup/components-test/ApiConnectionTest.tsx
  archive/2025-01-06-duplicate-cleanup/components-test/AuthFlowTest.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/RolePermissions.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/UserCreate.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/UserDetail.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/UserEdit.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/UserForm.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/UserList.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/UsersList.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/components/UserStatistics.tsx
  archive/2025-01-06-duplicate-cleanup/pages-Users/index.tsx
  archive/2025-01-06-duplicate-cleanup/pages-test/GutenbergPage.tsx
  archive/2025-01-06-duplicate-cleanup/pages-test/GutenbergPage.tsx.fix
  archive/2025-01-06-duplicate-cleanup/pages-test/GutenbergPageWrapped.tsx
  archive/2025-01-06-duplicate-cleanup/pages-test/LoopBlockTest.tsx
  archive/2025-01-06-duplicate-cleanup/pages-test/ParagraphTestDirect.tsx
  archive/2025-01-06-duplicate-cleanup/pages-test/TestPage.tsx
  archive/2025-01-06-fix/FIXED_STRUCTURE.md
  archive/2025-01-06-fix/StandaloneEditor.tsx.before-reorder
  archive/2025-01-06-investigation/INVESTIGATION_REPORT.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix: Clean up StandaloneEditor and fix loadPostData function
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

debug: Add debugging helpers to track post data loading
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Critical fixes for post editor save and load issues
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

debug: Add comprehensive debugging for post load and save issues
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Resolve post data loading issues with proper state updates
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Remove all console.log statements for CI/CD compliance
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Add additional state tracking to diagnose React update issues
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Workaround for React state update issue by using DOM value
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Reset state when postId changes to ensure clean initialization
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Resolve React state update issue in StandaloneEditor
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Add loadPostData to useEffect dependency array
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Prevent state reset when loading existing posts
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Remove duplicate language in CodeQL analysis
  .github/workflows/codeql.yml
Owners: @o4o-platform/devops-team

debug: Add detailed effect execution tracking
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Add key prop to input and enhance debugging
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Force input value update when React rendering fails
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

debug: Add detailed force update decision logging
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Fix input width issue preventing title visibility
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Force text color with inline style
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Pass documentTitle prop to GutenbergBlockEditor
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

cleanup: Remove debug code and workarounds
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Fix post editor not loading existing post data
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

debug: Add console logs to track data loading issue
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: Resolve post editor data loading issue with component remounting
  .claude/settings.local.json
  AGENTS.md
  AppDataLocalProgramsMicrosoft
  POST_EDITOR_DEBUGGING_HISTORY.md
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/pages/editor/EditorRouteWrapper.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/admin-team

chore: Remove console.log statements from production code
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/pages/editor/EditorRouteWrapper.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

refactor: Clean up and optimize editor code after bug fix
  AGENTS.md
  AppDataLocalProgramsMicrosoft
  POST_EDITOR_DEBUGGING_HISTORY.md
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/pages/editor/EditorRouteWrapper.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/admin-team

fix: Replace StandaloneEditor with EditorRouteWrapper in gutenberg route
  apps/admin-dashboard/src/App.tsx
Owners: @o4o-platform/admin-team

fix: Fix post update issue - ensure correct API request format
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
Owners: @o4o-platform/admin-team

chore: Remove console.log statements from production code
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
Owners: @o4o-platform/admin-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
