Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

refactor(kpa): simplify pharmacy gate - remove PharmacyGuard catch-22, persist role selection
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/modules/auth/routes/auth.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyApprovalGatePage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

refactor(kpa): reduce pharmacy path complexity - fix CORS, returnTo, redundant redirects
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/client.ts
  services/web-kpa-society/src/components/FunctionGateModal.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/lib/auth-utils.ts
  services/web-kpa-society/src/pages/LoginPage.tsx
  services/web-kpa-society/src/pages/pharmacy/ServiceLoginPage.tsx
Owners: @o4o-platform/core-team

fix(auth): eliminate infinite redirect loop on token expiry
  packages/auth-client/src/client.ts
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyApprovalGatePage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyPage.tsx
Owners: @o4o-platform/security-team, @o4o-platform/core-team

fix(auth): fix LoginRedirect guard loop - always navigate to / first
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team

fix(kpa): rename forum button to '포럼 카테고리 생성'
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): sync member pending count & add operator back navigation
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/core-team

feat(kpa): add /__debug__/pharmacy-gate diagnostic page
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/debug/PharmacyGateDebugPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): use API-first approval check to bypass stale token pharmacistRole
  services/web-kpa-society/src/components/auth/PharmacyGuard.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): add module-level approval cache to prevent infinite API loop
  services/web-kpa-society/src/api/pharmacyRequestApi.ts
  services/web-kpa-society/src/components/auth/PharmacyGuard.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): remove ContextGuard from pharmacy pages blocking render
  services/web-kpa-society/src/pages/pharmacy/PharmacyDashboardPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyHubPage.tsx
Owners: @o4o-platform/core-team

refactor(kpa): remove news section, replace with 약사공론 placeholder
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/home.ts
  services/web-kpa-society/src/components/home/NoticeSection.tsx
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/core-team

fix(kpa): guard null user.id in dashboard copy hook
  services/web-kpa-society/src/hooks/useDashboardCopy.ts
Owners: @o4o-platform/core-team

fix(kpa): improve error handling for forum like and LMS certificate pages
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
  services/web-kpa-society/src/pages/lms/LmsCertificatesPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): add automatic token refresh to KPA ApiClient and Dashboard API
  services/web-kpa-society/src/api/client.ts
  services/web-kpa-society/src/api/dashboard.ts
  services/web-kpa-society/src/api/token-refresh.ts
  services/web-kpa-society/src/contexts/AuthContext.tsx
Owners: @o4o-platform/core-team

chore(kpa): remove unused JSON debug pages
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/debug/ApiDebugPage.tsx
  services/web-kpa-society/src/pages/debug/PharmacyGateDebugPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): remove "이용 중인 서비스" section and fix wrong service domains
  services/web-kpa-society/src/components/pharmacy/PharmacyPublicView.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/sections/ActiveServicesSection.tsx
Owners: @o4o-platform/core-team

fix(kpa): improve signage signal message with navigation link
  services/web-kpa-society/src/pages/pharmacy/PharmacyDashboardPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): fix LayoutBuilderPage token bug and add service application UX
  services/web-kpa-society/src/pages/pharmacy/LayoutBuilderPage.tsx
Owners: @o4o-platform/core-team

refactor(docs): reorganize folder structure and create manual scaffold
  CLAUDE.md
  docs/baseline/ADMIN_OPERATOR_ROLE_POLICY_V1.md
  docs/baseline/ADMIN_UX_CORE_FREEZE_V1.md
  docs/baseline/BASELINE-OPERATOR-OS-V1.md
  docs/baseline/E-COMMERCE-ORDER-CONTRACT.md
  docs/baseline/KPA-ROLE-MATRIX-V1.md
  docs/baseline/KPA-SOCIETY-SERVICE-STRUCTURE.md
  docs/baseline/KPA_UX_BASELINE_V1.md
  docs/baseline/OPERATOR_UX_CORE_FREEZE_V1.md
  docs/baseline/README.md
  docs/baseline/ROLE_GUARD_TEST_BASELINE_V1.md
  docs/baseline/core-boundary.md
  docs/baseline/legacy/GLYCOPHARM-LEGACY-POSTMORTEM.md
  docs/baseline/operations/PRODUCTION-MIGRATION-STANDARD.md
  docs/manual/README.md
  docs/manual/glucoseview/assets/.gitkeep
  docs/manual/glucoseview/operator/.gitkeep
  docs/manual/glycopharm/assets/.gitkeep
  docs/manual/glycopharm/operator/.gitkeep
  docs/manual/k-cosmetics/assets/.gitkeep
  docs/manual/k-cosmetics/operator/.gitkeep
  docs/manual/kpa-society/admin/.gitkeep
  docs/manual/kpa-society/assets/.gitkeep
  docs/manual/kpa-society/operator/.gitkeep
  docs/manual/kpa-society/pharmacist/.gitkeep
  docs/manual/neture/assets/.gitkeep
  docs/manual/neture/operator/.gitkeep
  docs/manual/overview/.gitkeep
  docs/reference/ESM-CIRCULAR-DEPENDENCY-ANALYSIS-V01.md
  docs/reference/ESM-CIRCULAR-DEPENDENCY-CLOSURE-V01.md
  docs/reference/KPA-SOCIETY-PHASE2-MEMBERSHIP-DATA-MODEL.md
  docs/reference/KPA-SOCIETY-PHASE2-SERVICE-NAVIGATION-RULES.md
  docs/reference/KPA-SOCIETY-PHASE2-SIGNUP-AND-APPROVAL-FLOW.md
  docs/reference/kpa-society-auth-current-state.md
  docs/rules/ai.md
  docs/rules/card-design-governance.md
  docs/rules/content.md
  docs/rules/operation-distribution.md
  docs/rules/product-db.md
  docs/rules/service.md
Owners: @o4o-platform/docs-team

feat(care): introduce CgmProvider adapter and AnalysisEngine
  apps/api-server/.env.apiserver.example
  apps/api-server/src/modules/care/ai-analysis.provider.ts
  apps/api-server/src/modules/care/analysis.engine.ts
  apps/api-server/src/modules/care/analysis.provider.ts
  apps/api-server/src/modules/care/care-analysis.controller.ts
  apps/api-server/src/modules/care/cgm.provider.ts
  apps/api-server/src/modules/care/mock-analysis.provider.ts
  apps/api-server/src/modules/care/mock-cgm.provider.ts
Owners: @o4o-platform/backend-team

refactor(care): replace KPI dashboard with patient table layout
  docs/services/care/CARE-HOME-CURRENT-STRUCTURE-REPORT-V1.md
  services/web-glucoseview/src/pages/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(care): add KPI row, risk filter, and hero header to Care Home
  docs/services/care/CARE-PATIENTS-CURRENT-STRUCTURE-REPORT-V1.md
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

refactor(care): unify PatientsPage to single-column table layout
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
Owners: @o4o-platform/core-team

feat(care): add default sorting to PatientsPage (analysis date desc)
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
Owners: @o4o-platform/core-team

feat(care): align Care data - snapshot-based risk and analysis dates
  apps/api-server/src/modules/care/care-dashboard.controller.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(glycopharm): unify public menu and align HomePage to function structure
  docs/services/care/CARE-HOME-CURRENT-STRUCTURE-REPORT-V1.md
  docs/services/care/MY-PAGE-ROLE-STRUCTURE-REPORT-V1.md
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/HomePage.tsx
  services/web-glycopharm/src/pages/MyPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(glycopharm): add Store entry portal page with 2-card layout
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/store/StoreEntryPage.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): remove unused variables in Header.tsx for Docker build
  services/web-glycopharm/src/components/common/Header.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): separate Care routes under /care path
  docs/services/care/STORE-ROLE-ACCESS-REPORT-V1.md
  docs/services/glycopharm/STORE-NAVIGATION-FLOW-REPORT-V1.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/lib/auth-utils.ts
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(glycopharm): establish Care internal navigation structure
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/care/AnalysisPage.tsx
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/CareSubNav.tsx
  services/web-glycopharm/src/pages/care/CoachingPage.tsx
  services/web-glycopharm/src/pages/care/PatientDetailPage.tsx
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
  services/web-glycopharm/src/pages/care/index.ts
Owners: @o4o-platform/core-team

feat(glycopharm): add PatientDetail tab structure with snapshot data alignment
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/PatientDetailPage.tsx
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
  services/web-glycopharm/src/pages/care/patient-tabs/AnalysisTab.tsx
  services/web-glycopharm/src/pages/care/patient-tabs/CoachingTab.tsx
  services/web-glycopharm/src/pages/care/patient-tabs/HistoryTab.tsx
  services/web-glycopharm/src/pages/care/patient-tabs/SummaryTab.tsx
  services/web-glycopharm/src/pages/care/patient-tabs/index.ts
Owners: @o4o-platform/core-team

feat(glycopharm): establish coaching flow structure with session list
  services/web-glycopharm/src/pages/care/patient-tabs/CoachingTab.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): integrate patient timeline with analysis + coaching events
  services/web-glycopharm/src/pages/care/patient-tabs/HistoryTab.tsx
Owners: @o4o-platform/core-team

fix(care): remove unused User import causing Docker build failure (TS6133)
  services/web-glycopharm/src/pages/care/PatientDetailPage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): live Home preview + soft guard UX restructuring
  apps/api-server/src/main.ts
  apps/api-server/src/modules/home/home-preview.controller.ts
  pnpm-lock.yaml
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/public.ts
  services/web-glycopharm/src/components/common/FeatureIntroPage.tsx
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/components/common/LoginModal.tsx
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/HomeLivePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team, @o4o-platform/core-team

feat(infra): add Redis cache layer for Home Preview global aggregate
  apps/api-server/src/infrastructure/cache.service.ts
  apps/api-server/src/modules/home/home-preview.controller.ts
Owners: @o4o-platform/backend-team

feat(admin): add demo seed endpoint for Home Preview data
  apps/api-server/src/main.ts
  apps/api-server/src/modules/admin/seed-demo.controller.ts
Owners: @o4o-platform/backend-team

fix(admin): add secret-key fallback auth for seed-demo endpoint
  apps/api-server/src/modules/admin/seed-demo.controller.ts
Owners: @o4o-platform/backend-team

fix(admin): simplify seed-demo auth to direct secret check
  apps/api-server/src/modules/admin/seed-demo.controller.ts
Owners: @o4o-platform/backend-team

fix(ci): set GRACEFUL_STARTUP=true and add Redis/VPC config to deploy
  .github/workflows/deploy-api.yml
Owners: @o4o-platform/devops-team
