Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(typeorm): V2 엔티티 등록 누락 수정 — KpaSteward, NetureOrder, NeturePartner
  apps/api-server/src/database/connection.ts
  scripts/check-typeorm-entities.mjs
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs: TypeORM 엔티티 등록 누락 정비 완료 보고서 작성
  docs/baseline/TYPEORM-ENTITY-REGISTRATION-CLEANUP-REPORT-V1.md
Owners: @o4o-platform/docs-team

fix(typeorm): NetureOrder/NeturePartner 제거 — 의존 엔티티 미등록으로 DataSource 초기화 실패
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/backend-team

docs: O4O 공통 구조 원칙 문서 생성 및 CLAUDE.md 참조 추가
  CLAUDE.md
  docs/o4o-common-structure.md
Owners: @o4o-platform/docs-team

feat(glycopharm): WO-O4O-GLYCOPHARM-MENU-KPA-ALIGNMENT-V1 + HOME-KPA-ALIGNMENT-V1
  apps/api-server/src/modules/neture/neture-library.routes.ts
  apps/api-server/src/modules/neture/services/neture-library.service.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/GlycoGlobalHeader.tsx
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/config/navigation.ts
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/lib/role-constants.ts
  services/web-glycopharm/src/pages/auth/RoleSelectPage.tsx
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/forum-ext/ForumFeedPage.tsx
  services/web-glycopharm/src/pages/forum-ext/ForumListPage.tsx
  services/web-glycopharm/src/pages/operator/forum-management/OperatorForumManagementPage.tsx
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierLibraryFormPage.tsx
  services/web-neture/src/pages/supplier/SupplierLibraryPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(glycopharm): WO-O4O-GLYCOPHARM-HOME-ROUTE-CLEANUP-V1 — /community 제거
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/PharmacyPlaceholderPage.tsx
  services/web-glycopharm/src/pages/apply/PharmacistApplyPage.tsx
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPostDetailPage.tsx
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): WO-O4O-GLYCOPHARM-HOME-SERVICE-ENTRY-ALIGNMENT-V1
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): 로그인 모달 테스트 계정 퀵필 버튼 추가
  services/web-glycopharm/src/components/common/LoginModal.tsx
Owners: @o4o-platform/core-team

fix(kpa): WO-KPA-OPERATOR-SIGNAGE-CONTENT-MENU-REMOVAL-V1 — 잔존 메뉴 제거
  services/web-kpa-society/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/core-team

feat(forum): WO-FORUM-TAG-SELECTION-UI-V1 — 포럼 개설 신청 태그 선택 UI + 서버 검증
  apps/api-server/src/services/forum/ForumCategoryRequestService.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/pages/mypage/RequestCategoryPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(kpa): WO-O4O-SIGNAGE-TABLE-STANDARD-V1 — Signage 운영자 3개 페이지 O4O 표준 테이블 정비
  services/web-kpa-society/src/pages/operator/signage/ForcedContentPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-society): WO-O4O-OPERATOR-LIST-TABLE-STANDARD-V2 — OperatorForumPage + TemplatesPage O4O 표준 테이블 전환
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
  services/web-kpa-society/src/pages/operator/signage/TemplatesPage.tsx
Owners: @o4o-platform/core-team

feat(neture): WO-O4O-PRODUCT-NAME-UNIFICATION-V1 — marketing_name → name
  apps/api-server/src/database/migrations/20260422100000-RenameMarketingNameToName.ts
  apps/api-server/src/modules/neture/controllers/admin.controller.ts
  apps/api-server/src/modules/neture/controllers/operator-product-cleanup.controller.ts
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/controllers/supplier-settlement.controller.ts
  apps/api-server/src/modules/neture/entities/ProductMaster.entity.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/admin.service.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/inventory.service.ts
  apps/api-server/src/modules/neture/services/offer-service-approval.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/neture/services/partner.service.ts
  apps/api-server/src/modules/neture/services/seller.service.ts
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  apps/api-server/src/modules/neture/services/xlsx-template.service.ts
Owners: @o4o-platform/backend-team

feat(forum): WO-FORUM-TAG-FILTER-ON-HUB-V1 + WO-FORUM-TAG-TO-CATEGORY-PROPAGATION-V1 + related
  apps/api-server/src/database/migrations/20260700000000-AddTagsToForumCategory.ts
  apps/api-server/src/database/migrations/20260700200000-MigrateLmsCreatorQualification.ts
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/routes/kpa/controllers/qualification.controller.ts
  apps/api-server/src/routes/kpa/entities/member-qualification.entity.ts
  apps/api-server/src/services/forum/ForumCategoryRequestService.ts
  packages/forum-core/src/backend/entities/ForumCategory.ts
  packages/forum-core/src/backend/entities/ForumCategoryRequest.ts
  services/web-kpa-society/src/api/qualification.ts
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
  services/web-kpa-society/src/pages/lms/EducationPage.tsx
  services/web-kpa-society/src/pages/mypage/MyQualificationsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyRequestsPage.tsx
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(build): WO-O4O-PRODUCT-NAME-UNIFICATION-V1 누락 참조 수정 — marketingName → name
  apps/api-server/src/modules/product-policy-v2/product-policy-v2.internal.routes.ts
  apps/api-server/src/routes/neture/services/neture.service.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

fix(catalog-import): marketingName → name — manualData 필드명 수정
  apps/api-server/src/modules/catalog-import/services/catalog-import-resolver.ts
Owners: @o4o-platform/backend-team

fix(kpa-society): WO-O4O-OPERATOR-LIST-TABLE-STANDARD-V2-HOTFIX-F1-V1 — OperatorForumPage onRowClick 누락 보완
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
Owners: @o4o-platform/core-team

feat(admin): WO-O4O-PRODUCT-INPUT-ASSIST-V1 — 상품 등록 검색 선택 자동채움 구현
  apps/admin-dashboard/src/api/product-library.api.ts
  apps/admin-dashboard/src/pages/sellerops/SellerOpsRouter.tsx
  apps/admin-dashboard/src/pages/sellerops/pages/ListingCreatePage.tsx
  apps/admin-dashboard/src/pages/sellerops/pages/ProductSearchPage.tsx
  apps/admin-dashboard/src/pages/supplierops/SupplierOpsRouter.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/ProductCreatePage.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/ProductSearchPage.tsx
Owners: @o4o-platform/admin-team

fix(kpa-lms): WO-LMS-INSTRUCTOR-DASHBOARD-QUALIFICATION-FIX-V1 — lms_creator 승인 사용자 대시보드 접근 허용
  apps/api-server/src/routes/kpa/controllers/instructor-dashboard.controller.ts
Owners: @o4o-platform/api-team

feat(kpa-society): WO-O4O-OPERATOR-LIST-TABLE-STANDARD-V3 Phase 3-A
  services/web-kpa-society/src/pages/operator/PharmacyRequestManagementPage.tsx
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
Owners: @o4o-platform/core-team

feat(neture): WO-O4O-BULK-MATCHING-NORMALIZATION-V1 — bulk 상품 등록 매칭 + 검토 UI
  apps/admin-dashboard/src/api/product-library.api.ts
  apps/admin-dashboard/src/pages/supplierops/SupplierOpsRouter.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/BulkImportPage.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/Products.tsx
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/services/bulk-match.service.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

feat(neture): WO-O4O-PRODUCT-ALIAS-FOUNDATION-V1 — 검색 품질 향상을 위한 product_aliases 시스템 구축
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260422200000-CreateProductAliases.ts
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/entities/ProductAlias.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/services/alias.service.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
Owners: @o4o-platform/backend-team

chore: yaksa.site → kpa-society.co.kr 도메인 참조 정리
  apps/api-server/src/modules/lms/controllers/CertificateController.ts
  bundles/yaksa.bundle.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

feat(kpa): WO-KPA-HOME-STRUCTURE-REFINEMENT-V1 — 홈 허브 구조 정리 + 메뉴 단순화
  packages/shared-space-ui/src/HeroSummarySection.tsx
  packages/shared-space-ui/src/types.ts
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/config/navigation.ts
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/core-team

feat(content): WO-KPA-CONTENT-LIKE-AND-SORT-V1 — 콘텐츠 좋아요 + 인기순 정렬
  apps/api-server/src/database/migrations/20260422100000-AddContentLikeCount.ts
  apps/api-server/src/modules/content/content-query.service.ts
  packages/types/src/content.ts
  packages/ui/src/content-discovery/ContentMetaBar.tsx
  packages/ui/src/content-discovery/ContentSortButtons.tsx
  services/web-kpa-society/src/api/news.ts
  services/web-kpa-society/src/pages/news/NewsListPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team, @o4o-platform/ui-team

feat(kpa): WO-KPA-RESOURCE-HUB-RESTRUCTURE-V1 — 자료실 테이블 기반 HUB 재구성
  apps/api-server/src/database/migrations/20260422300000-KpaContentHubCommunity.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/content.ts
  services/web-kpa-society/src/api/index.ts
  services/web-kpa-society/src/api/resources.ts
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
  services/web-kpa-society/src/pages/content/PrintContentPage.tsx
  services/web-kpa-society/src/pages/content/PublicContentViewPage.tsx
  services/web-kpa-society/src/pages/contents/ContentDetailPage.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
  services/web-kpa-society/src/pages/contents/ContentWritePage.tsx
  services/web-kpa-society/src/pages/contents/index.ts
  services/web-kpa-society/src/pages/operator/OperatorStoreChannelsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreContentEditPage.tsx
  services/web-kpa-society/src/pages/resources/ResourcesHubPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa): WO-O4O-OPERATOR-LIST-TABLE-STANDARD-V3 Phase 3-B
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-KPA-HOME-STRUCTURE-REFINEMENT-V1 — Home 4블록 허브 + 콘텐츠 my 필터
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/content.ts
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa): WO-KPA-CONTENT-UX-REFINEMENT-V1 — 콘텐츠 허브 UX 정리
  services/web-kpa-society/src/pages/contents/ContentDetailPage.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-KPA-HOME-WELCOME-SECTION-REMOVAL-V1 — HeroSummarySection 완전 제거
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-KPA-FORUM-HUB-FOOTER-LINK-REMOVAL-AND-BROWSE-BUTTON-FIX-V1
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
  services/web-kpa-society/src/components/forum/ForumWritePrompt.tsx
  services/web-kpa-society/src/pages/forum/ForumHomePage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-KPA-FORUM-DETAIL-FORUM-CHIP-LIST-REMOVAL-V1
  services/web-kpa-society/src/pages/forum/ForumListPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-lms): WO-KPA-LMS-LEVEL-FILTER-REMOVAL-V1 — 레벨 필터·컬럼 제거
  services/web-kpa-society/src/pages/lms/EducationPage.tsx
  services/web-kpa-society/src/pages/lms/LmsCoursesPage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-KPA-RESOURCES-HUB-SIMPLIFICATION-V1 — 자료실 파일 보관소 + 검색 중심 구조로 단순화
  services/web-kpa-society/src/pages/resources/ResourcesHubPage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-LMS-QUALIFICATION-REQUEST-MENU-RESTORE-V1
  services/web-kpa-society/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/core-team

feat(kpa): WO-CONTENT-HUB-STRUCTURE-AND-TABLE-FOUNDATION-V1 — 콘텐츠 HUB 표준 구조 재정립
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
  services/web-kpa-society/src/pages/contents/ContentTypeSelectPage.tsx
  services/web-kpa-society/src/pages/contents/index.ts
Owners: @o4o-platform/core-team

feat(kpa): WO-REMOVE-ORGANIZATION-REQUEST-UI-V1 — 조직 가입 요청 기능 UI 제거 (Soft Deprecation)
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/admin/OrganizationJoinRequestsPage.tsx
  services/web-kpa-society/src/pages/operator/operatorConfig.ts
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-KPA-HERO-SECTION-SPACING-ADJUSTMENT-V1
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/core-team

feat(ui): WO-O4O-GLOBAL-VERTICAL-RHYTHM-SYSTEM-V1 — PageSection/PageHero 공통 컴포넌트 + KPA Home 적용
  packages/ui/src/layout/Section.tsx
  packages/ui/src/layout/index.ts
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/ui-team, @o4o-platform/core-team

feat(kpa-operator): WO-LMS-CREATOR-LABELING-UX-V1 — lms_creator 운영자 표시명 강사 신청으로 변경
  services/web-kpa-society/src/api/qualification.ts
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
Owners: @o4o-platform/core-team
