Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(kpa): resolve CI build errors for Steward implementation
  apps/api-server/src/routes/kpa/entities/kpa-steward.entity.ts
  services/web-kpa-society/src/pages/admin/StewardManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-society): fix API response access pattern in StewardManagementPage
  services/web-kpa-society/src/pages/admin/StewardManagementPage.tsx
Owners: @o4o-platform/core-team

feat(forum): implement demo scope isolation for /demo/forum routes
  apps/api-server/src/controllers/forum/ForumController.ts
  apps/api-server/src/middleware/forum-context.middleware.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/contexts/ForumScopeContext.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-society): redirect to home page after login instead of dashboard
  services/web-kpa-society/src/pages/FunctionGatePage.tsx
  services/web-kpa-society/src/pages/LoginPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-society): implement demo header/layout separation
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/DemoHeader.tsx
  services/web-kpa-society/src/components/DemoLayout.tsx
  services/web-kpa-society/src/components/index.ts
Owners: @o4o-platform/core-team

fix(kpa-society): match community home hero height to demo page
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/core-team

style(icons): neutralize icon colors across all services (WO-O4O-ICON-SYSTEM-MODERNIZATION-V1 Step 1)
  services/web-glucoseview/src/components/ai/AiPreviewModal.tsx
  services/web-glucoseview/src/components/ai/AiSummaryModal.tsx
  services/web-glycopharm/src/components/ai/AiPreviewModal.tsx
  services/web-glycopharm/src/components/ai/AiSummaryModal.tsx
  services/web-kpa-society/src/components/ai/AiPreviewModal.tsx
  services/web-kpa-society/src/components/ai/AiSummaryModal.tsx
  services/web-neture/src/components/ai/AiPreviewModal.tsx
  services/web-neture/src/components/ai/AiSummaryModal.tsx
  services/web-neture/src/components/supplier/SupplierActivityTimeline.tsx
  services/web-neture/src/components/supplier/SupplierServiceStatusBoard.tsx
  services/web-neture/src/components/supplier/SupplierSummaryCards.tsx
  services/web-neture/src/pages/supplier/SupplierContentsPage.tsx
Owners: @o4o-platform/core-team

fix(kpa-society): remove Neture from featured services
  apps/api-server/src/database/migrations/2026020800001-RemoveNetureFromFeatured.ts
Owners: @o4o-platform/backend-team

fix: remove test account UI from all login pages and cleanup non-admin accounts
  apps/admin-dashboard/src/pages/auth/Login.tsx
  apps/api-server/src/database/migrations/2026020800002-RemoveNonAdminTestAccounts.ts
  services/web-glucoseview/src/components/LoginModal.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-k-cosmetics/src/pages/auth/LoginPage.tsx
  services/web-kpa-society/src/pages/LoginPage.tsx
  services/web-neture/src/components/LoginModal.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat(auth): implement modal-based login across all services
  services/web-glucoseview/src/App.tsx
  services/web-glucoseview/src/components/Layout.tsx
  services/web-glucoseview/src/components/LoginModal.tsx
  services/web-glucoseview/src/contexts/LoginModalContext.tsx
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/components/common/LoginModal.tsx
  services/web-glycopharm/src/contexts/LoginModalContext.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-k-cosmetics/src/components/common/LoginModal.tsx
  services/web-k-cosmetics/src/contexts/LoginModalContext.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/components/LoginModal.tsx
  services/web-kpa-society/src/contexts/LoginModalContext.tsx
  services/web-neture/src/components/LoginModal.tsx
Owners: @o4o-platform/core-team

fix(migration): handle FK constraints before deleting test accounts
  apps/api-server/src/database/migrations/2026020800002-RemoveNonAdminTestAccounts.ts
Owners: @o4o-platform/backend-team

feat(notifications): implement operator notification email management
  apps/api-server/src/controllers/OperatorNotificationController.ts
  apps/api-server/src/database/cli-config.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/2026020800003-CreateOperatorNotificationSettings.ts
  apps/api-server/src/entities/OperatorNotificationSettings.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/glucoseview/controllers/application.controller.ts
  apps/api-server/src/routes/operator-notification.routes.ts
  apps/api-server/src/services/email.service.ts
  apps/api-server/src/templates/email/serviceApplicationApproved.html
  apps/api-server/src/templates/email/serviceApplicationOperatorNotification.html
  apps/api-server/src/templates/email/serviceApplicationRejected.html
  apps/api-server/src/templates/email/serviceApplicationSubmitted.html
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

feat(notifications): add email notifications to GlycoPharm and KPA applications
  apps/api-server/src/routes/glycopharm/controllers/application.controller.ts
  apps/api-server/src/routes/kpa/controllers/application.controller.ts
Owners: @o4o-platform/api-team

feat(kpa): add success modal and email notifications for service applications
  apps/api-server/src/routes/kpa/controllers/organization-join-request.controller.ts
  services/web-kpa-society/src/components/MyServicesSection.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-society): use /kpa/forum API to filter community posts only
  services/web-kpa-society/src/api/forum.ts
Owners: @o4o-platform/core-team

feat(kpa-society): implement auth modal system and tone down community cards
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/LoginModal.tsx
  services/web-kpa-society/src/components/RegisterModal.tsx
  services/web-kpa-society/src/components/home/CommunityServiceSection.tsx
  services/web-kpa-society/src/contexts/AuthModalContext.tsx
  services/web-kpa-society/src/contexts/LoginModalContext.tsx
  services/web-kpa-society/src/index.css
Owners: @o4o-platform/core-team

fix(kpa-society): update Header to use auth modals for login/register buttons
  services/web-kpa-society/src/components/Header.tsx
Owners: @o4o-platform/core-team

fix(cors): add kpa-society.co.kr and other services to CORS origins, fix double /kpa/ path
  apps/api-gateway/src/config/gateway.config.ts
  cloud-deploy/cosmetics-api/package-lock.json
  pnpm-lock.yaml
  services/web-glycopharm/package-lock.json
  services/web-kpa-society/package-lock.json
  services/web-kpa-society/src/api/forum.ts
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

feat(glycopharm): restrict registration to pharmacists only
  services/web-glycopharm/src/components/common/LoginModal.tsx
  services/web-glycopharm/src/contexts/LoginModalContext.tsx
  services/web-glycopharm/src/pages/auth/RegisterPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): P0+P1 auth refinement - approval, data isolation, name/nickname split
  apps/api-server/src/database/migrations/20260205104038-AddKpaAuthFields.ts
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/modules/auth/dto/register.dto.ts
  apps/api-server/src/modules/auth/entities/User.ts
  apps/api-server/src/scripts/p0-add-service-key.sql
  apps/api-server/src/scripts/p0-check-user-status.sql
  docs/deployment/kpa-society-p0-deployment-strategy.md
  docs/investigations/kpa-society-auth-flow-investigation-20260205.md
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/auth/RegisterPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix(kpa): P0+P1 auth refinement - approval, data isolation, name/nickname split
  apps/api-server/src/database/migrations/20260205104038-AddKpaAuthFields.ts
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/modules/auth/dto/register.dto.ts
  apps/api-server/src/modules/auth/entities/User.ts
  apps/api-server/src/scripts/p0-add-service-key.sql
  apps/api-server/src/scripts/p0-check-user-status.sql
  docs/deployment/kpa-society-p0-deployment-strategy.md
  docs/investigations/kpa-society-auth-flow-investigation-20260205.md
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/auth/RegisterPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix(migration): remove reference to non-existent approved_at/approved_by columns
  apps/api-server/src/database/migrations/20260205104038-AddKpaAuthFields.ts
Owners: @o4o-platform/backend-team

fix(kpa-society): add Tailwind CSS for LoginModal and RegisterModal styling
  pnpm-lock.yaml
  services/web-kpa-society/package.json
  services/web-kpa-society/postcss.config.js
  services/web-kpa-society/src/index.css
  services/web-kpa-society/tailwind.config.js
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(kpa): P0 - isolate KPA operator context from cross-service role contamination
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/services/kpa-operator.service.ts
  docs/investigations/operator-context-investigation-20260205.md
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/contexts/OrganizationContext.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(phase-4): implement multi-service role prefix enforcement
  apps/api-server/src/common/middleware/auth.middleware.ts
  apps/api-server/src/database/migrations/20260205033223-RolePrefixMigrationFoundation.ts
  apps/api-server/src/database/migrations/20260205040103-KpaRolePrefixMigration.ts
  apps/api-server/src/database/migrations/20260205060000-NetureRolePrefixMigration.ts
  apps/api-server/src/database/migrations/20260205070000-Phase4MultiServiceRolePrefixMigration.ts
  apps/api-server/src/entities/role-migration-log.entity.ts
  apps/api-server/src/middleware/role-monitoring.middleware.ts
  apps/api-server/src/middleware/signage-role.middleware.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/routes/cosmetics/cosmetics.routes.ts
  apps/api-server/src/routes/glucoseview/controllers/application.controller.ts
  apps/api-server/src/routes/glucoseview/glucoseview.routes.ts
  apps/api-server/src/routes/glycopharm/controllers/admin.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/application.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/forum-request.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/operator.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  apps/api-server/src/routes/kpa/controllers/admin-dashboard.controller.ts
  apps/api-server/src/routes/kpa/controllers/branch-admin-dashboard.controller.ts
  apps/api-server/src/routes/kpa/controllers/organization-join-request.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/kpa/services/kpa-operator.service.ts
  apps/api-server/src/routes/neture/controllers/neture.controller.ts
  apps/api-server/src/scripts/audit-roles.ts
  apps/api-server/src/types/roles.ts
  apps/api-server/src/utils/role.utils.ts
  docs/investigations/phase-0-completion-report.md
  docs/investigations/phase-1-completion-report.md
  docs/investigations/phase-2-completion-report.md
  docs/investigations/phase-3-completion-report.md
  docs/investigations/phase-4-consolidated-completion-report.md
  docs/investigations/phase-4.1-completion-report.md
  docs/investigations/phase-4.2-completion-report.md
  docs/investigations/phase-4.3-completion-report.md
  docs/investigations/phase-4.4-completion-report.md
  docs/investigations/role-prefix-deployment-strategy-20260205.md
  docs/investigations/role-prefix-mapping-table-20260205.md
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/docs-team

refactor(kpa-society): P2 structure refinement for roles, guards, and service separation
  apps/api-server/src/database/migrations/20260205033223-RolePrefixMigrationFoundation.ts
  apps/api-server/src/middleware/role-monitoring.middleware.ts
  docs/investigations/kpa-society-phase1-authguard-summary.md
  docs/investigations/kpa-society-phase1-final-summary.md
  docs/investigations/kpa-society-phase1-investigation-results.md
  docs/investigations/kpa-society-phase2a-api-response.md
  docs/investigations/kpa-society-phase2b-authcontext-storage.md
  docs/investigations/kpa-society-phase2c-authguard-consumption.md
  docs/investigations/kpa-society-service-separation-scenario.md
  docs/investigations/kpa-society-super-operator-concept.md
  docs/work-orders/WO-KPA-SOCIETY-P2-STRUCTURE-REFINE-V1.md
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/admin/AdminAuthGuard.tsx
  services/web-kpa-society/src/components/branch-admin/BranchAdminAuthGuard.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

refactor(kpa-society): P2 structure refinement for roles, guards, and service separation (#122)
  apps/api-server/src/database/migrations/20260205033223-RolePrefixMigrationFoundation.ts
  apps/api-server/src/middleware/role-monitoring.middleware.ts
  docs/investigations/kpa-society-phase1-authguard-summary.md
  docs/investigations/kpa-society-phase1-final-summary.md
  docs/investigations/kpa-society-phase1-investigation-results.md
  docs/investigations/kpa-society-phase2a-api-response.md
  docs/investigations/kpa-society-phase2b-authcontext-storage.md
  docs/investigations/kpa-society-phase2c-authguard-consumption.md
  docs/investigations/kpa-society-service-separation-scenario.md
  docs/investigations/kpa-society-super-operator-concept.md
  docs/work-orders/WO-KPA-SOCIETY-P2-STRUCTURE-REFINE-V1.md
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/admin/AdminAuthGuard.tsx
  services/web-kpa-society/src/components/branch-admin/BranchAdminAuthGuard.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix(migration): use BTREE index instead of GIN for text array
  apps/api-server/src/database/migrations/20260205033223-RolePrefixMigrationFoundation.ts
Owners: @o4o-platform/backend-team

fix(migration): correct unnest syntax in KPA role migration
  apps/api-server/src/database/migrations/20260205040103-KpaRolePrefixMigration.ts
Owners: @o4o-platform/backend-team

fix(migration): convert User.roles from simple-array to text[] array
  apps/api-server/src/database/migrations/20260205035000-ConvertRolesToArrayType.ts
  apps/api-server/src/modules/auth/entities/User.ts
Owners: @o4o-platform/backend-team

fix(migration): correct unnest syntax in all role prefix migrations
  apps/api-server/src/database/migrations/20260205060000-NetureRolePrefixMigration.ts
  apps/api-server/src/database/migrations/20260205070000-Phase4MultiServiceRolePrefixMigration.ts
Owners: @o4o-platform/backend-team

fix(migration): make Phase4 migration resilient to missing service tables
  apps/api-server/src/database/migrations/20260205070000-Phase4MultiServiceRolePrefixMigration.ts
Owners: @o4o-platform/backend-team

fix(migration): remove ON CONFLICT clause from Phase4 migration
  apps/api-server/src/database/migrations/20260205070000-Phase4MultiServiceRolePrefixMigration.ts
Owners: @o4o-platform/backend-team

fix(kpa-society): downgrade Tailwind v4 to v3 for CSS compatibility
  services/web-kpa-society/package.json
  services/web-kpa-society/postcss.config.js
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(login): standardize login modal features across all services
  services/web-glucoseview/src/components/LoginModal.tsx
  services/web-glycopharm/src/components/common/LoginModal.tsx
  services/web-k-cosmetics/src/components/common/LoginModal.tsx
  services/web-kpa-society/src/components/LoginModal.tsx
  services/web-neture/src/components/LoginModal.tsx
Owners: @o4o-platform/core-team

feat(k-cosmetics): enhance MyPage with profile editing and security section
  services/web-k-cosmetics/src/pages/MyPage.tsx
Owners: @o4o-platform/core-team

feat(neture): add MyPage for profile management
  services/web-neture/src/App.tsx
  services/web-neture/src/components/AccountMenu.tsx
  services/web-neture/src/pages/MyPage.tsx
Owners: @o4o-platform/core-team

docs: add KPA Society service structure baseline document
  CLAUDE.md
  docs/_platform/KPA-SOCIETY-SERVICE-STRUCTURE.md
Owners: @o4o-platform/docs-team

feat(kpa-society): refine main navigation to service entry points
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/pages/BranchServicesPage.tsx
Owners: @o4o-platform/core-team

feat(user): displayName 표시 개선 - 이름 없는 경우 '운영자'로 표시
  apps/api-server/src/modules/auth/entities/User.ts
  apps/api-server/src/modules/user/controllers/user.controller.ts
  apps/api-server/src/modules/user/dto/update-profile.dto.ts
  packages/auth-context/src/AuthContext.tsx
  services/web-kpa-society/src/components/DemoHeader.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/components/branch/BranchHeader.tsx
  services/web-kpa-society/src/pages/DashboardPage.tsx
  services/web-kpa-society/src/pages/mypage/MyDashboardPage.tsx
  services/web-kpa-society/src/pages/mypage/MyProfilePage.tsx
  services/web-neture/src/components/AccountMenu.tsx
  services/web-neture/src/pages/MyPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardLayout.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/security-team, @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
