Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs(check): touch-first tablet final smoke — phase 5 (WO-O4O-KPA-TABLET-TOUCH-FIRST-FINAL-SMOKE-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TOUCH-FIRST-FINAL-SMOKE-V1.md
Owners: @o4o-platform/docs-team

docs(check): canonical replace audit log WO — deploy + prod smoke PASS (CLOSED/PASS)
  docs/checks/CHECK-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-AUDIT-LOG-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): add three screen templates + real scan QR (WO-O4O-KPA-TABLET-TEMPLATE-THREE-PATTERNS-V1)
  apps/api-server/src/modules/neture/services/__tests__/shared-product-description.cosmetic-guard.test.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  packages/tablet-kiosk-core/package.json
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  pnpm-lock.yaml
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/devops-team, @o4o-platform/core-team

feat(store): explicit reimport of updated source description as new copy (WO-O4O-STORE-IMPORTED-DESCRIPTION-REIMPORT-REPLACE-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-content.controller.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(check): three tablet screen templates + real scan QR (WO-O4O-KPA-TABLET-TEMPLATE-THREE-PATTERNS-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TEMPLATE-THREE-PATTERNS-V1.md
Owners: @o4o-platform/docs-team

docs(check): store reimport-as-new-copy WO — deploy + prod smoke PASS (CLOSED/PASS)
  docs/checks/CHECK-O4O-STORE-IMPORTED-DESCRIPTION-REIMPORT-REPLACE-V1.md
Owners: @o4o-platform/docs-team

docs(ir): tablet content library + corner assignment design (WO-O4O-KPA-TABLET-CONTENT-LIBRARY-AND-CORNER-ASSIGNMENT-DESIGN-V1)
  docs/investigations/IR-O4O-KPA-TABLET-CONTENT-LIBRARY-AND-CORNER-ASSIGNMENT-DESIGN-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): split tablet mgmt into 코너별 운영 / 태블릿 콘텐츠 tabs (WO-O4O-KPA-TABLET-CONTENT-LIBRARY-TAB-SPLIT-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-LIBRARY-TAB-SPLIT-V1.md
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(store): add store-content usage-trace endpoint + badge summary (WO-O4O-STORE-CONTENT-USAGE-TRACE-FOR-REIMPORT-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-library-feed.controller.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(check): record USAGE-TRACE-FOR-REIMPORT-V1 deploy + smoke PASS
  docs/checks/CHECK-O4O-STORE-CONTENT-USAGE-TRACE-FOR-REIMPORT-V1.md
Owners: @o4o-platform/docs-team

docs(ir): audit current state of KPA tablet content creation flow (IR-O4O-KPA-TABLET-CONTENT-CREATION-CURRENT-STATE-AUDIT-V1)
  docs/investigations/IR-O4O-KPA-TABLET-CONTENT-CREATION-CURRENT-STATE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): standardize tablet content list to O4O standard table (WO-O4O-KPA-TABLET-CONTENT-STANDARD-LIST-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-STANDARD-LIST-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletContentLibraryList.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa): split tablet content create/edit into stepped builder shell (WO-O4O-KPA-TABLET-CONTENT-STEP-BUILDER-SHELL-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-STEP-BUILDER-SHELL-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(grounding): strengthen CR-007 — 근거 부족 제품은 제작하지 않고 HOLD (전 상품군)
  docs/guides/common/CONTENT-RULE-REGISTRY.md
  docs/guides/content-authoring/CONTENT-AUTHORING-PRINCIPLES.md
  docs/guides/products/health-functional-food/HFF-DESCRIPTION-RULES-SSOT-V1.md
Owners: @o4o-platform/docs-team

fix(hff): normalize 4 broken regulatory_type literals to 건강기능식품 (WO-O4O-HFF-BROKEN-REGULATORY-TYPE-NORMALIZE-V1)
  apps/api-server/src/database/migrations/20270208000000-NormalizeHffRegulatoryTypeBrokenLiteral.ts
Owners: @o4o-platform/backend-team

docs(check): record HFF broken regulatory_type normalize — 4건 정규화 PASS
  docs/checks/CHECK-O4O-HFF-BROKEN-REGULATORY-TYPE-NORMALIZE-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): draft preview (tablet + QR mobile) in step builder (WO-O4O-KPA-TABLET-CONTENT-DRAFT-PREVIEW-V1)
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-DRAFT-PREVIEW-V1.md
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  services/web-kpa-society/src/api/tabletDisplays.ts
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix(hff): guarded delete 5 encoding-corrupted ProductMasters (WO-O4O-HFF-CORRUPTED-PRODUCTMASTER-GUARDED-DELETE-V1)
  apps/api-server/src/database/migrations/20270209000000-DeleteHffCorruptedProductMasters.ts
Owners: @o4o-platform/backend-team

docs(check): record HFF corrupted-master guarded delete — 5건 삭제 PASS, HFF 30 clean
  docs/checks/CHECK-O4O-HFF-CORRUPTED-PRODUCTMASTER-GUARDED-DELETE-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): template-driven builder steps (WO-O4O-KPA-TABLET-TEMPLATE-DRIVEN-BUILDER-STEPS-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TEMPLATE-DRIVEN-BUILDER-STEPS-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(ir): design tablet↔QR mobile shared-content structure (IR-O4O-KPA-TABLET-QR-SHARED-CONTENT-DESIGN-V1)
  docs/investigations/IR-O4O-KPA-TABLET-QR-SHARED-CONTENT-DESIGN-V1.md
Owners: @o4o-platform/docs-team

chore(deps): refresh pnpm-lock.yaml (glob deprecation message metadata only)
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

feat(kpa-tablet): screen_set QR landing contract + shared resolver (WO-O4O-KPA-TABLET-QR-LANDING-CONTRACT-V1)
  apps/api-server/src/database/migrations/20270207000000-AddScreenSetQrLandingContract.ts
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

docs(check): screen_set QR landing contract (WO-O4O-KPA-TABLET-QR-LANDING-CONTRACT-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-QR-LANDING-CONTRACT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): screen_set QR mobile viewer, idle excluded (WO-O4O-KPA-TABLET-QR-LANDING-CONTRACT-V1 / WO-B)
  services/web-kpa-society/src/api/storeQr.ts
  services/web-kpa-society/src/pages/qr/PublicScreenSetViewer.tsx
  services/web-kpa-society/src/pages/qr/QrLandingPage.tsx
Owners: @o4o-platform/core-team

docs(check): screen_set QR mobile viewer — WO-B (WO-O4O-KPA-TABLET-QR-LANDING-CONTRACT-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-QR-MOBILE-VIEWER-V1.md
Owners: @o4o-platform/docs-team

fix(kpa-tablet): QR mobile viewer content parity — keep idle_media & product_content (WO-O4O-KPA-TABLET-QR-MOBILE-VIEWER-CONTENT-PARITY-FIX-V1)
  services/web-kpa-society/src/pages/qr/PublicScreenSetViewer.tsx
Owners: @o4o-platform/core-team

docs(check): QR mobile viewer content parity fix (WO-O4O-KPA-TABLET-QR-MOBILE-VIEWER-CONTENT-PARITY-FIX-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-QR-MOBILE-VIEWER-CONTENT-PARITY-FIX-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): auto-link Screen Set QR + derive qr_guide URL (WO-O4O-KPA-TABLET-QR-AUTO-LINK-AND-GUIDE-URL-V1)
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-screen-set-qr.service.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
Owners: @o4o-platform/api-team

docs(check): HFF description production readiness final check — PASS (WO-O4O-HFF-DESCRIPTION-PRODUCTION-READINESS-FINAL-CHECK-V1)
  docs/checks/CHECK-O4O-HFF-DESCRIPTION-PRODUCTION-READINESS-FINAL-CHECK-V1.md
Owners: @o4o-platform/docs-team

docs(check): screen_set QR auto-link + qr_guide URL derivation (WO-O4O-KPA-TABLET-QR-AUTO-LINK-AND-GUIDE-URL-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-QR-AUTO-LINK-AND-GUIDE-URL-V1.md
Owners: @o4o-platform/docs-team

docs(check): tablet QR backfill + end-to-end smoke (WO-O4O-KPA-TABLET-QR-BACKFILL-AND-END-TO-END-SMOKE-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-QR-BACKFILL-AND-END-TO-END-SMOKE-V1.md
Owners: @o4o-platform/docs-team

docs(hff): batch 0 target confirmation + grounding audit — HOLD on grounding (WO-O4O-HFF-DESCRIPTION-BATCH-0-LEGACY-PHOTO-TO-SEMANTIC-KO-EN-V1)
  docs/checks/CHECK-O4O-HFF-DESCRIPTION-BATCH-0-LEGACY-PHOTO-TO-SEMANTIC-KO-EN-V1.md
Owners: @o4o-platform/docs-team

docs(ir): tablet corner↔content assignment model design (WO-O4O-KPA-TABLET-CORNER-CONTENT-ASSIGNMENT-DESIGN-V1)
  docs/investigations/IR-O4O-KPA-TABLET-CORNER-CONTENT-ASSIGNMENT-DESIGN-V1.md
Owners: @o4o-platform/docs-team

docs(hff): batch 0 grounding establish audit — READY 0, all SOURCE_REQUIRED (WO-O4O-HFF-BATCH-0-GROUNDING-ESTABLISH-V1)
  docs/checks/CHECK-O4O-HFF-BATCH-0-GROUNDING-ESTABLISH-V1.md
Owners: @o4o-platform/docs-team

docs(hff): preserve existing ko zh legacy descriptions (WO-O4O-LEGACY-PHOTO-15-EXISTING-KO-ZH-PRESERVE-AND-CLOSE-V1)
  docs/checks/CHECK-O4O-LEGACY-PHOTO-15-EXISTING-KO-ZH-PRESERVE-AND-CLOSE-V1.md
Owners: @o4o-platform/docs-team

docs(hff): candidate market-status + listable audit (WO-O4O-HFF-CANDIDATE-MARKET-STATUS-AND-LISTABLE-AUDIT-V1)
  docs/checks/CHECK-O4O-HFF-CANDIDATE-MARKET-STATUS-AND-LISTABLE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-tablet): include local products in QR mobile product_list (design parity)
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
Owners: @o4o-platform/api-team

feat(kpa-tablet): corner×content assignment model + API (WO-O4O-KPA-TABLET-CORNER-CONTENT-ASSIGNMENT-MODEL-V1)
  apps/api-server/src/database/migrations/20270208000000-CreateStoreTabletCornerContents.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

docs(check): corner×content assignment model (WO-O4O-KPA-TABLET-CORNER-CONTENT-ASSIGNMENT-MODEL-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-CORNER-CONTENT-ASSIGNMENT-MODEL-V1.md
Owners: @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
