Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(PD-2-C): Fix JSX fragment syntax error in GutenbergBlockEditor
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Owners: @o4o-platform/admin-team

Revert "docs: Add dropshipping refactoring investigation and planning documents"
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/appearance/AppearanceSettings.tsx
  apps/admin-dashboard/src/pages/settings/GeneralSettings.tsx
  docs/SHORTCODE_REFERENCE.md
  docs/dev/investigations/dropshipping/C2_A1_OrderService_Detailed_Plan.md
  docs/dev/investigations/dropshipping/C2_REFACTORING_WORK_ORDER.md
  docs/dev/investigations/dropshipping/dropshipping_complexity_audit.md
  pnpm-lock.yaml
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team, @o4o-platform/devops-team

feat(admin): Add appearance settings to GeneralSettings page
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/pages/settings/GeneralSettings.tsx
Owners: @o4o-platform/admin-team

feat(ai): Connect AI generator design tokens to GeneralSettings
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
Owners: @o4o-platform/admin-team

feat(ai): Add AI model selection feature for Gemini 3.0
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/api-server/src/services/ai-proxy.service.ts
  apps/api-server/src/types/ai-proxy.types.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

chore(ai): Remove console.log from production code
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
Owners: @o4o-platform/admin-team

fix(ai): Handle Gemini 2.5 layout wrapper response format
  apps/api-server/src/services/ai-proxy.service.ts
Owners: @o4o-platform/backend-team

fix(ai): Fix response format validation in SimpleAIGenerator
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
Owners: @o4o-platform/admin-team

chore(ai): Remove unsupported Gemini 3 models from UI
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
Owners: @o4o-platform/admin-team

feat(admin): Add TimelineChart widget block for step-by-step processes
  apps/admin-dashboard/src/blocks/generated/TimelineChart.definition.tsx
  apps/admin-dashboard/src/blocks/generated/TimelineChart.tsx
  apps/admin-dashboard/src/blocks/index.ts
Owners: @o4o-platform/admin-team

feat(admin): Add site settings to Appearance menu
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
Owners: @o4o-platform/admin-team

fix(admin): Prevent empty color values in GeneralSettings
  apps/admin-dashboard/src/pages/settings/GeneralSettings.tsx
Owners: @o4o-platform/admin-team

feat(admin): Add comprehensive site-wide theme system
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/hooks/useThemeTokens.ts
  apps/admin-dashboard/src/pages/appearance/SiteThemeSettings.tsx
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
  apps/api-server/src/entities/Settings.ts
  packages/appearance-system/src/tokens.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team, @o4o-platform/database-team, @o4o-platform/core-team

feat(ai): Add TimelineChart block example for AI page generation
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
Owners: @o4o-platform/admin-team

chore: Add platform structure audit and update pnpm-lock
  docs/dev/investigations/refactor/O4O_PLATFORM_STRUCTURE_AUDIT.md
  pnpm-lock.yaml
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team

feat(blocks): Add Spacer and Separator blocks
  apps/admin-dashboard/src/blocks/definitions/separator.tsx
  apps/admin-dashboard/src/blocks/definitions/spacer.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/components/editor/blocks/SeparatorBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/SpacerBlock.tsx
Owners: @o4o-platform/admin-team

feat(blocks): Add AccordionItem, FeatureCard, RoleCard blocks
  apps/admin-dashboard/src/blocks/definitions/accordion-item.tsx
  apps/admin-dashboard/src/blocks/definitions/feature-card.tsx
  apps/admin-dashboard/src/blocks/definitions/role-card.tsx
  apps/admin-dashboard/src/blocks/generated/TimelineChart.definition.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/components/editor/blocks/AccordionItemBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/FeatureCardBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/RoleCardBlock.tsx
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
Owners: @o4o-platform/admin-team

fix(admin): Apply appearance settings to preview
  apps/admin-dashboard/src/components/GlobalStyleInjector.tsx
  apps/admin-dashboard/src/hooks/useCustomizerSettings.ts
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

feat(ai): Add spacer block guidance to AI page generator
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
Owners: @o4o-platform/admin-team

feat: Add TimelineChart block frontend renderer and AI guidance
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  packages/block-renderer/src/index.ts
  packages/block-renderer/src/renderers/index.ts
  packages/block-renderer/src/renderers/layout/TimelineChartBlock.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

feat(admin): Integrate Design Tokens with Preview
  apps/admin-dashboard/src/components/GlobalStyleInjector.tsx
  apps/admin-dashboard/src/hooks/useThemeSettings.ts
  packages/appearance-system/src/tokens.ts
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

fix(platform): Sync Design Tokens across preview and frontend
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/main-site/src/components/GlobalStyleInjector.tsx
  apps/main-site/src/hooks/useThemeSettings.ts
Owners: @o4o-platform/admin-team, @o4o-platform/ui-team, @o4o-platform/frontend-team

feat(blocks): Add IconFeatureList block for feature showcase
  apps/admin-dashboard/src/blocks/definitions/icon-feature-list.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/components/editor/blocks/IconFeatureListBlock.tsx
  packages/block-renderer/src/index.ts
  packages/block-renderer/src/renderers/index.ts
  packages/block-renderer/src/renderers/layout/IconFeatureListBlock.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

feat(ai): Add smart placeholder with alternative block suggestions
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/PlaceholderBlock.tsx
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/admin-dashboard/src/services/ai/types.ts
Owners: @o4o-platform/admin-team

fix(editor): Add missing refactored files for GutenbergBlockEditor
  apps/admin-dashboard/src/components/editor/REFACTORING.md
  apps/admin-dashboard/src/components/editor/editor-shell/BlockListSidebar.tsx
  apps/admin-dashboard/src/components/editor/editor-shell/EditorCanvas.tsx
  apps/admin-dashboard/src/components/editor/editor-shell/EditorShell.tsx
  apps/admin-dashboard/src/components/editor/editor-shell/EditorToolbar.tsx
  apps/admin-dashboard/src/components/editor/hooks/useBlockSelection.ts
  apps/admin-dashboard/src/components/editor/hooks/useEditorUI.ts
  apps/admin-dashboard/src/components/editor/hooks/useGutenbergEditor.ts
  apps/admin-dashboard/src/components/editor/types/editor.ts
Owners: @o4o-platform/docs-team, @o4o-platform/admin-team

feat(main-site): Implement global Toast notification system (HP-1)
  apps/main-site/src/App.tsx
  apps/main-site/src/components/toast/ToastContainer.tsx
  apps/main-site/src/components/toast/ToastItem.tsx
  apps/main-site/src/contexts/AuthContext.tsx
  apps/main-site/src/contexts/ToastProvider.tsx
  apps/main-site/src/hooks/useToast.ts
  apps/main-site/src/pages/apply/ApplyRolePageP3.tsx
  apps/main-site/src/pages/auth/Signup.tsx
  apps/main-site/src/types/toast.ts
Owners: @o4o-platform/frontend-team, @o4o-platform/ui-team

feat(blocks): Add FeatureCard and FAQAccordion blocks for AI page generator
  apps/admin-dashboard/src/blocks/definitions/faq-accordion.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/components/editor/blocks/FAQAccordionBlock.tsx
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/api-server/src/services/block-registry.service.ts
  apps/main-site/src/components/TemplateRenderer/blocks/AccordionItemBlock.tsx
  apps/main-site/src/components/TemplateRenderer/blocks/FAQAccordionBlock.tsx
  apps/main-site/src/components/TemplateRenderer/blocks/FeatureCardBlock.tsx
  apps/main-site/src/components/TemplateRenderer/index.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/ui-team

feat: Implement Shortcode Error Boundary system (HP-2)
  apps/main-site/src/components/common/ShortcodeErrorBoundary.tsx
  apps/main-site/src/components/common/ShortcodeErrorFallback.tsx
  apps/main-site/src/components/shortcodes/TestErrorShortcode.tsx
  apps/main-site/src/utils/logClientError.ts
  packages/shortcodes/src/components/ShortcodeErrorBoundary.tsx
  packages/shortcodes/src/components/ShortcodeRenderer.tsx
  packages/shortcodes/src/index.ts
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team, @o4o-platform/core-team

feat(main-site): Add cart/checkout/order shortcodes (HP-3)
  apps/main-site/src/components/shortcodes/cart/CartShortcode.tsx
  apps/main-site/src/components/shortcodes/cart/CheckoutShortcode.tsx
  apps/main-site/src/components/shortcodes/cart/OrderDetailShortcode.tsx
Owners: @o4o-platform/ui-team

feat(main-site): Integrate real Notification API for ApprovalNotice (HP-4)
  apps/main-site/src/components/dashboard/ApprovalNotice.tsx
  apps/main-site/src/services/notificationService.ts
  apps/main-site/src/types/notification.ts
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team

feat(main-site): Implement In-App Notification Center v1 (HP-5)
  apps/main-site/src/components/blocks/SiteHeader.tsx
  apps/main-site/src/components/notifications/NotificationCenter.tsx
  apps/main-site/src/components/notifications/NotificationIcon.tsx
  apps/main-site/src/components/notifications/NotificationItem.tsx
  apps/main-site/src/components/notifications/index.ts
  apps/main-site/src/hooks/useNotifications.ts
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team

refactor(admin): Reduce GutenbergBlockEditor from 833 to 403 lines (R-1-1)
  apps/admin-dashboard/src/components/editor/EditorModals.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/hooks/useAIHandlers.ts
  apps/admin-dashboard/src/components/editor/hooks/useBlockCallbacks.ts
Owners: @o4o-platform/admin-team

fix(main-site): Add Toast safety guard for missing ToastProvider
  apps/main-site/src/contexts/ToastProvider.tsx
Owners: @o4o-platform/frontend-team

chore: Update pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix(admin): Add defensive guards to Slate serialization (R-1-2)
  apps/admin-dashboard/src/components/editor/slate/utils/serialize.ts
Owners: @o4o-platform/admin-team

feat(audit): Add Block & Shortcode Registry integrity audit tools (R-1-3)
  packages/shortcodes/src/utils/shortcodeNaming.ts
  scripts/audit/README.md
  scripts/audit/REGISTRY_AUDIT_REPORT.md
  scripts/audit/block-registry-report.json
  scripts/audit/check-block-registry.ts
  scripts/audit/check-shortcode-registry.ts
  scripts/audit/shortcode-registry-report.json
Owners: @o4o-platform/core-team, @o4o-platform/docs-team, @o4o-platform/devops-team

feat(main-site): Add role application shortcode aliases (R-1-4)
  apps/main-site/src/components/shortcodes/PartnerApplicationShortcode.tsx
  apps/main-site/src/components/shortcodes/SellerApplicationShortcode.tsx
  apps/main-site/src/components/shortcodes/SupplierApplicationShortcode.tsx
Owners: @o4o-platform/ui-team

fix(main-site): Fix API path duplication in role application calls
  apps/main-site/src/components/shortcodes/RoleApplicationsList.tsx
  apps/main-site/src/components/shortcodes/RoleApplyForm.tsx
  apps/main-site/src/pages/apply/ApplyLandingPageP3.tsx
  apps/main-site/src/pages/apply/ApplyRolePageP3.tsx
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team

fix(main-site): Move ToastProvider to main.tsx to ensure it's available for AuthProvider
  apps/main-site/src/App.tsx
  apps/main-site/src/main.tsx
Owners: @o4o-platform/frontend-team

fix(main-site): Handle theme settings 401 silently with default theme fallback
  apps/main-site/src/hooks/useThemeSettings.ts
Owners: @o4o-platform/frontend-team
