Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

feat(kpa-store): handled-products remove action + drop 승인대기/매장직접등록 (WO-...-REMOVE-AND-STATUS-AUDIT-V1)
  apps/api-server/src/routes/platform/store-handled-products.routes.ts
  services/web-kpa-society/src/api/handledProducts.ts
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(admin): admin-direct STORE description authoring (product registration module §5)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/modules/neture/controllers/product-master-description.controller.ts
  docs/investigations/IR-O4O-PRODUCT-REGISTRATION-MODULE-UNIFIED-V1.md
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat: remove legacy ProductMaster pre-matching subsystem for public-data candidates
  apps/admin-dashboard/src/pages/o4o-product-db/CandidateConflictDrawer.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductCandidateDetailPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductCandidatesPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/candidate-status.util.ts
  apps/api-server/src/modules/neture/controllers/product-candidate.controller.ts
  apps/api-server/src/modules/neture/drug-import/drug-master-promotion-apply.db.ts
  apps/api-server/src/modules/neture/entities/ProductCandidate.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/services/mobile-product-draft.service.ts
  apps/api-server/src/modules/neture/services/product-candidate.service.ts
  services/web-neture/src/lib/api/operatorProductCandidates.ts
  services/web-neture/src/pages/operator/ProductCandidateReviewPage.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat(admin): product master status actions (suspend/archive/restore) + participant ACTIVE-only search
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterStatusControls.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMastersPage.tsx
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/controllers/product-master-status.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
  docs/checks/CHECK-O4O-ADMIN-PRODUCT-MASTER-STATUS-ACTIONS-V1.md
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): legacy master-matching removal result + deploy blockage report
  docs/checks/CHECK-O4O-PUBLIC-DATA-CANDIDATE-LEGACY-MASTER-MATCHING-REMOVAL-V1.md
Owners: @o4o-platform/docs-team

docs(check): record post-deploy API smoke for product master status actions
  docs/checks/CHECK-O4O-ADMIN-PRODUCT-MASTER-STATUS-ACTIONS-V1.md
Owners: @o4o-platform/docs-team

refactor(admin): remove residual candidate match-status API fields + overview match stats
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductDbOverviewPage.tsx
Owners: @o4o-platform/admin-team

docs(ir): mark §5 admin-direct STORE description authoring done + verified (store screen PASS)
  docs/investigations/IR-O4O-PRODUCT-REGISTRATION-MODULE-UNIFIED-V1.md
Owners: @o4o-platform/docs-team

docs(check): update removal WO to deployed+smoked (main recovered)
  docs/checks/CHECK-O4O-PUBLIC-DATA-CANDIDATE-LEGACY-MASTER-MATCHING-REMOVAL-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store): handled-products actions cleanup + multilingual STORE description (WO-...-ACTIONS-AND-MULTILINGUAL-DESCRIPTION-V1)
  services/web-kpa-society/src/pages/pharmacy/LinkedContentsDrawer.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreDescriptionViewModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductQrModal.tsx
Owners: @o4o-platform/core-team

docs(ir): record STORE multi-language canonical limitation (per-master vs per-language)
  docs/investigations/IR-O4O-PRODUCT-REGISTRATION-MODULE-UNIFIED-V1.md
Owners: @o4o-platform/docs-team

docs(products): record search-for-registration+ingredient-research as normal process (R10)
  docs/guides/products/general-food/README.md
Owners: @o4o-platform/docs-team

docs(products): make content-approval gate explicit before design AND translation
  docs/guides/products/general-food/README.md
Owners: @o4o-platform/docs-team

feat(product-desc): per-language canonical for STORE descriptions (WO-O4O-STORE-MULTILINGUAL-CANONICAL-DESCRIPTION-V1)
  apps/api-server/src/database/migrations/20261228000000-CanonicalPerMasterTypeLanguage.ts
  apps/api-server/src/modules/neture/entities/SharedProductDescription.entity.ts
  apps/api-server/src/modules/neture/services/product-landing.service.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
  apps/api-server/src/routes/glycopharm/controllers/store.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

docs(products): add R6-b — STORE content must drive purchase interest, not just list ingredients
  docs/guides/products/general-food/README.md
Owners: @o4o-platform/docs-team

docs(products): add R6-c — consumer-facing copy only, no editorial/staff labels
  docs/guides/products/general-food/README.md
Owners: @o4o-platform/docs-team

docs(products): elevate 'purchase-interest benefit focus' to all-product-type core criterion
  docs/guides/products/O4O-PRODUCT-UNIT-DESCRIPTION-AGENT-GUIDE-V1.md
  docs/guides/products/general-food/README.md
Owners: @o4o-platform/docs-team

feat(kpa-store): product QR always available, decoupled from multilingual content (WO-...-PRODUCT-QR-ALWAYS-AVAILABLE-V1)
  apps/api-server/src/routes/platform/store-handled-products.routes.ts
  services/web-kpa-society/src/api/handledProducts.ts
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductQrModal.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(product-desc): correct stale 'canonical per master' comments to per-language
  apps/api-server/src/modules/neture/controllers/product-master-description.controller.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
Owners: @o4o-platform/backend-team

docs(check): store multilingual STORE description canonical promotion fix + smoke
  docs/checks/CHECK-O4O-STORE-MULTILINGUAL-STORE-DESCRIPTION-CANONICAL-PROMOTION-FIX-V1.md
Owners: @o4o-platform/docs-team

fix(kpa-store): product QR modal — fit QR svg fully in the box (no clipping)
  services/web-kpa-society/src/pages/pharmacy/StoreProductQrModal.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): product QR download formats (PNG/SVG/PDF) + print size selection (WO-...-DOWNLOAD-AND-PRINT-SIZE-V1)
  apps/api-server/src/routes/platform/store-handled-products.routes.ts
  apps/api-server/src/services/qr-print.service.ts
  services/web-kpa-society/src/api/handledProducts.ts
  services/web-kpa-society/src/pages/pharmacy/StoreProductQrModal.tsx
Owners: @o4o-platform/api-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat(product-landing): customer language selector on /p/ QR landing (WO-...-PRODUCT-QR-LANGUAGE-SELECTOR-REUSE-AND-ADAPT-V1)
  apps/api-server/src/modules/neture/controllers/product-landing.controller.ts
  apps/api-server/src/modules/neture/services/product-landing.service.ts
  services/web-neture/src/pages/ProductLandingPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(kpa-store): handled-products replace 연결 콘텐츠 column with O4O standard 분류
  apps/api-server/src/routes/platform/store-handled-products.routes.ts
  services/web-kpa-society/src/api/handledProducts.ts
  services/web-kpa-society/src/pages/pharmacy/LinkedContentsDrawer.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(products): R6-e mobile landing depth — richer scroll landing, no thin summary
  docs/guides/products/general-food/README.md
Owners: @o4o-platform/docs-team

docs(check): handled-products 분류 column replace 연결 콘텐츠 + smoke PASS
  docs/checks/CHECK-O4O-KPA-STORE-HANDLED-PRODUCT-CATEGORY-COLUMN-V1.md
Owners: @o4o-platform/docs-team

fix(kpa-tablet): align supplier product query to resolveServiceKeys + ANY (WO-O4O-KPA-TABLET-SUPPLIER-PRODUCT-SERVICEKEY-ALIGNMENT-V1)
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  docs/checks/CHECK-O4O-KPA-TABLET-SUPPLIER-PRODUCT-SERVICEKEY-ALIGNMENT-V1.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

migration: drop legacy match columns from product_candidates (matched_identifier_id, confidence_score)
  apps/api-server/src/database/migrations/20261229000000-DropLegacyMatchColumnsFromProductCandidates.ts
Owners: @o4o-platform/backend-team

docs(check): legacy match column drop migration applied + verified
  docs/checks/CHECK-O4O-PRODUCT-CANDIDATE-LEGACY-MATCH-COLUMN-DROP-MIGRATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): O4O internal product code storage & usage audit (read-only)
  docs/checks/CHECK-O4O-INTERNAL-PRODUCT-CODE-STORAGE-AND-USAGE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): KPA store OPL service_key=neture root-cause audit — conclusion C (WO-O4O-KPA-STORE-LISTING-SERVICEKEY-CANONICALIZATION-AUDIT-V1)
  docs/checks/CHECK-O4O-KPA-STORE-LISTING-SERVICEKEY-CANONICALIZATION-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): OPL service_key axis-separation design — consumption vs origin (WO-O4O-STORE-LISTING-SERVICEKEY-AXIS-SEPARATION-DESIGN-V1)
  docs/checks/CHECK-O4O-STORE-LISTING-SERVICEKEY-AXIS-SEPARATION-DESIGN-V1.md
Owners: @o4o-platform/docs-team

docs(check): product identity (UUID) & external-identifier separation transition design
  docs/checks/CHECK-O4O-PRODUCT-IDENTITY-UUID-AND-EXTERNAL-IDENTIFIER-SEPARATION-DESIGN-V1.md
Owners: @o4o-platform/docs-team

docs(ir): store new-product request & admin approval — reuse product_candidates design (WO-...-NEW-PRODUCT-REQUEST-AND-ADMIN-APPROVAL-V1)
  docs/investigations/IR-O4O-KPA-STORE-NEW-PRODUCT-REQUEST-AND-ADMIN-APPROVAL-V1.md
Owners: @o4o-platform/docs-team

docs(wo): admin store-description authoring studio spec (full studio, dev handoff)
  docs/work-orders/WO-O4O-ADMIN-STORE-DESCRIPTION-AUTHORING-STUDIO-V1.md
Owners: @o4o-platform/docs-team

feat(product): stop synthetic internal barcode generation; barcode/mfds_product_id nullable
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMastersPage.tsx
  apps/api-server/src/database/migrations/20261230000000-ProductMasterBarcodeAndMfdsIdNullable.ts
  apps/api-server/src/modules/neture/entities/ProductIdentifier.entity.ts
  apps/api-server/src/modules/neture/entities/ProductMaster.entity.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/utils/gtin.ts
  services/web-neture/src/pages/admin/AdminMasterManagementPage.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/core-team

docs(check): CHECK for barcode nullable + internal-code generation stop V1
  docs/checks/CHECK-O4O-PRODUCT-BARCODE-NULLABLE-AND-INTERNAL-CODE-GENERATION-STOP-V1.md
Owners: @o4o-platform/docs-team

fix(admin): correct barcodeless registration copy (no synthetic code generation)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterCreatePage.tsx
Owners: @o4o-platform/admin-team

docs(check): finalize barcode-nullable CHECK with migration + smoke + legacy-unchanged results
  docs/checks/CHECK-O4O-PRODUCT-BARCODE-NULLABLE-AND-INTERNAL-CODE-GENERATION-STOP-V1.md
Owners: @o4o-platform/docs-team

chore: refresh pnpm-lock glob deprecation metadata
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
