Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(kpa-lms): WO-O4O-KPA-LMS-AI-COURSE-GENERATION-AUTH-FIX-V1 — Bearer token 주입
  services/web-kpa-society/src/pages/instructor/courses/CourseStructureAiModal.tsx
Owners: @o4o-platform/core-team

test(e2e): CHECK-O4O-AUTH-RUNTIME-PLAYWRIGHT-E2E-V1 — auth runtime regression suite 구축
  e2e/auth-runtime/auth-login.spec.ts
  e2e/auth-runtime/auth-logout.spec.ts
  e2e/auth-runtime/auth-refresh.spec.ts
  e2e/auth-runtime/auth-token-cleared.spec.ts
  e2e/auth-runtime/auth-unauthorized.spec.ts
  e2e/auth-runtime/helpers/auth.helpers.ts
  e2e/auth-runtime/playwright.config.ts
Owners: @o4o-platform/core-team

feat(lms): WO-O4O-LMS-LIVE-LESSON-DEPRECATION-PHASE1-V1 — live lesson deprecated 처리 및 신규 생성 제거
  packages/interactive-content-core/src/entities/Lesson.ts
  services/web-k-cosmetics/src/api/lms.ts
  services/web-k-cosmetics/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/api/ai.ts
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/LiveEditor.tsx
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
Owners: @o4o-platform/core-team

docs(lms): IR-O4O-LMS-LIVE-LESSON-DEPRECATION-PHASE2-AUDIT-V1 — live lesson Phase 2 제거 의존성 전수 조사
  docs/investigations/IR-O4O-LMS-LIVE-LESSON-DEPRECATION-PHASE2-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(lms): WO-O4O-LMS-LIVE-LESSON-DEPRECATION-PHASE3-DEAD-BACKEND-CLEANUP-V1 — live dead backend/API 완전 제거
  apps/api-server/src/database/migrations/20260520000000-DropLiveFieldsFromLmsLessons.ts
  apps/api-server/src/modules/ai/controllers/AIController.ts
  apps/api-server/src/modules/ai/services/LmsAIService.ts
  apps/api-server/src/modules/lms/controllers/EnrollmentController.ts
  apps/api-server/src/modules/lms/controllers/LiveController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/LiveService.ts
  packages/interactive-content-core/src/entities/Lesson.ts
  services/web-k-cosmetics/src/api/ai.ts
  services/web-k-cosmetics/src/api/lms.ts
  services/web-k-cosmetics/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/api/ai.ts
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(kpa): 네처 크레딧 → 네뚜레 크레딧 (Neture Credit) 제목 수정
  services/web-kpa-society/src/pages/mypage/MyCreditsPage.tsx
Owners: @o4o-platform/core-team

fix: 전체 코드베이스 '네처' → '네뚜레' 브랜드명 통일 (10곳)
  apps/api-server/src/config/service-scopes.ts
  services/web-kpa-society/src/pages/legal/PolicyPage.tsx
  services/web-kpa-society/src/pages/legal/PrivacyPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCreditsPage.tsx
  services/web-neture/src/components/auth/MembershipGate.tsx
  services/web-neture/src/pages/admin/ai/AiCostPage.tsx
  services/web-neture/src/pages/admin/ai/AssetQualityPage.tsx
  services/web-neture/src/pages/admin/ai/ContextAssetListPage.tsx
  services/web-neture/src/pages/admin/ai/contextAssetTypes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

test(e2e): CHECK-O4O-KCOSMETICS-AUTH-TOKEN-CLEARED-E2E-REVALIDATION-V1 — K-Cosmetics token-cleared 검증 완료
  e2e/auth-runtime/auth-token-cleared.spec.ts
  e2e/auth-runtime/helpers/auth.helpers.ts
Owners: @o4o-platform/core-team

ci: WO-O4O-AUTH-RUNTIME-E2E-CI-INTEGRATION-V1 — auth runtime E2E GitHub Actions 연동
  .github/workflows/e2e-auth-runtime.yml
Owners: @o4o-platform/devops-team

chore: Playwright E2E 산출물 .gitignore 추가
  .gitignore
Owners: @o4o-platform/core-team

fix(kpa): WO-O4O-KPA-POST-LOGIN-PRIMARY-ROUTE-FIX-V1 — 강사/약국 경영자 자동 redirect 제거
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/config/dashboard.ts
Owners: @o4o-platform/core-team

feat(kpa): WO-O4O-KPA-PHARMACY-INFO-VIEW-EDIT-CANONICAL-ALIGNMENT-V1
  services/web-kpa-society/src/pages/mypage/MyProfilePage.tsx
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyInfoPage.tsx
Owners: @o4o-platform/core-team

docs(ir): IR-O4O-KPA-LMS-LESSON-PUBLISH-APPROVAL-DRIFT-AUDIT-V1 — KPA LMS 레슨 단위 publish/승인 정책 정합성 조사
  docs/investigations/IR-O4O-KPA-LMS-LESSON-PUBLISH-APPROVAL-DRIFT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(ui): WO-O4O-RESPONSIVE-PRIMITIVES-AND-SAFE-AREA-V1 — 반응형 primitive 6종 + KPA Layout safe-area
  packages/ui/src/layout/Container.tsx
  packages/ui/src/layout/ContentCard.tsx
  packages/ui/src/layout/HeroSection.tsx
  packages/ui/src/layout/MobileSafeArea.tsx
  packages/ui/src/layout/ResponsiveGrid.tsx
  packages/ui/src/layout/Section.tsx
  packages/ui/src/layout/index.ts
  services/web-kpa-society/src/components/Layout.tsx
Owners: @o4o-platform/ui-team, @o4o-platform/core-team

feat(kpa): WO-O4O-KPA-OPERATOR-MEMBER-BUSINESS-INFO-STRUCTURED-PROJECTION-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(auth): WO-O4O-KPA-PASSWORD-RESET-DOMAIN-CANONICAL-FIX-V1
  apps/api-server/src/modules/auth/controllers/password.controller.ts
  services/web-k-cosmetics/src/pages/auth/AccountRecoveryPage.tsx
  services/web-kpa-society/src/pages/auth/AccountRecoveryPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(lms): WO-O4O-KPA-LMS-LESSON-AUTONOMY-V1 — 레슨 변경이 강의 재승인을 유발하지 않도록 정책 변경
  apps/api-server/src/modules/lms/services/LessonService.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(kpa): WO-O4O-KPA-ADMIN-LAYOUT-MOBILE-FIX-V1 — AdminLayout 모바일 본문 잘림 해소
  services/web-kpa-society/src/components/admin/AdminLayout.tsx
  services/web-kpa-society/src/components/admin/AdminSidebar.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-O4O-KPA-OPERATOR-MEMBER-BUSINESS-INFO-EDIT-PAYLOAD-ALIGNMENT-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa): WO-O4O-KPA-ANNUAL-REPORT-FORM-MOBILE-V1 — AnnualReportFormPage 모바일 폼 깨짐 해소
  services/web-kpa-society/src/pages/mypage/AnnualReportFormPage.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-O4O-INFO-PAGE-LAYOUT-RESPONSIVE-V1 — InfoPageLayout responsive primitive 적용
  services/web-kpa-society/src/components/platform/InfoPageLayout.tsx
  services/web-kpa-society/src/pages/join/PharmacyJoinPage.tsx
  services/web-kpa-society/src/pages/services/ForumServicePage.tsx
  services/web-kpa-society/src/pages/services/LmsServicePage.tsx
  services/web-kpa-society/src/pages/services/PharmacyServicePage.tsx
Owners: @o4o-platform/core-team

refactor(auth): WO-O4O-DOMAIN-SSOT-CANONICALIZATION-V1 C1 — Backend whitelist SSOT
  apps/api-server/src/config/service-catalog.ts
  apps/api-server/src/modules/auth/controllers/password.controller.ts
Owners: @o4o-platform/backend-team

fix(forum): WO-O4O-KPA-FORUM-DISPLAYNAME-NICKNAME-ALIGNMENT-V1 — 포럼 작성자 표시명 nickname-first 정렬
  apps/api-server/src/modules/auth/controllers/auth-account.controller.ts
  apps/api-server/src/modules/auth/entities/User.ts
  services/web-kpa-society/src/components/forum/ForumSearchResults.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/forum/ForumWritePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

chore(deploy): WO-O4O-DOMAIN-SSOT-CANONICALIZATION-V1 C2 — Workflow + Dockerfile canonicalization
  .github/workflows/deploy-web-services.yml
  services/web-glycopharm/Dockerfile
  services/web-k-cosmetics/Dockerfile
  services/web-kpa-society/Dockerfile
  services/web-neture/Dockerfile
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(kpa): WO-O4O-LECTURE-EVENT-GRID-RESPONSIVE-V1 — LectureGrid/EventGrid ResponsiveGrid 적용
  services/web-kpa-society/src/components/education/LectureCard.tsx
  services/web-kpa-society/src/components/education/LectureGrid.tsx
  services/web-kpa-society/src/components/events/EventCard.tsx
  services/web-kpa-society/src/components/events/EventGrid.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-O4O-EDUCATION-EVENTS-TABS-RESPONSIVE-V1 — Education/Events 탭 모바일 가로 스크롤 + active 자동 노출
  services/web-kpa-society/src/components/education/EducationTabs.tsx
  services/web-kpa-society/src/components/events/EventsTabs.tsx
Owners: @o4o-platform/core-team

fix(kpa): WO-O4O-PHARMACY-HUB-LAYOUT-MOBILE-V1 — Pharmacy HUB shell 모바일 drawer + HubSubNav canonical 탭
  services/web-kpa-society/src/components/pharmacy/HubSubNav.tsx
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
Owners: @o4o-platform/core-team

feat(ui): WO-O4O-RESPONSIVE-TABBAR-PRIMITIVE-V1 — @o4o/ui ResponsiveTabBar 추출 + 3 consumer 마이그레이션
  packages/ui/src/layout/ResponsiveTabBar.tsx
  packages/ui/src/layout/index.ts
  services/web-kpa-society/src/components/education/EducationTabs.tsx
  services/web-kpa-society/src/components/events/EventsTabs.tsx
  services/web-kpa-society/src/components/pharmacy/HubSubNav.tsx
Owners: @o4o-platform/ui-team, @o4o-platform/core-team

fix(lms): WO-O4O-LMS-COURSE-APPROVAL-PUBLISH-STATUS-FIX-V1 — KPA 강의 승인 시 lms_courses.status draft 잔류 버그 수정
  apps/api-server/src/database/migrations/20261024000000-BackfillApprovedKpaCourseStatus.ts
  apps/api-server/src/routes/kpa/services/course-request.service.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

refactor(kpa-forum): WO-O4O-KPA-FORUM-CONTAINER-NORMALIZE-V1 — container 통일 + 한글 제목 line-clamp-2 + meta row flex-wrap
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
  services/web-kpa-society/src/pages/forum/ForumFeedPage.tsx
  services/web-kpa-society/src/pages/forum/ForumListPage.tsx
Owners: @o4o-platform/core-team

fix(migration): BackfillApprovedKpaCourseStatus — kpa_course_requests 테이블 미존재 환경 guard 추가
  apps/api-server/src/database/migrations/20261024000000-BackfillApprovedKpaCourseStatus.ts
Owners: @o4o-platform/backend-team

fix(migration): BackfillApprovedKpaCourseStatusV2 — V1 ROLLBACK 미적용분 재처리
  apps/api-server/src/database/migrations/20261025000000-BackfillApprovedKpaCourseStatusV2.ts
Owners: @o4o-platform/backend-team

feat(forum): 포럼 허브 섹션 카드 그리드 → 테이블 리스트 변환
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
Owners: @o4o-platform/core-team

feat(kpa-forum): WO-O4O-KPA-CLOSED-FORUM-FRONTEND-ACCESS-UX-V1 — 회원제 포럼 접근 차단 UX
  services/web-kpa-society/src/components/forum/ClosedForumAccessBlocker.tsx
  services/web-kpa-society/src/pages/forum/ForumFeedPage.tsx
Owners: @o4o-platform/core-team

fix(kpa-build): WO-O4O-KPA-SOCIETY-BUILD-INTEGRITY-FIX-V1 — lms-client vite alias + tsconfig path 추가
  services/web-kpa-society/tsconfig.json
  services/web-kpa-society/vite.config.ts
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(content): WO-O4O-CONTENT-DOCUMENT-TAG-INPUT-CHIP-FIX-V1 — ContentWritePage 태그 입력 chip 방식으로 전환
  services/web-kpa-society/src/pages/contents/ContentWritePage.tsx
Owners: @o4o-platform/core-team

fix(ci): WO-O4O-CI-ACTIONS-VERSION-UPGRADE-V1 — Actions 버전 일관화 및 deprecation 경고 제거
  .github/workflows/ci-guard-policy.yml
  .github/workflows/e2e-auth-runtime.yml
Owners: @o4o-platform/devops-team

feat(ci): WO-O4O-AUTH-E2E-TRIGGER-SCOPE-EXPANSION-V1 — E2E auth-runtime trigger paths 확장
  .github/workflows/e2e-auth-runtime.yml
Owners: @o4o-platform/devops-team

ci(build): WO-O4O-KPA-SOCIETY-CI-PREBUILD-ALIGNMENT-V1 — @o4o/lms-client build:packages 포함 + KPA type-check 추가
  .github/workflows/ci-pipeline.yml
  package.json
  pnpm-lock.yaml
  scripts/dev.mjs
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(e2e): WO-O4O-AUTH-LOGOUT-SELECTOR-STABILIZATION-V1 — UI logout 2단계 드롭다운 클릭 안정화
  e2e/auth-runtime/auth-logout.spec.ts
  e2e/auth-runtime/helpers/auth.helpers.ts
Owners: @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
