Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(signage): use signage_media.tags column, not dropped signage_media_tags table
  apps/api-server/src/routes/signage/repositories/media.repository.ts
  apps/api-server/src/routes/signage/services/media-usage.service.ts
Owners: @o4o-platform/api-team

feat(drug-otc): V3 content-fp topical+oromucosal PRE_APPLY READY — 341m/57fp 2046T (agent-na)
  apps/api-server/src/scripts/data/otc-ready-na-v3/CHECK-V3-FINAL-READINESS.md
  apps/api-server/src/scripts/data/otc-ready-na-v3/build-oromucosal-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/build-topical-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en-build-oromucosal-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en-build-topical-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en-check-v1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-oromucosal-unit-1-b01.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-topical-unit-1-b01.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-topical-unit-1-b02.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-topical-unit-1-b03.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-topical-unit-1-b04.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-topical-unit-1-b05.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-topical-unit-1-b06.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/out-topical-unit-1-b07.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/scaffold-oromucosal-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/scaffold-topical-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-index.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-oromucosal-unit-1-b01.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-topical-unit-1-b01.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-topical-unit-1-b02.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-topical-unit-1-b03.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-topical-unit-1-b04.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-topical-unit-1-b05.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-topical-unit-1-b06.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/en/task-topical-unit-1-b07.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/preapply-ready-oromucosal-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/preapply-ready-topical-unit-1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/preapply-verify-v1.json
  apps/api-server/src/scripts/data/otc-ready-na-v3/reproduce-check-v1.json
  apps/api-server/src/scripts/otc-v3-content-leaflet-composer.na.ts
  apps/api-server/src/scripts/otc-v3-en-assemble-verify.na.ts
  apps/api-server/src/scripts/otc-v3-en-scaffold-tasks.na.ts
  apps/api-server/src/scripts/otc-v3-preapply-verify.na.ts
  apps/api-server/src/scripts/otc-v3-topical-oromucosal-apply.na.ts
  apps/api-server/src/scripts/otc-v3-topical-oromucosal-reproduce-build.na.ts
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/backend-team

docs: audit Neture supplier workflow closeout
  docs/investigations/IR-O4O-NETURE-SUPPLIER-FULL-WORKFLOW-AND-DASHBOARD-CLOSEOUT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(otc): WO-O4O-OTC-EASY-DRUG-REMAINING-3809-MASTER-BY-MASTER-PRODUCTION-QUEUE-AND-EXCEPTION-HANDOFF-DESIGN-V1 — 제품별 생산 대기열·예외 핸드오프 설계 (라, READ-ONLY, DB write 0)
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-agent-ga-ready-queue-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-agent-na-exception-queue-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-exclude-ledger-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-followup-agent-requests-v1.md
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-master-by-master-census-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-master-by-master-check-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-reentry-contract-v1.md
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-transaction-strategy-v1.md
  apps/api-server/src/scripts/data/otc-easy-drug-remaining-3809-v4-sourceref-ledger-v1.json
  apps/api-server/src/scripts/otc-easy-drug-remaining-3809-master-by-master-census.la.ts
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/backend-team

feat(drug-otc): ophthalmic-unit-1 PRE_APPLY READY — content-fingerprint V3 26fp/253m KO+EN 1518T (agent-ga, LIVE write 0)
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-v3-dryrun-manifest.ga.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-v3-official-source-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-v3-pre-apply-ready-ledger.ga.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-v3-preflight.ga.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-v3-reproduce-check-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-v3-rollback-test.ga.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-v3-verify.ga.json
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-v3-composer.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-v3-contract.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-v3-en-config.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-v3-executor.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-v3-reproduce.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-v3-validate.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-v3-verify.ga.ts
  docs/checks/CHECK-O4O-OTC-EASY-DRUG-READY-OPHTHALMIC-253-CONTENT-FP-V3-FINAL-READINESS-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(kpa): align store home actions with canonical menu (WO-O4O-KPA-STORE-HOME-CTA-AND-MENU-ALIGNMENT-V1)
  docs/checks/CHECK-O4O-KPA-STORE-HOME-CTA-AND-MENU-ALIGNMENT-V1.md
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record smoke results + signage_media_tags 500 fix — WO-O4O-KPA-SIGNAGE-MEDIA-USAGE-GUARD-AND-SAFE-DELETE-V1
  docs/checks/CHECK-O4O-KPA-SIGNAGE-MEDIA-USAGE-GUARD-AND-SAFE-DELETE-V1.md
Owners: @o4o-platform/docs-team

fix(neture): close supplier offer/order navigation dead-ends
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-OFFER-AND-ORDER-NAVIGATION-DEAD-END-CLOSE-V1.md
  services/web-neture/src/pages/supplier/SupplierOrdersPage.tsx
  services/web-neture/src/pages/supplier/SupplierSupplyOffersPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(kpa): audit duplicate my products role (IR-O4O-KPA-STORE-MY-PRODUCTS-DUPLICATE-ROLE-AUDIT-V1)
  docs/investigations/IR-O4O-KPA-STORE-MY-PRODUCTS-DUPLICATE-ROLE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(neture): record deploy + gating smoke for supplier nav dead-end close
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-OFFER-AND-ORDER-NAVIGATION-DEAD-END-CLOSE-V1.md
Owners: @o4o-platform/docs-team

docs(check): WO-O4O-KPA-SIGNAGE-DANGLING-SNAPSHOT-REPAIR-V1 — prod dangling snapshot ref 1건 안전 보정 (item 1행 DELETE, census 0)
  docs/checks/CHECK-O4O-KPA-SIGNAGE-DANGLING-SNAPSHOT-REPAIR-V1.md
Owners: @o4o-platform/docs-team

docs(hff-audit): WO-O4O-HFF-KO-FIRST-10000-CONTENT-AND-DESIGN-AUDIT-V1 — READ-ONLY 감사 PAUSE_AND_FIX
  apps/api-server/src/scripts/data/hff-ko-first-10000-audit-samples.json
  docs/checks/CHECK-O4O-HFF-KO-FIRST-10000-CONTENT-AND-DESIGN-AUDIT-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

feat(drug-otc): oral V3 content-fp PRE_APPLY READY — 131fp/540m KO+EN 3240T locked (agent-da)
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-build-oral-unit-1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-build-oral-unit-2.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-en-build-oral-unit-1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-en-build-oral-unit-2.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-en-payload.da.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-en-report.da.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-ko-source-dump.da.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-preapply-ready-oral-unit-1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-preapply-ready-oral-unit-2.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-tm.da.json
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-apply.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-build.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-composer.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-en-author.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-preapply-emit.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-prep.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-reproduce.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-tm-merge.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-verify.da.ts
  docs/checks/CHECK-O4O-OTC-EASY-DRUG-READY-ORAL-540-CONTENT-FP-V3-FINAL-READINESS-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs: audit supplier account route canonicalization
  docs/investigations/IR-O4O-NETURE-SUPPLIER-ACCOUNT-ROUTE-TREE-CANONICALIZATION-GATE-V1.md
Owners: @o4o-platform/docs-team

docs(ir): IR-O4O-KPA-APPLICATION-CANONICAL-MEANING-AND-DUPLICATE-APPROVAL-PATH-AUDIT-V1 — kpa_applications 판정 C(dead flow)+D성 위험, canonical 회원승인과 중복구조 감사 (read-only)
  docs/investigations/IR-O4O-KPA-APPLICATION-CANONICAL-MEANING-AND-DUPLICATE-APPROVAL-PATH-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(ir): fill IR commit SHA 0372396da in §13
  docs/investigations/IR-O4O-KPA-APPLICATION-CANONICAL-MEANING-AND-DUPLICATE-APPROVAL-PATH-AUDIT-V1.md
Owners: @o4o-platform/docs-team

data(otc): combo leaflet run outputs (20 files, ko/en)
  apps/api-server/src/scripts/data/otc-combo-leaflet-27b9a80026fea472-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-27b9a80026fea472-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-284b4ad4aa99265f-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-284b4ad4aa99265f-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-318155c6d375b9a0-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-318155c6d375b9a0-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-367799c299c3d5d8-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-367799c299c3d5d8-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-391039070a7b3041-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-391039070a7b3041-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-404ac4b22ba9297f-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-404ac4b22ba9297f-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-45561d76fcf67c0e-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-45561d76fcf67c0e-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-46800f2742d6b25d-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-46800f2742d6b25d-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4e96f086e3c16590-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-4e96f086e3c16590-ko.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5da79a5d0f8019b6-en.run.json
  apps/api-server/src/scripts/data/otc-combo-leaflet-5da79a5d0f8019b6-ko.run.json
Owners: @o4o-platform/devops-team

feat(otc): easy-drug READY ophthalmic 253 production scripts + SSOT/authoring/en data
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-approved-ssot-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-authoring-source-v1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-ophthalmic-253-en-config-v1.json
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-production.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-ophthalmic-253-ssot-build.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(otc): safety subgroup apply update + na track reproduce script/data
  apps/api-server/src/scripts/data/otc-apply-proxy-port.txt
  apps/api-server/src/scripts/data/otc-ready-na/HELD-ON-STOP-status.json
  apps/api-server/src/scripts/data/otc-ready-na/pre-apply-oromucosal-unit1.json
  apps/api-server/src/scripts/data/otc-ready-na/pre-apply-topical-unit1.json
  apps/api-server/src/scripts/otc-ready-na-reproduce.ts
  apps/api-server/src/scripts/otc-safety-subgroup-apply.ts
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

chore: sync pnpm-lock.yaml
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

refactor(kpa): keep /store/settings/template — duplicate retirement blocked (WO-O4O-KPA-STORE-SETTINGS-TEMPLATE-DUPLICATE-RETIREMENT-V1)
  docs/checks/CHECK-O4O-KPA-STORE-SETTINGS-TEMPLATE-DUPLICATE-RETIREMENT-V1.md
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyStorePage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat: canonicalize supplier order routes
  apps/api-server/src/modules/neture/services/supplier-unified-order.service.ts
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-ORDER-ROUTE-CANONICALIZATION-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/account/SupplierOrdersListPage.tsx
  services/web-neture/src/pages/supplier/SupplierOrdersPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

refactor(kpa): KpaApplication dead flow 폐기 — 소비처 제거(entity/table HOLD) (WO-O4O-KPA-APPLICATION-DEAD-FLOW-RETIREMENT-V1)
  apps/api-server/src/routes/kpa/controllers/application.controller.ts
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/kpa/services/operator-dashboard.service.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

@ feat(drug-otc): oral-unit-1 V3 content-fp LIVE apply GREEN — 65fp/270m KO 1080T + EN 540T (agent-da)
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-green-oral-unit-1.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-unblocked-oral-unit-2.json
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-apply.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-postverify.da.ts
  docs/checks/CHECK-O4O-OTC-EASY-DRUG-READY-ORAL-UNIT1-CONTENT-FP-V3-FINAL-PRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(kpa): record store hub product production smoke
  docs/checks/CHECK-O4O-KPA-STORE-HUB-PRODUCT-FLOW-DEPLOY-AND-PRODUCTION-SMOKE-V1.md
Owners: @o4o-platform/docs-team

docs(neture): record order route canonicalization deploy and smoke
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-ORDER-ROUTE-CANONICALIZATION-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): apply store template changes to storefront blocks (WO-O4O-KPA-STORE-SETTINGS-TEMPLATE-APPLY-FIX-V1)
  apps/api-server/src/routes/o4o-store/__tests__/store-settings-template.test.ts
  apps/api-server/src/routes/o4o-store/controllers/store-settings.controller.ts
  apps/api-server/src/routes/o4o-store/store-settings-template.ts
  docs/checks/CHECK-O4O-KPA-STORE-SETTINGS-TEMPLATE-APPLY-FIX-V1.md
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyStorePage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): KpaApplication dead flow 폐기 — route 404·canonical 회귀 smoke PASS (WO-O4O-KPA-APPLICATION-DEAD-FLOW-RETIREMENT-V1)
  docs/checks/CHECK-O4O-KPA-APPLICATION-DEAD-FLOW-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): 진열/채널 설정 저장 404 해소 — row service_key 전달 (WO-O4O-KPA-LISTING-CHANNEL-UPDATE-404-MINIMAL-FIX-V1)
  services/web-kpa-society/src/api/pharmacyProducts.ts
  services/web-kpa-society/src/pages/pharmacy/PharmacySellPage.tsx
Owners: @o4o-platform/core-team

fix(hff): backfill official INTAKE_HINT1 notes + sd-card class normalization (1~10000 ko)
  apps/api-server/src/scripts/data/hff-ko-first-10000-targeted-backfill-manifest.json
  apps/api-server/src/scripts/data/hff-ko-first-10000-targeted-backfill-report.json
  apps/api-server/src/scripts/data/hff-ko-first-10000-targeted-backfill-rollback-manifest.json
  apps/api-server/src/scripts/data/hff-ko-first-10000-targeted-backfill-samples-20.json
  apps/api-server/src/scripts/data/hff-ko-first-10000-targeted-backfill-samples.json
  apps/api-server/src/scripts/hff-ko-agent-01-individual.mjs
  apps/api-server/src/scripts/hff-ko-first-10000-targeted-backfill-samples.mjs
  apps/api-server/src/scripts/hff-ko-first-10000-targeted-backfill-verify.mjs
  apps/api-server/src/scripts/hff-ko-first-10000-targeted-backfill.mjs
  docs/checks/CHECK-O4O-HFF-KO-FIRST-10000-INTAKE-HINT-AND-DESIGN-TARGETED-BACKFILL-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): 매장 템플릿 적용 수정 프로덕션 smoke 결과 기록 (WO-O4O-KPA-STORE-SETTINGS-TEMPLATE-APPLY-FIX-V1)
  docs/checks/CHECK-O4O-KPA-STORE-SETTINGS-TEMPLATE-APPLY-FIX-V1.md
Owners: @o4o-platform/docs-team

refactor: redirect legacy supplier account routes
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-ACCOUNT-ROUTE-LEGACY-REDIRECT-V1.md
  services/web-neture/src/App.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(kpa): record listing/channel save 404 minimal fix verification
  docs/checks/CHECK-O4O-KPA-LISTING-CHANNEL-UPDATE-404-MINIMAL-FIX-V1.md
Owners: @o4o-platform/docs-team

feat(drug-otc): oral-unit-2 V3 content-fp LIVE apply GREEN — oral route COMPLETE 3,240T (agent-da)
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-green-oral-unit-2.json
  apps/api-server/src/scripts/data/otc-easy-drug-ready-oral-v3-route-complete.json
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-apply.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-postverify.da.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-track-verify.da.ts
  docs/checks/CHECK-O4O-OTC-EASY-DRUG-READY-ORAL-UNIT2-CONTENT-FP-V3-FINAL-PRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(neture): record legacy supplier account redirect deploy and smoke
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-ACCOUNT-ROUTE-LEGACY-REDIRECT-V1.md
Owners: @o4o-platform/docs-team

refactor(kpa): retire legacy template settings page (WO-O4O-KPA-STORE-SETTINGS-TEMPLATE-PAGE-RETIREMENT-V1)
  docs/checks/CHECK-O4O-KPA-STORE-SETTINGS-TEMPLATE-PAGE-RETIREMENT-V1.md
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyTemplatePage.tsx
  services/web-kpa-society/src/pages/pharmacy/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(kpa): store hub UX survey — 10 screens current-state table (no implementation)
  docs/checks/CHECK-O4O-KPA-STORE-HUB-UX-CONSISTENCY-CLEANUP-V1.md
Owners: @o4o-platform/docs-team

docs(check): 템플릿 화면 은퇴 browser smoke 기록 (WO-O4O-KPA-STORE-SETTINGS-TEMPLATE-PAGE-RETIREMENT-V1)
  docs/checks/CHECK-O4O-KPA-STORE-SETTINGS-TEMPLATE-PAGE-RETIREMENT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): 운영자 콘솔 P2/P3 UX·오류계약 통합 정비 (WO-O4O-KPA-OPERATOR-P2-P3-USABILITY-AND-ERROR-CLEANUP-CONSOLIDATED-V1)
  apps/api-server/src/routes/kpa/services/operator-dashboard.service.ts
  packages/operator-core-ui/src/modules/product-applications/ProductApplicationManagementConsole.tsx
  services/web-kpa-society/src/pages/operator/AuditLogPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorContentHubPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorStoreDetailPage.tsx
  services/web-kpa-society/src/pages/operator/ProductApplicationManagementPage.tsx
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
  services/web-kpa-society/src/pages/operator/RecruitmentExposureApprovalPage.tsx
  services/web-kpa-society/src/pages/operator/blog/OperatorBlogWritePage.tsx
  services/web-kpa-society/src/pages/operator/event-offer/EventOfferManagePage.tsx
  services/web-kpa-society/src/pages/operator/pop/OperatorPopWritePage.tsx
  services/web-kpa-society/src/pages/operator/qr/OperatorQrWritePage.tsx
  services/web-kpa-society/src/pages/operator/signage/TemplateDetailPage.tsx
  services/web-kpa-society/src/pages/operator/video/OperatorVideoWritePage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-store-hub): align sorting pagination navigation and copy notices (A-1~A-7)
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
  services/web-kpa-society/src/pages/pharmacy/HubB2BCatalogPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubBlogLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubMultilingualContentLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubPopLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubQrLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubScreenSetLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubVideoLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubLatestFeed.tsx
Owners: @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
