Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs(ir): product-description HTML rendering policy (IR-O4O-PRODUCT-DESCRIPTION-HTML-RENDERING-POLICY-V1)
  docs/investigations/IR-O4O-PRODUCT-DESCRIPTION-HTML-RENDERING-POLICY-V1.md
Owners: @o4o-platform/docs-team

docs(ir): GlycoPharm admin scope cleanup baseline — read-only audit (IR-O4O-GLYCOPHARM-ADMIN-SCOPE-CLEANUP-BASELINE-V1)
  docs/investigations/IR-O4O-GLYCOPHARM-ADMIN-SCOPE-CLEANUP-BASELINE-V1.md
Owners: @o4o-platform/docs-team

docs(ir): seller-recruitment service exposure approval model — B안 확정 (IR-O4O-SELLER-RECRUITMENT-SERVICE-EXPOSURE-APPROVAL-MODEL-V1)
  docs/investigations/IR-O4O-SELLER-RECRUITMENT-SERVICE-EXPOSURE-APPROVAL-MODEL-V1.md
Owners: @o4o-platform/docs-team

fix(lms): sanitize raw HTML in GP CourseDetailPage lesson content (WO-O4O-LMS-COURSE-DETAIL-XSS-FIX-V1)
  docs/investigations/CHECK-O4O-LMS-COURSE-DETAIL-XSS-FIX-V1.md
  services/web-glycopharm/src/pages/education/CourseDetailPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(glycopharm): migrate contact management to operator (WO-O4O-GLYCOPHARM-OPERATOR-CONTACT-MANAGEMENT-MIGRATION-V1)
  docs/investigations/CHECK-O4O-GLYCOPHARM-OPERATOR-CONTACT-MANAGEMENT-MIGRATION-V1.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/operator/OperatorContactInquiriesPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(neture): seller-recruitment service exposure approval backend (WO-O4O-SELLER-RECRUITMENT-EXPOSURE-BACKEND-V1)
  apps/api-server/src/database/migrations/20260616100000-AddRecruitmentExposureStatus.ts
  apps/api-server/src/modules/neture/controllers/operator-recruitment-exposure.controller.ts
  apps/api-server/src/modules/neture/controllers/partner-recruitment.controller.ts
  apps/api-server/src/modules/neture/entities/NeturePartnerRecruitment.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/partner-contract.service.ts
  docs/investigations/CHECK-O4O-SELLER-RECRUITMENT-EXPOSURE-BACKEND-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): fill commit hash in seller-recruitment exposure backend CHECK
  docs/investigations/CHECK-O4O-SELLER-RECRUITMENT-EXPOSURE-BACKEND-V1.md
Owners: @o4o-platform/docs-team

feat(tablet): rich render product description via ContentRenderer (WO-O4O-KPA-TABLET-PRODUCT-DESCRIPTION-RICH-RENDER-V1)
  docs/investigations/CHECK-O4O-KPA-TABLET-PRODUCT-DESCRIPTION-RICH-RENDER-V1.md
  packages/tablet-kiosk-core/package.json
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  pnpm-lock.yaml
  services/web-k-cosmetics/tsconfig.json
  services/web-kpa-society/tsconfig.json
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/core-team

feat(glycopharm): reduce admin to service-settings scope (WO-O4O-GLYCOPHARM-ADMIN-SCOPE-CLEANUP-V1)
  docs/investigations/CHECK-O4O-GLYCOPHARM-ADMIN-SCOPE-CLEANUP-V1.md
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/pages/admin/GlycoPharmAdminDashboard.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(glycopharm): rich render storefront product description (WO-O4O-GLYCOPHARM-PRODUCT-DESCRIPTION-RICH-RENDER-V1)
  apps/api-server/src/routes/glycopharm/controllers/store.controller.ts
  docs/investigations/CHECK-O4O-GLYCOPHARM-PRODUCT-DESCRIPTION-RICH-RENDER-V1.md
  services/web-glycopharm/src/pages/store/StoreProductDetail.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kcos): migrate contact management to operator + operator-level guard (WO-O4O-KCOS-OPERATOR-CONTACT-MANAGEMENT-MIGRATION-V1)
  apps/api-server/src/modules/contact-inquiry/admin-contact-inquiry.controller.ts
  docs/investigations/CHECK-O4O-KCOS-OPERATOR-CONTACT-MANAGEMENT-MIGRATION-V1.md
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/config/operatorMenuGroups.ts
  services/web-k-cosmetics/src/pages/operator/OperatorContactInquiriesPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(operator): seller-recruitment exposure approval console + per-service proxy (WO-O4O-SELLER-RECRUITMENT-EXPOSURE-OPERATOR-UI-V1)
  apps/api-server/src/modules/neture/controllers/service-recruitment-exposure-proxy.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/partner-contract.service.ts
  apps/api-server/src/routes/cosmetics/cosmetics.routes.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  docs/investigations/CHECK-O4O-SELLER-RECRUITMENT-EXPOSURE-OPERATOR-UI-V1.md
  packages/operator-ux-core/src/index.ts
  packages/operator-ux-core/src/recruitment-exposure/RecruitmentExposureConsole.tsx
  pnpm-lock.yaml
  services/web-glycopharm/src/pages/operator/RecruitmentExposureApprovalPage.tsx
  services/web-k-cosmetics/src/pages/operator/RecruitmentExposureApprovalPage.tsx
  services/web-kpa-society/src/pages/operator/RecruitmentExposureApprovalPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/devops-team

docs(check): fill commit hash + note lock side-effect in exposure operator-UI CHECK
  docs/investigations/CHECK-O4O-SELLER-RECRUITMENT-EXPOSURE-OPERATOR-UI-V1.md
Owners: @o4o-platform/docs-team

docs(check): product-description sanitize-on-write investigation — HOLD (WO-O4O-PRODUCT-DESCRIPTION-SANITIZE-ON-WRITE-V1)
  docs/investigations/CHECK-O4O-PRODUCT-DESCRIPTION-SANITIZE-ON-WRITE-V1.md
Owners: @o4o-platform/docs-team

feat(kcos): reduce admin to service-settings scope (WO-O4O-KCOS-ADMIN-SCOPE-CLEANUP-V1)
  docs/investigations/CHECK-O4O-KCOS-ADMIN-SCOPE-CLEANUP-V1.md
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
  services/web-k-cosmetics/src/pages/admin/KCosmeticsAdminDashboard.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(ir): KPA admin scope baseline audit (IR-O4O-KPA-ADMIN-SCOPE-BASELINE-AUDIT-V1)
  docs/investigations/IR-O4O-KPA-ADMIN-SCOPE-BASELINE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(ir): record KPA admin scope IR commit hash (IR-O4O-KPA-ADMIN-SCOPE-BASELINE-AUDIT-V1)
  docs/investigations/IR-O4O-KPA-ADMIN-SCOPE-BASELINE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(operator): align GlycoPharm/K-Cosmetics Signage submenu to canonical 4-item structure (WO-O4O-CROSSSERVICE-OPERATOR-SIGNAGE-MENU-PARITY-V1)
  docs/investigations/CHECK-O4O-CROSSSERVICE-OPERATOR-SIGNAGE-MENU-PARITY-V1.md
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-k-cosmetics/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(neture): sanitize shared product descriptions on write (WO-O4O-PRODUCT-DESCRIPTION-SANITIZE-ON-WRITE-V2)
  apps/api-server/package.json
  apps/api-server/package.production.json
  apps/api-server/src/modules/neture/controllers/shared-product-description.controller.ts
  apps/api-server/src/modules/neture/services/partner-contract.service.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
  apps/api-server/src/modules/neture/utils/sanitize-description-html.util.ts
  docs/investigations/CHECK-O4O-PRODUCT-DESCRIPTION-SANITIZE-ON-WRITE-V2.md
  docs/investigations/CHECK-O4O-SELLER-RECRUITMENT-EXPOSURE-SUPPLIER-STATUS-V1.md
  pnpm-lock.yaml
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierRecruitmentDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierRecruitmentsPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record commit hash + staging-contamination note (CHECK-O4O-SELLER-RECRUITMENT-EXPOSURE-SUPPLIER-STATUS-V1)
  docs/investigations/CHECK-O4O-SELLER-RECRUITMENT-EXPOSURE-SUPPLIER-STATUS-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): wire footer legal-info admin editor (WO-O4O-KPA-ADMIN-SERVICE-LEGAL-SETTINGS-WIRING-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-SERVICE-LEGAL-SETTINGS-WIRING-V1.md
  packages/operator-core-ui/src/modules/service-legal/ServiceLegalSettingsPage.tsx
  packages/operator-core-ui/src/modules/service-legal/types.ts
  services/web-kpa-society/src/components/admin/AdminSidebar.tsx
  services/web-kpa-society/src/pages/admin/ServiceLegalSettingsPage.tsx
  services/web-kpa-society/src/routes/AdminRoutes.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record KPA legal settings wiring commit hash (CHECK-O4O-KPA-ADMIN-SERVICE-LEGAL-SETTINGS-WIRING-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-SERVICE-LEGAL-SETTINGS-WIRING-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): add admin public-readiness check card (WO-O4O-KPA-ADMIN-PUBLIC-READINESS-CHECK-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-PUBLIC-READINESS-CHECK-V1.md
  services/web-kpa-society/src/pages/admin/KpaAdminDashboardPage.tsx
  services/web-kpa-society/src/pages/admin/components/AdminPublicReadinessCard.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record KPA public-readiness card commit hash (CHECK-O4O-KPA-ADMIN-PUBLIC-READINESS-CHECK-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-PUBLIC-READINESS-CHECK-V1.md
Owners: @o4o-platform/docs-team

docs(investigation): frontend dangerouslySetInnerHTML audit + V2 mixed-commit note (IR-O4O-FRONTEND-DANGEROUS-HTML-RENDERING-AUDIT-V1)
  docs/investigations/CHECK-O4O-PRODUCT-DESCRIPTION-SANITIZE-ON-WRITE-V2.md
  docs/investigations/IR-O4O-FRONTEND-DANGEROUS-HTML-RENDERING-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(investigation): expand frontend dangerous HTML audit to §9 structure + .innerHTML sweep (IR-O4O-FRONTEND-DANGEROUS-HTML-RENDERING-AUDIT-V1)
  docs/investigations/IR-O4O-FRONTEND-DANGEROUS-HTML-RENDERING-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): operator Forum base-route alias parity already satisfied — verification record (WO-O4O-CROSSSERVICE-OPERATOR-FORUM-BASE-ROUTE-ALIAS-PARITY-V1)
  docs/investigations/CHECK-O4O-CROSSSERVICE-OPERATOR-FORUM-BASE-ROUTE-ALIAS-PARITY-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): migrate policy docs to service_policy_documents (WO-O4O-KPA-POLICY-DOCUMENTS-SERVICE-POLICY-MIGRATION-V1)
  docs/investigations/CHECK-O4O-KPA-POLICY-DOCUMENTS-SERVICE-POLICY-MIGRATION-V1.md
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/lib/legalDocument.ts
  services/web-kpa-society/src/pages/admin/ServiceLegalSettingsPage.tsx
  services/web-kpa-society/src/pages/admin/components/AdminPublicReadinessCard.tsx
  services/web-kpa-society/src/pages/legal/LegalDocumentView.tsx
  services/web-kpa-society/src/pages/legal/PolicyPage.tsx
  services/web-kpa-society/src/pages/legal/PrivacyPage.tsx
  services/web-kpa-society/src/pages/operator/LegalManagementPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record KPA policy migration commit hash (CHECK-O4O-KPA-POLICY-DOCUMENTS-SERVICE-POLICY-MIGRATION-V1)
  docs/investigations/CHECK-O4O-KPA-POLICY-DOCUMENTS-SERVICE-POLICY-MIGRATION-V1.md
Owners: @o4o-platform/docs-team

fix(content-editor): sanitize AI preview HTML in AiContentModal/StoreUseModal (WO-O4O-CONTENT-EDITOR-AI-PREVIEW-SANITIZE-V1)
  docs/investigations/CHECK-O4O-CONTENT-EDITOR-AI-PREVIEW-SANITIZE-V1.md
  packages/content-editor/src/components/AiContentModal.tsx
  packages/content-editor/src/components/StoreUseModal.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(glycopharm): align store signage tab buttons + schedule gate to KPA (WO-O4O-GLYCOPHARM-STORE-SIGNAGE-SCHEDULE-KPA-PARITY-FIX-V1)
  docs/checks/CHECK-O4O-GLYCOPHARM-STORE-SIGNAGE-SCHEDULE-KPA-PARITY-FIX-V1.md
  services/web-glycopharm/src/pages/store-management/signage/StoreSignageMainPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(ir): Neture admin / platform admin scope separation audit (IR-O4O-NETURE-ADMIN-PLATFORM-SCOPE-SEPARATION-V1)
  docs/investigations/IR-O4O-NETURE-ADMIN-PLATFORM-SCOPE-SEPARATION-V1.md
Owners: @o4o-platform/docs-team

docs(ir): record Neture admin scope IR commit hash (IR-O4O-NETURE-ADMIN-PLATFORM-SCOPE-SEPARATION-V1)
  docs/investigations/IR-O4O-NETURE-ADMIN-PLATFORM-SCOPE-SEPARATION-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): sanitize content drawer body + signage AI preview via ContentRenderer (WO-O4O-KPA-CONTENT-AI-DRAWER-SANITIZE-V1)
  docs/investigations/CHECK-O4O-KPA-CONTENT-AI-DRAWER-SANITIZE-V1.md
  services/web-kpa-society/src/pages/contents/ContentDocumentsPage.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
  services/web-kpa-society/src/pages/operator/signage/AiContentGenerationModal.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(operator): commonize Forum analytics into shared operator-core-ui console (WO-O4O-CROSSSERVICE-OPERATOR-FORUM-ANALYTICS-COMMONIZE-V1)
  docs/investigations/CHECK-O4O-CROSSSERVICE-OPERATOR-FORUM-ANALYTICS-COMMONIZE-V1.md
  packages/operator-core-ui/package.json
  packages/operator-core-ui/src/modules/forum-analytics/OperatorForumAnalyticsPage.tsx
  packages/operator-core-ui/src/modules/forum-analytics/index.ts
  packages/operator-core-ui/src/modules/forum-analytics/types.ts
  services/web-glycopharm/src/pages/operator/ForumAnalyticsPage.tsx
  services/web-k-cosmetics/src/pages/operator/ForumAnalyticsPage.tsx
  services/web-kpa-society/src/pages/operator/ForumAnalyticsDashboard.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/core-team

feat(neture): surface-separate platform-admin from service-admin (WO-O4O-NETURE-PLATFORM-ADMIN-SCOPE-SEPARATION-V1)
  docs/investigations/CHECK-O4O-NETURE-PLATFORM-ADMIN-SCOPE-SEPARATION-V1.md
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/pages/admin/OperatorsPage.tsx
  services/web-neture/src/pages/admin/ServiceAudiencePolicyPage.tsx
  services/web-neture/src/pages/operator/RoleManagementPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(kpa): sanitize content body on write in kpa_contents create/update (WO-O4O-KPA-CONTENT-BODY-SANITIZE-ON-WRITE-V1)
  apps/api-server/src/routes/kpa/kpa.routes.ts
  docs/investigations/CHECK-O4O-KPA-CONTENT-BODY-SANITIZE-ON-WRITE-V1.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

docs(check): record Neture platform-admin separation commit hash (CHECK-O4O-NETURE-PLATFORM-ADMIN-SCOPE-SEPARATION-V1)
  docs/investigations/CHECK-O4O-NETURE-PLATFORM-ADMIN-SCOPE-SEPARATION-V1.md
Owners: @o4o-platform/docs-team

docs(ir): glycopharm store signage module parity audit (IR-O4O-GLYCOPHARM-STORE-SIGNAGE-MODULE-PARITY-AUDIT-V1)
  docs/investigations/IR-O4O-GLYCOPHARM-STORE-SIGNAGE-MODULE-PARITY-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(check): HOLD forum hub/categories GP/KCos introduce — coupling + destructive-mutation risk (WO-O4O-CROSSSERVICE-OPERATOR-FORUM-HUB-CATEGORIES-GP-KCOS-INTRODUCE-V1)
  docs/investigations/CHECK-O4O-CROSSSERVICE-OPERATOR-FORUM-HUB-CATEGORIES-GP-KCOS-INTRODUCE-V1.md
Owners: @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
