Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(forum): Use correct dependency format in manifest
  packages/forum-app/src/manifest.ts
Owners: @o4o-platform/core-team

fix(forum): Remove organization-core dependency for initial setup
  packages/forum-app/src/manifest.ts
  packages/partnerops/package.json
  packages/partnerops/src/lifecycle/activate.ts
  packages/partnerops/src/lifecycle/deactivate.ts
  packages/partnerops/src/lifecycle/index.ts
  packages/partnerops/src/lifecycle/install.ts
  packages/partnerops/src/lifecycle/uninstall.ts
  packages/partnerops/src/manifest.ts
  packages/partnerops/tsconfig.json
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

fix(forum): Remove organization-core dependency for initial setup
  packages/forum-app/src/manifest.ts
Owners: @o4o-platform/core-team

feat(partnerops): Implement PartnerOps App v1
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/partnerops/PartnerOpsRouter.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Conversions.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Dashboard.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Links.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Profile.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Routines.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Settlement.tsx
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/src/app-manifests/partnerops.manifest.ts
  packages/partnerops/src/backend/index.ts
  packages/partnerops/src/controllers/conversions.controller.ts
  packages/partnerops/src/controllers/dashboard.controller.ts
  packages/partnerops/src/controllers/index.ts
  packages/partnerops/src/controllers/links.controller.ts
  packages/partnerops/src/controllers/profile.controller.ts
  packages/partnerops/src/controllers/routines.controller.ts
  packages/partnerops/src/controllers/settlement.controller.ts
  packages/partnerops/src/dto/index.ts
  packages/partnerops/src/hooks/event-handlers.ts
  packages/partnerops/src/hooks/index.ts
  packages/partnerops/src/index.ts
  pnpm-lock.yaml
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/core-team, @o4o-platform/devops-team

fix: Update pnpm-lock.yaml with partnerops dependencies
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix: Improve app install pipeline error handling and feedback
  apps/admin-dashboard/src/pages/apps/AppStorePage.tsx
  apps/api-server/src/routes/admin/apps.routes.ts
  apps/api-server/src/services/AppManager.ts
Owners: @o4o-platform/admin-team, @o4o-platform/api-team, @o4o-platform/backend-team

fix: Allow core apps to declare tables they will create during install
  apps/api-server/src/services/AppTableOwnershipResolver.ts
Owners: @o4o-platform/backend-team

fix: Exclude appId from Permission INSERT until migration runs
  apps/api-server/src/modules/auth/entities/Permission.ts
Owners: @o4o-platform/backend-team

fix: Replace console.log with logger in apps.routes.ts
  apps/api-server/src/routes/admin/apps.routes.ts
Owners: @o4o-platform/api-team

fix: Check manifest.appId for duplicate install detection
  apps/api-server/src/services/AppManager.ts
Owners: @o4o-platform/backend-team

feat(main-site): Add Cosmetics Forum frontend UI components
  apps/main-site/src/components/registry/ui.tsx
  apps/main-site/src/components/ui/forum/ForumCategoryView.tsx
  apps/main-site/src/components/ui/forum/ForumDetailView.tsx
  apps/main-site/src/components/ui/forum/ForumHomeView.tsx
  apps/main-site/src/components/ui/forum/ForumListView.tsx
  apps/main-site/src/components/ui/forum/ForumTagView.tsx
  apps/main-site/src/components/ui/forum/index.ts
  apps/main-site/src/components/ui/forum/utils.ts
  apps/main-site/src/index.css
  apps/main-site/src/views/forum-category-detail.json
  apps/main-site/src/views/forum-home.json
  apps/main-site/src/views/forum-list.json
  apps/main-site/src/views/forum-post-detail.json
  apps/main-site/src/views/forum-tag-detail.json
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team, @o4o-platform/devops-team

feat(main-site): Add Cosmetics Forum Phase 10 enhancements
  apps/main-site/src/components/blocks/BlockRegistry.tsx
  apps/main-site/src/components/blocks/forum/CosmeticsPostList.tsx
  apps/main-site/src/components/blocks/forum/index.ts
  apps/main-site/src/components/registry/ui.tsx
  apps/main-site/src/components/ui/forum/CosmeticsFilterBar.tsx
  apps/main-site/src/components/ui/forum/CosmeticsForumListView.tsx
  apps/main-site/src/components/ui/forum/CosmeticsRecommendedPosts.tsx
  apps/main-site/src/components/ui/forum/CosmeticsReviewCard.tsx
  apps/main-site/src/components/ui/forum/CosmeticsSEO.tsx
  apps/main-site/src/components/ui/forum/index.ts
  apps/main-site/src/lib/cms/client.ts
  apps/main-site/src/views/forum-cosmetics.json
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team, @o4o-platform/devops-team

feat(main-site): Add Cosmetics Forum Phase 11 Analytics & Engagement Layer
  apps/main-site/src/components/blocks/BlockRegistry.tsx
  apps/main-site/src/components/blocks/forum/CosmeticsAnalyticsWidgets.tsx
  apps/main-site/src/components/blocks/forum/index.ts
  apps/main-site/src/components/ui/forum/CosmeticsPersonalizedFeed.tsx
  apps/main-site/src/components/ui/forum/CosmeticsPopularPosts.tsx
  apps/main-site/src/components/ui/forum/CosmeticsTrendingPosts.tsx
  apps/main-site/src/components/ui/forum/index.ts
  apps/main-site/src/lib/analytics/forumEventTracker.ts
  apps/main-site/src/lib/analytics/index.ts
  apps/main-site/src/lib/analytics/useScrollDepthTracker.ts
  apps/main-site/src/lib/cms/client.ts
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team

feat(main-site): Add Yaksa Forum Phase 12 Front UI
  apps/main-site/src/components/yaksa/forum/YaksaCategoryList.tsx
  apps/main-site/src/components/yaksa/forum/YaksaModerationPanel.tsx
  apps/main-site/src/components/yaksa/forum/YaksaNoticeCard.tsx
  apps/main-site/src/components/yaksa/forum/YaksaOrgNavigation.tsx
  apps/main-site/src/components/yaksa/forum/YaksaRoleBadge.tsx
  apps/main-site/src/components/yaksa/forum/index.ts
  apps/main-site/src/components/yaksa/forum/theme.ts
  apps/main-site/src/index.css
  apps/main-site/src/lib/yaksa/forum-data.ts
  apps/main-site/src/pages/yaksa/forum/YaksaForumCategory.tsx
  apps/main-site/src/pages/yaksa/forum/YaksaForumHome.tsx
  apps/main-site/src/pages/yaksa/forum/YaksaForumOrganizationSelector.tsx
  apps/main-site/src/pages/yaksa/forum/YaksaForumPostList.tsx
  apps/main-site/src/pages/yaksa/forum/YaksaForumPostSingle.tsx
  apps/main-site/src/pages/yaksa/forum/YaksaForumPrivateBoard.tsx
  apps/main-site/src/pages/yaksa/forum/index.ts
Owners: @o4o-platform/ui-team, @o4o-platform/frontend-team

feat(forum): Add Phase 13 - Forum Notification System
  apps/api-server/src/controllers/forum/ForumNotificationController.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/1700100000000-CreateForumNotifications.ts
  apps/api-server/src/entities/ForumNotification.ts
  apps/api-server/src/routes/forum/forum.notifications.routes.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  apps/api-server/src/services/forum/ForumNotificationService.ts
  apps/api-server/src/services/forum/index.ts
  apps/main-site/src/components/forum/notifications/NotificationBell.tsx
  apps/main-site/src/components/forum/notifications/NotificationFeedPage.tsx
  apps/main-site/src/components/forum/notifications/NotificationItem.tsx
  apps/main-site/src/components/forum/notifications/NotificationList.tsx
  apps/main-site/src/components/forum/notifications/NotificationPopover.tsx
  apps/main-site/src/components/forum/notifications/index.ts
  apps/main-site/src/hooks/useNotifications.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/ui-team, @o4o-platform/frontend-team

feat(appstore): Implement Phase 4 - Remote App Distribution
  apps/admin-dashboard/src/api/admin-apps.ts
  apps/admin-dashboard/src/api/contentApi.ts
  apps/admin-dashboard/src/features/cms/TemplatesList.tsx
  apps/admin-dashboard/src/pages/apps/AppStorePage.tsx
  apps/admin-dashboard/src/types/content.ts
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/common/base.controller.ts
  apps/api-server/src/common/middleware/auth.middleware.ts
  apps/api-server/src/controllers/templatesController.ts
  apps/api-server/src/entities/AppRegistry.ts
  apps/api-server/src/entities/Template.ts
  apps/api-server/src/migrations/1860000000000-TemplateStatusEnum.ts
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/routes/admin/apps.routes.ts
  apps/api-server/src/routes/content.ts
  apps/api-server/src/services/AppCacheService.ts
  apps/api-server/src/services/AppDependencyResolver.ts
  apps/api-server/src/services/AppManager.ts
  apps/api-server/src/services/AppSecurityValidator.ts
  apps/api-server/src/services/ExtensionMergeService.ts
  apps/api-server/src/services/RemoteManifestLoader.ts
  apps/api-server/src/services/RemoteModuleLoader.ts
  apps/api-server/src/services/RemoteResourcesLoader.ts
  docs/cms/CMS_ENGINE_SPEC.md
  packages/auth-client/src/cookie-client.ts
  packages/auth-client/src/hooks.ts
  packages/auth-client/src/index.ts
  packages/auth-client/src/rbac.ts
  packages/auth-client/src/types.ts
  packages/types/src/api.ts
  packages/types/src/app-manifest.ts
  packages/types/src/auth/index.ts
  packages/types/src/auth/permissions.ts
  packages/types/src/auth/roles.ts
  packages/types/src/common.ts
  packages/types/src/index.ts
  scripts/cms/normalize-blocknames.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/security-team, @o4o-platform/core-team

fix(auth-client): Add @o4o/types dependency and fix type errors
  packages/auth-client/package.json
  packages/auth-client/src/rbac.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/security-team

fix(migrations): Replace console.log with logger utility
  apps/api-server/src/migrations/1860000000000-TemplateStatusEnum.ts
Owners: @o4o-platform/backend-team

fix(auth-context): Fix User type compatibility for login responses
  packages/auth-context/src/AuthContext.tsx
  packages/auth-context/src/AuthProvider.tsx
  packages/auth-context/src/CookieAuthProvider.tsx
  pnpm-lock.yaml
Owners: @o4o-platform/security-team, @o4o-platform/devops-team

fix(auth-context): Add missing clearError function to CookieAuthProvider
  packages/auth-context/src/CookieAuthProvider.tsx
Owners: @o4o-platform/security-team

feat(api-server): Add membership-yaksa app to catalog and fix Template status migration
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/src/routes/public.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

fix(membership-yaksa): Add missing 'id' field to manifest
  packages/membership-yaksa/src/manifest.ts
Owners: @o4o-platform/core-team

feat(lms): Implement LMS Core API - Course and Lesson modules
  apps/api-server/src/config/routes.config.ts
  apps/api-server/src/modules/lms/controllers/CourseController.ts
  apps/api-server/src/modules/lms/controllers/LessonController.ts
  apps/api-server/src/modules/lms/controllers/index.ts
  apps/api-server/src/modules/lms/dto/course.dto.ts
  apps/api-server/src/modules/lms/dto/index.ts
  apps/api-server/src/modules/lms/dto/lesson.dto.ts
  apps/api-server/src/modules/lms/entities/index.ts
  apps/api-server/src/modules/lms/index.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/CourseService.ts
  apps/api-server/src/modules/lms/services/LessonService.ts
  apps/api-server/src/modules/lms/services/index.ts
Owners: @o4o-platform/backend-team

feat(lms): Implement Enrollment and Progress APIs
  apps/api-server/src/modules/lms/controllers/EnrollmentController.ts
  apps/api-server/src/modules/lms/controllers/ProgressController.ts
  apps/api-server/src/modules/lms/controllers/index.ts
  apps/api-server/src/modules/lms/dto/enrollment.dto.ts
  apps/api-server/src/modules/lms/dto/index.ts
  apps/api-server/src/modules/lms/dto/progress.dto.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/EnrollmentService.ts
  apps/api-server/src/modules/lms/services/ProgressService.ts
  apps/api-server/src/modules/lms/services/index.ts
Owners: @o4o-platform/backend-team

fix(api-server): Fix AppRegistry previousVersion column query error
  apps/api-server/src/entities/AppRegistry.ts
Owners: @o4o-platform/database-team

feat(lms): Phase 3 구현 - Certificate, Events, Attendance API 완성
  apps/api-server/src/modules/lms/controllers/AttendanceController.ts
  apps/api-server/src/modules/lms/controllers/CertificateController.ts
  apps/api-server/src/modules/lms/controllers/EventController.ts
  apps/api-server/src/modules/lms/controllers/index.ts
  apps/api-server/src/modules/lms/dto/attendance.dto.ts
  apps/api-server/src/modules/lms/dto/certificate.dto.ts
  apps/api-server/src/modules/lms/dto/event.dto.ts
  apps/api-server/src/modules/lms/dto/index.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/AttendanceService.ts
  apps/api-server/src/modules/lms/services/CertificateService.ts
  apps/api-server/src/modules/lms/services/EventService.ts
  apps/api-server/src/modules/lms/services/index.ts
Owners: @o4o-platform/backend-team

docs: Add Schema Drift Prevention Guide and update CLAUDE.md
  CLAUDE.md
  docs/reference/guidelines/SCHEMA_DRIFT_PREVENTION_GUIDE.md
Owners: @o4o-platform/docs-team

fix(api-server): Add insert:false to AppRegistry non-existent columns
  apps/api-server/src/entities/AppRegistry.ts
Owners: @o4o-platform/database-team

feat(lms): Add LMS database migrations to prevent Schema Drift
  apps/api-server/src/database/migrations/9200000000000-CreateLMSTables.ts
  apps/api-server/src/database/migrations/9200000000001-CreateLMSAdditionalTables.ts
Owners: @o4o-platform/backend-team

fix(membership-yaksa): Add table creation in install lifecycle
  packages/membership-yaksa/src/lifecycle/install.ts
Owners: @o4o-platform/core-team

feat: Temporarily disable required tables check for clean DB reset
  apps/api-server/src/migrations/ARCHIVE_2025/1706123456789-CreateShippingTracking.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1731616800000-AddTimestampsToCategory.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1735000000000-AddUserRolesAndApprovalLogs.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1737115000000-CreateSettlementTables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1737724800000-CreateCrowdfundingTables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738000000000-CreateAccountLinkingTables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738000000005-CreateTemplateParts.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738000000006-SeedDefaultTemplateParts.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738500000001-CreatePostsTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738500000002-MigratePostsFromPages.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738500000003-CreateReusableBlocksTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738500000004-CreateBlockPatternsTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1738500000005-SeedDefaultBlockPatterns.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1740000000000-CreateShipmentsTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1745000000000-AddZoneBasedStructure.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1749876543210-AddActiveRoleToUsers.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1760836251604-CreateCustomPostTables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1760900000000-CreateCosmeticsBrandsTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1761000000000-CreateChannelRPATables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1799000000000-Phase8-9-CoreUnblock.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1800000000000-CreateRoleApplications.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1800000000000-Phase9-SellerAuthorization.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1810000000000-CreateAppRegistry.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1820000000000-CreateViewsTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1830000000000-CreateSignageTables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1840000000000-CreateDeploymentInstancesTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1850000000000-CreateSitesTable.ts
  apps/api-server/src/migrations/ARCHIVE_2025/1860000000000-TemplateStatusEnum.ts
  apps/api-server/src/migrations/ARCHIVE_2025/AddTypeFieldToPosts.ts
  apps/api-server/src/migrations/ARCHIVE_2025/add-avatar-to-users.ts
  apps/api-server/src/migrations/ARCHIVE_2025/create-email-tokens-tables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/create-forum-tables.ts
  apps/api-server/src/migrations/ARCHIVE_2025/create-refresh-tokens-table.ts
  apps/api-server/src/utils/database-checker.ts
Owners: @o4o-platform/backend-team

fix: Exclude ARCHIVE_2025 migrations from TypeScript build
  apps/api-server/tsconfig.build.json
Owners: @o4o-platform/devops-team

feat: Make App System initialization non-critical for clean DB mode
  apps/api-server/src/services/startup.service.ts
Owners: @o4o-platform/backend-team

feat: Add bootstrap core schema migration
  apps/api-server/src/migrations/1733750000000-BootstrapCoreSchema.ts
Owners: @o4o-platform/backend-team

feat: Add bootstrap app installation script
  apps/api-server/scripts/bootstrap-install-apps.ts
Owners: @o4o-platform/backend-team

feat: Add JavaScript version of bootstrap install script
  apps/api-server/scripts/bootstrap-install-apps.mjs
Owners: @o4o-platform/backend-team

feat: Complete FULL CLEAN RESET MODE v1.0 - Bootstrap installation complete
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/app-manifests/index.ts
  packages/@o4o-apps/signage/manifest.ts
  packages/forum-yaksa/src/manifest.ts
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

chore: Update pnpm-lock.yaml for auto deployment
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix(organization-core): Fix manifest lifecycle paths and dependencies
  packages/organization-core/src/manifest.ts
Owners: @o4o-platform/core-team

fix: Add missing dependencies and build signage package
  apps/main-site/package.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team
