Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(p0): Add dotenv loading to connection.ts for migrations
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/backend-team

fix(types): Fix simple type errors (5 errors fixed)
  apps/admin-dashboard/src/hooks/posts/usePostsActions.ts
  apps/admin-dashboard/src/pages/dropshipping/BulkProductImport.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
  apps/api-server/src/routes/v2/data.routes.ts
Owners: @o4o-platform/admin-team, @o4o-platform/api-team

fix(p0): Fix bcrypt import for ESM compatibility
  apps/api-server/src/database/migrations/3000000000001-SeedZeroDataAdminAndTestEnrollments.ts
Owners: @o4o-platform/backend-team

fix(p0): Use camelCase column names for users table in seed migration
  apps/api-server/src/database/migrations/3000000000001-SeedZeroDataAdminAndTestEnrollments.ts
Owners: @o4o-platform/backend-team

fix(p0): Use valid UUID format in seed migration
  apps/api-server/src/database/migrations/3000000000001-SeedZeroDataAdminAndTestEnrollments.ts
Owners: @o4o-platform/backend-team

fix(p0): Use snake_case for P0 tables, camelCase for users table
  apps/api-server/src/database/migrations/3000000000001-SeedZeroDataAdminAndTestEnrollments.ts
Owners: @o4o-platform/backend-team

fix(p0): Use existing admin user instead of creating new one
  apps/api-server/src/database/migrations/3000000000001-SeedZeroDataAdminAndTestEnrollments.ts
Owners: @o4o-platform/backend-team

docs(p0): Update Phase A report with actual migration results
  apps/api-server/src/database/run-migration-revert.ts
  docs/dev/investigations/user-refactor_2025-11/zerodata/phase_a_report.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(p0): Add Phase B execution order
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_b_execution_order.md
Owners: @o4o-platform/docs-team

feat(p0-rbac): Implement Phase B - API & RBAC middleware
  apps/api-server/src/config/rate-limiters.config.ts
  apps/api-server/src/config/routes.config.ts
  apps/api-server/src/middleware/auth.middleware.ts
  apps/api-server/src/routes/admin/enrollments.routes.ts
  apps/api-server/src/routes/auth-v2.ts
  apps/api-server/src/routes/enrollments.routes.ts
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_b_completion.md
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team

docs(p0): Add Phase C execution plan and detailed implementation guide
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_c_detailed_plan.md
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_c_execution_order.md
Owners: @o4o-platform/docs-team

fix(customizer): Add _meta.version to prevent migration on every GET
  apps/api-server/src/routes/v1/customizer.routes.ts
  apps/api-server/src/routes/v1/settings.routes.ts
Owners: @o4o-platform/api-team

feat(p0-phase-c): C-1 complete - auth-client types and enrollment API
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_b_verification_checklist.md
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_c_execution_order_v2.md
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_c_progress_checkpoint.md
  packages/auth-client/src/cookie-client.ts
  packages/auth-client/src/types.ts
  pnpm-lock.yaml
Owners: @o4o-platform/docs-team, @o4o-platform/security-team, @o4o-platform/devops-team

debug(customizer): Add debug logging for save operation
  apps/api-server/src/routes/v1/settings.routes.ts
  apps/main-site/src/types/user.ts
Owners: @o4o-platform/api-team, @o4o-platform/frontend-team

feat(p0-phase-c): C-2 complete - AuthContext refactoring with /me endpoint
  apps/main-site/src/contexts/AuthContext.tsx
  apps/main-site/src/types/user.ts
Owners: @o4o-platform/frontend-team

feat(p0-phase-c): C-3~C-6 complete - routing, RoleGuard, and application pages
  apps/main-site/src/App.tsx
  apps/main-site/src/components/auth/RoleGuard.tsx
  apps/main-site/src/pages/apply/ApplyPartner.tsx
  apps/main-site/src/pages/apply/ApplySeller.tsx
  apps/main-site/src/pages/apply/ApplyStatus.tsx
  apps/main-site/src/pages/apply/ApplySupplier.tsx
  apps/main-site/src/pages/dashboard/PartnerDashboard.tsx
  apps/main-site/src/pages/dashboard/SellerDashboard.tsx
  apps/main-site/src/pages/dashboard/SupplierDashboard.tsx
Owners: @o4o-platform/frontend-team, @o4o-platform/ui-team

feat(p0-phase-c): C-7 complete - admin enrollment management
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/enrollments/EnrollmentManagement.tsx
Owners: @o4o-platform/admin-team

feat(p0-phase-c): C-8 complete - global UI sync with hasRole()
  apps/main-site/src/components/layout/Navbar.tsx
  docs/dev/tasks/appearance-contamination-report.md
Owners: @o4o-platform/ui-team, @o4o-platform/docs-team

docs(p0-phase-c): Add final implementation report
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_c_implementation_report.md
  docs/dev/tasks/appearance-cleanup-final-report.md
Owners: @o4o-platform/docs-team

docs(p0): Add Phase C E2E verification test plan
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_phase_c_e2e_verification.md
Owners: @o4o-platform/docs-team

docs(p0): Add deployment support documentation
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_pr_template.md
  docs/releases/v2.0.0-p0_release_notes.md
  docs/runbooks/production_p0_monitoring.md
  docs/runbooks/rollback_p0.md
Owners: @o4o-platform/docs-team

fix(appearance): 저장 안 되는 문제 완전 해결 - 재오염 순환 차단
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/normalize-settings.ts
  apps/api-server/src/routes/v1/settings.routes.ts
Owners: @o4o-platform/admin-team, @o4o-platform/api-team

docs(p0): Add release checklist and step-by-step guide
  docs/dev/investigations/user-refactor_2025-11/zerodata/p0_release_checklist.md
Owners: @o4o-platform/docs-team

emergency: disable settings rate limit for infinite loop investigation
  apps/api-server/src/config/rate-limiters.config.ts
Owners: @o4o-platform/backend-team

chore: remove debug console.log statements from settings routes
  apps/api-server/src/routes/v1/settings.routes.ts
Owners: @o4o-platform/api-team

docs(p1): Add P1 kickoff plan - User & Role System Enhancement
  docs/dev/planning/p1_kickoff_task_order.md
Owners: @o4o-platform/docs-team

docs(p1): Add Phase A work order and RBAC enhancement spec
  docs/dev/specs/p1_rbac_enhancement.md
  docs/dev/tasks/p1_phase_a_work_order.md
Owners: @o4o-platform/docs-team

fix(admin): dedupe react-router-dom to prevent Router context issues
  apps/admin-dashboard/vite.config.ts
Owners: @o4o-platform/admin-team

fix(main-site): skip API calls when inside customizer iframe to prevent infinite reload
  apps/main-site/src/hooks/useTemplateParts.ts
Owners: @o4o-platform/frontend-team

docs(p1-rbac): Add Phase B work order - Enrollment Notifications & UX
  docs/dev/tasks/p1_phase_b_work_order.md
Owners: @o4o-platform/docs-team

docs(p1-rbac): Add Phase C work order - Dashboard Widgets System
  docs/dev/tasks/p1_phase_c_work_order.md
Owners: @o4o-platform/docs-team

fix(customizer): prevent string spread contamination in settings save
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
Owners: @o4o-platform/admin-team

docs(p1-rbac): Add Phase D work order - Admin Productivity & Performance
  docs/dev/tasks/p1_phase_d_work_order.md
Owners: @o4o-platform/docs-team

fix(auth-context): resolve User type compatibility issues
  packages/auth-context/src/AdminProtectedRoute.tsx
  packages/auth-context/src/AuthContext.tsx
  packages/auth-context/src/CookieAuthProvider.tsx
Owners: @o4o-platform/security-team

fix(customizer): add null checks for siteIdentity in CSS generator
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/css-generator.ts
Owners: @o4o-platform/admin-team

feat(p1-phase-b): Add enrollment email notification service with AWS SES
  apps/api-server/.env.example
  apps/api-server/src/services/EnrollmentEmailService.ts
  docs/dev/setup/aws-ses-setup-guide.md
  docs/dev/tasks/p1_phase_b_email_service_reference.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

fix(media): exclude document files from image type filter
  apps/api-server/src/controllers/MediaController.ts
Owners: @o4o-platform/backend-team

feat(p1-phase-b): Add B-2 metadata + B-3 email triggers
  apps/api-server/src/database/migrations/4000000000003-AddReasonAndReapplyCooldownToEnrollments.ts
  apps/api-server/src/entities/RoleEnrollment.ts
  apps/api-server/src/routes/admin/enrollments.routes.ts
  apps/api-server/src/routes/enrollments.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

fix(enrollment-email): Correct EmailService usage + return type
  apps/api-server/src/services/EnrollmentEmailService.ts
Owners: @o4o-platform/backend-team

feat(p1-phase-b): Complete B-2, B-3, B-4 - Full enrollment notification flow
  apps/main-site/src/pages/apply/ApplyStatus.tsx
  packages/auth-client/src/types.ts
Owners: @o4o-platform/frontend-team, @o4o-platform/security-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
