Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat(glycopharm): add login debug page for error diagnosis
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/__debug__/LoginDebugPage.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): remove provider field from login payload
  services/web-glycopharm/src/pages/__debug__/LoginDebugPage.tsx
  services/web-glycopharm/src/services/api.ts
Owners: @o4o-platform/core-team

fix(api): add JWT_REFRESH_SECRET to Cloud Run deployment
  .github/workflows/deploy-api.yml
Owners: @o4o-platform/devops-team

chore: remove legacy auth routes and debug page
  apps/api-server/src/routes/auth-v2.ts
  apps/api-server/src/routes/auth.ts
  apps/api-server/src/routes/authentication.routes.ts
  apps/api-server/src/routes/email-auth.routes.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/__debug__/LoginDebugPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

chore(api-server): remove 30 unused route files (WO-DEAD-CODE-LEGACY-CLEANUP-V1)
  apps/api-server/src/routes/account-linking.routes.ts
  apps/api-server/src/routes/acf.ts
  apps/api-server/src/routes/admin-role-applications.ts
  apps/api-server/src/routes/admin.routes.ts
  apps/api-server/src/routes/ai-blocks.ts
  apps/api-server/src/routes/ai-proxy.ts
  apps/api-server/src/routes/ai-references.ts
  apps/api-server/src/routes/ai-schema.ts
  apps/api-server/src/routes/ai-shortcodes.ts
  apps/api-server/src/routes/analytics.ts
  apps/api-server/src/routes/apps.ts
  apps/api-server/src/routes/block-patterns.routes.ts
  apps/api-server/src/routes/deployment.routes.ts
  apps/api-server/src/routes/ecommerce-orders.routes.ts
  apps/api-server/src/routes/email-settings.routes.ts
  apps/api-server/src/routes/forms.ts
  apps/api-server/src/routes/metrics.ts
  apps/api-server/src/routes/migration.routes.ts
  apps/api-server/src/routes/monitoring.ts
  apps/api-server/src/routes/notifications.routes.ts
  apps/api-server/src/routes/preview.ts
  apps/api-server/src/routes/reusable-blocks.routes.ts
  apps/api-server/src/routes/role-applications.ts
  apps/api-server/src/routes/services.ts
  apps/api-server/src/routes/sessions.ts
  apps/api-server/src/routes/signage.routes.ts
  apps/api-server/src/routes/social-auth.ts
  apps/api-server/src/routes/template-parts.routes.ts
  apps/api-server/src/routes/user.ts
  apps/api-server/src/routes/wishlist.routes.ts
Owners: @o4o-platform/api-team

feat(design): add Design Token system for all web services
  packages/design-tokens/design-tokens.css
  packages/design-tokens/package.json
  pnpm-lock.yaml
  services/web-glucoseview/src/index.css
  services/web-glycopharm/src/index.css
  services/web-k-cosmetics/src/index.css
  services/web-k-cosmetics/src/main.tsx
  services/web-kpa-society/src/index.css
  services/web-kpa-society/src/main.tsx
  services/web-neture/src/index.css
  services/web-neture/src/main.tsx
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

style(design-tokens): add semantic color and icon CSS variables with Primary color usage rules
  packages/design-tokens/design-tokens.css
  services/web-k-cosmetics/src/pages/LoginPage.tsx
  services/web-kpa-society/src/pages/LoginPage.tsx
  services/web-neture/src/pages/LoginPage.tsx
Owners: @o4o-platform/core-team

style(tailwind): connect Tailwind config to Design Token CSS variables
  services/web-glucoseview/tailwind.config.js
  services/web-glycopharm/tailwind.config.js
Owners: @o4o-platform/core-team

feat(admin): Admin Goal State 정의 및 아키텍처 재구조화
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/deployment/CreateInstanceModal.tsx
  apps/admin-dashboard/src/pages/deployment/DeploymentManager.tsx
  apps/admin-dashboard/src/pages/deployment/InstanceCard.tsx
  apps/admin-dashboard/src/pages/deployment/InstanceDetail.tsx
  apps/admin-dashboard/src/pages/deployment/index.ts
  apps/admin-dashboard/src/pages/notifications/NotificationSettings.tsx
  apps/admin-dashboard/src/pages/site-builder/CreateSiteModal.tsx
  apps/admin-dashboard/src/pages/site-builder/SiteBuilder.tsx
  apps/admin-dashboard/src/pages/site-builder/SiteCard.tsx
  apps/admin-dashboard/src/pages/site-builder/SiteDetail.tsx
  apps/admin-dashboard/src/pages/site-builder/index.ts
  apps/admin-dashboard/src/pages/test/SiteBuilderTest.tsx
  docs/architecture/admin-goal-state-definition.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team

feat(admin): Add Login Debug Page for JSON-based auth diagnosis
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/__debug__/LoginDebugPage.tsx
Owners: @o4o-platform/admin-team

fix(admin): Add test account buttons to Login Debug Page
  apps/admin-dashboard/src/pages/__debug__/LoginDebugPage.tsx
Owners: @o4o-platform/admin-team

fix(admin): Update Login Debug test accounts to match actual DB
  apps/admin-dashboard/src/pages/__debug__/LoginDebugPage.tsx
Owners: @o4o-platform/admin-team

fix(admin): Update Debug Page with correct test credentials
  apps/admin-dashboard/src/pages/__debug__/LoginDebugPage.tsx
Owners: @o4o-platform/admin-team

fix(auth): add COOKIE_DOMAIN env var for cross-subdomain cookies
  .github/workflows/deploy-api.yml
Owners: @o4o-platform/devops-team

fix(auth): remove login debug page after auth issue resolved
  .claude/settings.local.json
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/__debug__/LoginDebugPage.tsx
  apps/api-server/scripts/delete-seed-data.sql
  docs/data/seed-data-policy.md
  docs/debugging/auth-investigation-report.md
  packages/ui/src/components/EmptyState.tsx
  services/web-glycopharm/get-test-accounts.mjs
  services/web-k-cosmetics/src/api/stores.ts
  services/web-neture/src/api/products.ts
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/ui-team, @o4o-platform/core-team

feat(glycopharm): implement Cockpit API for Pharmacy Dashboard 2.0
  apps/api-server/src/routes/glycopharm/controllers/cockpit.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
Owners: @o4o-platform/api-team

fix(auth): migrate all services to httpOnly Cookie authentication
  services/web-glucoseview/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/api/store.ts
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/services/api.ts
  services/web-glycopharm/src/utils/token-storage.ts
  services/web-k-cosmetics/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/api/client.ts
  services/web-neture/src/contexts/AuthContext.tsx
Owners: @o4o-platform/core-team

fix(web-k-cosmetics): inline design tokens for Docker build
  .claude/settings.local.json
  services/web-k-cosmetics/src/index.css
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(web-services): inline design tokens for Docker build
  services/web-glucoseview/src/index.css
  services/web-glycopharm/src/index.css
  services/web-kpa-society/src/index.css
  services/web-neture/src/index.css
Owners: @o4o-platform/core-team

fix(web-services): resolve TypeScript build errors
  services/web-glucoseview/src/contexts/AuthContext.tsx
  services/web-neture/src/components/RoleSwitcher.tsx
  services/web-neture/src/pages/LoginPage.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): fix UI visibility and test account login
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/tailwind.config.js
Owners: @o4o-platform/core-team

feat(kpa-society): add test accounts and fix login modal
  apps/api-server/src/database/migrations/9990000000003-SeedKpaSocietyTestAccounts.ts
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/components/branch-admin/BranchAdminAuthGuard.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(kpa-society): remove unused navigate import
  .claude/settings.local.json
  services/web-kpa-society/src/components/Header.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(glycopharm): fix API response parsing in AuthContext
  .claude/settings.local.json
  services/web-glycopharm/src/contexts/AuthContext.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(glycopharm): add Login Debug Page for cookie troubleshooting
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/__debug__/LoginDebugPage.tsx
  services/web-glycopharm/src/pages/__debug__/index.ts
Owners: @o4o-platform/core-team

fix(glycopharm): redirect to home after login instead of role dashboard
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): remove debug pages
  .claude/settings.local.json
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/__debug__/LoginDebugPage.tsx
  services/web-glycopharm/src/pages/__debug__/index.ts
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(admin): add Auth Bootstrap Debug page
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/__debug__/AuthBootstrapDebug.tsx
  apps/admin-dashboard/src/pages/__debug__/index.ts
Owners: @o4o-platform/admin-team

fix(admin): add eslint-disable for debug console.log
  apps/admin-dashboard/src/pages/__debug__/AuthBootstrapDebug.tsx
Owners: @o4o-platform/admin-team

fix(admin): replace console.log with openInNewTab for CI compliance
  apps/admin-dashboard/src/pages/__debug__/AuthBootstrapDebug.tsx
Owners: @o4o-platform/admin-team

fix(admin): strip /api suffix from VITE_API_URL in debug page
  apps/admin-dashboard/src/pages/__debug__/AuthBootstrapDebug.tsx
Owners: @o4o-platform/admin-team

feat(deploy): add database migration step to API deployment workflow
  .github/workflows/deploy-api.yml
Owners: @o4o-platform/devops-team

fix(deploy): backup entire database folder including run-migration.js
  .github/workflows/deploy-api.yml
Owners: @o4o-platform/devops-team

fix(api-server): add run-migration.ts to tsup entry points
  apps/api-server/tsup.config.ts
Owners: @o4o-platform/backend-team

fix(deploy): correct migration backup/restore to preserve tsup output
  .github/workflows/deploy-api.yml
Owners: @o4o-platform/devops-team

fix(kpa-society): use correct VITE_API_BASE_URL env variable
  services/web-kpa-society/.env.example
  services/web-kpa-society/src/api/client.ts
Owners: @o4o-platform/core-team

refactor(migrations): use dedicated DataSource for TypeORM CLI
  .github/workflows/deploy-api.yml
  apps/api-server/src/database/migration-config.ts
  apps/api-server/tsup.config.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(kpa): integrate forum routes into KPA namespace
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/.env.example
  services/web-kpa-society/src/api/client.ts
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(docker): include migration-config.js in Docker image
  apps/api-server/Dockerfile
Owners: @o4o-platform/backend-team

feat(kpa): add all domain API routes for KPA Society
  apps/api-server/src/routes/kpa/kpa.routes.ts
Owners: @o4o-platform/api-team
