Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix: resolve TypeScript type errors in controllers
  apps/api-server/src/controllers/mediaController.ts
  apps/api-server/src/controllers/performanceController.ts
Owners: @o4o-platform/backend-team

fix: resolve all TypeScript compilation errors
  apps/api-server/src/controllers/performanceController.ts
  apps/api-server/tsconfig.json
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

25-07-18-7
  .github/workflows/ci.yml
  .github/workflows/deploy-admin-dashboard.yml
  .github/workflows/deploy-api-server.yml
  .github/workflows/deploy-main-site.yml
  CI_FIX_SUMMARY.md
  apps/api-server/package.json
  apps/api-server/tsconfig.json
  package-lock.json
  scripts/diagnose-ci.cjs
  scripts/test-ci-build.sh
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/core-team

25-07-18-8
  .github/workflows/ci.yml
  .github/workflows/deploy-admin-dashboard.yml
  .github/workflows/deploy-api-server.yml
  .github/workflows/deploy-main-site.yml
  CI_CD_AUDIT_REPORT.md
  CLAUDE.md
  package.json
  packages/auth-client/tsconfig.json
  packages/auth-context/tsconfig.json
  scripts/build-packages.sh
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/core-team

27-07-18-9
  .github/workflows/ci.yml
  .github/workflows/deploy-admin-dashboard.yml
  .github/workflows/deploy-api-server.yml
  .github/workflows/deploy-main-site.yml
  packages/auth-context/tsconfig.json
  scripts/build-packages.sh
  scripts/setup-ci-env.sh
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

25-07-18-10
  .github/workflows/deploy-api-server.yml
  .github/workflows/validate-secrets.yml
  packages/auth-context/build.js
  packages/auth-context/package.json
  scripts/debug-ssh-key.sh
  scripts/setup-ci-env.sh
  scripts/validate-deploy-env.sh
Owners: @o4o-platform/devops-team, @o4o-platform/security-team, @o4o-platform/core-team

25-07-18-11
  .github/workflows/deploy-api-server.yml
  docs/SSH_KEY_SETUP_GUIDE.md
  scripts/fix-ssh-key.sh
  scripts/setup-ssh-key.sh
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/core-team

25-07-18-12
  .github/workflows/deploy-api-server.yml
Owners: @o4o-platform/devops-team

27-07-18-13
  .github/workflows/deploy-api-alternative.yml
  .github/workflows/deploy-api-server-v2.yml
  scripts/ssh-key-converter.py
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

27-07-18-14
  .github/workflows/deploy-admin-dashboard.yml
  .github/workflows/deploy-api-server-v2.yml
  .github/workflows/deploy-api-server.yml
  .github/workflows/deploy-main-site.yml
  CLAUDE.md
  scripts/setup-ssh-known-hosts.sh
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/core-team

27-07-18-15
  .github/workflows/deploy-api-server.yml
  CLAUDE.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

25-07-18-16
  .github/workflows/deploy-api-server.yml
  CLAUDE.md
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/backend-team

25-07-18-17
  .github/workflows/deploy-api-server.yml
Owners: @o4o-platform/devops-team

25-07-18-18
  .github/workflows/deploy-api-server.yml
Owners: @o4o-platform/devops-team

25-07-18-19
  CLAUDE.md
Owners: @o4o-platform/docs-team

25-07-19-1
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/layout/AdminHeader.tsx
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
  apps/admin-dashboard/src/pages/AdminHome.tsx
  apps/admin-dashboard/src/pages/auth/Login.tsx
  apps/admin-dashboard/tsconfig.json
  apps/api-server/package.json
  apps/api-server/src/scripts/create-test-users.ts
  deployment/nginx/README.md
  deployment/nginx/neture.co.kr.conf
  deployment/nginx/setup-nginx-all.sh
  deployment/nginx/setup-nginx.sh
  package-lock.json
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

25-07-19-2
  .github/workflows/deploy-admin-dashboard.yml
  apps/api-server/src/scripts/create-test-users.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

25-07-19-3
  .github/workflows/deploy-admin-dashboard.yml
  .github/workflows/deploy-main-site.yml
  apps/api-server/package.json
  apps/api-server/src/database/connection-DESKTOP-SS4Q2DK.ts
  apps/api-server/src/scripts/test-db-connection.ts
  deployment/pm2/ecosystem.config.js
  docs/deployment/database-password-handling.md
  docs/deployment/server-prerequisites.md
  scripts/test-database.js
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/core-team, @o4o-platform/docs-team

25-07-19-5
  eslint.config.js
Owners: @o4o-platform/core-team

25-07-19-6
  README.md
  apps/admin-dashboard/package.json
  docs/README.md
  docs/ci-cd/CI_CD_AUDIT_REPORT.md
  docs/ci-cd/CI_FIX_SUMMARY.md
  docs/ci-cd/SECRETS_REQUIRED.md
  docs/deployment/DEPLOYMENT_FIX.md
  docs/deployment/SSH_INFRASTRUCTURE.md
  docs/deployment/SSH_KEY_SETUP_GUIDE.md
  docs/deployment/deployment-overview.md
  docs/deployment/nginx-setup.md
  docs/development/CODE_QUALITY_ANALYSIS.md
  docs/development/NPM_SCRIPTS_GUIDE.md
  docs/development/TYPESCRIPT_GUIDELINES.md
  docs/development/dependency-resolution-analysis.md
  docs/guides/AI_COLLABORATION_GUIDE.md
  docs/guides/AI_DEVELOPMENT_LECTURE_MATERIAL.md
  docs/reports/ADMIN_DASHBOARD_STATUS.md
  docs/reports/O4O_PLATFORM_ERROR_ANALYSIS_REPORT.md
  docs/reports/PHASE1_VERIFICATION_REPORT.md
  docs/reports/SYSTEM_DIAGNOSTIC_REPORT.md
  docs/security/SECURITY_AUDIT_REPORT.md
  docs/testing/TEST_GUIDE.md
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team

fix: synchronize package-lock.json with serve@14.2.4 dependency
  package-lock.json
Owners: @o4o-platform/devops-team

25-07-19-7
  .github/workflows/pr-checks.yml
  .github/workflows/setup-labels.yml
  CI_CD_FAILURE_INVESTIGATION_REPORT.md
  docs/GITHUB_ACTIONS_SETUP.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

25-07-7-19-8
  .github/labeler.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-size-labeler.yml
Owners: @o4o-platform/devops-team

fix: PM2 설정 하드코딩 제거 및 프로젝트 정리
  .gitignore
  deployment/pm2/ecosystem.config.js
Owners: @o4o-platform/core-team

docs: 최근 작업 내용 반영한 개발 문서 업데이트
  CLAUDE.md
  SERVER_GIT_MERGE_GUIDE.md
  SERVER_PM2_FIX_GUIDE.md
  apps/api-server/src/database/connection-DESKTOP-SS4Q2DK.ts
  apps/api-server/src/entities/User-DESKTOP-SS4Q2DK.ts
  apps/main-site/src/App-DESKTOP-SS4Q2DK.tsx
  apps/main-site/src/App-DESKTOP-V1SFT2A.tsx
  apps/main-site/src/App.tsx.backup-20250627-144910
  apps/main-site/src/components/healthcare/HealthcareDemo-DESKTOP-V1SFT2A.tsx
  apps/main-site/src/pages/AdminDashboardTest-DESKTOP-V1SFT2A.tsx
  apps/main-site/src/pages/DropshippingPage-DESKTOP-V1SFT2A.tsx
  apps/main-site/src/pages/FullScreenEditorSimpleTest-DESKTOP-V1SFT2A.tsx
  apps/main-site/src/pages/TheDANGStyleHome-DESKTOP-SS4Q2DK.tsx
  apps/main-site/src/pages/healthcare/HealthcarePage-DESKTOP-V1SFT2A.tsx
  docs/deployment/deployment-overview.md
  docs/development/NPM_SCRIPTS_GUIDE.md
  docs/troubleshooting/502-BAD-GATEWAY-SOLUTIONS.md
Owners: @o4o-platform/docs-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/frontend-team, @o4o-platform/ui-team

fix: 관리자 대시보드 레이아웃 정렬 문제 해결
  O4O_ADMIN_DASHBOARD_COMPREHENSIVE_ANALYSIS.md
  apps/admin-dashboard/src/components/layout/AdminLayout.tsx
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/admin-team

docs: reorganize documentation structure
  .gitignore
  docs/README.md
  docs/ci-cd/CI_CD_FAILURE_INVESTIGATION_REPORT.md
  docs/reports/O4O_ADMIN_DASHBOARD_COMPREHENSIVE_ANALYSIS.md
  docs/troubleshooting/SERVER_GIT_MERGE_GUIDE.md
  docs/troubleshooting/SERVER_PM2_FIX_GUIDE.md
Owners: @o4o-platform/core-team, @o4o-platform/docs-team

25-07-19-12
  apps/admin-dashboard/src/components/template/BlockEditor.tsx
  apps/admin-dashboard/src/components/template/BlockRenderer.tsx
  apps/admin-dashboard/src/components/template/TemplateBuilder.tsx
  apps/admin-dashboard/src/components/ui/table.tsx
  apps/admin-dashboard/src/components/widget/WidgetBuilder.tsx
  apps/api-server/src/controllers/mediaController.ts
  apps/api-server/src/controllers/performanceController.ts
  apps/api-server/src/scripts/create-test-users.ts
  apps/api-server/src/scripts/test-db-connection.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

25-07-20-2
  apps/admin-dashboard/src/pages/categories/CategoryList.tsx
  apps/admin-dashboard/src/pages/dashboard/components/Charts/OrderChart.tsx
  apps/admin-dashboard/src/pages/dashboard/components/Charts/SalesChart.tsx
  apps/admin-dashboard/src/pages/dashboard/components/Charts/UserChart.tsx
  apps/admin-dashboard/src/pages/ecommerce/Orders.tsx
  apps/admin-dashboard/src/pages/ecommerce/ProductForm.tsx
  apps/admin-dashboard/src/pages/ecommerce/Products.tsx
  apps/admin-dashboard/src/test-utils/factories/order.ts
  apps/admin-dashboard/src/test-utils/factories/product.ts
  apps/admin-dashboard/src/test-utils/mocks/handlers.ts
  apps/admin-dashboard/src/test/mocks/handlers/posts.ts
  apps/admin-dashboard/src/types/ecommerce.ts
  packages/utils/src/pricing.ts
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

25-07-22-3
  apps/api-server/src/config/passport.ts
  apps/api-server/src/config/redis.ts
  apps/api-server/src/controllers/userController.ts
  apps/api-server/src/controllers/vendor/vendorOrderController.ts
  apps/api-server/src/controllers/vendor/vendorProductController.ts
  apps/api-server/src/controllers/vendor/vendorStatsController.ts
  apps/api-server/src/entities/Order.ts
  apps/api-server/src/entities/OrderItem.ts
  apps/api-server/src/entities/Product.ts
  apps/api-server/src/middleware/auth-v2.ts
  apps/api-server/src/middleware/auth.ts
  apps/api-server/src/middleware/authMiddleware.ts
  apps/api-server/src/routes/auth-v2.ts
  apps/api-server/src/routes/linked-accounts.ts
  apps/api-server/src/routes/vendor.ts
  apps/api-server/src/services/AuthService.ts
  apps/api-server/src/services/authService.ts
  apps/api-server/src/services/emailService.ts
  apps/api-server/src/services/passwordResetService.ts
  apps/api-server/src/services/sessionSyncService.ts
  apps/api-server/src/services/socialAuthService.ts
  apps/api-server/src/types/order.types.ts
  apps/api-server/src/types/passport-kakao.d.ts
  apps/api-server/src/utils/logger.ts
  apps/api-server/tsconfig.json
  package-lock.json
  package.json
  packages/auth-client/src/cookie-client.ts
  packages/auth-context/src/CookieAuthProvider.tsx
  packages/auth-context/src/SSOAuthProvider.tsx
  packages/auth-context/src/services/WebSocketSessionClient.ts
  packages/types/src/auth.ts
  packages/types/src/ecommerce.ts
  packages/types/src/pricing.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/devops-team, @o4o-platform/security-team, @o4o-platform/core-team

25-07-22-4
  apps/api-server/src/database/connection.ts
  apps/digital-signage/index.html
  apps/digital-signage/package.json
  apps/digital-signage/postcss.config.js
  apps/digital-signage/src/App.tsx
  apps/digital-signage/src/components/Layout.tsx
  apps/digital-signage/src/components/signage/SignageScheduler.tsx
  apps/digital-signage/src/hooks/useSignageAPI.ts
  apps/digital-signage/src/hooks/useSignageWebSocket.ts
  apps/digital-signage/src/index.css
  apps/digital-signage/src/main.tsx
  apps/digital-signage/src/pages/ContentManager.tsx
  apps/digital-signage/src/pages/ContentSearchManager.tsx
  apps/digital-signage/src/pages/DigitalSignageDashboard.tsx
  apps/digital-signage/src/pages/EnhancedSignageDashboard.tsx
  apps/digital-signage/src/pages/LiveTVDisplay.tsx
  apps/digital-signage/src/pages/PlaylistManager.tsx
  apps/digital-signage/src/pages/ScheduleManager.tsx
  apps/digital-signage/src/pages/SignageContent.tsx
  apps/digital-signage/src/pages/SignageDashboard.tsx
  apps/digital-signage/src/pages/SignageDetail.tsx
  apps/digital-signage/src/pages/SignageEditor.tsx
  apps/digital-signage/src/pages/SignageHome.tsx
  apps/digital-signage/src/pages/SignageList.tsx
  apps/digital-signage/src/pages/StoreManagement.tsx
  apps/digital-signage/src/pages/content/ContentManager.tsx
  apps/digital-signage/src/pages/dashboard/Dashboard.tsx
  apps/digital-signage/src/pages/display/DisplayView.tsx
  apps/digital-signage/src/pages/schedule/ScheduleManager.tsx
  apps/digital-signage/src/pages/store/StoreManager.tsx
  apps/digital-signage/src/pages/tv/TVDisplay.tsx
  apps/digital-signage/src/store/signageStore.ts
  apps/digital-signage/src/types/signage.ts
  apps/digital-signage/tailwind.config.js
  apps/digital-signage/tsconfig.json
  apps/digital-signage/vite.config.ts
  package.json
Owners: @o4o-platform/backend-team, @o4o-platform/core-team, @o4o-platform/devops-team

28-07-23-1
  apps/api-server/src/middleware/auth-v2.ts
  apps/api-server/src/middleware/auth.ts
  apps/api-server/src/routes/auth-v2.ts
  apps/api-server/src/routes/vendor.ts
  apps/api-server/src/services/AuthService.ts
  apps/api-server/src/services/socialAuthService.ts
  apps/api-server/src/utils/string.ts
  apps/api-server/src/websocket/sessionSync.ts
  apps/forum/src/pages/HomePage.tsx
  apps/main-site/src/pages/test/SessionSyncTest.tsx
  package-lock.json
  packages/auth-client/src/sso-client.ts
  packages/auth-context/src/services/WebSocketSessionClient.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team, @o4o-platform/frontend-team, @o4o-platform/devops-team, @o4o-platform/security-team

25-07-23-2
  apps/api-gateway/src/middleware/proxy.middleware.ts
  apps/api-gateway/src/middleware/rateLimit.middleware.ts
  apps/api-gateway/src/server.ts
  apps/api-gateway/src/services/RouteManager.ts
  apps/api-gateway/src/services/ServiceRegistry.ts
  apps/api-server/package.json
  apps/digital-signage/src/hooks/useSignageWebSocket.ts
  apps/ecommerce/src/api/vendor.ts
  apps/ecommerce/src/components/vendor/ProductForm.tsx
  apps/ecommerce/src/pages/vendor/Dashboard.tsx
  apps/ecommerce/src/pages/vendor/Products.tsx
  apps/ecommerce/src/pages/vendor/Settings.tsx
  apps/ecommerce/src/pages/vendor/layout/VendorLayout.tsx
  apps/forum/src/hooks/usePosts.ts
  package-lock.json
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

fix: deployment issues - fix crowdfunding-types build config and add missing devtools
  apps/forum/package.json
  package-lock.json
  packages/crowdfunding-types/package.json
Owners: @o4o-platform/devops-team

25-07-23-3
  apps/forum/src/pages/PostListPage.tsx
  apps/forum/src/styles/globals.css
Owners: @o4o-platform/core-team

25-07-23-4
  apps/api-gateway/src/middleware/proxy.middleware.ts
  apps/api-gateway/src/middleware/rateLimit.middleware.ts
  apps/api-gateway/src/server.ts
  apps/digital-signage/src/hooks/useSignageWebSocket.ts
  apps/digital-signage/src/hooks/useToast.ts
  apps/digital-signage/src/pages/ContentManager.tsx
  apps/digital-signage/src/pages/ContentSearchManager.tsx
  apps/digital-signage/src/pages/DigitalSignageDashboard.tsx
  apps/digital-signage/src/pages/EnhancedSignageDashboard.tsx
  apps/digital-signage/src/pages/LiveTVDisplay.tsx
  apps/digital-signage/src/pages/PlaylistManager.tsx
  apps/digital-signage/src/pages/ScheduleManager.tsx
  apps/digital-signage/src/pages/SignageContent.tsx
  apps/digital-signage/src/pages/SignageDashboard.tsx
  apps/digital-signage/src/pages/SignageDetail.tsx
  apps/digital-signage/src/pages/SignageEditor.tsx
  apps/digital-signage/src/pages/StoreManagement.tsx
  apps/digital-signage/src/pages/display/DisplayView.tsx
  apps/digital-signage/src/pages/schedule/ScheduleManager.tsx
  apps/ecommerce/src/components/vendor/ProductForm.tsx
  apps/ecommerce/src/pages/vendor/Analytics.tsx
  apps/ecommerce/src/pages/vendor/Dashboard.tsx
  apps/ecommerce/src/pages/vendor/Orders.tsx
  apps/ecommerce/src/pages/vendor/Products.tsx
  apps/ecommerce/src/pages/vendor/Settings.tsx
  apps/ecommerce/src/pages/vendor/layout/VendorLayout.tsx
  apps/ecommerce/src/vite-env.d.ts
  apps/main-site/src/pages/signage/PlaylistManager.tsx
  apps/main-site/src/pages/signage/ScheduleManager.tsx
  apps/main-site/src/pages/signage/SignageContent.tsx
  apps/main-site/src/pages/signage/StoreManagement.tsx
  package.json
  packages/crowdfunding-types/build.js
  packages/crowdfunding-types/package.json
Owners: @o4o-platform/core-team, @o4o-platform/frontend-team, @o4o-platform/devops-team

25-07-23-6
  apps/forum/src/pages/PostListPage.tsx
Owners: @o4o-platform/core-team

25-07-23-7
  CLAUDE.md
Owners: @o4o-platform/docs-team

2025-07-24-2
  package-lock.json
Owners: @o4o-platform/devops-team

25-07-24-3
  CLAUDE.md
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/users/UserDetail.tsx
  apps/admin-dashboard/src/pages/users/UserForm.tsx
  apps/admin-dashboard/src/pages/users/UserList.tsx
  apps/admin-dashboard/src/pages/users/components/UserStatistics.tsx
  apps/admin-dashboard/src/pages/users/index.tsx
  apps/api-server/package.json
  apps/api-server/src/controllers/UserManagementController.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/entities/ApprovalLog.ts
  apps/api-server/src/entities/User.ts
  apps/api-server/src/main.ts
  apps/api-server/src/migrations/1735000000000-AddUserRolesAndApprovalLogs.ts
  apps/api-server/src/repositories/UserRepository.ts
  apps/api-server/src/routes/users.routes.ts
  apps/api-server/src/types/auth.ts
  package-lock.json
Owners: @o4o-platform/docs-team, @o4o-platform/admin-team, @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team
