Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

feat(glycopharm): WO-4 patient surface removal
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/patient.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/pages/PatientPlaceholderPage.tsx
  services/web-glycopharm/src/pages/PharmacyPlaceholderPage.tsx
  services/web-glycopharm/src/pages/patient/AppointmentsPage.tsx
  services/web-glycopharm/src/pages/patient/DataAnalysisPage.tsx
  services/web-glycopharm/src/pages/patient/GlucoseInputPage.tsx
  services/web-glycopharm/src/pages/patient/PharmacyCoachingPage.tsx
  services/web-glycopharm/src/pages/patient/ProfilePage.tsx
  services/web-glycopharm/src/pages/patient/RecordsListPage.tsx
  services/web-glycopharm/src/pages/patient/SelectPharmacyPage.tsx
  services/web-glycopharm/src/pages/pharmacist/AppointmentsPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PatientRequestsPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PharmacistPatientDetailPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PharmacistPatientsPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PharmacyCoachingPage.tsx
  services/web-glycopharm/src/pages/store-management/PharmacyPatients.tsx
Owners: @o4o-platform/core-team

fix(kpa): IR-O4O-LMS-FOUNDATION-VERIFY-V1 — fix response shape mismatches
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseListPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseNewPage.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): WO-O4O-GLYCOPHARM-HOME-TO-COMMUNITY-V1
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/LandingPage.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): replace ecommerce_orders with checkout_orders in groupbuy service
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/services/groupbuy.service.ts
Owners: @o4o-platform/api-team

feat(kpa): WO-O4O-ENROLLMENT-SYSTEM-V1 — MyEnrollmentsPage + route
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/mypage/MyEnrollmentsPage.tsx
  services/web-kpa-society/src/pages/mypage/index.ts
  services/web-kpa-society/src/pages/mypage/navItems.ts
Owners: @o4o-platform/core-team

fix(kpa): fix checkout_orders column names — camelCase not snake_case
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/services/groupbuy.service.ts
Owners: @o4o-platform/api-team

fix(lms): IR-O4O-ENROLLMENT-VERIFY-V1 — allow re-enrollment after cancel/reject/expire
  apps/api-server/src/modules/lms/services/EnrollmentService.ts
Owners: @o4o-platform/backend-team

fix(kpa): move supplier/event-offers route to top-level (out of /demo/*)
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team

feat(glycopharm): guard system menu to admin-only (WO-GLYCOPHARM-OPERATOR-MENU-ADMIN-GUARD-V1)
  services/web-glycopharm/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/core-team

fix(kpa): ns.company_name → ns.name (neture_suppliers column is 'name')
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
Owners: @o4o-platform/api-team

refactor(glycopharm): replace custom HTML tables with DataTable (WO-GLYCOPHARM-OPERATOR-TABLE-UNIFICATION-V1)
  services/web-glycopharm/src/pages/operator/ApplicationsPage.tsx
  services/web-glycopharm/src/pages/operator/ForumRequestsPage.tsx
  services/web-glycopharm/src/pages/operator/OrdersPage.tsx
  services/web-glycopharm/src/pages/operator/PharmaciesPage.tsx
  services/web-glycopharm/src/pages/operator/ProductsPage.tsx
  services/web-glycopharm/src/pages/operator/StoreApprovalsPage.tsx
  services/web-glycopharm/src/pages/operator/StoresPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): resolve neture_suppliers name column — join organizations via organization_id
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
Owners: @o4o-platform/api-team

fix(kpa): resolve KPA organization_id via operator role in kpa_members
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
Owners: @o4o-platform/api-team

feat(market-trial): Phase H8 full implementation — funnel, conversion, listing, order auto-link
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  apps/api-server/src/database/migrations/20260415200000-AddConversionFieldsToMarketTrials.ts
  apps/api-server/src/database/migrations/20260415210000-AddNotificationSentAtToMarketTrials.ts
  apps/api-server/src/database/migrations/20260415220000-AddCustomerConversionToMarketTrialParticipants.ts
  apps/api-server/src/database/migrations/20260415230000-AddListingLinkToMarketTrialParticipants.ts
  apps/api-server/src/database/migrations/20260415240000-AddSourceToOrganizationProductListings.ts
  apps/api-server/src/modules/store-core/entities/organization-product-listing.entity.ts
  apps/api-server/src/routes/market-trial-operator.routes.ts
  apps/api-server/src/routes/market-trial.routes.ts
  apps/api-server/src/services/checkout.service.ts
  packages/market-trial/src/entities/MarketTrial.entity.ts
  packages/market-trial/src/entities/MarketTrialParticipant.entity.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialListPage.tsx
  services/web-neture/src/pages/supplier/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

refactor(kpa): cleanup legacy roles, context simplification, type fixes
  apps/api-server/src/app-manifests/forum-yaksa.manifest.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/controllers/organization-join-request.controller.ts
  services/web-kpa-society/src/api/kpa.ts
  services/web-kpa-society/src/components/auth/PharmacyOwnerOnlyGuard.tsx
  services/web-kpa-society/src/components/intranet/IntranetAuthGuard.tsx
  services/web-kpa-society/src/contexts/OrganizationContext.tsx
  services/web-kpa-society/src/contexts/ServiceContext.tsx
  services/web-kpa-society/src/data/sampleOrganizations.ts
  services/web-kpa-society/src/lib/role-constants.ts
  services/web-kpa-society/src/pages/OrganizationServicePage.tsx
  services/web-kpa-society/src/pages/event-offer/EventOfferListPage.tsx
  services/web-kpa-society/src/pages/event-offer/KpaEventOfferPage.tsx
  services/web-kpa-society/src/pages/feedback/FeedbackDetailPage.tsx
  services/web-kpa-society/src/pages/feedback/FeedbackNewPage.tsx
  services/web-kpa-society/src/pages/join/PharmacyJoinPage.tsx
  services/web-kpa-society/src/pages/operator/aiReportConfig.tsx
  services/web-kpa-society/src/pages/organization/OrganizationAboutPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyB2BPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacySellPage.tsx
  services/web-kpa-society/src/pages/pharmacy/b2b/SupplierDetailPage.tsx
  services/web-kpa-society/src/pages/pharmacy/b2b/SupplierListPage.tsx
  services/web-kpa-society/src/pages/services/PharmacyServicePage.tsx
  services/web-kpa-society/src/types/feedback.ts
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(market-trial): replace console.log with console.error in conversion notification
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
Owners: @o4o-platform/backend-team

feat(glycopharm): WO-GLYCOPHARM-OPERATOR-DASHBOARD-5BLOCK-V1 — align to KPA standard 5-Block
  services/web-glycopharm/src/pages/operator/GlycoPharmOperatorDashboard.tsx
Owners: @o4o-platform/core-team

fix: reseed market trial forum category after cleanup migration
  apps/api-server/src/database/migrations/20260415260000-ReseedMarketTrialForumCategory.ts
Owners: @o4o-platform/backend-team

docs(audit): IR-O4O-STORE-QR-AND-PRODUCT-DESCRIPTION-CURRENT-STATE-AUDIT-V1
  docs/audit/IR-O4O-STORE-QR-AND-PRODUCT-DESCRIPTION-CURRENT-STATE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

refactor(glycopharm): WO-GLYCOPHARM-UI-COMMON-COMPONENTS-V1 — StatusBadge + PageHeader commonization
  services/web-glycopharm/src/components/common/PageHeader.tsx
  services/web-glycopharm/src/components/common/StatusBadge.tsx
  services/web-glycopharm/src/pages/operator/ApplicationsPage.tsx
  services/web-glycopharm/src/pages/operator/ForumDeleteRequestsPage.tsx
  services/web-glycopharm/src/pages/operator/ForumRequestsPage.tsx
  services/web-glycopharm/src/pages/operator/OrdersPage.tsx
  services/web-glycopharm/src/pages/operator/PharmaciesPage.tsx
  services/web-glycopharm/src/pages/operator/ProductsPage.tsx
  services/web-glycopharm/src/pages/operator/StoresPage.tsx
Owners: @o4o-platform/core-team

fix(market-trial): fix gateway 500 error and service_key mismatch
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
Owners: @o4o-platform/backend-team

feat(lms): WO-O4O-QUIZ-SYSTEM-V1 + WO-O4O-CREDIT-SYSTEM-V1 + WO-O4O-COMPLETION-V1
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/migrations/20260415250000-CreateLmsQuizTables.ts
  apps/api-server/src/database/migrations/20260415260000-CreateCreditTables.ts
  apps/api-server/src/database/migrations/20260415270000-CreateCourseCompletionsTable.ts
  apps/api-server/src/modules/credit/controllers/CreditController.ts
  apps/api-server/src/modules/credit/credit-constants.ts
  apps/api-server/src/modules/credit/entities/CreditBalance.ts
  apps/api-server/src/modules/credit/entities/CreditTransaction.ts
  apps/api-server/src/modules/credit/routes/credit.routes.ts
  apps/api-server/src/modules/credit/services/CreditService.ts
  apps/api-server/src/modules/lms/controllers/CompletionController.ts
  apps/api-server/src/modules/lms/controllers/QuizController.ts
  apps/api-server/src/modules/lms/entities/CourseCompletion.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/CompletionService.ts
  apps/api-server/src/modules/lms/services/QuizService.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  packages/interactive-content-core/src/entities/Quiz.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/credit.ts
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCompletionsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCreditsPage.tsx
  services/web-kpa-society/src/pages/mypage/index.ts
  services/web-kpa-society/src/pages/mypage/navItems.ts
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat: WO-STORE-PRODUCT-DESCRIPTION-OVERRIDE-V1 + WO-GLYCOPHARM-MEMBER-TABLE-CREATION-V1
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260415280000-CreateGlycopharmMembersTable.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-member.entity.ts
  apps/api-server/src/routes/glycopharm/entities/index.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  docs/audit/IR-O4O-KPA-MEMBER-MANAGEMENT-TO-GLYCOPHARM-ADAPTATION-AUDIT-V1.md
  docs/audit/IR-O4O-SERVICE-CURRENT-STATE-AUDIT-V1.md
  docs/event-offer/EventOffer-Operation-Policy.md
  services/web-glycopharm/vite.config.ts
  services/web-k-cosmetics/vite.config.ts
  services/web-kpa-society/src/pages/storefront/StorefrontProductDetailPage.tsx
  services/web-kpa-society/vite.config.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-ROLE-PREFIX-MIGRATION-V1 — pharmacy → glycopharm:pharmacist 역할 전환
  apps/api-server/src/controllers/forum/ForumRecommendationController.ts
  apps/api-server/src/types/roles.ts
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/config/dashboard.ts
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-glycopharm/src/pages/auth/RegisterPage.tsx
  services/web-glycopharm/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs(market-trial): IR-MARKET-TRIAL-CURRENT-OPERATING-BASELINE-V1
  docs/market-trial/IR-MARKET-TRIAL-CURRENT-OPERATING-BASELINE-V1.md
Owners: @o4o-platform/docs-team

feat(event-offer): WO-EVENT-OFFER-HUB-TABLE-AND-DIRECT-ORDER-REFINE-V1 + WO-EVENT-OFFER-HUB-TIME-WINDOW-FILTER-HOTFIX-V1
  apps/api-server/src/routes/kpa/controllers/groupbuy.controller.ts
  apps/api-server/src/routes/kpa/services/groupbuy.service.ts
  services/web-kpa-society/src/api/eventOffer.ts
  services/web-kpa-society/src/pages/event-offer/KpaEventOfferPage.tsx
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(audit): IR-O4O-STORE-QR-AND-DESCRIPTION-OVERRIDE-BROWSER-VERIFY-V1
  docs/audit/IR-O4O-STORE-QR-AND-DESCRIPTION-OVERRIDE-BROWSER-VERIFY-V1.md
Owners: @o4o-platform/docs-team

feat(lms): WO-O4O-LMS-ROUTING-INTEGRATION-FIX-V1
  apps/api-server/src/modules/lms/controllers/EnrollmentController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/lms/LmsCourseDetailPage.tsx
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-MEMBER-REGISTER-FLOW-V1
  apps/api-server/src/routes/glycopharm/controllers/glycopharm-member.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  apps/api-server/src/routes/glycopharm/services/glycopharm-member.service.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/pages/apply/PharmacistApplyPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-OPERATOR-MEMBER-MANAGEMENT-V1
  apps/api-server/src/routes/glycopharm/controllers/glycopharm-member.controller.ts
  apps/api-server/src/routes/glycopharm/services/glycopharm-member.service.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/operator/GlycopharmMembersPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(lms): IR-O4O-LMS-END-TO-END-VERIFY-V1 — Production Ready 최종 문서화
  docs/audit/IR-O4O-LMS-END-TO-END-VERIFY-V1.md
Owners: @o4o-platform/docs-team

feat(glycopharm): WO-GLYCOPHARM-ACCESS-POLICY-AND-ROLE-CLEANUP-V1
  apps/api-server/src/migrations/1771200000026-BackfillPharmacyToGlycopharmPharmacist.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/forum-ext/ForumListPage.tsx
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-glycopharm/src/pages/operator/forum-management/OperatorForumManagementPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs(lms): IR-O4O-LMS-OPERATIONAL-VALIDATION-V1 — 운영 검증 보고서
  docs/audit/IR-O4O-LMS-OPERATIONAL-VALIDATION-V1.md
Owners: @o4o-platform/docs-team

fix(migration): 올바른 migrations 디렉토리로 이동
  apps/api-server/src/database/migrations/20260416000001-BackfillPharmacyToGlycopharmPharmacist.ts
Owners: @o4o-platform/backend-team

fix(lms): WO-O4O-LMS-INTEGRITY-PATCH-V1 — 진도율 계산 + 재등록 초기화
  apps/api-server/src/modules/lms/controllers/EnrollmentController.ts
  apps/api-server/src/modules/lms/services/EnrollmentService.ts
Owners: @o4o-platform/backend-team

docs(lms): IR-O4O-LMS-INSTRUCTOR-DASHBOARD-AUDIT-V1 — 강사 대시보드 구현 가능성 분석
  docs/audit/IR-O4O-LMS-INSTRUCTOR-DASHBOARD-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(market-trial): WO-MARKET-TRIAL-CROWDFUNDING-CORE-ALIGNMENT-V1
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/database/migrations/20260416100000-AddRewardRateToMarketTrials.ts
  packages/market-trial/src/entities/MarketTrial.entity.ts
  packages/market-trial/src/services/MarketTrialService.ts
  packages/market-trial/src/services/index.ts
  services/web-kpa-society/src/api/marketTrial.ts
  services/web-kpa-society/src/pages/market-trial/MarketTrialDetailPage.tsx
  services/web-kpa-society/src/pages/market-trial/MarketTrialHubPage.tsx
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/supplier/SupplierTrialCreatePage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(lms): WO-O4O-LMS-INSTRUCTOR-DASHBOARD-MVP-V1
  apps/api-server/src/modules/lms/controllers/InstructorController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/InstructorCourseDashboardPage.tsx
  services/web-kpa-society/src/pages/instructor/InstructorDashboardPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(glycopharm): WO-GLYCOPHARM-PHARMACY-ROLE-FINAL-CLEANUP-V1
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/config/dashboard.ts
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/auth/RoleSelectPage.tsx
  services/web-glycopharm/src/pages/forum-ext/ForumListPage.tsx
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-glycopharm/src/pages/operator/forum-management/OperatorForumManagementPage.tsx
  services/web-glycopharm/src/types/index.ts
Owners: @o4o-platform/core-team

feat(lms): WO-O4O-LMS-CERTIFICATE-PDF-V1 — on-demand 수료증 PDF 다운로드
  apps/api-server/src/modules/lms/controllers/CertificateController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/utils/certificatePdf.ts
  services/web-kpa-society/src/contexts/index.ts
  services/web-kpa-society/src/pages/mypage/MyCertificatesPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
