Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(migrations): use single default export for TypeORM CLI
  apps/api-server/src/database/migration-config.ts
Owners: @o4o-platform/backend-team

fix(migrations): add hasTable checks for optional tables
  apps/api-server/src/database/migrations/1732422000000-AddProductCommissionColumns.ts
  apps/api-server/src/database/migrations/1800000000003-OptimizeProductsWithJsonb.ts
  apps/api-server/src/database/migrations/1830000000002-AddCommissionPolicyFields.ts
  apps/api-server/src/database/migrations/1840000000002-CreateSellerProductsTable.ts
Owners: @o4o-platform/backend-team

fix(api): register Forum and LMS entities for KPA/Glycopharm routes
  apps/api-server/src/database/connection.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  services/web-glycopharm/src/pages/pharmacy/PharmacyDashboard.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(api): add multi-domain cookie support for cross-origin auth
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/services/AuthService.ts
  apps/api-server/src/services/AuthServiceV2.ts
  apps/api-server/src/services/authentication.service.ts
  apps/api-server/src/services/socialAuthService.ts
  apps/api-server/src/utils/cookie.utils.ts
Owners: @o4o-platform/backend-team

fix(auth): cross-domain authentication with Bearer token support
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/api/store.ts
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/__debug__/CookieDebugPage.tsx
  services/web-glycopharm/src/services/api.ts
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(deploy): use service-specific API URLs for same-origin cookie auth
  .github/workflows/deploy-web-services.yml
Owners: @o4o-platform/devops-team

fix(glycopharm): update fallback API URL to api.glycopharm.co.kr
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/api/health.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/api/store.ts
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/__debug__/CookieDebugPage.tsx
  services/web-glycopharm/src/services/api.ts
Owners: @o4o-platform/core-team

chore(glycopharm): remove debug pages
  .claude/settings.local.json
  .github/workflows/deploy-api.yml
  apps/api-server/src/database/cli-config.ts
  apps/api-server/src/database/run-migration-revert.ts
  apps/api-server/src/database/run-migration.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/__debug__/CookieDebugPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/core-team

fix(glycopharm): add autocomplete attributes and fix API URL
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-glycopharm/src/services/api.ts
Owners: @o4o-platform/core-team

fix(deploy): use api.neture.co.kr for all web services
  .github/workflows/deploy-web-services.yml
Owners: @o4o-platform/devops-team

feat(glycopharm): migrate API URL to api.glycopharm.co.kr
  .github/workflows/deploy-web-services.yml
  services/web-glycopharm/src/services/api.ts
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

perf(glycopharm): optimize login flow to reduce page load delay
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): handle object error messages in dashboard
  services/web-glycopharm/src/pages/pharmacy/PharmacyDashboard.tsx
Owners: @o4o-platform/core-team

feat(deploy): configure service-specific API URLs for all web services
  .github/workflows/deploy-web-services.yml
Owners: @o4o-platform/devops-team

feat(glycopharm): add signage API endpoints
  apps/api-server/src/routes/glycopharm/controllers/signage.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  docs/reports/monorepo-legacy-interference-investigation-v2.md
Owners: @o4o-platform/api-team, @o4o-platform/docs-team

fix(api): add enabled_services column migration for glycopharm_pharmacies
  apps/api-server/src/database/migrations/1736400000000-AddEnabledServicesToPharmacy.ts
Owners: @o4o-platform/backend-team

chore: remove legacy interference elements (WO-MONOREPO-CLEANUP-V2)
  agent_manifest.md
  apps/app-api-reference/.dockerignore
  apps/app-api-reference/.env.example
  apps/app-api-reference/Dockerfile
  apps/app-api-reference/README.md
  apps/app-api-reference/package.json
  apps/app-api-reference/src/config/env.ts
  apps/app-api-reference/src/main.ts
  apps/app-api-reference/src/middleware/auth.middleware.ts
  apps/app-api-reference/src/routes/api.routes.ts
  apps/app-api-reference/src/routes/health.routes.ts
  apps/app-api-reference/tsconfig.json
  apps/app-api-reference/tsup.config.ts
  apps/web-server-reference/README.md
  apps/web-server-reference/index.html
  apps/web-server-reference/package.json
  apps/web-server-reference/postcss.config.js
  apps/web-server-reference/public/vite.svg
  apps/web-server-reference/src/App.tsx
  apps/web-server-reference/src/components/Header.tsx
  apps/web-server-reference/src/components/Layout.tsx
  apps/web-server-reference/src/hooks/useForumData.ts
  apps/web-server-reference/src/index.css
  apps/web-server-reference/src/main.tsx
  apps/web-server-reference/src/pages/ForumDetailPage.tsx
  apps/web-server-reference/src/pages/ForumListPage.tsx
  apps/web-server-reference/src/pages/HomePage.tsx
  apps/web-server-reference/src/pages/LoginPage.tsx
  apps/web-server-reference/src/services/api.service.ts
  apps/web-server-reference/src/stores/AuthContext.tsx
  apps/web-server-reference/src/vite-env.d.ts
  apps/web-server-reference/tailwind.config.js
  apps/web-server-reference/tsconfig.json
  apps/web-server-reference/tsconfig.node.json
  apps/web-server-reference/vite.config.ts
  vite.config.shared.js
Owners: @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/devops-team

perf(auth): optimize login performance
  apps/api-server/src/services/account-linking.service.ts
  apps/api-server/src/services/authentication.service.ts
  apps/api-server/src/services/sessionSyncService.ts
Owners: @o4o-platform/backend-team

feat(admin): remove operational mock data (WO-MOCK-REMOVAL-ADMIN-P0)
  apps/admin-dashboard/src/components/dashboard/ActivityWidget.tsx
  apps/admin-dashboard/src/components/dashboard/QuickDraftWidget.tsx
  apps/admin-dashboard/src/hooks/useDashboardStats.ts
  apps/admin-dashboard/src/pages/categories/CategoryList.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerStorefront.tsx
  apps/admin-dashboard/src/pages/dashboard/DashboardSimple.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsOverview/index.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/assignments/index.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/required-policy/RequiredPolicyDesignCoreV1.tsx
  apps/admin-dashboard/src/pages/lms-yaksa/required-policy/index.tsx
  apps/admin-dashboard/src/pages/partner/PartnerCommission.tsx
  apps/admin-dashboard/src/pages/partner/PartnerDashboard.tsx
  apps/admin-dashboard/src/pages/partner/PartnerLinks.tsx
  apps/admin-dashboard/src/pages/partner/PartnerPartners.tsx
  apps/admin-dashboard/src/pages/partner/PartnerPerformanceDashboard.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsReports.tsx
Owners: @o4o-platform/admin-team

feat(admin): remove fake fallback data (WO-ADMIN-API-GAP-P0)
  apps/admin-dashboard/src/api/dashboard.ts
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerDashboard.tsx
  apps/admin-dashboard/src/types/dashboard.ts
Owners: @o4o-platform/admin-team

feat(admin): implement Admin Dashboard P0 APIs with real DB queries
  apps/admin-dashboard/src/hooks/api/useDashboard.ts
  apps/admin-dashboard/src/hooks/useDashboardStats.ts
  apps/api-server/src/controllers/admin/adminDashboardController.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/admin/dashboard.routes.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team

feat(glycopharm): implement operator dashboard with real DB queries (WO-GLYCOPHARM-DASHBOARD-P1-A)
  apps/api-server/src/routes/glycopharm/controllers/operator.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  docs/reports/WO-DB-MIGRATION-P1-DESIGN.md
  docs/reports/WO-DB-STATE-AUDIT-P0-RESULT.md
  docs/reports/WO-GLYCOPHARM-DASHBOARD-P1-A-RESULT.md
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/pages/operator/OperatorDashboard.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa): implement admin dashboard with real DB queries (WO-KPA-SOCIETY-DASHBOARD-P1-A)
  apps/api-server/src/routes/kpa/controllers/admin-dashboard.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  docs/reports/WO-KPA-SOCIETY-DASHBOARD-P1-A-RESULT.md
  services/web-kpa-society/src/pages/admin/AdminDashboardPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(cms): implement CMS Content system with migrations and seed data
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/1736500000000-CreateCmsContentTables.ts
  apps/api-server/src/database/migrations/1736500001000-SeedCmsContent.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/cms-content/cms-content.routes.ts
  apps/api-server/src/routes/cms-content/index.ts
  apps/api-server/src/routes/glycopharm/controllers/operator.controller.ts
  docs/reports/WO-P2-ENTITY-DESIGN-CONTENT.md
  docs/reports/WO-P2-IMPLEMENT-CONTENT-RESULT.md
  docs/reports/WO-P2-MIGRATION-SEED-CONTENT-RESULT.md
  packages/cms-core/src/entities/CmsContent.entity.ts
  packages/cms-core/src/entities/CmsContentSlot.entity.ts
  packages/cms-core/src/entities/index.ts
  services/web-kpa-society/src/api/cms.ts
  services/web-kpa-society/src/api/index.ts
  services/web-kpa-society/src/pages/intranet/DashboardPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(cms): add Content CRUD and Slot Management Admin UI
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/lib/cms.ts
  apps/admin-dashboard/src/pages/cms/contents/CMSContentList.tsx
  apps/admin-dashboard/src/pages/cms/contents/ContentFormModal.tsx
  apps/admin-dashboard/src/pages/cms/contents/index.ts
  apps/admin-dashboard/src/pages/cms/slots/CMSSlotList.tsx
  apps/admin-dashboard/src/pages/cms/slots/SlotContentAssignment.tsx
  apps/admin-dashboard/src/pages/cms/slots/SlotFormModal.tsx
  apps/admin-dashboard/src/pages/cms/slots/index.ts
  apps/api-server/src/routes/cms-content/cms-content.routes.ts
  docs/reports/WO-P3-CMS-ADMIN-CRUD-P0-RESULT.md
  docs/reports/WO-P3-CMS-SLOT-MANAGEMENT-P1-RESULT.md
Owners: @o4o-platform/admin-team, @o4o-platform/api-team, @o4o-platform/docs-team

docs: add Channel Entity design specification (WO-P4-CHANNEL-ENTITY-DESIGN-P0)
  docs/specs/WO-P4-CHANNEL-ENTITY-DESIGN-P0-SPEC.md
Owners: @o4o-platform/docs-team

fix(glycopharm): add migration for glycopharm_applications table
  apps/api-server/src/database/migrations/1736800000000-CreateGlycopharmApplications.ts
Owners: @o4o-platform/backend-team

feat(glycopharm): add missing API endpoints for pharmacy dashboard
  apps/api-server/src/routes/glycopharm/controllers/pharmacy.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/signage.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
Owners: @o4o-platform/api-team

refactor(membership-yaksa): separate officer positions from permissions (RBAC reform)
  apps/admin-dashboard/src/pages/yaksa-admin/OfficerManagePage.tsx
  packages/membership-yaksa/src/backend/entities/Member.ts
  packages/membership-yaksa/src/backend/entities/MembershipRoleAssignment.ts
  packages/membership-yaksa/src/backend/services/MemberService.ts
  packages/membership-yaksa/src/backend/services/RoleAssignmentService.ts
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

fix(glycopharm): use correct snake_case entity property names
  apps/api-server/src/routes/glycopharm/controllers/pharmacy.controller.ts
Owners: @o4o-platform/api-team

docs: add KPA Role/Position separation principles
  docs/app-guidelines/kpa-auth-role-position-principles.md
Owners: @o4o-platform/docs-team

feat(web-kpa-society): add district/branch officer test accounts
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/LoginPage.tsx
Owners: @o4o-platform/core-team

fix(glycopharm): handle missing DisplayMedia entity and add /forums endpoint
  apps/api-server/src/routes/glycopharm/controllers/signage.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
Owners: @o4o-platform/api-team

fix(api-server): add graceful fallback for forum API when tables missing
  apps/api-server/src/controllers/forum/ForumController.ts
Owners: @o4o-platform/backend-team

fix(api-server): add graceful fallback for LMS courses API
  apps/api-server/src/modules/lms/controllers/CourseController.ts
Owners: @o4o-platform/backend-team

fix(web-neture): consolidate header to single row
  services/web-neture/src/components/Header.tsx
  services/web-neture/src/components/Layout.tsx
Owners: @o4o-platform/core-team

docs(market-trial): add standards v1 and operator guide
  docs/services/market-trial/operator-supplier-guide.md
  docs/specs/market-trial-code-alignment-items.md
  docs/specs/market-trial-standards-v1.md
Owners: @o4o-platform/docs-team

docs(market-trial): add B2B integration status investigation report
  docs/reports/IR-MARKET-TRIAL-B2B-INTEGRATION-STATUS-2026-01.md
Owners: @o4o-platform/docs-team

feat(market-trial): unify TrialStatus enum across all services
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/ecommerce/src/pages/market-trial/marketTrial.types.ts
  packages/market-trial/src/controllers/MarketTrialController.ts
  packages/market-trial/src/entities/MarketTrial.entity.ts
  packages/market-trial/src/entities/index.ts
  packages/market-trial/src/index.ts
  packages/market-trial/src/services/MarketTrialDecisionService.ts
  packages/market-trial/src/services/MarketTrialForumService.ts
  packages/market-trial/src/services/MarketTrialService.ts
  packages/market-trial/src/types/MarketTrial.types.ts
  packages/market-trial/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs(market-trial): declare experimental status
  apps/api-server/src/app-manifests/appsCatalog.ts
  docs/architecture/market-trial-experimental-declaration.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team
