Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

chore(o4o): clean cross-service types and guard shared types build
  .github/workflows/ci-pipeline.yml
  package.json
  packages/types/package.json
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/api/signageSchedule.ts
  services/web-glycopharm/src/components/OperatorAlerts.tsx
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/hooks/usePharmacyUnread.ts
  services/web-glycopharm/src/pages/education/CourseDetailPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPostDetailPage.tsx
  services/web-glycopharm/src/pages/operator/ApplicationsPage.tsx
  services/web-glycopharm/src/pages/operator/LmsCoursesPage.tsx
  services/web-glycopharm/src/pages/operator/OrdersPage.tsx
  services/web-glycopharm/src/pages/operator/PharmaciesPage.tsx
  services/web-glycopharm/src/pages/operator/ProductsPage.tsx
  services/web-glycopharm/src/pages/operator/StoreApprovalsPage.tsx
  services/web-glycopharm/src/pages/store-management/PharmacySettings.tsx
  services/web-glycopharm/src/pages/store-management/StoreMainPage.tsx
  services/web-glycopharm/src/pages/store-management/signage/SignagePlaybackPage.tsx
  services/web-glycopharm/src/pages/store/hooks/useStoreHub.ts
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(kcos-store): WO-O4O-KCOS-STORE-PRODUCTS-FOUNDATION-V1 — /store/products 실제 페이지
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/api/eventOffer.ts
  services/web-k-cosmetics/src/pages/store/StoreProductsPage.tsx
Owners: @o4o-platform/core-team

feat(lms): WO-O4O-LMS-LIVE-MINIMAL-V1 — YouTube-based live lessons end-to-end
  apps/api-server/src/database/migrations/20260502140000-AddLiveFieldsToLmsLessons.ts
  apps/api-server/src/modules/lms/controllers/LiveController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/LiveService.ts
  packages/interactive-content-core/src/entities/Lesson.ts
  services/web-k-cosmetics/src/api/lms.ts
  services/web-k-cosmetics/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/LiveEditor.tsx
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

refactor(lms): WO-O4O-LMS-LESSON-TYPE-NORMALIZATION-V1 — lowercase across the board
  apps/api-server/src/database/migrations/20260502160000-NormalizeLessonTypeLowercase.ts
  apps/api-server/src/modules/lms/services/LessonService.ts
  services/web-k-cosmetics/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

refactor(lms): WO-O4O-LMS-UX-REFINEMENT-V1 — unify lesson UX (type/status badges)
  services/web-k-cosmetics/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
Owners: @o4o-platform/core-team

refactor(point): WO-O4O-POINT-CORE-SEPARATION-V1 — introduce PointService facade and decouple LMS Quiz from CreditService
  apps/api-server/src/modules/lms/services/QuizService.ts
  apps/api-server/src/modules/point/services/PointService.ts
Owners: @o4o-platform/backend-team

fix(event-offer): WO-O4O-EVENT-OFFER-KCOS-E2E-SMOKE-V1 — K-Cos resolver service_code 정렬
  apps/api-server/src/routes/kpa/helpers/event-offer-organization.helper.ts
Owners: @o4o-platform/api-team

feat(point): WO-O4O-POINT-CORE-EXTENSION-V1 — add spendPoint and admin grant/spend APIs
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/modules/point/controllers/PointAdminController.ts
  apps/api-server/src/modules/point/routes/point.routes.ts
  apps/api-server/src/modules/point/services/PointService.ts
Owners: @o4o-platform/backend-team

fix(bootstrap): remove dangling AI route registration to unbreak main
  apps/api-server/src/bootstrap/register-routes.ts
Owners: @o4o-platform/backend-team

feat(ai): WO-O4O-LMS-AI-MINIMAL-V1 — on-demand AI for quiz/live/assignment
  apps/api-server/src/modules/ai/controllers/AIController.ts
  apps/api-server/src/modules/ai/routes/ai.routes.ts
  apps/api-server/src/modules/ai/services/LmsAIService.ts
  services/web-k-cosmetics/src/api/ai.ts
  services/web-k-cosmetics/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/api/ai.ts
  services/web-kpa-society/src/api/index.ts
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(ai): WO-O4O-LMS-AI-MINIMAL-V1 — wire aiRoutes into bootstrap (re-apply)
  apps/api-server/src/bootstrap/register-routes.ts
Owners: @o4o-platform/backend-team

feat(kpa-society): show store-hub/store menus to operator and admin
  services/web-kpa-society/src/components/Header.tsx
Owners: @o4o-platform/core-team

feat(kpa-society): WO-O4O-INSTRUCTOR-DASHBOARD-ENTRY-V1 — instructor dashboard entry in user menu
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/lib/role-constants.ts
Owners: @o4o-platform/core-team

feat(lms): WO-O4O-LMS-COURSE-APPROVAL-FLOW-V1 — operator approval gate for course publishing
  apps/api-server/src/database/migrations/20260503000000-AddRejectionReasonToLmsCourses.ts
  apps/api-server/src/modules/lms/controllers/CourseController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/CourseService.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  packages/interactive-content-core/src/entities/Course.ts
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorLmsCoursesPage.tsx
  services/web-kpa-society/src/types/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(glycopharm): WO-O4O-INSTRUCTOR-DASHBOARD-ENTRY-V1 — instructor dashboard entry in user menu
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/lib/role-constants.ts
Owners: @o4o-platform/core-team

refactor(glucoseview): WO-O4O-GLUCOSEVIEW-POST-DROP-CLEANUP-V1 — drop dead glucoseview queries
  apps/api-server/src/routes/debug/pharmacy-debug.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/pharmacy.controller.ts
  apps/api-server/src/routes/platform/store-policy.routes.ts
Owners: @o4o-platform/api-team

fix(docker): WO-O4O-DOCKER-PNPM-IGNORE-SCRIPTS-FIX-V1 — skip prepare hook in Docker install
  services/web-account/Dockerfile
  services/web-glycopharm/Dockerfile
  services/web-k-cosmetics/Dockerfile
  services/web-kpa-society/Dockerfile
  services/web-neture/Dockerfile
Owners: @o4o-platform/core-team

feat(lms): WO-O4O-LMS-COURSE-REAPPROVAL-FLOW-V1 — auto-revert to PENDING_REVIEW on content edit
  apps/api-server/src/modules/lms/services/AssignmentService.ts
  apps/api-server/src/modules/lms/services/CourseService.ts
  apps/api-server/src/modules/lms/services/LessonService.ts
  apps/api-server/src/modules/lms/services/LiveService.ts
  apps/api-server/src/modules/lms/services/QuizService.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(notification): WO-O4O-NOTIFICATION-CORE-BASELINE-V1 — activate global notification core
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/migrations/20260913000000-CreateNotificationsTable.ts
  apps/api-server/src/entities/Notification.ts
  apps/api-server/src/routes/notifications.routes.ts
  apps/api-server/src/services/NotificationService.ts
  apps/api-server/src/services/forum/ForumNotificationService.ts
  apps/api-server/src/services/forum/NotificationEventHub.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

fix(notification): WO-O4O-NOTIFICATION-CORE-BASELINE-V1 — add rate limiting to /api/v1/notifications
  apps/api-server/src/routes/notifications.routes.ts
Owners: @o4o-platform/api-team

feat(notification): WO-O4O-NOTIFICATION-CORE-BASELINE-V1 — activate global notification core (#168)
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/migrations/20260913000000-CreateNotificationsTable.ts
  apps/api-server/src/entities/Notification.ts
  apps/api-server/src/routes/notifications.routes.ts
  apps/api-server/src/services/NotificationService.ts
  apps/api-server/src/services/forum/ForumNotificationService.ts
  apps/api-server/src/services/forum/NotificationEventHub.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

feat(header): unify shared user profile header across services
  packages/account-ui/src/components/GlobalUserProfileDropdown.tsx
  packages/account-ui/src/index.ts
  packages/account-ui/src/utils/getUserDisplayName.ts
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/tailwind.config.js
  services/web-neture/src/components/AccountMenu.tsx
Owners: @o4o-platform/core-team

feat(header): unify shared user profile header across services (#169)
  packages/account-ui/src/components/GlobalUserProfileDropdown.tsx
  packages/account-ui/src/index.ts
  packages/account-ui/src/utils/getUserDisplayName.ts
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/tailwind.config.js
  services/web-neture/src/components/AccountMenu.tsx
Owners: @o4o-platform/core-team

docs: add commonization standard and update hub template spec
  docs/architecture/O4O-COMMONIZATION-STANDARD.md
  docs/platform/hub/O4O-HUB-TEMPLATE-STANDARD-V1.md
Owners: @o4o-platform/docs-team

docs: add commonization standard and update hub template spec (#170)
  docs/architecture/O4O-COMMONIZATION-STANDARD.md
  docs/platform/hub/O4O-HUB-TEMPLATE-STANDARD-V1.md
Owners: @o4o-platform/docs-team

feat(neture): adopt shared hub templates for forum/content/resources
  pnpm-lock.yaml
  services/web-neture/package.json
  services/web-neture/src/App.tsx
  services/web-neture/src/lib/api/hubContent.ts
  services/web-neture/src/pages/forum/ForumHubPage.tsx
  services/web-neture/src/pages/library/ContentLibraryPage.tsx
  services/web-neture/src/pages/resources/NetureResourcesPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(neture): adopt shared hub templates for forum/content/resources (#171)
  pnpm-lock.yaml
  services/web-neture/package.json
  services/web-neture/src/App.tsx
  services/web-neture/src/lib/api/hubContent.ts
  services/web-neture/src/pages/forum/ForumHubPage.tsx
  services/web-neture/src/pages/library/ContentLibraryPage.tsx
  services/web-neture/src/pages/resources/NetureResourcesPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(neture): add shared-space-ui COPY to web-neture Dockerfile
  services/web-neture/Dockerfile
Owners: @o4o-platform/core-team

fix(neture): add shared-space-ui COPY to web-neture Dockerfile (#172)
  services/web-neture/Dockerfile
Owners: @o4o-platform/core-team

feat(lms): add notification triggers for course lifecycle events
  apps/api-server/src/entities/Notification.ts
  apps/api-server/src/modules/lms/services/CourseService.ts
Owners: @o4o-platform/database-team, @o4o-platform/backend-team

feat(lms): add notification triggers for course lifecycle events (#173)
  apps/api-server/src/entities/Notification.ts
  apps/api-server/src/modules/lms/services/CourseService.ts
Owners: @o4o-platform/database-team, @o4o-platform/backend-team

feat(notification): add shared notification bell to service headers
  packages/account-ui/src/components/NotificationBell.tsx
  packages/account-ui/src/index.ts
  packages/account-ui/src/notifications/types.ts
  packages/account-ui/src/notifications/useNotifications.ts
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/lib/api/notifications.ts
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-k-cosmetics/src/lib/api/notifications.ts
  services/web-kpa-society/src/api/notifications.ts
  services/web-kpa-society/src/components/Header.tsx
  services/web-neture/src/components/NetureGlobalHeader.tsx
  services/web-neture/src/lib/api/notifications.ts
Owners: @o4o-platform/core-team

feat(notification): add shared notification bell to service headers (#174)
  packages/account-ui/src/components/NotificationBell.tsx
  packages/account-ui/src/index.ts
  packages/account-ui/src/notifications/types.ts
  packages/account-ui/src/notifications/useNotifications.ts
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/lib/api/notifications.ts
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-k-cosmetics/src/lib/api/notifications.ts
  services/web-kpa-society/src/api/notifications.ts
  services/web-kpa-society/src/components/Header.tsx
  services/web-neture/src/components/NetureGlobalHeader.tsx
  services/web-neture/src/lib/api/notifications.ts
Owners: @o4o-platform/core-team

docs(o4o): WO-O4O-LMS-SCOPE-GUARD-DOC-V1 — document LMS scope guard behavior and intent
  docs/architecture/LMS-SCOPE-GUARD.md
Owners: @o4o-platform/docs-team

docs(o4o): WO-O4O-APP-LMS-BASELINE-V1 — define APP-LMS standard and register in CLAUDE.md §13-A
  CLAUDE.md
  docs/architecture/APP-LMS-BASELINE.md
Owners: @o4o-platform/docs-team

docs(o4o): WO-O4O-APP-LMS-BASELINE-UPDATE-KCOS-INSTRUCTOR-V1 — promote K-Cos Instructor from deferred to Phase target
  docs/architecture/APP-LMS-BASELINE.md
Owners: @o4o-platform/docs-team

feat(k-cosmetics): WO-KCOS-LMS-INSTRUCTOR-BOOTSTRAP-V1 — minimal /instructor entry per APP-LMS Phase 1-A
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/api/lms.ts
  services/web-k-cosmetics/src/components/KCosGlobalHeader.tsx
  services/web-k-cosmetics/src/pages/instructor/InstructorCoursesPage.tsx
  services/web-k-cosmetics/src/pages/instructor/InstructorDashboardPage.tsx
Owners: @o4o-platform/core-team

feat(o4o): WO-O4O-LMS-CLIENT-EXTRACTION-V1-SCOPED — base types + getInstructorCourses factory
  packages/lms-client/package.json
  packages/lms-client/src/index.ts
  packages/lms-client/tsconfig.json
  pnpm-lock.yaml
  services/web-glycopharm/Dockerfile
  services/web-glycopharm/package.json
  services/web-glycopharm/src/api/lms.ts
  services/web-k-cosmetics/Dockerfile
  services/web-k-cosmetics/package.json
  services/web-k-cosmetics/src/api/lms.ts
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

docs(point): WO-O4O-POINT-REWARD-OPERATION-POLICY-DOC-V1 — add reward operation policy document
  docs/point/O4O-POINT-REWARD-OPERATION-POLICY.md
Owners: @o4o-platform/docs-team

docs(o4o): WO-O4O-LMS-CLIENT-CONVENTION-DOC-V1 — promote LMS client alignment standard
  CLAUDE.md
  docs/architecture/LMS-CLIENT-CONVENTION-V1.md
Owners: @o4o-platform/docs-team
