Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

docs(check): footer link guard — GP /education->/lms, Neture /about removed (deployed)
  docs/checks/CHECK-O4O-PUBLIC-FOOTER-LINK-GUARD-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): align digital signage UI baseline
  docs/investigations/CHECK-O4O-KPA-DIGITAL-SIGNAGE-UIUX-BASELINE-V1.md
  services/web-kpa-society/src/components/home/CommunityServiceSection.tsx
  services/web-kpa-society/src/components/home/SignageSection.tsx
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
  services/web-kpa-society/src/pages/about/AboutPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
  services/web-kpa-society/src/pages/work/WorkDisplayPage.tsx
  services/web-kpa-society/src/pages/work/WorkPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(wo): add WO-O4O-PUBLIC-FOOTER-LEGAL-GUARD-V1
  docs/work-orders/WO-O4O-PUBLIC-FOOTER-LEGAL-GUARD-V1.md
Owners: @o4o-platform/docs-team

fix(footer): remove hardcoded legal info from Neture contact page
  services/web-neture/src/pages/ContactPage.tsx
Owners: @o4o-platform/core-team

docs(check): footer legal guard — Neture contact page hardcoded biz info removed (deployed)
  docs/checks/CHECK-O4O-PUBLIC-FOOTER-LEGAL-GUARD-V1.md
Owners: @o4o-platform/docs-team

fix(lms): remove KPA store library takeaway from courses
  docs/checks/CHECK-O4O-LMS-KPA-STORE-LIBRARY-TAKEAWAY-REMOVAL-V1.md
  services/web-kpa-society/src/pages/lms/LmsCoursesPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(ir): audit store signage playlist view modes (management vs broadcast)
  docs/investigations/IR-O4O-STORE-SIGNAGE-PLAYLIST-VIEW-MODES-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): isolate signage broadcast view from store layout (2-view normalization)
  docs/investigations/CHECK-O4O-KPA-STORE-SIGNAGE-PLAYLIST-TWO-VIEW-V1.md
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/SignagePlayerSelectPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): GlycoPharm supply-catalog service_key contamination count — 0 (read-only)
  docs/checks/CHECK-O4O-GLYCOPHARM-SUPPLY-CATALOG-SERVICEKEY-CONTAMINATION-COUNT-V1.md
Owners: @o4o-platform/docs-team

docs(wo): add WO-O4O-PUBLIC-FOOTER-LEGAL-LOADER-CONSOLIDATION-V1
  docs/work-orders/WO-O4O-PUBLIC-FOOTER-LEGAL-LOADER-CONSOLIDATION-V1.md
Owners: @o4o-platform/docs-team

refactor(footer): consolidate public legal footer loader + remove Neture dead footer
  packages/shared-space-ui/src/index.ts
  packages/shared-space-ui/src/legal/footerLegalLoader.ts
  services/web-glycopharm/src/lib/footerLegal.ts
  services/web-k-cosmetics/src/lib/footerLegal.ts
  services/web-kpa-society/src/lib/footerLegal.ts
  services/web-neture/src/components/Footer.tsx
  services/web-neture/src/lib/footerLegal.ts
Owners: @o4o-platform/core-team

fix(glycopharm): send canonical service_key='glycopharm' in supply-catalog apply/getCatalog
  docs/checks/CHECK-O4O-GLYCOPHARM-SUPPLY-CATALOG-SERVICEKEY-FRONTEND-FIX-V1.md
  services/web-glycopharm/src/api/pharmacyProducts.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(lms): align KPA course hub with shared template
  docs/checks/CHECK-O4O-LMS-KPA-COURSESPAGE-HUBTEMPLATE-ALIGNMENT-V1.md
  packages/shared-space-ui/src/LmsHubTemplate.tsx
  services/web-kpa-society/src/pages/lms/LmsCoursesPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): footer legal loader consolidation — 4-service tsc+deploy PASS
  docs/checks/CHECK-O4O-PUBLIC-FOOTER-LEGAL-LOADER-CONSOLIDATION-V1.md
Owners: @o4o-platform/docs-team

feat(signage): apply digital signage UI baseline to GP and KCos
  docs/investigations/CHECK-O4O-DIGITAL-SIGNAGE-CROSSSERVICE-APPLY-V1.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/common/FeatureIntroPage.tsx
  services/web-glycopharm/src/pages/apply/MyApplicationsPage.tsx
  services/web-glycopharm/src/pages/apply/PharmacyApplyPage.tsx
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/hub/HubSignageLibraryPage.tsx
  services/web-glycopharm/src/pages/hub/StoreHubPage.tsx
  services/web-glycopharm/src/pages/operator/ApplicationDetailPage.tsx
  services/web-glycopharm/src/pages/operator/ApplicationsPage.tsx
  services/web-glycopharm/src/pages/store-management/signage/ContentLibraryPage.tsx
  services/web-glycopharm/src/pages/store-management/signage/SignagePlayerSelectPage.tsx
  services/web-glycopharm/src/pages/store-management/signage/StoreSignageMainPage.tsx
  services/web-glycopharm/src/pages/store/StoreChannelsPage.tsx
  services/web-glycopharm/src/pages/store/StoreOverviewPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
  services/web-k-cosmetics/src/pages/HomePage.tsx
  services/web-k-cosmetics/src/pages/hub/HubSignagePage.tsx
  services/web-k-cosmetics/src/pages/hub/KCosmeticsHubPage.tsx
  services/web-k-cosmetics/src/pages/partners/ApplyPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreChannelsPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreSignagePage.tsx
  services/web-k-cosmetics/src/pages/store/signage/SignagePlayerSelectPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

fix(glycopharm): guard optional viewCount in forum popular sort (build unblock)
  services/web-glycopharm/src/pages/forum/ForumPage.tsx
Owners: @o4o-platform/core-team

docs(signage): finalize cross-service digital signage UI baseline
  docs/investigations/CHECK-O4O-DIGITAL-SIGNAGE-CROSSSERVICE-UIUX-FINAL-V1.md
Owners: @o4o-platform/docs-team

feat(product-approval): mount operator product-applications for GP/KCos — Phase 2
  apps/api-server/src/routes/cosmetics/cosmetics.routes.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
Owners: @o4o-platform/api-team

feat(lms): make hub template accent service-configurable
  docs/checks/CHECK-O4O-LMS-HUBTEMPLATE-SERVICE-ACCENT-V1.md
  packages/shared-space-ui/src/LmsHubTemplate.tsx
  services/web-glycopharm/src/pages/education/EducationPage.tsx
  services/web-k-cosmetics/src/pages/lms/EducationPage.tsx
  services/web-kpa-society/src/pages/lms/LmsCoursesPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(lms): investigate hub visibility column alignment
  docs/investigations/IR-O4O-LMS-HUBTEMPLATE-VISIBILITY-COLUMN-V1.md
Owners: @o4o-platform/docs-team

fix(lms): map hub visibility in GP and KCos
  docs/checks/CHECK-O4O-LMS-GPKCOS-HUB-VISIBILITY-MAPPING-V1.md
  services/web-glycopharm/src/api/lms.ts
  services/web-glycopharm/src/pages/education/EducationPage.tsx
  services/web-k-cosmetics/src/api/lms.ts
  services/web-k-cosmetics/src/pages/lms/EducationPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(library): add cross-surface library UI audit
  docs/investigations/IR-O4O-LIBRARY-CROSSSURFACE-UIUX-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(library): align cross-service library terminology and IA
  docs/investigations/CHECK-O4O-LIBRARY-TERMINOLOGY-AND-IA-ALIGNMENT-V1.md
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
  services/web-glycopharm/src/pages/mobile/MobilePharmacyPage.tsx
  services/web-k-cosmetics/src/pages/hub/HubContentPage.tsx
  services/web-k-cosmetics/src/pages/library/ContentLibraryPage.tsx
  services/web-k-cosmetics/src/pages/mobile/MobileStorePage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(lms-ui): clarify course card primitive role
  docs/checks/CHECK-O4O-LMS-COURSECARD-RETIRE-OR-SPECIALIZE-V1.md
  packages/lms-ui/src/components/CourseCard.tsx
  packages/lms-ui/src/components/CourseList.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(lms): audit instructor and operator UI commonization boundary
  docs/investigations/IR-O4O-LMS-COMMON-INSTRUCTOR-OPERATOR-UI-BOUNDARY-V1.md
Owners: @o4o-platform/docs-team

docs(library): add supplier library policy audit
  docs/investigations/IR-O4O-SUPPLIER-LIBRARY-POLICY-V1.md
Owners: @o4o-platform/docs-team

feat(product-approval): shared operator console + GP/KCos pages/routes/menu — Phase 3-5
  packages/operator-core-ui/package.json
  packages/operator-core-ui/src/index.ts
  packages/operator-core-ui/src/modules/product-applications/ProductApplicationManagementConsole.tsx
  packages/operator-core-ui/src/modules/product-applications/index.ts
  packages/operator-core-ui/src/modules/product-applications/types.ts
  pnpm-lock.yaml
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/operator/ProductApplicationManagementPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/config/operatorMenuGroups.ts
  services/web-k-cosmetics/src/pages/operator/ProductApplicationManagementPage.tsx
  services/web-kpa-society/src/pages/operator/ProductApplicationManagementPage.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

docs(check): operator product-applications surface enable GP/KCos — Phase 1-5 complete
  docs/checks/CHECK-O4O-PRODUCT-APPROVAL-OPERATOR-SURFACE-ENABLE-GP-KCOS-V1.md
Owners: @o4o-platform/docs-team

feat(lms): extract common operator courses manager
  docs/checks/CHECK-O4O-LMS-OPERATOR-COURSES-MANAGER-EXTRACTION-V1.md
  packages/operator-core-ui/src/index.ts
  packages/operator-core-ui/src/modules/lms-courses/OperatorLmsCoursesManager.tsx
  packages/operator-core-ui/src/modules/lms-courses/index.ts
  services/web-glycopharm/src/pages/operator/OperatorLmsCoursesPage.tsx
  services/web-k-cosmetics/src/pages/operator/OperatorLmsCoursesPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorLmsCoursesPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa): align operator product-applications menu label with GP/KCos
  docs/checks/CHECK-O4O-KPA-PRODUCT-APPLICATIONS-MENU-EXPOSURE-V1.md
  services/web-kpa-society/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(lms): investigate instructor module commonization scope
  docs/investigations/IR-O4O-LMS-INSTRUCTOR-COMMON-MODULE-SCOPE-V1.md
Owners: @o4o-platform/docs-team

docs(ir): O4O orderable-product activation policy (read-only)
  docs/investigations/IR-O4O-STORE-ORDERABLE-PRODUCT-ACTIVATION-POLICY-V1.md
Owners: @o4o-platform/docs-team

docs(check): fix O4O public footer standardization milestone
  docs/checks/CHECK-O4O-PUBLIC-FOOTER-STANDARDIZATION-MILESTONE-V1.md
  pnpm-lock.yaml
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team

feat(lms): extract common instructor courses manager
  docs/checks/CHECK-O4O-LMS-INSTRUCTOR-COURSE-LIST-MANAGER-EXTRACTION-V1.md
  packages/operator-core-ui/src/index.ts
  packages/operator-core-ui/src/modules/instructor-courses/InstructorCoursesManager.tsx
  packages/operator-core-ui/src/modules/instructor-courses/index.ts
  services/web-glycopharm/src/pages/instructor/InstructorCoursesPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseListPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(guide)+feat(operator-ui): supply-catalog approval flow guide + in-console help button
  docs/checks/CHECK-O4O-SUPPLY-CATALOG-APPROVAL-FLOW-DOCUMENTATION-V1.md
  docs/guides/O4O-SUPPLY-CATALOG-APPROVAL-FLOW-GUIDE-V1.md
  packages/operator-core-ui/src/modules/product-applications/ProductApplicationManagementConsole.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(ir): audit footer coverage across 4 services
  docs/investigations/IR-O4O-FOOTER-COVERAGE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(lms): build KCos instructor courses on common manager
  docs/checks/CHECK-O4O-LMS-KCOS-INSTRUCTOR-PHASE1B-ON-COMMON-MODULE-V1.md
  packages/operator-core-ui/src/modules/instructor-courses/InstructorCoursesManager.tsx
  services/web-k-cosmetics/src/pages/instructor/InstructorCoursesPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(library): add KPA community library simple-structure audit
  docs/investigations/IR-O4O-KPA-COMMUNITY-LIBRARY-SIMPLE-STRUCTURE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(lms): investigate instructor editor commonization scope
  docs/investigations/IR-O4O-LMS-INSTRUCTOR-EDITOR-SCOPE-V1.md
Owners: @o4o-platform/docs-team

feat(footer): store-facing footer coverage (GP/KCos/KPA)
  packages/shared-space-ui/src/index.ts
  packages/shared-space-ui/src/legal/StoreFacingFooter.tsx
  packages/store-ui-core/src/layout/StoreDashboardLayout.tsx
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/layouts/GlycoPharmHubLayout.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/components/layouts/KCosmeticsHubLayout.tsx
  services/web-kpa-society/src/App.tsx
Owners: @o4o-platform/core-team
