Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(auth): unwrap admin status response envelope
  docs/checks/WO-O4O-ADMIN-AUTH-STATUS-ENVELOPE-FIX-V1-CHECK.md
  packages/auth-context/src/AuthProvider.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/security-team

docs(check): record post-deploy verification for auth envelope fix
  docs/checks/WO-O4O-ADMIN-AUTH-STATUS-ENVELOPE-FIX-V1-CHECK.md
Owners: @o4o-platform/docs-team

feat(otc-zh): continuous rounds 6-7 - 800 units, 1,289 zh canonical LIVE (+196)
  apps/api-server/src/scripts/data/otc-zh-batch01-apply.ga.json
  apps/api-server/src/scripts/data/otc-zh-batch01-dryrun.ga.json
  apps/api-server/src/scripts/data/otc-zh-batch01-verify.ga.json
  apps/api-server/src/scripts/data/otc-zh-brand-hold-ledger.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-17.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-18.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-19.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-20.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-21.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-22.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-23.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map-add-24.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-map.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-select.ga.json
Owners: @o4o-platform/devops-team

feat(hff-en): batch 03 closure - 4,806 EN canonical LIVE, unified deferred issue queue
  apps/api-server/src/scripts/data/hff-en-b03-t1-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t10-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t11-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t12-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t13-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t2-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t3-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t4-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t5-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t6-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t7-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t8-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b03-t9-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-closure-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-completed-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch03-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-population-5000-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-batch03-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-deferred-issue-queue-through-batch03-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-deferred-issue-queue-through-batch03-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-production-completed-through-batch03-v1.json
  apps/api-server/src/scripts/data/hff-en-production-remaining-after-batch03-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-batch03-apply.mjs
  apps/api-server/src/scripts/hff-en-batch03-blockers.mjs
  apps/api-server/src/scripts/hff-en-batch03-classify.mjs
  apps/api-server/src/scripts/hff-en-batch03-closure.mjs
  apps/api-server/src/scripts/hff-en-batch03-population.mjs
  apps/api-server/src/scripts/hff-en-batch03-render.mjs
  docs/work-orders/CHECK-O4O-HFF-EN-BATCH-03-5000-DIRECT-BULK-PRODUCTION-AND-DEFERRED-ISSUE-QUEUE-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

chore(otc-ko): truncated-unit root cause audit (READ-ONLY, no DB/canonical change)
  apps/api-server/src/scripts/data/otc-ko-truncated-r1-restore-candidates.ga.json
  apps/api-server/src/scripts/data/otc-ko-truncated-unit-audit.ga.json
  apps/api-server/src/scripts/otc-ko-truncated-unit-audit.ga.ts
  docs/work-orders/CHECK-OTC-KO-TRUNCATED-UNIT-ROOT-CAUSE-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(pharmacy-hub): store owner cart, checkout and payment UI
  apps/api-server/src/controllers/pharmacy-hub/PharmacyHubCartController.ts
  docs/checks/CHECK-PHARMACY-HUB-STORE-OWNER-CHECKOUT-AND-PAYMENT-UI-V1.md
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/lib/api/pharmacyHubOrders.ts
  services/web-pharmacy-hub/src/pages/store-owner/CartPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/OrderDetailPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/OrdersPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/PaymentFailPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/PaymentPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/PaymentSuccessPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/ProductDetailPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(ir): select next admin menu route batch
  docs/investigations/IR-O4O-ADMIN-MENU-AND-ROUTE-NEXT-BATCH-SELECTION-V1.md
Owners: @o4o-platform/docs-team

docs(pharmacy-hub): record checkout UI live verification
  docs/checks/CHECK-PHARMACY-HUB-STORE-OWNER-CHECKOUT-AND-PAYMENT-UI-V1.md
Owners: @o4o-platform/docs-team

fix(admin): prevent hub notices page crash
  apps/admin-dashboard/src/pages/kpa/HubNoticeListPage.tsx
  apps/admin-dashboard/src/tests/hub-notice-contract.test.ts
  docs/investigations/IR-O4O-ADMIN-MENU-AND-ROUTE-NEXT-BATCH-SELECTION-V1.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team

feat(hff-en): batch 04 closure - 4,841 EN canonical LIVE, deferred issue queue 576
  apps/api-server/src/scripts/data/hff-en-b04-t1-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t10-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t11-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t12-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t13-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t2-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t3-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t4-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t5-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t6-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t7-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t8-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b04-t9-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-closure-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-completed-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch04-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-population-5000-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-batch04-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-deferred-issue-queue-through-batch04-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-deferred-issue-queue-through-batch04-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-production-completed-through-batch04-v1.json
  apps/api-server/src/scripts/data/hff-en-production-remaining-after-batch04-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-batch04-apply.mjs
  apps/api-server/src/scripts/hff-en-batch04-blockers.mjs
  apps/api-server/src/scripts/hff-en-batch04-classify.mjs
  apps/api-server/src/scripts/hff-en-batch04-closure.mjs
  apps/api-server/src/scripts/hff-en-batch04-population.mjs
  apps/api-server/src/scripts/hff-en-batch04-render.mjs
  docs/work-orders/CHECK-O4O-HFF-EN-BATCH-04-5000-DIRECT-BULK-PRODUCTION-AND-DEFERRED-ISSUE-QUEUE-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(admin): use organization name for supplier offers
  apps/api-server/src/controllers/operator/ProductConsoleController.ts
  apps/api-server/src/modules/neture/controllers/operator-product-cleanup.controller.ts
  docs/checks/CHECK-O4O-ADMIN-PRODUCT-CONSOLE-SUPPLIER-NAME-JOIN-FIX-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

fix(otc-ko): slot-aware truncation policy + card-summary derivation + regression guard
  apps/api-server/src/scripts/otc-card-summary.ga.ts
  apps/api-server/src/scripts/otc-en-truncation-propagation-audit.ga.ts
  apps/api-server/src/scripts/otc-ko-truncated-unit-audit.ga.ts
  apps/api-server/src/scripts/otc-ko-truncation-policy.ga.ts
  apps/api-server/src/scripts/otc-ko-truncation-policy.spec.ga.ts
  apps/api-server/src/scripts/otc-ko-truncation-readjudicate.ga.ts
  apps/api-server/src/scripts/otc-zh-batch01-apply.ga.ts
  apps/api-server/src/scripts/otc-zh-slots.ga.ts
  apps/api-server/src/scripts/otc-zh-unit-select.ga.ts
Owners: @o4o-platform/backend-team

chore(otc-ko): re-adjudication ledgers + EN propagation audit + CHECK
  apps/api-server/src/scripts/data/otc-en-truncation-propagation.ga.json
  apps/api-server/src/scripts/data/otc-ko-truncation-r1-reclassification.ga.json
  apps/api-server/src/scripts/data/otc-ko-truncation-readjudication.ga.json
  apps/api-server/src/scripts/data/otc-zh-batch01-verify.ga.json
  apps/api-server/src/scripts/data/otc-zh-release-population.ga.json
  apps/api-server/src/scripts/data/otc-zh-unit-select.ga.json
  docs/work-orders/CHECK-OTC-KO-TRUNCATION-FALSE-POSITIVE-FIX-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

fix(admin): correct hub notices column render signature
  apps/admin-dashboard/src/pages/kpa/HubNoticeListPage.tsx
  apps/admin-dashboard/src/tests/hub-notice-contract.test.ts
Owners: @o4o-platform/admin-team

docs(check): record hub notices crash fix verification
  docs/checks/WO-O4O-ADMIN-HUB-NOTICES-CRASH-FIX-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(admin): record supplier name join fix verification
  docs/checks/CHECK-O4O-ADMIN-PRODUCT-CONSOLE-SUPPLIER-NAME-JOIN-FIX-V1.md
Owners: @o4o-platform/docs-team

feat(admin): connect batch 2 menus and replace dead yaksa link
  apps/admin-dashboard/src/admin/menu/admin-menu.static.tsx
  apps/admin-dashboard/src/tests/admin-menu-batch2.test.ts
Owners: @o4o-platform/admin-team

docs(check): record admin menu batch 2 verification
  docs/checks/WO-O4O-ADMIN-MENU-CONNECT-BATCH-2-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(pharmacy-hub): report domain go-live blocked on DNS zone
  docs/checks/CHECK-PHARMACY-HUB-WEB-CLOUD-RUN-AND-DOMAIN-GO-LIVE-V1.md
Owners: @o4o-platform/docs-team

feat(otc-ko): full KO canonical audit, evidence-gated repair, population lock
  apps/api-server/src/scripts/otc-ko-canonical-audit.ga.ts
  apps/api-server/src/scripts/otc-ko-final-verify.ga.ts
  apps/api-server/src/scripts/otc-ko-population-lock.ga.ts
  apps/api-server/src/scripts/otc-ko-repair-apply.ga.ts
  apps/api-server/src/scripts/otc-ko-truncation-policy.spec.ga.ts
Owners: @o4o-platform/backend-team

chore(otc-ko): population lock ledgers + CHECK (KO_BASELINE_LOCKED_WITH_HOLD)
  apps/api-server/src/scripts/data/otc-ko-canonical-population.ga.json
  apps/api-server/src/scripts/data/otc-ko-canonical-quality.ga.json
  apps/api-server/src/scripts/data/otc-ko-excluded.ga.json
  apps/api-server/src/scripts/data/otc-ko-final-verify.ga.json
  apps/api-server/src/scripts/data/otc-ko-hold.ga.json
  apps/api-server/src/scripts/data/otc-ko-population-lock.ga.json
  apps/api-server/src/scripts/data/otc-ko-ready.ga.json
  apps/api-server/src/scripts/data/otc-ko-repair-applied.ga.json
  apps/api-server/src/scripts/data/otc-ko-repair-dryrun.ga.json
  apps/api-server/src/scripts/data/otc-ko-repair-evidence.ga.json
  docs/work-orders/CHECK-OTC-KO-CANONICAL-POPULATION-LOCK-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

feat(hff-en): batch 05 all-remaining 6,244 - track closure
  apps/api-server/src/scripts/data/hff-en-b05-t1-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t10-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t11-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t12-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t2-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t3-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t4-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t5-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t6-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t7-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t8-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-b05-t9-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-closure-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-completed-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch05-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-population-all-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-batch05-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-deferred-issue-queue-through-batch05-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-deferred-issue-queue-through-batch05-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-production-completed-through-batch05-v1.json
  apps/api-server/src/scripts/data/hff-en-production-track-closure-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-batch05-apply.mjs
  apps/api-server/src/scripts/hff-en-batch05-blockers.mjs
  apps/api-server/src/scripts/hff-en-batch05-classify.mjs
  apps/api-server/src/scripts/hff-en-batch05-closure.mjs
  apps/api-server/src/scripts/hff-en-batch05-population.mjs
  apps/api-server/src/scripts/hff-en-batch05-render.mjs
  docs/work-orders/CHECK-O4O-HFF-EN-BATCH-05-ALL-REMAINING-6244-DIRECT-BULK-PRODUCTION-AND-CLOSURE-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(membership): remove duplicate /api prefix from category write paths
  apps/admin-dashboard/src/pages/membership/categories/CategoryManagement.tsx
  apps/admin-dashboard/src/tests/membership-category-api-paths.test.tsx
Owners: @o4o-platform/admin-team

docs(check): record membership category api prefix fix
  docs/checks/WO-O4O-ADMIN-MEMBERSHIP-CATEGORY-API-PREFIX-FIX-V1-CHECK.md
Owners: @o4o-platform/docs-team

chore(otc-ko): data lineage and validity audit (READ-ONLY, DB write 0)
  apps/api-server/src/scripts/data/otc-ko-dosage-fidelity.ga.json
  apps/api-server/src/scripts/data/otc-ko-expansion-safety.ga.json
  apps/api-server/src/scripts/data/otc-ko-lineage-audit.ga.json
  apps/api-server/src/scripts/data/otc-ko-lineage-classification.ga.json
  apps/api-server/src/scripts/data/otc-ko-validity-classification.ga.json
  apps/api-server/src/scripts/data/otc-ko-validity-lock.ga.json
  apps/api-server/src/scripts/otc-ko-dosage-fidelity.ga.ts
  apps/api-server/src/scripts/otc-ko-lineage-audit.ga.ts
  apps/api-server/src/scripts/otc-ko-validity-lock.ga.ts
  docs/work-orders/CHECK-OTC-KO-DATA-LINEAGE-AND-VALIDITY-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

test(membership): pin category api baseURL composition and empty state
  apps/admin-dashboard/src/tests/membership-category-api-paths.test.tsx
  docs/checks/WO-O4O-ADMIN-MEMBERSHIP-CATEGORY-API-PREFIX-FIX-V1-CHECK.md
Owners: @o4o-platform/admin-team, @o4o-platform/docs-team

docs(check): audit membership category api authorization (READ-ONLY)
  docs/checks/WO-O4O-ADMIN-MEMBERSHIP-CATEGORY-AUTHORIZATION-AUDIT-V1-CHECK.md
Owners: @o4o-platform/docs-team

@ feat(hff-en): integrated issue queue 663 full cleanup - 647 resolved
  apps/api-server/src/scripts/data/hff-en-q663-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-blocked-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-blocking-phrases-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-final-hold-queue-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-population-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-remaining-phrases-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-t1-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-t2-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-t3-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-t4-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-q663-verify-v1.json
  apps/api-server/src/scripts/hff-en-q663-apply.mjs
  apps/api-server/src/scripts/hff-en-q663-measure.mjs
  apps/api-server/src/scripts/hff-en-q663-population.mjs
  apps/api-server/src/scripts/hff-en-q663-render.mjs
  apps/api-server/src/scripts/hff-en-q663-resolver.mjs
  apps/api-server/src/scripts/hff-en-q663-verify.mjs
  docs/work-orders/CHECK-O4O-HFF-EN-INTEGRATED-ISSUE-QUEUE-663-FULL-CLEANUP-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(membership): protect admin membership APIs with platform admin guard
  apps/api-server/src/__tests__/membership-admin-guard.spec.ts
  apps/api-server/src/bootstrap/membership-admin-guard.ts
  apps/api-server/src/bootstrap/register-routes.ts
Owners: @o4o-platform/backend-team

docs(check): record admin membership API authorization guard V2
  docs/checks/WO-O4O-ADMIN-MEMBERSHIP-API-AUTHORIZATION-GUARD-V2-CHECK.md
Owners: @o4o-platform/docs-team

fix(membership): show inactive member categories in admin list
  apps/api-server/src/__tests__/membership-category-inactive-list.spec.ts
  packages/membership-yaksa/src/backend/routes/categoryRoutes.ts
  packages/membership-yaksa/src/backend/services/MemberCategoryService.ts
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs(check): record inactive member category list fix
  docs/checks/WO-O4O-ADMIN-MEMBERSHIP-INACTIVE-CATEGORY-LIST-FIX-V1-CHECK.md
Owners: @o4o-platform/docs-team

@ feat(content): enable free Screen Set corner authoring
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-SCREEN-SET-CORNER-CONTENT-FREE-AUTHORING-AND-LLM-ASSIST-V1.md
  packages/content-editor/src/components/LlmAssistPanel.tsx
  packages/content-editor/src/components/index.ts
  packages/content-editor/src/index.ts
  packages/screen-content-core/src/index.ts
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  packages/tablet-screen-set-editor/src/index.tsx
  services/web-kpa-society/src/api/tabletDisplays.ts
  services/web-kpa-society/src/pages/operator/tablet/OperatorTabletScreenSetsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
  services/web-neture/src/pages/supplier/SupplierTabletScreenSetsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

@ feat(admin): connect member category menu + 0-row empty state
  apps/admin-dashboard/src/admin/menu/admin-menu.static.tsx
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/pages/membership/categories/CategoryManagement.tsx
  apps/admin-dashboard/src/tests/admin-menu-batch2.test.ts
  apps/admin-dashboard/src/tests/membership-category-api-paths.test.tsx
  apps/admin-dashboard/src/tests/membership-category-menu-route.test.ts
Owners: @o4o-platform/admin-team

@ docs(check): admin membership category menu/route + empty state
  docs/checks/WO-O4O-ADMIN-MEMBERSHIP-CATEGORY-MENU-ROUTE-AND-EMPTY-STATE-V1-CHECK.md
Owners: @o4o-platform/docs-team

@ feat(tablet): show screen set corner QR on idle and main screens
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  docs/checks/CHECK-O4O-SCREEN-SET-CORNER-QR-VISIBILITY-V1.md
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  packages/tablet-kiosk-core/src/types.ts
  packages/tablet-screen-set-editor/src/index.tsx
  services/web-kpa-society/src/api/tabletDisplays.ts
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletContentLibraryList.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(hff-zh): batch 01 direct KO->ZH production 10,000
  apps/api-server/src/scripts/data/hff-zh-b01-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-phrases-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-plan-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-rollback-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-verify-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z1-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z2-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z3-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z4-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z5-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z6-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z7-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z8-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-b01-z9-translations-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-batch01-v1-summary-v1.json
  apps/api-server/src/scripts/data/hff-zh-deferred-issue-queue-through-batch01-v1.jsonl
  apps/api-server/src/scripts/hff-zh-b01-apply.mjs
  apps/api-server/src/scripts/hff-zh-b01-build.mjs
  apps/api-server/src/scripts/hff-zh-b01-extract.mjs
  apps/api-server/src/scripts/hff-zh-b01-measure.mjs
  apps/api-server/src/scripts/hff-zh-b01-measure2.mjs
  apps/api-server/src/scripts/hff-zh-b01-plan.mjs
  apps/api-server/src/scripts/hff-zh-b01-render-worker.mjs
  apps/api-server/src/scripts/hff-zh-b01-render.mjs
  apps/api-server/src/scripts/hff-zh-b01-sample.mjs
  apps/api-server/src/scripts/hff-zh-b01-survey.mjs
  apps/api-server/src/scripts/hff-zh-b01-translate.mjs
  apps/api-server/src/scripts/hff-zh-b01-verify.mjs
  docs/work-orders/CHECK-O4O-HFF-ZH-BATCH-01-10000-DIRECT-BULK-PRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(screen-set): move QR creation off public resolver to save paths
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-screen-set-qr.service.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-SCREEN-SET-QR-WRITE-BOUNDARY-FIX-V1.md
  packages/tablet-screen-set-editor/src/index.tsx
  services/web-kpa-society/src/api/tabletDisplays.ts
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): record Pharmacy-Hub official domain connection
  docs/checks/CHECK-O4O-PHARMACY-HUB-OFFICIAL-DOMAIN-CONNECTION-V1.md
Owners: @o4o-platform/docs-team

feat(screen-set): per-product QR selection from existing store QR codes
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  docs/checks/CHECK-O4O-SCREEN-SET-PRODUCT-QR-SELECTION-V1.md
  packages/screen-content-core/src/index.ts
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  packages/tablet-kiosk-core/src/index.ts
  packages/tablet-screen-set-editor/src/index.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
  services/web-kpa-society/src/pages/qr/PublicScreenSetViewer.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team
