Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

@ fix(ci): @o4o/account-ui 를 패키지 사전 빌드 체인에 추가
  .github/workflows/ci-pipeline.yml
  package.json
  scripts/dev.mjs
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix(ci): solution tsconfig 워크스페이스의 공허 type-check 실검사 전환
  scripts/dev.mjs
  services/signage-player-web/package.json
  services/web-account/package.json
  services/web-glycopharm/package.json
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

chore: retire api-gateway app
  .github/workflows/ci-pipeline.yml
  apps/api-gateway/.env.example
  apps/api-gateway/.eslintignore
  apps/api-gateway/README.md
  apps/api-gateway/package.json
  apps/api-gateway/src/config/gateway.config.ts
  apps/api-gateway/src/middleware/auth.middleware.ts
  apps/api-gateway/src/middleware/proxy.middleware.ts
  apps/api-gateway/src/middleware/rateLimit.middleware.ts
  apps/api-gateway/src/server.test.ts
  apps/api-gateway/src/server.ts
  apps/api-gateway/src/services/RouteManager.ts
  apps/api-gateway/src/services/ServiceRegistry.ts
  apps/api-gateway/src/utils/logger.ts
  apps/api-gateway/tsconfig.json
  apps/api-gateway/vitest.config.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team, @o4o-platform/docs-team

ci: enforce verified quality gates
  .github/actions/setup-build-env/action.yml
  .github/workflows/ci-pipeline.yml
  scripts/lint-ratchet.mjs
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

ci: document the one intentionally non-blocking step
  .github/workflows/ci-pipeline.yml
Owners: @o4o-platform/devops-team

feat(hff-ja): 잔여 전량 13,504 모집단 재현·저작 대상 실측 (WO-O4O-HFF-JA-ALL-REMAINING-13504 §3/§4)
  apps/api-server/src/scripts/data/hff-ja-b04-measure-v1.json
  apps/api-server/src/scripts/hff-ja-b04-measure.mjs
  docs/checks/WO-O4O-HFF-JA-ALL-REMAINING-13504-DIRECT-BULK-PRODUCTION-AND-TRACK-CLOSURE-V1-CHECK.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(easy-drug-en): 최종 TM 기반 resume state 재구성 + batch-0039~0040 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-dry-check.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-precheck.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-reconstruct.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0039.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0039.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0040.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0040.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0039-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0040-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-master-set.sha256
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-master-set.txt
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-not-ready.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-summary.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-validation-failures.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

chore(easy-drug-en): recovery master set 무결성 검증기 추가
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-verify-set.mjs
Owners: @o4o-platform/backend-team

docs: canonicalize development environment docs
  .env.example
  AGENTS.md
  README.md
  SETUP.md
  scripts/README.md
Owners: @o4o-platform/core-team, @o4o-platform/docs-team

docs: restructure AI development harness
  AGENTS.md
  CLAUDE.md
Owners: @o4o-platform/docs-team

feat(easy-drug-en): batch-0041~0043 EN 생산 (338 master)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0041.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0041.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0042.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0042.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0043.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0043.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0041-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0042-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0043-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(hff-ja): 정형 계열 구조 압축 + 롱테일 저작 j13~j19, 조립 사고 게이트 신설
  apps/api-server/src/scripts/data/hff-ja-b01-j13-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j14-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j15-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j16-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j17-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j18-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j19-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-regression-v1.json
  apps/api-server/src/scripts/hff-ja-b01-translate.mjs
  apps/api-server/src/scripts/hff-ja-b04-apply.mjs
  apps/api-server/src/scripts/hff-ja-b04-gate.mjs
  apps/api-server/src/scripts/hff-ja-b04-regression.mjs
  apps/api-server/src/scripts/hff-ja-b04-render.mjs
  apps/api-server/src/scripts/hff-ja-b04-verify.mjs
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(hff-ja): batch04 JA canonical 2,635건 생산·적재 (구조 압축 + 롱테일 저작 1차)
  apps/api-server/src/scripts/data/hff-ja-b01-j20-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-ids-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-measure-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-verify-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-v1.jsonl
  docs/checks/WO-O4O-HFF-JA-REMAINING-16162-PHRASE-AUTHORING-STRUCTURED-COMPRESSION-AND-CONTINUOUS-SHARDS-V1-CHECK.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(easy-drug-en): batch-0044 EN 생산 (134 master / 239 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-inspect-route.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0044.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0044.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0044-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

security: rotate development and test credentials
  CLAUDE.md
  docs/baseline/operations/PRODUCTION-MIGRATION-STANDARD.md
Owners: @o4o-platform/docs-team

fix(hff-ja): 수치 범위 이상→異常 오역 프로덕션 120건 교정 (WO-…-IZYOU-154-CORRECTION-V1)
  apps/api-server/src/scripts/data/hff-ja-fix154-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-survey-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-targets-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-verify-v1.json
  apps/api-server/src/scripts/hff-ja-b01-translate.mjs
  apps/api-server/src/scripts/hff-ja-fix154-apply.mjs
  apps/api-server/src/scripts/hff-ja-fix154-survey.mjs
  apps/api-server/src/scripts/hff-ja-fix154-verify.mjs
  docs/checks/WO-O4O-HFF-JA-NUMERIC-IZYOU-MISTRANSLATION-154-CORRECTION-V1-CHECK.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs: repair stale CLAUDE section references
  docs/architecture/O4O-STORE-RULES.md
  docs/baseline/CONTENT-STABLE-DECLARATION-V1.md
  docs/baseline/UX-CORE-FREEZE-V1.md
  docs/baseline/legacy/GLYCOPHARM-LEGACY-POSTMORTEM.md
  docs/platform/content-core/CONTENT-CORE-OVERVIEW.md
  docs/platform/lms/LMS-CORE-CONTRACT.md
  docs/platform/lms/LMS-CORE-EXTENSION-PRINCIPLES.md
  docs/templates/business-web-template/README.md
  docs/templates/business-web-template/api-contract-usage.template.md
  docs/templates/business-web-template/routing-rules.template.md
  docs/templates/business-web-template/service-flow.template.md
  docs/templates/business-web-template/web-rules.template.md
  docs/templates/o4o-store-template/NEW-STORE-CHECKLIST.md
  docs/templates/o4o-store-template/b2c-templates/B2C-TEMPLATE-INDEX.md
  packages/api-types/src/cosmetics.ts
  packages/api-types/src/index.ts
  scripts/check-forbidden-tables.mjs
  scripts/generators/openapi-types-generator.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs: validate AI development environment reproducibility
  CLAUDE.md
  docs/architecture/BUSINESS-SERVICE-RULES.md
  docs/architecture/COSMETICS-DOMAIN-RULES.md
  docs/baseline/E-COMMERCE-ORDER-CONTRACT.md
  docs/checks/CHECK-O4O-AI-DEVELOPMENT-ENVIRONMENT-FINAL-REPRODUCIBILITY-VALIDATION-V1.md
Owners: @o4o-platform/docs-team

feat(easy-drug-en): batch-0045~0046 EN 생산 (244 master)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0045.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0045.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0046.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0046.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0045-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0046-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(hff-ja): 롱테일 연속 저작 1차 사이클 — JA canonical +268 (30,049→30,317)
  apps/api-server/src/scripts/data/hff-ja-b01-j21-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j22-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j23-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-ids-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-measure-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-regression-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-verify-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-v1.jsonl
  apps/api-server/src/scripts/hff-ja-b01-translate.mjs
  apps/api-server/src/scripts/hff-ja-b04-regression.mjs
  docs/checks/WO-O4O-HFF-JA-REMAINING-LONGTAIL-CONTINUOUS-SHARD-AUTHORING-V2-CHECK.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(easy-drug-en): batch-0047 EN 생산 (81 master / 189 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0047.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0047.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0047-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0048 EN 생산 (96 master / 114 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0048.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0048.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0048-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0049 EN 생산 (52 master / 182 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0049.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0049.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0049-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0050 EN 생산 (129 master / 33 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0050.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0050.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0050-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

chore: clean residual development environment docs
  docs/architecture/O4O-IDENTITY-ARCHITECTURE-V2.md
  docs/architecture/OPERATOR-CORE-DESIGN-V1.md
  docs/architecture/OPERATOR-INTEGRATION-STATE-V1.md
  docs/baseline/O4O-MYPAGE-CANONICAL-V1.md
  docs/baseline/O4O-STORE-MENU-CANONICAL-TREE-V1.md
  docs/baseline/operations/PRODUCTION-MIGRATION-STANDARD.md
  docs/checks/WO-O4O-DEV-ENV-RESIDUAL-LOW-RISK-CLEANUP-V1.md
  docs/neture/IR-NETURE-IDENTITY-ONBOARDING-FLOW-AUDIT-V1.md
  docs/neture/IR-NETURE-SUPPLIER-TO-PRODUCT-FLOW-AUDIT-V1.md
  docs/platform/promotion/PROMOTION-SERVICE-SLOT-MATRIX-V1.md
  docs/platform/promotion/PROMOTION-UI-COMPONENT-STRATEGY-V1.md
Owners: @o4o-platform/docs-team

feat(easy-drug-en): batch-0051 EN 생산 (124 master / 115 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0051.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0051.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0051-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0052 EN 생산 (112 master / 16 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0052.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0052.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0052-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0053 EN 생산 (99 master / 76 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0053.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0053.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0053-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0054 생산 (51 master / 225 sentence)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0054.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0054.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0054-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0055 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0055.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0055.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0055-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0056 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0056.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0056.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0056-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0057 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0057.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0057.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0057-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0058 생산 + batch-0059 정정 (BLOCKED 0 복귀)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-fix-batch.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-inspect-warn.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0058.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0058.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0059.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0059.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0058-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0059-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

feat(hff-ja): Cycle 02 롱테일 대량 저작 — 680문구 7라운드, JA canonical +1,080 (30,317→31,397)
  apps/api-server/src/scripts/data/hff-ja-b01-j24-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j25-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j26-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j27-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j28-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j29-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j30-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-ids-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-regression-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-verify-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-v1.jsonl
  apps/api-server/src/scripts/data/hff-ja-fix154-survey-resurvey-cycle02-v2.json
  apps/api-server/src/scripts/data/hff-ja-fix154-targets-resurvey-cycle02-v2.json
  apps/api-server/src/scripts/hff-ja-fix154-survey.mjs
  docs/checks/WO-O4O-HFF-JA-LONGTAIL-CONTINUOUS-SHARD-AUTHORING-V3-CYCLE-02-CHECK.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(easy-drug-en): batch-0060 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0060.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0060.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0060-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0061 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0061.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0061.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0061-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0062 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0062.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0062.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0062-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0063 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0063.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0063.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0063-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0064 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0064.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0064.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0064-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(easy-drug-en): batch-0065 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0065.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0065.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0065-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team
