Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

fix(appstore): Pass context to lifecycle hooks and add manifest id field
  apps/api-server/src/services/AppStoreService.ts
  packages/dropshipping-cosmetics/src/manifest.ts
  pnpm-lock.yaml
Owners: @o4o-platform/backend-team, @o4o-platform/core-team, @o4o-platform/devops-team

fix(main-site): Fix auth endpoint path /users/me to /auth/me
  apps/main-site/src/context/AuthContext.tsx
Owners: @o4o-platform/frontend-team

fix(api): Add null safety to mapUserToMeResponse for createdAt/updatedAt
  apps/api-server/src/dto/auth/me-response.dto.ts
Owners: @o4o-platform/backend-team

fix(auth-context): Fix login response data extraction
  packages/auth-context/src/AuthProvider.tsx
Owners: @o4o-platform/security-team

feat(api): Add public CPT types and user permissions endpoints
  apps/api-server/src/main.ts
  apps/api-server/src/routes/public.routes.ts
  apps/api-server/src/routes/user-role.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

feat(appstore): Implement service-based classification system
  apps/admin-dashboard/src/api/admin-apps.ts
  apps/admin-dashboard/src/components/apps/ServiceTemplateSelector.tsx
  apps/admin-dashboard/src/pages/apps/AppStorePage.tsx
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/routes/admin/apps.routes.ts
  apps/api-server/src/service-templates/templates/partnerops-service.json
  apps/api-server/src/service-templates/templates/platform-core.json
  apps/api-server/src/service-templates/templates/signage-retail.json
  apps/api-server/src/services/AppStoreService.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/devops-team

fix(api): Register auth and admin apps routes in main.ts
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

fix(api): Change admin apps route to /api/v1/admin/apps for auth-client compatibility
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

feat(cosmetics): Add cosmetics-partner-extension package
  packages/cosmetics-partner-extension/TODO.md
  packages/cosmetics-partner-extension/package.json
  packages/cosmetics-partner-extension/src/backend/controllers/index.ts
  packages/cosmetics-partner-extension/src/backend/controllers/partner-earnings.controller.ts
  packages/cosmetics-partner-extension/src/backend/controllers/partner-link.controller.ts
  packages/cosmetics-partner-extension/src/backend/controllers/partner-profile.controller.ts
  packages/cosmetics-partner-extension/src/backend/controllers/partner-routine.controller.ts
  packages/cosmetics-partner-extension/src/backend/entities/index.ts
  packages/cosmetics-partner-extension/src/backend/entities/partner-earnings.entity.ts
  packages/cosmetics-partner-extension/src/backend/entities/partner-link.entity.ts
  packages/cosmetics-partner-extension/src/backend/entities/partner-profile.entity.ts
  packages/cosmetics-partner-extension/src/backend/entities/partner-routine.entity.ts
  packages/cosmetics-partner-extension/src/backend/index.ts
  packages/cosmetics-partner-extension/src/backend/routes/index.ts
  packages/cosmetics-partner-extension/src/backend/routes/partner-extension.routes.ts
  packages/cosmetics-partner-extension/src/backend/services/index.ts
  packages/cosmetics-partner-extension/src/backend/services/partner-earnings.service.ts
  packages/cosmetics-partner-extension/src/backend/services/partner-link.service.ts
  packages/cosmetics-partner-extension/src/backend/services/partner-profile.service.ts
  packages/cosmetics-partner-extension/src/backend/services/partner-routine.service.ts
  packages/cosmetics-partner-extension/src/frontend/index.ts
  packages/cosmetics-partner-extension/src/frontend/pages/PartnerDashboard.tsx
  packages/cosmetics-partner-extension/src/frontend/pages/PartnerEarningsPage.tsx
  packages/cosmetics-partner-extension/src/frontend/pages/PartnerLinksPage.tsx
  packages/cosmetics-partner-extension/src/frontend/pages/PartnerRoutinesPage.tsx
  packages/cosmetics-partner-extension/src/frontend/pages/index.ts
  packages/cosmetics-partner-extension/src/frontend/shortcodes/index.tsx
  packages/cosmetics-partner-extension/src/index.ts
  packages/cosmetics-partner-extension/src/lifecycle/activate.ts
  packages/cosmetics-partner-extension/src/lifecycle/deactivate.ts
  packages/cosmetics-partner-extension/src/lifecycle/index.ts
  packages/cosmetics-partner-extension/src/lifecycle/install.ts
  packages/cosmetics-partner-extension/src/lifecycle/uninstall.ts
  packages/cosmetics-partner-extension/src/manifest.ts
  packages/cosmetics-partner-extension/src/shortcodes/index.tsx
  packages/cosmetics-partner-extension/tsconfig.json
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/core-team

feat(admin): Add Cosmetics Partner Extension admin dashboard integration
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerDashboard.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerEarnings.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerLinks.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerRouter.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerRoutines.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/index.ts
Owners: @o4o-platform/admin-team

feat(membership-yaksa): Implement Phase 2 frontend enhancements
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/membership/affiliations/AffiliationManagement.tsx
  apps/admin-dashboard/src/pages/membership/audit-logs/AuditLogManagement.tsx
  apps/admin-dashboard/src/pages/membership/dashboard/MembershipDashboard.tsx
  apps/admin-dashboard/src/pages/membership/members/MemberDetail.tsx
  apps/admin-dashboard/src/pages/membership/members/MemberManagement.tsx
  apps/main-site/src/pages/mypage/MemberProfilePage.tsx
Owners: @o4o-platform/admin-team, @o4o-platform/frontend-team

docs(annualfee-yaksa): Complete Phase 0 preliminary investigation report
  apps/api-server/src/database/connection.ts
  docs/reports/annualfee-yaksa-phase0-report.md
  packages/cosmetics-partner-extension/src/backend/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(annualfee-yaksa): Complete Phase 0 preliminary investigation report
  apps/api-server/src/database/connection.ts
  docs/reports/annualfee-yaksa-phase0-report.md
  packages/cosmetics-partner-extension/src/backend/index.ts
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

fix(cosmetics-partner): Standardize API responses with success/errorCode format
  packages/cosmetics-partner-extension/src/backend/controllers/partner-profile.controller.ts
Owners: @o4o-platform/core-team

chore: Update pnpm-lock.yaml for cosmetics-partner-extension
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

feat(cosmetics-partner): Implement Partner Commission System (Phase 6-D)
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerCommissionPolicies.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerRouter.tsx
  apps/api-server/src/database/connection.ts
  packages/cosmetics-partner-extension/src/backend/controllers/commission-policy.controller.ts
  packages/cosmetics-partner-extension/src/backend/controllers/index.ts
  packages/cosmetics-partner-extension/src/backend/controllers/partner-earnings.controller.ts
  packages/cosmetics-partner-extension/src/backend/entities/commission-policy.entity.ts
  packages/cosmetics-partner-extension/src/backend/entities/index.ts
  packages/cosmetics-partner-extension/src/backend/entities/partner-earnings.entity.ts
  packages/cosmetics-partner-extension/src/backend/index.ts
  packages/cosmetics-partner-extension/src/backend/routes/partner-extension.routes.ts
  packages/cosmetics-partner-extension/src/backend/services/commission-engine.service.ts
  packages/cosmetics-partner-extension/src/backend/services/commission-policy.service.ts
  packages/cosmetics-partner-extension/src/backend/services/index.ts
  packages/cosmetics-partner-extension/src/backend/services/partner-earnings.service.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat(cosmetics-partner): Implement UI/UX Enhancement (Phase 6-E)
  apps/admin-dashboard/src/components/partner/PartnerLayout.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerCommissionPolicies.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerDashboard.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerEarnings.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerLinks.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerRouter.tsx
  apps/admin-dashboard/src/pages/cosmetics-partner/CosmeticsPartnerRoutines.tsx
Owners: @o4o-platform/admin-team

feat(annualfee-yaksa): Add Phase 2 automation services and member views
  packages/annualfee-yaksa/src/backend/services/CsvPaymentImporter.ts
  packages/annualfee-yaksa/src/backend/services/FeeReminderService.ts
  packages/annualfee-yaksa/src/backend/services/InvoiceAutoGenerator.ts
  packages/annualfee-yaksa/src/backend/services/ReceiptPdfGenerator.ts
  packages/annualfee-yaksa/src/backend/services/SettlementAutomation.ts
  packages/annualfee-yaksa/src/backend/services/index.ts
  packages/annualfee-yaksa/src/index.ts
  packages/annualfee-yaksa/src/views/MemberFeeStatus.tsx
  packages/annualfee-yaksa/src/views/MemberInvoiceDetail.tsx
  packages/annualfee-yaksa/src/views/MemberPaymentHistory.tsx
  packages/annualfee-yaksa/src/views/index.ts
Owners: @o4o-platform/core-team

feat(cosmetics-supplier-extension): Implement Phase 6-G Cosmetics Supplier Extension
  apps/admin-dashboard/src/pages/cosmetics-supplier/CosmeticsSupplierApprovals.tsx
  apps/admin-dashboard/src/pages/cosmetics-supplier/CosmeticsSupplierCampaigns.tsx
  apps/admin-dashboard/src/pages/cosmetics-supplier/CosmeticsSupplierDashboard.tsx
  apps/admin-dashboard/src/pages/cosmetics-supplier/CosmeticsSupplierPricePolicies.tsx
  apps/admin-dashboard/src/pages/cosmetics-supplier/CosmeticsSupplierRouter.tsx
  apps/admin-dashboard/src/pages/cosmetics-supplier/CosmeticsSupplierSamples.tsx
  apps/admin-dashboard/src/pages/cosmetics-supplier/index.ts
  packages/cosmetics-supplier-extension/package.json
  packages/cosmetics-supplier-extension/src/backend/controllers/approval.controller.ts
  packages/cosmetics-supplier-extension/src/backend/controllers/campaign.controller.ts
  packages/cosmetics-supplier-extension/src/backend/controllers/index.ts
  packages/cosmetics-supplier-extension/src/backend/controllers/price-policy.controller.ts
  packages/cosmetics-supplier-extension/src/backend/controllers/sample-supply.controller.ts
  packages/cosmetics-supplier-extension/src/backend/controllers/supplier-profile.controller.ts
  packages/cosmetics-supplier-extension/src/backend/entities/index.ts
  packages/cosmetics-supplier-extension/src/backend/entities/price-policy.entity.ts
  packages/cosmetics-supplier-extension/src/backend/entities/sample-supply.entity.ts
  packages/cosmetics-supplier-extension/src/backend/entities/supplier-approval.entity.ts
  packages/cosmetics-supplier-extension/src/backend/entities/supplier-campaign.entity.ts
  packages/cosmetics-supplier-extension/src/backend/entities/supplier-profile.entity.ts
  packages/cosmetics-supplier-extension/src/backend/index.ts
  packages/cosmetics-supplier-extension/src/backend/lifecycle/index.ts
  packages/cosmetics-supplier-extension/src/backend/routes/index.ts
  packages/cosmetics-supplier-extension/src/backend/routes/supplier-extension.routes.ts
  packages/cosmetics-supplier-extension/src/backend/services/index.ts
  packages/cosmetics-supplier-extension/src/backend/services/price-policy.service.ts
  packages/cosmetics-supplier-extension/src/backend/services/sample-supply.service.ts
  packages/cosmetics-supplier-extension/src/backend/services/supplier-approval.service.ts
  packages/cosmetics-supplier-extension/src/backend/services/supplier-campaign.service.ts
  packages/cosmetics-supplier-extension/src/backend/services/supplier-profile.service.ts
  packages/cosmetics-supplier-extension/src/index.ts
  packages/cosmetics-supplier-extension/src/manifest.ts
  packages/cosmetics-supplier-extension/tsconfig.json
  pnpm-lock.yaml
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team, @o4o-platform/core-team

fix(annualfee-yaksa): Fix manifest structure for module loader compatibility
  packages/annualfee-yaksa/src/backend/index.ts
  packages/annualfee-yaksa/src/manifest.ts
Owners: @o4o-platform/core-team

fix(annualfee-yaksa): Remove dependsOn for non-module-loader packages
  packages/annualfee-yaksa/src/manifest.ts
Owners: @o4o-platform/core-team

fix(annualfee-yaksa): Fix tsconfig to enable emit for module loader
  packages/annualfee-yaksa/tsconfig.json
Owners: @o4o-platform/devops-team

feat(api): Register AnnualFee-Yaksa entities in database connection
  apps/api-server/src/database/connection.ts
Owners: @o4o-platform/backend-team

fix(api): Add annualfee-yaksa and cosmetics-partner-extension to prebuild
  apps/api-server/package.json
  packages/cosmetics-partner-extension/package.json
Owners: @o4o-platform/devops-team

feat(cosmetics): Add Cosmetics Sample & Display Extension (Phase 6-H)
  apps/admin-dashboard/src/pages/cosmetics-sample/ConversionAnalyticsPage.tsx
  apps/admin-dashboard/src/pages/cosmetics-sample/CosmeticsSampleRouter.tsx
  apps/admin-dashboard/src/pages/cosmetics-sample/DisplayManagementPage.tsx
  apps/admin-dashboard/src/pages/cosmetics-sample/SampleDashboard.tsx
  apps/admin-dashboard/src/pages/cosmetics-sample/SampleTrackingPage.tsx
  apps/admin-dashboard/src/pages/cosmetics-sample/index.ts
  packages/cosmetics-sample-display-extension/package.json
  packages/cosmetics-sample-display-extension/src/backend/controllers/analytics.controller.ts
  packages/cosmetics-sample-display-extension/src/backend/controllers/display.controller.ts
  packages/cosmetics-sample-display-extension/src/backend/controllers/index.ts
  packages/cosmetics-sample-display-extension/src/backend/controllers/sample-inventory.controller.ts
  packages/cosmetics-sample-display-extension/src/backend/controllers/usage.controller.ts
  packages/cosmetics-sample-display-extension/src/backend/entities/display-layout.entity.ts
  packages/cosmetics-sample-display-extension/src/backend/entities/index.ts
  packages/cosmetics-sample-display-extension/src/backend/entities/sample-conversion.entity.ts
  packages/cosmetics-sample-display-extension/src/backend/entities/sample-inventory.entity.ts
  packages/cosmetics-sample-display-extension/src/backend/entities/sample-usage-log.entity.ts
  packages/cosmetics-sample-display-extension/src/backend/index.ts
  packages/cosmetics-sample-display-extension/src/backend/routes/index.ts
  packages/cosmetics-sample-display-extension/src/backend/routes/sample-display.routes.ts
  packages/cosmetics-sample-display-extension/src/backend/services/display.service.ts
  packages/cosmetics-sample-display-extension/src/backend/services/index.ts
  packages/cosmetics-sample-display-extension/src/backend/services/sample-conversion.service.ts
  packages/cosmetics-sample-display-extension/src/backend/services/sample-inventory.service.ts
  packages/cosmetics-sample-display-extension/src/backend/services/sample-usage.service.ts
  packages/cosmetics-sample-display-extension/src/index.ts
  packages/cosmetics-sample-display-extension/src/lifecycle/index.ts
  packages/cosmetics-sample-display-extension/src/manifest.ts
  packages/cosmetics-sample-display-extension/tsconfig.json
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team, @o4o-platform/core-team

fix(api): Add annualfee-yaksa entities and fix module paths
  apps/api-server/package.json
  apps/api-server/src/database/connection.ts
  apps/api-server/tsconfig.json
  packages/annualfee-yaksa/package.json
  packages/forum-app/src/backend/entities/ForumCategory.d.ts
  packages/forum-app/src/backend/entities/ForumCategory.d.ts.map
  packages/forum-app/src/backend/entities/ForumCategory.js
  packages/forum-app/src/backend/entities/ForumCategory.js.map
  packages/forum-app/src/backend/entities/ForumPost.d.ts
  packages/forum-app/src/backend/entities/ForumPost.d.ts.map
  packages/forum-app/src/backend/entities/ForumPost.js
  packages/forum-app/src/backend/entities/ForumPost.js.map
  packages/forum-app/src/backend/types/index.d.ts
  packages/forum-app/src/backend/types/index.d.ts.map
  packages/forum-app/src/backend/types/index.js
  packages/forum-app/src/backend/types/index.js.map
  packages/forum-app/src/index.d.ts
  packages/forum-app/src/index.d.ts.map
  packages/forum-app/src/index.js
  packages/forum-app/src/index.js.map
  packages/forum-app/src/manifest.d.ts
  packages/forum-app/src/manifest.d.ts.map
  packages/forum-app/src/manifest.js
  packages/forum-app/src/manifest.js.map
  packages/forum-app/src/public-ui/components/index.d.ts
  packages/forum-app/src/public-ui/components/index.d.ts.map
  packages/forum-app/src/public-ui/components/index.js
  packages/forum-app/src/public-ui/components/index.js.map
  packages/forum-app/src/templates/index.d.ts
  packages/forum-app/src/templates/index.d.ts.map
  packages/forum-app/src/templates/index.js
  packages/forum-app/src/templates/index.js.map
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/core-team

fix(platform): Add missing lifecycle and backend exports for AppStore compliance
  docs/reports/apps_compliance_report.md
  packages/@o4o-apps/signage/lifecycle/index.ts
  packages/annualfee-yaksa/src/lifecycle/index.ts
  packages/auth-core/src/backend/index.ts
  packages/cms-core/src/backend/index.ts
  packages/dropshipping-core/src/backend/index.ts
  packages/lms-core/src/backend/index.ts
  packages/organization-core/src/backend/index.ts
  packages/organization-forum/src/backend/index.ts
  packages/organization-lms/src/backend/index.ts
  packages/organization-lms/src/lifecycle/index.ts
  packages/platform-core/src/backend/index.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/security-team

fix: Remove console.log from production code
  apps/admin-dashboard/src/pages/cosmetics-supplier/CosmeticsSupplierApprovals.tsx
Owners: @o4o-platform/admin-team

fix(build): Replace forum-neture with forum-cosmetics in build scripts
  package.json
Owners: @o4o-platform/devops-team

fix(ci): Fix CI build script and remove non-existent forum-cosmetics
  package.json
  scripts/ci-build-app.sh
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

docs: Add Section 8 – Work Order Common Rules to CLAUDE.md
  CLAUDE.md
Owners: @o4o-platform/docs-team

feat(dropshipping-core): Phase 1 Core Extension Layer
  packages/dropshipping-core/src/entities/ProductMaster.entity.ts
  packages/dropshipping-core/src/entities/SettlementBatch.entity.ts
  packages/dropshipping-core/src/hooks/extension-interface.ts
  packages/dropshipping-core/src/hooks/index.ts
  packages/dropshipping-core/src/hooks/validation-hooks.ts
  pnpm-lock.yaml
Owners: @o4o-platform/core-team, @o4o-platform/devops-team

feat(phase2): Dropshipping Extensions Unified Refactoring
  packages/dropshipping-cosmetics/src/extension.ts
  packages/dropshipping-cosmetics/src/index.ts
  packages/dropshipping-cosmetics/src/lifecycle/activate.ts
  packages/dropshipping-cosmetics/src/lifecycle/deactivate.ts
  packages/dropshipping-cosmetics/src/manifest.ts
  packages/sellerops/src/dto/index.ts
  packages/sellerops/src/extension.ts
  packages/sellerops/src/index.ts
  packages/sellerops/src/lifecycle/activate.ts
  packages/sellerops/src/lifecycle/deactivate.ts
  packages/sellerops/src/manifest.ts
  packages/sellerops/src/services/SettlementOpsService.ts
  packages/supplierops/src/controllers/offers.controller.ts
  packages/supplierops/src/controllers/products.controller.ts
  packages/supplierops/src/dto/index.ts
  packages/supplierops/src/extension.ts
  packages/supplierops/src/index.ts
  packages/supplierops/src/lifecycle/activate.ts
  packages/supplierops/src/lifecycle/deactivate.ts
  packages/supplierops/src/manifest.ts
  packages/supplierops/src/services/OfferOpsService.ts
  packages/supplierops/src/services/ProductMasterService.ts
Owners: @o4o-platform/core-team

feat(phase3): Add Pharmaceutical-Core App v1
  packages/pharmaceutical-core/package.json
  packages/pharmaceutical-core/src/backend/index.ts
  packages/pharmaceutical-core/src/entities/PharmaOffer.entity.ts
  packages/pharmaceutical-core/src/entities/PharmaOrder.entity.ts
  packages/pharmaceutical-core/src/entities/PharmaProductMaster.entity.ts
  packages/pharmaceutical-core/src/entities/PharmaSettlementBatch.entity.ts
  packages/pharmaceutical-core/src/entities/index.ts
  packages/pharmaceutical-core/src/hooks/index.ts
  packages/pharmaceutical-core/src/hooks/pharmaceutical-extension.ts
  packages/pharmaceutical-core/src/index.ts
  packages/pharmaceutical-core/src/lifecycle/activate.ts
  packages/pharmaceutical-core/src/lifecycle/deactivate.ts
  packages/pharmaceutical-core/src/lifecycle/index.ts
  packages/pharmaceutical-core/src/lifecycle/install.ts
  packages/pharmaceutical-core/src/lifecycle/uninstall.ts
  packages/pharmaceutical-core/src/manifest.ts
  packages/pharmaceutical-core/src/services/PharmaOfferService.ts
  packages/pharmaceutical-core/src/services/PharmaOrderService.ts
  packages/pharmaceutical-core/src/services/PharmaProductService.ts
  packages/pharmaceutical-core/src/services/PharmaSettlementService.ts
  packages/pharmaceutical-core/src/services/index.ts
  packages/pharmaceutical-core/tsconfig.json
  packages/pharmaceutical-core/tsup.config.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(partner-core): Implement Partner Core App v1
  packages/partner-core/package.json
  packages/partner-core/src/backend/index.ts
  packages/partner-core/src/entities/Partner.entity.ts
  packages/partner-core/src/entities/PartnerClick.entity.ts
  packages/partner-core/src/entities/PartnerCommission.entity.ts
  packages/partner-core/src/entities/PartnerConversion.entity.ts
  packages/partner-core/src/entities/PartnerLink.entity.ts
  packages/partner-core/src/entities/PartnerSettlementBatch.entity.ts
  packages/partner-core/src/entities/index.ts
  packages/partner-core/src/index.ts
  packages/partner-core/src/lifecycle/activate.ts
  packages/partner-core/src/lifecycle/deactivate.ts
  packages/partner-core/src/lifecycle/index.ts
  packages/partner-core/src/lifecycle/install.ts
  packages/partner-core/src/lifecycle/uninstall.ts
  packages/partner-core/src/manifest.ts
  packages/partner-core/src/partner-extension.ts
  packages/partner-core/src/services/PartnerClickService.ts
  packages/partner-core/src/services/PartnerCommissionService.ts
  packages/partner-core/src/services/PartnerConversionService.ts
  packages/partner-core/src/services/PartnerLinkService.ts
  packages/partner-core/src/services/PartnerService.ts
  packages/partner-core/src/services/PartnerSettlementService.ts
  packages/partner-core/src/services/index.ts
  packages/partner-core/tsconfig.json
  packages/partner-core/tsup.config.ts
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

feat(partnerops): Phase 5+6 Partner-Core integration & Frontend alignment
  apps/admin-dashboard/src/pages/partnerops/pages/Conversions.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Dashboard.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Links.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Profile.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Routines.tsx
  apps/admin-dashboard/src/pages/partnerops/pages/Settlement.tsx
  packages/partnerops/package.json
  packages/partnerops/src/backend/index.ts
  packages/partnerops/src/controllers/conversions.controller.ts
  packages/partnerops/src/controllers/dashboard.controller.ts
  packages/partnerops/src/controllers/index.ts
  packages/partnerops/src/controllers/links.controller.ts
  packages/partnerops/src/controllers/profile.controller.ts
  packages/partnerops/src/controllers/routines.controller.ts
  packages/partnerops/src/controllers/settlement.controller.ts
  packages/partnerops/src/dto/index.ts
  packages/partnerops/src/hooks/event-handlers.ts
  packages/partnerops/src/hooks/index.ts
  packages/partnerops/src/index.ts
  packages/partnerops/src/lifecycle/index.ts
  packages/partnerops/src/manifest.ts
  packages/partnerops/src/services/ConversionService.ts
  packages/partnerops/src/services/DashboardService.ts
  packages/partnerops/src/services/LinkService.ts
  packages/partnerops/src/services/ProfileService.ts
  packages/partnerops/src/services/RoutineService.ts
  packages/partnerops/src/services/SettlementService.ts
  packages/partnerops/src/services/index.ts
  packages/partnerops/tsconfig.json
  packages/partnerops/tsup.config.ts
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team, @o4o-platform/core-team

feat(partner-core): Phase 7 Integration Test Suite
  docs/reports/phase7-partner-core-integration-test-report.md
  packages/partner-core/src/__tests__/integration.test.ts
  packages/partner-core/src/__tests__/test-runner.ts
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(phase8): Dropshipping-Core Refactor - Level 2 Engine
  packages/dropshipping-core/src/controllers/products.controller.ts
  packages/dropshipping-core/src/controllers/settlement.controller.ts
  packages/dropshipping-core/src/entities/ProductMaster.entity.ts
  packages/dropshipping-core/src/entities/SettlementBatch.entity.ts
  packages/dropshipping-core/src/entities/index.ts
  packages/dropshipping-core/src/hooks/core-events.ts
  packages/dropshipping-core/src/hooks/extension-interface.ts
  packages/dropshipping-core/src/hooks/validation-hooks.ts
  packages/dropshipping-core/src/services/ProductMasterService.ts
  packages/dropshipping-core/src/services/SettlementService.ts
  packages/sellerops/src/dto/index.ts
  packages/sellerops/src/extension.ts
  packages/supplierops/src/extension.ts
Owners: @o4o-platform/core-team

docs: Add Phase 8 completion report
  docs/reports/phase8-dropshipping-core-refactor-report.md
Owners: @o4o-platform/docs-team

feat(phase9a): SellerOps Refactoring & Core Alignment
  packages/sellerops/src/controllers/listings.controller.ts
  packages/sellerops/src/controllers/orders.controller.ts
  packages/sellerops/src/controllers/suppliers.controller.ts
  packages/sellerops/src/extension.ts
  packages/sellerops/src/frontend/pages/ListingsList.tsx
  packages/sellerops/src/frontend/pages/OrdersList.tsx
  packages/sellerops/src/services/ListingOpsService.ts
  packages/sellerops/src/services/OrderOpsService.ts
  packages/sellerops/src/services/SettlementOpsService.ts
  packages/sellerops/src/services/SupplierOpsService.ts
Owners: @o4o-platform/core-team
