Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

feat(kpa-signage): WO-O4O-KPA-SIGNAGE-VIDEO-PLAYLIST-MODAL-V1 — 동영상/플레이리스트 등록 모달화
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-contact): WO-O4O-KPA-CONTACT-FORM-WORKFLOW-V1 — 이메일 직접 노출 → 내부 폼 전환
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260922000000-CreateContactRequests.ts
  apps/api-server/src/entities/ContactRequest.ts
  apps/api-server/src/entities/Notification.ts
  apps/api-server/src/routes/kpa/controllers/contact-request.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/contactRequest.ts
  services/web-kpa-society/src/pages/contact/ContactModal.tsx
  services/web-kpa-society/src/pages/contact/ContactPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-society): 헤더 메뉴 순서 수정 — 약국 운영 허브 → 내 약국
  services/web-kpa-society/src/config/navigation.ts
Owners: @o4o-platform/core-team

feat(kpa-signage): WO-O4O-KPA-HQ-PLAYLIST-CREATE-ITEMS-V1 — 플레이리스트 등록 모달에 URL 목록 입력 추가
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
Owners: @o4o-platform/core-team

fix(menu): 메뉴 정책 전면 재정렬 — 커뮤니티 통합 + 내 매장/HUB 순서 확정
  services/web-glycopharm/src/config/navigation.ts
  services/web-glycopharm/src/pages/mobile/MobilePharmacyPage.tsx
  services/web-k-cosmetics/src/config/navigation.ts
  services/web-k-cosmetics/src/pages/mobile/MobileStorePage.tsx
  services/web-kpa-society/src/config/navigation.ts
  services/web-kpa-society/src/pages/mobile/MobilePharmacyPage.tsx
Owners: @o4o-platform/core-team

fix(kpa-signage): WO-O4O-KPA-HQ-MEDIA-MODAL-CLEANUP-V1 — 미디어 타입 제거 + 설명 필드 추가
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
Owners: @o4o-platform/core-team

feat(store-signage): WO-O4O-KPA-SIGNAGE-VIDEO-PLAYLIST-MODAL-V1 — 매장 동영상/플레이리스트 인라인 폼 모달 전환
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/core-team

feat(kpa-operator): WO-O4O-KPA-OPERATOR-COLLABORATION-INBOX-V1 — 협업 문의 운영자 메뉴
  apps/api-server/src/entities/ContactRequest.ts
  apps/api-server/src/routes/kpa/controllers/contact-request.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/contactRequest.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/CollaborationRequestsPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Owners: @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/core-team

fix(signage): WO-O4O-KPA-STORE-HUB-SIGNAGE-ADD-TO-STORE-FIX-V1 — 내 매장에 추가 500 오류 수정
  apps/api-server/src/modules/asset-snapshot/resolvers/kpa-asset.resolver.ts
  apps/api-server/src/modules/asset-snapshot/resolvers/neture-asset.resolver.ts
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(kpa-resources): WO-O4O-KPA-RESOURCES-CREATE-MODAL-UX-V1 — 자료 등록 모달 전환 + 태그/활용방식 UX 개선
  services/web-kpa-society/src/pages/resources/ResourceWriteModal.tsx
  services/web-kpa-society/src/pages/resources/ResourceWritePage.tsx
  services/web-kpa-society/src/pages/resources/ResourcesHubPage.tsx
Owners: @o4o-platform/core-team

fix(media): WO-O4O-KPA-RESOURCES-CREATE-MODAL-UX-V1 — 한글 파일명 깨짐 수정 (multer latin1 → UTF-8 보정)
  apps/api-server/src/modules/media/services/media-library.service.ts
Owners: @o4o-platform/backend-team

feat(lms): WO-O4O-LMS-INSTRUCTOR-COURSES-DATATABLE-CANONICAL-V1
  services/web-kpa-society/src/pages/instructor/courses/CourseListPage.tsx
Owners: @o4o-platform/core-team

fix(store): WO-O4O-KPA-STORE-MY-PRODUCTS-EMPTY-STATE-FIX-V1 — 빈 데이터를 에러로 표시하던 문제 수정
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
Owners: @o4o-platform/core-team

docs(ir): IR-O4O-LMS-INSTRUCTOR-DASHBOARD-STRUCTURE-AUDIT-V1 — 강사 대시보드 구조 감사
  docs/investigations/IR-O4O-LMS-INSTRUCTOR-DASHBOARD-STRUCTURE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(store): WO-O4O-KPA-STORE-MY-PRODUCTS-SEARCH-ERROR-FIX-V1 — 검색 오류/빈 결과 UI 분리
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
Owners: @o4o-platform/core-team

feat(store-library): WO-O4O-STORE-LIBRARY-CONTENTS-TAB-RESTRUCTURE-V1
  services/web-kpa-society/src/pages/pharmacy/StoreLibraryContentsPage.tsx
Owners: @o4o-platform/core-team

feat(store-signage): WO-O4O-STORE-SIGNAGE-UX-SIMPLIFICATION-V1
  apps/api-server/src/routes/o4o-store/controllers/store-asset-control.controller.ts
  packages/store-asset-policy-core/src/components/AssetRow.tsx
  services/web-glycopharm/src/pages/store-management/StoreSignagePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(store-library): WO-O4O-STORE-LIBRARY-CONTENTS-TAB-HIERARCHY-UI-ALIGN-V1
  services/web-kpa-society/src/pages/pharmacy/StoreLibraryContentsPage.tsx
Owners: @o4o-platform/core-team

feat(store): WO-O4O-STORE-PRODUCTION-MATERIALS-CONTENT-AI-BRIDGE-V1
  packages/content-editor/src/components/AiContentModal.tsx
  services/web-kpa-society/src/pages/pharmacy/SelectContentForAiModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductionMaterialsPage.tsx
Owners: @o4o-platform/core-team

docs(ir): IR-O4O-KPA-STORE-MY-PRODUCTS-REGISTRATION-FLOW-AUDIT-V1 — 내 매장 상품 등록 흐름 감사
  docs/investigations/IR-O4O-KPA-STORE-MY-PRODUCTS-REGISTRATION-FLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs(ir): IR-O4O-STORE-SIGNAGE-MEDIA-DETAIL-EDIT-FLOW-AUDIT-V1
  docs/investigations/IR-O4O-STORE-SIGNAGE-MEDIA-DETAIL-EDIT-FLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(store): WO-O4O-KPA-STORE-MY-PRODUCTS-FLOW-SIMPLIFY-V1 — ProductMaster 기반 매장 상품 등록 구조 정상화
  apps/api-server/src/database/migrations/20260920000000-MakeOfferIdNullableAddMasterListing.ts
  apps/api-server/src/modules/store-core/entities/organization-product-listing.entity.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
  packages/store-products-ui/src/api.ts
  packages/store-products-ui/src/types.ts
  services/web-neture/src/lib/api/store.ts
  services/web-neture/src/pages/store/StoreListingsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(store-signage): WO-O4O-STORE-SIGNAGE-MEDIA-EDIT-UX-V1
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
  packages/store-products-ui/src/api.ts
  packages/store-products-ui/src/index.ts
  packages/store-products-ui/src/types.ts
  services/web-kpa-society/src/api/signageMedia.ts
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(store): WO-O4O-STORE-LIBRARY-RESOURCE-COPY-VISIBILITY-FIX-V1
  packages/shared-space-ui/src/ResourcesHubTemplate.tsx
  services/web-kpa-society/src/pages/resources/ResourcesHubPage.tsx
Owners: @o4o-platform/core-team

docs(ir): IR-O4O-STORE-PRODUCTION-MATERIALS-CONTENT-SELECTION-FLOW-AUDIT-V1 — SelectContentForAiModal 제거 가능 판정
  docs/investigations/IR-O4O-STORE-PRODUCTION-MATERIALS-CONTENT-SELECTION-FLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(store): WO-O4O-STORE-PRODUCTION-MATERIALS-FLOW-REALIGN-V1
  services/web-kpa-society/src/pages/pharmacy/SelectContentForAiModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StartProductionModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreLibraryContentsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductionMaterialsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/productionTargets.tsx
Owners: @o4o-platform/core-team

feat(signage): WO-O4O-STORE-SIGNAGE-SNAPSHOT-EDIT-ENABLE-V1 — HUB snapshot 편집 drawer 확장
  packages/asset-copy-core/src/factory/create-asset-copy-controller.ts
  packages/asset-copy-core/src/services/asset-copy.service.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/core-team

docs(ir): IR-O4O-KPA-MEMBER-APPLICATION-LIST-MISSING-AUDIT-V1 — 가입 신청자 목록 누락 원인 판정
  docs/investigations/IR-O4O-KPA-MEMBER-APPLICATION-LIST-MISSING-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): WO-O4O-KPA-MEMBER-APPLICATION-SERVICEKEY-FIX-V1 — pharmacist 타입 kpa_members 누락 수정
  apps/api-server/src/modules/auth/controllers/auth-register.controller.ts
Owners: @o4o-platform/backend-team

feat(neture): WO-O4O-NETURE-USERS-CANONICAL-APPLY-V1 — 회원관리 canonical workflow 정렬
  apps/api-server/src/modules/neture/controllers/operator-registration.controller.ts
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(kpa): WO-O4O-KPA-MEMBER-WITHDRAW-SCOPE-FIX-V1 — 탈퇴/완전삭제 권한 정책 분리
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(content-hub): WO-O4O-CONTENT-HUB-CANONICAL-DATATABLE-APPLY-V1
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
Owners: @o4o-platform/core-team

feat(signage): WO-O4O-STORE-SIGNAGE-SOURCEURL-EDIT-ENABLE-V1 — 동영상 URL 수정 허용
  apps/api-server/src/routes/signage/dto/index.ts
  apps/api-server/src/routes/signage/services/media.service.ts
  packages/asset-copy-core/src/factory/create-asset-copy-controller.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/api/signageMedia.ts
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(ir): IR-O4O-KPA-ADMIN-OPERATOR-DASHBOARD-PROFILE-SPLIT-AUDIT-V1 — admin/operator 진입·프로필·메뉴 분기 상태 감사
  docs/investigations/IR-O4O-KPA-ADMIN-OPERATOR-DASHBOARD-PROFILE-SPLIT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): WO-O4O-KPA-ADMIN-PROFILE-MENU-SPLIT-V1 — admin/operator 프로필 진입점 분리
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
Owners: @o4o-platform/core-team

feat(kpa): WO-O4O-KPA-ADMIN-DASHBOARD-CANONICAL-SEPARATION-V1 — admin 전용 대시보드 분리
  services/web-kpa-society/src/pages/admin/KpaAdminDashboardPage.tsx
  services/web-kpa-society/src/routes/AdminRoutes.tsx
Owners: @o4o-platform/core-team

fix(content-hub): WO-O4O-CONTENT-HUB-DATATABLE-ROW-SELECTION-FIX-V1
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
Owners: @o4o-platform/core-team

fix(kpa): WO-O4O-KPA-ADMIN-SIDEBAR-IMPLEMENTATION-ALIGN-V1 — 미구현 메뉴 제거
  services/web-kpa-society/src/components/admin/AdminSidebar.tsx
Owners: @o4o-platform/core-team

feat(signage): WO-O4O-STORE-SIGNAGE-PLAYLIST-BUILDER-V1 — 플레이리스트 빌더 구조 개선
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Owners: @o4o-platform/core-team

refactor(kpa): WO-O4O-KPA-ADMIN-ORG-MANAGEMENT-DEADCODE-REMOVE-V1 — 약사회 조직관리 잔존 코드 제거
  services/web-kpa-society/src/api/admin.ts
  services/web-kpa-society/src/components/admin/AdminSidebar.tsx
  services/web-kpa-society/src/pages/admin/CommitteeRequestsPage.tsx
  services/web-kpa-society/src/pages/admin/KpaAdminDashboardPage.tsx
  services/web-kpa-society/src/pages/admin/KpaOperatorDashboardPage.tsx
  services/web-kpa-society/src/pages/admin/StewardManagementPage.tsx
  services/web-kpa-society/src/routes/AdminRoutes.tsx
Owners: @o4o-platform/core-team
