Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix: TypeScript 빌드 에러 부분 수정 - Express 타입 및 Entity 필드명 개선
  apps/api-server/src/controllers/admin/adminCommissionController.ts
  apps/api-server/src/controllers/analytics/analyticsController.ts
  apps/api-server/src/controllers/analytics/dashboardIntegrationController.ts
  apps/api-server/src/controllers/analytics/forecastingController.ts
  apps/api-server/src/controllers/analytics/reportingController.ts
  apps/api-server/src/controllers/dashboard/dashboardController.ts
  apps/api-server/src/services/OperationsMonitoringService.ts
  apps/api-server/src/services/RestockNotificationService.ts
  apps/api-server/src/services/ReviewService.ts
  apps/api-server/src/services/UserService.ts
  apps/api-server/src/services/forumService.ts
  apps/api-server/src/services/notification.service.ts
  apps/api-server/src/services/order-automation.service.ts
  apps/api-server/src/services/revision.service.ts
  apps/api-server/src/services/tag.service.ts
  apps/api-server/src/types/tag.types.ts
  pnpm-lock.yaml
Owners: @o4o-platform/backend-team, @o4o-platform/devops-team

fix: 추가 TypeScript 에러 수정 - Post, Template, Customizer 필드
  apps/api-server/src/controllers/automation/orderAutomationController.ts
  apps/api-server/src/controllers/dashboard/dashboardController.ts
  apps/api-server/src/controllers/media/mediaUploadController.ts
  apps/api-server/src/controllers/pagesController.ts
  apps/api-server/src/controllers/payments/advancedPaymentController.ts
  apps/api-server/src/controllers/payments/paymentAnalyticsController.ts
  apps/api-server/src/controllers/payments/paymentWebhookController.ts
  apps/api-server/src/controllers/post-creation.ts
  apps/api-server/src/controllers/postsController.ts
  apps/api-server/src/controllers/templatesController.ts
  apps/api-server/src/controllers/themes/customizerController.ts
  apps/api-server/src/controllers/themes/previewController.ts
  apps/api-server/src/controllers/webhook/commissionWebhookController.ts
  apps/api-server/src/controllers/workflow/workflowController.ts
  apps/api-server/src/middleware/errorHandler.middleware.ts
Owners: @o4o-platform/backend-team

fix(api): fix PasswordResetToken entity index field name
  apps/api-server/src/entities/PasswordResetToken.ts
Owners: @o4o-platform/database-team

fix: Entity @Index 데코레이터의 snake_case 필드명을 camelCase로 대량 수정
  apps/api-server/src/entities/AccountActivity.ts
  apps/api-server/src/entities/AffiliateCommission.ts
  apps/api-server/src/entities/Alert.ts
  apps/api-server/src/entities/AnalyticsReport.ts
  apps/api-server/src/entities/ApprovalLog.ts
  apps/api-server/src/entities/BetaFeedback.ts
  apps/api-server/src/entities/BetaUser.ts
  apps/api-server/src/entities/EmailLog.ts
  apps/api-server/src/entities/EmailVerificationToken.ts
  apps/api-server/src/entities/FeedbackConversation.ts
  apps/api-server/src/entities/ForumComment.ts
  apps/api-server/src/entities/ForumPost.ts
  apps/api-server/src/entities/LoginAttempt.ts
  apps/api-server/src/entities/Media.ts
  apps/api-server/src/entities/PageRevision.ts
  apps/api-server/src/entities/PostRevision.ts
  apps/api-server/src/entities/ShortcodeExecution.ts
  apps/api-server/src/entities/StatusPage.ts
  apps/api-server/src/entities/SystemMetrics.ts
  apps/api-server/src/entities/UserAction.ts
  apps/api-server/src/entities/UserActivityLog.ts
  apps/api-server/src/entities/UserSession.ts
  apps/api-server/src/entities/VendorCommission.ts
  apps/api-server/src/entities/affiliate/AffiliateAuditLog.ts
  apps/api-server/src/entities/affiliate/AffiliateClick.ts
  apps/api-server/src/entities/affiliate/AffiliateCommission.ts
  apps/api-server/src/entities/affiliate/AffiliateConversion.ts
  apps/api-server/src/entities/affiliate/AffiliateNotification.ts
  apps/api-server/src/entities/affiliate/AffiliatePayout.ts
  apps/api-server/src/entities/crowdfunding/FundingUpdate.ts
  apps/api-server/src/entities/dropshipping/Supplier.ts
  apps/api-server/src/entities/inventory/InventoryAlert.ts
  apps/api-server/src/entities/inventory/StockMovement.ts
Owners: @o4o-platform/database-team

fix(api): fix ShortcodeExecution entity field naming consistency
  apps/api-server/src/entities/ShortcodeExecution.ts
Owners: @o4o-platform/database-team

fix: ApprovalLog entity @Index 필드명 불일치 수정
  apps/api-server/src/entities/ApprovalLog.ts
Owners: @o4o-platform/database-team

fix: 작업 방해 TypeScript 에러 우선순위 수정
  apps/api-server/src/controllers/postsController.ts
  apps/api-server/src/controllers/v1/businessInfo.controller.ts
  apps/api-server/src/controllers/v1/content.controller.ts
  apps/api-server/src/middleware/errorHandler.middleware.ts
Owners: @o4o-platform/backend-team

fix: 대량 TypeScript 에러 수정 및 Entity 필드명 통일
  apps/api-server/src/controllers/admin/adminCommissionController.ts
  apps/api-server/src/controllers/v1/content.controller.ts
  apps/api-server/src/controllers/v1/userActivity.controller.ts
  apps/api-server/src/database/cli-config.ts
  apps/api-server/src/entities/ACFFieldGroup.ts
  apps/api-server/src/entities/Post.ts
  apps/api-server/src/entities/ReusableBlock.ts
  apps/api-server/src/entities/User.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/auth.ts
  apps/api-server/src/middleware/authMiddleware.ts
  apps/api-server/src/middleware/errorHandler.middleware.ts
  apps/api-server/src/routes/reusable-blocks.routes.ts
  apps/api-server/src/routes/zones.ts
  apps/api-server/src/services/AnalyticsService.ts
  apps/api-server/src/services/AuthService.ts
  apps/api-server/src/services/CartService.ts
  apps/api-server/src/services/IncidentEscalationService.ts
  apps/api-server/src/services/MembershipService.ts
  apps/api-server/src/services/OperationsMonitoringService.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team

fix: Post entity JoinTable 컬럼명을 데이터베이스와 일치시키기 (snake_case)
  apps/api-server/src/entities/Post.ts
  apps/api-server/src/modules/affiliate/services/analytics.service.ts
  apps/api-server/src/modules/affiliate/services/commission.service.ts
  apps/api-server/src/modules/affiliate/services/payout.service.ts
  apps/api-server/src/routes/api/pages.ts
  apps/api-server/src/routes/auth.ts
  apps/api-server/src/routes/block-patterns.routes.ts
  apps/api-server/src/routes/posts-base.ts
  apps/api-server/src/routes/posts-complete.ts
  apps/api-server/src/routes/posts-gutenberg.ts
  apps/api-server/src/routes/posts.ts
  apps/api-server/src/routes/preview.ts
  apps/api-server/src/routes/public.ts
  apps/api-server/src/routes/zones.ts
Owners: @o4o-platform/database-team, @o4o-platform/backend-team, @o4o-platform/api-team

fix: Post entity JoinTable 컬럼명을 데이터베이스와 일치시키기 (camelCase)
  apps/api-server/src/controllers/automation/orderAutomationController.ts
  apps/api-server/src/controllers/workflow/workflowController.ts
  apps/api-server/src/entities/Post.ts
  apps/api-server/src/middleware/responseTimeMonitor.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team

feat: 숏코드 중앙 관리 기능 영구 제거 및 Post entity 테이블명 수정
  apps/api-server/src/controllers/shortcode/ShortcodeController.ts
  apps/api-server/src/controllers/shortcodeController.ts
  apps/api-server/src/entities/Post.ts
  apps/api-server/src/entities/Shortcode.ts
  apps/api-server/src/entities/ShortcodeExecution.ts
  apps/api-server/src/services/shortcode-handlers.ts
  apps/api-server/src/services/shortcode-parser.service.ts
  apps/api-server/src/services/shortcode.service.ts
  apps/api-server/src/types/shortcode.ts
Owners: @o4o-platform/backend-team, @o4o-platform/database-team

fix: database connection에서 삭제된 Shortcode entity 참조 제거
  apps/api-server/src/database/cli-config.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

fix: Category entity에서 존재하지 않는 meta 컬럼 제거
  apps/api-server/src/entities/Category.ts
Owners: @o4o-platform/database-team

fix: AuthProvider API URL configuration for proper login functionality
  packages/auth-context/src/AuthProvider.tsx
Owners: @o4o-platform/security-team

fix: AuthProvider TypeScript build error
  packages/auth-context/src/AuthProvider.tsx
Owners: @o4o-platform/security-team

fix: TypeORM 엔티티 경로 문제 해결 및 Category meta 필드 제거
  apps/api-server/src/database/connection.ts
  apps/api-server/src/routes/api/categories.ts
  ecosystem.config.local.cjs
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

fix: Category 엔티티에 타임스탬프 컬럼 추가 및 마이그레이션 생성
  apps/api-server/src/migrations/1731616800000-AddTimestampsToCategory.ts
Owners: @o4o-platform/backend-team

fix: Post와 Category 엔티티의 타임스탬프 컬럼명 매핑 수정
  apps/api-server/src/entities/Category.ts
  apps/api-server/src/entities/Post.ts
Owners: @o4o-platform/database-team

fix: Rate limiting 설정 개선 - 429 에러 해결
  apps/api-server/src/main.ts
Owners: @o4o-platform/backend-team

fix: Admin Dashboard에서 null 날짜 처리로 인한 "Invalid time value" 에러 해결
  apps/admin-dashboard/src/pages/posts/Posts.tsx
Owners: @o4o-platform/admin-team

fix: 편집기에서 수정한 내용(본문, slug 등)이 저장되지 않는 문제 해결
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/api-server/src/controllers/v1/content.controller.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

fix: 편집기 상태 동기화 문제 해결 - stale closure 수정
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: 프로덕션 빌드 초기화 에러 해결
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/vite.config.ts
Owners: @o4o-platform/admin-team

fix: useCallback 제거하여 순환 참조 완전 해결
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: 모든 useCallback 제거로 초기화 문제 완전 해결
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

refactor: useRef 관련 코드 제거 - 불필요한 복잡성 제거
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Owners: @o4o-platform/admin-team

fix: 본문 내용이 저장되지 않는 문제 해결
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

fix: 편집기 본문 저장 문제 해결 - stale closure 수정
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  pnpm-lock.yaml
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team

fix: resolve JavaScript initialization error in blog editor
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/vite.config.ts
  ecosystem.config.local.cjs
Owners: @o4o-platform/admin-team, @o4o-platform/core-team

fix: resolve blog content saving and preview functionality
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

fix: resolve mobile sidebar animation issues in admin dashboard
  apps/admin-dashboard/src/styles/admin-layout-fixed.css
Owners: @o4o-platform/admin-team

fix: resolve PostPreview function name mismatch for View button
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

debug: add detailed logging to PostPreview for content parsing
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

debug: enhance PostPreview content parsing with detailed error handling
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

debug: add comprehensive logging to track API call issues
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
Owners: @o4o-platform/admin-team

fix: improve PostPreview error handling and debug display
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

debug: add server-side logging for content field investigation
  apps/api-server/src/controllers/postsController.ts
Owners: @o4o-platform/backend-team

fix: remove console.log statements and restart API server
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
  apps/api-server/src/controllers/postsController.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team

fix: correct API response data structure for PostPreview
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
Owners: @o4o-platform/admin-team

chore: remove all debug code and console statements
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
Owners: @o4o-platform/admin-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
