Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

25-08-3-3
  .eslintrc.js
  CLAUDE.md
  apps/admin-dashboard/package.json
  package-lock.json
  package.json
  packages/auth-context/package.json
  packages/shortcodes/package.json
Owners: @o4o-platform/core-team, @o4o-platform/docs-team, @o4o-platform/devops-team

25-08-3-4
  CLAUDE.md
  apps/admin-dashboard/package.json
  apps/api-server/package.json
  apps/crowdfunding/package.json
  apps/digital-signage/package.json
  apps/main-site/package.json
  package-lock.json
  package.json
  packages/auth-context/package.json
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team

25-08-03-5
  apps/admin-dashboard/package.json
  apps/api-server/package.json
  apps/crowdfunding/package.json
  apps/digital-signage/package.json
  apps/main-site/package.json
  package-lock.json
  package.json
Owners: @o4o-platform/devops-team

25-08-03-6
  package-lock.json
  package.json
Owners: @o4o-platform/devops-team

25-08-03-8
  .npmrc
  apps/admin-dashboard/src/api/contentApi.ts
  apps/admin-dashboard/src/api/dashboard.ts
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/ACFConditionFilter.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/ACFFieldSelector.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/DateFilter.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/SearchBox.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/TaxonomyFilter.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/edit.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/hooks/useQueryCache.ts
  apps/admin-dashboard/src/blocks/cpt-acf-loop/utils.ts
  apps/admin-dashboard/src/blocks/ecommerce/product-card/edit.tsx
  apps/admin-dashboard/src/blocks/ecommerce/product-filter/components/FilterHorizontal.tsx
  apps/admin-dashboard/src/blocks/ecommerce/product-filter/components/FilterSidebar.tsx
  fix-common-ts-errors.cjs
  package-lock.json
Owners: @o4o-platform/core-team, @o4o-platform/admin-team, @o4o-platform/devops-team

25-08-3-11
  .github/workflows/ci.yml
  CLAUDE.md
  apps/digital-signage/src/pages/EnhancedSignageDashboard.tsx
  apps/digital-signage/src/pages/SignageEditor.tsx
  apps/main-site/postcss.config.js
  package.json
  scripts/ci-prepare.sh
  scripts/dev.sh
  scripts/fix-digital-signage-ts-errors.cjs
  scripts/fix-postcss-config.sh
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/frontend-team

25-08-3-12
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/vite-env.d.ts
  apps/api-gateway/package.json
  apps/api-server/package.json
  apps/crowdfunding/package.json
  apps/crowdfunding/postcss.config.js
  apps/crowdfunding/src/global.d.ts
  apps/digital-signage/package.json
  apps/digital-signage/postcss.config.js
  apps/digital-signage/src/global.d.ts
  apps/ecommerce/package.json
  apps/forum/package.json
  apps/main-site/package.json
  package-lock.json
  package.json
  packages/auth-client/package.json
  packages/auth-context/package.json
  packages/crowdfunding-types/package.json
  packages/forum-types/package.json
  packages/shortcodes/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  scripts/ci-install-robust.sh
  scripts/fix-npm-install-loop.sh
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team, @o4o-platform/core-team

docs: Add GitHub MCP integration guidelines to CLAUDE.md
  CLAUDE.md
Owners: @o4o-platform/docs-team

25-08-03-14
  .github/workflows/generate-package-lock.yml
  apps/admin-dashboard/src/components/template/TemplateLibrary.tsx
  apps/admin-dashboard/src/components/users/UserForm.tsx
  apps/admin-dashboard/src/pages/dashboard/components/EcommerceStats/index.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsCards/ContentStats.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsCards/PartnerStats.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsCards/ProductStats.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsCards/SalesStats.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsCards/UserStats.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsOverview/EcommerceStatsCard.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsOverview/ForumStatsCard.tsx
  apps/admin-dashboard/src/pages/dashboard/components/StatsOverview/UserStatsCard.tsx
  apps/admin-dashboard/src/pages/dashboard/components/common/ErrorBoundary.tsx
  apps/admin-dashboard/src/types/user.ts
  package-lock.json
  packages/forum-types/tsconfig.json
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

fix: resolve admin-dashboard TypeScript errors for CI/CD
  .github/workflows/ci.yml
  apps/admin-dashboard/src/pages/UIShowcase.tsx
  apps/admin-dashboard/src/pages/affiliate/AffiliateCommission.tsx
  apps/admin-dashboard/src/pages/affiliate/AffiliatePartnerForm.tsx
  apps/admin-dashboard/src/pages/apps/forum/ForumPostForm.tsx
  apps/admin-dashboard/src/pages/content/MediaLibrary.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

25-08-03-15
  .github/workflows/deploy-admin-dashboard.yml
  .github/workflows/deploy-api-server-v2.yml
  .github/workflows/deploy-main-site.yml
  apps/admin-dashboard/package.json
  apps/admin-dashboard/postcss.config.js
  apps/admin-dashboard/src/pages/content/CustomFieldBuilder.tsx
  apps/admin-dashboard/src/pages/content/PageForm.tsx
  apps/admin-dashboard/src/pages/content/PageList.tsx
  apps/admin-dashboard/src/pages/content/PostForm.tsx
  apps/admin-dashboard/src/pages/content/PostList.tsx
  apps/admin-dashboard/src/pages/content/TemplateManager.tsx
  apps/admin-dashboard/src/pages/dashboard/components/Notifications/NotificationItem.tsx
  apps/admin-dashboard/src/pages/dashboard/components/QuickActions/ActionButton.tsx
  apps/admin-dashboard/src/pages/dashboard/components/RecentActivity/index.tsx
  apps/admin-dashboard/src/pages/ecommerce/InventoryManagement.tsx
  apps/admin-dashboard/src/pages/ecommerce/OrderStatusManagement.tsx
  apps/admin-dashboard/src/pages/ecommerce/Orders.tsx
  apps/admin-dashboard/src/pages/ecommerce/ProductCategories.tsx
  apps/admin-dashboard/src/pages/ecommerce/ProductForm.tsx
  apps/admin-dashboard/src/pages/ecommerce/Products.tsx
  apps/admin-dashboard/src/pages/ecommerce/RefundManagement.tsx
  apps/admin-dashboard/src/pages/forms/FormBuilder.tsx
  apps/admin-dashboard/src/pages/media/Library.tsx
  apps/admin-dashboard/src/pages/media/components/MediaUploader.tsx
  apps/admin-dashboard/src/pages/menus/MenuBuilder.tsx
  apps/admin-dashboard/src/pages/menus/MenuList.tsx
  apps/admin-dashboard/src/pages/settings/ReadingSettings.tsx
  apps/admin-dashboard/src/pages/test/GutenbergPage.tsx
  apps/admin-dashboard/src/pages/users-backup/AddUser.tsx
  apps/admin-dashboard/src/pages/users-backup/components/UserFilters.tsx
  apps/admin-dashboard/src/pages/users-backup/components/UserTable.tsx
  apps/admin-dashboard/src/pages/users/UserDetail.tsx
  apps/admin-dashboard/src/pages/vendors/SupplierDashboardPage.tsx
  apps/admin-dashboard/src/test-utils/factories/user.ts
  apps/admin-dashboard/src/test-utils/mocks/handlers.ts
  apps/admin-dashboard/src/types/user.ts
  apps/admin-dashboard/src/utils/appSettings.ts
  package-lock.json
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

25-08-03-16
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/components/users/__tests__/UserDeleteModal.simple.test.tsx
  package-lock.json
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team

25-08-03-17
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/ACFFieldSelector.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/Pagination.tsx
  apps/admin-dashboard/src/blocks/cpt-acf-loop/components/TaxonomyFilter.tsx
Owners: @o4o-platform/admin-team

25-08-03-18
  apps/admin-dashboard/src/components/users/__tests__/UserForm.simple.test.tsx
  apps/admin-dashboard/src/components/users/__tests__/UserRoleChangeModal.simple.test.tsx
Owners: @o4o-platform/admin-team

fix: downgrade @types/wordpress__block-editor to resolve npm audit vulnerability
  apps/admin-dashboard/package.json
  package-lock.json
Owners: @o4o-platform/devops-team

chore: update apps folder timestamp
  apps/.gitkeep
Owners: @o4o-platform/core-team

chore: update all folder timestamps
  .claude/.gitkeep
  .github/.gitkeep
  README.md
  packages/.gitkeep
  scripts/.gitkeep
Owners: @o4o-platform/core-team, @o4o-platform/devops-team, @o4o-platform/docs-team

feat: OAuth settings management panel
  apps/admin-dashboard/src/constants/oauth.ts
  apps/admin-dashboard/src/pages/settings/OAuthSettings.tsx
  apps/admin-dashboard/src/pages/settings/Settings.tsx
  apps/admin-dashboard/src/types/oauth.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/adminOnly.ts
  apps/api-server/src/middleware/validateDto.ts
  apps/api-server/src/routes/settings.routes.ts
  apps/api-server/src/types/settings.ts
  apps/api-server/src/utils/crypto.ts
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/api-team

chore: clean up redundant folders and temporary files
  docs/reports/korean/o4o_플랫폼_통합실행계획서.md
  docs/reports/korean/공통컴포넌트_디자인시스템_파트너통합.md
  docs/reports/korean/디지털사이니지_모듈_파트너시스템_통합.md
  docs/reports/korean/크라우드펀딩_모듈_파트너시스템_통합.md
  docs/reports/korean/포럼_모듈_파트너시스템_통합.md
  docs/reports/korean/프로젝트_완료보고서.md
  fix-admin-ts-errors.cjs
  fix-all-ts-errors.cjs
  fix-remaining-ts-errors.cjs
  fix-specific-ts-errors.cjs
  nginx/sites-available/admin.neture.co.kr
  nginx/sites-available/api.neture.co.kr
  nginx/sites-available/auth.neture.co.kr
  nginx/sites-available/forum.neture.co.kr
  nginx/sites-available/neture.co.kr
  nginx/sites-available/shop.neture.co.kr
  package-lock.json
  temp-package.json
Owners: @o4o-platform/docs-team, @o4o-platform/core-team, @o4o-platform/devops-team

25-08-06-1
  .claude/settings.local.json
  BUNDLE_OPTIMIZATION_REPORT_2025_08_05.md
  O4O_PLATFORM_STATUS_REPORT_2025_08_05.md
  apps/api-server/.env.backup.20250805_235127
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/backend-team

fix: resolve CI/CD pipeline errors
  .github/workflows/deploy-api-server.yml
  apps/api-server/src/database/connection.ts
  apps/main-site/src/hooks/useAuth.tsx
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/frontend-team

fix: resolve all CI/CD errors and ESLint warnings
  apps/api-server/src/database/migrations/1700000000000-CreateUsersTable.ts
  apps/api-server/src/routes/account-linking.routes.ts
  apps/api-server/src/routes/admin/security.ts
  apps/api-server/src/routes/sessions.ts
  apps/api-server/src/routes/unified-auth.routes.ts
  apps/main-site/src/hooks/useAuth.tsx
  apps/main-site/src/pages/auth/EmailVerificationSuccess.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/frontend-team

feat: add manual workflow dispatch trigger to CI pipelines
  .github/workflows/ci.yml
  .github/workflows/main.yml
Owners: @o4o-platform/devops-team

fix: update UI component imports to use @o4o/ui package
  apps/main-site/src/pages/auth/AuthCallbackV2.tsx
  apps/main-site/src/pages/auth/EmailVerificationError.tsx
  apps/main-site/src/pages/auth/EmailVerificationPending.tsx
  apps/main-site/src/pages/auth/OAuthCallback.tsx
Owners: @o4o-platform/frontend-team

fix: resolve TypeScript build errors for server deployment
  apps/api-server/tsconfig.json
Owners: @o4o-platform/devops-team

fix: add environment variables to deploy-api-server-v2 workflow
  .github/workflows/deploy-api-server-v2.yml
Owners: @o4o-platform/devops-team

fix: resolve CI/CD pipeline errors and build issues
  apps/api-server/package.json
  apps/api-server/src/main.ts
  apps/api-server/tsconfig.json
  package-lock.json
  packages/auth-context/tsconfig.json
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix: stabilize auth-context build for server deployment
  packages/auth-context/build.js
  packages/auth-context/package.json
  packages/auth-context/tsconfig.json
  scripts/server-build.sh
Owners: @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/core-team

fix: resolve SSH connection issues in GitHub Actions
  .github/workflows/debug-ssh.yml
  .github/workflows/deploy-main-site-v2.yml
  apps/api-server/package.json
  apps/api-server/src/test-server.ts
  scripts/update-deploy-workflows.sh
  vite.config.shared.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/core-team

feat: generate package-lock.json via GitHub Actions
  package-lock.json
Owners: @o4o-platform/devops-team

fix: resolve github-script syntax errors in workflows
  .github/workflows/pr-checks.yml
Owners: @o4o-platform/devops-team

fix: resolve build errors for API server and Admin Dashboard
  apps/admin-dashboard/src/styles/globals.css
  apps/api-server/.env.test
  apps/api-server/src/types/express.d.ts
  apps/api-server/tsconfig.json
  apps/forum/src/styles/globals.css
  apps/forum/tailwind.config.js
  packages/auth-context/build-server.js
  packages/auth-context/package.json
  scripts/build-packages-server.sh
  server-build.sh
Owners: @o4o-platform/admin-team, @o4o-platform/backend-team, @o4o-platform/devops-team, @o4o-platform/core-team, @o4o-platform/security-team

feat: add deployment diagnostics and improved health checks
  .github/workflows/deploy-main-site-v3.yml
  scripts/check-deployment.sh
  scripts/server-diagnostics.sh
Owners: @o4o-platform/devops-team, @o4o-platform/core-team

fix: resolve SSH configuration error in deployment workflow
  .github/workflows/deploy-main-site-v3.yml
Owners: @o4o-platform/devops-team

fix: API 서버 TypeScript 타입 에러 해결 및 recharts 제거
  apps/admin-dashboard/.env.production
  apps/admin-dashboard/index.html
  apps/admin-dashboard/package.json
  apps/admin-dashboard/public/vite.svg
  apps/admin-dashboard/src/pages/monitoring/PerformanceDashboard.tsx
  apps/admin-dashboard/vite.config.ts
  apps/api-server/src/controllers/CrowdfundingController.ts
  apps/api-server/src/controllers/analyticsController.ts
  apps/api-server/src/controllers/mediaController.ts
  apps/api-server/src/controllers/operationsController.ts
  apps/api-server/src/controllers/statusPageController.ts
  apps/api-server/src/controllers/templatesController.ts
  apps/api-server/src/controllers/vendor/vendorOrderController.ts
  apps/api-server/src/controllers/vendor/vendorProductController.ts
  apps/api-server/src/controllers/vendor/vendorStatsController.ts
  apps/api-server/src/middleware/auth-v2.ts
  apps/api-server/src/middleware/auth.middleware.ts
  apps/api-server/src/middleware/authMiddleware.ts
  apps/api-server/src/middleware/performanceMonitor.ts
  apps/api-server/src/routes/linked-accounts.ts
  apps/api-server/src/routes/vendor.ts
  apps/api-server/src/types/auth.ts
  apps/api-server/src/types/global.d.ts
  apps/api-server/tsconfig.json
  package-lock.json
Owners: @o4o-platform/admin-team, @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/api-team

fix: ESLint 경고 수정
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
  apps/main-site/src/hooks/useTemplateParts.ts
Owners: @o4o-platform/admin-team, @o4o-platform/frontend-team

docs: CLAUDE.md에 코드 변경 시 체크리스트 추가
  CLAUDE.md
Owners: @o4o-platform/docs-team

fix: useBlockPatterns 함수 정의 순서 수정
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
Owners: @o4o-platform/admin-team

feat: useBlockPatterns 훅 완성 - WordPress 블록 패턴 관리 기능 구현
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
Owners: @o4o-platform/admin-team

fix: npm audit 취약점 수정 및 WordPress 패키지 호환성 개선
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/components/editor/WordPressBlockEditor.tsx
  apps/api-gateway/package.json
  apps/ecommerce/package.json
  apps/main-site/package.json
  package-lock.json
  package.json
Owners: @o4o-platform/devops-team, @o4o-platform/admin-team
