Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team

chore: refresh pnpm-lock glob deprecation metadata
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team

feat(neture): detect dynamic detail-contents source in supplier import assistant
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/product-import/parser.ts
  services/web-neture/src/lib/product-import/types.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(neture): copy imported detail images to O4O storage + reject login-gated sources
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(neture): route import detail-image copy through MediaLibraryService (existing bucket)
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
Owners: @o4o-platform/backend-team

fix(neture): align product-import image storage to working bucket + de-silence failures
  apps/api-server/src/database/migrations/20261130000000-AddImageImportResultToCsvBatch.ts
  apps/api-server/src/modules/catalog-import/services/catalog-import.service.ts
  apps/api-server/src/modules/neture/entities/SupplierCsvImportBatch.entity.ts
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/image-storage.service.ts
  apps/api-server/src/modules/neture/services/product-import-common.service.ts
  services/web-neture/src/lib/api/csvImport.ts
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(neture): pivot import assistant to supplier's own Firstmall admin product HTML
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
  services/web-neture/src/lib/product-import/parser.ts
  services/web-neture/src/lib/product-import/types.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(neture): admin import shop-domain detection by host frequency (skip w3.org namespace)
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
Owners: @o4o-platform/core-team

fix(neture): strip images from auto-loaded admin detail body (O4O-only insertion)
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
Owners: @o4o-platform/core-team

feat(ai): QR 전용 AI 설명 endpoint 공통 기반 — 단일/코너 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/services/ai-prompts/qrDescription.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team

feat(kpa-qr): AI 설명 QR 만들기 — 단일 상품 E2E (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-qr): AI 설명 QR 코너 모드 + 공개 items 렌더 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/api/storeQr.ts
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
  services/web-kpa-society/src/pages/qr/QrLandingPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(neture): proxy-preview + default selection for admin product import (no mixed content)
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(kpa-store): 매장 경영활용 제품 등록 보완 — 이미지 업로드·바코드·콘텐츠 가져오기 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1)
  apps/api-server/src/database/migrations/20261201000000-AddBarcodeToStoreLocalProduct.ts
  apps/api-server/src/routes/platform/entities/store-local-product.entity.ts
  apps/api-server/src/routes/platform/store-local-product.routes.ts
  services/web-kpa-society/src/api/localProducts.ts
  services/web-kpa-society/src/components/store/StoreContentImportModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreLocalProductsPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/api-team, @o4o-platform/core-team

feat(kpa-qr): AI 설명 목록 식별 + publicUrl 호스트 수정 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/api/storeQr.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

fix(kpa-qr): QR 목록 쿼리 깨짐 수정 — landing_target_id(varchar) uuid 캐스트 에러 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
Owners: @o4o-platform/api-team

docs(kpa-store): CHECK 보고 — 매장 경영활용 제품 등록 보완 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1)
  docs/work-orders/CHECK-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1.md
Owners: @o4o-platform/docs-team

docs(check): QR 전용 AI 설명(단일/코너) 완료 보고 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  docs/work-orders/WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1-CHECK.md
Owners: @o4o-platform/docs-team

fix(neture): preserve original resolution for imported detail images (no blur)
  apps/api-server/src/modules/media/services/media-library.service.ts
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

docs(kpa-store): CHECK 업데이트 — 브라우저 UI 스모크 PASS + 마이그레이션 번호 체계 확인 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1)
  docs/work-orders/CHECK-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-qr): AI 설명 QR 관리 closure — 수정/재생성/QR설정/필터 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/store-library-feed.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/api/storeQr.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

@ feat(kpa-store-hub): 약국 운영 허브 메뉴를 내 약국 축으로 정렬 (WO-O4O-KPA-STORE-HUB-MENU-ALIGNMENT-WITH-MY-STORE-V1)
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
  services/web-kpa-society/src/pages/pharmacy/HubB2BCatalogPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubBlogLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubContentLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubMultilingualContentLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubPopLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubQrLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubVideoLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreMultilingualContentsMyPage.tsx
Owners: @o4o-platform/core-team

fix(neture): width-based policy for preserveOriginal detail-image overflow
  apps/api-server/src/modules/media/services/media-library.service.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
Owners: @o4o-platform/backend-team

docs(check): QR AI 설명 관리 closure 완료 보고 추가 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  docs/work-orders/WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1-CHECK.md
Owners: @o4o-platform/docs-team

docs(ai-image): IR 선행조사 — 공용 AI 이미지 보정 기반 (WO-O4O-SHARED-AI-IMAGE-ENHANCEMENT-FOUNDATION-V1)
  docs/work-orders/IR-O4O-SHARED-AI-IMAGE-ENHANCEMENT-FOUNDATION-V1.md
Owners: @o4o-platform/docs-team

docs(ai-image): IR 결정 기록 — 옵션 B / Photoroom / 키수령 후 일괄구현 (WO-O4O-SHARED-AI-IMAGE-ENHANCEMENT-FOUNDATION-V1)
  docs/work-orders/IR-O4O-SHARED-AI-IMAGE-ENHANCEMENT-FOUNDATION-V1.md
Owners: @o4o-platform/docs-team

docs(ai-image): WO 취소 기록 — AI 사진 보정 기능 개발 전면 취소 (WO-O4O-SHARED-AI-IMAGE-ENHANCEMENT-FOUNDATION-V1)
  docs/work-orders/IR-O4O-SHARED-AI-IMAGE-ENHANCEMENT-FOUNDATION-V1.md
Owners: @o4o-platform/docs-team

feat(neture): restore server-side 1000x1000 representative thumbnail (large candidate default)
  apps/api-server/src/modules/media/services/media-library.service.ts
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

fix(neture): render Korean/× as real chars in import thumbnail badge/note (no \uXXXX)
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/core-team

feat(kpa-store): 주문 상품 목록 공급유형 5탭 + 통합 조회 API (WO-O4O-KPA-STORE-ORDERABLE-PRODUCT-SOURCE-TABS-V1)
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-products.controller.ts
  services/web-kpa-society/src/api/pharmacyProducts.ts
  services/web-kpa-society/src/pages/pharmacy/PharmacyB2BPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

@ fix(neture): insert import detail images as block <img> (no wrapping <p>) to remove leading empty paragraph
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Owners: @o4o-platform/core-team

@ docs(neture): IR — 공급자 가입/활성화 흐름 전수조사 (read-only)
  docs/work-orders/IR-O4O-NETURE-SUPPLIER-APPROVAL-AND-ACTIVATION-FLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa-store): orderable에서 이벤트 주문 파생 OPL 제외 (WO-O4O-KPA-STORE-ORDERABLE-PRODUCT-SOURCE-TABS-V1)
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-products.controller.ts
Owners: @o4o-platform/api-team

@ feat(neture): 공급자 활성화 게이트 정합 + 실패 사유 노출 + 상품등록 사전 게이트
  apps/api-server/src/modules/neture/controllers/admin.controller.ts
  apps/api-server/src/modules/neture/controllers/operator-supplier.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  services/web-neture/src/components/supplier/SupplierActivationGate.tsx
  services/web-neture/src/lib/api/admin.ts
  services/web-neture/src/lib/api/index.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/admin/AdminSupplierApprovalPage.tsx
  services/web-neture/src/pages/operator/OperatorSupplierApprovalPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductRegisterEntryPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

@ docs(neture): CHECK — 공급자 활성화 게이트 정합 WO 검증 기록
  docs/work-orders/CHECK-O4O-NETURE-SUPPLIER-ACTIVATION-GATE-ALIGN-AND-ERROR-SURFACE-V1.md
Owners: @o4o-platform/docs-team

@ docs(neture): CHECK 갱신 — 배포 success 기록, smoke 사람관측 대기
  docs/work-orders/CHECK-O4O-NETURE-SUPPLIER-ACTIVATION-GATE-ALIGN-AND-ERROR-SURFACE-V1.md
Owners: @o4o-platform/docs-team

feat(kpa-store-hub): /store-hub 홈을 최신 자원 피드로 전환 (WO-O4O-KPA-STORE-HUB-HOME-LATEST-RESOURCE-FEED-V1)
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-products.controller.ts
  packages/shared-space-ui/src/StoreHubTemplate.tsx
  services/web-kpa-society/src/api/pharmacyProducts.ts
  services/web-kpa-society/src/pages/pharmacy/StoreHubLatestFeed.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(check): CHECK-O4O-KPA-STORE-HUB-HOME-LATEST-RESOURCE-FEED-V1 — KPA 피드 PASS / GP 무회귀 PASS
  docs/checks/CHECK-O4O-KPA-STORE-HUB-HOME-LATEST-RESOURCE-FEED-V1.md
Owners: @o4o-platform/docs-team

style(kpa): align store-hub sidebar group-header to O4O hierarchy token (11px→14px)
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
Owners: @o4o-platform/core-team

feat(neture): operator 공급자 승인 표준 리스트 + paged/batch API + 회원 IA 이동
  apps/api-server/src/modules/neture/controllers/operator-supplier.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/__tests__/supplierListQuery.test.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/lib/api/admin.ts
  services/web-neture/src/pages/operator/OperatorSupplierApprovalPage.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(neture): 대표상품 계층 foundation — representative_products + ProductMaster nullable FK (WO-O4O-PRODUCT-MASTER-REPRESENTATIVE-LINK-FOUNDATION-V1)
  apps/api-server/src/database/entities.ts
  apps/api-server/src/database/migrations/20261202000000-CreateRepresentativeProductsAndLink.ts
  apps/api-server/src/modules/neture/entities/ProductMaster.entity.ts
  apps/api-server/src/modules/neture/entities/RepresentativeProduct.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  docs/checks/CHECK-O4O-PRODUCT-MASTER-REPRESENTATIVE-LINK-FOUNDATION-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team
