Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

docs(ecommerce): WO-O4O-CHECKOUT-SERVICE-RETAIL-CHANNEL-SUPPORT-V1 설계 — checkout_orders canonical 유지하며 retail/channel 수용안(B+C 권장)
  docs/work-orders/WO-O4O-CHECKOUT-SERVICE-RETAIL-CHANNEL-SUPPORT-V1.md
Owners: @o4o-platform/docs-team

fix(neture): WO-O4O-NETURE-OPERATOR-SIDEBAR-DEAD-LINKS-CLEANUP-V1 — 운영자 사이드바 죽은 링크 정정
  services/web-neture/src/config/operatorMenuGroups.ts
Owners: @o4o-platform/core-team

docs(ecommerce): WO-O4O-CHECKOUT-ORDERS-SCHEMA-CONTRACT-ALIGNMENT-V1 — checkout_orders schema↔계약 drift + 마이그레이션 설계(order_type ADD, supplierId nullable)
  docs/work-orders/WO-O4O-CHECKOUT-ORDERS-SCHEMA-CONTRACT-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

feat(ecommerce): WO-O4O-CHECKOUT-ORDERS-SCHEMA-CONTRACT-ALIGNMENT-V1 — checkout_orders order_type 추가 + supplierId nullable (계약 정합)
  apps/api-server/src/database/migrations/20261102000000-AlignCheckoutOrdersSchemaContract.ts
Owners: @o4o-platform/backend-team

feat(neture): WO-O4O-NETURE-OPERATOR-MEMBER-SUPPLIER-STATUS-VISIBILITY-V1 — 회원 목록에 공급자 프로필 상태 노출
  services/web-neture/src/lib/api/admin.ts
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Owners: @o4o-platform/core-team

docs(infra): IR-O4O-PLAYWRIGHT-MCP-AND-TEST-ACCOUNT-SMOKE-BLOCKER-AUDIT-V1 — Playwright MCP/계정 차단요인 조사 기록
  docs/investigations/IR-O4O-PLAYWRIGHT-MCP-AND-TEST-ACCOUNT-SMOKE-BLOCKER-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(glycopharm): TypeScript 오류 정리 (lms/hub/resources/instructor/layout)
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/lms.ts
  services/web-glycopharm/src/api/resources.ts
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/components/layouts/GlycoPharmHubLayout.tsx
  services/web-glycopharm/src/pages/hub/HubBlogLibraryPage.tsx
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
  services/web-glycopharm/src/pages/instructor/InstructorDashboardPage.tsx
  services/web-glycopharm/src/pages/resources/ResourcesPage.tsx
  services/web-glycopharm/src/pages/store-management/StoreProductDescriptionsPage.tsx
Owners: @o4o-platform/core-team

style(kpa): refine home hero color composition
  packages/shared-space-ui/src/HeroBannerSection.tsx
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/core-team

docs: audit O4O global icon usage
  docs/investigations/IR-O4O-GLOBAL-ICON-USAGE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): remove '이용 가이드' item from KPA-Society header nav
  packages/shared-space-ui/src/HeroBannerSection.tsx
Owners: @o4o-platform/core-team

fix(kpa): remove '이용 가이드' item from KPA-Society header nav
  services/web-kpa-society/src/config/navigation.ts
Owners: @o4o-platform/core-team

docs: define O4O global icon system standard
  docs/baseline/O4O-GLOBAL-ICON-SYSTEM-STANDARD-V1.md
Owners: @o4o-platform/docs-team

docs(kpa): WO-KPA-HOME-HERO-COLOR-COMPOSITION-REFINE-V2 완료 기록 + Git 이력 예외 명시
  docs/work-orders/WO-KPA-HOME-HERO-COLOR-COMPOSITION-REFINE-V2-COMPLETION.md
Owners: @o4o-platform/docs-team

feat(kpa): align store hub icons with global standard
  docs/investigations/CHECK-O4O-KPA-STORE-HUB-ICON-ALIGNMENT-V1.md
  packages/shared-space-ui/src/StoreHubTemplate.tsx
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

style(kpa): rebalance home hero color composition
  packages/shared-space-ui/src/HeroBannerSection.tsx
Owners: @o4o-platform/core-team

docs: add Phase 2 WO for GlycoPharm store hub & channel icon alignment
  docs/work-orders/WO-O4O-GLYCOPHARM-STORE-HUB-CHANNEL-ICON-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

docs: lock SIGNAGE icon decision in GlycoPharm Phase 2 WO
  docs/work-orders/WO-O4O-GLYCOPHARM-STORE-HUB-CHANNEL-ICON-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

fix(kpa): use Sparkles for store hub AI recommendation icon
  docs/investigations/CHECK-O4O-KPA-STORE-HUB-ICON-ALIGNMENT-V1.md
  packages/shared-space-ui/src/StoreHubTemplate.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(glycopharm): align store hub & channel icons with global standard
  docs/investigations/CHECK-O4O-GLYCOPHARM-STORE-HUB-CHANNEL-ICON-ALIGNMENT-V1.md
  services/web-glycopharm/src/pages/hub/StoreHubPage.tsx
  services/web-glycopharm/src/pages/store/StoreChannelsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

feat(icons): GlycoPharm supplement + K-Cosmetics Phase 3 icon alignment
  docs/investigations/CHECK-O4O-ICON-ALIGNMENT-GLYCO-SUPPLEMENT-AND-KCOS-PHASE3-V1.md
  services/web-glycopharm/src/pages/hub/StoreHubPage.tsx
  services/web-glycopharm/src/pages/store/StoreChannelsPage.tsx
  services/web-k-cosmetics/src/pages/hub/KCosmeticsHubPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreChannelsPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs: audit operator mobile nav layout across 4 services
  docs/investigations/IR-O4O-OPERATOR-MOBILE-NAV-LAYOUT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs: add WO for operator mobile hamburger drawer nav
  docs/work-orders/WO-O4O-OPERATOR-MOBILE-NAV-DRAWER-V1.md
Owners: @o4o-platform/docs-team

fix(operator): replace mobile horizontal tabs with hamburger drawer nav
  docs/investigations/CHECK-O4O-OPERATOR-MOBILE-NAV-DRAWER-V1.md
  packages/operator-ux-core/src/layout/OperatorAreaShell.tsx
  packages/operator-ux-core/src/sidebar/DomainIASidebar.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs: record operator mobile drawer live smoke PASS
  docs/investigations/CHECK-O4O-OPERATOR-MOBILE-NAV-DRAWER-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): restore store hub asset create actions
  services/web-kpa-society/src/pages/pharmacy/HubBlogLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubPopLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubQrLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
Owners: @o4o-platform/core-team

docs: add Neture Phase 4 icon alignment WO
  docs/work-orders/WO-O4O-NETURE-HOME-ROLE-MARKET-TRIAL-ICON-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

feat(neture): align home role and market trial icons with global standard
  docs/investigations/CHECK-O4O-NETURE-HOME-ROLE-MARKET-TRIAL-ICON-ALIGNMENT-V1.md
  services/web-neture/src/components/RegisterModal.tsx
  services/web-neture/src/pages/CommunityPage.tsx
  services/web-neture/src/pages/PartnerLandingPage.tsx
  services/web-neture/src/pages/SupplierLandingPage.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs: record Neture Phase 4 icon live smoke PASS
  docs/investigations/CHECK-O4O-NETURE-HOME-ROLE-MARKET-TRIAL-ICON-ALIGNMENT-V1.md
Owners: @o4o-platform/docs-team

docs: audit operator/admin quick actions icon rendering
  docs/investigations/IR-O4O-OPERATOR-ADMIN-QUICK-ACTIONS-ICON-AUDIT-V1.md
Owners: @o4o-platform/docs-team

docs: add IR-KPA-STORE-CONTENT-LIBRARY-AND-ASSET-CREATION-FLOW-AUDIT-V1
  docs/investigations/IR-KPA-STORE-CONTENT-LIBRARY-AND-ASSET-CREATION-FLOW-AUDIT-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): add cross-create actions in store library
  services/web-kpa-society/src/pages/pharmacy/StoreLibraryContentsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StorePopPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductionMaterialsPage.tsx
Owners: @o4o-platform/core-team

docs: add Phase A WO for dashboard action icon-name mapping
  docs/work-orders/WO-O4O-DASHBOARD-ACTION-ICON-NAME-MAP-V1.md
Owners: @o4o-platform/docs-team

fix(dashboard): map quick/structure action icon names to lucide
  docs/investigations/CHECK-O4O-DASHBOARD-ACTION-ICON-NAME-MAP-V1.md
  packages/admin-ux-core/package.json
  packages/admin-ux-core/src/blocks/ActionIcon.tsx
  packages/admin-ux-core/src/blocks/StructureActionBlock.tsx
  packages/operator-ux-core/src/blocks/ActionIcon.tsx
  packages/operator-ux-core/src/blocks/QuickActionBlock.tsx
  pnpm-lock.yaml
Owners: @o4o-platform/docs-team, @o4o-platform/devops-team, @o4o-platform/core-team

docs: record Phase A dashboard icon live smoke PASS
  docs/investigations/CHECK-O4O-DASHBOARD-ACTION-ICON-NAME-MAP-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): persist generated pop pdf results
  apps/api-server/src/routes/o4o-store/controllers/store-pop.controller.ts
  services/web-kpa-society/src/pages/pharmacy/StorePopPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductionMaterialsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs: add Phase B WO for dashboard action icon vocabulary standardize
  docs/work-orders/WO-O4O-DASHBOARD-ACTION-ICON-VOCAB-STANDARDIZE-V1.md
Owners: @o4o-platform/docs-team

feat(dashboard): WO-O4O-DASHBOARD-ACTION-ICON-VOCAB-STANDARDIZE-V1 — KPA backend emoji → lucide + vocab 16종 확장 (Phase B)
  apps/api-server/src/routes/kpa/services/operator-dashboard.service.ts
  docs/investigations/CHECK-O4O-DASHBOARD-ACTION-ICON-VOCAB-STANDARDIZE-V1.md
  packages/admin-ux-core/src/blocks/ActionIcon.tsx
  packages/operator-ux-core/src/blocks/ActionIcon.tsx
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

feat(kpa): support content sources for pop pdf generation
  apps/api-server/src/routes/o4o-store/controllers/store-pop.controller.ts
  services/web-kpa-society/src/pages/pharmacy/StorePopPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductionMaterialsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

docs(dashboard): WO-O4O-ADMIN-QUICKACTION-FRONTEND-CONVERGE-V1 (Phase C WO)
  docs/work-orders/WO-O4O-ADMIN-QUICKACTION-FRONTEND-CONVERGE-V1.md
Owners: @o4o-platform/docs-team

feat(kpa): WO-O4O-KPA-HOME-VALUE-CARDS-AFTER-GUIDE-V1 — "내 역할로 시작하기"를 이용 가이드 아래로 이동
  packages/shared-space-ui/src/StandardHomeTemplate.tsx
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Owners: @o4o-platform/core-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
