Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

chore(drug-otc): 나 claim — biotin·칼슘+D EN 완결 DONE 갱신 (WO-O4O-OTC-NUTRITION-COMBO-COMPLEX-EN-3H-PILOT-NA-V1)
  apps/api-server/src/scripts/data/otc-production-claim.na.json
Owners: @o4o-platform/devops-team

feat(store-tablet): HUB 가져오기→콘텐츠 확인·적용 last-mile 정비 + 태블렛 표기 통일 (WO-O4O-STORE-TABLET-LAST-MILE-UX-CLEANUP-V1)
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
  services/web-kpa-society/src/pages/pharmacy/HubScreenSetLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletContentLibraryList.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Owners: @o4o-platform/core-team

feat(forum): Neture 포럼 삭제 Operator(soft)/Admin(hard) 분리 (WO-O4O-NETURE-FORUM-DELETE-OPERATOR-AND-ADMIN-SEPARATION-V1)
  apps/api-server/src/routes/forum/admin-forum.routes.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  apps/api-server/src/routes/forum/operator-forum.routes.ts
  apps/api-server/src/services/forum/forumHardDelete.ts
  docs/checks/CHECK-O4O-NETURE-FORUM-DELETE-OPERATOR-AND-ADMIN-SEPARATION-V1.md
  packages/operator-core-ui/src/modules/forum-categories/OperatorForumCategoriesPage.tsx
  packages/operator-core-ui/src/modules/forum-categories/types.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/pages/admin/ForumDeletedManagementPage.tsx
  services/web-neture/src/pages/operator/ForumDeletePage.tsx
  services/web-neture/src/pages/operator/index.ts
  services/web-neture/src/services/forumApi.ts
Owners: @o4o-platform/api-team, @o4o-platform/backend-team, @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): nutrition_combo 다효능 EN-only 잔여 10그룹 감사·분류 + 조기 종료 (에이전트 가) (WO-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-3H-PILOT-GA-V1)
  docs/checks/CHECK-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-3H-PILOT-GA-V1.md
Owners: @o4o-platform/docs-team

docs(check): 매장 태블렛 last-mile UX 정비 프로덕션 E2E PASS (WO-O4O-STORE-TABLET-LAST-MILE-UX-CLEANUP-V1)
  docs/checks/CHECK-O4O-STORE-TABLET-LAST-MILE-UX-CLEANUP-V1.md
Owners: @o4o-platform/docs-team

feat(supplier): 매장용 설명서 언어별(ko/en/zh/ja) 편집기 (WO-O4O-SUPPLIER-STORE-DESCRIPTION-LANGUAGE-EDITOR-V1)
  services/web-neture/src/pages/supplier/SupplierStoreDescriptionEditorDrawer.tsx
Owners: @o4o-platform/core-team

docs(check): 공급자 매장용 설명서 언어별 편집기 (WO-O4O-SUPPLIER-STORE-DESCRIPTION-LANGUAGE-EDITOR-V1)
  docs/checks/CHECK-O4O-SUPPLIER-STORE-DESCRIPTION-LANGUAGE-EDITOR-V1.md
Owners: @o4o-platform/docs-team

feat(hff): select 직접 statementNo 주입(--statement-nos-file) — ILIKE 전수스캔 제거 (Agent B)
  apps/api-server/src/scripts/hff-raw-source.ts
  docs/checks/CHECK-O4O-HFF-SELECT-DIRECT-STMT-INJECTION-B-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

chore(otc-claim): 에이전트 가 nutrition_combo EN-only claim 3그룹 — 벤포벨브이·셀레트론플러스·눈모아 (WO-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-3H-PILOT-GA-V1)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

feat(drug-otc): nutrition_combo 다효능 EN-only 생산 3그룹 30 master LIVE (에이전트 가) (WO-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-3H-PILOT-GA-V1)
  apps/api-server/src/scripts/data/otc-combo-en-only-ga-benfovel-v.run.json
  apps/api-server/src/scripts/data/otc-combo-en-only-ga-nunmoa.run.json
  apps/api-server/src/scripts/data/otc-combo-en-only-ga-seletron-plus.run.json
  apps/api-server/src/scripts/data/otc-nutrition-combo-multi-en-ga.config.json
  docs/checks/CHECK-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-PRODUCTION-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-combo-multi-ga-v1.json
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

chore(otc-claim): 가 combo claim 확장 — 셀타골드·비타콤보씨·센트본 추가(+파일럿 3 DONE) (WO-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-3H-PILOT-GA-V1)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

feat(drug-otc): nutrition_combo 다효능 EN-only 배치2 3그룹 708 master LIVE + 안전풀 소진 종료 (에이전트 가) (WO-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-3H-PILOT-GA-V1)
  apps/api-server/src/scripts/data/otc-combo-en-only-ga-centbon.run.json
  apps/api-server/src/scripts/data/otc-combo-en-only-ga-seltagold-s.run.json
  apps/api-server/src/scripts/data/otc-combo-en-only-ga-vitacombo-c-plus.run.json
  apps/api-server/src/scripts/data/otc-nutrition-combo-multi-en-ga.config.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
  docs/checks/CHECK-O4O-OTC-NUTRITION-COMBO-MULTI-EFFECT-EN-PRODUCTION-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-combo-multi-ga-v2.json
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-combo-seltagold-ga-v1.json
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

fix(store-tablet): deleteTablet 시 corner_contents·current 참조 정리 + 태블렛 표기 통일 (WO-O4O-TABLET-DELETE-CONTENT-CASCADE-AND-TERMINOLOGY-CLEANUP-V1)
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  services/web-kpa-society/src/pages/pharmacy/TabletCornerContentsPanel.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/pages/supplier/SupplierTabletScreenSetsPage.tsx
Owners: @o4o-platform/api-team, @o4o-platform/core-team

feat(hff): shard 1 자동 완결형 생산 — 게이트통과 1그룹 7건 LIVE (Agent B)
  docs/checks/CHECK-O4O-HFF-SHARD1-PRODUCTION-B-V1.md
  docs/checks/data/product-description-guard/shard1-batch/hff-s1-6-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard1-batch/s1-6.gen.json
  docs/checks/data/product-description-guard/shard1-batch/shard1-plan.json
  docs/checks/data/product-description-guard/shard1-batch/shard1-produce-summary.txt
Owners: @o4o-platform/docs-team

feat(hff): select statementNo 직접주입 최적화 + mga-TE 숫자인접 파서 gap 보강 (Agent B 선행정비)
  apps/api-server/src/scripts/hff-combo-select.ts
  apps/api-server/src/scripts/hff-raw-source.ts
  apps/api-server/src/scripts/hff-source-parse.ts
  docs/checks/CHECK-O4O-HFF-SELECT-DIRECTINJECT-AND-MGATE-PARSER-B-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(tablet): 태블릿 상품 UI 이미지 제거 → 텍스트 버튼형 + specification (WO-O4O-TABLET-PRODUCT-TEXT-BUTTON-NO-IMAGE-V1)
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  docs/checks/CHECK-O4O-TABLET-PRODUCT-TEXT-BUTTON-NO-IMAGE-V1.md
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  packages/tablet-kiosk-core/src/types.ts
  services/web-k-cosmetics/src/api/tablet.ts
  services/web-kpa-society/src/api/tablet.ts
Owners: @o4o-platform/api-team, @o4o-platform/docs-team, @o4o-platform/core-team

chore(otc-claim): 가 티티아민(비타민DEC복합) claim — 병용주의 직접번역 완결 대상 (WO-O4O-OTC-NUTRITION-COMBO-INTERACTION-2H-GA-V1)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Owners: @o4o-platform/devops-team

chore(drug-otc): 나 claim — 마그신·레날비타 상호작용 EN (WO-O4O-OTC-NUTRITION-COMBO-MULTI-INTERACTION-2H-NA-V1)
  apps/api-server/src/scripts/data/otc-production-claim.na.json
Owners: @o4o-platform/devops-team

@ chore(otc-claim): 에이전트 다 nutrition_combo claim — 진셀몬큐디플러스 585 master EN_ONLY (WO-O4O-OTC-NUTRITION-COMBO-LARGE-GROUP-2H-DA-V1)
  apps/api-server/src/scripts/data/otc-production-claim.da.json
Owners: @o4o-platform/devops-team

feat(drug-otc): 티티아민 combo EN-only 138 master 완결 LIVE — 병용주의 직접번역 (에이전트 가) (WO-O4O-OTC-NUTRITION-COMBO-INTERACTION-2H-GA-V1)
  apps/api-server/src/scripts/data/otc-combo-en-only-ga-titiamin.run.json
  apps/api-server/src/scripts/data/otc-nutrition-combo-titiamin-en-ga.config.json
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
  docs/checks/CHECK-O4O-OTC-NUTRITION-COMBO-INTERACTION-2H-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-combo-titiamin-ga-v1.json
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

feat(drug-otc): 마그신·레날비타 상호작용 복합제 EN 76건 완결 LIVE (WO-O4O-OTC-NUTRITION-COMBO-MULTI-INTERACTION-2H-NA-V1, 에이전트 나)
  apps/api-server/src/scripts/data/otc-combo-en-only-magnesium-b6.run.json
  apps/api-server/src/scripts/data/otc-combo-en-only-renal-vita-b-c.run.json
  apps/api-server/src/scripts/data/otc-nutrition-combo-interaction-en-na.config.json
  apps/api-server/src/scripts/data/otc-production-claim.na.json
  docs/checks/CHECK-O4O-OTC-NUTRITION-COMBO-MULTI-INTERACTION-2H-NA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-magnesium-b6-combo-na-v1.json
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-renal-vita-b-c-combo-na-v1.json
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team

feat(hff): 복합형 완결형 Batch 3 (shard 2 FNV-1a) 178 LIVE — 풀 고갈 마감 (Agent C)
  docs/checks/CHECK-O4O-HFF-COMBO-C-COMPLETION-BATCH3-SHARD2-V1.md
  docs/checks/data/product-description-guard/hff-combo-c-batch3-completion.json
  docs/checks/data/product-description-guard/hff-combo-c-batch3-rollback-manifest.json
Owners: @o4o-platform/docs-team

docs(check): deleteTablet cascade + 태블렛 표기 통일 프로덕션 E2E PASS (WO-O4O-TABLET-DELETE-CONTENT-CASCADE-AND-TERMINOLOGY-CLEANUP-V1)
  docs/checks/CHECK-O4O-TABLET-DELETE-CONTENT-CASCADE-AND-TERMINOLOGY-CLEANUP-V1.md
Owners: @o4o-platform/docs-team

feat(tablet-qr): QR 공개 상품 UI 이미지 제거 → 텍스트 버튼형 + 상세(WO-O4O-TABLET-QR-PRODUCT-TEXT-BUTTON-ALIGN-AND-SPECIFICATION-SMOKE-V1)
  docs/checks/CHECK-O4O-TABLET-PRODUCT-TEXT-BUTTON-NO-IMAGE-V1.md
  services/web-kpa-society/src/pages/qr/PublicScreenSetViewer.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

@ feat(drug-otc): 진셀몬큐디플러스 585 대형 nutrition_combo 그룹 EN 완결 LIVE (WO-O4O-OTC-NUTRITION-COMBO-LARGE-GROUP-2H-DA-V1)
  apps/api-server/src/scripts/data/otc-nutrition-combo-en-jinselmon-qd-plus.run.json
  apps/api-server/src/scripts/data/otc-nutrition-combo-jinselmon-da.config.json
  apps/api-server/src/scripts/data/otc-production-claim.da.json
  apps/api-server/src/scripts/otc-nutrition-combo-en-only-runner-da.ts
  docs/checks/CHECK-O4O-OTC-NUTRITION-COMBO-LARGE-GROUP-2H-DA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-jinselmon-qd-plus-combo-da-v1.json
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): bfcc2bf8 잔여 orphan 정정 트랜잭션 정리 완료 사후검증 PASS (WO-O4O-TABLET-DELETE-CONTENT-CASCADE-AND-TERMINOLOGY-CLEANUP-V1)
  docs/checks/CHECK-O4O-TABLET-DELETE-CONTENT-CASCADE-AND-TERMINOLOGY-CLEANUP-V1.md
Owners: @o4o-platform/docs-team

docs(check): QR 정비+specification 실측 스모크 결과 기록 (WO-O4O-TABLET-QR-PRODUCT-TEXT-BUTTON-ALIGN-AND-SPECIFICATION-SMOKE-V1)
  docs/checks/CHECK-O4O-TABLET-PRODUCT-TEXT-BUTTON-NO-IMAGE-V1.md
Owners: @o4o-platform/docs-team

feat(hff): shard 0 자동 완결형 생산 Batch 3 — 16그룹 82건 LIVE (Agent A) — totalComboLive +82
  docs/checks/CHECK-O4O-HFF-SHARD0-PRODUCTION-BATCH-3-A-V1.md
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-10.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-11.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-14.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-16.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-18.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-19.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-20.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-22.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-24.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-26.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-28.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-29.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-32.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-33.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-35.gen.json
  docs/checks/data/product-description-guard/shard0-batch/gen/s0-9.gen.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-10-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-11-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-14-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-16-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-18-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-19-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-20-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-22-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-24-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-26-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-28-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-29-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-32-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-33-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-35-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/manifests/hff-s0-9-apply-rollback-manifest.json
  docs/checks/data/product-description-guard/shard0-batch/shard0-produce-summary.txt
Owners: @o4o-platform/docs-team

fix(hff): Batch4 전 정비 read-only — 비타민E 파서 2종 보강 + shard-plan 기능성 모드 (Agent C)
  apps/api-server/src/scripts/hff-combo-shard-plan.ts
  apps/api-server/src/scripts/hff-source-parse.ts
  docs/checks/CHECK-O4O-HFF-COMBO-C-BATCH4-PREP-PARSER-SHARDPLAN-V1.md
  docs/checks/data/product-description-guard/hff-combo-c-batch4-prep-shard-distribution.json
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

docs(check): 다국어·태블렛 보류 DB 검증 재수행 (WO-O4O-MULTILINGUAL-AND-TABLET-DEFERRED-DB-REVERIFY-V1)
  docs/checks/CHECK-O4O-MULTILINGUAL-AND-TABLET-DEFERRED-DB-REVERIFY-V1.md
Owners: @o4o-platform/docs-team

feat(tablet-qr): 공개 화면 출처 배지(O4O표준/매장제작/자체) 미노출 (WO-O4O-TABLET-QR-PUBLIC-SOURCE-BADGE-REMOVE-V1)
  docs/checks/CHECK-O4O-TABLET-PRODUCT-TEXT-BUTTON-NO-IMAGE-V1.md
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  services/web-kpa-society/src/pages/qr/PublicScreenSetViewer.tsx
Owners: @o4o-platform/docs-team, @o4o-platform/core-team

docs(check): STORE canonical 16건 차이 규명 — churn 확정 (WO-O4O-MULTILINGUAL-STORE-LANGUAGE-COUNT-RECONCILIATION-V1)
  docs/checks/CHECK-O4O-MULTILINGUAL-STORE-LANGUAGE-COUNT-RECONCILIATION-V1.md
Owners: @o4o-platform/docs-team

docs(check): 공급자 언어별 설명서 smoke — 원복 불가로 중지·수정 WO 제시 (WO-O4O-SUPPLIER-MULTILINGUAL-STORE-DESCRIPTION-PRODUCTION-SMOKE-V1)
  docs/checks/CHECK-O4O-SUPPLIER-MULTILINGUAL-STORE-DESCRIPTION-PRODUCTION-SMOKE-V1.md
Owners: @o4o-platform/docs-team

feat(hff): 영양소 registry 몰리브덴 확장 + normFn 중점변이 보강 (Agent A)
  apps/api-server/src/scripts/hff-nutrient-registry.ts
  docs/checks/CHECK-O4O-HFF-NUTRIENT-REGISTRY-MOLYBDENUM-EXPANSION-A-V1.md
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(hff): 기능성 원료 7종 registry 해금 + shard2 복합형 853 LIVE (Agent C)
  apps/api-server/src/scripts/hff-combo-compose.ts
  apps/api-server/src/scripts/hff-source-parse.ts
  docs/checks/CHECK-O4O-HFF-FUNCTIONAL-REGISTRY-EXPANSION-BATCH5-C-V1.md
  docs/checks/data/product-description-guard/hff-combo-c-batch5-func-completion.json
  docs/checks/data/product-description-guard/hff-combo-c-batch5-func-rollback-manifest.json
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

chore(drug-otc): 감사 인벤토리 JSON 갱신(48그룹 반영) + 비오틴 ko dry-run 중단 진단 보존 (에이전트 나)
  apps/api-server/src/scripts/data/otc-grounded-upgrade-biotin-5mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-track-a-completion-inventory-and-queue-v1.json
Owners: @o4o-platform/devops-team

chore: 미커밋 파일 일괄 커밋 (OTC Track A '나' 산출물 + pnpm-lock)
  apps/api-server/src/scripts/data/otc-en-complete-citrulline-500mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-en-complete-trimebutine-100mg.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-citrulline-500mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-citrulline-500mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-ko-en-bundle-track-a-3h-na.config.json
  apps/api-server/src/scripts/data/otc-ko-en-bundle-track-a-3h-na.summary.json
  apps/api-server/src/scripts/otc-fp-harvest-na.ts
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-citrulline-500mg-na-v1.json
  pnpm-lock.yaml
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(supplier): 공급자 STORE 설명서 철회(withdraw) — soft delete 재사용 (WO-O4O-SUPPLIER-STORE-DESCRIPTION-WITHDRAW-V1)
  apps/api-server/src/modules/neture/controllers/supplier-store-description.controller.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
  services/web-neture/src/lib/api/supplierStoreDescription.ts
  services/web-neture/src/pages/supplier/SupplierStoreDescriptionEditorDrawer.tsx
Owners: @o4o-platform/backend-team, @o4o-platform/core-team

feat(hff): 복합형 tag-agnostic 정본 verifier + 신규 대량 후보 풀 census (Agent B, read-only)
  apps/api-server/src/scripts/hff-candidate-pool-census.ts
  apps/api-server/src/scripts/hff-combo-live-verify.ts
  apps/api-server/src/scripts/hff-combo-verifier-regression.ts
  apps/api-server/src/scripts/hff-combo-verify-committed.ts
  apps/api-server/src/scripts/hff-probiotics-remaining-probe.ts
  apps/api-server/src/scripts/hff-single-functional-producible.ts
  docs/checks/CHECK-O4O-HFF-COMBO-LIVE-VERIFIER-CANONICAL-AND-CANDIDATE-POOL-CENSUS-B-V1.md
  docs/checks/data/product-description-guard/hff-candidate-pool-census.json
  docs/checks/data/product-description-guard/hff-single-functional-producible.json
Owners: @o4o-platform/backend-team, @o4o-platform/docs-team

feat(hff): shard 2 잔여 완결 91건 LIVE — 복합형 3,845→3,936 (Agent C)
  docs/checks/CHECK-O4O-HFF-SHARD2-REMAINDER-COMPLETION-C-V1.md
  docs/checks/data/product-description-guard/hff-combo-c-shard2-rem-completion.json
  docs/checks/data/product-description-guard/hff-combo-c-shard2-rem-rollback-manifest.json
Owners: @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
