Repository Renagang21/o4o-platform, changes with the owners that .github/CODEOWNERS names for each.
All owners: @o4o-platform/core-team, @o4o-platform/backend-team, @o4o-platform/database-team, @o4o-platform/api-team, @o4o-platform/frontend-team, @o4o-platform/ui-team, @o4o-platform/admin-team, @o4o-platform/security-team, @o4o-platform/devops-team, @o4o-platform/docs-team

fix(otc-en): correct 69 mistranslated oral verbs in non-oral leaflets
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-adjudication-all540.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-checkpoint.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-checkpoint.run-20260731T142020.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-checkpoint.run-20260731T142049.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-idempotency.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-idempotency.run-20260731T142221.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-plan.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-plan.run-20260731T142006.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-plan.run-20260731T142019.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-plan.run-20260731T142020.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-plan.run-20260731T142049.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-result.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-result.run-20260731T142020.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-result.run-20260731T142049.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-fix-verify.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-invalid-targets-all540.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-review-blocked-all540.ga.json
  apps/api-server/src/scripts/data/otc-en-nonoral-verb-summary-all540.ga.json
  apps/api-server/src/scripts/otc-en-nonoral-verb-adjudication.ga.ts
  apps/api-server/src/scripts/otc-en-nonoral-verb-fix-verify.ga.ts
  apps/api-server/src/scripts/otc-en-nonoral-verb-fix.ga.ts
  docs/work-orders/WO-O4O-DRUG-OTC-EN-NONORAL-VERB-SOURCE-ADJUDICATION-AND-MINIMAL-FIX-V1-CHECK.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

feat(hff-en): batch 01 - restore EN function sections for 791 canonicals
  apps/api-server/src/scripts/data/hff-en-batch-01-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch-01-glossary-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-manual-glossary-2-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-manual-glossary-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-population-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-translation-assets-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-completed-through-batch-01-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-remaining-after-batch-01-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-apply.mjs
  apps/api-server/src/scripts/hff-en-batch-01-assets.mjs
  apps/api-server/src/scripts/hff-en-batch-01-classify.mjs
  apps/api-server/src/scripts/hff-en-batch-01-glossary.mjs
  apps/api-server/src/scripts/hff-en-batch-01-population.mjs
  apps/api-server/src/scripts/hff-en-batch-01-render.mjs
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-batch-01-verify.mjs
  docs/checks/CHECK-O4O-HFF-EN-BULK-PRODUCTION-BATCH-01-5000-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(cosmetics): restore product listing queries and schema
  apps/api-server/src/__tests__/cosmetics-product-query.test.ts
  apps/api-server/src/database/migrations/20270220000000-AddCosmeticsProductInfoColumns.ts
  apps/api-server/src/routes/cosmetics/repositories/cosmetics-store.repository.ts
  apps/api-server/src/routes/cosmetics/repositories/cosmetics.repository.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

audit(otc-en): bulk-audit batch 01 of OTC store EN canonical (5,000)
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-ledger.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-manifest.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-pass-existing.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-retranslate-invalid.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-review-required.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-summary.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-summary.md
  apps/api-server/src/scripts/data/otc-store-en-audit-batch01-translated-missing.ga.json
  apps/api-server/src/scripts/otc-store-en-bulk-audit.ga.ts
  docs/work-orders/WO-O4O-OTC-STORE-EN-CANONICAL-BULK-AUDIT-TRANSLATE-APPLY-BATCH-5000-V1-CHECK.md
Owners: @o4o-platform/devops-team, @o4o-platform/docs-team, @o4o-platform/backend-team

docs(admin): complete user search regression verification
  docs/checks/CHECK-O4O-ADMIN-USER-SEARCH-500-FIX-V1.md
Owners: @o4o-platform/docs-team

feat(hff-en): expand EN translation assets (frames+terms) for batch 01 hold 4209
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-issue-frequency-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-population-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-reproduction-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-reproduction-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-completed-through-batch-01-v2.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-remaining-after-batch-01-v2.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-hold4209-classify.mjs
  apps/api-server/src/scripts/hff-en-hold4209-finalize.mjs
  apps/api-server/src/scripts/hff-en-hold4209-frames.mjs
  apps/api-server/src/scripts/hff-en-hold4209-frequency.mjs
  docs/checks/CHECK-O4O-HFF-EN-BULK-TRANSLATION-ASSET-EXPANSION-AND-BATCH-01-HOLD-4209-REPRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(admin): redact sensitive user fields
  apps/api-server/src/controllers/admin/AdminUserController.ts
  apps/api-server/src/controllers/admin/__tests__/admin-user-sanitizer.test.ts
  apps/api-server/src/controllers/admin/admin-user-sanitizer.ts
Owners: @o4o-platform/backend-team

docs(admin): add sensitive field redaction CHECK
  docs/checks/CHECK-O4O-ADMIN-USER-LIST-SENSITIVE-FIELD-EXPOSURE-FIX-V1.md
Owners: @o4o-platform/docs-team

fix(platform-store): restore policy and payment config tables
  apps/api-server/src/__tests__/platform-store-policy-tables.test.ts
  apps/api-server/src/database/migrations/20270221000000-CreatePlatformStorePolicyTables.ts
Owners: @o4o-platform/backend-team

feat(hff-en): confirm 250 EN translation assets (top1000 round 1)
  apps/api-server/src/scripts/data/hff-en-bulk-production-completed-through-top1000-round1-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-remaining-after-top1000-round1-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-approved-assets-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-batch01-hold4209-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-batch01-hold4209-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-batch01-hold4209-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-batch01-hold4209-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-top1000-batch01-hold4209-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-batch01-hold4209-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-batch01-hold4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-phrase-selection-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-translation-drafts-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-top1000-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-translation-assets-remaining-after-top1000-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-hold4209-classify.mjs
  apps/api-server/src/scripts/hff-en-top1000-finalize.mjs
  apps/api-server/src/scripts/hff-en-top1000-select.mjs
  apps/api-server/src/scripts/hff-en-usage-parser.mjs
  docs/checks/CHECK-O4O-HFF-EN-TRANSLATION-ASSET-TOP1000-AND-BATCH-01-HOLD-4209-REPRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

audit(otc-en): complete EN sweep of remaining 17,011 OTC store canonicals
  apps/api-server/src/scripts/data/otc-store-en-audit-batch02-05-ledger.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch02-05-manifest.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch02-05-pass-existing.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch02-05-retranslate-invalid.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch02-05-review-required.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch02-05-summary.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-batch02-05-translated-missing.ga.json
  apps/api-server/src/scripts/otc-store-en-bulk-audit.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(hff-en): unlock 1293 EN canonicals (last-missing-phrase round)
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-completed-through-last519-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-remaining-after-last519-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-last519-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-selection-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-hold4209-classify.mjs
  apps/api-server/src/scripts/hff-en-last519-apply.mjs
  apps/api-server/src/scripts/hff-en-last519-render.mjs
  apps/api-server/src/scripts/hff-en-last519-select.mjs
  apps/api-server/src/scripts/hff-en-last519-verify.mjs
  docs/checks/CHECK-O4O-HFF-EN-LAST-MISSING-PHRASE-519-AND-BATCH-01-DOCUMENT-UNLOCK-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

docs(security): record IP block TTL investigation and stop decision
  docs/checks/CHECK-O4O-SECURITY-IP-BLOCK-TTL-AND-UNBLOCK-V1.md
Owners: @o4o-platform/docs-team

feat(hff-en): remove duplicate number gate, unlock 286 more EN canonicals
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-completed-through-r2916-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-remaining-after-r2916-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-r2916-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-r2916-docs-v1.json
  apps/api-server/src/scripts/data/hff-en-r2916-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-r2916-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-r2916-independent-verification-v1.json
  apps/api-server/src/scripts/hff-en-hold4209-classify.mjs
  apps/api-server/src/scripts/hff-en-r2916-audit.mjs
  apps/api-server/src/scripts/hff-en-r2916-verify.mjs
  docs/checks/CHECK-O4O-HFF-EN-BATCH-01-REMAINING-2916-GATE-AUDIT-ASSET-EXPANSION-AND-FULL-REPRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(security): redact request payloads in security logs
  apps/api-server/src/middleware/error-handler.ts
  apps/api-server/src/middleware/securityMiddleware.ts
  apps/api-server/src/utils/__tests__/security-log-redaction.test.ts
  apps/api-server/src/utils/security-log-redaction.ts
Owners: @o4o-platform/backend-team

fix(glycopharm): restore featured products table
  apps/api-server/src/__tests__/glycopharm-featured-products.test.ts
  apps/api-server/src/database/migrations/20270222000000-CreateGlycopharmFeaturedProductsTable.ts
  apps/api-server/src/routes/glycopharm/controllers/glycopharm.controller.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

chore(security): add temporary proxy chain diagnostic endpoint
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/routes/admin/proxy-chain-diagnostics.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

chore(hff-en): confirm last-phrase 690 set and blocker decomposition (FALSE_GATE 0)
  apps/api-server/src/scripts/data/hff-en-batch01-lastphrase690-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-lastphrase690-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-lastphrase690-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch01-lastphrase690-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-lastphrase690-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-lastphrase690-selection-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-completed-through-batch01-lastphrase690-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-remaining-after-batch01-lastphrase690-v1.json
  apps/api-server/src/scripts/data/hff-en-lp690-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-lp690-docs-v1.json
  apps/api-server/src/scripts/data/hff-en-translation-assets-remaining-after-lastphrase690-v1.json
  apps/api-server/src/scripts/hff-en-lp690-audit.mjs
  apps/api-server/src/scripts/hff-en-lp690-finalize.mjs
  apps/api-server/src/scripts/hff-en-usage-parser.mjs
  docs/checks/CHECK-O4O-HFF-EN-BATCH-01-LAST-PHRASE-690-AND-REMAINING-2630-FULL-REPRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(security): derive client IP from trusted proxy hops
  apps/api-server/src/config/rate-limiters.config.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/rateLimit.middleware.ts
  apps/api-server/src/middleware/rateLimiter.ts
  apps/api-server/src/middleware/securityMiddleware.ts
  apps/api-server/src/modules/auth/controllers/auth-login.controller.ts
  apps/api-server/src/modules/foreign-visitor-partner/foreign-visitor-partner-qr-code.routes.ts
  apps/api-server/src/modules/survey/controllers/SurveyResponseController.ts
  apps/api-server/src/routes/channels/channels.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  apps/api-server/src/utils/__tests__/trusted-client-ip.test.ts
  apps/api-server/src/utils/trusted-client-ip.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

fix(otc-en): restore 215 missing dose limits and remove 3 duplicate list items
  apps/api-server/src/scripts/data/otc-en-dose-limit-fix-apply.ga.json
  apps/api-server/src/scripts/data/otc-en-dose-limit-fix-dryrun.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-postfix-verify-manifest.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-postfix-verify-pass-existing.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-postfix-verify-retranslate-invalid.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-postfix-verify-review-required.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-postfix-verify-summary.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-postfix-verify-translated-missing.ga.json
  apps/api-server/src/scripts/otc-en-dose-limit-repetition-fix.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(glycopharm): restore billing invoices table
  apps/api-server/src/__tests__/glycopharm-billing-invoices.test.ts
  apps/api-server/src/database/migrations/20270223000000-CreateGlycopharmBillingInvoicesTable.ts
  apps/api-server/src/routes/glycopharm/controllers/invoice.controller.ts
  apps/api-server/src/routes/glycopharm/services/invoice.service.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

feat(hff-en): translate 222 non-USAGE phrases, unlock 393 more EN canonicals
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-nonusage326-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-nonusage326-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch01-nonusage326-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-remaining-after-nonusage326-v1.json
  apps/api-server/src/scripts/data/hff-en-bulk-production-completed-through-nonusage326-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-lastphrase-nonusage326-population-v1.json
  apps/api-server/src/scripts/data/hff-en-nonusage326-translations-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-nonusage326-extract.mjs
  apps/api-server/src/scripts/hff-en-nonusage326-verify.mjs
  docs/checks/CHECK-O4O-HFF-EN-LAST-PHRASE-NONUSAGE-326-DIRECT-TRANSLATION-AND-REPRODUCTION-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

chore(security): remove temporary proxy chain diagnostic endpoint
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/routes/admin/proxy-chain-diagnostics.routes.ts
Owners: @o4o-platform/backend-team, @o4o-platform/api-team

feat(hff-en): direct-translate 85 phrases, classify KO damage; batch01 at 2962/5000
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-closure-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-completed-through-r2237-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-completed-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-direct-full-document-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch01-r2237-final-hold-summary-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-r2237-final-hold-v1.jsonl
  apps/api-server/src/scripts/data/hff-en-batch01-remaining-after-r2237-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-remaining-hold-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-rollback-v1.json
  apps/api-server/src/scripts/data/hff-en-r2237-translations-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-hold4209-classify.mjs
  apps/api-server/src/scripts/hff-en-last519-apply.mjs
  apps/api-server/src/scripts/hff-en-r2237-verify.mjs
  docs/checks/CHECK-O4O-HFF-EN-BULK-PRODUCTION-BATCH-01-REMAINING-2237-DIRECT-FULL-DOCUMENT-TRANSLATION-AND-CLOSURE-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(otc-en): triage residual 813 signals and correct 2 route verbs
  apps/api-server/src/scripts/data/otc-en-residual-triage.ga.json
  apps/api-server/src/scripts/data/otc-en-route130-adjudication.ga.json
  apps/api-server/src/scripts/data/otc-en-route2-fix-apply.ga.json
  apps/api-server/src/scripts/data/otc-en-route2-fix-dryrun.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final-verify-manifest.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final-verify-pass-existing.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final-verify-retranslate-invalid.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final-verify-review-required.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final-verify-summary.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final-verify-translated-missing.ga.json
  apps/api-server/src/scripts/otc-en-residual-triage.ga.ts
  apps/api-server/src/scripts/otc-en-route2-fix.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

docs(security): add trusted client IP and log redaction CHECK
  docs/checks/CHECK-O4O-TRUSTED-CLIENT-IP-AND-SECURITY-LOG-REDACTION-V1.md
Owners: @o4o-platform/docs-team

audit(otc-ko): scan KO canonical for damaged fragments (HFF-equivalent check)
  apps/api-server/src/scripts/data/otc-ko-canonical-damage-scan.ga.json
  apps/api-server/src/scripts/otc-ko-canonical-damage-scan.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

docs(check): audit supplier product offer unique constraint contract
  docs/checks/CHECK-O4O-SUPPLIER-PRODUCT-OFFER-UNIQUE-CONSTRAINT-CONTRACT-AUDIT-V1.md
Owners: @o4o-platform/docs-team

fix(hff-ko): repair 798 canonical parsing residues (open paren, marker, english)
  apps/api-server/src/scripts/data/hff-ko-damage-repair-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-ko-damage-repair-hold-v1.json
  apps/api-server/src/scripts/data/hff-ko-damage-repair-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-ko-damage-repair-plan-v1.json
  apps/api-server/src/scripts/data/hff-ko-damage-repair-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ko-damage-repair-rollback-v1.json
  apps/api-server/src/scripts/hff-ko-damage-repair-apply.mjs
  apps/api-server/src/scripts/hff-ko-damage-repair-plan.mjs
  apps/api-server/src/scripts/hff-ko-damage-repair-render.mjs
  apps/api-server/src/scripts/hff-ko-damage-repair-verify.mjs
  docs/checks/CHECK-O4O-HFF-KO-CANONICAL-DAMAGE-REPAIR-798-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(otc-en): restore 145 omitted safety sentences from KO canonical
  apps/api-server/src/scripts/data/otc-en-omission-extract.ga.json
  apps/api-server/src/scripts/data/otc-en-omission-restore-apply.ga.json
  apps/api-server/src/scripts/data/otc-en-omission-restore-dryrun.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-omission-verify-manifest.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-omission-verify-pass-existing.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-omission-verify-retranslate-invalid.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-omission-verify-review-required.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-omission-verify-summary.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-omission-verify-translated-missing.ga.json
  apps/api-server/src/scripts/otc-en-omission-extract.ga.ts
  apps/api-server/src/scripts/otc-en-omission-restore.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(neture): return 409 for duplicate supplier product offers
  apps/api-server/src/__tests__/supplier-offer-duplicate-contract.test.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
Owners: @o4o-platform/backend-team

fix(otc-ko): restore 317 truncated caution blocks from official source
  apps/api-server/src/scripts/data/otc-ko-canonical-damage-scan.ga.json
  apps/api-server/src/scripts/data/otc-ko-damage-restore-apply.ga.json
  apps/api-server/src/scripts/data/otc-ko-damage-restore-dryrun.ga.json
  apps/api-server/src/scripts/otc-ko-canonical-damage-scan.ga.ts
  apps/api-server/src/scripts/otc-ko-damage-restore.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

feat(hff-en): translate 93 more phrases, unlock 152 EN canonicals (batch01 62.3%)
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-next-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-batch01-remaining2237-independent-verification-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-rollback-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-final-verify.mjs
  apps/api-server/src/scripts/hff-en-hold4209-classify.mjs
  apps/api-server/src/scripts/hff-en-last519-apply.mjs
  docs/checks/CHECK-O4O-HFF-EN-BATCH-01-CONTINUOUS-ROUND-KO-REPAIR-EFFECT-AND-152-UNLOCK-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

fix(otc-en): author per-product EN for 18 KO+EN both-damaged leaflets
  apps/api-server/src/scripts/data/otc-both18-en-restore-apply.ga.json
  apps/api-server/src/scripts/data/otc-both18-en-restore-dryrun.ga.json
  apps/api-server/src/scripts/data/otc-both18-missing.ga.json
  apps/api-server/src/scripts/data/otc-ko-en-both-damaged-status.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final2-verify-manifest.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final2-verify-pass-existing.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final2-verify-retranslate-invalid.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final2-verify-review-required.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final2-verify-summary.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final2-verify-translated-missing.ga.json
  apps/api-server/src/scripts/otc-both18-en-restore.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(otc-ko): restore 6 truncated dosage blocks; classify residual as source typos
  apps/api-server/src/scripts/data/otc-ko-damage-restore-v2-apply.ga.json
  apps/api-server/src/scripts/data/otc-ko-damage-restore-v2-dryrun.ga.json
  apps/api-server/src/scripts/otc-ko-damage-restore-v2.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

test(otc): verify design contract of all 706 modified leaflets
  apps/api-server/src/scripts/data/otc-modified-design-verify.ga.json
  apps/api-server/src/scripts/otc-modified-design-verify.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

fix(otc-en): restore 66 more omitted safety sentences (15 new templates)
  apps/api-server/src/scripts/data/otc-en-omission-remaining141.ga.json
  apps/api-server/src/scripts/data/otc-en-omission-restore-v2-apply.ga.json
  apps/api-server/src/scripts/data/otc-en-omission-restore-v2-dryrun.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final3-verify-manifest.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final3-verify-pass-existing.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final3-verify-retranslate-invalid.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final3-verify-review-required.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final3-verify-summary.ga.json
  apps/api-server/src/scripts/data/otc-store-en-audit-final3-verify-translated-missing.ga.json
  apps/api-server/src/scripts/otc-en-omission-restore-v2.ga.ts
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team

docs(check): audit forum_post query index performance
  docs/checks/CHECK-O4O-FORUM-POST-QUERY-INDEX-PERFORMANCE-AUDIT-V1.md
Owners: @o4o-platform/docs-team

chore(deploy): restrict API ingress to load balancer
  .github/workflows/deploy-api.yml
Owners: @o4o-platform/devops-team

feat(hff-en): continuous rounds 2-5, translate 408 phrases, unlock 473 EN (68.7%)
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-classification-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-01-hold-4209-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-r3-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-r4-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-batch-r5-translations-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-apply-results-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-en-last519-rollback-v1.json
  apps/api-server/src/scripts/hff-en-batch-01-translate.mjs
  apps/api-server/src/scripts/hff-en-hold4209-classify.mjs
  apps/api-server/src/scripts/hff-en-last519-apply.mjs
  apps/api-server/src/scripts/hff-en-r5-verify.mjs
  docs/checks/CHECK-O4O-HFF-EN-BATCH-01-CONTINUOUS-TRANSLATION-ROUNDS-2-5-V1.md
Owners: @o4o-platform/devops-team, @o4o-platform/backend-team, @o4o-platform/docs-team

.github/CODEOWNERS:

# O4O Platform Code Owners
# 각 영역별 코드 리뷰어 자동 할당

# 전체 프로젝트
* @o4o-platform/core-team

# API 서버
/apps/api-server/ @o4o-platform/backend-team
/apps/api-server/src/entities/ @o4o-platform/database-team
/apps/api-server/src/routes/ @o4o-platform/api-team

# 프론트엔드 - 메인 사이트
/apps/main-site/ @o4o-platform/frontend-team
/apps/main-site/src/components/ @o4o-platform/ui-team
/apps/main-site/src/pages/ @o4o-platform/frontend-team

# 프론트엔드 - 어드민
/apps/admin-dashboard/ @o4o-platform/admin-team

# 공유 패키지
/packages/types/ @o4o-platform/core-team
/packages/auth-*/ @o4o-platform/security-team
/packages/ui/ @o4o-platform/ui-team
/packages/utils/ @o4o-platform/core-team

# 설정 파일
*.json @o4o-platform/devops-team
*.yml @o4o-platform/devops-team
*.yaml @o4o-platform/devops-team

# 문서
*.md @o4o-platform/docs-team
/docs/ @o4o-platform/docs-team

# CI/CD
/.github/ @o4o-platform/devops-team
