Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat: Improve media file replace with visual grid selection
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/tools/MediaFileReplace.tsx
Labels: frontend, typescript

fix: Temporarily disable permission checks in editor sidebar
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/tools/MediaFileReplace.tsx
Labels: frontend, typescript

feat: Add markdown file support and improve media file replace
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/tools/MediaFileReplace.tsx
  apps/api-server/src/controllers/MediaController.ts
Labels: frontend, backend, typescript

fix: Filter MediaSelector to show only accepted file types
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/shared/MediaSelector.tsx
Labels: frontend, typescript

docs: Add AI page generation manual and reorganize docs
  docs/guide/AI_COLLABORATION_GUIDE.md
  docs/guide/AI_DEVELOPMENT_LECTURE_MATERIAL.md
  docs/manual/ai-page-generation.md
Labels: documentation

docs: Complete markdown documentation reorganization
  DEPLOYMENT_GUIDE.md
  docs/architecture/WORDPRESS_THEME_ANALYSIS_REPORT.md
  docs/deployment/DEPLOYMENT_SCRIPT_GUIDE.md
  docs/deployment/DEPLOY_API_SERVER.md
  docs/setup/HEADER_SETUP_GUIDE.md
  docs/setup/SETUP_GITHUB_SECRETS.md
  docs/troubleshooting/API_SERVER_RECOVERY_PLAN.md
Labels: documentation

docs: Merge guides folder into guide folder
  docs/guide/API_CORS_FIX_GUIDE.md
  docs/guide/API_DOCUMENTATION.md
  docs/guide/API_SERVER_SETUP_GUIDE.md
  docs/guide/QUICK_START.md
  docs/guide/UNIFIED_DEPLOYMENT_GUIDE.md
  docs/guide/authentication-integration.md
  docs/guide/cross-app-session-sync.md
  docs/guide/login-security-implementation.md
  docs/guide/oauth-integration-guide.md
  docs/guide/password-reset-implementation.md
  docs/guide/refresh-token-implementation.md
  docs/guide/session-management-implementation.md
  docs/guide/social-auth-frontend-example.tsx
Labels: documentation, typescript

docs: Reorganize guide folder by topic area
  docs/QUICK_START.md
  docs/api-analysis/API_DOCUMENTATION.md
  docs/authentication/authentication-integration.md
  docs/authentication/cross-app-session-sync.md
  docs/authentication/login-security-implementation.md
  docs/authentication/oauth-integration-guide.md
  docs/authentication/password-reset-implementation.md
  docs/authentication/refresh-token-implementation.md
  docs/authentication/session-management-implementation.md
  docs/authentication/social-auth-frontend-example.tsx
  docs/deployment/UNIFIED_DEPLOYMENT_GUIDE.md
  docs/setup/API_SERVER_SETUP_GUIDE.md
  docs/troubleshooting/API_CORS_FIX_GUIDE.md
Labels: documentation, typescript

feat: Implement dynamic AI block/shortcode reference system
  apps/admin-dashboard/src/scripts/update-ai-docs.ts
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
  docs/architecture/AI_BLOCK_REFERENCE_SYSTEM.md
Labels: frontend, documentation, typescript

feat: Add dynamic shortcode registry for AI integration
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
  apps/admin-dashboard/src/services/ai/shortcode-registry.ts
  docs/architecture/AI_BLOCK_REFERENCE_SYSTEM.md
  docs/guide/ADD_NEW_SHORTCODE.md
Labels: frontend, documentation, typescript

docs: Add comprehensive AI dynamic reference system summary
  docs/architecture/AI_DYNAMIC_REFERENCE_SUMMARY.md
Labels: documentation

docs: Add comprehensive shortcode reference for administrators
  apps/admin-dashboard/src/scripts/update-shortcode-reference.ts
  docs/manual/README.md
  docs/manual/shortcode-reference.md
Labels: frontend, documentation, typescript

docs: Add comprehensive administrator manual
  docs/manual/admin-manual.md
Labels: documentation

refactor: Reorganize scripts into categorized directories
  deploy.sh
  scripts/README.md
  scripts/deprecated/deploy-admin-dashboard.sh
  scripts/deprecated/deploy-admin.sh
  scripts/deprecated/deploy-production.sh
  scripts/deprecated/deploy-remote.sh
  scripts/deprecated/deploy-simple-old.sh
  scripts/testing/test-api-server.sh
  scripts/testing/update-logo-test.sh
  scripts/utilities/convert_admin_affiliate_to_partner.sh
  scripts/utilities/convert_affiliate_to_partner.sh
  scripts/utilities/convert_main_site_affiliate_to_partner.sh
  scripts/utilities/deactivate-default-header.sh
  scripts/utilities/update_all_affiliate_references.sh
Labels: ci/cd

fix: Remove console.log statements from production code
  apps/admin-dashboard/src/scripts/update-ai-docs.ts
  apps/admin-dashboard/src/scripts/update-shortcode-reference.ts
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
  apps/admin-dashboard/src/services/ai/shortcode-registry.ts
Labels: frontend, typescript

docs: Add automated AI page generation documentation
  apps/admin-dashboard/src/scripts/update-ai-page-docs.ts
  docs/manual/ai-page-generation.md
  package.json
Labels: frontend, config, documentation, dependencies, typescript

feat: Add role-based menu visibility system
  apps/admin-dashboard/src/components/menu/RoleSelector.tsx
  packages/types/src/menu.ts
Labels: frontend, packages, typescript

docs: Update appearance manuals with version info and history
  docs/manual/appearance-customize.md
  docs/manual/appearance-menus.md
Labels: documentation

feat: Improve deployment system for easier execution
  scripts/DEPLOYMENT_QUICK_START.md
  scripts/deploy-docs.sh
  scripts/deploy-main.sh
Labels: ci/cd

feat: Improve Featured Image UI to always show image preview
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
Labels: frontend, typescript

feat: Deploy Featured Image UI improvements to production
  apps/admin-dashboard/public/version.json
Labels: frontend

fix: Correct media API response parsing in MediaFileReplace
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/tools/MediaFileReplace.tsx
Labels: frontend, typescript

feat: Add subdomain and path-based menu/template filtering
  apps/api-server/src/controllers/menu/MenuController.ts
  apps/api-server/src/entities/TemplatePart.ts
  apps/api-server/src/routes/template-parts.routes.ts
  apps/api-server/src/services/menu.service.ts
  apps/api-server/src/utils/request-context.ts
Labels: backend, typescript

feat: Implement dynamic menu and theme system in Main Site
  apps/main-site/src/components/TemplatePartRenderer.tsx
  apps/main-site/src/components/layout/Layout.tsx
  apps/main-site/src/hooks/useTemplateParts.ts
  apps/main-site/src/utils/context-detector.ts
Labels: frontend, typescript

feat: Add subdomain/path/theme/logo management UI to Admin Dashboard
  ADMIN_UI_IMPLEMENTATION.md
  FRONTEND_IMPLEMENTATION.md
  INTEGRATION_TEST_REPORT.md
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/appearance/TemplatePartEditor.tsx
  apps/admin-dashboard/src/pages/menus/MenuList.tsx
  apps/admin-dashboard/src/pages/menus/WordPressMenuEditorEnhanced.tsx
  apps/api-server/TEST_RESULTS.md
  apps/api-server/test-data-menus.sql
  apps/api-server/test-data-template-parts.sql
Labels: frontend, backend, documentation, typescript

feat: Integrate Menu CRUD API in Admin Dashboard
  MENU_API_INTEGRATION.md
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/menus/WordPressMenuEditorEnhanced.tsx
Labels: frontend, documentation, typescript

docs: Clean up and reorganize documentation structure
  docs/README.md
  docs/authentication/README.md
  docs/deployment/DEPLOYMENT.md
  docs/deployment/DEPLOYMENT_GUIDE.md
  docs/deployment/DEPLOYMENT_GUIDE_UNIFIED.md
  docs/deployment/DEPLOYMENT_ISSUES.md
  docs/deployment/DEPLOYMENT_SCRIPTS_GUIDE.md
  docs/deployment/DEPLOYMENT_SCRIPT_GUIDE.md
  docs/deployment/DEPLOY_API_SERVER.md
  docs/deployment/DIRECT_DEPLOYMENT_PLAN.md
  docs/deployment/README.md
  docs/deployment/UNIFIED_DEPLOYMENT_GUIDE.md
  docs/deployment/nginx-setup.md
  docs/guide/AI_COLLABORATION_GUIDE.md
  docs/guide/AI_DEVELOPMENT_LECTURE_MATERIAL.md
  docs/setup/API_SERVER_SETUP.md
  docs/status/API_SERVER_STATUS.md
  docs/status/NGINX_VERIFICATION_REPORT.md
  docs/status/admin-dashboard-ts-status.md
  nginx-config/README.md
  nginx-config/admin.neture.co.kr.conf
  nginx-config/api.neture.co.kr.conf
  nginx-config/neture.co.kr.conf
  nginx-configs/README.md
  nginx-configs/admin.neture.co.kr.conf
  nginx-configs/api.neture.co.kr.conf
  nginx-configs/forum.neture.co.kr.conf
  nginx-configs/shop.neture.co.kr.conf
  nginx/admin.neture.co.kr.conf
Labels: documentation

chore: Update version to 0.5.0 across all packages and docs
  apps/admin-dashboard/package.json
  apps/api-server/package.json
  apps/main-site/package.json
  docs/QUICK_START.md
  docs/README.md
  docs/authentication/README.md
  docs/deployment/README.md
  docs/status/NGINX_VERIFICATION_REPORT.md
  nginx-configs/README.md
  package.json
Labels: frontend, backend, config, documentation, dependencies

feat: Complete block implementations and remove all 'any' types
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/blocks/index.ts
  apps/main-site/src/components/TemplateRenderer/blocks/MarkdownReaderBlock.tsx
  apps/main-site/src/components/TemplateRenderer/index.tsx
  apps/main-site/src/main.tsx
  apps/main-site/src/styles/markdown-reader.css
  docs/manual/README.md
  docs/manual/blocks-reference.md
  packages/blocks/dynamic/src/blocks/markdown-reader.tsx
  packages/blocks/interactive/src/blocks/navigation.tsx
  packages/blocks/interactive/src/blocks/social-links.tsx
  packages/blocks/layout-media/src/blocks/layout/cover.tsx
  packages/blocks/layout-media/src/blocks/media/audio.tsx
  packages/blocks/layout-media/src/blocks/media/embed.tsx
  packages/blocks/layout-media/src/blocks/media/gallery.tsx
  packages/blocks/layout-media/src/index.ts
  packages/types/src/post.ts
  packages/types/src/template.ts
  packages/types/src/widget.ts
  packages/types/src/zone.ts
Labels: frontend, packages, documentation, typescript, styles

fix: Remove all 'any' types from block packages for CI/CD compatibility
  apps/admin-dashboard/public/version.json
  packages/blocks/dynamic/src/blocks/cpt-acf-loop.tsx
  packages/blocks/dynamic/src/blocks/reusable.tsx
  packages/blocks/dynamic/src/blocks/spectra-forms.tsx
  packages/blocks/dynamic/src/utils/markdownParser.ts
  packages/blocks/interactive/src/blocks/buttons.tsx
  packages/blocks/interactive/src/blocks/search.tsx
  packages/blocks/interactive/src/blocks/table.tsx
  packages/blocks/layout-media/src/blocks/layout/columns.tsx
  packages/blocks/layout-media/src/blocks/layout/group.tsx
  packages/blocks/layout-media/src/blocks/layout/separator.tsx
  packages/blocks/layout-media/src/blocks/layout/spacer.tsx
  packages/blocks/layout-media/src/blocks/media/image.tsx
  packages/blocks/layout-media/src/blocks/media/video.tsx
  packages/blocks/text-content/src/blocks/code/index.tsx
  packages/blocks/text-content/src/blocks/heading/index.tsx
  packages/blocks/text-content/src/blocks/html/index.tsx
  packages/blocks/text-content/src/blocks/list/index.tsx
  packages/blocks/text-content/src/blocks/paragraph/index.tsx
  packages/blocks/text-content/src/blocks/quote/index.tsx
Labels: frontend, packages, typescript

feat: Implement centralized Block Registry system and migrate 13 blocks
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/blocks/definitions/button.tsx
  apps/admin-dashboard/src/blocks/definitions/code.tsx
  apps/admin-dashboard/src/blocks/definitions/columns.tsx
  apps/admin-dashboard/src/blocks/definitions/cover.tsx
  apps/admin-dashboard/src/blocks/definitions/gallery.tsx
  apps/admin-dashboard/src/blocks/definitions/heading.tsx
  apps/admin-dashboard/src/blocks/definitions/image.tsx
  apps/admin-dashboard/src/blocks/definitions/list.tsx
  apps/admin-dashboard/src/blocks/definitions/markdown-reader.tsx
  apps/admin-dashboard/src/blocks/definitions/paragraph.tsx
  apps/admin-dashboard/src/blocks/definitions/quote.tsx
  apps/admin-dashboard/src/blocks/definitions/shortcode.tsx
  apps/admin-dashboard/src/blocks/definitions/slide.tsx
  apps/admin-dashboard/src/blocks/definitions/social.tsx
  apps/admin-dashboard/src/blocks/definitions/table.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/blocks/registry/BlockRegistry.ts
  apps/admin-dashboard/src/blocks/registry/DynamicRenderer.tsx
  apps/admin-dashboard/src/blocks/registry/types.ts
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/MarkdownReaderBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/social/StyleSelector.tsx
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
Labels: frontend, dependencies, typescript

chore: Update pnpm-lock.yaml for @radix-ui/react-accordion
  pnpm-lock.yaml
Labels: config

fix: Remove console.log from production build
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/blocks/registry/BlockRegistry.ts
Labels: frontend, typescript

fix: Remove all console.log statements from production code
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/blocks/registry/BlockRegistry.ts
Labels: frontend, typescript

fix: Resolve React createContext undefined error
  apps/admin-dashboard/vite.config.ts
  vite.config.shared.ts
Labels: frontend, config, typescript

fix: Resolve all React forwardRef/createContext errors
  apps/admin-dashboard/vite.config.ts
  vite.config.shared.ts
Labels: frontend, config, typescript

fix: Bundle lucide-react with vendor-react to fix forwardRef error
  apps/admin-dashboard/public/mockServiceWorker.js
  apps/admin-dashboard/public/version.json
  package-lock.json
  vite.config.shared.ts
Labels: frontend, config, dependencies, typescript, javascript

fix: Bundle @radix-ui with vendor-react to prevent createContext errors
  apps/admin-dashboard/vite.config.ts
  vite.config.shared.ts
Labels: frontend, config, typescript

refactor: Centralize version management and update to v0.5.0
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/config/version.ts
  apps/admin-dashboard/src/pages/WordPressDashboard.tsx
Labels: frontend, typescript

fix: Remove package.json import to fix production build error
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/config/version.ts
Labels: frontend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
