Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix(rbac): 역할 부여·회수 계약 정합성 3건 조사 및 안전 보완 (WO-O4O-ROLE-ASSIGNMENT-CONTRACT-CONSISTENCY-AUDIT-AND-HARDENING-V1)
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/controllers/operator/__tests__/MembershipConsoleController.roleRevokeSafety.test.ts
  apps/api-server/src/modules/auth/services/__tests__/role-assignment.ghostRow.test.ts
  apps/api-server/src/modules/auth/services/role-assignment.service.ts
  apps/api-server/src/modules/neture/controllers/operator-registration.controller.ts
  apps/api-server/src/modules/neture/services/__tests__/operator-registration.roleContract.test.ts
  apps/api-server/src/modules/neture/services/operator-registration.service.ts
  apps/api-server/src/utils/__tests__/role-admin-tier.test.ts
  apps/api-server/src/utils/role-revoke-safety.ts
  docs/checks/CHECK-O4O-ROLE-ASSIGNMENT-CONTRACT-CONSISTENCY-AUDIT-AND-HARDENING-V1.md
Labels: backend, documentation, testing, typescript

docs(check): requireAdmin 계약 hardening 배포 후 프로덕션 smoke 기록 (WO-O4O-REQUIREADMIN-MIDDLEWARE-CONTRACT-HARDENING-V1)
  docs/checks/CHECK-O4O-REQUIREADMIN-MIDDLEWARE-CONTRACT-HARDENING-V1.md
Labels: documentation

chore(pnpm): 잔여 'Ignored build scripts' 경고 7건 정리
  package.json
Labels: config, dependencies

chore(privacy): scarf-js 설치 통계 전송 opt-out
  package.json
Labels: config, dependencies

fix(rbac): 역할 활성 유일성 제약을 정본 규칙으로 교체 + Neture 잔존 멤버십 정본화 (WO-O4O-ROLE-DATA-CANONICALIZATION-AND-LEGACY-CLEANUP-V1)
  apps/api-server/src/database/migrations/20270301000000-ReplaceRoleAssignmentsActiveUniqueConstraint.ts
  apps/api-server/src/database/migrations/20270302000000-NormalizeNetureOperatorMembershipRole.ts
  apps/api-server/src/modules/auth/entities/RoleAssignment.ts
  apps/api-server/src/modules/auth/services/__tests__/role-assignment.ghostRow.test.ts
  apps/api-server/src/modules/auth/services/__tests__/role-assignment.removeRole.test.ts
  apps/api-server/src/modules/auth/services/role-assignment.service.ts
  apps/api-server/src/scripts/create-admin-user.ts
  apps/api-server/src/scripts/create-manager-user.ts
  apps/api-server/src/services/approval/MembershipApprovalService.ts
  apps/api-server/src/services/pharmacy-hub/PharmacyHubStoreProvisioningService.ts
  docs/checks/CHECK-O4O-ROLE-DATA-CANONICALIZATION-AND-LEGACY-CLEANUP-V1.md
Labels: backend, documentation, testing, typescript

docs(check): 역할 정본화 배포 후 실제 변경량 대조 기록 (WO-O4O-ROLE-DATA-CANONICALIZATION-AND-LEGACY-CLEANUP-V1)
  docs/checks/CHECK-O4O-ROLE-DATA-CANONICALIZATION-AND-LEGACY-CLEANUP-V1.md
Labels: documentation

fix(neture): 공급자 매장 제공 자료 — 언어별 설명서 상태 표기 + 상태 용어 정합
  services/web-neture/src/pages/supplier/SupplierStoreDescriptionEditorDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierStoreDescriptionsPage.tsx
  services/web-neture/src/pages/supplier/SupplierStoreMaterialsStatusPage.tsx
Labels: typescript

feat(cosmetics): 화장품 설명서에 식약처 공식 용법·주의사항 보완 (WO-O4O-COSMETICS-MFDS-USAGE-CAUTION-ENRICHMENT-V1)
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/01-census.mjs
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/02-dry-run.mjs
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/03-validate.mjs
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/04-build-apply-sql.mjs
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/05-post-verify.mjs
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/content-edit-core.mjs
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/enrich-core.mjs
  apps/api-server/src/scripts/cosmetics-mfds-usage-caution/lib.mjs
  docs/checks/CHECK-O4O-COSMETICS-MFDS-USAGE-CAUTION-ENRICHMENT-V1.md
  tmp/cosmetics-mfds-usage-caution/README.md
  tmp/cosmetics-mfds-usage-caution/apply-log.txt
  tmp/cosmetics-mfds-usage-caution/apply.sql.gz
  tmp/cosmetics-mfds-usage-caution/baseline-after.txt
  tmp/cosmetics-mfds-usage-caution/baseline-before.txt
  tmp/cosmetics-mfds-usage-caution/baseline.sql
  tmp/cosmetics-mfds-usage-caution/census-summary.json
  tmp/cosmetics-mfds-usage-caution/check-queue.json
  tmp/cosmetics-mfds-usage-caution/dry-run-plan.json.gz
  tmp/cosmetics-mfds-usage-caution/dry-run-summary.json
  tmp/cosmetics-mfds-usage-caution/negative-control.mjs
  tmp/cosmetics-mfds-usage-caution/population.json.gz
  tmp/cosmetics-mfds-usage-caution/post-verify.json
  tmp/cosmetics-mfds-usage-caution/probe-claim.mjs
  tmp/cosmetics-mfds-usage-caution/probe-judge.mjs
  tmp/cosmetics-mfds-usage-caution/probe-shapes.mjs
  tmp/cosmetics-mfds-usage-caution/rollback.sql.gz
  tmp/cosmetics-mfds-usage-caution/sample-review-60.md
  tmp/cosmetics-mfds-usage-caution/validation.json
Labels: backend, documentation

docs(check): 공급자 매장 제공 자료 batch — PASS / write smoke 는 HOLD
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-MATERIALS-STATUS-AND-REALDATA-CLOSEOUT-BATCH-V1.md
Labels: documentation

docs(check): 화장품 식약처 용법·주의사항 WO main 병합 마감 기록 (WO-O4O-COSMETICS-MFDS-USAGE-CAUTION-ENRICHMENT-V1)
  docs/checks/CHECK-O4O-COSMETICS-MFDS-USAGE-CAUTION-ENRICHMENT-V1.md
  tmp/cosmetics-mfds-usage-caution/closeout-verify.json
  tmp/cosmetics-mfds-usage-caution/closeout-verify.mjs
Labels: documentation

feat(cosmetics): 화장품 KO STORE canonical 32,674건을 KO B2B canonical 로 복사 (WO-O4O-COSMETICS-STORE-TO-B2B-DESCRIPTION-FULL-COPY-V1)
  apps/api-server/src/scripts/cosmetics-store-to-b2b-copy/01-census.mjs
  apps/api-server/src/scripts/cosmetics-store-to-b2b-copy/02-dry-run.mjs
  apps/api-server/src/scripts/cosmetics-store-to-b2b-copy/03-validate.mjs
  apps/api-server/src/scripts/cosmetics-store-to-b2b-copy/04-build-apply-sql.mjs
  apps/api-server/src/scripts/cosmetics-store-to-b2b-copy/05-apply.mjs
  apps/api-server/src/scripts/cosmetics-store-to-b2b-copy/06-post-verify.mjs
  apps/api-server/src/scripts/cosmetics-store-to-b2b-copy/lib.mjs
  docs/checks/CHECK-O4O-COSMETICS-STORE-TO-B2B-DESCRIPTION-FULL-COPY-V1.md
  tmp/cosmetics-store-to-b2b-copy/README.md
  tmp/cosmetics-store-to-b2b-copy/apply-result.json.gz
  tmp/cosmetics-store-to-b2b-copy/apply.sql
  tmp/cosmetics-store-to-b2b-copy/baseline-store.jsonl.gz
  tmp/cosmetics-store-to-b2b-copy/baseline-summary.json
  tmp/cosmetics-store-to-b2b-copy/census.json
  tmp/cosmetics-store-to-b2b-copy/check-queue.json
  tmp/cosmetics-store-to-b2b-copy/dry-run-plan.json.gz
  tmp/cosmetics-store-to-b2b-copy/dry-run-summary.json
  tmp/cosmetics-store-to-b2b-copy/post-verify.json
  tmp/cosmetics-store-to-b2b-copy/rollback.sql.gz
  tmp/cosmetics-store-to-b2b-copy/smoke.json
  tmp/cosmetics-store-to-b2b-copy/smoke.mjs
  tmp/cosmetics-store-to-b2b-copy/validation.json
Labels: backend, documentation

feat(neture): 공급자 상품 등록→매장용 설명서 write smoke + 저장 오류 문구 보완 (WO-O4O-NETURE-SUPPLIER-PRODUCT-CREATION-AND-DESCRIPTION-WRITE-SMOKE-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-CREATION-AND-DESCRIPTION-WRITE-SMOKE-BATCH-V1.md
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: documentation, typescript

docs(check): 공급자 상품 등록·설명서 write smoke — 커밋 SHA 기록
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-CREATION-AND-DESCRIPTION-WRITE-SMOKE-BATCH-V1.md
Labels: documentation

fix(lint): ESLint 신규 오류 정리 — no-useless-escape 28 · prefer-const 9 (baseline 102 → 69)
  apps/api-server/src/controllers/cpt/FormsController.ts
  apps/api-server/src/modules/content-guard/product-description-guard.rules.ts
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/scripts/drug-otc-ko-en-bundle-runner.ts
  apps/api-server/src/scripts/drug-otc-no-canonical-new-draft-candidate-audit.ts
  apps/api-server/src/scripts/hff-combo-inventory.ts
  apps/api-server/src/scripts/hff-combo-mx-inventory-strict.ts
  apps/api-server/src/scripts/hff-combo-mx-inventory.ts
  apps/api-server/src/scripts/hff-function-inventory.ts
  apps/api-server/src/scripts/hff-function-select.ts
  apps/api-server/src/scripts/hff-ind-a-build.ts
  apps/api-server/src/scripts/hff-liquid-c-select.ts
  apps/api-server/src/scripts/hff-lut-fullset-audit.ts
  apps/api-server/src/scripts/hff-mi-a-build.ts
  apps/api-server/src/scripts/hff-nutrient-select.ts
  apps/api-server/src/scripts/hff-source-parse.ts
  apps/api-server/src/scripts/hff-ui-a-build.ts
  apps/api-server/src/scripts/hff-vd-select-pool.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-apply.da.ts
  apps/api-server/src/scripts/otc-ko-structural-recovery-verify.ga.ts
  apps/api-server/src/scripts/otc-ko-summary-rebuild-verify.ga.ts
  apps/api-server/src/scripts/otc-v3-preapply-verify.na.ts
  apps/api-server/src/scripts/otc-v3-topical-oromucosal-apply.na.ts
  apps/main-site/src/components/lms-core/viewer/ContentItemRenderer.tsx
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  scripts/lint-ratchet.mjs
Labels: frontend, backend, packages, ci/cd, typescript

refactor(auth): 인증 컨텍스트·라우트 가드 공통화 5개 서비스 마감 (WO-O4O-FRONTEND-AUTH-CONTEXT-AND-ROUTE-GUARD-COMMONIZATION-FULL-CLOSE-V1)
  docs/checks/CHECK-O4O-FRONTEND-AUTH-CONTEXT-AND-ROUTE-GUARD-COMMONIZATION-FULL-CLOSE-V1.md
  packages/auth-react/src/__tests__/useRoleSelection.test.tsx
  packages/auth-react/src/__tests__/useServiceAuth.test.tsx
  packages/auth-react/src/index.ts
  packages/auth-react/src/types.ts
  packages/auth-react/src/useRoleSelection.ts
  packages/auth-react/src/useServiceAuth.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-neture/src/contexts/AuthContext.tsx
  services/web-pharmacy-hub/src/layouts/StoreOwnerShell.tsx
  services/web-pharmacy-hub/src/pages/store-owner/HomePage.tsx
  services/web-pharmacy-hub/tailwind.config.js
Labels: packages, documentation, testing, typescript, javascript

fix(neture): 신규 등록 상품 수정 차단 해소 — PRIVATE 게이트를 유통 변경·활성화로 한정 (WO-O4O-NETURE-SUPPLIER-OFFER-UPDATE-PRIVATE-GATE-FIX-V1)
  apps/api-server/src/__tests__/supplier-offer-update-private-gate.test.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: backend, testing, typescript

docs(check): 인증 공통화 배포·5개 서비스 브라우저 smoke 최종 마감 (WO-O4O-FRONTEND-AUTH-COMMONIZATION-DEPLOY-SMOKE-AND-FINAL-CLOSE-V1)
  docs/checks/CHECK-O4O-FRONTEND-AUTH-COMMONIZATION-DEPLOY-SMOKE-AND-FINAL-CLOSE-V1.md
Labels: documentation

fix(auth): K-Cosmetics /auth/me 중복 호출 제거 + auth-runtime E2E 오탐·리포터 충돌 정리
  e2e/auth-runtime/auth-unauthorized.spec.ts
  e2e/auth-runtime/helpers/auth.helpers.ts
  e2e/auth-runtime/playwright.config.ts
  services/web-k-cosmetics/src/contexts/AuthContext.tsx
Labels: testing, typescript

docs(check): 신규 등록 상품 수정 차단 해소 — 코드 PASS / 공급자 write smoke 는 HOLD(자격증명)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-OFFER-UPDATE-PRIVATE-GATE-FIX-V1.md
Labels: documentation

docs(check): 공급자 테스트 계정 closeout — 자격증명 정상, 원인은 serviceKey 누락 (WO-O4O-NETURE-SUPPLIER-TEST-ACCOUNT-CREDENTIAL-CLOSEOUT-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-TEST-ACCOUNT-CREDENTIAL-CLOSEOUT-V1.md
Labels: documentation

docs(check): 공급자 계정 closeout CHECK 에 commit/push 결과 기입
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-TEST-ACCOUNT-CREDENTIAL-CLOSEOUT-V1.md
Labels: documentation

docs(check): Neture 공급자 상품·설명서 write smoke 재실행 종료 (WO-O4O-NETURE-SUPPLIER-PRODUCT-WRITE-SMOKE-RETRY-AND-CLOSEOUT-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-WRITE-SMOKE-RETRY-AND-CLOSEOUT-V1.md
Labels: documentation

docs(check): CHECK 문서에 commit SHA 기록
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-WRITE-SMOKE-RETRY-AND-CLOSEOUT-V1.md
Labels: documentation

fix(neture): 공급자 상품 삭제를 soft delete 로 정합화 (WO-O4O-NETURE-SUPPLIER-DELETE-POLICY-AND-REVIEW-ROUNDTRIP-BATCH-V1)
  apps/api-server/src/__tests__/supplier-bulk-delete-soft-delete-contract.test.ts
  apps/api-server/src/modules/neture/constants/offer-error-code.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, testing, typescript

refactor(menu): contextual nav 필터 구조 Core 승격 + dead 메뉴 export 제거 (WO-O4O-FRONTEND-MENU-AND-ROUTE-CONTRACT-COMMONIZATION-FULL-CLOSE-V1)
  packages/ui/src/layout/filterContextualNav.ts
  packages/ui/src/layout/index.ts
  services/web-glycopharm/src/components/GlycoGlobalHeader.tsx
  services/web-glycopharm/src/config/navigation.ts
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-k-cosmetics/src/components/KCosGlobalHeader.tsx
  services/web-k-cosmetics/src/config/navigation.ts
  services/web-k-cosmetics/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
  services/web-kpa-society/src/config/navigation.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-neture/src/components/NetureGlobalHeader.tsx
  services/web-neture/src/config/navigation.ts
Labels: packages, typescript

docs(check): 공급자 삭제 정책·설명서 검수 왕복 배치 CHECK 기록 (WO-O4O-NETURE-SUPPLIER-DELETE-POLICY-AND-REVIEW-ROUNDTRIP-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-DELETE-POLICY-AND-REVIEW-ROUNDTRIP-BATCH-V1.md
Labels: documentation

docs(check): 메뉴·라우트 계약 공통화 배포·프로덕션 smoke 결과 기록 (WO-O4O-FRONTEND-MENU-AND-ROUTE-CONTRACT-COMMONIZATION-FULL-CLOSE-V1)
  docs/checks/CHECK-O4O-FRONTEND-MENU-AND-ROUTE-CONTRACT-COMMONIZATION-FULL-CLOSE-V1.md
Labels: documentation

fix(neture): 공급자 상품 이미지 소유권 가드 + 등록·저장 실패 무음 제거 (WO-O4O-NETURE-SUPPLIER-PRODUCT-AUTHORING-EXPANSION-CLOSEOUT-BATCH-V1)
  apps/api-server/src/__tests__/supplier-product-image-ownership-contract.test.ts
  apps/api-server/src/modules/neture/controllers/admin.controller.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, testing, typescript

fix(neture): 공급자 상품 이미지 업로드 FormData 가 JSON 으로 변환되던 결함 수정 (WO-O4O-NETURE-SUPPLIER-PRODUCT-AUTHORING-EXPANSION-CLOSEOUT-BATCH-V1)
  services/web-neture/src/lib/api/product.ts
Labels: typescript

docs(check): 공급자 상품 등록·수정 마감 배치 CHECK 종료 (WO-O4O-NETURE-SUPPLIER-PRODUCT-AUTHORING-EXPANSION-CLOSEOUT-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-AUTHORING-EXPANSION-CLOSEOUT-BATCH-V1.md
Labels: documentation

fix(users): PUT /users/:id 비밀번호 조용한 무시 제거 + admin 편집 화면 정본 경로 정렬 (IR-O4O-SERVICE-MEMBER-PASSWORD-AND-ROLE-CONSUMER-INTEGRITY-AUDIT-V1)
  apps/admin-dashboard/src/pages/users/UserForm.tsx
  apps/api-server/src/controllers/UserManagementController.ts
  apps/api-server/src/controllers/__tests__/UserManagementController.passwordContract.test.ts
  docs/checks/CHECK-O4O-SERVICE-MEMBER-PASSWORD-AND-ROLE-CONSUMER-INTEGRITY-AUDIT-V1.md
Labels: frontend, backend, documentation, testing, typescript

docs(check): 프런트 인증 공통화 배포 가능성·채택 최종 종료 검증 (WO-O4O-FRONTEND-AUTH-COMMONIZATION-DEPLOYABILITY-AND-ADOPTION-V1)
  docs/checks/CHECK-O4O-FRONTEND-AUTH-COMMONIZATION-DEPLOYABILITY-AND-ADOPTION-V1-CLOSE.md
Labels: documentation

fix(neture): 공급자 운영 마감 점검 — 모집 액션 무음 제거·용어 통일·부정확 문구 정리 (WO-O4O-NETURE-SUPPLIER-OPERATING-READINESS-CLOSEOUT-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-OPERATING-READINESS-CLOSEOUT-BATCH-V1.md
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierB2BContentPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
  services/web-neture/src/pages/supplier/SupplierLibraryPage.tsx
  services/web-neture/src/pages/supplier/SupplierRecruitmentsPage.tsx
  services/web-neture/src/pages/supplier/SupplierTabletScreenSetsPage.tsx
Labels: documentation, typescript

docs(check): 공급자 운영 마감 점검 CHECK 에 commit·push 결과 기록 (WO-O4O-NETURE-SUPPLIER-OPERATING-READINESS-CLOSEOUT-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-OPERATING-READINESS-CLOSEOUT-BATCH-V1.md
Labels: documentation

fix(kpa): 운영자 회원 비밀번호 변경 후보 서비스 매핑 누락 복구 (IR-O4O-SERVICE-MEMBER-PASSWORD-AND-ROLE-CONSUMER-INTEGRITY-AUDIT-V1)
  docs/checks/CHECK-O4O-SERVICE-MEMBER-PASSWORD-AND-ROLE-CONSUMER-INTEGRITY-AUDIT-V1.md
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: documentation, typescript

docs(check): 회원 비밀번호·역할 소비처 감사 CHECK 에 프로덕션 smoke 결과 기록 (IR-O4O-SERVICE-MEMBER-PASSWORD-AND-ROLE-CONSUMER-INTEGRITY-AUDIT-V1)
  docs/checks/CHECK-O4O-SERVICE-MEMBER-PASSWORD-AND-ROLE-CONSUMER-INTEGRITY-AUDIT-V1.md
Labels: documentation

docs(ir): KPA 자체 소비자몰 폐기 범위·외부 판매 채널 교체 조사 (IR-O4O-KPA-INTERNAL-STOREFRONT-RETIREMENT-AND-EXTERNAL-SALES-CHANNEL-REPLACEMENT-V1)
  docs/ir/IR-O4O-KPA-INTERNAL-STOREFRONT-RETIREMENT-AND-EXTERNAL-SALES-CHANNEL-REPLACEMENT-V1.md
Labels: documentation

fix(neture): 공급자 자료실 KEEP_HIDDEN 판정 반영 + 상태 어휘 canonical 정렬 (WO-O4O-NETURE-SUPPLIER-FINAL-READINESS-AND-LIBRARY-DECISION-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-FINAL-READINESS-AND-LIBRARY-DECISION-BATCH-V1.md
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
  services/web-neture/src/pages/supplier/SupplierLibraryPage.tsx
  services/web-neture/src/pages/supplier/SupplierStoreMaterialsStatusPage.tsx
  services/web-neture/src/pages/supplier/SupplierSupplyOffersPage.tsx
Labels: documentation, typescript

docs(check): 공급자 최종 준비·자료실 판정 배치 CHECK commit/push 결과 기록 (WO-O4O-NETURE-SUPPLIER-FINAL-READINESS-AND-LIBRARY-DECISION-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-FINAL-READINESS-AND-LIBRARY-DECISION-BATCH-V1.md
Labels: documentation

docs(check): 공급자 최종 준비 배치 배포 후 재검증 결과 기록 (WO-O4O-NETURE-SUPPLIER-FINAL-READINESS-AND-LIBRARY-DECISION-BATCH-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-FINAL-READINESS-AND-LIBRARY-DECISION-BATCH-V1.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
