Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

fix(kpa): backfill store owner role for pharmacy owner test users
  apps/api-server/src/database/migrations/20261020000000-BackfillKpaStoreOwnerForTestUsers.ts
Labels: backend, typescript

fix(kpa): WO-O4O-KPA-MYPROFILE-PHARMACIST-GATE-RELAX-V1 — 겸직 사용자 약사 정보 visibility 정렬
  apps/api-server/src/routes/kpa/services/mypage.service.ts
Labels: backend, typescript

fix(kpa): use NULL assigned_by in store owner backfill migration
  apps/api-server/src/database/migrations/20261020000000-BackfillKpaStoreOwnerForTestUsers.ts
Labels: backend, typescript

fix(kpa): merge businessInfo in JS to avoid jsonb/json type clash
  apps/api-server/src/database/migrations/20261020000000-BackfillKpaStoreOwnerForTestUsers.ts
Labels: backend, typescript

feat(kpa): WO-O4O-KPA-MEMBER-CAPABILITY-NICKNAME-UI-CANONICAL-CLEANUP-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: backend, typescript

docs(ir): IR-O4O-KPA-MEMBER-ROLE-TYPE-CANONICAL-AUDIT-V1
  docs/investigations/IR-O4O-KPA-MEMBER-ROLE-TYPE-CANONICAL-AUDIT-V1.md
Labels: documentation

fix(kpa): WO-O4O-KPA-STORE-OWNER-ROLE-LIFECYCLE-FIX-V1 — store_owner lifecycle 정렬
  apps/api-server/src/services/approval/MembershipApprovalService.ts
Labels: backend, typescript

fix(email): WO-O4O-EMAIL-LOG-TABLE-CREATE-V1 — email_logs CREATE TABLE migration 추가
  apps/api-server/src/database/migrations/20261021000000-CreateEmailLogs.ts
Labels: backend, typescript

fix(kpa): WO-O4O-KPA-MEMBER-EDIT-FORM-CURRENT-VALUE-FIX-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: backend, typescript

feat(kpa): WO-O4O-KPA-MEMBER-SEARCH-PHARMACY-BUSINESS-FIELDS-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: backend, typescript

fix(kpa): WO-O4O-KPA-ORGANIZATIONS-RAW-SQL-COLUMN-ALIGNMENT-V1
  apps/api-server/src/modules/organization/services/organization-ops.service.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: backend, typescript

docs(ir): batch 8 KPA investigation reports — mypage / store-owner / service-membership
  docs/investigations/IR-O4O-KPA-MYPROFILE-NICKNAME-SAVE-READ-AUDIT-V1.md
  docs/investigations/IR-O4O-KPA-MYPROFILE-ROLE-INFO-VIEW-EDIT-SOURCE-AUDIT-V1.md
  docs/investigations/IR-O4O-KPA-STORE-OWNER-DUAL-SOURCE-DRIFT-INVESTIGATION-V1.md
  docs/investigations/IR-O4O-KPA-STORE-PERMISSION-ADDRESS-DRIFT-AUDIT-V1.md
  docs/investigations/IR-O4O-KPA-STOREOWNER-HEADER-MENU-VISIBILITY-AUDIT-V1.md
  docs/investigations/IR-O4O-KPA-STOREOWNER-MISSING-ROLE-DRIFT-CHECK-V1.md
  docs/investigations/IR-O4O-SERVICE-MEMBERSHIP-CANONICAL-KEY-DRIFT-CHECK-V1.md
  docs/investigations/IR-O4O-SERVICE-OPERATOR-ROLE-MEMBERSHIP-CONSISTENCY-AUDIT-V1.md
Labels: documentation

fix(build): build 오류 2건 수정
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreChannelsPage.tsx
Labels: typescript

fix(kpa): WO-O4O-KPA-ENSURE-ORG-PARAM2-CAST-FIX-V1 — \$2::text cast for LOWER() type consistency
  apps/api-server/src/modules/organization/services/organization-ops.service.ts
Labels: backend, typescript

docs(ir): IR-O4O-KPA-LOGIN-REFETCH-FLICKER-AUDIT-V1 — 로그인 직후 API 반복 호출 원인 조사
  docs/investigations/IR-O4O-KPA-LOGIN-REFETCH-FLICKER-AUDIT-V1.md
Labels: documentation

fix(kpa): WO-O4O-KPA-LOGIN-REFETCH-MINIMIZE-V1 — 로그인 직후 /credits/me 중복 호출 제거
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
Labels: typescript

fix(kpa): WO-O4O-KPA-LOGIN-QUICKACCOUNT-PHARMACYOWNER-UPDATE-V1 — 약국 경영자 빠른 로그인 계정 변경
  services/web-kpa-society/src/components/LoginModal.tsx
Labels: typescript

fix(kpa): WO-O4O-KPA-MEMBER-TYPE-LEGACY-LABEL-FIX-V1 — remove "(legacy)" from pharmacist_member select option
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: typescript

docs(ir): IR-O4O-KPA-NOTIFICATION-UNREAD-COUNT-429-LOOP-AUDIT-V1 — 알림 unread-count 429 루프 원인 조사
  docs/investigations/IR-O4O-KPA-NOTIFICATION-UNREAD-COUNT-429-LOOP-AUDIT-V1.md
Labels: documentation

fix(kpa): WO-O4O-KPA-NOTIFICATION-429-GUARD-V1 — 알림 unread-count 429 burst 완화
  packages/account-ui/src/notifications/useNotifications.ts
  services/web-kpa-society/src/api/notifications.ts
Labels: packages, typescript

docs(ir): IR-O4O-KPA-PHARMACY-BUSINESS-FORM-FIELD-AUDIT-V1 — 약국 사업자 정보 양식 필드 정합성 조사
  docs/investigations/IR-O4O-KPA-PHARMACY-BUSINESS-FORM-FIELD-AUDIT-V1.md
Labels: documentation

feat(kpa): WO-O4O-KPA-PHARMACY-INFO-FIELD-ALIGN-V1 — align pharmacy info fields across screens
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-info.controller.ts
  services/web-kpa-society/src/api/pharmacyInfo.ts
  services/web-kpa-society/src/pages/operator/EditUserModal.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyInfoPage.tsx
Labels: backend, typescript

fix(kpa): WO-O4O-KPA-PHARMACYGUARD-LOOP-FIX-V1 — stale JWT recovery 무한루프 방지
  services/web-kpa-society/src/components/auth/PharmacyGuard.tsx
Labels: typescript

feat(kpa): WO-O4O-KPA-PHARMACY-OWNER-ADDRESS-CANONICALIZE-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: backend, typescript

feat(kpa): WO-O4O-KPA-PHARMACY-CONTACT-NAME-FIELD-V1 — 담당자명(contactName) 전 화면 추가
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/modules/auth/controllers/auth-register.controller.ts
  apps/api-server/src/modules/auth/dto/register.dto.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-info.controller.ts
  services/web-kpa-society/src/api/mypage.ts
  services/web-kpa-society/src/api/pharmacyInfo.ts
  services/web-kpa-society/src/components/RegisterModal.tsx
  services/web-kpa-society/src/pages/mypage/MyProfilePage.tsx
  services/web-kpa-society/src/pages/operator/EditUserModal.tsx
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyInfoPage.tsx
Labels: backend, typescript

docs(ir): IR-O4O-KPA-STORE-LOGIN-FLICKER-LOOP-RECHECK-V1 — 루프 재조사
  docs/investigations/IR-O4O-KPA-STORE-LOGIN-FLICKER-LOOP-RECHECK-V1.md
Labels: documentation

trace(kpa): IR-O4O-KPA-STORE-NAVIGATION-TRACE-AUDIT-V1 — runtime trace 삽입
  docs/investigations/IR-O4O-KPA-STORE-NAVIGATION-TRACE-AUDIT-V1.md
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
  services/web-kpa-society/src/components/auth/PharmacyGuard.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
Labels: documentation, typescript

fix(kpa): WO-O4O-KPA-STORE-NOSTORE-LOOP-FIX-V1 — 매장 미연결 시 navigate('/pharmacy') 루프 제거
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
  services/web-kpa-society/src/components/auth/PharmacyGuard.tsx
  services/web-kpa-society/src/contexts/AuthContext.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyBlogPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyStorePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
Labels: typescript

chore: .mcp.json git 추적 제거 (로컬 환경 전용, .gitignore 적용)
  .mcp.json
Labels: config

fix(kpa): WO-O4O-KPA-STORE-SLUG-ON-APPROVE-V1 — 약국 승인 시 store slug 즉시 생성 + 누락 계정 backfill
  apps/api-server/src/database/migrations/20260518000000-BackfillKpaSlugsLateJoin.ts
  apps/api-server/src/routes/kpa/controllers/pharmacy-request.controller.ts
Labels: backend, typescript

fix(kpa): orgResult.name → request.pharmacy_name (EnsureOrganizationResult에 name 없음)
  apps/api-server/src/routes/kpa/controllers/pharmacy-request.controller.ts
Labels: backend, typescript

fix(kpa): IR-O4O-KPA-MYPAGE-ENROLLMENTS-API-FAIL-AUDIT-V1 — /enrollments/me 라우트 누락 수정
  apps/api-server/src/routes/kpa/kpa.routes.ts
Labels: backend, typescript

feat(kpa): WO-O4O-KPA-MYPAGE-RESPONSIVE-LAYOUT-CANONICALIZATION-V1 — 마이페이지 레이아웃 canonical 정비
  packages/account-ui/src/components/MyPageNavigation.tsx
  services/web-kpa-society/src/layouts/MyPageLayout.tsx
  services/web-kpa-society/src/pages/mypage/MyCompletionsPage.tsx
Labels: packages, typescript

fix(kpa): WO-O4O-KPA-MYPAGE-LAYOUT-BROWSER-VERIFICATION-AND-RESIDUAL-CLEANUP-V1 — 잔여 layout drift 정비
  services/web-kpa-society/src/pages/mypage/ForumMemberManagementPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCertificatesPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCreditsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyDashboardPage.tsx
  services/web-kpa-society/src/pages/mypage/MyProfilePage.tsx
  services/web-kpa-society/src/pages/mypage/MySettingsPage.tsx
Labels: typescript

feat(kpa): WO-O4O-KPA-STORE-INFO-ADDRESS-CANONICAL-ALIGNMENT-V1 — /store/info 주소 분리 표시
  services/web-kpa-society/src/pages/pharmacy/PharmacyInfoPage.tsx
Labels: typescript

feat(kpa): WO-O4O-KPA-REMOVE-CROSS-SERVICE-SWITCHER-V1 — 헤더 서비스 전환 드롭다운 제거
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
  services/web-kpa-society/src/components/ServiceSwitcher.tsx
Labels: typescript

feat: WO-O4O-REMOVE-CROSS-SERVICE-SWITCHER-ALL-SERVICES-V1 — 전 서비스 ServiceSwitcher 제거
  services/web-account/src/components/AccountLayout.tsx
  services/web-account/src/components/ServiceSwitcher.tsx
  services/web-glycopharm/src/components/GlycoGlobalHeader.tsx
  services/web-glycopharm/src/components/ServiceSwitcher.tsx
  services/web-k-cosmetics/src/components/KCosGlobalHeader.tsx
  services/web-k-cosmetics/src/components/ServiceSwitcher.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyInfoPage.tsx
  services/web-neture/src/components/NetureGlobalHeader.tsx
  services/web-neture/src/components/ServiceSwitcher.tsx
Labels: typescript

fix(kpa): WO-O4O-KPA-MYPAGE-RUNTIME-ERROR-CLEANUP-V1 — null 데이터 방어 처리
  services/web-kpa-society/src/pages/mypage/MyCertificatesPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCreditsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyDashboardPage.tsx
Labels: typescript

refactor(neture): WO-NETURE-ROLE-CONSTANTS-SEPARATION-V1 — role 상수 lib/role-constants.ts SSOT 분리
  services/web-neture/src/App.tsx
  services/web-neture/src/components/AccountMenu.tsx
  services/web-neture/src/components/NetureGlobalHeader.tsx
  services/web-neture/src/components/auth/RoleGuard.tsx
  services/web-neture/src/components/layouts/PartnerAccountLayout.tsx
  services/web-neture/src/components/layouts/PartnerSpaceLayout.tsx
  services/web-neture/src/components/layouts/SupplierAccountLayout.tsx
  services/web-neture/src/components/layouts/SupplierOpsLayout.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/lib/role-constants.ts
Labels: typescript

fix(kpa): WO-O4O-KPA-ORGANIZATIONS-RAW-SQL-COLUMN-ALIGNMENT-V1 — path를 $8 분리 파라미터로 PostgreSQL 42P08 타입 충돌 해소
  apps/api-server/src/modules/organization/services/organization-ops.service.ts
Labels: backend, typescript
