Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

docs(audit): IR-O4O-CONTENT-BLOCK-LIBRARY-SPLIT-POST-CHECK-V1 — post-check 조사 완료
  docs/audit/IR-O4O-CONTENT-BLOCK-LIBRARY-SPLIT-POST-CHECK-V1.md
Labels: documentation

feat(signage): WO-O4O-TEMPLATE-BUILDER-SPLIT-V1 — TemplateBuilder 1,038줄 → 9파일 분해
  apps/admin-dashboard/src/pages/digital-signage/v2/TemplateBuilder.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/LayoutPresetDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/NewTemplateDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/TemplateBuilderCanvas.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/TemplateBuilderSidebar.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/TemplatePreviewDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/ZoneEditorDialog.tsx
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/template-builder-constants.ts
  apps/admin-dashboard/src/pages/digital-signage/v2/template-builder/useTemplateBuilder.ts
Labels: frontend, typescript

fix(neture): supplier dashboard 500 — fix nonexistent table/column references
  apps/api-server/src/modules/neture/controllers/supplier-settlement.controller.ts
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Labels: backend, typescript

fix(neture): supplier dashboard 500 — fix nonexistent table/column references
  apps/api-server/src/modules/neture/controllers/supplier-settlement.controller.ts
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Labels: backend, typescript

docs(audit): IR-O4O-TEMPLATE-BUILDER-SPLIT-POST-CHECK-V1 — post-check 조사 완료
  docs/audit/IR-O4O-TEMPLATE-BUILDER-SPLIT-POST-CHECK-V1.md
Labels: documentation

feat(glycopharm): WO-GLYCOPHARM-GUIDELINE-CMS-MIGRATION-V1 + WO-COACHING-CTA-FIX + WO-AI-CHAT-500-FIX
  apps/api-server/src/database/migrations/20260322100000-SeedGlycopharmForumCategory.ts
  apps/api-server/src/database/migrations/20260322120000-UpdateCareAiModelToGemini25Flash.ts
  apps/api-server/src/modules/care/care-pharmacy-context.middleware.ts
  apps/api-server/src/modules/care/controllers/care-ai-chat.controller.ts
  apps/api-server/src/modules/care/controllers/care-llm-insight.controller.ts
  apps/api-server/src/modules/care/entities/ai-model-setting.entity.ts
  apps/api-server/src/modules/care/services/llm/care-ai-chat.service.ts
  apps/api-server/src/modules/care/services/llm/care-coaching-draft.service.ts
  apps/api-server/src/modules/care/services/llm/care-llm-insight.service.ts
  apps/api-server/src/modules/care/services/llm/patient-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/controllers/store-ai.controller.ts
  apps/api-server/src/modules/store-ai/services/product-ai-tagging.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-product-insight.service.ts
  apps/api-server/src/routes/ai-admin.routes.ts
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/services/ai-admin.service.ts
  apps/api-server/src/services/ai-proxy.service.ts
  apps/api-server/src/utils/gemini.helper.ts
  packages/ai-core/src/orchestration/orchestrator.ts
  packages/ai-core/src/orchestration/providers/gemini.provider.ts
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/cms.ts
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/care/CareAiChatPanel.tsx
  services/web-glycopharm/src/pages/care/PatientDetailPage.tsx
  services/web-glycopharm/src/pages/care/PharmacistGuidelinePage.tsx
  services/web-glycopharm/src/pages/care/patient-tabs/CoachingTab.tsx
  services/web-glycopharm/src/pages/operator/GuidelineManagementPage.tsx
  services/web-glycopharm/src/pages/patient/CareGuidelinePage.tsx
Labels: backend, packages, config, dependencies, typescript

fix(glycopharm): add content-editor package to Dockerfile
  services/web-glycopharm/Dockerfile
Labels: none

fix(glycopharm): add content-editor build step to Dockerfile
  services/web-glycopharm/Dockerfile
Labels: none

fix(glycopharm): add content-editor build step to Dockerfile
  services/web-glycopharm/Dockerfile
Labels: none

feat(vendors): WO-O4O-VENDORS-ADMIN-PAGES-SPLIT-V1 — VendorsAdmin + VendorsCommissionAdmin 분해
  apps/admin-dashboard/src/pages/vendors/VendorsAdmin.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsCommissionAdmin.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/VendorsScreenOptions.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/VendorsTable.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/useVendorsAdmin.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-admin/vendors-admin-types.ts
  apps/admin-dashboard/src/pages/vendors/vendors-commission/CommissionScreenOptions.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/CommissionSummaryCards.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/CommissionTable.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/useVendorsCommission.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/vendors-commission-types.ts
Labels: frontend, typescript

fix(neture): make supplier copilot resilient to missing checkout_orders table
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Labels: backend, typescript

fix(neture): make supplier copilot resilient to missing checkout_orders table
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
Labels: backend, typescript

docs(audit): IR-O4O-VENDORS-ADMIN-PAGES-SPLIT-POST-CHECK-V1 — 분해 사후 점검 보고서
  docs/audit/IR-O4O-VENDORS-ADMIN-PAGES-SPLIT-POST-CHECK-V1.md
Labels: documentation

feat(ai-core): WO-PLATFORM-AI-ORCHESTRATION-LAYER-V1 — execute() 통합 + gemini.helper 제거
  apps/api-server/src/modules/care/services/llm/care-ai-chat.service.ts
  apps/api-server/src/modules/care/services/llm/care-coaching-draft.service.ts
  apps/api-server/src/modules/care/services/llm/care-llm-insight.service.ts
  apps/api-server/src/modules/care/services/llm/patient-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/services/product-ai-tagging.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-insight.service.ts
  apps/api-server/src/modules/store-ai/services/store-ai-product-insight.service.ts
  apps/api-server/src/routes/siteguide/siteguide.routes.ts
  apps/api-server/src/services/ai-query.service.ts
  apps/api-server/src/services/app-registry.service.ts
  apps/api-server/src/utils/ai-config-resolver.ts
  apps/api-server/src/utils/gemini.helper.ts
  packages/ai-core/src/orchestration/execute.ts
  packages/ai-core/src/orchestration/index.ts
  packages/ai-core/src/orchestration/providers/gemini.provider.ts
  packages/ai-core/src/orchestration/providers/openai.provider.ts
  packages/ai-core/src/orchestration/types.ts
Labels: backend, packages, typescript

fix(glucoseview): WO-O4O-GLUCOSEVIEW-REGISTER-ROLE-MISMATCH-FIX-V1 — 환자 전용 회원가입
  services/web-glucoseview/src/pages/RegisterPage.tsx
Labels: typescript

feat(operator): WO-O4O-AUTH-ANALYTICS-UI-V1 — auth log analytics page
  apps/admin-dashboard/src/pages/operator/AuthAnalyticsPage.tsx
  apps/admin-dashboard/src/routes/platform.routes.tsx
Labels: frontend, typescript

docs: add gcloud/gh CLI availability to CLAUDE.md
  CLAUDE.md
Labels: documentation

docs(audit): IR-O4O-OVERSIZED-FILE-AUDIT-PHASE2-REBASE-V1 — oversized file rebase audit
  docs/audit/IR-O4O-OVERSIZED-FILE-AUDIT-PHASE2-REBASE-V1.md
Labels: documentation

fix(migration): invalid UUID syntax in SeedGlycopharmForumCategory
  apps/api-server/src/database/migrations/20260322100000-SeedGlycopharmForumCategory.ts
Labels: backend, typescript

fix(forum): WO-O4O-FORUM-WRITE-LAYOUT-FIX-V1 — supplier/partner forum layout fix
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/forum/ForumPage.tsx
  services/web-neture/src/pages/forum/ForumPostPage.tsx
  services/web-neture/src/pages/forum/ForumWritePage.tsx
Labels: typescript

docs(audit): IR-O4O-NETURE-FACADE-HOLLOWOUT-POST-CHECK-V1 — facade hollowout post-check
  docs/audit/IR-O4O-NETURE-FACADE-HOLLOWOUT-POST-CHECK-V1.md
Labels: documentation

feat(neture): WO-O4O-NETURE-FACADE-HOLLOWOUT-V1 — thin facade delegation
  apps/api-server/src/modules/neture/neture.service.ts
Labels: backend, typescript

fix(library): WO-O4O-LIBRARY-CREATE-ROUTE-FIX-V1 — supplier library navigate paths
  services/web-neture/src/pages/supplier/SupplierLibraryFormPage.tsx
  services/web-neture/src/pages/supplier/SupplierLibraryPage.tsx
Labels: typescript

refactor(signage): WO-O4O-SIGNAGE-SPLIT-V1 — split 3 oversized files into 6 domain groups
  apps/api-server/src/routes/signage/controllers/content.controller.ts
  apps/api-server/src/routes/signage/controllers/global-content.controller.ts
  apps/api-server/src/routes/signage/controllers/index.ts
  apps/api-server/src/routes/signage/controllers/media.controller.ts
  apps/api-server/src/routes/signage/controllers/playlist.controller.ts
  apps/api-server/src/routes/signage/controllers/schedule.controller.ts
  apps/api-server/src/routes/signage/controllers/signage-helpers.ts
  apps/api-server/src/routes/signage/controllers/signage.controller.ts
  apps/api-server/src/routes/signage/controllers/template.controller.ts
  apps/api-server/src/routes/signage/repositories/content.repository.ts
  apps/api-server/src/routes/signage/repositories/global-content.repository.ts
  apps/api-server/src/routes/signage/repositories/index.ts
  apps/api-server/src/routes/signage/repositories/media.repository.ts
  apps/api-server/src/routes/signage/repositories/playlist.repository.ts
  apps/api-server/src/routes/signage/repositories/schedule.repository.ts
  apps/api-server/src/routes/signage/repositories/signage.repository.ts
  apps/api-server/src/routes/signage/repositories/template.repository.ts
  apps/api-server/src/routes/signage/services/content.service.ts
  apps/api-server/src/routes/signage/services/global-content.service.ts
  apps/api-server/src/routes/signage/services/index.ts
  apps/api-server/src/routes/signage/services/media.service.ts
  apps/api-server/src/routes/signage/services/playlist.service.ts
  apps/api-server/src/routes/signage/services/schedule.service.ts
  apps/api-server/src/routes/signage/services/signage-formatters.ts
  apps/api-server/src/routes/signage/services/signage.service.ts
  apps/api-server/src/routes/signage/services/template.service.ts
  apps/api-server/src/routes/signage/signage.routes.ts
Labels: backend, typescript

refactor(neture): WO-NETURE-PRODUCT-INPUT-SIMPLIFICATION-V1
  apps/api-server/src/modules/catalog-import/catalog-import.routes.ts
  apps/api-server/src/modules/catalog-import/extensions/firstmall/firstmall-parser.extension.ts
  apps/api-server/src/modules/catalog-import/services/catalog-import.service.ts
  apps/api-server/src/modules/catalog-import/types/catalog-import.types.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  docs/audit/IR-O4O-NETURE-PRODUCT-IMPORT-CLEANUP-AUDIT-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/admin/catalog-import/CatalogImportDashboardPage.tsx
  services/web-neture/src/pages/admin/catalog-import/FirstmallImportPage.tsx
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
  tools/firstmall-converter/barcode.ts
  tools/firstmall-converter/index.ts
  tools/firstmall-converter/mapper.ts
  tools/firstmall-converter/parser.ts
  tools/firstmall-converter/types.ts
  tools/firstmall-converter/writer.ts
Labels: backend, documentation, typescript

refactor(neture): WO-NETURE-PRODUCT-INPUT-SIMPLIFICATION-V1
  apps/api-server/src/modules/catalog-import/catalog-import.routes.ts
  apps/api-server/src/modules/catalog-import/extensions/firstmall/firstmall-parser.extension.ts
  apps/api-server/src/modules/catalog-import/services/catalog-import.service.ts
  apps/api-server/src/modules/catalog-import/types/catalog-import.types.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  docs/audit/IR-O4O-NETURE-PRODUCT-IMPORT-CLEANUP-AUDIT-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/admin/catalog-import/CatalogImportDashboardPage.tsx
  services/web-neture/src/pages/admin/catalog-import/FirstmallImportPage.tsx
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
  tools/firstmall-converter/barcode.ts
  tools/firstmall-converter/index.ts
  tools/firstmall-converter/mapper.ts
  tools/firstmall-converter/parser.ts
  tools/firstmall-converter/types.ts
  tools/firstmall-converter/writer.ts
Labels: backend, documentation, typescript

chore: register AI policy entities in connection.ts + update local settings
  .claude/settings.local.json
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

feat(neture): WO-NETURE-BULK-IMPORT-TEMPLATE-UPGRADE-V1 — CSV→XLSX 템플릿 전환
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/services/xlsx-template.service.ts
  services/web-neture/src/lib/api/csvImport.ts
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
Labels: backend, typescript

refactor(auth): WO-O4O-AUTH-CONTROLLER-SPLIT-V1 — split auth.controller.ts into 4 domain controllers
  apps/api-server/src/modules/auth/controllers/auth-account.controller.ts
  apps/api-server/src/modules/auth/controllers/auth-helpers.ts
  apps/api-server/src/modules/auth/controllers/auth-login.controller.ts
  apps/api-server/src/modules/auth/controllers/auth-register.controller.ts
  apps/api-server/src/modules/auth/controllers/auth-session.controller.ts
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/modules/auth/controllers/index.ts
  apps/api-server/src/modules/auth/routes/auth.routes.ts
Labels: backend, typescript

feat: AI Core + Policy + Usage + Quota + Billing system integration complete
  apps/api-server/src/database/migrations/20260323100000-CreateAiLlmPolicies.ts
  apps/api-server/src/database/migrations/20260323200000-CreateAiUsageLogs.ts
  apps/api-server/src/database/migrations/20260323300000-CreateAiQuotaTables.ts
  apps/api-server/src/database/migrations/20260323400000-CreateAiBillingSummary.ts
  apps/api-server/src/entities/AIUsageLog.ts
  apps/api-server/src/modules/ai-policy/ai-billing.service.ts
  apps/api-server/src/modules/ai-policy/ai-policy-admin.routes.ts
  apps/api-server/src/modules/ai-policy/ai-policy-executor.service.ts
  apps/api-server/src/modules/ai-policy/ai-policy-factory.ts
  apps/api-server/src/modules/ai-policy/ai-policy-scope.ts
  apps/api-server/src/modules/ai-policy/ai-quota.service.ts
  apps/api-server/src/modules/ai-policy/entities/ai-billing-summary.entity.ts
  apps/api-server/src/modules/ai-policy/entities/ai-llm-policy.entity.ts
  apps/api-server/src/modules/ai-policy/entities/ai-usage-aggregate.entity.ts
  apps/api-server/src/modules/ai-policy/entities/ai-usage-quota.entity.ts
  apps/api-server/src/routes/ai-admin.routes.ts
  docs/audit/IR-O4O-AI-LLM-CORE-ARCHITECTURE-AUDIT-V1.md
  packages/ai-core/src/orchestration/providers/claude.provider.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/operator/AiBillingPage.tsx
  services/web-glycopharm/src/pages/operator/AiUsageDashboardPage.tsx
Labels: backend, packages, documentation, typescript

feat(neture): WO-NETURE-XLSX-DIRECT-UPLOAD-V1 — XLSX 직접 업로드 지원
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/xlsx-parser.service.ts
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
Labels: backend, typescript

fix(ci): remove claude.provider.ts from ai-core (F1 freeze violation)
  packages/ai-core/src/orchestration/providers/claude.provider.ts
Labels: packages, typescript

fix(glycopharm): WO-O4O-GLYCOPHARM-CARE-AI-CHAT-REACT31-FIX-V1 — prevent object rendering in AI chat
  services/web-glycopharm/src/pages/care/CareAiChatPanel.tsx
Labels: typescript

fix(glycopharm): WO-O4O-GLYCOPHARM-CARE-GUIDELINE-SUBNAV-CONSISTENCY-FIX-V1
  services/web-glycopharm/src/pages/care/PharmacistGuidelinePage.tsx
Labels: typescript

refactor(api): WO-O4O-MAIN-TS-BOOTSTRAP-SPLIT-V1 — split main.ts into bootstrap modules
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/bootstrap/setup-middlewares.ts
  apps/api-server/src/bootstrap/setup-shutdown.ts
  apps/api-server/src/main.ts
Labels: backend, typescript

fix(ai): WO-O4O-GLYCOPHARM-CARE-AI-PROVIDER-ERROR-FIX-V1 — fix invalid Gemini model ID
  apps/api-server/src/database/migrations/20260323600000-FixGeminiModelName.ts
  apps/api-server/src/utils/ai-config-resolver.ts
  packages/ai-core/src/orchestration/providers/gemini.provider.ts
Labels: backend, packages, typescript

fix(ai): WO-O4O-GLYCOPHARM-CARE-AI-PROVIDER-ERROR-FIX-V1 — fix invalid Gemini model ID
  apps/api-server/src/database/migrations/20260323600000-FixGeminiModelName.ts
  apps/api-server/src/utils/ai-config-resolver.ts
  packages/ai-core/src/orchestration/providers/gemini.provider.ts
Labels: backend, packages, typescript

refactor(auth): WO-O4O-AUTH-MIDDLEWARE-SPLIT-V1 — split auth.middleware.ts into 4 strategy files
  apps/api-server/src/common/middleware/auth.middleware.ts
  apps/api-server/src/common/middleware/auth/auth-context.helpers.ts
  apps/api-server/src/common/middleware/auth/authentication.middleware.ts
  apps/api-server/src/common/middleware/auth/authorization.middleware.ts
  apps/api-server/src/common/middleware/auth/service-access.middleware.ts
Labels: backend, typescript

feat(neture): WO-NETURE-PRODUCT-REGISTRATION-UI-ALIGN-TO-IMPORT-V1
  apps/api-server/src/database/migrations/20260323500000-AddIsRegulatedToProductCategories.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/entities/ProductCategory.entity.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/neture/services/xlsx-template.service.ts
  services/web-neture/src/lib/api/product.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
Labels: backend, typescript

feat(forum): WO-O4O-FORUM-DELETE-REQUEST-V1 + WO-MY-CATEGORIES-API-V1 — owner category management + delete requests
  apps/api-server/src/controllers/forum/ForumCategoryController.ts
  apps/api-server/src/controllers/forum/ForumController.ts
  apps/api-server/src/database/migrations/20260323700000-AddMetadataToForumCategory.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  apps/api-server/src/routes/glycopharm/controllers/operator-forum-delete-request.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/operator.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  packages/forum-core/src/backend/entities/ForumCategory.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/operator/ForumDeleteRequestsPage.tsx
  services/web-glycopharm/src/pages/store/MyForumDashboardPage.tsx
  services/web-glycopharm/src/services/api.ts
Labels: backend, packages, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
