Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

refactor: Simplify admin menu system for better maintainability
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/hooks/useAdminMenu.ts
Labels: frontend, typescript

fix: Remove apps management menu from admin sidebar
  apps/admin-dashboard/ADMIN_MENU_GUIDE.md
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
Labels: frontend, typescript

feat: Improve CPT Engine dashboard with table layout and add Forms management
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/cpt-engine/CPTDashboardToolset.tsx
  apps/admin-dashboard/src/pages/cpt-engine/forms/FormsManager.tsx
  apps/admin-dashboard/src/pages/cpt-engine/index.tsx
Labels: frontend, typescript

feat: Add WooCommerce product import functionality
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/ecommerce/tools/EcommerceTools.tsx
  apps/admin-dashboard/src/pages/ecommerce/tools/ProductImport.tsx
Labels: frontend, typescript

fix: Connect product import to actual API for data persistence
  apps/admin-dashboard/src/api/productImportApi.ts
  apps/admin-dashboard/src/pages/ecommerce/tools/ProductImport.tsx
  docs/PRODUCT_IMPORT_GUIDE.md
Labels: frontend, documentation, typescript

fix: API 엔드포인트 문제 수정
  apps/admin-dashboard/src/features/cpt-acf/services/acf.api.ts
  apps/admin-dashboard/src/pages/appearance/TemplateParts.tsx
  apps/api-server/src/controllers/inventory/inventoryController.ts
  apps/api-server/src/database/migrations/1758697616298-CreateOrdersTable.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/inventory.ts
  apps/api-server/src/routes/public.ts
  apps/api-server/src/routes/v1/toss-payments.routes.ts
Labels: frontend, backend, typescript

refactor: WordPress 스타일 UI/UX로 관리 페이지 전면 재구축
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/posts/PostRow.tsx
  apps/admin-dashboard/src/components/posts/PostsBulkActions.tsx
  apps/admin-dashboard/src/components/posts/PostsScreenOptions.tsx
  apps/admin-dashboard/src/components/posts/PostsStatusTabs.tsx
  apps/admin-dashboard/src/components/posts/QuickEditRow.tsx
  apps/admin-dashboard/src/hooks/posts/usePostsActions.ts
  apps/admin-dashboard/src/hooks/posts/usePostsData.ts
  apps/admin-dashboard/src/hooks/useProductsBlock.ts
  apps/admin-dashboard/src/pages/ecommerce/Products.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsWordPress.tsx
Labels: frontend, typescript

refactor: Complete WordPress-style transformation of vendor management
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsList.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsPending.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsPendingWordPress.tsx
Labels: frontend, typescript

refactor: Modularize VendorsPendingWordPress component
  apps/admin-dashboard/src/components/vendors/VendorsPendingBulkActions.tsx
  apps/admin-dashboard/src/components/vendors/VendorsPendingDetailModal.tsx
  apps/admin-dashboard/src/components/vendors/VendorsPendingRow.tsx
  apps/admin-dashboard/src/components/vendors/VendorsPendingScreenOptions.tsx
  apps/admin-dashboard/src/components/vendors/VendorsPendingStatusTabs.tsx
  apps/admin-dashboard/src/hooks/vendors/useVendorsPendingActions.ts
  apps/admin-dashboard/src/hooks/vendors/useVendorsPendingData.ts
  apps/admin-dashboard/src/pages/vendors/VendorsPendingWordPress.tsx
  apps/admin-dashboard/src/services/api/vendorApi.ts
Labels: frontend, typescript

fix: Replace mock data with real database API calls for vendors
  apps/admin-dashboard/src/hooks/vendors/useVendorsPendingData.ts
  apps/admin-dashboard/src/pages/vendors/VendorsWordPress.tsx
Labels: frontend, typescript

feat: Complete WordPress-style commission management UI/UX
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsCommission.tsx
  apps/admin-dashboard/src/pages/vendors/VendorsCommissionWordPress.tsx
Labels: frontend, typescript

chore: Clean up unused vendor files and test files
  apps/admin-dashboard/src/pages/vendors/SupplierDashboardPage.tsx
  apps/admin-dashboard/src/pages/vendors/VendorManagementPage.tsx
  apps/admin-dashboard/src/styles/paragraph-test-block.css
Labels: frontend, typescript, styles

feat: Remove app activation/deactivation system completely
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/AppGuard.tsx
  apps/admin-dashboard/src/hooks/useDynamicMenu.ts
Labels: frontend, typescript

fix: Add missing vendor commission endpoints
  apps/api-server/src/controllers/vendor/vendorController.ts
  apps/api-server/src/routes/vendor.ts
Labels: backend, typescript

fix: Resolve CORS-like errors by improving dashboard error handling
  apps/api-server/src/controllers/dashboardController.ts
Labels: backend, typescript

fix: Implement real database-based Product Import system
  apps/admin-dashboard/src/api/productImportApi.ts
  apps/api-server/src/controllers/ProductController.ts
  apps/api-server/src/routes/ecommerce.ts
  apps/api-server/src/services/ProductService.ts
Labels: frontend, backend, typescript

fix: Remove unnecessary try/catch wrapper in ProductService
  apps/api-server/src/services/ProductService.ts
Labels: backend, typescript

feat: Replace hardcoded sample user data with real database entries
  apps/api-server/src/controllers/UserManagementController.ts
Labels: backend, typescript

feat: Add missing /api/v1/products endpoint
  apps/api-server/src/controllers/ProductController.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/v1/products.routes.ts
Labels: backend, typescript

fix: CORS and missing API endpoints for admin dashboard
  apps/api-server/src/routes/ecommerce.ts
Labels: backend, typescript

chore: trigger API server deployment
  apps/api-server/TRIGGER_DEPLOY.txt
Labels: backend

fix: add /api prefix to all ecommerce API endpoints
  apps/admin-dashboard/src/api/ecommerceApi.ts
  pnpm-lock.yaml
Labels: frontend, config, typescript

fix: Remove authentication requirement for admin dashboard API endpoints
  apps/api-server/src/routes/inventory.ts
  apps/api-server/src/routes/v1/toss-payments.routes.ts
  package-lock.json
  pnpm-lock.yaml
Labels: backend, config, dependencies, typescript

fix: Remove authentication for vendor and ecommerce endpoints
  apps/admin-dashboard/src/pages/ecommerce/EcommerceSettings.tsx
  apps/api-server/src/routes/ecommerce.ts
  apps/api-server/src/routes/vendor.ts
Labels: frontend, backend, typescript

fix: resolve API 500 and 404 errors
  apps/api-server/src/routes/inventory.ts
  apps/api-server/src/routes/v1/toss-payments.routes.ts
Labels: backend, typescript

fix: resolve login 500 error by fixing entity loading in production
  apps/api-server/src/database/connection.ts
  apps/api-server/src/routes/auth.ts
Labels: backend, typescript

refactor: standardize error handling and environment validation
  apps/api-server/src/database/connection.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/error-handler.ts
  apps/api-server/src/routes/auth.ts
  apps/api-server/src/routes/inventory.ts
  apps/api-server/src/utils/api-error.ts
  apps/api-server/src/utils/database-checker.ts
  apps/api-server/src/utils/env-validator.ts
  apps/api-server/src/utils/route-helper.ts
Labels: backend, typescript

fix: make products table optional in database health check
  apps/api-server/src/utils/database-checker.ts
Labels: backend, typescript

fix: resolve Toss payments API 500 errors
  apps/api-server/src/routes/v1/toss-payments.routes.ts
  apps/api-server/src/services/TossPaymentsService.ts
Labels: backend, typescript

fix: resolve API 404 errors and remove console.log statements
  apps/api-server/src/controllers/postsController.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/v1/acf.routes.ts
  apps/api-server/src/scripts/create-test-user.ts
  apps/api-server/src/utils/env-validator.ts
Labels: backend, typescript

feat: Implement simple hamburger menu for mobile navigation
  apps/main-site/src/components/HamburgerMenu.tsx
  apps/main-site/src/components/blocks/Navigation.tsx
  apps/main-site/src/components/blocks/SiteHeader.tsx
Labels: frontend, typescript

feat: AI 페이지 생성 기능 구현
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/components/ai/AIPageGeneratorModal.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/ai/pageGenerator.ts
  package-lock.json
Labels: frontend, config, dependencies, typescript

chore: Update pnpm lockfile for uuid package
  pnpm-lock.yaml
Labels: config

fix: Add missing ESLint dependencies
  package-lock.json
  package.json
Labels: config, dependencies

fix: Skip ESLint to avoid CI failures
  eslint.config.js
  scripts/development/dev.sh
Labels: ci/cd, config, javascript

fix: Update pnpm lockfile to sync with package.json
  pnpm-lock.yaml
Labels: config

fix: 햄버거 메뉴 클릭 문제 해결 및 코드 정리
  apps/main-site/src/components/HamburgerMenu.css
  apps/main-site/src/components/HamburgerMenu.tsx
Labels: frontend, typescript, styles

refactor: 햄버거 메뉴 코드 최종 정리
  apps/main-site/src/components/HamburgerMenu.css
  apps/main-site/src/components/HamburgerMenu.tsx
Labels: frontend, typescript, styles

feat: Improve AI page generation UX with progress tracking and cancellation
  apps/admin-dashboard/src/components/ai/AIPageGeneratorModal.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/ai/pageGenerator.ts
Labels: frontend, typescript

fix: Show AI generator button on all screen sizes
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
