Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(web-neture): o4o 플랫폼 소개 및 채널/판매 구조 페이지 추가
  .claude/settings.local.json
  pnpm-lock.yaml
  services/web-neture/package.json
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/MainLayout.tsx
  services/web-neture/src/pages/HomePage.tsx
  services/web-neture/src/pages/O4OIntroPage.tsx
  services/web-neture/src/pages/PartnerInfoPage.tsx
  services/web-neture/src/pages/PartnerOverviewInfoPage.tsx
  services/web-neture/src/pages/SellerOverviewPage.tsx
  services/web-neture/src/pages/SellerQRGuidePage.tsx
  services/web-neture/src/pages/channel/ChannelExplanationPage.tsx
  services/web-neture/src/pages/channel/ChannelSalesStructurePage.tsx
  services/web-neture/src/pages/channel/DentalChannelExplanationPage.tsx
  services/web-neture/src/pages/channel/index.ts
  services/web-neture/src/pages/seller/SellerOverviewByIndustry.tsx
  services/web-neture/src/pages/seller/index.ts
  services/web-neture/src/pages/test-guide/manual/services/KpaSocietyServiceManualPage.tsx
  services/web-neture/src/pages/test-guide/manual/services/NetureServiceManualPage.tsx
  services/web-neture/vite.config.ts
Labels: config, dependencies, typescript

feat(web-neture): o4o 카드 링크 연결 및 플랫폼 운영 원칙 페이지 추가
  docs/architecture/NETURE-DESIGN-PRINCIPLES-V1.1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/O4OIntroPage.tsx
  services/web-neture/src/pages/PartnerInfoPage.tsx
  services/web-neture/src/pages/PlatformPrinciplesPage.tsx
Labels: documentation, typescript

feat: Dashboard API 연결 및 mock 데이터 제거
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/routes/cosmetics/controllers/cosmetics.controller.ts
  apps/api-server/src/routes/cosmetics/repositories/cosmetics.repository.ts
  apps/api-server/src/routes/cosmetics/services/cosmetics.service.ts
  services/web-k-cosmetics/src/pages/operator/index.tsx
  services/web-k-cosmetics/src/services/operatorApi.ts
  services/web-kpa-society/src/pages/LoginPage.tsx
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/LoginPage.tsx
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
  services/web-neture/src/pages/operator/OperatorDashboard.tsx
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
Labels: backend, typescript

fix: TypeScript 빌드 오류 수정
  services/web-neture/src/pages/operator/OperatorDashboard.tsx
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
Labels: typescript

feat: Vite 빌드 경고 해결 및 의료기관 소개 페이지 추가
  apps/admin-dashboard/src/components/shortcodes/dropshipping/index.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/partner/index.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/seller/index.tsx
  apps/admin-dashboard/src/components/shortcodes/dropshipping/supplier/index.tsx
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
  apps/admin-dashboard/src/utils/shortcode-loader.ts
  apps/main-site/src/router/index.tsx
  packages/cgm-pharmacist-app/src/lifecycle/index.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/O4OIntroPage.tsx
  services/web-neture/src/pages/seller/MedicalOverviewPage.tsx
  services/web-neture/src/pages/seller/index.ts
Labels: frontend, packages, typescript

feat: Remove all mock data and add Content Core system
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/api/content-assets.api.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/content/analytics/index.tsx
  apps/admin-dashboard/src/pages/content/assets/[assetId].tsx
  apps/admin-dashboard/src/pages/content/assets/index.tsx
  apps/admin-dashboard/src/pages/content/collections/index.tsx
  apps/admin-dashboard/src/pages/content/index.tsx
  apps/admin-dashboard/src/pages/content/policies/index.tsx
  apps/admin-dashboard/src/pages/dashboard/business/BusinessDashboard.tsx
  apps/admin-dashboard/src/pages/dashboard/business/index.ts
  apps/admin-dashboard/src/pages/dashboard/phase2.4/PartnerStats.tsx
  apps/admin-dashboard/src/pages/dashboard/unified/cards/ExecutiveCard.tsx
  apps/admin-dashboard/src/pages/dashboard/unified/cards/OperatorCard.tsx
  apps/admin-dashboard/src/pages/dashboard/unified/cards/OverviewCard.tsx
  apps/admin-dashboard/src/pages/dashboard/unified/cards/PartnerCard.tsx
  apps/admin-dashboard/src/pages/dashboard/unified/cards/SellerCard.tsx
  apps/admin-dashboard/src/pages/dashboard/unified/cards/SupplierCard.tsx
  apps/admin-dashboard/src/pages/dashboard/unified/useNotifications.ts
  apps/admin-dashboard/src/pages/dashboard/unified/useUserContext.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/content/content-assets.routes.ts
  packages/content-core/README.md
  packages/content-core/package.json
  packages/content-core/src/entities/ContentAsset.ts
  packages/content-core/src/entities/index.ts
  packages/content-core/src/index.ts
  packages/content-core/src/types/ContentTypes.ts
  packages/content-core/src/types/index.ts
  packages/content-core/tsconfig.json
  pnpm-lock.yaml
Labels: frontend, backend, packages, config, dependencies, typescript

fix: Add content-core dependency to package.json files
  apps/admin-dashboard/package.json
  apps/api-server/package.json
  packages/cms-core/package.json
Labels: frontend, backend, packages, dependencies

fix: Use source files in content-core package exports
  packages/content-core/package.json
Labels: packages, dependencies

fix: Add content-core dependency to remaining packages
  packages/block-renderer/package.json
  packages/signage-pharmacy-extension/package.json
Labels: packages, dependencies

feat(siteguide): Add SiteGuide MVP widget and API endpoint
  apps/api-server/src/main.ts
  apps/api-server/src/routes/siteguide.routes.ts
  docs/services/README.md
  docs/services/siteguide/SITEGUIDE-ARCHITECTURE-NOTE.md
  docs/services/siteguide/SITEGUIDE-DOMAIN-STRATEGY.md
  docs/services/siteguide/SITEGUIDE-SERVICE-OVERVIEW.md
  docs/services/siteguide/WO-SITEGUIDE-BUSINESS-ONBOARDING-V1.md
  packages/ai-core/README.md
  packages/siteguide-widget/README.md
  packages/siteguide-widget/examples/test.html
  packages/siteguide-widget/package.json
  packages/siteguide-widget/rollup.config.js
  packages/siteguide-widget/src/api.ts
  packages/siteguide-widget/src/context.ts
  packages/siteguide-widget/src/icons.ts
  packages/siteguide-widget/src/index.ts
  packages/siteguide-widget/src/styles.ts
  packages/siteguide-widget/src/types.ts
  packages/siteguide-widget/src/widget.ts
  packages/siteguide-widget/tsconfig.json
Labels: backend, packages, documentation, dependencies, typescript, javascript

fix(siteguide-widget): Replace deprecated rollup-plugin-terser with @rollup/plugin-terser
  packages/siteguide-widget/package.json
  packages/siteguide-widget/rollup.config.js
  pnpm-lock.yaml
Labels: packages, config, dependencies, javascript

feat(siteguide): add Cloud Run core service skeleton
  pnpm-lock.yaml
  services/api-siteguide/.dockerignore
  services/api-siteguide/.env.example
  services/api-siteguide/Dockerfile
  services/api-siteguide/deploy-cloudrun.sh
  services/api-siteguide/package.json
  services/api-siteguide/src/config/env.ts
  services/api-siteguide/src/main.ts
  services/api-siteguide/tsconfig.build.json
  services/api-siteguide/tsconfig.json
Labels: config, dependencies, typescript, security

feat(siteguide): add core execution layer and Cloud Run service
  apps/api-server/src/database/connection.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/siteguide/entities/index.ts
  apps/api-server/src/routes/siteguide/entities/siteguide-apikey.entity.ts
  apps/api-server/src/routes/siteguide/entities/siteguide-business.entity.ts
  apps/api-server/src/routes/siteguide/entities/siteguide-execution-log.entity.ts
  apps/api-server/src/routes/siteguide/entities/siteguide-usage-summary.entity.ts
  apps/api-server/src/routes/siteguide/index.ts
  apps/api-server/src/routes/siteguide/siteguide.routes.ts
  apps/api-server/src/routes/siteguide/siteguide.service.ts
  services/api-siteguide/src/main.ts
  services/api-siteguide/tsconfig.build.json
  services/api-siteguide/tsconfig.json
Labels: backend, typescript

feat(siteguide): add DB migration and Admin API authentication
  apps/api-server/.env.example
  apps/api-server/src/database/migrations/1737330000000-CreateSiteGuideTables.ts
  apps/api-server/src/routes/siteguide/siteguide.routes.ts
Labels: backend, typescript, security

docs(debugging): align diagnostic baseline with alpha production reality
  CLAUDE.md
  docs/debugging/DIAGNOSTIC-INFRASTRUCTURE-INVENTORY.md
  docs/debugging/README.md
Labels: documentation

feat(platform): add Operational Alpha status display to all service heroes
  docs/platform/ALPHA-STATUS-DISPLAY-STANDARD.md
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glycopharm/src/config/heroConfig.ts
  services/web-glycopharm/src/pages/HomePage.tsx
  services/web-k-cosmetics/src/pages/HomePage.tsx
  services/web-kpa-society/src/components/platform/HeroSection.tsx
  services/web-neture/src/pages/HomePage.tsx
Labels: documentation, typescript

feat(neture): add partner stability checklist for Operational Alpha v0.8.x
  docs/platform/ALPHA-STATUS-DISPLAY-STANDARD.md
  services/web-neture/src/pages/PartnerInfoPage.tsx
  services/web-neture/src/pages/PartnerOverviewInfoPage.tsx
  services/web-neture/src/pages/test-guide/manual/PartnerManualPage.tsx
Labels: documentation, typescript

feat: add TestCenterPage to all services - separate test sections from HomePage
  services/web-glucoseview/src/App.tsx
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glucoseview/src/pages/TestCenterPage.tsx
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/HomePage.tsx
  services/web-glycopharm/src/pages/TestCenterPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/HomePage.tsx
  services/web-k-cosmetics/src/pages/TestCenterPage.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/TestCenterPage.tsx
  services/web-kpa-society/src/pages/platform/HomePage.tsx
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/HomePage.tsx
  services/web-neture/src/pages/TestCenterPage.tsx
Labels: typescript

feat(admin-dashboard): Add /debug/auth JSON debugging page
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/__debug__/AuthStateJsonDebug.tsx
Labels: frontend, typescript

fix(admin-dashboard): Update /debug/auth with built-in login form
  apps/admin-dashboard/src/pages/__debug__/AuthStateJsonDebug.tsx
Labels: frontend, typescript

fix(admin-dashboard): 로그인 인증 및 UI 수정
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
  apps/admin-dashboard/src/pages/settings/AiQuerySettings.tsx
  apps/admin-dashboard/src/pages/settings/OAuthSettings.tsx
  apps/admin-dashboard/src/styles/wordpress-sidebar.css
  apps/api-server/src/routes/admin/apps.routes.ts
  apps/api-server/src/utils/cookie.utils.ts
Labels: frontend, backend, typescript, styles

fix(api-server): remove console.log from cookie.utils
  apps/api-server/src/utils/cookie.utils.ts
Labels: backend, typescript

fix(api-server): update KPA test account passwords to TestPassword
  apps/api-server/src/database/migrations/1737400000000-UpdateKpaTestAccountPasswords.ts
Labels: backend, typescript

fix(glycopharm): replace email with user icon in header
  services/web-glycopharm/src/components/common/Header.tsx
Labels: typescript

fix(api-server): update GlucoseView test account passwords to TestPassword
  apps/api-server/src/database/migrations/1737400100000-UpdateGlucoseViewTestAccountPasswords.ts
Labels: backend, typescript

fix(api-server): create KPA and GlucoseView test accounts
  apps/api-server/src/database/migrations/1737400200000-CreateTestAccounts.ts
Labels: backend, typescript

fix(api-server): fix test account migration column names
  apps/api-server/src/database/migrations/1737400000000-UpdateKpaTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400100000-UpdateGlucoseViewTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400200000-CreateTestAccounts.ts
Labels: backend, typescript

fix: align test accounts with DB and optimize Neture loading
  apps/api-server/src/database/migrations/1737400000000-UpdateKpaTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400100000-UpdateGlucoseViewTestAccountPasswords.ts
  apps/api-server/src/database/migrations/1737400200000-CreateTestAccounts.ts
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-kpa-society/src/pages/LoginPage.tsx
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/HomePage.tsx
  services/web-neture/src/pages/LoginPage.tsx
Labels: backend, typescript

fix(neture): add site navigation to partner/admin dashboards
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
Labels: typescript

fix(k-cosmetics): remove consumer test account with role mismatch
  apps/api-server/src/database/migrations/1737450000000-RemoveKCosmeticsConsumerAccount.ts
  services/web-k-cosmetics/src/pages/auth/LoginPage.tsx
Labels: backend, typescript

fix: GlucoseView login password and KPA user dropdown
  services/web-glucoseview/src/components/LoginModal.tsx
  services/web-kpa-society/src/components/Header.tsx
Labels: typescript

perf: add lazy loading to glycopharm and k-cosmetics
  services/web-glucoseview/src/pages/HomePage.tsx
  services/web-glycopharm/src/App.tsx
  services/web-k-cosmetics/src/App.tsx
Labels: typescript

refactor: centralize test feedback forum to Neture
  services/web-glucoseview/src/components/layouts/TestGuideLayout.tsx
  services/web-glycopharm/src/components/layouts/TestGuideLayout.tsx
  services/web-k-cosmetics/src/components/layouts/TestGuideLayout.tsx
  services/web-kpa-society/src/components/layouts/TestGuideLayout.tsx
  services/web-neture/src/components/layouts/TestGuideLayout.tsx
Labels: typescript

fix(neture): return to forum after login instead of dashboard
  services/web-neture/src/pages/LoginPage.tsx
  services/web-neture/src/pages/forum/ForumWritePage.tsx
Labels: typescript

feat: update user icons to Neture style and add KPA service button
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/components/platform/HeroSection.tsx
Labels: typescript

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: config

docs(signage): add Phase 2 Baseline and Finalization documents
  docs/signage/SIGNAGE-PHASE2-DEPLOY-CHECKLIST.md
  docs/signage/baseline/PHASE2-BASELINE-V2.md
  docs/signage/reports/smoke-test-phase2.md
Labels: documentation

docs(signage): add Phase 3 Pre-Design documents
  docs/signage/phase3/EXTENSION-BOUNDARIES-V2.md
  docs/signage/phase3/EXTENSION-ENTITY-PRELIMINARY-DRAFT.md
  docs/signage/phase3/GLOBAL-CONTENT-FLOW-V3.md
  docs/signage/phase3/OPERATOR-WORKSPACE-V2.md
  docs/signage/phase3/PHASE3-ROADMAP-V1.md
Labels: documentation

docs(signage): add Phase 3 Pre-Design documents (#109)
  docs/signage/phase3/EXTENSION-BOUNDARIES-V2.md
  docs/signage/phase3/EXTENSION-ENTITY-PRELIMINARY-DRAFT.md
  docs/signage/phase3/GLOBAL-CONTENT-FLOW-V3.md
  docs/signage/phase3/OPERATOR-WORKSPACE-V2.md
  docs/signage/phase3/PHASE3-ROADMAP-V1.md
Labels: documentation

docs(signage): add Phase 3 Design documents (FROZEN)
  docs/signage/phase3/EXTENSION-API-CONTRACT-V1.md
  docs/signage/phase3/EXTENSION-BOUNDARIES-V3.md
  docs/signage/phase3/EXTENSION-ENTITY-DESIGN-V1.md
  docs/signage/phase3/GLOBAL-CONTENT-FLOW-V4.md
  docs/signage/phase3/OPERATOR-WORKSPACE-V3.md
  docs/signage/phase3/PHASE3-DESIGN-BASELINE.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
