Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

fix: update UI component imports to use @o4o/ui package
  apps/main-site/src/pages/auth/AuthCallbackV2.tsx
  apps/main-site/src/pages/auth/EmailVerificationError.tsx
  apps/main-site/src/pages/auth/EmailVerificationPending.tsx
  apps/main-site/src/pages/auth/OAuthCallback.tsx
Labels: frontend, typescript

fix: resolve TypeScript build errors for server deployment
  apps/api-server/tsconfig.json
Labels: backend

fix: add environment variables to deploy-api-server-v2 workflow
  .github/workflows/deploy-api-server-v2.yml
Labels: ci/cd

fix: resolve CI/CD pipeline errors and build issues
  apps/api-server/package.json
  apps/api-server/src/main.ts
  apps/api-server/tsconfig.json
  package-lock.json
  packages/auth-context/tsconfig.json
Labels: backend, packages, config, dependencies, typescript

fix: stabilize auth-context build for server deployment
  packages/auth-context/build.js
  packages/auth-context/package.json
  packages/auth-context/tsconfig.json
  scripts/server-build.sh
Labels: packages, ci/cd, dependencies, javascript

fix: resolve SSH connection issues in GitHub Actions
  .github/workflows/debug-ssh.yml
  .github/workflows/deploy-main-site-v2.yml
  apps/api-server/package.json
  apps/api-server/src/test-server.ts
  scripts/update-deploy-workflows.sh
  vite.config.shared.ts
Labels: backend, ci/cd, config, dependencies, typescript

feat: generate package-lock.json via GitHub Actions
  package-lock.json
Labels: config, dependencies

fix: resolve github-script syntax errors in workflows
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: resolve build errors for API server and Admin Dashboard
  apps/admin-dashboard/src/styles/globals.css
  apps/api-server/.env.test
  apps/api-server/src/types/express.d.ts
  apps/api-server/tsconfig.json
  apps/forum/src/styles/globals.css
  apps/forum/tailwind.config.js
  packages/auth-context/build-server.js
  packages/auth-context/package.json
  scripts/build-packages-server.sh
  server-build.sh
Labels: frontend, backend, packages, ci/cd, dependencies, typescript, javascript, styles, security

feat: add deployment diagnostics and improved health checks
  .github/workflows/deploy-main-site-v3.yml
  scripts/check-deployment.sh
  scripts/server-diagnostics.sh
Labels: ci/cd

fix: resolve SSH configuration error in deployment workflow
  .github/workflows/deploy-main-site-v3.yml
Labels: ci/cd

fix: API 서버 TypeScript 타입 에러 해결 및 recharts 제거
  apps/admin-dashboard/.env.production
  apps/admin-dashboard/index.html
  apps/admin-dashboard/package.json
  apps/admin-dashboard/public/vite.svg
  apps/admin-dashboard/src/pages/monitoring/PerformanceDashboard.tsx
  apps/admin-dashboard/vite.config.ts
  apps/api-server/src/controllers/CrowdfundingController.ts
  apps/api-server/src/controllers/analyticsController.ts
  apps/api-server/src/controllers/mediaController.ts
  apps/api-server/src/controllers/operationsController.ts
  apps/api-server/src/controllers/statusPageController.ts
  apps/api-server/src/controllers/templatesController.ts
  apps/api-server/src/controllers/vendor/vendorOrderController.ts
  apps/api-server/src/controllers/vendor/vendorProductController.ts
  apps/api-server/src/controllers/vendor/vendorStatsController.ts
  apps/api-server/src/middleware/auth-v2.ts
  apps/api-server/src/middleware/auth.middleware.ts
  apps/api-server/src/middleware/authMiddleware.ts
  apps/api-server/src/middleware/performanceMonitor.ts
  apps/api-server/src/routes/linked-accounts.ts
  apps/api-server/src/routes/vendor.ts
  apps/api-server/src/types/auth.ts
  apps/api-server/src/types/global.d.ts
  apps/api-server/tsconfig.json
  package-lock.json
Labels: frontend, backend, config, dependencies, typescript, security

fix: ESLint 경고 수정
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
  apps/main-site/src/hooks/useTemplateParts.ts
Labels: frontend, typescript

docs: CLAUDE.md에 코드 변경 시 체크리스트 추가
  CLAUDE.md
Labels: documentation

fix: useBlockPatterns 함수 정의 순서 수정
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
Labels: frontend, typescript

feat: useBlockPatterns 훅 완성 - WordPress 블록 패턴 관리 기능 구현
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
Labels: frontend, typescript

fix: npm audit 취약점 수정 및 WordPress 패키지 호환성 개선
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/components/editor/WordPressBlockEditor.tsx
  apps/api-gateway/package.json
  apps/ecommerce/package.json
  apps/main-site/package.json
  package-lock.json
  package.json
Labels: frontend, config, dependencies, typescript

fix: console.log 제거 및 코드 품질 개선
  apps/api-server/src/migrations/1738500000001-CreatePostsTable.ts
  apps/api-server/src/migrations/1738500000002-MigratePostsFromPages.ts
  apps/api-server/src/migrations/1738500000003-CreateReusableBlocksTable.ts
  apps/api-server/src/migrations/1738500000004-CreateBlockPatternsTable.ts
  apps/api-server/src/migrations/1738500000005-SeedDefaultBlockPatterns.ts
  apps/digital-signage/src/pages/PlaylistManager.tsx
  apps/digital-signage/src/pages/ScheduleManager.tsx
  apps/digital-signage/src/pages/SignageContent.tsx
  apps/digital-signage/src/pages/StoreManagement.tsx
Labels: backend, typescript

fix: resolve utils package import path issue in admin dashboard
  apps/admin-dashboard/vite.config.ts
Labels: frontend, typescript

chore: update @babel/runtime to address npm audit vulnerabilities
  apps/admin-dashboard/package.json
  package-lock.json
Labels: frontend, config, dependencies

ci: adjust npm audit level to high for WordPress packages
  .github/workflows/ci.yml
  .github/workflows/deploy-admin-dashboard.yml
Labels: ci/cd

fix: remove conflicting continue-on-error from npm audit step
  .github/workflows/ci.yml
Labels: ci/cd

fix: resolve YAML syntax error in CI workflow
  .github/workflows/ci.yml
Labels: ci/cd

fix: complete truncated CI workflow file
  .github/workflows/ci.yml
Labels: ci/cd

fix: resolve EISDIR error by pointing to actual built files
  apps/admin-dashboard/vite.config.ts
Labels: frontend, typescript

fix: move ts-node to production dependencies for TypeORM migrations
  apps/api-server/package.json
  package-lock.json
Labels: backend, config, dependencies

fix: add missing TypeScript type definitions for API server
  apps/api-server/package.json
  package-lock.json
Labels: backend, config, dependencies

docs: add build error resolution process to CLAUDE.md
  CLAUDE.md
Labels: documentation

refactor: replace console.log with winston logger in server.ts
  CLAUDE.md
  apps/api-server/src/server.ts
Labels: backend, documentation, typescript

feat: add efficient build scripts for all apps
  CLAUDE.md
  package.json
Labels: config, documentation, dependencies

feat: add comprehensive server deployment script with proper build order
  scripts/deploy-server.sh
Labels: ci/cd

chore: remove server-specific scripts - now handled by server-side Claude Code
  scripts/backup-monitoring.sh
  scripts/backup.sh
  scripts/check-deployment.sh
  scripts/ci-debug.sh
  scripts/ci-install-robust.sh
  scripts/ci-install.sh
  scripts/ci-prepare.sh
  scripts/deploy-server.sh
  scripts/deploy.sh
  scripts/production-test.sh
  scripts/quick-setup-server.sh
  scripts/restore.sh
  scripts/server-build.sh
  scripts/server-diagnosis.sh
  scripts/server-diagnostics.sh
  scripts/ssl-setup.sh
Labels: ci/cd

fix: Gmail 이메일 서비스 설정 개선 및 에러 핸들링 강화
  apps/api-server/env.example
  apps/api-server/src/main.ts
  apps/api-server/src/services/email.service.ts
  apps/api-server/src/services/emailService.ts
Labels: backend, typescript

test: 이메일 서비스 비활성화 테스트 환경 설정 추가
  apps/api-server/.env.test
Labels: backend, security

docs: 의존성 문제 조사 보고서 작성
  DEPENDENCY_ISSUE_REPORT.md
Labels: documentation

fix: 보안 취약점 부분 해결 (91개 패키지 업데이트)
  package-lock.json
Labels: config, dependencies

fix: CI/CD 파이프라인 오류 수정 - ci-install.sh 파일 추가
  scripts/ci-install.sh
Labels: ci/cd

fix: API 서버 TypeScript 빌드 오류 수정
  apps/api-server/tsconfig.json
Labels: backend

fix: auth-client 패키지 빌드 에러 수정
  package-lock.json
  packages/auth-client/src/client.ts
  packages/auth-client/src/cookie-client.ts
Labels: packages, config, dependencies, typescript

fix: analyticsMiddleware.ts 타입 에러 수정
  apps/api-server/src/middleware/analyticsMiddleware.ts
Labels: backend, typescript
