Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

docs: add WO-PARTNER-RECRUIT-AND-DASHBOARD-MODEL-V1 reference document
  docs/architecture/WO-PARTNER-RECRUIT-AND-DASHBOARD-MODEL-V1.md
Labels: documentation

feat(partner-recruit): add is_partner_recruiting to GlycoPharm products (Phase 1)
  apps/api-server/src/database/migrations/1738300000000-AddPartnerRecruitingToGlycopharmProducts.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/routes/glycopharm/controllers/glycopharm.controller.ts
  apps/api-server/src/routes/glycopharm/dto/index.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-product-log.entity.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-product.entity.ts
  apps/api-server/src/routes/glycopharm/repositories/glycopharm.repository.ts
  apps/api-server/src/routes/glycopharm/services/glycopharm.service.ts
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/pages/operator/ProductsPage.tsx
  services/web-neture/src/App.tsx
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/PartnerInfoPage.tsx
  services/web-neture/src/pages/partner/RecruitingProductsPage.tsx
Labels: backend, typescript

feat(partner-dashboard): enable product selection and dashboard display (Phase 1)
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/2026013100001-CreateNeturePartnerDashboardItems.ts
  apps/api-server/src/modules/neture/entities/NeturePartnerDashboardItem.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
  services/web-neture/src/pages/partner/RecruitingProductsPage.tsx
Labels: backend, typescript

feat(partner-dashboard): add sorting, service grouping, and status toggle (Phase 2 UX)
  apps/api-server/src/modules/neture/neture.routes.ts
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
Labels: backend, typescript

feat(partner-dashboard): content linking for dashboard products (Phase 3-1)
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/2026013100002-CreatePartnerDashboardItemContents.ts
  apps/api-server/src/modules/neture/entities/NeturePartnerDashboardItemContent.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
Labels: backend, typescript

feat(partner-dashboard): add content ordering and primary designation (Phase 3-2)
  apps/api-server/src/database/migrations/2026013100003-AddOrderAndPrimaryToItemContents.ts
  apps/api-server/src/modules/neture/entities/NeturePartnerDashboardItemContent.entity.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
Labels: backend, typescript

feat(partner-dashboard): show primary content summary on product cards (Phase 3-3)
  apps/api-server/src/modules/neture/neture.routes.ts
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
Labels: backend, typescript

fix(forum): use @o4o/forum-core/entities subpath for entity imports
  apps/api-server/src/controllers/forum/ForumController.ts
  apps/api-server/src/routes/glycopharm/controllers/forum-request.controller.ts
  apps/api-server/src/services/forum/ForumAIService.ts
  apps/api-server/src/services/forum/ForumRecommendationService.ts
Labels: backend, typescript

fix(auth): add requireAuth guards to neture routes and improve login UX
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/routes/neture/controllers/neture.controller.ts
  services/web-neture/src/components/LoginModal.tsx
  services/web-neture/src/contexts/AuthContext.tsx
Labels: backend, typescript

fix(web-neture): add credentials to neture API calls for auth guard compatibility
  services/web-neture/src/lib/api.ts
Labels: typescript

fix(forum): enforce author attribution on post creation (Phase 20-B)
  apps/api-server/src/controllers/forum/ForumController.ts
  apps/api-server/src/database/migrations/2026013100004-CleanupForumOrphanedPosts.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  services/web-neture/src/pages/forum/ForumWritePage.tsx
  services/web-neture/src/pages/profile/ContactSettingsPage.tsx
  services/web-neture/src/services/forumApi.ts
Labels: backend, typescript

fix(forum): fix comment edit/delete permission check (Phase 20-D)
  apps/api-server/src/controllers/forum/ForumController.ts
Labels: backend, typescript

feat(forum): stabilize UX with login modal and credentials on GET calls (Phase 20-E)
  services/web-neture/src/pages/forum/ForumPostPage.tsx
  services/web-neture/src/services/forumApi.ts
Labels: typescript

feat(forum): add keyword search with URL state persistence (Phase 22-A)
  services/web-neture/src/pages/forum/ForumPage.tsx
  services/web-neture/src/services/forumApi.ts
Labels: typescript

feat(forum): add category/type filter and sort options (Phase 22-B)
  services/web-neture/src/pages/forum/ForumPage.tsx
  services/web-neture/src/services/forumApi.ts
Labels: typescript

feat(forum): add IntersectionObserver infinite scroll (Phase 22-C)
  services/web-neture/src/pages/forum/ForumPage.tsx
Labels: typescript

feat(forum): optimize mobile UX with bottom sheet filters and touch targets (Phase 22-D)
  services/web-neture/src/pages/forum/ForumPage.tsx
  services/web-neture/src/pages/forum/ForumPostPage.tsx
Labels: typescript

fix(neture): remove requireAuth from public GET endpoints and update empty state
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/routes/neture/controllers/neture.controller.ts
  services/web-neture/src/pages/partner/RecruitingProductsPage.tsx
Labels: backend, typescript

feat(neture): add company info to ContactPage and register apply route
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/ContactPage.tsx
  services/web-neture/src/pages/partner/RecruitingProductsPage.tsx
Labels: typescript

fix(neture): remove requireAuth from all public GET endpoints
  apps/api-server/src/routes/neture/controllers/neture.controller.ts
Labels: backend, typescript

refactor(neture): redefine PartnersApplyPage as policy guide (WO-O4O-SUPPLIER-PARTNER-APPLICATION-UI-REDEFINE-V1)
  services/web-neture/src/pages/partners/PartnersApplyPage.tsx
Labels: typescript

docs: add supply request baseline document (WO-O4O-SERVICE-OPERATOR-SUPPLY-REQUEST-BASELINE-V1)
  docs/_platform/SUPPLY-REQUEST-BASELINE-V1.md
Labels: documentation

docs: add supply dashboard UI design document (WO-O4O-SERVICE-OPERATOR-SUPPLY-DASHBOARD-UI-V1)
  docs/_platform/SUPPLY-DASHBOARD-UI-DESIGN-V1.md
Labels: documentation

feat(neture): implement operator supply dashboard (WO-O4O-SERVICE-OPERATOR-SUPPLY-DASHBOARD-IMPLEMENTATION-V1)
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/neture.service.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/operator/OperatorDashboard.tsx
  services/web-neture/src/pages/operator/SupplyDashboardPage.tsx
  services/web-neture/src/pages/operator/index.ts
Labels: backend, typescript

feat(neture): simplify header nav and redesign partner requests page
  pnpm-lock.yaml
  services/web-neture/src/components/layouts/MainLayout.tsx
  services/web-neture/src/pages/o4o/O4OMainPage.tsx
  services/web-neture/src/pages/partners/requests/PartnershipRequestListPage.tsx
Labels: config, typescript

feat(neture): add service name column to partner recruitment table and baseline doc
  docs/specs/WO-O4O-PARTNER-RECRUITMENT-API-BASELINE-V1.md
  services/web-neture/src/pages/partners/requests/PartnershipRequestListPage.tsx
Labels: documentation, typescript

feat(neture): implement partner recruitment API (WO-O4O-PARTNER-RECRUITMENT-API-IMPLEMENTATION-V1)
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/2026020100001-CreatePartnerRecruitmentTables.ts
  apps/api-server/src/modules/neture/entities/NeturePartnerApplication.entity.ts
  apps/api-server/src/modules/neture/entities/NeturePartnerRecruitment.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/neture.service.ts
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/partners/requests/PartnershipRequestListPage.tsx
Labels: backend, typescript

feat(neture): add supplier supply request approval page (WO-O4O-SUPPLIER-SUPPLY-APPROVAL-UX-V1)
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardLayout.tsx
  services/web-neture/src/pages/supplier/SupplyRequestsPage.tsx
  services/web-neture/src/pages/supplier/index.ts
Labels: typescript

fix(neture): add redirect for /supplier-ops/partners/ to /partners/requests
  services/web-neture/src/App.tsx
Labels: typescript

fix(neture): improve error handling and remove RoleEntrySection from O4O page
  services/web-neture/src/lib/api.ts
  services/web-neture/src/pages/o4o/O4OMainPage.tsx
  services/web-neture/src/pages/partners/requests/PartnershipRequestListPage.tsx
  services/web-neture/src/pages/suppliers/SupplierListPage.tsx
Labels: typescript

fix(neture): remove consultation button and contact section
  services/web-neture/src/pages/partners/PartnersApplyPage.tsx
  services/web-neture/src/pages/seller/MedicalOverviewPage.tsx
Labels: typescript

feat(neture): replace examples/apply pages with business-inquiry and consultation pages
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/SupplierOpsLayout.tsx
  services/web-neture/src/pages/O4OIntroPage.tsx
  services/web-neture/src/pages/manual/concepts/ChannelMapPage.tsx
  services/web-neture/src/pages/manual/concepts/ConceptsPage.tsx
  services/web-neture/src/pages/o4o/BusinessInquiryPage.tsx
  services/web-neture/src/pages/o4o/ConsultationRequestPage.tsx
  services/web-neture/src/pages/o4o/O4OMainPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardLayout.tsx
Labels: typescript

refactor(neture): rename /supplier-ops URL path to /workspace
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/MainLayout.tsx
  services/web-neture/src/components/layouts/SupplierOpsLayout.tsx
  services/web-neture/src/contexts/AuthContext.tsx
  services/web-neture/src/pages/ContactPage.tsx
  services/web-neture/src/pages/HomePage.tsx
  services/web-neture/src/pages/PartnerInfoPage.tsx
  services/web-neture/src/pages/o4o/O4OMainPage.tsx
  services/web-neture/src/pages/operator/OperatorDashboard.tsx
  services/web-neture/src/pages/operator/SupplyDashboardPage.tsx
  services/web-neture/src/pages/partner/PartnerOverviewPage.tsx
  services/web-neture/src/pages/partners/PartnersApplyPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardLayout.tsx
  services/web-neture/src/pages/suppliers/SupplierDetailPage.tsx
  services/web-neture/src/pages/suppliers/SupplierListPage.tsx
Labels: typescript

fix(neture): remove login from main site, fix logout redirect to /workspace
  services/web-neture/src/App.tsx
  services/web-neture/src/components/AccountMenu.tsx
  services/web-neture/src/components/layouts/MainLayout.tsx
Labels: typescript

feat: add unified ForumHubPage across all services (Phase 22-E)
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/forum/ForumHubPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/forum/ForumHubPage.tsx
  services/web-k-cosmetics/src/pages/forum/index.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/SupplierOpsLayout.tsx
  services/web-neture/src/pages/forum/ForumHubPage.tsx
  services/web-neture/src/pages/forum/ForumPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardLayout.tsx
Labels: typescript

feat(forum): rewrite forum listing as table with pagination across all services (Phase 22-F)
  services/web-glycopharm/src/pages/forum/ForumPage.tsx
  services/web-k-cosmetics/src/pages/forum/ForumPage.tsx
  services/web-kpa-society/src/pages/forum/ForumListPage.tsx
  services/web-neture/src/pages/forum/ForumPage.tsx
Labels: typescript

fix(kpa-society): add @o4o/content-editor to Docker build context
  services/web-kpa-society/Dockerfile
Labels: none

fix(kpa-society): add forum-core and organization-core to Docker build
  services/web-kpa-society/Dockerfile
Labels: none

fix(kpa-society): use forum-core sub-path imports to avoid express in Vite bundle
  packages/forum-core/src/utils/index.ts
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
  services/web-kpa-society/src/pages/forum/ForumWritePage.tsx
Labels: packages, typescript

feat(forum): redesign Forum Hub UI to Daum Community style + add icon support
  apps/admin-dashboard/src/pages/forum/index.tsx
  apps/api-server/src/controllers/forum/ForumController.ts
  apps/api-server/src/database/migrations/2026020200001-AddIconUrlToForumCategory.ts
  packages/forum-core/src/backend/entities/ForumCategory.ts
  packages/types/src/forum.ts
  services/web-glycopharm/src/pages/forum/ForumHubPage.tsx
  services/web-k-cosmetics/src/pages/forum/ForumHubPage.tsx
  services/web-neture/src/pages/forum/ForumHubPage.tsx
Labels: frontend, backend, packages, typescript
