Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

fix(dropshipping-core): Replace relative imports with path aliases in main-site
  packages/dropshipping-core/src/main-site/pages/apply/ApplyPartner.tsx
  packages/dropshipping-core/src/main-site/pages/apply/ApplySeller.tsx
  packages/dropshipping-core/src/main-site/pages/apply/ApplySupplier.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerAnalyticsPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerDashboard.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerDashboardPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerLinkCreatePage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerLinkEditPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerLinksPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerSettlementDetailPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/PartnerSettlementsPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerChannelsPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerDashboard.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerDashboardPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerOrderDetailPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerOrdersPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerProductCreatePage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerProductEditPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerProductsPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerSettlementDetailPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SellerSettlementsPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierDashboard.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierDashboardPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierOrderDetailPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierOrdersPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierProductAuthorizationsPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierProductCreatePage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierProductEditPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierProductsPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierSettlementDetailPage.tsx
  packages/dropshipping-core/src/main-site/pages/dashboard/SupplierSettlementsPage.tsx
  packages/dropshipping-core/tsconfig.json
Labels: packages, typescript

refactor(build): Comprehensive build and deployment structure cleanup after App Store introduction
  .github/workflows/ci-pipeline.yml
  apps/api-server/package.json
  docs/dev/appstore/BUILD_GUIDE.md
Labels: backend, ci/cd, documentation, dependencies

docs(appstore): Add Phase 1 structure audit report
  docs/dev/audit/appstore/appstore_phase1_structure_audit.md
Labels: documentation

docs(appstore): Complete Phase 1 structure audit
  docs/dev/audit/appstore/appstore_phase1_structure_audit.md
Labels: documentation

docs(member-organization): Complete Phase 2 structure audit
  docs/dev/audit/member_organization/00_phase2_summary.md
  docs/dev/audit/member_organization/01_user_member_structure_audit.md
  docs/dev/audit/member_organization/02_organization_structure_audit.md
  docs/dev/audit/member_organization/03_rbac_structure_audit.md
Labels: documentation

docs(appstore): Correct Phase 1 audit v1.1 - revise evaluation criteria
  docs/dev/audit/appstore/appstore_phase1_structure_audit.md
Labels: documentation

docs(member-organization): Revise Phase 2 audit v1.1 - correct evaluation criteria
  docs/dev/audit/member_organization/00_phase2_summary.md
  docs/dev/audit/member_organization/01_user_member_structure_audit.md
  docs/dev/audit/member_organization/02_organization_structure_audit.md
  docs/dev/audit/member_organization/03_rbac_structure_audit.md
Labels: documentation

docs(lms): Complete Phase 3 system integration audit
  docs/dev/audit/lms/lms_phase3_integration_audit.md
Labels: documentation

docs(audit): Complete Phase 3 Forum + Dropshipping Core/Extension structure audit
  docs/dev/audit/domain_phase3/00_phase3_summary.md
  docs/dev/audit/domain_phase3/core_integration_map.md
  docs/dev/audit/domain_phase3/dropshipping_phase3_audit.md
  docs/dev/audit/domain_phase3/forum_phase3_audit.md
Labels: documentation

refactor(blocks): Remove deprecated universal-form block
  apps/admin-dashboard/src/blocks/definitions/universal-form.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/components/editor/blocks/UniversalFormBlock.tsx
  docs/dev/audit/universal-block_audit.md
  docs/dev/design/organization-core/organization_api_design.md
  docs/dev/design/organization-core/organization_app_manifest.md
  docs/dev/design/organization-core/organization_core_overview.md
  docs/dev/design/organization-core/organization_entities.md
  docs/dev/design/organization-core/organization_extension_rules.md
  docs/dev/design/organization-core/organization_rbac_scope.md
  docs/dev/impl/universal-block_phase3_impl.md
  docs/dev/specs/universal-block_phase2_design.md
  docs/dev/tasks/universal-block_audit_request.md
  docs/dev/tasks/universal-block_phase2_design_request.md
  docs/dev/tasks/universal-block_phase3_implementation.md
  packages/shortcodes/src/hooks/useUniversalBlock.ts
Labels: frontend, packages, documentation, typescript

docs(design): Complete organization-core comprehensive design
  docs/dev/design/organization-core/organization_integration_map.md
  docs/dev/design/organization-core/organization_lifecycle_hooks.md
Labels: documentation

feat(organization-core): Complete Phase 1 implementation - Core organization management system
  packages/organization-core/README.md
  packages/organization-core/package.json
  packages/organization-core/src/controllers/OrganizationController.ts
  packages/organization-core/src/controllers/index.ts
  packages/organization-core/src/entities/Organization.ts
  packages/organization-core/src/entities/OrganizationMember.ts
  packages/organization-core/src/entities/index.ts
  packages/organization-core/src/index.ts
  packages/organization-core/src/lifecycle/activate.ts
  packages/organization-core/src/lifecycle/deactivate.ts
  packages/organization-core/src/lifecycle/index.ts
  packages/organization-core/src/lifecycle/install.ts
  packages/organization-core/src/lifecycle/uninstall.ts
  packages/organization-core/src/manifest.ts
  packages/organization-core/src/services/OrganizationMemberService.ts
  packages/organization-core/src/services/OrganizationService.ts
  packages/organization-core/src/services/index.ts
  packages/organization-core/src/types/context.ts
  packages/organization-core/src/types/dtos.ts
  packages/organization-core/src/types/index.ts
  packages/organization-core/tsconfig.json
  tsconfig.base.json
Labels: packages, config, dependencies, typescript

docs(design): Add comprehensive O4O Platform Integration Spec for AI design automation
  docs/dev/design/antigravity-integration/O4O_PLATFORM_INTEGRATION_SPEC.md
Labels: documentation

feat(organization-core): Implement Phase 2 - RBAC Extension
  packages/organization-core/EXAMPLES.md
  packages/organization-core/src/entities/RoleAssignment.ts
  packages/organization-core/src/entities/index.ts
  packages/organization-core/src/guards/PermissionGuard.ts
  packages/organization-core/src/guards/index.ts
  packages/organization-core/src/index.ts
  packages/organization-core/src/services/PermissionService.ts
  packages/organization-core/src/services/index.ts
  packages/organization-core/src/utils/index.ts
  packages/organization-core/src/utils/organizationPermissions.ts
Labels: packages, typescript

feat(forum): Implement Phase 3 - Organization Integration
  packages/forum-app/package.json
  packages/forum-app/src/backend/entities/ForumCategory.ts
  packages/forum-app/src/backend/entities/ForumPost.ts
  packages/forum-app/src/backend/services/forum.service.ts
  packages/forum-app/src/backend/utils/forumPermissions.ts
  packages/forum-app/src/backend/utils/index.ts
  packages/forum-app/src/migrations/002-add-organization-to-forum.ts
  packages/forum-yaksa/src/backend/entities/YaksaCommunity.ts
  packages/forum-yaksa/src/migrations/003-add-organization-to-yaksa-community.ts
  packages/organization-forum/README.md
  packages/organization-forum/package.json
  packages/organization-forum/src/index.ts
  packages/organization-forum/src/lifecycle/install.ts
  packages/organization-forum/src/manifest.ts
  packages/organization-forum/src/services/OrganizationForumService.ts
  packages/organization-forum/tsconfig.json
Labels: packages, dependencies, typescript

feat(dropshipping): Implement Phase 3 - Organization Integration
  packages/dropshipping-core/package.json
  packages/dropshipping-core/src/backend/entities/Product.ts
  packages/dropshipping-core/src/backend/entities/Settlement.ts
  packages/dropshipping-core/src/backend/utils/dropshippingPermissions.ts
  packages/dropshipping-core/src/backend/utils/index.ts
  packages/dropshipping-core/src/migrations/001-add-organization-to-dropshipping.ts
  packages/organization-dropshipping/README.md
  packages/organization-dropshipping/package.json
  packages/organization-dropshipping/src/entities/Groupbuy.ts
  packages/organization-dropshipping/src/entities/GroupbuyParticipant.ts
  packages/organization-dropshipping/src/entities/index.ts
  packages/organization-dropshipping/src/index.ts
  packages/organization-dropshipping/src/lifecycle/install.ts
  packages/organization-dropshipping/src/manifest.ts
  packages/organization-dropshipping/src/services/OrganizationDropshippingService.ts
  packages/organization-dropshipping/tsconfig.json
Labels: packages, dependencies, typescript

feat(lms): Implement LMS Core + Organization Integration (Phase 1-3)
  packages/lms-core/README.md
  packages/lms-core/package.json
  packages/lms-core/src/entities/Attendance.ts
  packages/lms-core/src/entities/Certificate.ts
  packages/lms-core/src/entities/Course.ts
  packages/lms-core/src/entities/Enrollment.ts
  packages/lms-core/src/entities/LMSEvent.ts
  packages/lms-core/src/entities/Lesson.ts
  packages/lms-core/src/entities/Progress.ts
  packages/lms-core/src/entities/index.ts
  packages/lms-core/src/index.ts
  packages/lms-core/src/lifecycle/install.ts
  packages/lms-core/src/manifest.ts
  packages/lms-core/src/migrations/001-create-lms-tables.ts
  packages/lms-core/src/migrations/002-create-lms-additional-tables.ts
  packages/lms-core/src/utils/index.ts
  packages/lms-core/src/utils/lmsPermissions.ts
  packages/lms-core/tsconfig.json
  packages/lms-yaksa/package.json
  packages/organization-lms/README.md
  packages/organization-lms/package.json
  packages/organization-lms/src/index.ts
  packages/organization-lms/ts config.json
Labels: packages, dependencies, typescript

fix(lms): Fix TypeScript configuration for LMS packages
  packages/lms-core/src/manifest.ts
  packages/lms-core/tsconfig.json
  packages/organization-core/tsconfig.json
  packages/organization-lms/tsconfig.json
  pnpm-lock.yaml
Labels: packages, config, typescript

feat(admin): Implement Admin Dashboard Phase 4 - Part 1 (Organization + LMS UI)
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/common/DataTable.tsx
  apps/admin-dashboard/src/components/common/ResourceHeader.tsx
  apps/admin-dashboard/src/components/common/index.ts
  apps/admin-dashboard/src/components/organization/OrganizationSelector.tsx
  apps/admin-dashboard/src/components/organization/PermissionGuard.tsx
  apps/admin-dashboard/src/components/organization/index.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/lms/CourseList.tsx
  apps/admin-dashboard/src/pages/lms/EnrollmentList.tsx
  apps/admin-dashboard/src/pages/lms/EventList.tsx
  apps/admin-dashboard/src/pages/lms/index.ts
  apps/admin-dashboard/src/pages/organization/OrganizationList.tsx
  apps/admin-dashboard/src/pages/organization/OrganizationMembers.tsx
  apps/admin-dashboard/src/pages/organization/index.ts
Labels: frontend, typescript

feat(extension): Add O4O Platform Integration Extension (완성)
  extensions/o4o-integration/.gitignore
  extensions/o4o-integration/.vscodeignore
  extensions/o4o-integration/README.md
  extensions/o4o-integration/package-lock.json
  extensions/o4o-integration/package.json
  extensions/o4o-integration/src/api/pageClient.ts
  extensions/o4o-integration/src/api/types.ts
  extensions/o4o-integration/src/auth/authManager.ts
  extensions/o4o-integration/src/auth/tokenStorage.ts
  extensions/o4o-integration/src/commands/convertCommand.ts
  extensions/o4o-integration/src/commands/loginCommand.ts
  extensions/o4o-integration/src/converter/blockMapper.ts
  extensions/o4o-integration/src/converter/reactParser.ts
  extensions/o4o-integration/src/converter/tailwindParser.ts
  extensions/o4o-integration/src/extension.ts
  extensions/o4o-integration/src/types.ts
  extensions/o4o-integration/tsconfig.json
Labels: dependencies, typescript

fix(admin): Fix corrupted Korean text in EventList.tsx
  apps/admin-dashboard/src/pages/lms/EventList.tsx
Labels: frontend, typescript

fix(build): Add app-store packages to build:packages script
  package.json
Labels: config, dependencies

fix(admin): Add antd and dayjs dependencies
  apps/admin-dashboard/package.json
Labels: frontend, dependencies

feat(admin): Implement Groupbuy Admin UI (Phase 4 - Part 2)
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/groupbuy/DeadlineCountdown.tsx
  apps/admin-dashboard/src/components/groupbuy/GroupbuyQuantityProgressBar.tsx
  apps/admin-dashboard/src/components/groupbuy/GroupbuyStatusBadge.tsx
  apps/admin-dashboard/src/components/groupbuy/index.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignForm.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignList.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyParticipantsPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuySettlementReport.tsx
  pnpm-lock.yaml
Labels: frontend, config, typescript

fix(admin): Remove antd and dayjs dependencies
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/common/DataTable.tsx
  apps/admin-dashboard/src/components/common/ResourceHeader.tsx
  apps/admin-dashboard/src/components/common/index.ts
  apps/admin-dashboard/src/components/groupbuy/DeadlineCountdown.tsx
  apps/admin-dashboard/src/components/groupbuy/GroupbuyQuantityProgressBar.tsx
  apps/admin-dashboard/src/components/groupbuy/GroupbuyStatusBadge.tsx
  apps/admin-dashboard/src/components/organization/OrganizationSelector.tsx
  apps/admin-dashboard/src/components/organization/PermissionGuard.tsx
  apps/admin-dashboard/src/components/organization/index.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignForm.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignList.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyParticipantsPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuySettlementReport.tsx
  apps/admin-dashboard/src/pages/lms/CourseList.tsx
  apps/admin-dashboard/src/pages/lms/EnrollmentList.tsx
  apps/admin-dashboard/src/pages/lms/EventList.tsx
  apps/admin-dashboard/src/pages/lms/index.ts
  apps/admin-dashboard/src/pages/organization/OrganizationList.tsx
  apps/admin-dashboard/src/pages/organization/OrganizationMembers.tsx
  apps/admin-dashboard/src/pages/organization/index.ts
  pnpm-lock.yaml
Labels: frontend, config, dependencies, typescript

feat(admin): Implement Groupbuy Admin UI with Tailwind (Phase 4 - Part 2)
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/common/DataTable.tsx
  apps/admin-dashboard/src/components/common/index.ts
  apps/admin-dashboard/src/components/organization/OrganizationSelector.tsx
  apps/admin-dashboard/src/components/organization/PermissionGuard.tsx
  apps/admin-dashboard/src/components/organization/index.ts
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/hooks/groupbuy/index.ts
  apps/admin-dashboard/src/hooks/groupbuy/useCampaignDetail.ts
  apps/admin-dashboard/src/hooks/groupbuy/useGroupbuyCampaigns.ts
  apps/admin-dashboard/src/hooks/groupbuy/useParticipants.ts
  apps/admin-dashboard/src/pages/groupbuy/CampaignFormModal.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignDetailPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignListPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyParticipantsPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/index.ts
Labels: frontend, typescript

fix(build): Fix dropshipping-core module resolution for Vite builds
  apps/admin-dashboard/vite.config.ts
  apps/main-site/vite.config.ts
  packages/dropshipping-core/src/admin-ui/index.ts
  packages/dropshipping-core/src/main-site/index.ts
Labels: frontend, packages, typescript

feat(deploy): Add manual deployment script for main-site
  scripts/deploy-main-site-manual.sh
Labels: ci/cd

docs: Update CLAUDE.md with new main-site manual deployment script
  CLAUDE.md
Labels: documentation

docs: 마크다운 문서 구조 재정리 및 빌드 수정
  .github/workflows/deploy-admin-staging.yml.example
  docs/dev/AM1-AppMarket-Execution-Request.md
  docs/dev/AM1-AppMarket-Investigation-Request.md
  docs/dev/AM2-AppMarket-Design-Request.md
  docs/dev/audit/CPT_TEMPLATE_ARCHIVE_SURVEY.md
  docs/dev/audit/SHORTCODE_AUDIT.md
  docs/dev/audit/app_market_current_apps_overview.md
  docs/dev/audit/forum_current_state.md
  docs/dev/design/app-manifest-schema-v1.md
  docs/dev/design/app-registry-schema.md
  docs/dropshipping/DROPSHIPPING_DB_INVENTORY_REPORT.md
  docs/guides/PHASE2_1_DEPLOYMENT_GUIDE.md
  docs/guides/PHASE2_4_DASHBOARD_GUIDE.md
  docs/guides/ROUTING_QUICK_REFERENCE.md
  docs/guides/ROUTING_SYSTEM.md
  docs/releases/PHASE1_COMPLETION_REPORT.md
  docs/releases/PHASE2_1_COMPLETION_REPORT.md
  docs/releases/PHASE2_1_FINAL_SUMMARY.md
  docs/releases/RELEASE_NOTES_PHASE9.md
  docs/releases/phase8-9-conformance-report.md
  docs/reports/PHASE-P1_REPORT.md
  docs/reports/PHASE2_1_PROGRESS_REPORT.md
  docs/reports/PHASE2_1_SCHEMA_FIX_REPORT.md
  docs/reports/PHASE2_2_PLANNING.md
  docs/reports/PHASE2_2_PROGRESS.md
  docs/reports/PRESET_INTEGRATION_REPORT.md
  docs/reports/SSOT_ENTITY_TRANSITION_IMPLEMENTATION_PLAN.md
  docs/reports/SSOT_ENTITY_TRANSITION_RESULTS_REPORT.md
  docs/reports/SSOT_PHASE1_IMPLEMENTATION_REPORT.md
  docs/templates/PR_BODY.md
  docs/templates/PR_CHECKLIST.md
  packages/forum-neture/src/backend/services/NetureForumService.ts
  packages/forum-yaksa/src/backend/services/YaksaCommunityService.ts
  pnpm-lock.yaml
Labels: packages, ci/cd, config, documentation, typescript

feat: Complete Groupbuy Admin UI missing features
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/common/Toast.tsx
  apps/admin-dashboard/src/components/product/ProductSelector.tsx
  apps/admin-dashboard/src/contexts/ToastContext.tsx
  apps/admin-dashboard/src/pages/groupbuy/CampaignFormModal.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuySettlementPage.tsx
  apps/admin-dashboard/tailwind.config.cjs
Labels: frontend, typescript

chore: Remove VSCode Extension and create archive documentation
  docs/dev/VSCODE_EXTENSION_ARCHIVE.md
  extensions/o4o-integration/.gitignore
  extensions/o4o-integration/.vscodeignore
  extensions/o4o-integration/README.md
  extensions/o4o-integration/package-lock.json
  extensions/o4o-integration/package.json
  extensions/o4o-integration/src/api/pageClient.ts
  extensions/o4o-integration/src/api/types.ts
  extensions/o4o-integration/src/auth/authManager.ts
  extensions/o4o-integration/src/auth/tokenStorage.ts
  extensions/o4o-integration/src/commands/convertCommand.ts
  extensions/o4o-integration/src/commands/loginCommand.ts
  extensions/o4o-integration/src/converter/blockMapper.ts
  extensions/o4o-integration/src/converter/reactParser.ts
  extensions/o4o-integration/src/converter/tailwindParser.ts
  extensions/o4o-integration/src/extension.ts
  extensions/o4o-integration/src/types.ts
  extensions/o4o-integration/tsconfig.json
Labels: documentation, dependencies, typescript

feat: Initialize Page Generator App and _generated standard structure
  _generated/.gitkeep
  _generated/README.md
  apps/page-generator/README.md
  apps/page-generator/package.json
  apps/page-generator/src/core/types.ts
  apps/page-generator/src/utils/slug.ts
  apps/page-generator/tsconfig.json
  apps/page-generator/tsconfig.node.json
  apps/page-generator/vite.config.ts
  packages/utils/src/generated-storage.ts
Labels: packages, dependencies, typescript

feat: Implement complete Page Generator App (Phase 1-3)
  apps/page-generator/README.md
  apps/page-generator/index.html
  apps/page-generator/package.json
  apps/page-generator/postcss.config.js
  apps/page-generator/src/App.tsx
  apps/page-generator/src/components/BlockViewer.tsx
  apps/page-generator/src/components/JsxEditor.tsx
  apps/page-generator/src/components/PageForm.tsx
  apps/page-generator/src/components/PlaceholderList.tsx
  apps/page-generator/src/core/block-mapper.ts
  apps/page-generator/src/core/converter.ts
  apps/page-generator/src/core/index.ts
  apps/page-generator/src/core/jsx-parser.ts
  apps/page-generator/src/core/placeholder.ts
  apps/page-generator/src/core/tailwind-mapper.ts
  apps/page-generator/src/index.css
  apps/page-generator/src/main.tsx
  apps/page-generator/src/services/auth.ts
  apps/page-generator/src/services/index.ts
  apps/page-generator/src/services/o4o-api.ts
  apps/page-generator/tailwind.config.js
Labels: dependencies, typescript, javascript, styles

test: Add Phase 4 comprehensive test suite and report
  apps/page-generator/package.json
  apps/page-generator/test-conversion.ts
  apps/page-generator/test-output/01-simple-hero.json
  apps/page-generator/test-output/02-hero-with-columns.json
  apps/page-generator/test-output/03-custom-components.json
  apps/page-generator/test-output/04-grid-flex-mix.json
  apps/page-generator/test-output/05-tailwind-edge-cases.json
  apps/page-generator/test-output/test-summary.json
  apps/page-generator/test-runner.mjs
  apps/page-generator/test-samples/01-simple-hero.tsx
  apps/page-generator/test-samples/02-hero-with-columns.tsx
  apps/page-generator/test-samples/03-custom-components.tsx
  apps/page-generator/test-samples/04-grid-flex-mix.tsx
  apps/page-generator/test-samples/05-tailwind-edge-cases.tsx
  apps/page-generator/test-samples/06-invalid-jsx.tsx
  docs/page-generator/test-report.md
Labels: documentation, dependencies, typescript

docs: Update README with Phase 4 test completion status
  apps/page-generator/README.md
Labels: none

feat(page-generator): Phase 5 - Tailwind 고도화 및 Block 품질 개선
  apps/page-generator/src/core/block-mapper.ts
  apps/page-generator/src/core/tailwind-mapper.ts
  apps/page-generator/test-output/01-simple-hero.json
  apps/page-generator/test-output/02-hero-with-columns.json
  apps/page-generator/test-output/03-custom-components.json
  apps/page-generator/test-output/04-grid-flex-mix.json
  apps/page-generator/test-output/05-tailwind-edge-cases.json
  apps/page-generator/test-output/test-summary.json
Labels: typescript

docs(page-generator): Update documentation for Phase 5 completion
  apps/page-generator/README.md
  docs/page-generator/test-report.md
Labels: documentation

feat: Phase 6 - Image/List/Quote blocks + Positioning + Grid Span support
  apps/page-generator/src/core/block-mapper.ts
  apps/page-generator/src/core/tailwind-mapper.ts
  apps/page-generator/test-output/01-simple-hero.json
  apps/page-generator/test-output/02-hero-with-columns.json
  apps/page-generator/test-output/03-custom-components.json
  apps/page-generator/test-output/04-grid-flex-mix.json
  apps/page-generator/test-output/05-tailwind-edge-cases.json
  apps/page-generator/test-output/07-image-list-quote.json
  apps/page-generator/test-output/test-summary.json
  apps/page-generator/test-samples/07-image-list-quote.tsx
  docs/page-generator/test-report.md
  pnpm-lock.yaml
Labels: config, documentation, typescript

feat(page-generator): Phase 7 - Transform/Transition/Animation support
  apps/page-generator/README.md
  apps/page-generator/src/core/block-mapper.ts
  apps/page-generator/src/core/tailwind-mapper.ts
  apps/page-generator/test-output/01-simple-hero.json
  apps/page-generator/test-output/02-hero-with-columns.json
  apps/page-generator/test-output/03-custom-components.json
  apps/page-generator/test-output/04-grid-flex-mix.json
  apps/page-generator/test-output/05-tailwind-edge-cases.json
  apps/page-generator/test-output/07-image-list-quote.json
  apps/page-generator/test-output/08-transform-anim.json
  apps/page-generator/test-output/test-summary.json
  apps/page-generator/test-samples/08-transform-anim.tsx
Labels: typescript
