Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix(care): patient.id를 users.id로 정규화 — ID 불일치 근본 해결
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/PatientDetailPage.tsx
Labels: typescript

fix(care): 전체 Care 컨트롤러에 resolvePatientUserId 일괄 적용
  apps/api-server/src/modules/care/controllers/care-action.controller.ts
  apps/api-server/src/modules/care/controllers/care-coaching.controller.ts
  apps/api-server/src/modules/care/controllers/care-dashboard.controller.ts
  apps/api-server/src/modules/care/controllers/care-llm-insight.controller.ts
  apps/api-server/src/modules/care/controllers/care-message.controller.ts
  apps/api-server/src/modules/care/controllers/cgm-event-analysis.controller.ts
Labels: backend, typescript

fix(care): 약사 화면 데이터 탭 — 투약/운동/증상 개별 시간 표시
  services/web-glycopharm/src/pages/care/patient-tabs/DataTab.tsx
Labels: typescript

fix(neture): 외부 가져오기 — jsdom → regex 기반 파싱으로 전환
  apps/api-server/src/modules/neture/services/external-import.service.ts
Labels: backend, typescript

revert(care): DataTab 시간 변경 되돌림
  services/web-glycopharm/src/pages/care/patient-tabs/DataTab.tsx
Labels: typescript

fix(glucoseview): 입력 화면 하단 최근 기록 섹션 제거
  services/web-glucoseview/src/pages/patient/GlucoseInputPage.tsx
Labels: typescript

feat(debug): Care 데이터 진단 페이지 추가 (/__debug__/pharmacy/care-data)
  apps/api-server/src/routes/debug/pharmacy-debug.controller.ts
Labels: backend, typescript

fix(neture): 외부 가져오기 — 상대 URL 이미지 해결 + baseUrl 지원
  apps/api-server/src/modules/neture/controllers/external-import.controller.ts
  apps/api-server/src/modules/neture/services/external-import.service.ts
  services/web-neture/src/components/supplier/ExternalImportModal.tsx
  services/web-neture/src/lib/api/supplier.ts
Labels: backend, typescript

fix(care): 저장 후 navigate(-1) → navigate('/patient')
  services/web-glucoseview/src/pages/patient/GlucoseInputPage.tsx
  services/web-glycopharm/src/pages/patient/GlucoseInputPage.tsx
Labels: typescript

feat(platform): WO-O4O-COMMON-MEDIA-LIBRARY-FOUNDATION-V1
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260401300000-CreateMediaAssetsTable.ts
  apps/api-server/src/modules/media/controllers/media-library.controller.ts
  apps/api-server/src/modules/media/entities/MediaAsset.entity.ts
  apps/api-server/src/modules/media/services/media-library.service.ts
Labels: backend, typescript

feat(platform): WO-O4O-COMMON-MEDIA-PICKER-UPLOADER-V1
  services/web-neture/src/components/common/MediaPickerModal.tsx
  services/web-neture/src/lib/api/index.ts
  services/web-neture/src/lib/api/media.ts
Labels: typescript

feat(neture): WO-NETURE-DESCRIPTION-IMAGE-MEDIA-LIBRARY-INTEGRATION-V1
  packages/content-editor/src/components/RichTextEditor.tsx
  packages/content-editor/src/components/Toolbar.tsx
  packages/content-editor/src/types.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: packages, typescript

fix(glucoseview): 로그인 버튼 클릭 시 깜빡이는 문제 수정
  services/web-glucoseview/src/App.tsx
Labels: typescript

fix(auth): 당뇨인 역할명을 'customer'로 통일 (glucoseview + glycopharm)
  services/web-glucoseview/src/App.tsx
  services/web-glucoseview/src/components/Layout.tsx
  services/web-glucoseview/src/pages/operator/UsersPage.tsx
  services/web-glycopharm/src/App.tsx
Labels: typescript

feat(glucoseview): WO-O4O-CARE-RECORDS-TABLE-V1
  services/web-glucoseview/src/components/care/PatientRecordsTable.tsx
  services/web-glucoseview/src/pages/PatientsPage.tsx
  services/web-glucoseview/src/utils/care-record-mapper.ts
  services/web-glucoseview/src/utils/extract-metadata.ts
Labels: typescript

fix(glycopharm): 코칭 전송 UX 개선 — 성공/실패 피드백 + 반짝임 제거
  services/web-glycopharm/src/pages/care/patient-tabs/CoachingTab.tsx
Labels: typescript

fix(neture): WO-NETURE-EXTERNAL-PRODUCT-IMPORT-REMOVE-V1
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/modules/neture/controllers/external-import.controller.ts
  apps/api-server/src/modules/neture/services/external-import.service.ts
  services/web-neture/src/components/supplier/ExternalImportModal.tsx
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: backend, typescript

feat(neture): WO-NETURE-PRODUCT-PRIMARY-IMAGE-MEDIA-LIBRARY-INTEGRATION-V1
  apps/api-server/src/modules/neture/controllers/admin.controller.ts
  services/web-neture/src/lib/api/product.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
Labels: backend, typescript

fix(glycopharm): Care API 응답 래퍼 언랩 — 약사 메시지 탭 렌더링 수정
  services/web-glycopharm/src/api/pharmacy.ts
Labels: typescript

feat(platform): WO-O4O-COMMON-MEDIA-FOLDER-AND-LIBRARY-MANAGEMENT-V1
  apps/api-server/src/database/migrations/20260401400000-AddMediaAssetFolder.ts
  apps/api-server/src/modules/media/controllers/media-library.controller.ts
  apps/api-server/src/modules/media/entities/MediaAsset.entity.ts
  apps/api-server/src/modules/media/services/media-library.service.ts
  services/web-neture/src/components/common/MediaPickerModal.tsx
  services/web-neture/src/lib/api/media.ts
Labels: backend, typescript

feat(care): WO-O4O-CARE-CONSULTATION-RESULT-SHARING-V1
  apps/api-server/src/database/migrations/20260402100000-AddConsultationResultToAppointments.ts
  apps/api-server/src/modules/care/controllers/care-appointment.controller.ts
  apps/api-server/src/modules/care/entities/care-appointment.entity.ts
  services/web-glycopharm/src/api/patient.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/pages/patient/AppointmentsPage.tsx
  services/web-glycopharm/src/pages/pharmacist/AppointmentsPage.tsx
Labels: backend, typescript

feat(ui): WO-NETURE-SUPPLIER-PRODUCTS-COLUMN-RESIZE-IMPLEMENTATION-V1
  packages/operator-ux-core/src/list/EditableDataTable.tsx
  packages/operator-ux-core/src/list/types.ts
  packages/ui/src/components/table/BaseTable.tsx
  packages/ui/src/components/table/types.ts
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: packages, typescript

fix(glycopharm): WO-O4O-CARE-PHARMACIST-APPOINTMENT-NAV-ACCESSIBILITY-V1
  services/web-glycopharm/src/pages/PharmacistPlaceholderPage.tsx
  services/web-glycopharm/src/pages/pharmacist/AppointmentsPage.tsx
Labels: typescript

fix(ui): BaseTable 리사이즈 모드에서 테이블 폭을 컬럼 합산 기반으로 설정
  packages/ui/src/components/table/BaseTable.tsx
Labels: packages, typescript

fix(ci): packages/** 변경 시 web services 자동 배포 트리거 추가
  .github/workflows/deploy-web-services.yml
Labels: ci/cd

fix(content-editor): 이미지 삽입 팝오버가 overflow: hidden에 잘리는 문제 수정
  packages/content-editor/src/components/RichTextEditor.tsx
Labels: packages, typescript

fix(neture): 미디어 업로드 시 Content-Type multipart/form-data 명시
  services/web-neture/src/lib/api/media.ts
Labels: typescript

fix(neture): WO-NETURE-TAG-CATEGORY-INCLUSION-AND-LABEL-CLARITY-FIX-V1
  apps/api-server/src/modules/store-ai/services/product-ai-tagging.service.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, typescript

feat(neture): WO-NETURE-SUPPLIER-PRODUCT-DETAIL-DESCRIPTION-PREVIEW-FROM-LIST-V1
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: typescript

fix(neture): 승인 요청 모달에서 Neture 서비스 제외
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, typescript

fix(neture): WO-NETURE-SUPPLIER-LIST-DESCRIPTION-QUICK-EDIT-REMOVE-V1
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: typescript

feat(neture): WO-NETURE-PRODUCT-REGULATORY-TYPE-FIELD-ADD-V1
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: typescript

feat(neture): WO-NETURE-SUPPLIER-PRODUCT-DESCRIPTION-PREVIEW-FROM-LIST-V2
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: typescript

feat(content-editor): WO-NETURE-PRODUCT-DESCRIPTION-CONTENT-WIDTH-STANDARDIZATION-V1
  packages/content-editor/src/components/ContentRenderer.tsx
  services/web-neture/src/components/supplier/B2BContentDrawer.tsx
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: packages, typescript

fix(neture): WO-NETURE-LEGACY-NETURE-SERVICE-SELECTION-DATA-CLEANUP-V1
  apps/api-server/src/migrations/1771200000024-CleanupNetureServiceData.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, typescript

chore: playwright MCP에 isolated user-data-dir 설정 추가
  .mcp.json
Labels: config

fix: migration에서 console.log 제거
  apps/api-server/src/migrations/1771200000024-CleanupNetureServiceData.ts
Labels: backend, typescript

fix(neture): B2B 전용 편집 모드에서 저장 버튼 미동작 수정
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: typescript

fix(content-editor): 상품 상세설명 이미지 흐림 완화 — width:100% → max-width:100%
  packages/content-editor/src/components/ContentRenderer.tsx
Labels: packages, typescript

fix(neture): WO-NETURE-EXCLUDE-GLUCOSEVIEW-FROM-PRODUCT-SERVICE-SELECTION-V1
  apps/api-server/src/modules/neture/services/offer.service.ts
  services/web-neture/src/components/product/ProductForm.tsx
  services/web-neture/src/pages/operator/ProductServiceApprovalPage.tsx
  services/web-neture/src/pages/supplier/SellerRequestsPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
  services/web-neture/src/pages/supplier/SupplyRequestsPage.tsx
Labels: backend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
