Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix(neture): resolve supplier sidebar smoke issues
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-SIDEBAR-REARCHITECTURE-V1.md
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
Labels: documentation, typescript

feat(drug-otc): V2 공용 러너 LIVE apply 경로 추가 + 가 shard 준비 READY (에이전트 다)
  apps/api-server/src/scripts/otc-v2-store-leaflet-runner.shared.ts
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-V2-SHARED-RUNNER-APPLY-SUPPORT-V1.md
Labels: backend, documentation, typescript

fix(kpa): repair operator member management API wiring
  docs/checks/CHECK-O4O-KPA-SERVICE-OPERATOR-MANAGEMENT-INFORMATION-AUDIT-V1.md
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
  services/web-kpa-society/src/pages/operator/RoleManagementPage.tsx
Labels: documentation, typescript

docs(kpa): record operator management audit post-deploy verification
  docs/checks/CHECK-O4O-KPA-SERVICE-OPERATOR-MANAGEMENT-INFORMATION-AUDIT-V1.md
Labels: documentation

fix(kpa): use canonical kpa:* roles in operator console guards
  apps/api-server/src/routes/operator/analytics.routes.ts
  apps/api-server/src/routes/operator/membership.routes.ts
  apps/api-server/src/routes/operator/products.routes.ts
  apps/api-server/src/routes/operator/roles.routes.ts
  apps/api-server/src/routes/operator/stores.routes.ts
Labels: backend, typescript

feat(neture): add supplier dashboard operations status
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
Labels: typescript

fix(kpa): align main home links with canonical routes
  apps/api-server/src/modules/signage/signage-query.service.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  docs/investigations/CHECK-O4O-KPA-MAIN-HOME-LINK-CANONICAL-ALIGNMENT-V1.md
  docs/investigations/IR-O4O-KPA-MAIN-HOME-COMMUNITY-USABILITY-AND-FLOW-AUDIT-V1.md
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
Labels: backend, documentation, typescript

feat(drug-otc): V2 가 EN 저작 p01 (20fp/221m) + 저작 기준 원문·검증 도구
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.ga.json
  apps/api-server/src/scripts/data/otc-v2-authoring-source-full.ga.json
  apps/api-server/src/scripts/data/otc-v2-authoring-source.ga.json
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p01.json
  apps/api-server/src/scripts/otc-v2-authoring-source-full.ga.mjs
  apps/api-server/src/scripts/otc-v2-en-config-coverage.ga.mjs
  apps/api-server/src/scripts/otc-v2-en-config-verify.ga.mjs
Labels: backend

feat(drug-otc): V2 가 EN 저작 p02 (20fp/117m) — 누적 40fp/338m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p02.json
Labels: backend

docs(kpa): record canonical role guard fix verification
  docs/checks/CHECK-O4O-KPA-OPERATOR-CANONICAL-ROLE-GUARD-FIX-V1.md
Labels: documentation

docs(neture): record supplier dashboard ops status check
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-DASHBOARD-OPS-STATUS-V1.md
Labels: documentation

docs(kpa): record browser smoke results for home link alignment
  docs/investigations/CHECK-O4O-KPA-MAIN-HOME-LINK-CANONICAL-ALIGNMENT-V1.md
Labels: documentation

feat(drug-otc): V2 가 EN 저작 p03 (20fp/88m) — 누적 60fp/426m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p03.json
Labels: backend

refactor(neture): localize supplier partner commissions UI
  services/web-neture/src/pages/supplier/SupplierPartnerCommissionsPage.tsx
Labels: typescript

docs(rbac): stop report for KPA platform super_admin separation
  docs/checks/CHECK-O4O-KPA-PLATFORM-SUPER-ADMIN-ROLE-SEPARATION-V1.md
Labels: documentation

feat(drug-otc): V2 가 EN 저작 p04 (20fp/71m) — 누적 80fp/497m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p04.json
Labels: backend

fix(kpa): connect content detail to store import
  docs/investigations/CHECK-O4O-KPA-CONTENT-DETAIL-STORE-IMPORT-LINK-V1.md
  services/web-kpa-society/src/api/contentStoreImport.ts
  services/web-kpa-society/src/pages/contents/ContentDetailPage.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
Labels: documentation, typescript

feat(drug-otc): V2 가 EN 저작 p05 (20fp/60m) — 누적 100fp/557m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p05.json
Labels: backend

docs(kpa): record browser smoke for content detail store import
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PARTNER-COMMISSIONS-UI-LOCALIZATION-V1.md
  docs/investigations/CHECK-O4O-KPA-CONTENT-DETAIL-STORE-IMPORT-LINK-V1.md
Labels: documentation

feat(drug-otc): V2 가 EN 저작 p06 (20fp/49m) — 누적 120fp/606m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p06.json
Labels: backend

docs(rbac): confirm super_admin separation is blocked by shared account
  docs/checks/CHECK-O4O-KPA-PLATFORM-SUPER-ADMIN-ROLE-SEPARATION-V1.md
Labels: documentation

chore(drug-otc): 다 shard apply preflight 산출물 — 게이트 검증 기록 (에이전트 다)
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.da.json
Labels: backend

docs(codex): rewrite AGENTS.md as Codex execution guidelines
  AGENTS.md
  docs/investigations/CHECK-CODEX-ENV-SETUP-V1.md
Labels: documentation

docs(neture): record supplier IA smoke attempt blocked by CORS
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-IA-UNIFICATION-V1.md
Labels: documentation

chore(drug-otc): add MSM+vitD ad-hoc query scripts and na shard preflight
  apps/api-server/_msm.mjs
  apps/api-server/_msmx.mjs
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.na.json
Labels: backend

feat(drug-otc): V2 가 EN 저작 p07 (20fp/40m) — 누적 140fp/646m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p07.json
Labels: backend

feat(drug-otc): V2 가 EN 저작 p08 (20fp/40m) — 누적 160fp/686m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p08.json
Labels: backend

feat(drug-otc): V2 가 EN 저작 p09 (20fp/40m) — 누적 180fp/726m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p09.json
Labels: backend

feat(drug-otc): V2 가 EN 저작 p10 (20fp/40m) — 누적 200fp/766m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p10.json
Labels: backend

feat(drug-otc): V2 가 EN 저작 p11 (20fp/40m) — 누적 220fp/806m
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p11.json
Labels: backend

feat(drug-otc): V2 가 EN 저작 완료 p12 (17fp/31m) — 237fp/837master COMPLETE
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-p12.json
Labels: backend

fix(neture): keep supplier commission header button on one line on mobile
  services/web-neture/src/pages/supplier/SupplierPartnerCommissionsPage.tsx
Labels: typescript

feat(drug-otc): V2 가 shard KO LIVE apply 완료 (3,348T) — EN 은 러너 구조 차단
  apps/api-server/src/scripts/data/otc-v2-apply-order.json
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.ga.json
  apps/api-server/src/scripts/data/otc-v2-apply-run.ga.ko.json
  apps/api-server/src/scripts/data/otc-v2-en-config-ga-all.json
  apps/api-server/src/scripts/otc-v2-ga-postverify.ga.mjs
  docs/work-orders/CHECK-O4O-OTC-REMAINING-READY-SHARD-GA-V2-LIVE-APPLY-V1.md
Labels: backend, documentation

feat(drug-otc): V2 나 EN 저작 p01 (20fp/216m) + 저작 기준 원문·검증 도구
  apps/api-server/src/scripts/data/otc-v2-authoring-source-full.na.json
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p01.json
  apps/api-server/src/scripts/otc-v2-authoring-source-full.na.mjs
  apps/api-server/src/scripts/otc-v2-en-config-coverage.na.mjs
  apps/api-server/src/scripts/otc-v2-en-config-verify.na.mjs
  apps/api-server/src/scripts/otc-v2-en-part-plan.na.mjs
Labels: backend

fix(kpa): return reusable_policy in content list for restricted parity
  apps/api-server/src/routes/kpa/kpa.routes.ts
  docs/investigations/CHECK-O4O-KPA-CONTENT-REUSABLE-POLICY-LIST-DETAIL-PARITY-V1.md
  services/web-kpa-society/src/pages/contents/ContentDocumentsPage.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
Labels: backend, documentation, typescript

feat(drug-otc): V2 다 EN 저작 p01-p02 (40fp/171m) — da 저작 도구 + 무절단 원문
  apps/api-server/src/scripts/data/otc-v2-authoring-source-full.da.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p01.json
  apps/api-server/src/scripts/data/otc-v2-en-config-da-p02.json
  apps/api-server/src/scripts/otc-v2-authoring-source-full.da.mjs
  apps/api-server/src/scripts/otc-v2-emit-part.da.mjs
  apps/api-server/src/scripts/otc-v2-en-config-coverage.da.mjs
  apps/api-server/src/scripts/otc-v2-en-config-verify.da.mjs
Labels: backend

docs(neture): complete partner commissions localization CHECK with browser smoke
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-PARTNER-COMMISSIONS-UI-LOCALIZATION-V1.md
Labels: documentation

feat(drug-otc): V2 나 EN 저작 p02 (20fp/118m) — 누적 40fp/334m
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p02.json
Labels: backend

feat(drug-otc): V2 가 shard EN LIVE apply 완료 — 총 5,022T · 독립검증 GREEN · 나 해제
  apps/api-server/src/scripts/data/otc-v2-apply-order.json
  apps/api-server/src/scripts/data/otc-v2-apply-preflight.ga.json
  apps/api-server/src/scripts/data/otc-v2-apply-run.ga.en.json
  apps/api-server/src/scripts/otc-v2-store-leaflet-runner.shared.ts
  docs/work-orders/CHECK-O4O-OTC-REMAINING-READY-SHARD-GA-V2-LIVE-APPLY-V1.md
Labels: backend, documentation, typescript

feat(drug-otc): V2 나 EN 저작 p03 (20fp/88m) — 누적 60fp/422m + EN 게이트 차단 1건 기록
  apps/api-server/src/scripts/data/otc-v2-en-blocker.na.json
  apps/api-server/src/scripts/data/otc-v2-en-config-na-p03.json
Labels: backend

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
