Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

feat(kpa): WO-KPA-OPERATOR-FORUM-HUB-TERMINOLOGY-AND-TABLE-REFORM-V1 — 포럼 용어 통일 + DataTable 표준화
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
Labels: typescript

feat(kpa): WO-KPA-LMS-HUB-RESTRUCTURE-V1 — 강의 목록 BaseTable 전환 + 메뉴 분리 + 포럼 용어 정비
  services/web-kpa-society/src/components/home/ForumCategorySection.tsx
  services/web-kpa-society/src/config/navigation.ts
  services/web-kpa-society/src/pages/forum/ForumListPage.tsx
  services/web-kpa-society/src/pages/lms/EducationPage.tsx
  services/web-kpa-society/src/pages/lms/LmsCoursesPage.tsx
  services/web-kpa-society/src/pages/mypage/RequestCategoryPage.tsx
  services/web-kpa-society/src/pages/work/WorkCommunityPage.tsx
Labels: typescript

feat(kpa): WO-FORUM-SEARCH-FIRST-HUB-UX-V1 — 포럼 허브를 검색 중심 탐색으로 전환
  services/web-kpa-society/src/components/forum/ForumSearchBar.tsx
  services/web-kpa-society/src/components/forum/ForumSearchResults.tsx
  services/web-kpa-society/src/pages/forum/ForumHomePage.tsx
Labels: typescript

fix(kpa): WO-KPA-LMS-HUB-HOTFIX-V1 — 강사명 표시 + 페이지네이션 응답 shape 수정
  services/web-kpa-society/src/pages/courses/CourseHubPage.tsx
  services/web-kpa-society/src/pages/lms/EducationPage.tsx
  services/web-kpa-society/src/pages/lms/LmsCoursesPage.tsx
Labels: typescript

fix(security): WO-KPA-LMS-INSTRUCTOR-RESPONSE-SANITIZATION-V1 — LMS API User 엔티티 민감정보 제거
  apps/api-server/src/modules/lms/services/CertificateService.ts
  apps/api-server/src/modules/lms/services/CourseService.ts
  apps/api-server/src/modules/lms/services/EnrollmentService.ts
  apps/api-server/src/modules/lms/utils/sanitize-user.ts
Labels: backend, typescript

fix(kpa): WO-FORUM-SEARCH-UX-REFINEMENT-V1 — 검색 중복 제거 + 게시글 전체 보기 링크
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
  services/web-kpa-society/src/components/forum/ForumSearchResults.tsx
Labels: typescript

feat(kpa): WO-KPA-CONTENT-HUB-REMOVAL-V1 — 콘텐츠 허브 제거 및 메뉴 단순화
  packages/shared-space-ui/src/NewsNoticesSection.tsx
  packages/shared-space-ui/src/types.ts
  packages/ui/src/layout/GlobalHeader.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/DemoHeader.tsx
  services/web-kpa-society/src/components/home/ActivitySection/ImportantNotices.tsx
  services/web-kpa-society/src/components/home/CommunityServiceSection.tsx
  services/web-kpa-society/src/components/home/HeroCtaSection.tsx
  services/web-kpa-society/src/components/home/NoticeSection.tsx
  services/web-kpa-society/src/components/home/TabbedNewsSection.tsx
  services/web-kpa-society/src/config/navigation.ts
  services/web-kpa-society/src/pages/CommunityHomePage.tsx
  services/web-kpa-society/src/pages/DashboardPage.tsx
  services/web-kpa-society/src/pages/dashboard/MyContentPage.tsx
  services/web-kpa-society/src/pages/dashboard/dashboard-cards.tsx
  services/web-kpa-society/src/pages/operator/ContentManagementPage.tsx
  services/web-kpa-society/src/pages/operator/WorkingContentListPage.tsx
  services/web-kpa-society/src/pages/signage/MediaDetailPage.tsx
  services/web-kpa-society/src/pages/signage/PlaylistDetailPage.tsx
  services/web-kpa-society/src/pages/work/WorkPage.tsx
Labels: packages, typescript

fix(security): extend sanitizeUserFields blacklist — lastLoginAt, businessInfo, approvedAt/By 추가
  apps/api-server/src/modules/lms/utils/sanitize-user.ts
Labels: backend, typescript

fix(forum): ForumPostLike 엔티티 TypeORM 데이터소스 등록 누락 수정
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

fix(forum): WO-FORUM-CONTENT-RENDER-UNIFICATION-V1 — 포럼 본문 렌더링 정책 통일
  packages/forum-core/package.json
  packages/forum-core/src/public-ui/components/ForumBlockRenderer.tsx
  pnpm-lock.yaml
  services/web-glycopharm/src/pages/forum/ForumPostDetailPage.tsx
  services/web-k-cosmetics/package.json
  services/web-k-cosmetics/src/pages/forum/PostDetailPage.tsx
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
Labels: packages, config, dependencies, typescript

fix(kpa): WO-OPERATOR-FORUM-POST-MANAGEMENT-FIX-V1 — 포럼 운영 명칭 + 수정/삭제 정상화
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
Labels: typescript

fix(typeorm): P0 엔티티 등록 누락 수정 — CourseCompletion, CreditBalance, CreditTransaction
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

feat(kpa): WO-KPA-RESOURCES-HUB-LIVE-CONNECTION-V1 — 자료실 허브 role 분기 연결
  services/web-kpa-society/src/pages/resources/ResourcesHubPage.tsx
Labels: typescript

fix(typeorm): P1 엔티티 예방 등록 — KpaApprovalRequest, KpaContent, KpaWorkingContent, KpaLegalDocument
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

feat(forum): WO-FORUM-CREATION-STATE-MACHINE-AND-ORPHAN-ZERO-V1 — 포럼 생성 상태 머신 분리
  apps/api-server/src/database/migrations/20260601200000-ForumRequestStateMachineColumns.ts
  apps/api-server/src/routes/forum/operator-forum.routes.ts
  apps/api-server/src/services/forum/ForumCategoryRequestService.ts
  packages/forum-core/src/backend/entities/ForumCategoryRequest.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
Labels: backend, packages, typescript

fix(docker): k-cosmetics-web Dockerfile에 content-editor 패키지 추가
  services/web-k-cosmetics/Dockerfile
Labels: none

feat(typeorm): 엔티티 등록 누락 정적 검사 스크립트 도입
  package.json
  scripts/check-typeorm-entities.mjs
Labels: ci/cd, config, dependencies

fix(typeorm): V2 엔티티 등록 누락 수정 — KpaSteward, NetureOrder, NeturePartner
  apps/api-server/src/database/connection.ts
  scripts/check-typeorm-entities.mjs
Labels: backend, ci/cd, typescript

docs: TypeORM 엔티티 등록 누락 정비 완료 보고서 작성
  docs/baseline/TYPEORM-ENTITY-REGISTRATION-CLEANUP-REPORT-V1.md
Labels: documentation

fix(typeorm): NetureOrder/NeturePartner 제거 — 의존 엔티티 미등록으로 DataSource 초기화 실패
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

docs: O4O 공통 구조 원칙 문서 생성 및 CLAUDE.md 참조 추가
  CLAUDE.md
  docs/o4o-common-structure.md
Labels: documentation

feat(glycopharm): WO-O4O-GLYCOPHARM-MENU-KPA-ALIGNMENT-V1 + HOME-KPA-ALIGNMENT-V1
  apps/api-server/src/modules/neture/neture-library.routes.ts
  apps/api-server/src/modules/neture/services/neture-library.service.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/GlycoGlobalHeader.tsx
  services/web-glycopharm/src/components/common/Header.tsx
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/config/navigation.ts
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/lib/role-constants.ts
  services/web-glycopharm/src/pages/auth/RoleSelectPage.tsx
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/forum-ext/ForumFeedPage.tsx
  services/web-glycopharm/src/pages/forum-ext/ForumListPage.tsx
  services/web-glycopharm/src/pages/operator/forum-management/OperatorForumManagementPage.tsx
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierLibraryFormPage.tsx
  services/web-neture/src/pages/supplier/SupplierLibraryPage.tsx
Labels: backend, typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-HOME-ROUTE-CLEANUP-V1 — /community 제거
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/PharmacyPlaceholderPage.tsx
  services/web-glycopharm/src/pages/apply/PharmacistApplyPage.tsx
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPostDetailPage.tsx
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
Labels: typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-HOME-SERVICE-ENTRY-ALIGNMENT-V1
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
Labels: typescript

feat(glycopharm): 로그인 모달 테스트 계정 퀵필 버튼 추가
  services/web-glycopharm/src/components/common/LoginModal.tsx
Labels: typescript

fix(kpa): WO-KPA-OPERATOR-SIGNAGE-CONTENT-MENU-REMOVAL-V1 — 잔존 메뉴 제거
  services/web-kpa-society/src/config/operatorMenuGroups.ts
Labels: typescript

feat(forum): WO-FORUM-TAG-SELECTION-UI-V1 — 포럼 개설 신청 태그 선택 UI + 서버 검증
  apps/api-server/src/services/forum/ForumCategoryRequestService.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/pages/mypage/RequestCategoryPage.tsx
Labels: backend, typescript

feat(kpa): WO-O4O-SIGNAGE-TABLE-STANDARD-V1 — Signage 운영자 3개 페이지 O4O 표준 테이블 정비
  services/web-kpa-society/src/pages/operator/signage/ForcedContentPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
Labels: typescript

feat(kpa-society): WO-O4O-OPERATOR-LIST-TABLE-STANDARD-V2 — OperatorForumPage + TemplatesPage O4O 표준 테이블 전환
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
  services/web-kpa-society/src/pages/operator/signage/TemplatesPage.tsx
Labels: typescript

feat(neture): WO-O4O-PRODUCT-NAME-UNIFICATION-V1 — marketing_name → name
  apps/api-server/src/database/migrations/20260422100000-RenameMarketingNameToName.ts
  apps/api-server/src/modules/neture/controllers/admin.controller.ts
  apps/api-server/src/modules/neture/controllers/operator-product-cleanup.controller.ts
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/controllers/supplier-settlement.controller.ts
  apps/api-server/src/modules/neture/entities/ProductMaster.entity.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/admin.service.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/inventory.service.ts
  apps/api-server/src/modules/neture/services/offer-service-approval.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/neture/services/partner.service.ts
  apps/api-server/src/modules/neture/services/seller.service.ts
  apps/api-server/src/modules/neture/services/supplier-copilot.service.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  apps/api-server/src/modules/neture/services/xlsx-template.service.ts
Labels: backend, typescript

feat(forum): WO-FORUM-TAG-FILTER-ON-HUB-V1 + WO-FORUM-TAG-TO-CATEGORY-PROPAGATION-V1 + related
  apps/api-server/src/database/migrations/20260700000000-AddTagsToForumCategory.ts
  apps/api-server/src/database/migrations/20260700200000-MigrateLmsCreatorQualification.ts
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/routes/kpa/controllers/qualification.controller.ts
  apps/api-server/src/routes/kpa/entities/member-qualification.entity.ts
  apps/api-server/src/services/forum/ForumCategoryRequestService.ts
  packages/forum-core/src/backend/entities/ForumCategory.ts
  packages/forum-core/src/backend/entities/ForumCategoryRequest.ts
  services/web-kpa-society/src/api/qualification.ts
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
  services/web-kpa-society/src/pages/lms/EducationPage.tsx
  services/web-kpa-society/src/pages/mypage/MyQualificationsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyRequestsPage.tsx
  services/web-kpa-society/src/pages/operator/ForumManagementPage.tsx
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
  services/web-kpa-society/src/types/index.ts
Labels: backend, packages, typescript

fix(build): WO-O4O-PRODUCT-NAME-UNIFICATION-V1 누락 참조 수정 — marketingName → name
  apps/api-server/src/modules/product-policy-v2/product-policy-v2.internal.routes.ts
  apps/api-server/src/routes/neture/services/neture.service.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
Labels: backend, typescript

fix(catalog-import): marketingName → name — manualData 필드명 수정
  apps/api-server/src/modules/catalog-import/services/catalog-import-resolver.ts
Labels: backend, typescript

fix(kpa-society): WO-O4O-OPERATOR-LIST-TABLE-STANDARD-V2-HOTFIX-F1-V1 — OperatorForumPage onRowClick 누락 보완
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
Labels: typescript

feat(admin): WO-O4O-PRODUCT-INPUT-ASSIST-V1 — 상품 등록 검색 선택 자동채움 구현
  apps/admin-dashboard/src/api/product-library.api.ts
  apps/admin-dashboard/src/pages/sellerops/SellerOpsRouter.tsx
  apps/admin-dashboard/src/pages/sellerops/pages/ListingCreatePage.tsx
  apps/admin-dashboard/src/pages/sellerops/pages/ProductSearchPage.tsx
  apps/admin-dashboard/src/pages/supplierops/SupplierOpsRouter.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/ProductCreatePage.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/ProductSearchPage.tsx
Labels: frontend, typescript

fix(kpa-lms): WO-LMS-INSTRUCTOR-DASHBOARD-QUALIFICATION-FIX-V1 — lms_creator 승인 사용자 대시보드 접근 허용
  apps/api-server/src/routes/kpa/controllers/instructor-dashboard.controller.ts
Labels: backend, typescript

feat(kpa-society): WO-O4O-OPERATOR-LIST-TABLE-STANDARD-V3 Phase 3-A
  services/web-kpa-society/src/pages/operator/PharmacyRequestManagementPage.tsx
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
Labels: typescript

feat(neture): WO-O4O-BULK-MATCHING-NORMALIZATION-V1 — bulk 상품 등록 매칭 + 검토 UI
  apps/admin-dashboard/src/api/product-library.api.ts
  apps/admin-dashboard/src/pages/supplierops/SupplierOpsRouter.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/BulkImportPage.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/Products.tsx
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/services/bulk-match.service.ts
Labels: frontend, backend, typescript

feat(neture): WO-O4O-PRODUCT-ALIAS-FOUNDATION-V1 — 검색 품질 향상을 위한 product_aliases 시스템 구축
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260422200000-CreateProductAliases.ts
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/entities/ProductAlias.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/services/alias.service.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
Labels: backend, typescript

chore: yaksa.site → kpa-society.co.kr 도메인 참조 정리
  apps/api-server/src/modules/lms/controllers/CertificateController.ts
  bundles/yaksa.bundle.json
Labels: backend, typescript
