Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix(auth): WO-AUTH-DEV-RUNTIME-RECOVERY - Set status=ACTIVE in create-admin-user
  apps/api-server/src/scripts/create-admin-user.ts
Labels: backend, typescript

feat(auth): WO-AUTH-DEV-CORRECTION-ADMIN-LOGIN - Add login diagnostic script
  apps/api-server/src/scripts/diagnose-admin-login.ts
Labels: backend, typescript

feat(cosmetics): WO-COSMETICS-SAMPLE-DISPLAY-INTEGRATION 완료
  apps/api-server/package.json
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/1830000000000-CreateCosmeticsSampleDisplayTables.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/dev-auth.middleware.ts
  docs/reports/2025-12-17-cosmetics-sample-display-extension-audit.md
  docs/reports/2025-12-17-cosmetics-sample-display-extension-full-audit.md
  packages/cosmetics-sample-display-extension/tsconfig.json
  packages/cosmetics-seller-extension/src/frontend/pages/DisplayManagement.tsx
  packages/cosmetics-seller-extension/src/frontend/pages/SampleManagement.tsx
  pnpm-lock.yaml
Labels: backend, packages, config, documentation, dependencies, typescript

feat(api): WO-COSMETICS-SUPPLIER-INTEGRATION 완료
  apps/api-server/src/main.ts
  packages/cosmetics-sample-display-extension/src/backend/controllers/sample-inventory.controller.ts
  packages/cosmetics-supplier-extension/package.json
  packages/cosmetics-supplier-extension/src/manifest.ts
  packages/cosmetics-supplier-extension/tsconfig.json
Labels: backend, packages, dependencies, typescript

feat(cosmetics-seller): WO-COSMETICS-KPI-VISUALIZATION-ENHANCEMENT
  packages/cosmetics-seller-extension/package.json
  packages/cosmetics-seller-extension/src/frontend/pages/SellerDashboard.tsx
Labels: packages, dependencies, typescript

docs(cosmetics): WO-COSMETICS-OPERATION-SCENARIO - Operation standard docs
  docs/specs/cosmetics/README.md
  docs/specs/cosmetics/seller-kpi-quick-guide.md
  docs/specs/cosmetics/seller-operation-scenarios.md
Labels: documentation

docs(cosmetics): WO-01~05 - Seller Mode implementation ready docs
  docs/specs/cosmetics/frontend/design-core-kpi-rules.md
  docs/specs/cosmetics/frontend/seller-dashboard-api-audit.md
  docs/specs/cosmetics/frontend/seller-dashboard.screen.md
  docs/specs/cosmetics/seller-mode-deactivation-scenarios.md
  docs/specs/cosmetics/seller-operation-quick-sheet.md
Labels: documentation

feat(main-site): Implement Seller Dashboard - Design Core v1.0
  apps/main-site/package.json
  apps/main-site/src/pages/seller/dashboard/SellerDashboard.tsx
  apps/main-site/src/pages/seller/dashboard/index.ts
  apps/main-site/src/pages/seller/dashboard/sellerDashboard.api.ts
  apps/main-site/src/pages/seller/dashboard/sellerDashboard.types.ts
  apps/main-site/src/pages/seller/dashboard/useSellerDashboard.ts
  pnpm-lock.yaml
Labels: frontend, config, dependencies, typescript

feat(api): Add Seller Dashboard seed script for dev testing
  apps/api-server/package.json
  apps/api-server/src/scripts/seed-seller-dashboard.ts
Labels: backend, dependencies, typescript

feat(main-site): Add /seller/dashboard route
  apps/main-site/src/router/index.tsx
Labels: frontend, typescript

fix(main-site): Replace require() with ESM import in AppLoader
  apps/main-site/src/appstore/loader.ts
Labels: frontend, typescript

feat(yaksa): Phase R1 Structural Stabilization
  packages/annualfee-yaksa/src/backend/services/FeeReminderService.ts
  packages/membership-yaksa/src/index.ts
  packages/membership-yaksa/src/lifecycle/install.ts
  packages/membership-yaksa/src/ports/MembershipReadPort.ts
  packages/membership-yaksa/src/ports/MembershipReadPortImpl.ts
  packages/membership-yaksa/src/ports/index.ts
  packages/yaksa-scheduler/src/backend/entities/ScheduledJob.ts
  packages/yaksa-scheduler/src/backend/services/SchedulerService.ts
  packages/yaksa-scheduler/src/index.ts
  packages/yaksa-scheduler/src/lifecycle/index.ts
  packages/yaksa-scheduler/src/lifecycle/install.ts
  packages/yaksa-scheduler/src/registry/JobRegistry.ts
  packages/yaksa-scheduler/src/registry/index.ts
Labels: packages, typescript

feat(yaksa): Phase R1.1 Structural Completion
  packages/annualfee-yaksa/package.json
  packages/annualfee-yaksa/src/backend/services/CsvPaymentImporter.ts
  packages/annualfee-yaksa/src/backend/services/InvoiceAutoGenerator.ts
  packages/annualfee-yaksa/src/backend/services/ReceiptPdfGenerator.ts
  packages/annualfee-yaksa/src/backend/services/SettlementAutomation.ts
  packages/annualfee-yaksa/src/lifecycle/index.ts
  packages/membership-yaksa/package.json
  packages/membership-yaksa/src/lifecycle/activate.ts
  packages/membership-yaksa/src/lifecycle/deactivate.ts
  packages/membership-yaksa/src/ports/MembershipReadPort.ts
  packages/membership-yaksa/src/ports/MembershipReadPortImpl.ts
  packages/membership-yaksa/src/ports/index.ts
  pnpm-lock.yaml
Labels: packages, config, dependencies, typescript

feat(yaksa): Phase R2 Operational Completion - Handler Migration
  packages/annualfee-yaksa/src/handlers/index.ts
  packages/annualfee-yaksa/src/handlers/job-handlers.ts
  packages/annualfee-yaksa/src/lifecycle/index.ts
  packages/membership-yaksa/src/handlers/index.ts
  packages/membership-yaksa/src/handlers/job-handlers.ts
  packages/membership-yaksa/src/lifecycle/activate.ts
  packages/yaksa-scheduler/src/handlers/annualfee-handlers.ts
  packages/yaksa-scheduler/src/handlers/membership-handlers.ts
Labels: packages, typescript

feat(groupbuy-yaksa): Phase 1 Entity & Domain Model Implementation
  packages/groupbuy-yaksa/package.json
  packages/groupbuy-yaksa/src/backend/entities/CampaignProduct.ts
  packages/groupbuy-yaksa/src/backend/entities/GroupbuyCampaign.ts
  packages/groupbuy-yaksa/src/backend/entities/GroupbuyOrder.ts
  packages/groupbuy-yaksa/src/backend/entities/SupplierProfile.ts
  packages/groupbuy-yaksa/src/backend/entities/index.ts
  packages/groupbuy-yaksa/src/backend/index.ts
  packages/groupbuy-yaksa/src/backend/services/CampaignProductService.ts
  packages/groupbuy-yaksa/src/backend/services/GroupbuyCampaignService.ts
  packages/groupbuy-yaksa/src/backend/services/GroupbuyOrderService.ts
  packages/groupbuy-yaksa/src/backend/services/index.ts
  packages/groupbuy-yaksa/src/index.ts
  packages/groupbuy-yaksa/src/lifecycle/activate.ts
  packages/groupbuy-yaksa/src/lifecycle/deactivate.ts
  packages/groupbuy-yaksa/src/lifecycle/index.ts
  packages/groupbuy-yaksa/src/lifecycle/install.ts
  packages/groupbuy-yaksa/src/lifecycle/uninstall.ts
  packages/groupbuy-yaksa/src/manifest.ts
  packages/groupbuy-yaksa/tsconfig.json
  pnpm-lock.yaml
Labels: packages, config, dependencies, typescript

feat(groupbuy-yaksa): Phase 2 Operational Flow Completion
  packages/groupbuy-yaksa/src/backend/services/CampaignProductService.ts
  packages/groupbuy-yaksa/src/backend/services/GroupbuyCampaignService.ts
  packages/groupbuy-yaksa/src/backend/services/GroupbuyOrderService.ts
  packages/groupbuy-yaksa/src/backend/services/index.ts
  packages/groupbuy-yaksa/src/index.ts
  packages/groupbuy-yaksa/src/lifecycle/index.ts
  packages/groupbuy-yaksa/src/manifest.ts
Labels: packages, typescript

feat(groupbuy-yaksa): WO-GROUPBUY-YAKSA-PHASE3-UI-INTEGRATION - Admin UI Integration
  apps/admin-dashboard/src/components/groupbuy/GroupbuyStatusBadge.tsx
  apps/admin-dashboard/src/hooks/groupbuy/index.ts
  apps/admin-dashboard/src/hooks/groupbuy/useCampaignDetail.ts
  apps/admin-dashboard/src/hooks/groupbuy/useGroupbuyCampaigns.ts
  apps/admin-dashboard/src/hooks/groupbuy/useParticipants.ts
  apps/admin-dashboard/src/pages/groupbuy/CampaignFormModal.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignDetailPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyCampaignListPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuyParticipantsPage.tsx
  apps/admin-dashboard/src/pages/groupbuy/GroupbuySettlementPage.tsx
  apps/api-server/src/main.ts
  packages/groupbuy-yaksa/package.json
  packages/groupbuy-yaksa/src/backend/index.ts
  packages/groupbuy-yaksa/src/backend/routes/groupbuy.routes.ts
  packages/groupbuy-yaksa/src/backend/routes/index.ts
  packages/groupbuy-yaksa/src/index.ts
Labels: frontend, backend, packages, dependencies, typescript

feat(groupbuy-yaksa): Phase 3 Member UI Implementation
  apps/ecommerce/src/components/groupbuy/GroupbuyCampaignCard.tsx
  apps/ecommerce/src/components/groupbuy/GroupbuyProductCard.tsx
  apps/ecommerce/src/components/groupbuy/GroupbuyStatusBadge.tsx
  apps/ecommerce/src/components/groupbuy/ProgressBar.tsx
  apps/ecommerce/src/components/groupbuy/index.ts
  apps/ecommerce/src/hooks/index.ts
  apps/ecommerce/src/hooks/useGroupbuy.ts
  apps/ecommerce/src/lib/api/groupbuy.ts
  apps/ecommerce/src/lib/api/index.ts
  apps/ecommerce/src/pages/groupbuy/GroupbuyCampaignDetailPage.tsx
  apps/ecommerce/src/pages/groupbuy/GroupbuyHistoryPage.tsx
  apps/ecommerce/src/pages/groupbuy/GroupbuyListPage.tsx
  apps/ecommerce/src/pages/groupbuy/index.ts
  apps/ecommerce/src/router.tsx
  packages/ui/src/index.tsx
Labels: packages, typescript

feat(groupbuy-yaksa): Phase 4 Operational Validation & Guardrails
  docs/reports/2025-12-18-groupbuy-yaksa-phase4-validation.md
  packages/groupbuy-yaksa/src/backend/services/CampaignProductService.ts
  packages/groupbuy-yaksa/src/backend/services/GroupbuyCampaignService.ts
  packages/groupbuy-yaksa/src/backend/services/GroupbuyOrderService.ts
Labels: packages, documentation, typescript

feat(groupbuy-yaksa): Phase 5 - Access Hardening & Pilot Operation
  docs/reports/2025-12-18-groupbuy-yaksa-phase5-pilot-operation.md
  packages/groupbuy-yaksa/src/backend/index.ts
  packages/groupbuy-yaksa/src/backend/middleware/groupbuy-auth.middleware.ts
  packages/groupbuy-yaksa/src/backend/middleware/index.ts
  packages/groupbuy-yaksa/src/backend/routes/groupbuy.routes.ts
Labels: packages, documentation, typescript

chore: update pnpm-lock.yaml for groupbuy-yaksa dependencies
  pnpm-lock.yaml
Labels: config

feat(groupbuy-yaksa): Phase 5.1 Operational Safety Patch
  docs/reports/2025-12-18-groupbuy-yaksa-phase5-1-operational-safety-patch.md
  packages/groupbuy-yaksa/src/backend/routes/groupbuy.routes.ts
  packages/groupbuy-yaksa/src/backend/services/GroupbuyOrderService.ts
  packages/groupbuy-yaksa/src/backend/services/index.ts
Labels: packages, documentation, typescript

feat(partner,market-trial): Phase K Partner Flow + Phase L-1 Market Trial Implementation
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/controllers/partner/partnerController.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/market-trial.routes.ts
  apps/api-server/src/routes/partner.routes.ts
  apps/ecommerce/src/hooks/usePartner.tsx
  apps/ecommerce/src/lib/partner-attribution.ts
  apps/ecommerce/src/main.tsx
  apps/ecommerce/src/pages/market-trial/MarketTrialDetailPage.tsx
  apps/ecommerce/src/pages/market-trial/MarketTrialJoinPage.tsx
  apps/ecommerce/src/pages/market-trial/MarketTrialListPage.tsx
  apps/ecommerce/src/pages/market-trial/MarketTrialRewardSelector.tsx
  apps/ecommerce/src/pages/market-trial/index.ts
  apps/ecommerce/src/pages/market-trial/marketTrial.types.ts
  apps/ecommerce/src/pages/partner/PartnerLanding.tsx
  apps/ecommerce/src/pages/partner/PartnerSignup.tsx
  apps/ecommerce/src/pages/partner/dashboard/PartnerContent.tsx
  apps/ecommerce/src/pages/partner/dashboard/PartnerDashboardHome.tsx
  apps/ecommerce/src/pages/partner/dashboard/PartnerDashboardLayout.tsx
  apps/ecommerce/src/pages/partner/dashboard/PartnerEarnings.tsx
  apps/ecommerce/src/pages/partner/dashboard/PartnerLinks.tsx
  apps/ecommerce/src/pages/partner/dashboard/index.ts
  apps/ecommerce/src/pages/partner/index.ts
  apps/ecommerce/src/router.tsx
  docs/plan/active/WO-PHASE-K-PARTNER-FLOW.md
Labels: backend, documentation, typescript

feat(member-yaksa): Phase 0 App Bootstrap & Policy Fixation
  packages/member-yaksa/package.json
  packages/member-yaksa/src/backend/index.ts
  packages/member-yaksa/src/backend/routes/index.ts
  packages/member-yaksa/src/frontend/placeholder.ts
  packages/member-yaksa/src/index.ts
  packages/member-yaksa/src/lifecycle/activate.ts
  packages/member-yaksa/src/lifecycle/deactivate.ts
  packages/member-yaksa/src/lifecycle/index.ts
  packages/member-yaksa/src/lifecycle/install.ts
  packages/member-yaksa/src/manifest.ts
  packages/member-yaksa/tsconfig.json
  pnpm-lock.yaml
Labels: packages, config, dependencies, typescript

docs(member-yaksa): Add Phase 0 completion report
  docs/reports/2025-12-18-member-yaksa-phase0-app-bootstrap.md
Labels: documentation

feat(member-yaksa): Phase 1 MemberProfile Entity Implementation
  packages/member-yaksa/src/backend/controllers/MemberProfileController.ts
  packages/member-yaksa/src/backend/controllers/index.ts
  packages/member-yaksa/src/backend/entities/MemberProfile.ts
  packages/member-yaksa/src/backend/entities/index.ts
  packages/member-yaksa/src/backend/index.ts
  packages/member-yaksa/src/backend/routes/index.ts
  packages/member-yaksa/src/backend/routes/memberProfileRoutes.ts
  packages/member-yaksa/src/backend/services/MemberProfileService.ts
  packages/member-yaksa/src/backend/services/index.ts
  packages/member-yaksa/src/index.ts
  packages/member-yaksa/src/lifecycle/activate.ts
  packages/member-yaksa/src/lifecycle/install.ts
  packages/member-yaksa/src/migrations/001-create-member-profile.ts
  packages/member-yaksa/src/migrations/index.ts
  packages/member-yaksa/tsconfig.json
Labels: packages, typescript

docs(member-yaksa): Add Phase 1 completion report
  docs/reports/2025-12-18-member-yaksa-phase1-member-profile-entity.md
Labels: documentation

feat(checkout): Phase N-2 Order & Payment Operations Stabilization
  apps/api-server/src/controllers/admin/adminOrderController.ts
  apps/api-server/src/controllers/checkout/checkoutController.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/entities/checkout/CheckoutOrder.entity.ts
  apps/api-server/src/entities/checkout/CheckoutPayment.entity.ts
  apps/api-server/src/entities/checkout/OrderLog.entity.ts
  apps/api-server/src/entities/checkout/index.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/admin-orders.routes.ts
  apps/api-server/src/routes/checkout.routes.ts
  apps/api-server/src/services/checkout.service.ts
  apps/api-server/src/services/toss-payments.service.ts
  apps/ecommerce/src/lib/api/admin-orders.ts
  apps/ecommerce/src/lib/api/checkout.ts
  apps/ecommerce/src/lib/api/index.ts
  apps/ecommerce/src/lib/partner-attribution.ts
  apps/ecommerce/src/pages/admin/orders/AdminOrderDetail.tsx
  apps/ecommerce/src/pages/admin/orders/AdminOrderList.tsx
  apps/ecommerce/src/pages/admin/orders/index.ts
  apps/ecommerce/src/pages/checkout/CheckoutPage.tsx
  apps/ecommerce/src/pages/checkout/CheckoutResultPage.tsx
  apps/ecommerce/src/pages/checkout/index.ts
  apps/ecommerce/src/router.tsx
  docs/ops/phase-n2-operations-checklist.md
Labels: backend, documentation, typescript

docs: add cosmetics apps audit report v2
  docs/reports/2025-12-17-cosmetics-apps-as-is-audit-v2.md
Labels: documentation

fix: remove .js extension from annualfee-yaksa import to fix module resolution
  apps/api-server/src/main.ts
Labels: backend, typescript

fix: add missing @o4o/cosmetics-supplier-extension dependency
  apps/api-server/package.json
Labels: backend, dependencies

fix: remove .js extension from annualfee-yaksa entities import
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

fix: import cosmetics-seller-extension from backend subpath
  apps/api-server/src/main.ts
Labels: backend, typescript

fix: add backend exports with types to cosmetics-seller-extension
  packages/cosmetics-seller-extension/package.json
Labels: packages, dependencies

fix: add tsconfig paths for cosmetics-seller-extension/backend
  apps/api-server/tsconfig.json
Labels: backend

fix: use import type for AuthRequest interface
  apps/api-server/src/controllers/UserManagementController.ts
  apps/api-server/src/controllers/admin/adminApprovalController.ts
  apps/api-server/src/controllers/adminController.ts
  apps/api-server/src/controllers/analyticsController.ts
  apps/api-server/src/controllers/cpt/FieldGroupsController.ts
  apps/api-server/src/controllers/cpt/FormsController.ts
  apps/api-server/src/controllers/cpt/TaxonomiesController.ts
  apps/api-server/src/controllers/formController.ts
  apps/api-server/src/controllers/media/mediaUploadController.ts
  apps/api-server/src/controllers/partner/partnerController.ts
  apps/api-server/src/controllers/templatesController.ts
  apps/api-server/src/middleware/auth.middleware.ts
  apps/api-server/src/middleware/errorHandler.middleware.ts
  apps/api-server/src/middleware/performance.middleware.ts
  apps/api-server/src/middleware/sso.ts
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/modules/auth/controllers/verification.controller.ts
  apps/api-server/src/modules/cpt-acf/controllers/acf.controller.ts
  apps/api-server/src/modules/cpt-acf/controllers/cpt.controller.ts
  apps/api-server/src/modules/user/controllers/user-activity.controller.ts
  apps/api-server/src/modules/user/controllers/user-role.controller.ts
  apps/api-server/src/modules/user/controllers/user.controller.ts
  apps/api-server/src/routes/admin-role-applications.ts
  apps/api-server/src/routes/ai-blocks.ts
  apps/api-server/src/routes/ai-proxy.ts
  apps/api-server/src/routes/ai-references.ts
  apps/api-server/src/routes/ai-schema.ts
  apps/api-server/src/routes/ai-shortcodes.ts
  apps/api-server/src/routes/block-patterns.routes.ts
  apps/api-server/src/routes/linked-accounts.ts
  apps/api-server/src/routes/preview.ts
  apps/api-server/src/routes/reusable-blocks.routes.ts
  apps/api-server/src/routes/services.ts
  apps/api-server/src/routes/template-parts.routes.ts
Labels: backend, typescript

fix: import cosmetics-seller-extension manifest from subpath
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/tsconfig.json
Labels: backend, typescript

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Labels: config

fix: configure cosmetics-supplier-extension to compile to ES modules
  packages/cosmetics-supplier-extension/tsconfig.json
Labels: packages

fix: temporarily disable cosmetics-supplier-extension to restore API
  apps/api-server/src/main.ts
Labels: backend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
