Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

docs(check): service pricing Phase1 CRUD API smoke PASS (WO-O4O-NETURE-SUPPLIER-PRODUCT-SERVICE-SPECIFIC-PRICING-FLOW-V1)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-SERVICE-SPECIFIC-PRICING-FLOW-V1.md
Labels: documentation

docs: document market trial productId legacy policy (WO-O4O-MARKET-TRIAL-PRODUCTID-LEGACY-POLICY-V1 P3-2c)
  docs/architecture/O4O-MARKET-TRIAL-PRODUCTID-LEGACY-POLICY-V1.md
  docs/investigations/CHECK-O4O-MARKET-TRIAL-PRODUCTID-LEGACY-POLICY-V1.md
Labels: documentation

docs: document market trial offline settlement payment policy (WO-O4O-MARKET-TRIAL-OFFLINE-SETTLEMENT-PAYMENT-POLICY-V1 P3-3)
  docs/architecture/O4O-MARKET-TRIAL-OFFLINE-SETTLEMENT-PAYMENT-POLICY-V1.md
  docs/investigations/CHECK-O4O-MARKET-TRIAL-OFFLINE-SETTLEMENT-PAYMENT-POLICY-V1.md
Labels: documentation

feat(neture-supplier): service-specific price input UI in drawer (WO-O4O-NETURE-SUPPLIER-PRODUCT-SERVICE-SPECIFIC-PRICING-FLOW-V1 Phase2 frontend)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-SERVICE-SPECIFIC-PRICING-FLOW-V1.md
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: documentation, typescript

chore(neture-supplier): add browser smoke verification screenshots
  supply-method-policy-guide-c.png
  supply-method-section-renagang21.png
Labels: none

fix(operator-ux-core,ui): sticky selection checkbox column in standard tables (WO-O4O-STANDARD-TABLE-STICKY-SELECTION-COLUMN-CORE-V1)
  packages/operator-ux-core/src/list/DataTable.tsx
  packages/ui/src/components/table/BaseTable.tsx
  packages/ui/src/components/table/SelectionTable.tsx
Labels: packages, typescript

feat(neture): restore withdrawn supplier/member via canonical reactivate (WO-O4O-NETURE-SUPPLIER-WITHDRAWN-RESTORE-ACTION-V1)
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/services/approval/MembershipApprovalService.ts
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Labels: backend, typescript

docs: validate market trial content-only deploy
  docs/investigations/CHECK-O4O-MARKET-TRIAL-CONTENT-ONLY-POST-DEPLOY-VALIDATION-V1.md
Labels: documentation

feat(neture): reactivate market trial offline payment confirmation
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  docs/investigations/CHECK-O4O-MARKET-TRIAL-OFFLINE-PAYMENT-REACTIVATION-V1.md
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Labels: backend, documentation, typescript

fix(neture-supplier): soften mail-order-sales report copy to optional (WO-O4O-NETURE-SUPPLIER-ADDITIONAL-INFO-SCOPE-SEPARATION-V1)
  services/web-neture/src/pages/supplier/SupplierProfilePage.tsx
Labels: typescript

chore(db): add product test-data targeted purge SQL (WO-O4O-PRODUCT-TEST-DATA-TARGETED-PURGE-V1)
  apps/api-server/scripts/reset-product-test-data.sql
Labels: backend

docs(check): market trial offline payment reactivation — live smoke PASS
  docs/investigations/CHECK-O4O-MARKET-TRIAL-OFFLINE-PAYMENT-REACTIVATION-V1.md
Labels: documentation

chore(neture): cleanup test/orphan suppliers without neture membership (WO-O4O-NETURE-OPERATOR-DASHBOARD-SUPPLIER-COUNT-ALIGNMENT-V1)
  apps/api-server/src/database/migrations/20261118000000-CleanupNetureTestSuppliers.ts
Labels: backend, typescript

feat(neture): content-only participation report card for market trial
  docs/investigations/CHECK-O4O-MARKET-TRIAL-PARTICIPATION-REPORT-CLEANUP-V1.md
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Labels: documentation, typescript

@ docs(check): market trial participation report card — live browser smoke PASS
  docs/investigations/CHECK-O4O-MARKET-TRIAL-PARTICIPATION-REPORT-CLEANUP-V1.md
Labels: documentation

@ docs: audit market trial processing terminology (IR-O4O-MARKET-TRIAL-PROCESSING-TERMINOLOGY-AUDIT-V1)
  docs/investigations/IR-O4O-MARKET-TRIAL-PROCESSING-TERMINOLOGY-AUDIT-V1.md
Labels: documentation

@ chore: align market trial processing terminology (WO-O4O-MARKET-TRIAL-PROCESSING-TERMINOLOGY-CLEANUP-V1)
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  docs/investigations/CHECK-O4O-MARKET-TRIAL-PROCESSING-TERMINOLOGY-CLEANUP-V1.md
  services/web-neture/src/pages/market-trial/MyParticipationsPage.tsx
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Labels: backend, documentation, typescript

@ docs(check): market trial terminology cleanup — live smoke PASS
  docs/investigations/CHECK-O4O-MARKET-TRIAL-PROCESSING-TERMINOLOGY-CLEANUP-V1.md
Labels: documentation

docs: define Toss payment scope and type separation
  docs/investigations/IR-O4O-TOSS-PAYMENT-SCOPE-AND-TYPE-SEPARATION-V1.md
Labels: documentation

docs: audit market trial reward wording (IR-O4O-MARKET-TRIAL-REWARD-WORDING-V2)
  docs/investigations/IR-O4O-MARKET-TRIAL-REWARD-WORDING-V2.md
Labels: documentation

chore(neture): align market trial reward wording (정산→보상)
  docs/investigations/CHECK-O4O-MARKET-TRIAL-REWARD-WORDING-CLEANUP-V2.md
  services/web-neture/src/pages/market-trial/MarketTrialDetailPage.tsx
  services/web-neture/src/pages/market-trial/MarketTrialHubPage.tsx
  services/web-neture/src/pages/market-trial/MyParticipationsPage.tsx
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialCreatePage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialListPage.tsx
Labels: documentation, typescript

docs(check): market trial reward wording — live smoke PASS
  docs/investigations/CHECK-O4O-MARKET-TRIAL-REWARD-WORDING-CLEANUP-V2.md
Labels: documentation

docs: define market trial offline payment audit policy
  docs/architecture/O4O-MARKET-TRIAL-OFFLINE-PAYMENT-CONFIRMATION-AUDIT-POLICY-V1.md
  docs/investigations/CHECK-O4O-MARKET-TRIAL-OFFLINE-PAYMENT-CONFIRMATION-AUDIT-POLICY-V1.md
Labels: documentation

docs: add multilingual product content QR audit
  docs/investigations/IR-O4O-MULTILINGUAL-PRODUCT-CONTENT-QR-AUDIT-V1.md
Labels: documentation

feat: add multilingual product content storage entities
  apps/api-server/src/routes/platform/entities/store-multilingual-product-content-group.entity.ts
Labels: backend, typescript

feat: add multilingual product content page entity
  apps/api-server/src/routes/platform/entities/store-multilingual-product-content-page.entity.ts
Labels: backend, typescript

feat: add multilingual product content migration
  apps/api-server/src/database/migrations/20260621010000-CreateStoreMultilingualProductContent.ts
Labels: backend, typescript

feat: export multilingual product content entities
  apps/api-server/src/routes/platform/entities/index.ts
Labels: backend, typescript

docs: add multilingual product content storage check
  docs/investigations/CHECK-O4O-MULTILINGUAL-PRODUCT-CONTENT-STORAGE-V1.md
Labels: documentation

feat: add multilingual product content API controller
  apps/api-server/src/routes/o4o-store/controllers/multilingual-product-content.controller.ts
Labels: backend, typescript

docs: add multilingual product content API check
  docs/investigations/CHECK-O4O-MULTILINGUAL-PRODUCT-CONTENT-API-V1.md
Labels: documentation

feat: store paid feature entitlement foundation (WO-O4O-STORE-PAID-FEATURE-ENTITLEMENT-V1)
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260621000000-CreateStorePaidFeatureEntitlements.ts
  apps/api-server/src/modules/store-entitlement/store-entitlement.routes.ts
  apps/api-server/src/modules/store-entitlement/store-paid-feature-entitlement.entity.ts
  apps/api-server/src/modules/store-entitlement/store-paid-feature-entitlement.service.ts
  docs/investigations/CHECK-O4O-STORE-PAID-FEATURE-ENTITLEMENT-V1.md
Labels: backend, documentation, typescript

fix: preserve market trial offline payment paidAt
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Labels: backend, typescript

docs(check): market trial paidAt preserve — live smoke PASS
  docs/investigations/CHECK-O4O-MARKET-TRIAL-OFFLINE-PAYMENT-PAIDAT-PRESERVE-V1.md
Labels: documentation

feat(neture): structured audit log for market trial payment changes
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
Labels: backend, typescript

refactor(api-server): split TypeORM entity registry from connection.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/entities.ts
Labels: backend, typescript

fix(neture): audit afterStatus/afterAmount from request not RETURNING row
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
Labels: backend, typescript

docs(check): market trial payment audit log — 2nd verify PASS
  docs/investigations/CHECK-O4O-MARKET-TRIAL-OFFLINE-PAYMENT-AUDIT-LOG-V1.md
Labels: documentation

feat: foreign visitor sales support menu gate (WO-O4O-FOREIGN-VISITOR-SALES-SUPPORT-MENU-GATE-V1)
  apps/api-server/src/modules/store-entitlement/store-entitlement.routes.ts
  docs/investigations/CHECK-O4O-FOREIGN-VISITOR-SALES-SUPPORT-MENU-GATE-V1.md
  packages/store-ui-core/src/components/ForeignVisitorSalesSupportPanel.tsx
  packages/store-ui-core/src/components/StoreSidebar.tsx
  packages/store-ui-core/src/config/storeMenuConfig.ts
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/store/ForeignVisitorSalesSupportPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/store/ForeignVisitorSalesSupportPage.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/ForeignVisitorSalesSupportPage.tsx
Labels: backend, packages, documentation, typescript

docs(investigation): audit mobile-app roots — apps/mobile-app DELETE candidate, services/mobile-app canonical
  docs/investigations/IR-O4O-MOBILE-APP-ROOT-CARE-LEGACY-AUDIT-V1.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
