Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(neture): WO-NETURE-OPERATOR-PENDING-PRODUCT-HARD-DELETE-V1
  apps/api-server/src/modules/neture/controllers/operator-product-cleanup.controller.ts
  services/web-neture/src/lib/api/serviceApproval.ts
Labels: backend, typescript

fix(neture): WO-NETURE-DISTRIBUTION-SERVICE-INVALID-STATE-BLOCK-V1
  apps/api-server/src/modules/neture/services/offer.service.ts
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, typescript

feat: KPA-a operator 대시보드 정비 + placeholder 페이지 실사용 전환 + GlycoPharm 메뉴 재정렬
  .claude/settings.local.json
  apps/api-server/src/routes/kpa/action-definitions.ts
  packages/types/src/operator-capability.ts
  packages/ui/src/operator-shell/constants.ts
  packages/ui/src/operator-shell/types.ts
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-glycopharm/src/config/operatorCapabilities.ts
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/config/operatorCapabilities.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
  services/web-kpa-society/src/pages/operator/OperatorDocsPage.tsx
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
  services/web-kpa-society/src/pages/operator/operatorConfig.ts
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Labels: backend, packages, typescript

feat(kpa): WO-KPA-A-RESOURCES-API-IMPLEMENTATION-V1
  apps/api-server/src/routes/kpa/kpa.routes.ts
Labels: backend, typescript

feat(neture): WO-NETURE-APPROVED-PRODUCT-SOFT-DELETE-AND-RECYCLE-BIN-FLOW-V1
  apps/api-server/src/database/migrations/20260403100000-AddSoftDeleteToSupplierProductOffers.ts
  apps/api-server/src/modules/neture/controllers/operator-product-cleanup.controller.ts
  apps/api-server/src/modules/neture/entities/SupplierProductOffer.entity.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  services/web-neture/src/lib/api/operatorProductCleanup.ts
  services/web-neture/src/pages/operator/OperatorProductApprovalPage.tsx
  services/web-neture/src/pages/operator/ProductDataCleanupPage.tsx
Labels: backend, typescript

feat(kpa): KPA-a operator 자료실 페이지 실사용 전환
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/resources.ts
  services/web-kpa-society/src/pages/operator/OperatorDocsPage.tsx
Labels: backend, typescript

fix(neture): WO-NETURE-PRODUCT-DISTRIBUTION-POLICY-UI-ALIGNMENT-V1
  services/web-neture/src/components/product/ProductForm.tsx
Labels: typescript

fix(test): KPA cross-service isolation 테스트를 정적 import만 검사하도록 수정
  apps/api-server/src/__tests__/kpa-role-guard.spec.ts
Labels: backend, testing, typescript

feat(kpa): WO-KPA-LOGIN-TEST-ACCOUNT-QUICK-FILL-BUTTONS-V1
  services/web-kpa-society/src/components/LoginModal.tsx
Labels: typescript

feat(kpa): WO-KPA-A-OPERATOR-FORUM-OPS-ENHANCEMENT-V1
  services/web-kpa-society/src/pages/operator/OperatorForumPage.tsx
Labels: typescript

fix(neture): WO-NETURE-PRODUCT-DISTRIBUTION-POLICY-UI-ALIGNMENT-V1
  apps/api-server/src/database/migrations/20260403200000-AddIsPublicToSupplierProductOffers.ts
  apps/api-server/src/modules/neture/controllers/supplier-product.controller.ts
  apps/api-server/src/modules/neture/entities/SupplierProductOffer.entity.ts
  apps/api-server/src/modules/neture/neture.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  services/web-neture/src/components/product/ProductForm.tsx
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, typescript

feat(kpa): WO-KPA-A-MEMBER-STATUS-SEMANTICS-SEPARATION-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/entities/kpa-member.entity.ts
  packages/operator-ux-core/src/member-list/MemberBadges.tsx
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: backend, packages, typescript

fix(kpa): WO-KPA-A-OPERATOR-DASHBOARD-RECOVERY-V1
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
Labels: backend, typescript

fix(neture): WO-NETURE-LEGACY-NETURE-SERVICE-SELECTION-DATA-CLEANUP-V1
  apps/api-server/src/database/migrations/20260403100000-CleanupNetureServiceData.ts
Labels: backend, typescript

fix(neture): 서비스 승인 페이지 approved 상품에 soft 삭제 버튼 추가
  services/web-neture/src/pages/operator/ProductServiceApprovalPage.tsx
Labels: typescript

chore: dead migration 정리 — src/migrations/ → src/database/migrations/
  apps/api-server/src/database/migrations/20260403100001-CreateSpotPricePolicies.ts
  apps/api-server/src/migrations/1771200000024-CleanupNetureServiceData.ts
Labels: backend, typescript

fix(kpa): 대시보드 미존재 테이블 참조 추가 제거 (instructor/course/store_asset)
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
Labels: backend, typescript

fix(kpa): WO-KPA-A-OPERATOR-DASHBOARD-RECOVERY-V1
  apps/api-server/src/database/migrations/20260403300000-CreateKpaApprovalRequestsTable.ts
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
Labels: backend, typescript

fix(kpa): dashboard 엔드포인트도 kpa_approval_requests catch fallback 패턴 통일
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
Labels: backend, typescript

fix(kpa): product-applications stats API 경로 prefix 이중 적용 수정
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
Labels: typescript

feat(neture): WO-NETURE-OPERATOR-PRODUCT-SUPPLY-OVERVIEW-V1
  services/web-neture/src/App.tsx
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/pages/operator/AllProductsOverviewPage.tsx
  services/web-neture/src/pages/operator/RecruitingProductsOverviewPage.tsx
Labels: typescript

feat(kpa): WO-KPA-A-MEMBER-EDIT-AND-DELETE-FLOW-V1
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  services/web-kpa-society/src/pages/operator/MemberManagementPage.tsx
Labels: backend, typescript

feat(neture): WO-NETURE-OPERATOR-PRODUCT-OVERVIEW-USABILITY-ENHANCEMENT-V1
  services/web-neture/src/pages/operator/AllProductsOverviewPage.tsx
  services/web-neture/src/pages/operator/RecruitingProductsOverviewPage.tsx
Labels: typescript

feat(neture): WO-NETURE-RECRUITING-PRODUCTS-OPERATOR-MUTATION-API-V1
  apps/api-server/src/modules/neture/controllers/operator-recruiting.controller.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  services/web-neture/src/pages/operator/RecruitingProductsOverviewPage.tsx
Labels: backend, typescript

fix(neture): WO-NETURE-MEMBER-DELETE-SAFE-FLOW-V1
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/services/approval/MembershipApprovalService.ts
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Labels: backend, typescript

chore(kpa): KPA-a 커뮤니티 포럼 게시글/댓글 전체 삭제 마이그레이션
  apps/api-server/src/database/migrations/20260403400000-CleanupKpaForumPosts.ts
Labels: backend, typescript

fix(kpa): forum_comment 컬럼명 post_id → "postId" 수정 (camelCase)
  apps/api-server/src/database/migrations/20260403400000-CleanupKpaForumPosts.ts
Labels: backend, typescript

fix: service_memberships updatedAt → updated_at 컬럼명 수정
  apps/api-server/src/services/approval/MembershipApprovalService.ts
Labels: backend, typescript

fix(kpa): 포럼 삭제 마이그레이션 V2 — 새 타임스탬프로 재생성
  apps/api-server/src/database/migrations/20260403500000-CleanupKpaForumPostsV2.ts
Labels: backend, typescript

feat(platform): WO-O4O-OPERATOR-MEMBER-DELETE-RISK-AND-SAFE-DELETE-V1
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/routes/operator/membership.routes.ts
  services/web-glucoseview/src/pages/operator/UsersPage.tsx
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
Labels: backend, typescript

fix(kpa): 포럼 삭제 마이그레이션 SAVEPOINT 패턴 적용
  apps/api-server/src/database/migrations/20260403500000-CleanupKpaForumPostsV2.ts
Labels: backend, typescript

chore(kpa): KPA-a 감사 로그 전체 삭제 마이그레이션
  apps/api-server/src/database/migrations/20260403600000-CleanupKpaAuditLogs.ts
Labels: backend, typescript

chore(kpa): users 테이블에 없는 orphan KPA 회원 삭제 마이그레이션
  apps/api-server/src/database/migrations/20260403700000-CleanupOrphanKpaMembers.ts
Labels: backend, typescript

feat(kpa): 회원가입 모달에 약사/학생 선택 단계 추가
  services/web-kpa-society/src/components/RegisterModal.tsx
Labels: typescript

fix(neture): 운영자 전체 공급 API 누락 필드 추가
  apps/api-server/src/modules/neture/services/offer.service.ts
Labels: backend, typescript

feat(neture): WO-NETURE-SUPPLIER-APPROVAL-TWO-STEP-ACTIVATION-V1
  apps/api-server/src/modules/neture/services/operator-registration.service.ts
  services/web-neture/src/config/operatorMenuGroups.ts
Labels: backend, typescript

feat(kpa): 약대생 가입 — 약학대학 select + 학년 제거 + 성공 화면 개선
  services/web-kpa-society/src/components/RegisterModal.tsx
Labels: typescript

feat(neture): WO-NETURE-SERVICE-DISTRIBUTION-AUTO-EXPAND-V1
  apps/api-server/src/database/migrations/20260403800000-BackfillServiceOfferListings.ts
  apps/api-server/src/modules/neture/services/offer-service-approval.service.ts
  apps/api-server/src/utils/auto-listing.utils.ts
Labels: backend, typescript

feat(neture): WO-NETURE-SERVICE-OFFER-AUTO-LIST-ON-NEW-ORG-ENROLLMENT-V1
  apps/api-server/src/database/migrations/20260403800000-CleanupAllKpaTestAccounts.ts
  apps/api-server/src/routes/glycopharm/controllers/admin.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/store-applications.controller.ts
  apps/api-server/src/routes/glycopharm/services/glycopharm.service.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/controllers/organization.controller.ts
  services/web-kpa-society/src/components/LoginModal.tsx
Labels: backend, typescript

feat(glycopharm): 운영자 대시보드 Phase 1~3 — 7블록 운영 허브 구축
  services/web-glycopharm/src/pages/operator/GlycoPharmOperatorDashboard.tsx
Labels: typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
