Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(glycopharm): pilot 5-Block unified operator dashboard
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/pages/operator/GlycoPharmOperatorDashboard.tsx
Labels: config, dependencies, typescript

feat(k-cosmetics): replace operator dashboard with 5-Block layout
  pnpm-lock.yaml
  services/web-k-cosmetics/package.json
  services/web-k-cosmetics/src/pages/operator/KCosmeticsOperatorDashboard.tsx
Labels: config, dependencies, typescript

feat(kpa-a): replace operator dashboard with 5-Block layout
  pnpm-lock.yaml
  services/web-kpa-society/package.json
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Labels: config, dependencies, typescript

docs: freeze operator 5-block UX core (v1)
  CLAUDE.md
  docs/platform-core/OPERATOR_UX_CORE_FREEZE_V1.md
Labels: documentation

feat(admin-ux-core): scaffold 4-Block admin dashboard + Neture pilot
  packages/admin-ux-core/package.json
  packages/admin-ux-core/src/AdminDashboardLayout.tsx
  packages/admin-ux-core/src/blocks/GovernanceAlertBlock.tsx
  packages/admin-ux-core/src/blocks/PolicyOverviewBlock.tsx
  packages/admin-ux-core/src/blocks/StructureActionBlock.tsx
  packages/admin-ux-core/src/blocks/StructureSnapshotBlock.tsx
  packages/admin-ux-core/src/index.ts
  packages/admin-ux-core/src/types.ts
  packages/admin-ux-core/tsconfig.json
  pnpm-lock.yaml
  services/web-neture/package.json
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
Labels: packages, config, dependencies, typescript

feat(glycopharm): WO-MENU-REALIGN-V1 메뉴 재정렬 및 Care 분리
  docs/investigations/IR-O4O-STORE-HUB-BASELINE-V1.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/lib/auth-utils.ts
  services/web-glycopharm/src/pages/auth/RoleSelectPage.tsx
  services/web-glycopharm/src/pages/care/CareDashboardPage.tsx
  services/web-glycopharm/src/pages/care/PatientsPage.tsx
  services/web-glycopharm/src/pages/care/index.ts
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-glycopharm/src/pages/store/StoreOverviewPage.tsx
Labels: documentation, typescript

fix(platform): resolve tsc errors across 6 minor workspaces (WO-PHASE16-STEP5)
  packages/ai-common-core/src/index.ts
  packages/forum-yaksa/src/backend/services/YaksaCommunityService.ts
  packages/partner-core/tsconfig.json
  packages/partnerops/src/services/index.ts
  packages/siteguide-widget/src/widget.ts
  packages/supplier-connector/package.json
  packages/supplier-connector/src/axios.d.ts
  packages/supplier-connector/src/connectors/CSVSupplierConnector.ts
  packages/supplier-connector/src/connectors/DomesticSupplierConnector.ts
  packages/supplier-connector/src/index.ts
  packages/supplier-connector/tsconfig.json
  pnpm-lock.yaml
Labels: packages, config, dependencies, typescript

feat(glycopharm): replace admin dashboard with 4-Block layout
  pnpm-lock.yaml
  services/web-glycopharm/package.json
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/admin/GlycoPharmAdminDashboard.tsx
Labels: config, dependencies, typescript

chore: regenerate pnpm-lock.yaml for CI
  pnpm-lock.yaml
Labels: config

docs: freeze admin 4-Block UX core (v1)
  CLAUDE.md
  docs/platform-core/ADMIN_UX_CORE_FREEZE_V1.md
Labels: documentation

fix(docker): add missing workspace packages to Dockerfiles
  services/web-glycopharm/Dockerfile
  services/web-neture/Dockerfile
Labels: none

feat(kpa-b): pilot Branch Operator 5-Block + Branch Admin 4-Block UX
  pnpm-lock.yaml
  services/web-kpa-society/Dockerfile
  services/web-kpa-society/package.json
  services/web-kpa-society/src/pages/branch-admin/DashboardPage.tsx
  services/web-kpa-society/src/pages/branch-operator/BranchOperatorDashboard.tsx
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
Labels: config, dependencies, typescript

fix: commit missing files and fix TS errors for CI/CD builds
  packages/operator-core/src/store/StoreDashboardLayout.tsx
  packages/operator-core/src/store/storeMenuConfig.ts
  services/web-glycopharm/src/components/common/RedirectNoticeBanner.tsx
  services/web-glycopharm/src/pages/store/hooks/useStoreHub.ts
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
  services/web-neture/src/pages/operator/NetureOperatorDashboard.tsx
Labels: packages, typescript

feat(kpa-c): pilot District Operator 5-Block + District Admin 4-Block UX
  services/web-kpa-society/src/pages/admin/AdminDashboardPage.tsx
  services/web-kpa-society/src/pages/admin/KpaOperatorDashboardPage.tsx
Labels: typescript

docs: freeze KPA UX baseline v1 (all 3 service areas)
  CLAUDE.md
  docs/platform-core/ADMIN_UX_CORE_FREEZE_V1.md
  docs/platform-core/KPA_UX_BASELINE_V1.md
  docs/platform-core/OPERATOR_UX_CORE_FREEZE_V1.md
Labels: documentation

feat(platform-core): implement store slug system with requested slug support
  apps/api-server/package.json
  apps/api-server/src/main.ts
  apps/api-server/src/migrations/1771200000000-CreatePlatformStoreSlugsTables.ts
  apps/api-server/src/migrations/1771200000001-BackfillPlatformStoreSlugs.ts
  apps/api-server/src/migrations/1771200000002-AddRequestedSlugToApplications.ts
  apps/api-server/src/routes/cosmetics/entities/cosmetics-store-application.entity.ts
  apps/api-server/src/routes/cosmetics/services/cosmetics-store.service.ts
  apps/api-server/src/routes/glucoseview/controllers/application.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/admin.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/application.controller.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-application.entity.ts
  apps/api-server/src/routes/glycopharm/repositories/glycopharm.repository.ts
  apps/api-server/src/routes/glycopharm/services/glycopharm.service.ts
  apps/api-server/src/routes/platform/slug.routes.ts
  apps/api-server/src/utils/slug.ts
  docs/platform/store-identity/STORE-SLUG-POLICY-V1.md
  packages/platform-core/package.json
  packages/platform-core/src/index.ts
  packages/platform-core/src/store-identity/constants/reserved-slugs.ts
  packages/platform-core/src/store-identity/entities/index.ts
  packages/platform-core/src/store-identity/entities/platform-store-slug-history.entity.ts
  packages/platform-core/src/store-identity/entities/platform-store-slug.entity.ts
  packages/platform-core/src/store-identity/index.ts
  packages/platform-core/src/store-identity/services/store-slug.service.ts
  packages/platform-core/src/store-identity/utils/slug-validation.ts
  pnpm-lock.yaml
  services/web-glycopharm/src/api/glycopharm.ts
  services/web-glycopharm/src/pages/apply/PharmacyApplyPage.tsx
Labels: backend, packages, config, documentation, dependencies, typescript

fix: resolve TS strict warnings and pin pnpm overrides
  apps/admin-dashboard/src/components/ag/AGSearchBar.tsx
  apps/admin-dashboard/src/components/common/DataTable.tsx
  apps/admin-dashboard/src/components/editor/blocks/gallery/GalleryLightbox.tsx
  apps/admin-dashboard/src/components/editor/blocks/gallery/GallerySlider.tsx
  apps/admin-dashboard/src/components/editor/hooks/useZoneContent.ts
  apps/admin-dashboard/src/components/partner/RealTimeActivity.tsx
  apps/admin-dashboard/src/hooks/useThemeCustomization.ts
  apps/admin-dashboard/src/pages/cms/designer/components/Canvas.tsx
  apps/admin-dashboard/src/pages/cms/designer/components/Palette.tsx
  apps/admin-dashboard/src/pages/platform/PlatformHubPage.tsx
  apps/admin-dashboard/src/utils/editor-runtime.ts
  apps/admin-dashboard/tsconfig.json
  apps/api-server/src/scripts/audit-roles.ts
  package.json
  services/web-k-cosmetics/src/components/auth/RoleGuard.tsx
Labels: frontend, backend, config, dependencies, typescript

refactor(glycopharm): migrate /pharmacy → /store routes and remove legacy pages
  services/web-glycopharm/src/api/public.ts
  services/web-glycopharm/src/components/home/ServiceOverviewSection.tsx
  services/web-glycopharm/src/config/heroConfig.ts
  services/web-glycopharm/src/pages/HomePage.tsx
  services/web-glycopharm/src/pages/pharmacy/PharmacyDashboard.tsx
  services/web-glycopharm/src/pages/pharmacy/PharmacyManagement.tsx
  services/web-glycopharm/src/pages/pharmacy/StoreMainPage.tsx
  services/web-glycopharm/src/pages/pharmacy/hub/HubPage.tsx
  services/web-glycopharm/src/pages/pharmacy/market-trial/MarketTrialListPage.tsx
  services/web-glycopharm/src/pages/pharmacy/signage/ContentLibraryPage.tsx
  services/web-glycopharm/src/pages/pharmacy/signage/MySignagePage.tsx
  services/web-glycopharm/src/pages/pharmacy/signage/SignagePreviewPage.tsx
  services/web-glycopharm/src/pages/pharmacy/smart-display/PlaylistsPage.tsx
  services/web-glycopharm/src/pages/pharmacy/smart-display/SmartDisplayPage.tsx
Labels: typescript

chore: remove deprecated vscode-extension and add platform docs
  .github/workflows/ci-guard-policy.yml
  apps/vscode-extension/README.md
  apps/vscode-extension/VERIFICATION_REPORT.md
  apps/vscode-extension/package.json
  apps/vscode-extension/src/api/o4oClient.ts
  apps/vscode-extension/src/auth/authManager.ts
  apps/vscode-extension/src/converter/customCodeHandler.ts
  apps/vscode-extension/src/converter/reactToBlocks.ts
  apps/vscode-extension/src/converter/tailwindParser.ts
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/test/runTest.ts
  apps/vscode-extension/src/test/suite/conversion.test.ts
  apps/vscode-extension/src/test/suite/index.ts
  apps/vscode-extension/tsconfig.json
  docs/investigations/IR-CYBER-STORE-GAP-TABLE-V1.md
  docs/investigations/IR-CYBER-STORE-PHASE1-DB-INVENTORY-V1.md
  docs/investigations/IR-CYBER-STORE-PHASE2-API-INVENTORY-V1.md
  docs/investigations/IR-CYBER-STORE-PHASE3-UI-INVENTORY-V1.md
  docs/platform-core/ADMIN_OPERATOR_ROLE_POLICY_V1.md
  docs/platform-core/OPERATOR_UI_REALIGNMENT_V1.md
  docs/platform-core/ROLE_GUARD_TEST_BASELINE_V1.md
  pnpm-lock.yaml
Labels: ci/cd, config, documentation, dependencies, testing, typescript

fix(kpa): normalize API structure — new district-summary endpoint, remove placeholder fields
  apps/api-server/src/routes/kpa/controllers/admin-dashboard.controller.ts
  apps/api-server/src/routes/kpa/controllers/branch-admin-dashboard.controller.ts
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
  docs/investigations/IR-KPA-API-NORMALIZATION-PHASE1-V1.md
  services/web-kpa-society/src/api/admin.ts
  services/web-kpa-society/src/api/branchAdmin.ts
  services/web-kpa-society/src/api/operator.ts
  services/web-kpa-society/src/pages/admin/AdminDashboardPage.tsx
  services/web-kpa-society/src/pages/admin/KpaOperatorDashboardPage.tsx
  services/web-kpa-society/src/pages/branch-admin/DashboardPage.tsx
Labels: backend, documentation, typescript

feat(platform-core): implement store policy, payment config and slug 301 redirect
  apps/admin-dashboard/src/pages/storefront/StorefrontHome.tsx
  apps/api-server/src/database/connection.ts
  apps/api-server/src/main.ts
  apps/api-server/src/migrations/1771200000003-CreatePlatformStorePolicies.ts
  apps/api-server/src/migrations/1771200000004-CreatePlatformStorePaymentConfigs.ts
  apps/api-server/src/routes/platform/store-policy.routes.ts
  packages/platform-core/package.json
  packages/platform-core/src/index.ts
  packages/platform-core/src/store-policy/entities/index.ts
  packages/platform-core/src/store-policy/entities/platform-store-payment-config.entity.ts
  packages/platform-core/src/store-policy/entities/platform-store-policy.entity.ts
  packages/platform-core/src/store-policy/index.ts
  packages/platform-core/src/store-policy/services/payment-config.service.ts
  packages/platform-core/src/store-policy/services/store-policy.service.ts
  packages/ui/src/layout/AGStorefrontLayout.tsx
  pnpm-lock.yaml
Labels: frontend, backend, packages, config, dependencies, typescript

feat(kpa): sync User entity on member approval/suspension/withdrawal
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
Labels: backend, typescript

fix(kpa): improve default routing and add PharmacyGuard for /pharmacy routes
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/auth/PharmacyGuard.tsx
  services/web-kpa-society/src/lib/auth-utils.ts
  services/web-kpa-society/src/pages/LoginPage.tsx
Labels: typescript

feat(kpa): sync User.roles on organization join request approval
  apps/api-server/src/routes/kpa/controllers/organization-join-request.controller.ts
Labels: backend, typescript

fix(ci): resolve module path for platform-core subpath exports and remove console.log
  apps/api-server/src/migrations/1771200000001-BackfillPlatformStoreSlugs.ts
  apps/api-server/tsconfig.json
Labels: backend, typescript

fix(kpa): isolate KPA-b demo roles from platform guards and common components
  services/web-kpa-society/src/components/FunctionGateModal.tsx
  services/web-kpa-society/src/components/admin/AdminAuthGuard.tsx
  services/web-kpa-society/src/components/branch-admin/BranchAdminAuthGuard.tsx
  services/web-kpa-society/src/components/branch-operator/BranchOperatorAuthGuard.tsx
  services/web-kpa-society/src/components/common/DashboardSwitcher.tsx
  services/web-kpa-society/src/components/intranet/IntranetAuthGuard.tsx
Labels: typescript

fix(ci): add platform-core to deploy-api build pipeline
  .github/workflows/deploy-api.yml
Labels: ci/cd

fix(kpa): remove video thumbnails from lists and clean up admin dropdown menus
  services/web-kpa-society/src/components/common/DashboardSwitcher.tsx
  services/web-kpa-society/src/components/home/SignageSection.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
  services/web-kpa-society/src/pages/signage/PlaylistDetailPage.tsx
Labels: typescript

feat(kpa): pharmacy dashboard operational upgrade and B2B simplification
  apps/api-server/src/controllers/checkout/checkoutController.ts
  apps/api-server/src/database/migrations/20260218000001-AddSellerOrganizationIdToCheckoutOrders.ts
  apps/api-server/src/entities/checkout/CheckoutOrder.entity.ts
  apps/api-server/src/services/checkout.service.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/components/auth/PharmacyGuard.tsx
  services/web-kpa-society/src/pages/TestCenterPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyDashboardPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyStorePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreAssetsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/index.ts
  services/web-kpa-society/src/pages/pharmacy/sections/StoreOverviewSection.tsx
  services/web-kpa-society/src/pages/test-center/TestCenterStep2Page.tsx
  services/web-kpa-society/src/pages/test-center/index.ts
Labels: backend, typescript

feat(kpa): store IA restructure, slug redirect layer, and asset controls
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260219000001-CreateKpaStoreAssetControls.ts
  apps/api-server/src/routes/glycopharm/controllers/store.controller.ts
  apps/api-server/src/routes/kpa/controllers/store-asset-control.controller.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/kpa-store-asset-control.entity.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/platform/store-policy.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/components/pharmacy/PharmacyPublicView.tsx
  services/web-kpa-society/src/pages/operator/ContentManagementPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyB2BPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyDashboardPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacySellPage.tsx
  services/web-kpa-society/src/pages/pharmacy/ServiceDashboardPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreAssetsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/b2b/SupplierDetailPage.tsx
  services/web-kpa-society/src/pages/pharmacy/b2b/SupplierListPage.tsx
  services/web-kpa-society/src/pages/pharmacy/index.ts
  services/web-kpa-society/src/pages/pharmacy/sections/ChannelLayerSection.tsx
  services/web-kpa-society/src/pages/pharmacy/sections/StoreManagementSection.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Labels: backend, typescript

feat(kpa): asset control V2, published-assets API, tablet/blog channels
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260219000002-AddV2ColumnsToKpaStoreAssetControls.ts
  apps/api-server/src/migrations/1771200000005-CreateTabletServiceRequests.ts
  apps/api-server/src/migrations/1771200000006-CreateStoreBlogPosts.ts
  apps/api-server/src/routes/glycopharm/controllers/blog.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/tablet.controller.ts
  apps/api-server/src/routes/glycopharm/entities/index.ts
  apps/api-server/src/routes/glycopharm/entities/store-blog-post.entity.ts
  apps/api-server/src/routes/glycopharm/entities/tablet-service-request.entity.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  apps/api-server/src/routes/kpa/controllers/admin-force-asset.controller.ts
  apps/api-server/src/routes/kpa/controllers/published-assets.controller.ts
  apps/api-server/src/routes/kpa/controllers/store-asset-control.controller.ts
  apps/api-server/src/routes/kpa/entities/kpa-store-asset-control.entity.ts
  apps/api-server/src/routes/kpa/helpers/asset-render-filter.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/api/blog.ts
  services/web-kpa-society/src/api/blogStaff.ts
  services/web-kpa-society/src/api/tablet.ts
  services/web-kpa-society/src/api/tabletStaff.ts
  services/web-kpa-society/src/pages/pharmacy/PharmacyBlogPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyDashboardPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreAssetsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletRequestsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/index.ts
  services/web-kpa-society/src/pages/store/StoreBlogPage.tsx
  services/web-kpa-society/src/pages/store/StoreBlogPostPage.tsx
  services/web-kpa-society/src/pages/tablet/TabletStorePage.tsx
Labels: backend, typescript

feat(kpa): asset operational dashboard, content usage modes, hub risk loop
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260219000003-CreateKpaStoreContents.ts
  apps/api-server/src/migrations/1771200000007-AddTemplateProfileToPharmacies.ts
  apps/api-server/src/migrations/1771200000008-AddStorefrontBlocksToPharmacies.ts
  apps/api-server/src/routes/glycopharm/controllers/blog.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/store.controller.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-pharmacy.entity.ts
  apps/api-server/src/routes/glycopharm/entities/index.ts
  apps/api-server/src/routes/kpa/controllers/kpa-store-template.controller.ts
  apps/api-server/src/routes/kpa/controllers/operator-summary.controller.ts
  apps/api-server/src/routes/kpa/controllers/published-assets.controller.ts
  apps/api-server/src/routes/kpa/controllers/store-content.controller.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/kpa-store-content.entity.ts
  apps/api-server/src/routes/kpa/helpers/asset-render-filter.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/api/blog.ts
  services/web-kpa-society/src/api/blogStaff.ts
  services/web-kpa-society/src/api/operator.ts
  services/web-kpa-society/src/api/tablet.ts
  services/web-kpa-society/src/api/tabletStaff.ts
  services/web-kpa-society/src/pages/content/PrintContentPage.tsx
  services/web-kpa-society/src/pages/content/PublicContentViewPage.tsx
  services/web-kpa-society/src/pages/content/index.ts
  services/web-kpa-society/src/pages/hub/HubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyBlogPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyTemplatePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreAssetsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreContentEditPage.tsx
  services/web-kpa-society/src/pages/pharmacy/index.ts
  services/web-kpa-society/src/pages/store/StoreBlogPage.tsx
  services/web-kpa-society/src/pages/store/StoreBlogPostPage.tsx
  services/web-kpa-society/src/pages/store/StorefrontHomePage.tsx
  services/web-kpa-society/src/pages/tablet/TabletStorePage.tsx
Labels: backend, typescript

feat(store): block engine, registry, hardening, and channel unification
  apps/api-server/src/routes/glycopharm/controllers/layout.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  packages/ui/package.json
  packages/ui/src/index.tsx
  packages/ui/src/store-blocks/blocks/blog-list.block.tsx
  packages/ui/src/store-blocks/blocks/hero.block.tsx
  packages/ui/src/store-blocks/blocks/index.ts
  packages/ui/src/store-blocks/blocks/info-section.block.tsx
  packages/ui/src/store-blocks/blocks/product-grid.block.tsx
  packages/ui/src/store-blocks/blocks/signage-promo.block.tsx
  packages/ui/src/store-blocks/blocks/tablet-promo.block.tsx
  packages/ui/src/store-blocks/index.ts
  packages/ui/src/store-blocks/registry.ts
  packages/ui/src/store-blocks/types.ts
  pnpm-lock.yaml
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/TestCenterPage.tsx
  services/web-kpa-society/src/pages/pharmacy/LayoutBuilderPage.tsx
  services/web-kpa-society/src/pages/pharmacy/index.ts
  services/web-kpa-society/src/pages/store/StorefrontHomePage.tsx
  services/web-kpa-society/src/pages/test-center/TestCenterStep2Page.tsx
  services/web-kpa-society/src/pages/test-center/TestHubPage.tsx
  services/web-kpa-society/src/pages/test-center/TestMainPage.tsx
  services/web-kpa-society/src/pages/test-center/TestStorePage.tsx
  services/web-kpa-society/src/pages/test-center/index.ts
Labels: backend, packages, config, dependencies, typescript

feat(kpa): store admin consolidation, unified public routes, test center
  .claude/BROWSER-CONTROL-SETUP.md
  .claude/settings.local.json
  apps/api-server/src/main.ts
  apps/api-server/src/routes/glycopharm/controllers/blog.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/layout.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/tablet.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/platform/unified-store-public.routes.ts
  docs/investigations/IR-KPA-A-STRUCTURE-CODE-AUDIT-V1.md
  packages/ui/src/store-blocks/types.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/blog.ts
  services/web-kpa-society/src/api/tablet.ts
  services/web-kpa-society/src/components/pharmacy/StoreManagementLayout.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyDashboardPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreChannelsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreOverviewPage.tsx
  services/web-kpa-society/src/pages/pharmacy/index.ts
  services/web-kpa-society/src/pages/store/StoreBlogPage.tsx
  services/web-kpa-society/src/pages/store/StoreBlogPostPage.tsx
  services/web-kpa-society/src/pages/store/StorefrontHomePage.tsx
  services/web-kpa-society/src/pages/tablet/TabletStorePage.tsx
  services/web-kpa-society/src/pages/test-center/TestHubPage.tsx
  services/web-kpa-society/src/pages/test-center/TestStorePage.tsx
Labels: backend, packages, documentation, typescript

fix(kpa): logout redirect, hub access for pharmacy_owner, test feedback link
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/Header.tsx
  services/web-kpa-society/src/pages/test-center/TestHubPage.tsx
  services/web-kpa-society/src/pages/test-center/TestMainPage.tsx
  services/web-kpa-society/src/pages/test-center/TestStorePage.tsx
Labels: typescript

fix(kpa): use valid UUID for pharmacy join request organizationId
  services/web-kpa-society/src/pages/pharmacy/PharmacyApprovalGatePage.tsx
Labels: typescript

feat(kpa): admin/operator role-based dashboard differentiation
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
Labels: typescript

chore: remove test center links from all service footers
  services/web-glycopharm/src/components/common/Footer.tsx
  services/web-k-cosmetics/src/components/common/Footer.tsx
  services/web-kpa-society/src/components/Footer.tsx
  services/web-neture/src/components/Footer.tsx
Labels: typescript

refactor(kpa): route admin/operator to /operator, remove legacy /hub
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/Header.tsx
Labels: typescript

fix: SPA navigation, forum admin permissions, and CI/CD build errors
  packages/admin-ux-core/src/blocks/GovernanceAlertBlock.tsx
  packages/admin-ux-core/src/blocks/PolicyOverviewBlock.tsx
  packages/operator-ux-core/src/blocks/ActionQueueBlock.tsx
  packages/operator-ux-core/src/blocks/AiSummaryBlock.tsx
  packages/operator-ux-core/src/blocks/QuickActionBlock.tsx
  services/web-glycopharm/src/pages/apply/PharmacyApplyPage.tsx
  services/web-k-cosmetics/Dockerfile
  services/web-kpa-society/src/components/common/DashboardSwitcher.tsx
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
  services/web-neture/src/pages/forum/ForumPostPage.tsx
Labels: packages, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
