Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

docs(smoke): platform accounts/services UI post-deploy — PARTIAL PASS (SMOKE-O4O-PLATFORM-ACCOUNTS-SERVICES-UI-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-ACCOUNTS-SERVICES-UI-POST-DEPLOY-V1.md
Labels: documentation

docs(check): Forum axis 3-service live smoke — PASS (CHECK-O4O-CROSSSERVICE-OPERATOR-FORUM-AXIS-LIVE-SMOKE-V1)
  docs/investigations/CHECK-O4O-CROSSSERVICE-OPERATOR-FORUM-AXIS-LIVE-SMOKE-V1.md
Labels: documentation

docs(smoke): record platform UI smoke commit hash (SMOKE-O4O-PLATFORM-ACCOUNTS-SERVICES-UI-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-ACCOUNTS-SERVICES-UI-POST-DEPLOY-V1.md
Labels: documentation

docs(investigation): KPA ProductionMaterialEditor shell adoption — PASS by investigation, defer (WO-O4O-KPA-PRODUCTION-MATERIAL-EDITOR-SHELL-ADOPTION-V1)
  docs/investigations/CHECK-O4O-KPA-PRODUCTION-MATERIAL-EDITOR-SHELL-ADOPTION-V1.md
Labels: documentation

feat(neture): role-based platform-admin entrypoint on admin dashboard (WO-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-V1)
  docs/investigations/CHECK-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-V1.md
  services/web-neture/src/lib/role-constants.ts
  services/web-neture/src/pages/admin/AdminDashboardPage.tsx
Labels: documentation, typescript

docs(check): record platform entrypoint commit hash (CHECK-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-V1)
  docs/investigations/CHECK-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-V1.md
Labels: documentation

docs(smoke): platform entrypoint post-deploy — PARTIAL PASS (SMOKE-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-POST-DEPLOY-V1.md
Labels: documentation

docs(smoke): record platform entrypoint smoke commit hash (SMOKE-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-ADMIN-ROLE-BASED-ENTRYPOINT-POST-DEPLOY-V1.md
Labels: documentation

docs(ir): platform-admin global users UI scope audit — recommend read-only list w/ PII projection (IR-O4O-PLATFORM-GLOBAL-USERS-UI-SCOPE-AUDIT-V1)
  docs/investigations/IR-O4O-PLATFORM-GLOBAL-USERS-UI-SCOPE-AUDIT-V1.md
Labels: documentation

docs(ir): responsive sidebar navigation standard audit (IR-O4O-RESPONSIVE-SIDEBAR-NAVIGATION-STANDARD-AUDIT-V1)
  docs/investigations/IR-O4O-RESPONSIVE-SIDEBAR-NAVIGATION-STANDARD-AUDIT-V1.md
Labels: documentation

docs(ir): standard table-list external benchmark — server-paginated list operating env (IR-O4O-STANDARD-TABLE-LIST-EXTERNAL-BENCHMARK-V1)
  docs/investigations/IR-O4O-STANDARD-TABLE-LIST-EXTERNAL-BENCHMARK-V1.md
Labels: documentation

fix(ui): responsive mobile drawer for store-hub & supplier sidebars (WO-O4O-RESPONSIVE-SIDEBAR-P0-BROKEN-MOBILE-DRAWER-FIX-V1)
  docs/investigations/CHECK-O4O-RESPONSIVE-SIDEBAR-P0-BROKEN-MOBILE-DRAWER-FIX-V1.md
  services/web-glycopharm/src/components/layouts/GlycoPharmHubLayout.tsx
  services/web-k-cosmetics/src/components/layouts/KCosmeticsHubLayout.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
Labels: documentation, typescript

feat(platform): global users read-only list with safe projection (WO-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-V1)
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/routes/admin/platform-users.routes.ts
  docs/investigations/CHECK-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/lib/api/platform.ts
  services/web-neture/src/pages/admin/platform/PlatformAdminLandingPage.tsx
  services/web-neture/src/pages/admin/platform/PlatformSectionLayout.tsx
  services/web-neture/src/pages/admin/platform/PlatformUsersPage.tsx
Labels: backend, documentation, typescript

docs: audit internal standard table list pagination and sorting (IR-O4O-STANDARD-TABLE-LIST-PAGINATION-SORTING-AUDIT-V1)
  docs/investigations/IR-O4O-STANDARD-TABLE-LIST-PAGINATION-SORTING-AUDIT-V1.md
Labels: documentation

feat(ui): standardize operator/admin common sidebar to lg(1024) breakpoint (WO-O4O-RESPONSIVE-SIDEBAR-OPERATOR-ADMIN-LG-STANDARDIZATION-V1)
  docs/investigations/CHECK-O4O-RESPONSIVE-SIDEBAR-OPERATOR-ADMIN-LG-STANDARDIZATION-V1.md
  packages/operator-ux-core/src/layout/OperatorAreaShell.tsx
  packages/operator-ux-core/src/sidebar/DomainIASidebar.tsx
Labels: packages, documentation, typescript

feat: add standard list query core (WO-O4O-STANDARD-LIST-CORE-V1)
  docs/checks/CHECK-O4O-STANDARD-LIST-CORE-V1.md
  packages/operator-ux-core/src/list/index.ts
  packages/operator-ux-core/src/list/standard/StandardListToolbar.tsx
  packages/operator-ux-core/src/list/standard/normalizePaginatedResponse.ts
  packages/operator-ux-core/src/list/standard/standard-types.ts
  packages/operator-ux-core/src/list/standard/useStandardListQuery.ts
Labels: packages, documentation, typescript

feat(glycopharm): operator Content submenu KPA parity — content hub + surveys, drop contact menu (WO-O4O-GLYCOPHARM-OPERATOR-CONTENT-SUBMENU-ALIGNMENT-V1)
  docs/investigations/CHECK-O4O-GLYCOPHARM-OPERATOR-CONTENT-SUBMENU-ALIGNMENT-V1.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/operator/OperatorContentHubPage.tsx
Labels: documentation, typescript

docs(smoke): platform global users read-only post-deploy — PARTIAL PASS (SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-POST-DEPLOY-V1.md
Labels: documentation

docs(ir): cross-service store home audit — canonical shell direction (IR-O4O-STORE-HOME-CROSSSERVICE-AUDIT-V1)
  docs/ir/IR-O4O-STORE-HOME-CROSSSERVICE-AUDIT-V1.md
Labels: documentation

fix(ui): GP/KCos admin layout flex sibling, drop lg:ml-64 margin (WO-O4O-GP-KCOS-ADMIN-DASHBOARD-LAYOUT-RESPONSIVE-CLEANUP-V1)
  docs/investigations/CHECK-O4O-GP-KCOS-ADMIN-DASHBOARD-LAYOUT-RESPONSIVE-CLEANUP-V1.md
  services/web-glycopharm/src/components/layouts/DashboardLayout.tsx
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
Labels: documentation, typescript

feat: adopt standard list core for operator stores (WO-O4O-OPERATOR-STORES-STANDARD-LIST-ADOPTION-V1)
  docs/checks/CHECK-O4O-OPERATOR-STORES-STANDARD-LIST-ADOPTION-V1.md
  packages/operator-core-ui/src/modules/stores/OperatorStoresList.tsx
Labels: packages, documentation, typescript

fix(platform): remove nonexistent user.company from platform-users search (WO-O4O-PLATFORM-USERS-SEARCH-COMPANY-FIELD-FIX-V1)
  apps/api-server/src/routes/admin/platform-users.routes.ts
  docs/investigations/CHECK-O4O-PLATFORM-USERS-SEARCH-COMPANY-FIELD-FIX-V1.md
Labels: backend, documentation, typescript

docs(check): GlycoPharm store home reference stabilization (WO-O4O-STORE-HOME-GLYCOPHARM-REFERENCE-STABILIZATION-V1)
  docs/checks/CHECK-O4O-STORE-HOME-GLYCOPHARM-REFERENCE-STABILIZATION-V1.md
Labels: documentation

docs(ir): store-content surface audit — 3-service store-hub content IA (IR-O4O-STORE-CONTENT-SURFACE-AUDIT-V1)
  docs/investigations/IR-O4O-STORE-CONTENT-SURFACE-AUDIT-V1.md
Labels: documentation

docs(smoke): cumulative responsive sidebar post-deploy smoke PASS (SMOKE-O4O-RESPONSIVE-SIDEBAR-CUMULATIVE-POST-DEPLOY-V1)
  docs/investigations/SMOKE-O4O-RESPONSIVE-SIDEBAR-CUMULATIVE-POST-DEPLOY-V1.md
Labels: documentation

feat: add controlled sort support to data table (WO-O4O-DATATABLE-ONSORT-CONTROLLED-SORT-V1)
  docs/checks/CHECK-O4O-DATATABLE-ONSORT-CONTROLLED-SORT-V1.md
  packages/operator-core-ui/src/modules/stores/OperatorStoresList.tsx
  packages/operator-ux-core/src/list/DataTable.tsx
  packages/operator-ux-core/src/list/types.ts
  packages/ui/src/components/table/BaseTable.tsx
  packages/ui/src/components/table/types.ts
Labels: packages, documentation, typescript

docs(smoke): platform users search FIX post-deploy — PASS (SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-SEARCH-FIX-V1)
  docs/investigations/SMOKE-O4O-PLATFORM-GLOBAL-USERS-READONLY-LIST-SEARCH-FIX-V1.md
Labels: documentation

feat(store-ui-core): canonical StoreHomeShell + GlycoPharm adopt (WO-O4O-STORE-HOME-CANONICAL-SHELL-V1)
  docs/checks/CHECK-O4O-STORE-HOME-CANONICAL-SHELL-V1.md
  packages/store-ui-core/src/components/StoreHomeShell.tsx
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/pages/store/StoreOverviewPage.tsx
Labels: packages, documentation, typescript

feat(kpa): align store-hub content library to GP/KCos canonical (WO-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1)
  docs/investigations/CHECK-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1.md
  services/web-kpa-society/src/pages/pharmacy/HubContentLibraryPage.tsx
Labels: documentation, typescript

docs(check): platform-admin surface Phase 1 closure — CLOSED/PASS (CHECK-O4O-PLATFORM-ADMIN-SURFACE-PHASE1-CLOSURE-V1)
  docs/investigations/CHECK-O4O-PLATFORM-ADMIN-SURFACE-PHASE1-CLOSURE-V1.md
Labels: documentation

fix(ui): standardize KPA admin sidebar to lg(1024) breakpoint (WO-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1.md
  services/web-kpa-society/src/components/admin/AdminLayout.tsx
  services/web-kpa-society/src/components/admin/AdminSidebar.tsx
Labels: documentation, typescript

docs(check): record kpa store-hub content deploy success + defer browser smoke (WO-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1)
  docs/investigations/CHECK-O4O-KPA-STOREHUB-CONTENT-CANONICAL-ALIGN-V1.md
Labels: documentation

docs(smoke): GlycoPharm store home canonical shell post-deploy — PASS (SMOKE-O4O-STORE-HOME-GLYCOPHARM-CANONICAL-SHELL-V1)
  docs/checks/CHECK-O4O-STORE-HOME-GLYCOPHARM-CANONICAL-SHELL-SMOKE-V1.md
Labels: documentation

docs(ir): platform Tier 1 menu migration decision (IR-O4O-PLATFORM-TIER1-MENU-MIGRATION-DECISION-V1)
  docs/investigations/IR-O4O-PLATFORM-TIER1-MENU-MIGRATION-DECISION-V1.md
Labels: documentation

docs(check): KPA admin sidebar lg — live browser smoke PASS (WO-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1)
  docs/investigations/CHECK-O4O-KPA-ADMIN-SIDEBAR-LG-STANDARDIZATION-V1.md
Labels: documentation

feat(k-cosmetics): adopt canonical StoreHomeShell on store home (WO-O4O-STORE-HOME-KCOSMETICS-ADOPT-V1)
  services/web-k-cosmetics/src/pages/operator/StoreCockpitPage.tsx
Labels: typescript

feat: adopt standard list core for operator members (WO-O4O-OPERATOR-MEMBERS-STANDARD-LIST-ADOPTION-V1)
  docs/checks/CHECK-O4O-OPERATOR-MEMBERS-STANDARD-LIST-ADOPTION-V1.md
  packages/operator-core-ui/src/modules/members/OperatorMembersConsolePage.tsx
  packages/operator-core-ui/src/modules/members/types.ts
  services/web-glycopharm/src/pages/operator/UsersPage.tsx
  services/web-k-cosmetics/src/pages/operator/UsersPage.tsx
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Labels: packages, documentation, typescript

feat(platform): Tier 1 crosslink cards on platform landing (WO-O4O-PLATFORM-TIER1-CROSSLINK-CARDS-V1)
  docs/investigations/CHECK-O4O-PLATFORM-TIER1-CROSSLINK-CARDS-V1.md
  services/web-neture/src/pages/admin/platform/PlatformAdminLandingPage.tsx
Labels: documentation, typescript

docs(check): K-Cosmetics store home StoreHomeShell adopt — PARTIAL (WO-O4O-STORE-HOME-KCOSMETICS-ADOPT-V1)
  docs/checks/CHECK-O4O-STORE-HOME-KCOSMETICS-ADOPT-V1.md
Labels: documentation

fix(ui): align StoreSidebar hierarchy tokens to responsive sidebar standard (WO-O4O-STORE-SIDEBAR-HIERARCHY-TOKEN-ALIGNMENT-V1)
  docs/investigations/CHECK-O4O-STORE-SIDEBAR-HIERARCHY-TOKEN-ALIGNMENT-V1.md
  packages/store-ui-core/src/components/StoreSidebar.tsx
Labels: packages, documentation, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
