Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix(api): Change console.log to console.warn in schema migration
  apps/api-server/src/utils/schema-migration.ts
Labels: backend, typescript

feat(menus): Complete Day 3 - Implement drag-and-drop and finalize menu editor
  apps/admin-dashboard/src/pages/menus/MenuEditor.tsx
  apps/admin-dashboard/src/pages/menus/Menus.tsx
  apps/admin-dashboard/src/pages/menus/README.md
  apps/admin-dashboard/src/pages/menus/WordPressMenuEditor.tsx
  apps/admin-dashboard/src/pages/menus/WordPressMenuList.tsx
  apps/admin-dashboard/src/pages/menus/components/menu-editor/AvailableItems.tsx
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemEditor.tsx
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuItemTree.tsx
  apps/admin-dashboard/src/pages/menus/components/menu-editor/MenuSettings.tsx
  apps/admin-dashboard/src/pages/menus/hooks/useMenuEditor.ts
  apps/admin-dashboard/src/pages/menus/hooks/useMenuOperations.ts
  apps/admin-dashboard/src/pages/menus/utils/menu-tree-helpers.ts
  apps/admin-dashboard/src/types/menu.types.ts
  package-lock.json
Labels: frontend, config, dependencies, typescript

feat(api): Implement AI Page Builder registry SSOT with version management
  apps/admin-dashboard/public/mockServiceWorker.js
  apps/api-server/src/main.ts
  apps/api-server/src/routes/ai-blocks.ts
  apps/api-server/src/services/block-registry.service.ts
  apps/api-server/src/services/shortcode-registry.service.ts
  apps/api-server/src/types/block.types.ts
  apps/api-server/src/types/shortcode.types.ts
Labels: frontend, backend, typescript, javascript

feat(admin): Implement server-first AI reference strategy with ETag caching
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
Labels: frontend, typescript

feat: Add JWT authentication and rate limiting to AI reference endpoints
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
  apps/api-server/src/routes/ai-blocks.ts
  apps/api-server/src/routes/ai-shortcodes.ts
Labels: frontend, backend, typescript

fix(admin): Remove console.log statements from reference-fetcher service
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
Labels: frontend, typescript

feat(api): Implement preview token protection with jti
  apps/api-server/src/routes/preview.ts
  apps/api-server/src/services/preview-token.service.ts
Labels: backend, typescript

feat: Implement server-side AI proxy with security and reliability
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/ai-proxy.ts
  apps/api-server/src/services/ai-proxy.service.ts
  apps/api-server/src/types/ai-proxy.types.ts
Labels: frontend, backend, typescript

feat(api): Restore Helmet security headers and strengthen CORS
  apps/api-server/src/main.ts
Labels: backend, typescript

feat: Complete Sprint 3 & Sprint 4 - Production Operations & Monitoring
  apps/api-server/config/alert_rules.yml
  apps/api-server/config/alertmanager.yml
  apps/api-server/config/grafana-dashboard.json
  apps/api-server/config/prometheus.yml
  apps/api-server/docs/OPERATIONS_GUIDE.md
  apps/api-server/docs/SPRINT4_SUMMARY.md
  apps/api-server/package.json
  apps/api-server/scripts/ai-admin-cli.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/ai-proxy.ts
  apps/api-server/src/routes/ai-schema.ts
  apps/api-server/src/routes/metrics.ts
  apps/api-server/src/schemas/ai-output.schema.ts
  apps/api-server/src/services/ai-dlq.service.ts
  apps/api-server/src/services/ai-job-queue.service.ts
  apps/api-server/src/services/ai-metrics.service.ts
  apps/api-server/src/services/ai-proxy.service.ts
  apps/api-server/src/services/ai-usage-report.service.ts
  apps/api-server/src/services/prometheus-metrics.service.ts
  apps/api-server/src/types/ai-job.types.ts
  apps/api-server/src/utils/telemetry.ts
  apps/api-server/src/workers/ai-job.worker.ts
  apps/api-server/version.json
Labels: backend, dependencies, typescript

fix: Add missing /api/v1/users/:id/permissions endpoint
  .github/workflows/main.yml
  AI-Page-Builder_Node-Research_2025-10-11.md
  apps/admin-dashboard/package.json
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/AIProgressPanel.tsx
  apps/admin-dashboard/src/components/AIValidationWarning.tsx
  apps/admin-dashboard/src/hooks/useAIJob.ts
  apps/admin-dashboard/src/utils/ai-validation.ts
  apps/api-server/src/controllers/v1/userRole.controller.ts
  apps/api-server/src/routes/v1/userRole.routes.ts
  pnpm-lock.yaml
Labels: frontend, backend, ci/cd, config, documentation, dependencies, typescript

fix: Remove console.log statements from production code
  apps/admin-dashboard/src/hooks/useAIJob.ts
  apps/admin-dashboard/src/utils/ai-validation.ts
Labels: frontend, typescript

gateway: add missing v1 user permission routes to fix 404 for /api/v1/users/:id/permissions and related endpoints
  apps/api-gateway/src/config/gateway.config.ts
Labels: typescript

fix: Add missing /users/:id/permissions endpoint for user permission queries
  apps/api-server/src/controllers/v1/userRole.controller.ts
  apps/api-server/src/routes/v1/userRole.routes.ts
Labels: backend, typescript

fix: Change getUserPermissions API response format to match frontend expectations
  apps/api-server/src/controllers/v1/userRole.controller.ts
Labels: backend, typescript

feat: Enable auto-deploy for API server on push to main
  .github/workflows/deploy-api.yml
Labels: ci/cd

fix: Allow requests without Origin header for nginx proxy
  apps/api-server/src/main.ts
Labels: backend, typescript

fix: Add authentication header to user permissions API call
  apps/admin-dashboard/src/hooks/useAdminMenu.ts
Labels: frontend, typescript

fix: Align menu permission keys with API server format
  apps/admin-dashboard/src/config/rolePermissions.ts
Labels: frontend, typescript

fix: Replace all non-existent permission keys with valid API permissions
  apps/admin-dashboard/src/config/rolePermissions.ts
Labels: frontend, typescript

feat(api): Phase 1 - Implement database-based role and permission system
  apps/api-server/package.json
  apps/api-server/scripts/seed-roles-permissions.ts
  apps/api-server/src/controllers/v1/userRole.controller.ts
  apps/api-server/src/database/migrations/1810000000000-CreateRolePermissionTables.ts
  apps/api-server/src/entities/Permission.ts
  apps/api-server/src/entities/Role.ts
  apps/api-server/src/entities/User.ts
Labels: backend, dependencies, typescript

fix(api): Add Role and Permission entities to data source configuration
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

fix(api): Fix critical authentication and menu routing issues
  apps/api-server/src/controllers/menu/MenuController.ts
  apps/api-server/src/middleware/auth.ts
  apps/api-server/src/routes/analytics.ts
  apps/api-server/src/routes/auth-v2.ts
  apps/api-server/src/routes/autoRecovery.ts
  apps/api-server/src/routes/inventory.ts
  apps/api-server/src/routes/social-auth.ts
Labels: backend, typescript

fix(api): Increase rate limit for user permissions endpoint
  apps/api-server/src/main.ts
Labels: backend, typescript

fix(api): Load dbRoles and permissions in authenticate middleware to fix infinite loop
  apps/api-server/src/middleware/auth.middleware.ts
Labels: backend, typescript

fix(api): Add authenticate middleware to userRole routes to fix 401 errors
  apps/api-server/src/routes/v1/userRole.routes.ts
Labels: backend, typescript

fix(api): Preserve User class methods when attaching to req.user
  apps/api-server/src/middleware/auth.middleware.ts
Labels: backend, typescript

fix(api): Grant all permissions to admin users automatically
  apps/api-server/src/entities/User.ts
Labels: backend, typescript

fix(admin): Fix post preview and add category/tag permissions for admin users
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/pages/media/MediaListWordPress.tsx
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
  apps/api-server/src/entities/User.ts
Labels: frontend, backend, typescript

fix(admin): Add safety checks for blog styling in CSS generator
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/css-generator.ts
Labels: frontend, typescript

fix(api,admin): Show author email/name instead of 'Unknown' or object
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/posts/PostRow.tsx
  apps/api-server/src/controllers/content/MediaController.ts
Labels: frontend, backend, typescript

fix(api): Fix user statistics endpoint routing order
  apps/admin-dashboard/src/pages/users/UserForm.tsx
  apps/api-server/src/routes/v1/users.routes.ts
Labels: frontend, backend, typescript

feat(admin): Replace hardcoded user roles with database-driven roles
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/users/UserForm.tsx
Labels: frontend, typescript

fix(api,admin): Add Form entities and fix array/null safety issues
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/cpt-engine/field-groups/FieldGroupsList.tsx
  apps/admin-dashboard/src/pages/monitoring/PerformanceDashboard.tsx
  apps/admin-dashboard/src/pages/settings/PrivacySettings.tsx
  apps/admin-dashboard/src/pages/users/UserForm.tsx
  apps/api-server/src/database/connection.ts
Labels: frontend, backend, typescript

fix(admin): Add array safety checks in RoleManagement
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/users/RoleManagement.tsx
Labels: frontend, typescript

refactor(api): Migrate middleware and services to database role system
  apps/api-server/scripts/migrate-user-roles.ts
  apps/api-server/src/middleware/admin.ts
  apps/api-server/src/middleware/adminOnly.ts
  apps/api-server/src/middleware/checkRole.ts
  apps/api-server/src/middleware/dropshipping-auth.ts
  apps/api-server/src/services/signageService.ts
Labels: backend, typescript

feat(api): Implement role switching system for multi-role users
  apps/api-server/docs/ROLE_SYSTEM_INVESTIGATION_REPORT.md
  apps/api-server/src/controllers/v1/userRoleSwitch.controller.ts
  apps/api-server/src/entities/User.ts
  apps/api-server/src/migrations/1749876543210-AddActiveRoleToUsers.ts
  apps/api-server/src/routes/auth.ts
  apps/api-server/src/routes/v1/userRoleSwitch.routes.ts
  apps/api-server/src/routes/v1/users.routes.ts
Labels: backend, typescript

feat(config): Add base path configuration for subdirectory deployment
  apps/crowdfunding/vite.config.ts
  apps/digital-signage/vite.config.ts
  apps/ecommerce/vite.config.ts
  apps/forum/vite.config.ts
Labels: typescript

feat(api): Add app-specific menu locations
  apps/api-server/src/database/migrations/1820000000000-AddAppMenuLocations.ts
Labels: backend, typescript

feat(admin): Add new menu location types
  apps/admin-dashboard/src/types/menu.types.ts
Labels: frontend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
