Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

docs: CHECK-O4O-KCOSMETICS-STORE-ASSET-DERIVATION-VIEWER-ADOPT-V1 — kcos adopt 검증 PASS
  docs/investigations/CHECK-O4O-KCOSMETICS-STORE-ASSET-DERIVATION-VIEWER-ADOPT-V1.md
Labels: documentation

docs: IR-O4O-STORE-PRODUCTION-MATERIALS-RESULTKIND-MULTISOURCE-COMMONIZATION-V1 — 다중소스 통합목록 공통화 설계
  docs/investigations/IR-O4O-STORE-PRODUCTION-MATERIALS-RESULTKIND-MULTISOURCE-COMMONIZATION-V1.md
Labels: documentation

feat(product): active ProductMaster.drug_category 도입 (F1)
  apps/api-server/src/database/migrations/20260606030000-AddDrugCategoryToProductMasters.ts
  apps/api-server/src/modules/neture/entities/ProductMaster.entity.ts
  apps/api-server/src/modules/neture/services/catalog.service.ts
  apps/api-server/src/modules/neture/utils/product-type.util.ts
  docs/investigations/CHECK-O4O-PRODUCT-DRUG-CATEGORY-ACTIVE-MODEL-F1-V1.md
Labels: backend, documentation, typescript

feat(neture): WO-OFFLINE-PAYMENT-LEDGER-V1 — 운영자 오프라인 송금 내역 관리 1차
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  docs/investigations/CHECK-O4O-NETURE-DISTRIBUTION-FUNDING-OFFLINE-PAYMENT-LEDGER-V1.md
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Labels: backend, documentation, typescript

feat(neture): WO-STORE-LANDING-TRACKING-V1 — 매장 랜딩 추적 1차 (운영자 가시성)
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  docs/investigations/CHECK-O4O-NETURE-DISTRIBUTION-FUNDING-STORE-LANDING-TRACKING-V1.md
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Labels: backend, documentation, typescript

feat(product): 상품 분류(productTypeClass) 응답·운영자 UI wiring (F3)
  apps/api-server/src/modules/neture/controllers/product-candidate.controller.ts
  apps/api-server/src/modules/neture/services/product-candidate.service.ts
  docs/investigations/CHECK-O4O-PRODUCT-TYPE-CLASSIFICATION-WIRING-F3-V1.md
  services/web-neture/src/lib/api/operatorProductCandidates.ts
  services/web-neture/src/pages/operator/ProductCandidateReviewPage.tsx
Labels: backend, documentation, typescript

docs+feat(neture): 참여자 정산 선택권 우선 원칙 SSOT 고정 + G6 안내 정렬
  docs/baseline/O4O-DISTRIBUTION-FUNDING-INITIAL-OPERATION-MODEL-V1.md
  docs/investigations/CHECK-O4O-NETURE-DISTRIBUTION-FUNDING-STORE-LANDING-TRACKING-V1.md
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
Labels: documentation, typescript

feat(product): 운영자 ProductMaster drug_category refine UX (F4)
  apps/api-server/src/modules/neture/controllers/product-candidate.controller.ts
  apps/api-server/src/modules/neture/services/product-candidate.service.ts
  docs/investigations/CHECK-O4O-OPERATOR-PRODUCT-DRUG-CATEGORY-REFINE-UX-F4-V1.md
  services/web-neture/src/lib/api/operatorProductCandidates.ts
  services/web-neture/src/pages/operator/ProductCandidateReviewPage.tsx
Labels: backend, documentation, typescript

fix(event-offer): enable Glyco and K-Cos store ordering
  docs/investigations/CHECK-O4O-EVENT-OFFER-GLYCO-KCOS-STORE-ORDER-ENABLE-V1.md
  services/web-glycopharm/src/api/eventOffer.ts
  services/web-glycopharm/src/pages/hub/HubEventOffersPage.tsx
  services/web-k-cosmetics/src/api/eventOffer.ts
  services/web-k-cosmetics/src/pages/hub/HubEventOffersPage.tsx
Labels: documentation, typescript

docs(event-offer): add current-state audit IR + confirm independent-page exposure
  docs/baseline/EVENT-OFFER-STORE-INTEGRATION-V1.md
  docs/investigations/CHECK-O4O-EVENT-OFFER-GLYCO-KCOS-STORE-ORDER-ENABLE-V1.md
  docs/investigations/IR-O4O-EVENT-OFFER-CURRENT-STATE-AUDIT-V1.md
Labels: documentation

feat(neture): WO-OPERATOR-PREAPPROVAL-CHECKLIST-V1 — 운영자 사전 승인 체크리스트 1차
  docs/investigations/CHECK-O4O-NETURE-DISTRIBUTION-FUNDING-OPERATOR-PREAPPROVAL-CHECKLIST-V1.md
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialCreatePage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
Labels: documentation, typescript

feat(product): Drug Extension 영속 계층 도입 (persistence foundation)
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260606040000-CreateProductDrugExtensions.ts
  apps/api-server/src/modules/neture/entities/ProductDrugExtension.entity.ts
  apps/api-server/src/modules/neture/entities/ProductMaster.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/services/product-candidate.service.ts
  apps/api-server/src/modules/neture/services/product-drug-extension.service.ts
  docs/investigations/CHECK-O4O-PRODUCT-DRUG-EXTENSION-PERSISTENCE-V1.md
  services/web-neture/src/lib/api/operatorProductCandidates.ts
  services/web-neture/src/pages/operator/ProductCandidateReviewPage.tsx
Labels: backend, documentation, typescript

chore: 잔여 untracked 파일 정리 커밋 (IR 문서 + smoke 아티팩트 + vite config 산출물)
  docs/investigations/IR-O4O-NETURE-OPERATOR-AUTH-SMOKE-BLOCKER-AUDIT-V1.md
  kpa-deriv-modal-390.png
  kpa-derivation-viewer-mobile-390.png
  services/web-kpa-society/vite.config.d.ts
  services/web-kpa-society/vite.config.js
  smoke-market-trial-guide-mobile.png
Labels: documentation, typescript, javascript

chore: smoke 스크린샷 PNG 3개 제거 (c259dc820 에서 잘못 포함)
  kpa-deriv-modal-390.png
  kpa-derivation-viewer-mobile-390.png
  smoke-market-trial-guide-mobile.png
Labels: none

chore: vite.config 생성물 제거 + gitignore (web-kpa-society)
  .gitignore
  services/web-kpa-society/vite.config.d.ts
  services/web-kpa-society/vite.config.js
Labels: typescript, javascript

fix(neture): 유통참여형 펀딩 운영자/공급자 화면 잔여 표시 용어 정리
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
  services/web-neture/src/pages/operator/MarketTrialApprovalsPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
Labels: typescript

feat(neture-supplier): 제품 등록 IA 1차 정비 (유형-우선 + 메뉴 재구성)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-REGISTRATION-IA-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/lib/supplierProductTypes.ts
  services/web-neture/src/pages/supplier/SupplierBulkRegisterPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
  services/web-neture/src/pages/supplier/SupplierProductRegisterEntryPage.tsx
  services/web-neture/src/pages/supplier/SupplierSupplyOffersPage.tsx
Labels: documentation, typescript

docs(neture): 유통참여형 펀딩 통합 live smoke CHECK (CONDITIONAL PASS)
  docs/investigations/CHECK-O4O-NETURE-DISTRIBUTION-FUNDING-INITIAL-OPERATION-LIVE-SMOKE-V1.md
Labels: documentation

feat(neture-supplier): 제품 등록 wizard 유형별 UX 분기 (WIZARD-V2)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-REGISTRATION-WIZARD-V2.md
  services/web-neture/src/pages/supplier/SupplierProductCreatePage.tsx
Labels: documentation, typescript

feat(neture-supplier): 제품 목록 후속 활용 액션 분기 (OFFER-MODE-SELECTION-V1)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-OFFER-MODE-SELECTION-V1.md
  services/web-neture/src/lib/supplierProductTypes.ts
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: documentation, typescript

fix(neture): 참여자 CSV export 500 수정 — 한글 제목 Content-Disposition 헤더
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
Labels: backend, typescript

feat(neture-supplier): 제품→이벤트/펀딩 생성 진입 prefill 연결 (WORKSPACE-PREFILL-V1)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-EVENT-FUNDING-WORKSPACE-PREFILL-V1.md
  services/web-neture/src/components/supplier/SelectedSupplierProductBanner.tsx
  services/web-neture/src/lib/supplierProductTypes.ts
  services/web-neture/src/pages/supplier/SupplierEventOfferPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialCreatePage.tsx
Labels: documentation, typescript

docs(neture): 유통참여형 펀딩 smoke 데이터 운영 루프 CHECK (CONDITIONAL PASS)
  docs/investigations/CHECK-O4O-NETURE-DISTRIBUTION-FUNDING-SMOKE-DATA-FLOW-V1.md
Labels: documentation

docs(neture): smoke 데이터 운영 루프 CHECK → PASS (CSV export 배포 후 재확인 완료)
  docs/investigations/CHECK-O4O-NETURE-DISTRIBUTION-FUNDING-SMOKE-DATA-FLOW-V1.md
Labels: documentation

feat(neture-supplier): 제품 목록 drugCategory 노출 (DRUGCATEGORY-EXPOSURE-V1)
  apps/api-server/src/modules/neture/services/offer.service.ts
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-PRODUCT-LIST-DRUGCATEGORY-EXPOSURE-V1.md
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/supplierProductTypes.ts
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: backend, documentation, typescript

feat(neture): 사업자 관점 Guide 진입 페이지 추가 (O4O 개요 · 운영자 가이드)
  packages/shared-space-ui/src/guide/copy/neture.ts
  packages/shared-space-ui/src/guide/index.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/guide/GuideForOperatorPage.tsx
  services/web-neture/src/pages/guide/GuideHomePage.tsx
  services/web-neture/src/pages/guide/GuideO4OOverviewPage.tsx
  services/web-neture/src/pages/guide/index.ts
Labels: packages, typescript

feat(neture-supplier): 이벤트 오퍼 선택 상품 바인딩 (BINDING-V2, 펀딩은 IR 분리)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-EVENT-FUNDING-WORKSPACE-BINDING-V2.md
  services/web-neture/src/pages/supplier/SupplierEventOfferPage.tsx
Labels: documentation, typescript

docs: IR 유통참여형 펀딩 상품 참조 설계 (MARKET-TRIAL-PRODUCT-REFERENCE-DESIGN-V1)
  docs/investigations/IR-O4O-NETURE-MARKET-TRIAL-PRODUCT-REFERENCE-DESIGN-V1.md
Labels: documentation

feat(neture): 판매자(매장) 활용 가이드 추가 (내 매장 활용 가이드)
  packages/shared-space-ui/src/guide/copy/neture.ts
  packages/shared-space-ui/src/guide/index.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/pages/guide/GuideForSellerPage.tsx
  services/web-neture/src/pages/guide/GuideHomePage.tsx
  services/web-neture/src/pages/guide/index.ts
Labels: packages, typescript

feat(neture-market-trial): 펀딩 ProductMaster 참조 저장 (SUPPLIER-PRODUCT-REFERENCE-V1)
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  docs/investigations/CHECK-O4O-NETURE-MARKET-TRIAL-SUPPLIER-PRODUCT-REFERENCE-V1.md
  packages/market-trial/src/entities/MarketTrial.entity.ts
  packages/market-trial/src/services/MarketTrialService.ts
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/supplier/SupplierTrialCreatePage.tsx
Labels: backend, packages, documentation, typescript

docs(neture): audit guide IA for business actor lanes
  docs/investigations/IR-O4O-NETURE-GUIDE-IA-AUDIT-V1.md
Labels: documentation

feat(neture-supplier): 유형별 대량 등록 CSV 템플릿 (BULK-UPLOAD-TEMPLATE-V1)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-BULK-UPLOAD-TEMPLATE-V1.md
  services/web-neture/src/lib/supplierProductTypes.ts
  services/web-neture/src/pages/supplier/SupplierBulkRegisterPage.tsx
Labels: documentation, typescript

feat(neture): enrich operator and overview guide content
  packages/shared-space-ui/src/guide/copy/neture.ts
Labels: packages, typescript

docs(operator): cross-service operator UX recheck IR (RECHECK-V1)
  docs/investigations/IR-O4O-OPERATOR-UX-CROSSSERVICE-RECHECK-V1.md
Labels: documentation

docs: IR Neture 공급자 workspace 전면 감사 (SUPPLIER-WORKSPACE-FULL-AUDIT-V1)
  docs/investigations/IR-O4O-NETURE-SUPPLIER-WORKSPACE-FULL-AUDIT-V1.md
Labels: documentation

docs(operator): order/settlement surface audit IR (P0)
  docs/investigations/IR-O4O-OPERATOR-ORDER-SETTLEMENT-SURFACE-AUDIT-V1.md
Labels: documentation

feat(neture-supplier): 제품 관리 메뉴/등록 도우미 IA 정비 (MENU-ASSISTANT-IA-CLEANUP-V1)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-MENU-ASSISTANT-IA-CLEANUP-V1.md
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Labels: documentation, typescript

docs(neture): audit service-operator placement in guide IA
  docs/investigations/IR-O4O-NETURE-GUIDE-SERVICE-OPERATOR-PLACEMENT-AUDIT-V1.md
Labels: documentation

feat(neture-market-trial): 펀딩 연결 제품 표시 (PRODUCT-REFERENCE-DISPLAY-V2)
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  docs/investigations/CHECK-O4O-NETURE-MARKET-TRIAL-PRODUCT-REFERENCE-DISPLAY-V2.md
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialListPage.tsx
Labels: backend, documentation, typescript

feat(neture): add service operator discovery content
  packages/shared-space-ui/src/guide/copy/neture.ts
Labels: packages, typescript
