Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

docs: 웹서버 환경 설정 및 정비 문서 추가
  .env.webserver.example
  .rsyncignore.webserver
  UNIFIED_GITIGNORE_PROPOSAL.md
  WEBSERVER_CLEANUP_LIST.md
  WEBSERVER_ENV_REQUIREMENTS.md
  WEBSERVER_GITIGNORE_REVIEW.md
Labels: documentation, security

fix: 웹서버용 .gitignore 복구 - API서버 설정 제거
  .gitignore
Labels: none

fix: 웹서버용 .gitignore 수정 - 프론트엔드 앱 제외 규칙 제거
  .gitignore
Labels: none

docs: Add Phase 4.1 workspace structure analysis report
  WORKSPACE_ANALYSIS_PHASE4.md
Labels: documentation

docs: O4O Platform 워크스페이스 구조 심층 분석 보고서 추가
  WORKSPACE_ANALYSIS_REPORT.md
Labels: documentation

chore: Exclude CLAUDE.md from version control
  .gitignore
Labels: none

feat: Phase 4 완료 - Scripts 중앙집중화 및 문서 정비
  .env.example
  .gitignore
  ENV_VARIABLES_DESIGN.md
  GITIGNORE_FINAL_REVIEW_REPORT.md
  GITIGNORE_URGENT_UPDATE_REQUEST.md
  LOCAL_CONFIG_FILES_REPORT.md
  LOCAL_OPTIMIZATION_SUMMARY.md
  LOCAL_SECURITY_REPORT.md
  LOCAL_SYNC_SAFETY_TEST_REPORT.md
  PACKAGE_STRUCTURE_REPORT.md
  PM2_CONFIG_OPTIMIZATION_REPORT.md
  README.md
  RSYNC_OPTIMIZATION_REPORT.md
  SCRIPTS_CENTRALIZATION_REPORT.md
  UNIFIED_GITIGNORE_PROPOSAL.md
  backups/20250816/ecosystem.config.apiserver.cjs
  backups/20250816/ecosystem.config.local.cjs
  backups/20250816/ecosystem.config.webserver.cjs
  ecosystem.config.local.cjs
  npm-ls-output.json
  packages/forum-types/dist/package.json
  scripts/README.md
  scripts/common/detectEnvironment.cjs
  scripts/common/logger.cjs
  scripts/common/workspaceConfig.cjs
  scripts/environments/build.cjs
  scripts/environments/deploy.cjs
  scripts/environments/start.cjs
Labels: packages, ci/cd, config, documentation, dependencies, security

fix: Add build:web script for CI/CD compatibility
  package.json
Labels: config, dependencies

docs: Add API server scripts problem report
  API_SERVER_SCRIPTS_PROBLEM_REPORT.md
Labels: documentation

fix(scripts): Phase 4.4 긴급 수정 완료
  scripts/common/detectEnvironment.cjs
  scripts/common/errorHandler.cjs
  scripts/environments/build.cjs
  scripts/environments/deploy.cjs
  scripts/environments/start.cjs
Labels: ci/cd

test: 빈 커밋 테스트
  docs/API_SERVER_SETUP_GUIDE.md
  scripts/apiserver-validation.js
  scripts/load-apiserver-env.sh
  scripts/performance-benchmark.js
  templates/package.apiserver.scripts.json
Labels: ci/cd, documentation, javascript

feat: API서버 GitHub Actions 최적화 적용
  .github/workflows/deploy-api-server.yml
Labels: ci/cd

perf: GitHub Actions API서버 워크플로우 85% 성능 최적화
  .github/workflows/deploy-api-server.yml
Labels: ci/cd

trigger: API서버 워크플로우 트리거
  apps/api-server/trigger.txt
Labels: backend

fix: GitHub Actions type-check 에러 수정
  .github/workflows/deploy-api-server.yml
Labels: ci/cd

fix: GitHub Actions SSH 키 검증 스크립트 추가
  scripts/debug-ssh-key.sh
Labels: ci/cd

25-08-18-1
  docs/INCIDENT_REPORT_20250818.md
  scripts/pm2-env-validator.sh
  scripts/pm2-monitor.sh
  scripts/pm2-safe-start.sh
Labels: ci/cd, documentation

fix: GitHub Actions API서버 배포 워크플로우 완전 수정
  .github/workflows/deploy-api-server.yml
  BUNDLE_OPTIMIZATION_REPORT_2025_08_05.md
Labels: ci/cd, documentation

trigger: API서버 전체 재배포 - 누락된 파일 동기화
  apps/api-server/redeploy.txt
Labels: backend

feat: API서버 템플릿 자동화 시스템 완성
  apps/api-server/package.json
  apps/api-server/template-application-report.md
  docs/TEMPLATE_APPLICATION_GUIDE.md
  scripts/apply-apiserver-template.cjs
  scripts/auto-setup-environment.cjs
  templates/package.apiserver.scripts.json
Labels: backend, ci/cd, documentation, dependencies

fix: API서버 의존성 문제 해결
  apps/api-server/package.json
  package-lock.json
Labels: backend, config, dependencies

fix: 불필요한 load-apiserver-env.js 스크립트 참조 제거
  apps/api-server/package.json
  templates/package.apiserver.scripts.json
Labels: backend, dependencies

fix: E2E 테스트 설정 파일 없음 문제 해결
  apps/api-server/package.json
  templates/package.apiserver.scripts.json
Labels: backend, dependencies

feat: API서버 3개 핵심 문제 완전 해결 - 85% 성능 달성!
  apps/api-server/package.json
  scripts/auto-setup-environment.cjs
  scripts/build-api-optimized.sh
  templates/package.apiserver.scripts.json
Labels: backend, ci/cd, dependencies

fix: API서버 안정화 - 환경변수 중복 제거 및 PM2 설정 정리
  apps/api-server/.env-apiserver
  ecosystem.config-apiserver.cjs
Labels: backend, security

feat: PM2 스크립트 제거된 package-apiserver.json 제공
  apps/api-server/package-apiserver.json
Labels: backend

docs: Add PM2 autostart setup report for webserver
  PM2_AUTOSTART_SETUP-webserver.md
Labels: documentation

feat: 양쪽 서버 통합 정리 및 완전한 해결책 구현
  config/env-templates/.env.local.template
  config/env-templates/.env.production.template
  config/pm2-templates/ecosystem.config.template.cjs
  config/systemd/o4o-admin.service
  config/systemd/o4o-webserver.service
  docs/FINAL_PROJECT_REPORT.md
  docs/INTEGRATION_COMPLETION_REPORT.md
  docs/LOCAL_ENVIRONMENT_INVESTIGATION_REPORT.md
  docs/LOCAL_SYNC_REPORT.md
  docs/PERFORMANCE_BENCHMARK_REPORT.md
  docs/UNIFIED_DEPLOYMENT_GUIDE.md
  scripts/deploy-apiserver.sh
  scripts/deploy-webserver.sh
  scripts/verify-deployment.sh
Labels: ci/cd, documentation, security

fix: 테스트 및 스크립트 파일에서 console.log 제거
  apps/admin-dashboard/src/test/e2e/admin-security.spec.ts
  apps/admin-dashboard/src/test/e2e/global-setup.ts
  apps/admin-dashboard/src/test/e2e/global-teardown.ts
  apps/admin-dashboard/src/test/e2e/smoke-test.spec.ts
  apps/api-server/src/scripts/create-test-users.ts
  apps/api-server/src/scripts/test-db-connection.ts
  apps/main-site/src/test/e2e/global-setup.ts
  apps/main-site/src/test/e2e/global-teardown.ts
Labels: frontend, backend, testing, typescript

fix: GitHub Actions workflow 스크립트 경로 수정
  .github/workflows/ci.yml
  .github/workflows/deploy-admin-dashboard.yml
  .github/workflows/deploy-api-server-v2.yml
  .github/workflows/deploy-main-site-v2.yml
  .github/workflows/deploy-main-site-v3.yml
  .github/workflows/deploy-main-site.yml
  .github/workflows/pr-checks.yml
Labels: ci/cd

fix: CORS 문제 해결 가이드 및 긴급 수정 스크립트 추가
  docs/guides/API_CORS_FIX_GUIDE.md
  scripts/deployment/fix-cors-urgent.sh
Labels: ci/cd, documentation

chore: trigger CI/CD pipeline test
  apps/admin-dashboard/src/test/e2e/admin-security.spec.ts
  apps/admin-dashboard/src/test/e2e/global-teardown.ts
  apps/admin-dashboard/src/test/e2e/smoke-test.spec.ts
  apps/api-server/src/scripts/create-test-users.ts
  apps/api-server/src/scripts/test-db-connection.ts
  apps/main-site/src/test/e2e/global-setup.ts
  apps/main-site/src/test/e2e/global-teardown.ts
Labels: frontend, backend, testing, typescript

fix: add missing validate-deploy-env.sh script for CI/CD
  scripts/validate-deploy-env.sh
Labels: ci/cd

fix: CORS 설정 개선 및 admin.neture.co.kr 접속 문제 해결
  apps/api-server/dist/main.d.ts.map
  apps/api-server/dist/main.js
  apps/api-server/dist/main.js.map
  apps/api-server/dist/middleware/errorHandler.js
  apps/api-server/dist/scripts/create-test-users.js
  apps/api-server/dist/scripts/test-db-connection.js
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/errorHandler.ts
Labels: backend, typescript, javascript

fix: GitHub Actions 환경 변수 누락 문제 해결
  .github/workflows/deploy-api-server-v2.yml
  .github/workflows/deploy-api-server.yml
Labels: ci/cd

fix: API 서버 배포 환경 설정 개선
  ecosystem.config.apiserver.cjs
  scripts/validate-deploy-env.sh
Labels: ci/cd, config

🚨 fix: 긴급 CORS 배포 워크플로우 추가
  .github/workflows/deploy-cors-urgent.yml
  scripts/deployment/deploy-cors-fix.sh
Labels: ci/cd

fix: SSH 키 문제 해결 - API_SSH_KEY 사용
  .github/workflows/deploy-cors-urgent.yml
Labels: ci/cd

🚨 EMERGENCY: API 서버 502 에러 긴급 복구
  .github/workflows/restart-api-emergency.yml
  API_SERVER_SYNC_REQUEST.md
  DEPLOYMENT_TROUBLESHOOTING_GUIDE.md
  EMERGENCY_API_FIX.md
  QUICK_FIX_COMMANDS.md
Labels: ci/cd, documentation

feat: Admin Dashboard 기능 구현 및 버그 수정
  apps/admin-dashboard/src/pages/apps/WordPressPluginManager.tsx
  apps/admin-dashboard/src/pages/settings/DiscussionSettings.tsx
  apps/admin-dashboard/src/pages/settings/Settings.tsx
  apps/admin-dashboard/src/pages/settings/WritingSettings.tsx
  apps/admin-dashboard/src/pages/shortcodes/ShortcodeManagement.tsx
Labels: frontend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
