Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(content-editor): WO-O4O-STANDARD-EDITOR-TEMPLATE-PURPOSE-CATEGORY-V1 Phase 2 — 860px 고정 layout node
  packages/content-editor/src/builtinTemplates.ts
  packages/content-editor/src/components/RichTextEditor.tsx
  packages/content-editor/src/extensions/productDetailLayout.ts
Labels: packages, typescript

docs(check): CHECK-O4O-STANDARD-EDITOR-TEMPLATE-PURPOSE-CATEGORY-V1 — Phase 1+2 PASS
  docs/investigations/CHECK-O4O-STANDARD-EDITOR-TEMPLATE-PURPOSE-CATEGORY-V1.md
Labels: documentation

feat(content-editor): WO-O4O-STANDARD-EDITOR-IMAGE-DISPLAY-WIDTH-V1 — 이미지 표시 폭/정렬
  packages/content-editor/src/components/ContentRenderer.tsx
  packages/content-editor/src/components/ImageInsertModal.tsx
  packages/content-editor/src/components/RichTextEditor.tsx
  packages/content-editor/src/components/Toolbar.tsx
  packages/content-editor/src/extensions/displayImage.ts
Labels: packages, typescript

fix(dev): remove machine-specific Windows wrappers
  QUICK-START.md
  README-LOCAL-DEV.md
  node.cmd
  pnpm.cmd
Labels: documentation

docs(check): CHECK-O4O-STANDARD-EDITOR-IMAGE-DISPLAY-WIDTH-V1 — impl/build/deploy done, live regression pending
  docs/investigations/CHECK-O4O-STANDARD-EDITOR-IMAGE-DISPLAY-WIDTH-V1.md
Labels: documentation

docs(agents): streamline autonomous task execution
  AGENTS.md
Labels: documentation

fix(content-editor): image bubble menu only on edit tab — HTML/preview 탭 insertBefore 크래시 수정
  packages/content-editor/src/components/RichTextEditor.tsx
Labels: packages, typescript

fix(content-editor): image bubble menu — always-mounted + shouldShow(activeTab) + blur on tab leave
  packages/content-editor/src/components/RichTextEditor.tsx
Labels: packages, typescript

fix(content-editor): collapse image NodeSelection on tab leave (bubble menu crash)
  packages/content-editor/src/components/RichTextEditor.tsx
Labels: packages, typescript

fix(content-editor): replace tippy BubbleMenu with React-controlled image toolbar
  packages/content-editor/src/components/RichTextEditor.tsx
Labels: packages, typescript

docs(check): CHECK-O4O-STANDARD-EDITOR-IMAGE-DISPLAY-WIDTH-V1 — live regression PASS 14/15 + tippy crash fix
  docs/investigations/CHECK-O4O-STANDARD-EDITOR-IMAGE-DISPLAY-WIDTH-V1.md
Labels: documentation

docs(ir): IR-O4O-NETURE-PRODUCT-DRAWER-B2C-DESCRIPTION-SAVE-PERSISTENCE-AUDIT-V1 — no defect
  docs/investigations/CHECK-O4O-STANDARD-EDITOR-IMAGE-DISPLAY-WIDTH-V1.md
  docs/investigations/IR-O4O-NETURE-PRODUCT-DRAWER-B2C-DESCRIPTION-SAVE-PERSISTENCE-AUDIT-V1.md
Labels: documentation

docs(ir): IR-O4O-NETURE-PRIVATE-OFFER-SELLER-IDS-CREATE-UPDATE-INVARIANT-AUDIT-V1 — real defect
  docs/investigations/IR-O4O-NETURE-PRIVATE-OFFER-SELLER-IDS-CREATE-UPDATE-INVARIANT-AUDIT-V1.md
Labels: documentation

docs(ir): IR-O4O-GOVERNMENT-PRODUCT-DATA-ON-DEMAND-SUPPLIER-AUDIT-V1 — read-only audit
  docs/investigations/IR-O4O-GOVERNMENT-PRODUCT-DATA-ON-DEMAND-SUPPLIER-AUDIT-V1.md
Labels: documentation

docs(ir): government product data audit DETAIL (evidence base)
  docs/investigations/IR-O4O-GOVERNMENT-PRODUCT-DATA-ON-DEMAND-SUPPLIER-AUDIT-V1-DETAIL.md
  docs/investigations/IR-O4O-GOVERNMENT-PRODUCT-DATA-ON-DEMAND-SUPPLIER-AUDIT-V1.md
Labels: documentation

docs(ir): linkify file:line refs in government product data audit (DETAIL+main)
  docs/investigations/IR-O4O-GOVERNMENT-PRODUCT-DATA-ON-DEMAND-SUPPLIER-AUDIT-V1-DETAIL.md
  docs/investigations/IR-O4O-GOVERNMENT-PRODUCT-DATA-ON-DEMAND-SUPPLIER-AUDIT-V1.md
Labels: documentation

docs(ir): IR-O4O-GOVERNMENT-PRODUCT-DATA-SOURCE-AUDIT-V1 — read-only audit
  docs/investigations/IR-O4O-GOVERNMENT-PRODUCT-DATA-SOURCE-AUDIT-V1.md
Labels: documentation

chore: refresh pnpm-lock glob deprecation metadata
  pnpm-lock.yaml
Labels: config

feat(neture): detect dynamic detail-contents source in supplier import assistant
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/neture.routes.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/product-import/parser.ts
  services/web-neture/src/lib/product-import/types.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Labels: backend, typescript

feat(neture): copy imported detail images to O4O storage + reject login-gated sources
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Labels: backend, typescript

fix(neture): route import detail-image copy through MediaLibraryService (existing bucket)
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
Labels: backend, typescript

fix(neture): align product-import image storage to working bucket + de-silence failures
  apps/api-server/src/database/migrations/20261130000000-AddImageImportResultToCsvBatch.ts
  apps/api-server/src/modules/catalog-import/services/catalog-import.service.ts
  apps/api-server/src/modules/neture/entities/SupplierCsvImportBatch.entity.ts
  apps/api-server/src/modules/neture/services/csv-import.service.ts
  apps/api-server/src/modules/neture/services/image-storage.service.ts
  apps/api-server/src/modules/neture/services/product-import-common.service.ts
  services/web-neture/src/lib/api/csvImport.ts
  services/web-neture/src/pages/supplier/SupplierCsvImportPage.tsx
Labels: backend, typescript

feat(neture): pivot import assistant to supplier's own Firstmall admin product HTML
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
  services/web-neture/src/lib/product-import/parser.ts
  services/web-neture/src/lib/product-import/types.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Labels: backend, typescript

fix(neture): admin import shop-domain detection by host frequency (skip w3.org namespace)
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
Labels: typescript

fix(neture): strip images from auto-loaded admin detail body (O4O-only insertion)
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
Labels: typescript

feat(ai): QR 전용 AI 설명 endpoint 공통 기반 — 단일/코너 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/services/ai-prompts/qrDescription.ts
Labels: backend, typescript

feat(kpa-qr): AI 설명 QR 만들기 — 단일 상품 E2E (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
Labels: typescript

feat(kpa-qr): AI 설명 QR 코너 모드 + 공개 items 렌더 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/api/storeQr.ts
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
  services/web-kpa-society/src/pages/qr/QrLandingPage.tsx
Labels: backend, typescript

fix(neture): proxy-preview + default selection for admin product import (no mixed content)
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/lib/product-import/firstmall-admin-parser.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Labels: backend, typescript

feat(kpa-store): 매장 경영활용 제품 등록 보완 — 이미지 업로드·바코드·콘텐츠 가져오기 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1)
  apps/api-server/src/database/migrations/20261201000000-AddBarcodeToStoreLocalProduct.ts
  apps/api-server/src/routes/platform/entities/store-local-product.entity.ts
  apps/api-server/src/routes/platform/store-local-product.routes.ts
  services/web-kpa-society/src/api/localProducts.ts
  services/web-kpa-society/src/components/store/StoreContentImportModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreLocalProductsPage.tsx
Labels: backend, typescript

feat(kpa-qr): AI 설명 목록 식별 + publicUrl 호스트 수정 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/api/storeQr.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
Labels: backend, typescript

fix(kpa-qr): QR 목록 쿼리 깨짐 수정 — landing_target_id(varchar) uuid 캐스트 에러 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
Labels: backend, typescript

docs(kpa-store): CHECK 보고 — 매장 경영활용 제품 등록 보완 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1)
  docs/work-orders/CHECK-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1.md
Labels: documentation

docs(check): QR 전용 AI 설명(단일/코너) 완료 보고 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  docs/work-orders/WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1-CHECK.md
Labels: documentation

fix(neture): preserve original resolution for imported detail images (no blur)
  apps/api-server/src/modules/media/services/media-library.service.ts
  apps/api-server/src/modules/neture/controllers/supplier-import.controller.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProductImportPage.tsx
Labels: backend, typescript

docs(kpa-store): CHECK 업데이트 — 브라우저 UI 스모크 PASS + 마이그레이션 번호 체계 확인 (WO-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1)
  docs/work-orders/CHECK-O4O-KPA-STORE-LOCAL-PRODUCT-REGISTRATION-ENHANCEMENT-V1.md
Labels: documentation

feat(kpa-qr): AI 설명 QR 관리 closure — 수정/재생성/QR설정/필터 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/store-library-feed.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/api/storeQr.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQRPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreQrAiDescriptionPage.tsx
Labels: backend, typescript

@ feat(kpa-store-hub): 약국 운영 허브 메뉴를 내 약국 축으로 정렬 (WO-O4O-KPA-STORE-HUB-MENU-ALIGNMENT-WITH-MY-STORE-V1)
  services/web-kpa-society/src/components/pharmacy/PharmacyHubLayout.tsx
  services/web-kpa-society/src/pages/pharmacy/HubB2BCatalogPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubBlogLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubContentLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubMultilingualContentLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubPopLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubQrLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubVideoLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHubPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreMultilingualContentsMyPage.tsx
Labels: typescript

fix(neture): width-based policy for preserveOriginal detail-image overflow
  apps/api-server/src/modules/media/services/media-library.service.ts
  apps/api-server/src/modules/neture/services/product-detail-fetch.service.ts
Labels: backend, typescript

docs(check): QR AI 설명 관리 closure 완료 보고 추가 (WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1)
  docs/work-orders/WO-O4O-KPA-QR-AI-DESCRIPTION-SINGLE-CORNER-V1-CHECK.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
