Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

chore(drug-otc): shard B 독립검증 GREEN result 기록 (WO-O4O-OTC-ORAL-COMBO-FINAL-SHARD-B-NA-V7, 에이전트 나)
  apps/api-server/src/scripts/data/otc-shardb-independent-verify.na.result.json
Labels: backend

chore(drug-otc): 경구 복합 shard C 인계 전 준비 — KO 68 config + EN 68 저작·검증 (에이전트 다)
  apps/api-server/src/scripts/data/otc-oral-combo-config-shardC.da.json
  apps/api-server/src/scripts/data/otc-oral-combo-shardC-hold-source.da.json
  apps/api-server/src/scripts/data/otc-oral-combo-shardC-manifest.da.json
  docs/checks/CHECK-O4O-OTC-ORAL-COMBO-SHARD-C-PREP-DA-V10.md
Labels: backend, documentation

feat(drug-otc): 경구 복합 shard C LIVE 완결 — 68fp/204m KO+EN + 전체 A/B/C 624m 종료 (에이전트 다)
  apps/api-server/src/scripts/data/otc-combo-shard-assignment-ga-v9.json
  apps/api-server/src/scripts/data/otc-oral-combo-shardC-manifest.da.json
  docs/checks/CHECK-O4O-OTC-ORAL-COMBO-SHARD-C-DONE-DA-V10.md
Labels: backend, documentation

fix(kpa-operator): 태블렛 화면 세트 페이지 제목 메뉴 정렬 — HUB prefix·태블렛 철자 통일 (WO-O4O-KPA-OPERATOR-MENU-NAME-AND-FUNCTION-ALIGNMENT-V1)
  services/web-kpa-society/src/pages/operator/tablet/OperatorTabletScreenSetsPage.tsx
Labels: typescript

docs(drug-otc): 빅콘에스600정 HOLD_SOURCE 재조사 — HOLD_SOURCE_CONFIRMED (용법 1축만 부재, DB write 0)
  apps/api-server/docs/checks/CHECK-O4O-OTC-ORAL-COMBO-BIGCON-S600-HOLD-SOURCE-RESOLUTION-V1.md
Labels: backend

docs(check): 운영자 매장 HUB 메뉴명 감사 — 태블렛 제목 정렬 1건, smoke PASS (WO-O4O-KPA-OPERATOR-MENU-NAME-AND-FUNCTION-ALIGNMENT-V1)
  docs/checks/CHECK-O4O-KPA-OPERATOR-MENU-NAME-AND-FUNCTION-ALIGNMENT-V1.md
Labels: documentation

refactor(operator): 다국어 상품 콘텐츠 목록 O4O 표준 테이블 정비 (WO-O4O-KPA-OPERATOR-LIST-STANDARDIZATION-PRIORITY-AUDIT-V1)
  docs/checks/CHECK-O4O-KPA-OPERATOR-LIST-STANDARDIZATION-PRIORITY-AUDIT-V1.md
  services/web-kpa-society/src/pages/operator/multilingual-product-content/OperatorMultilingualContentListPage.tsx
Labels: documentation, typescript

docs(check): 다국어 상품 콘텐츠 목록 표준화 — 배포 success + operator 브라우저 smoke PASS 기록 (WO-O4O-KPA-OPERATOR-LIST-STANDARDIZATION-PRIORITY-AUDIT-V1)
  docs/checks/CHECK-O4O-KPA-OPERATOR-LIST-STANDARDIZATION-PRIORITY-AUDIT-V1.md
Labels: documentation

refactor(kpa-operator): standardize tablet screen set list
  apps/api-server/src/routes/o4o-store/controllers/operator-screen-set.controller.ts
  services/web-kpa-society/src/api/operatorTabletScreenSets.ts
  services/web-kpa-society/src/pages/operator/tablet/OperatorTabletScreenSetsPage.tsx
Labels: backend, typescript

chore(drug-otc): 가 claim SSOT 정합 — SHARD-A 행 CLAIMED→DONE (실제 LIVE 완결 반영, DB write 0)
  apps/api-server/src/scripts/data/otc-production-claim.ga.json
Labels: backend

docs(check): record tablet screen set list rollout
  docs/checks/CHECK-O4O-KPA-OPERATOR-TABLET-SCREEN-SET-STANDARD-LIST-V1.md
Labels: documentation

docs(check): 나 세션 OTC 생산 재개 대상 감사 — NO_CONFIRMED_WORK (DB write 0)
  apps/api-server/src/scripts/data/otc-production-claim.na.json
  docs/checks/CHECK-O4O-OTC-PRODUCTION-RESUME-NA-QUEUE-AUDIT-V1.md
Labels: backend, documentation

docs(drug-otc): 빅콘에스600정 HOLD 사유 기록 정정 — 용법 1축 부재로 사실관계 수정 (에이전트 다)
  apps/api-server/src/scripts/data/otc-oral-combo-shardC-hold-source.da.json
  docs/checks/CHECK-O4O-OTC-BIGCON-HOLD-REASON-RECORD-CORRECTION-V1.md
Labels: backend, documentation

docs(drug-otc): shard C manifest 빅콘에스600정 HOLD 사유 동기화 (에이전트 다)
  apps/api-server/src/scripts/data/otc-oral-combo-shardC-manifest.da.json
  docs/checks/CHECK-O4O-OTC-BIGCON-HOLD-REASON-MANIFEST-SYNC-DA-V1.md
Labels: backend, documentation

docs(drug-otc): shard SSOT HOLD 사유 동기화 — 빅콘에스600정 용법 1축 부재로 정정 (에이전트 가)
  apps/api-server/src/scripts/data/otc-combo-shard-assignment-ga-v9.json
  docs/checks/CHECK-O4O-OTC-BIGCON-HOLD-REASON-SHARD-SSOT-SYNC-GA-V1.md
Labels: backend, documentation

docs(check): 종합비타민 다성분 효능 표현 계약 확정 — 이미 확립·전량 생산 완료 (DB write 0)
  docs/checks/CHECK-O4O-OTC-NUTRITION-COMBO-MULTIVITAMIN-EFFICACY-CONTRACT-V1.md
Labels: documentation

feat(kpa): expose operator service role and profile entry
  docs/checks/CHECK-O4O-KPA-SERVICE-OPERATOR-INFORMATION-AND-ROLE-VISIBILITY-AUDIT-V1.md
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
  services/web-kpa-society/src/components/KpaUserMenu.tsx
  services/web-kpa-society/src/components/MobileBottomNav.tsx
Labels: documentation, typescript

docs(kpa): record operator information deploy verification
  docs/checks/CHECK-O4O-KPA-SERVICE-OPERATOR-INFORMATION-AND-ROLE-VISIBILITY-AUDIT-V1.md
Labels: documentation

feat(drug-otc): OTC 잔여 전체 corpus 전수 census + 가·나·다 3-shard 설계 (WO-O4O-OTC-REMAINING-FULL-CORPUS-CENSUS-AND-THREE-SHARD-DESIGN-V1, 에이전트 라)
  apps/api-server/docs/checks/CHECK-O4O-OTC-REMAINING-FULL-CORPUS-CENSUS-AND-THREE-SHARD-DESIGN-V1.md
  apps/api-server/src/scripts/data/otc-remaining-full-corpus-census-v1.json
  apps/api-server/src/scripts/data/otc-remaining-shard-assignment-ssot-v1.json
  apps/api-server/src/scripts/otc-remaining-full-corpus-census.ts
Labels: backend, typescript

docs(neture): audit supplier dual dashboard and IA
  docs/investigations/IR-O4O-NETURE-SUPPLIER-DUAL-DASHBOARD-AND-IA-AUDIT-V1.md
Labels: documentation

fix(kpa-operator): align dashboard actions and signage queues
  apps/api-server/src/routes/kpa/services/operator-dashboard.service.ts
  docs/investigations/CHECK-O4O-KPA-OPERATOR-DASHBOARD-ACTION-AND-INFORMATION-ALIGNMENT-V1.md
Labels: backend, documentation, typescript

docs(check): 나 READY shard 263fp/642m 착수 전 감사 — BLOCKED_DB_ACCESS + REVIEW (DB write 0)
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-SHARD-NA-V1.md
Labels: documentation

docs(check): 다 shard 사전검증 — 대상 품질 결함 359m 확인, 생산 미착수 (에이전트 다)
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-SHARD-DA-V1-PREFLIGHT.md
Labels: documentation

docs(check): 가 shard READY 생산 사전검증 PASS·DB 채널 부재로 중지 (WO-O4O-OTC-REMAINING-READY-SHARD-GA-V1)
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-SHARD-GA-V1.md
Labels: documentation

docs(kpa): record dashboard deploy and smoke
  docs/investigations/CHECK-O4O-KPA-OPERATOR-DASHBOARD-ACTION-AND-INFORMATION-ALIGNMENT-V1.md
Labels: documentation

docs(kpa): audit operator dashboard visual priority
  docs/investigations/CHECK-O4O-KPA-OPERATOR-DASHBOARD-VISUAL-PRIORITY-AND-DENSITY-AUDIT-V1.md
Labels: documentation

feat(neture): unify supplier operational routes
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-IA-UNIFICATION-V1.md
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
  services/web-neture/src/pages/account/SupplierInventoryPage.tsx
  services/web-neture/src/pages/account/SupplierOrderDetailPage.tsx
  services/web-neture/src/pages/account/SupplierSettlementsPage.tsx
  services/web-neture/src/pages/supplier/SupplierDashboardPage.tsx
  services/web-neture/src/pages/supplier/SupplierOrdersPage.tsx
Labels: documentation, typescript

docs(kpa): design local dashboard layout override
  docs/investigations/CHECK-O4O-KPA-OPERATOR-DASHBOARD-LOCAL-LAYOUT-OVERRIDE-DESIGN-V1.md
Labels: documentation

feat(kpa): prioritize operator dashboard workflow
  docs/investigations/CHECK-O4O-KPA-OPERATOR-DASHBOARD-LOCAL-LAYOUT-OVERRIDE-IMPLEMENT-V1.md
  services/web-kpa-society/src/components/kpa-operator/KpaOperatorDashboardLayout.tsx
  services/web-kpa-society/src/pages/operator/KpaOperatorDashboard.tsx
Labels: documentation, typescript

docs(kpa): record dashboard override verification
  docs/investigations/CHECK-O4O-KPA-OPERATOR-DASHBOARD-LOCAL-LAYOUT-OVERRIDE-IMPLEMENT-V1.md
Labels: documentation

feat(neture): reorganize supplier sidebar IA
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-SIDEBAR-REARCHITECTURE-V1.md
  services/web-neture/src/components/layouts/SupplierSpaceLayout.tsx
Labels: documentation, typescript

feat(drug-otc): OTC 잔여 census V2 — 성분·경로·함량 축 정정 재분류 (WO-O4O-OTC-REMAINING-CENSUS-IDENTITY-ROUTE-STRENGTH-CORRECTION-V2, 에이전트 라)
  apps/api-server/src/scripts/data/otc-remaining-full-corpus-census-v2.json
  apps/api-server/src/scripts/data/otc-remaining-shard-assignment-ssot-v2.json
  apps/api-server/src/scripts/otc-remaining-full-corpus-census-v2.ts
  docs/checks/CHECK-O4O-OTC-REMAINING-CENSUS-IDENTITY-ROUTE-STRENGTH-CORRECTION-V2.md
Labels: backend, documentation, typescript

docs(check): 나 V2 shard 240fp/839m 착수 전 검증 — 게이트 10/10 PASS, BLOCKER 2건 (DB write 0)
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-SHARD-NA-V2.md
Labels: documentation

docs(check): V2 다 shard 사전검증 GREEN — 러너 fp 산식 상충으로 착수 중지 (에이전트 다)
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-SHARD-DA-V2-PREFLIGHT.md
Labels: documentation

feat(drug-otc): V2 shard 가 생산 파이프라인 준비 — 일반명코드 축 러너 + 결정론 KO composer
  apps/api-server/src/scripts/otc-remaining-v2-store-leaflet-runner.ga.ts
  apps/api-server/src/scripts/otc-v2-ko-compose.ga.mjs
Labels: backend, typescript

docs(kpa): record authenticated operator dashboard viewport smoke
  docs/investigations/CHECK-O4O-KPA-OPERATOR-DASHBOARD-LOCAL-LAYOUT-OVERRIDE-IMPLEMENT-V1.md
Labels: documentation

feat(drug-otc): OTC 외용 적용부위 회수 감사 — CLQ/CDS/CSI 651m 재판정 (WO-O4O-OTC-EXTERNAL-SITE-OF-APPLICATION-RECOVERY-AUDIT-V1, 에이전트 라)
  apps/api-server/src/scripts/data/otc-external-site-recovery-audit-v1.json
  apps/api-server/src/scripts/data/otc-external-site-recovery-shard-proposal-v1.json
  apps/api-server/src/scripts/otc-external-site-recovery-audit.ts
  docs/checks/CHECK-O4O-OTC-EXTERNAL-SITE-OF-APPLICATION-RECOVERY-AUDIT-V1.md
Labels: backend, documentation, typescript

feat(drug-otc): V2 공용 생산 러너 신규 + 다 shard dry-run 게이트 12/12 PASS (에이전트 다)
  apps/api-server/src/scripts/data/otc-v2-dryrun-manifest.da.json
  apps/api-server/src/scripts/data/otc-v2-samples.da.json
  apps/api-server/src/scripts/otc-v2-store-leaflet-runner.shared.ts
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-V2-SHARED-RUNNER-V1.md
Labels: backend, documentation, typescript

feat(drug-otc): 나 V2 shard dry-run GREEN — 240fp/839m 게이트 전건 PASS (DB write 0)
  apps/api-server/src/scripts/data/otc-v2-dryrun-manifest.na.json
  apps/api-server/src/scripts/data/otc-v2-samples.na.json
  apps/api-server/src/scripts/otc-remaining-v2-verify.na.mjs
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-SHARD-NA-V2.md
Labels: backend, documentation

feat(drug-otc): V2 가 shard 공용 러너 dry-run PASS — 237fp/837master 적격, HOLD_SOURCE 1fp 분리
  apps/api-server/src/scripts/data/otc-v2-dryrun-hold-e0ab08c1.ga.json
  apps/api-server/src/scripts/data/otc-v2-dryrun-manifest.ga.json
  apps/api-server/src/scripts/data/otc-v2-samples.ga.json
  docs/checks/CHECK-O4O-OTC-REMAINING-READY-SHARD-GA-V2-DRYRUN.md
Labels: backend, documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
