Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(kpa-store): relabel tablet menu entry to '태블릿 화면 제작' (WO-O4O-KPA-TABLET-SCREEN-MAKER-MENU-ENTRY-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-SCREEN-MAKER-MENU-ENTRY-V1.md
  packages/store-ui-core/src/config/storeMenuConfig.ts
Labels: packages, documentation, typescript

docs(design): canonical STORE description replace policy — design/impact analysis (WO-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-V1)
  docs/checks/CHECK-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-DESIGN-V1.md
Labels: documentation

docs(check): menu-entry relabel — record post-deploy smoke (deploy ok, live click Deferred) (WO-O4O-KPA-TABLET-SCREEN-MAKER-MENU-ENTRY-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-SCREEN-MAKER-MENU-ENTRY-V1.md
Labels: documentation

feat(kpa-tablet): touch-first corner card home as first screen (WO-O4O-KPA-TABLET-TOUCH-FIRST-CORNER-HOME-V1)
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
Labels: typescript

feat(neture): operator canonical replace with explicit confirm (WO-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-APPLY-V1)
  apps/admin-dashboard/src/api/supplier-store-description-review.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/SupplierStoreDescriptionReviewPage.tsx
  apps/api-server/src/modules/neture/controllers/operator-supplier-store-description-review.controller.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
  docs/checks/CHECK-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-APPLY-V1.md
Labels: frontend, backend, documentation, typescript

fix(store-products-ui): correct BaseTable column render signature (row → value,row)
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
Labels: packages, typescript

docs(check): touch-first corner card home — phase 1 (WO-O4O-KPA-TABLET-TOUCH-FIRST-CORNER-HOME-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TOUCH-FIRST-CORNER-HOME-V1.md
Labels: documentation

docs(check): record deploy + prod smoke PASS for canonical-replace WO (CLOSED/PASS)
  docs/checks/CHECK-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-APPLY-V1.md
Labels: documentation

feat(kpa-tablet): touch-first tablet connect/run flow (WO-O4O-KPA-TABLET-TOUCH-FIRST-TABLET-CONNECT-FLOW-V1)
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
Labels: typescript

feat(kpa-store): source-updated badge for imported O4O STORE description copies (WO-O4O-STORE-IMPORTED-DESCRIPTION-SOURCE-UPDATE-BADGE-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-library-feed.controller.ts
  docs/checks/CHECK-O4O-STORE-IMPORTED-DESCRIPTION-SOURCE-UPDATE-BADGE-V1.md
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
Labels: backend, documentation, typescript

docs(check): touch-first tablet connect/run flow — phase 2 (WO-O4O-KPA-TABLET-TOUCH-FIRST-TABLET-CONNECT-FLOW-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TOUCH-FIRST-TABLET-CONNECT-FLOW-V1.md
Labels: documentation

feat(kpa-tablet): touch-first screen set cards (WO-O4O-KPA-TABLET-TOUCH-FIRST-SCREEN-SET-CARDS-V1)
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: typescript

docs(check): touch-first screen set cards — phase 3 (WO-O4O-KPA-TABLET-TOUCH-FIRST-SCREEN-SET-CARDS-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TOUCH-FIRST-SCREEN-SET-CARDS-V1.md
Labels: documentation

docs(check): record deploy + prod smoke PASS for store imported-desc source-update badge WO (CLOSED/PASS)
  docs/checks/CHECK-O4O-STORE-IMPORTED-DESCRIPTION-SOURCE-UPDATE-BADGE-V1.md
Labels: documentation

feat(kpa-tablet): touch-first content_list editor (WO-O4O-KPA-TABLET-TOUCH-FIRST-CONTENT-LIST-EDITOR-V1)
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: typescript

feat(spd): canonical replace audit log (WO-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-AUDIT-LOG-V1)
  apps/admin-dashboard/src/api/supplier-store-description-review.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/SupplierStoreDescriptionReviewPage.tsx
  apps/api-server/src/database/entities.ts
  apps/api-server/src/database/migrations/20270207000000-CreateSharedProductDescriptionAuditLogs.ts
  apps/api-server/src/modules/neture/controllers/operator-supplier-store-description-review.controller.ts
  apps/api-server/src/modules/neture/entities/SharedProductDescriptionAuditLog.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/services/shared-product-description.service.ts
Labels: frontend, backend, typescript

docs(check): touch-first content_list editor — phase 4 (WO-O4O-KPA-TABLET-TOUCH-FIRST-CONTENT-LIST-EDITOR-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TOUCH-FIRST-CONTENT-LIST-EDITOR-V1.md
Labels: documentation

docs(check): touch-first tablet final smoke — phase 5 (WO-O4O-KPA-TABLET-TOUCH-FIRST-FINAL-SMOKE-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TOUCH-FIRST-FINAL-SMOKE-V1.md
Labels: documentation

docs(check): canonical replace audit log WO — deploy + prod smoke PASS (CLOSED/PASS)
  docs/checks/CHECK-O4O-OPERATOR-SUPPLIER-STORE-DESCRIPTION-CANONICAL-REPLACE-AUDIT-LOG-V1.md
Labels: documentation

feat(kpa-tablet): add three screen templates + real scan QR (WO-O4O-KPA-TABLET-TEMPLATE-THREE-PATTERNS-V1)
  apps/api-server/src/modules/neture/services/__tests__/shared-product-description.cosmetic-guard.test.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  packages/tablet-kiosk-core/package.json
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  pnpm-lock.yaml
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: backend, packages, config, dependencies, testing, typescript

feat(store): explicit reimport of updated source description as new copy (WO-O4O-STORE-IMPORTED-DESCRIPTION-REIMPORT-REPLACE-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-content.controller.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
Labels: backend, typescript

docs(check): three tablet screen templates + real scan QR (WO-O4O-KPA-TABLET-TEMPLATE-THREE-PATTERNS-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TEMPLATE-THREE-PATTERNS-V1.md
Labels: documentation

docs(check): store reimport-as-new-copy WO — deploy + prod smoke PASS (CLOSED/PASS)
  docs/checks/CHECK-O4O-STORE-IMPORTED-DESCRIPTION-REIMPORT-REPLACE-V1.md
Labels: documentation

docs(ir): tablet content library + corner assignment design (WO-O4O-KPA-TABLET-CONTENT-LIBRARY-AND-CORNER-ASSIGNMENT-DESIGN-V1)
  docs/investigations/IR-O4O-KPA-TABLET-CONTENT-LIBRARY-AND-CORNER-ASSIGNMENT-DESIGN-V1.md
Labels: documentation

feat(kpa-tablet): split tablet mgmt into 코너별 운영 / 태블릿 콘텐츠 tabs (WO-O4O-KPA-TABLET-CONTENT-LIBRARY-TAB-SPLIT-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-LIBRARY-TAB-SPLIT-V1.md
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: documentation, typescript

feat(store): add store-content usage-trace endpoint + badge summary (WO-O4O-STORE-CONTENT-USAGE-TRACE-FOR-REIMPORT-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-library-feed.controller.ts
  services/web-kpa-society/src/api/assetSnapshot.ts
  services/web-kpa-society/src/pages/pharmacy/StoreContentsSelector.tsx
Labels: backend, typescript

docs(check): record USAGE-TRACE-FOR-REIMPORT-V1 deploy + smoke PASS
  docs/checks/CHECK-O4O-STORE-CONTENT-USAGE-TRACE-FOR-REIMPORT-V1.md
Labels: documentation

docs(ir): audit current state of KPA tablet content creation flow (IR-O4O-KPA-TABLET-CONTENT-CREATION-CURRENT-STATE-AUDIT-V1)
  docs/investigations/IR-O4O-KPA-TABLET-CONTENT-CREATION-CURRENT-STATE-AUDIT-V1.md
Labels: documentation

feat(kpa): standardize tablet content list to O4O standard table (WO-O4O-KPA-TABLET-CONTENT-STANDARD-LIST-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-STANDARD-LIST-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletContentLibraryList.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: documentation, typescript

feat(kpa): split tablet content create/edit into stepped builder shell (WO-O4O-KPA-TABLET-CONTENT-STEP-BUILDER-SHELL-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-STEP-BUILDER-SHELL-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: documentation, typescript

docs(grounding): strengthen CR-007 — 근거 부족 제품은 제작하지 않고 HOLD (전 상품군)
  docs/guides/common/CONTENT-RULE-REGISTRY.md
  docs/guides/content-authoring/CONTENT-AUTHORING-PRINCIPLES.md
  docs/guides/products/health-functional-food/HFF-DESCRIPTION-RULES-SSOT-V1.md
Labels: documentation

fix(hff): normalize 4 broken regulatory_type literals to 건강기능식품 (WO-O4O-HFF-BROKEN-REGULATORY-TYPE-NORMALIZE-V1)
  apps/api-server/src/database/migrations/20270208000000-NormalizeHffRegulatoryTypeBrokenLiteral.ts
Labels: backend, typescript

docs(check): record HFF broken regulatory_type normalize — 4건 정규화 PASS
  docs/checks/CHECK-O4O-HFF-BROKEN-REGULATORY-TYPE-NORMALIZE-V1.md
Labels: documentation

feat(kpa-tablet): draft preview (tablet + QR mobile) in step builder (WO-O4O-KPA-TABLET-CONTENT-DRAFT-PREVIEW-V1)
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-KPA-TABLET-CONTENT-DRAFT-PREVIEW-V1.md
  packages/tablet-kiosk-core/src/TabletKioskPage.tsx
  services/web-kpa-society/src/api/tabletDisplays.ts
  services/web-kpa-society/src/pages/pharmacy/StoreTabletDisplaysPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: backend, packages, documentation, typescript

fix(hff): guarded delete 5 encoding-corrupted ProductMasters (WO-O4O-HFF-CORRUPTED-PRODUCTMASTER-GUARDED-DELETE-V1)
  apps/api-server/src/database/migrations/20270209000000-DeleteHffCorruptedProductMasters.ts
Labels: backend, typescript

docs(check): record HFF corrupted-master guarded delete — 5건 삭제 PASS, HFF 30 clean
  docs/checks/CHECK-O4O-HFF-CORRUPTED-PRODUCTMASTER-GUARDED-DELETE-V1.md
Labels: documentation

feat(kpa-tablet): template-driven builder steps (WO-O4O-KPA-TABLET-TEMPLATE-DRIVEN-BUILDER-STEPS-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-TEMPLATE-DRIVEN-BUILDER-STEPS-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: documentation, typescript

docs(ir): design tablet↔QR mobile shared-content structure (IR-O4O-KPA-TABLET-QR-SHARED-CONTENT-DESIGN-V1)
  docs/investigations/IR-O4O-KPA-TABLET-QR-SHARED-CONTENT-DESIGN-V1.md
Labels: documentation

chore(deps): refresh pnpm-lock.yaml (glob deprecation message metadata only)
  pnpm-lock.yaml
Labels: config

feat(kpa-tablet): screen_set QR landing contract + shared resolver (WO-O4O-KPA-TABLET-QR-LANDING-CONTRACT-V1)
  apps/api-server/src/database/migrations/20270207000000-AddScreenSetQrLandingContract.ts
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
Labels: backend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
