Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix(migration): Remove CONCURRENTLY from index creation in JSONB migration
  apps/api-server/src/database/migrations/1800000000003-OptimizeProductsWithJsonb.ts
Labels: backend, typescript

fix(migration): Remove suppliers table dependency from materialized view
  apps/api-server/src/database/migrations/1800000000003-OptimizeProductsWithJsonb.ts
Labels: backend, typescript

feat(scheduler): Add Materialized View refresh scheduler
  apps/api-server/src/main.ts
  apps/api-server/src/services/MaterializedViewScheduler.ts
Labels: backend, typescript

feat(payments): Add payment gateway system with Toss Payments integration
  apps/api-server/src/controllers/PaymentController.ts
  apps/api-server/src/database/migrations/1830000000000-CreatePaymentTables.ts
  apps/api-server/src/entities/Payment.ts
  apps/api-server/src/entities/PaymentSettlement.ts
  apps/api-server/src/entities/PaymentWebhook.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/payments.routes.ts
  apps/api-server/src/services/PaymentService.ts
  docs/PAYMENT_GATEWAY_DESIGN.md
Labels: backend, documentation, typescript

fix(migration): Use TableForeignKey and TableIndex for proper TypeORM compatibility
  apps/api-server/src/database/migrations/1830000000000-CreatePaymentTables.ts
Labels: backend, typescript

fix(migration): Temporarily remove foreign key constraint to orders table
  apps/api-server/src/database/migrations/1830000000000-CreatePaymentTables.ts
Labels: backend, typescript

feat(payments): Implement settlement logic and add setup documentation
  apps/api-server/src/services/PaymentService.ts
  docs/PAYMENT_SETUP.md
Labels: backend, documentation, typescript

feat: Add product bulk import functionality with CSV support
  apps/admin-dashboard/package.json
  apps/api-server/src/controllers/ProductController.ts
  pnpm-lock.yaml
Labels: frontend, backend, config, dependencies, typescript

feat(payment): Add webhook signature verification, idempotency, and settlement scheduler
  apps/api-server/src/controllers/PaymentController.ts
  apps/api-server/src/entities/Payment.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/payments.routes.ts
  apps/api-server/src/services/PaymentService.ts
  apps/api-server/src/services/SettlementScheduler.ts
Labels: backend, typescript

docs: Add manual for payment idempotency UNIQUE constraints
  IDEMPOTENCY_CONSTRAINT_MANUAL.md
Labels: documentation

chore: Update pnpm-lock.yaml for CI compatibility
  pnpm-lock.yaml
Labels: config

fix: Replace console.log with proper logger usage
  apps/api-server/src/database/migrations/1800000000002-EnablePgTrgmExtension.ts
  apps/api-server/src/database/migrations/1800000000003-OptimizeProductsWithJsonb.ts
  apps/api-server/src/services/MaterializedViewScheduler.ts
Labels: backend, typescript

fix: Rename Media and Menus components to avoid minification collision
  apps/admin-dashboard/src/App.tsx
Labels: frontend, typescript

fix: Change 'Unknown' to '작성자' in media library author field
  apps/admin-dashboard/src/pages/media/MediaListWordPress.tsx
Labels: frontend, typescript

fix(admin): Fix bulk actions in trash views and permanent deletion
  apps/admin-dashboard/src/components/posts/PostsBulkActions.tsx
  apps/admin-dashboard/src/pages/pages/PageList.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
Labels: frontend, typescript

fix(admin): Fix minification variable collision for lazy-loaded components
  apps/admin-dashboard/src/App.tsx
Labels: frontend, typescript

fix(admin): Remove debug console.log statements from PageList
  apps/admin-dashboard/src/pages/pages/PageList.tsx
Labels: frontend, typescript

fix(admin): Remove circular imports causing 'Cannot access Me before initialization' error
  apps/admin-dashboard/src/components/editor/blocks/slide/AdvancedSlideEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/slide/BulkEditPanel.tsx
  apps/admin-dashboard/src/components/editor/blocks/slide/SlideEditor.tsx
  apps/admin-dashboard/src/components/editor/blocks/slide/SlideSortableList.tsx
  apps/admin-dashboard/src/components/editor/blocks/slide/SlideViewer.tsx
  apps/admin-dashboard/src/components/editor/slate/SlateEditor.tsx
  apps/admin-dashboard/src/components/editor/slate/components/Toolbar.tsx
  apps/admin-dashboard/src/components/editor/slate/utils/marks.ts
Labels: frontend, typescript

fix(admin): Disable hoistTransitiveImports to resolve TDZ initialization error
  apps/admin-dashboard/vite.config.ts
  partner-overview.md
Labels: frontend, documentation, typescript

refactor(admin): Clean up lazy-loaded component variable names
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/vite.config.ts
Labels: frontend, typescript

fix(admin): Switch from esbuild to terser minifier to resolve TDZ error
  apps/admin-dashboard/vite.config.ts
  package.json
  pnpm-lock.yaml
Labels: frontend, config, dependencies, typescript

fix(ci): Exclude config files from console.log check
  .github/workflows/main.yml
Labels: ci/cd

fix: Enable error logging in production ErrorBoundary
  apps/admin-dashboard/src/components/ErrorBoundary.tsx
Labels: frontend, typescript

debug: Disable minification to identify TDZ error variable
  apps/admin-dashboard/vite.config.ts
Labels: frontend, typescript

fix: Resolve TDZ error by moving useDragAndDrop after updateBlocks declaration
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Labels: frontend, typescript

fix: Move handleExecuteAIActions after all helper functions to resolve TDZ error
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
Labels: frontend, typescript

chore: Re-enable minification after TDZ fix
  apps/admin-dashboard/vite.config.ts
Labels: frontend, typescript

docs: Update all manual documentation to v0.5.9
  docs/manual/README.md
  docs/manual/admin-manual.md
  docs/manual/ai-page-generation.md
  docs/manual/ai-technical-guide.md
  docs/manual/ai-user-guide.md
  docs/manual/appearance-customize.md
  docs/manual/appearance-menus.md
  docs/manual/appearance-template-parts.md
  docs/manual/blocks-reference-detailed.md
  docs/manual/blocks-reference.md
  docs/manual/editor-usage-manual.md
  scripts/upload-manual-docs.ts
Labels: ci/cd, documentation, typescript

feat: Update editor header navigation and controls
  apps/admin-dashboard/src/components/editor/header/EditorHeader.tsx
  apps/admin-dashboard/src/components/editor/header/LeftControls.tsx
  apps/admin-dashboard/src/components/editor/header/RightControls.tsx
  apps/admin-dashboard/src/components/editor/header/types.ts
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

feat: Activate document overview list view feature
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: Remove hardcoded API paths in AI settings API
  apps/admin-dashboard/src/api/ai-settings.api.ts
Labels: frontend, typescript

fix: Remove hardcoded API paths in all AI services
  apps/admin-dashboard/src/services/ai/ConversationalAI.ts
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/admin-dashboard/src/services/ai/reference-fetcher.service.ts
Labels: frontend, typescript

fix: Correct AI API route paths to /api/v1/ai/*
  apps/api-server/src/controllers/ProductController.ts
  apps/api-server/src/main.ts
Labels: backend, typescript

feat: Implement bulkImportProducts for CSV bulk import
  apps/api-server/src/controllers/ProductController.ts
  apps/api-server/src/services/ProductService.ts
Labels: backend, typescript

fix: Load AI API keys from database instead of environment only
  apps/api-server/src/services/ai-proxy.service.ts
Labels: backend, typescript

fix: Correctly parse AI settings response from backend
  apps/admin-dashboard/src/api/ai-settings.api.ts
Labels: frontend, typescript

fix: Change authReq.user?.userId to authReq.user?.id in AI proxy routes
  apps/api-server/src/routes/ai-proxy.ts
Labels: backend, typescript

fix: Resolve AI generation timeout and misleading progress bar
  apps/admin-dashboard/src/components/ai/SimpleAIModal.tsx
  apps/api-server/src/services/ai-proxy.service.ts
Labels: frontend, backend, typescript

feat: Implement App system for AI service integration (Google Gemini)
  apps/api-server/src/controllers/apps.controller.ts
  apps/api-server/src/database/migrations/1840000000000-CreateAppSystemTables.ts
  apps/api-server/src/entities/App.ts
  apps/api-server/src/entities/AppInstance.ts
  apps/api-server/src/entities/AppUsageLog.ts
  apps/api-server/src/main.ts
  apps/api-server/src/routes/apps.ts
  apps/api-server/src/services/app-registry.service.ts
  apps/api-server/src/services/google-ai.service.ts
Labels: backend, typescript

fix: Add explicit type annotation to router in apps.ts
  apps/api-server/src/routes/apps.ts
Labels: backend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
