Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix: add diagnostic logging to debug slug field issue in post editor
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
Labels: frontend, typescript

debug: add more detailed logging for slug field issue
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

debug: verify data reassignment after unwrap
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: ensure slug field is properly displayed in post editor
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

investigation: add logs to trace slug field rendering issue
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: remove console.log statements causing CI failure
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

docs: add bug resolution principles to CLAUDE.md
  CLAUDE.md
Labels: documentation

fix: resolve slug field display issue in post editor
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

refactor: simplify slug display fix - just disable sidebar button until data loads
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: add slug field to Mock API and improve slug handling in editor
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/mockApi.ts
Labels: frontend, typescript

fix: remove console.log statements for CI/CD compliance
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: enable Mock API for development and fix slug display
  apps/admin-dashboard/src/services/api/mockApi.ts
  apps/admin-dashboard/src/services/api/postApi.ts
Labels: frontend, typescript

debug: add debugging tools for slug/permalink data flow
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
Labels: frontend, typescript

feat: implement slug validation on save with user-friendly error handling
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/api-server/src/controllers/postsController.ts
Labels: frontend, backend, typescript

fix: remove console.log for CI/CD compliance
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
Labels: frontend, typescript

fix: add missing slug field in PostForm useEffect
  apps/admin-dashboard/src/pages/content/PostForm.tsx
Labels: frontend, typescript

debug: add comprehensive logging to diagnose slug display issue
  apps/admin-dashboard/src/pages/content/PostFormWYSIWYG.tsx
Labels: frontend, typescript

fix: remove console.log for CI/CD compliance and fix potential nested post structure
  apps/admin-dashboard/src/pages/content/PostFormWYSIWYG.tsx
Labels: frontend, typescript

fix: handle multiple API response structures for post data
  apps/admin-dashboard/src/pages/content/PostFormWYSIWYG.tsx
Labels: frontend, typescript

fix: handle nested post structure in StandaloneEditor API response
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: correct API response handling in postApi.get method
  apps/admin-dashboard/src/services/api/postApi.ts
Labels: frontend, typescript

fix: revert postApi changes and add debug info for slug issue
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/services/api/postApi.ts
  apps/api-server/src/controllers/content/PostController.ts
Labels: frontend, backend, typescript

fix: correct nested API response structure handling for slug field
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: Add debug logs to track slug binding issue in permalink field
  apps/admin-dashboard/package.json
  apps/admin-dashboard/postcss.config.cjs
  apps/admin-dashboard/src/pages/content/Content.tsx
  apps/admin-dashboard/src/pages/content/PostForm.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
  packages/auth-context/tsconfig.json
  pnpm-lock.yaml
Labels: frontend, packages, config, dependencies, typescript

fix: Remove console.log statements from production code
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: Temporarily bypass auth-context build issues for CI
  packages/auth-context/package.json
  packages/auth-context/tsconfig.json
Labels: packages, dependencies

fix: Tailwind CSS configuration and package builds
  apps/admin-dashboard/package.json
  apps/admin-dashboard/postcss.config.cjs
  package-lock.json
Labels: frontend, config, dependencies

fix: add packages/ui path to Tailwind content configuration
  apps/admin-dashboard/tailwind.config.cjs
Labels: frontend

fix: resolve CI build issues and dependencies
  apps/admin-dashboard/package.json
  packages/auth-context/package.json
  pnpm-lock.yaml
Labels: frontend, packages, config, dependencies

fix: add @tailwindcss/postcss to main-site app
  apps/main-site/package.json
  apps/main-site/postcss.config.cjs
  package-lock.json
  pnpm-lock.yaml
Labels: frontend, config, dependencies

fix: resolve auth-context build issues in CI
  packages/auth-context/src/AuthContext.tsx
  packages/auth-context/src/AuthProvider.tsx
Labels: packages, typescript

fix: resolve slug display issue in post editor
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  ecosystem.config.local.cjs
Labels: frontend, config, typescript

fix: change edit button to open StandaloneEditor instead of redirecting to admin home
  apps/admin-dashboard/src/pages/posts/Posts.tsx
Labels: frontend, typescript

fix: disable forced mock API usage in development environment
  apps/admin-dashboard/src/services/api/mockApi.ts
Labels: frontend, typescript

debug: add console logging to trace slug data flow
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

build: production build with slug debugging support
  .github/workflows/build-and-deploy.yml
  .github/workflows/main.yml
  apps/admin-dashboard/package.json
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/api-gateway/package.json
  apps/api-server/package.json
  apps/crowdfunding/package.json
  apps/digital-signage/package.json
  apps/ecommerce/package.json
  apps/forum/package.json
  apps/main-site/package.json
  package.json
  packages/auth-client/package.json
  packages/auth-context/package.json
  packages/block-core/package.json
  packages/blocks/dynamic/package.json
  packages/blocks/interactive/package.json
  packages/blocks/layout-media/package.json
  packages/blocks/text-content/package.json
  packages/crowdfunding-types/package.json
  packages/forum-types/package.json
  packages/shortcodes/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: frontend, backend, packages, ci/cd, config, dependencies, typescript

debug: add comprehensive logging for slug data flow tracking
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: improve slug handling and error reporting
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/posts/Posts.tsx
  apps/api-server/src/controllers/v1/content.controller.ts
Labels: frontend, backend, typescript

fix: remove console.log statements from production code
  apps/admin-dashboard/src/components/editor/GutenbergSidebar.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: enforce required fields and prevent duplicate saves
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/api-server/src/controllers/v1/content.controller.ts
Labels: frontend, backend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
