Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

security: remove exposed database credentials
  apps/api-server/src/database/migrations/2026012100001-CreateO4OAdminVaultAccount.ts
  apps/api-server/src/scripts/check-glycopharm-schema.ts
  apps/api-server/src/scripts/glycopharm-phase1-reset.ts
  docs/archive/work-orders/WO-O4O-E2E-REGISTRATION-APPROVAL-LOGIN-TEST-V1-REPORT.md
Labels: backend, documentation, typescript

chore: separate local and production database connections
  .env.example
  CLAUDE.md
  SETUP.md
  apps/api-server/.env.example
  apps/api-server/src/database/connection.ts
  apps/api-server/src/scripts/add-product-fields.ts
  apps/api-server/src/scripts/check-tables.ts
  apps/api-server/src/scripts/dev/init-kpa-signage.ts
  apps/api-server/src/scripts/run-production-migration.ts
  apps/api-server/src/scripts/update-glycopharm-status-orm.ts
  apps/api-server/src/scripts/update-glycopharm-status.ts
  setup-cloud-sql-proxy.cmd
  start-cloud-sql-proxy.cmd
Labels: backend, documentation, typescript, security

chore: restore verification command coverage
  .github/actions/setup-build-env/action.yml
  .github/workflows/ci-appstore-guard.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/e2e-auth-runtime.yml
  eslint.config.js
  scripts/dev.mjs
Labels: ci/cd, config, javascript

fix: restore content editor assist panel contract
  scripts/dev.mjs
Labels: ci/cd

fix: restore api server typecheck baseline
  apps/api-server/src/scripts/audit-roles.ts
  apps/api-server/src/scripts/drug-otc-apply-pilot-b01ac06-dryrun.ts
  apps/api-server/src/scripts/drug-otc-description-promotion-dryrun.ts
  apps/api-server/src/scripts/drug-otc-nutrition-combo-membership-persist.ts
  apps/api-server/src/scripts/drug-otc-track-a-3h-config-gen.ts
  apps/api-server/src/scripts/hff-nutrient-compose.ts
  apps/api-server/src/scripts/hff-shard0-remainder-census.ts
  apps/api-server/src/scripts/hff-vd-compose.ts
  apps/api-server/src/scripts/otc-card-summary.ga.ts
  apps/api-server/src/scripts/otc-easy-drug-ready-oral-v3-composer.da.ts
  apps/api-server/src/scripts/otc-en-design-audit.ga.ts
  apps/api-server/src/scripts/otc-ko-lineage-audit.ga.ts
  apps/api-server/src/scripts/otc-ko-truncation-policy.spec.ga.ts
  apps/api-server/src/scripts/otc-modified-design-verify.ga.ts
  apps/api-server/src/scripts/otc-zh-batch01-apply.ga.ts
Labels: backend, testing, typescript

chore: clean remaining verification harness gaps
  scripts/dev.mjs
Labels: ci/cd

feat(hff-ja): JA Batch 02 10,000건 직접 번역·저장 (WO-O4O-HFF-JA-BATCH-02-10000-DIRECT-BULK-PRODUCTION-V1)
  apps/api-server/src/scripts/data/hff-ja-b01-j12-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b02-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-b02-ids-v1.json
  apps/api-server/src/scripts/data/hff-ja-b02-measure-v1.json
  apps/api-server/src/scripts/data/hff-ja-b02-regression-v1.json
  apps/api-server/src/scripts/data/hff-ja-b02-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ja-b02-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-b02-verify-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-summary-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-v1.jsonl
  apps/api-server/src/scripts/hff-ja-b02-apply.mjs
  apps/api-server/src/scripts/hff-ja-b02-measure.mjs
  apps/api-server/src/scripts/hff-ja-b02-regression.mjs
  apps/api-server/src/scripts/hff-ja-b02-render.mjs
  apps/api-server/src/scripts/hff-ja-b02-verify.mjs
  docs/checks/WO-O4O-HFF-JA-BATCH-02-10000-DIRECT-BULK-PRODUCTION-V1-CHECK.md
Labels: backend, documentation

chore: reduce lint baseline errors
  apps/admin-dashboard/src/api/unified-client.ts
  apps/admin-dashboard/src/components/shortcodes/productShortcodes.tsx
  apps/admin-dashboard/src/pages/cms/designer/core/jsonAdapter.ts
  apps/admin-dashboard/src/pages/dashboard/phase2.4/PartnerStats.tsx
  apps/admin-dashboard/src/pages/media/MediaLibraryAdmin.tsx
  apps/admin-dashboard/src/pages/vendors/vendors-commission/useVendorsCommission.tsx
  apps/admin-dashboard/src/services/ai/BlockCodeGenerator.ts
  apps/api-server/src/bootstrap/setup-middlewares.ts
  apps/api-server/src/controllers/admin/AdminUserController.ts
  apps/api-server/src/controllers/forum/ForumPostController.ts
  apps/api-server/src/controllers/templatesController.ts
  apps/api-server/src/infrastructure/redis.guard.ts
  apps/api-server/src/middleware/rateLimiter.ts
  apps/api-server/src/queues/webhook.queue.ts
  apps/api-server/src/routes/ai-admin.routes.ts
  apps/api-server/src/routes/dashboard/dashboard-assets.query-handlers.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/controllers/operator-product-applications.controller.ts
  apps/api-server/src/scripts/drug-otc-batch02-ko-finalize-dryrun.ts
  apps/api-server/src/scripts/drug-otc-nutrition-combo-canonical-promotion.ts
  apps/api-server/src/scripts/glycopharm-phase1-reset.ts
  apps/api-server/src/scripts/hff-nutrient-select.ts
  apps/api-server/src/scripts/hff-sf-a-build.ts
  apps/api-server/src/scripts/otc-v3-topical-oromucosal-reproduce-build.na.ts
  apps/api-server/src/services/ai-operations.service.ts
  apps/api-server/src/utils/deep-merge.ts
  apps/api-server/src/utils/schema-migration.ts
  apps/main-site/src/components/blocks/cms/Pagination.tsx
  apps/main-site/src/components/common/Pagination.tsx
  eslint.config.js
  packages/cosmetics-seller-extension/src/backend/services/kpi.service.ts
  packages/forum-core/src/backend/services/forum.service.ts
  packages/partner-core/src/partner-extension.ts
  packages/shared-space-ui/src/LmsHubTemplate.tsx
  packages/shared-space-ui/src/ResourcesHubTemplate.tsx
  packages/shortcodes/src/template/helpers/media.ts
  scripts/appstore-guard.ts
  scripts/audit/check-block-registry.ts
  services/web-neture/src/pages/operator/CategoryManagementPage.tsx
Labels: frontend, backend, packages, ci/cd, config, typescript, javascript

chore: harden parallel git workflow safety
  .husky/pre-commit
  docs/baseline/operations/O4O-GIT-PARALLEL-WORK-SAFETY-V1.md
Labels: documentation

feat(hff-ja): 현재 생산 가능 JA 설명서 전량 7,414건 직접 번역·저장 (WO-O4O-HFF-JA-ALL-CURRENTLY-PRODUCIBLE-7414-DIRECT-BULK-PRODUCTION-V1)
  apps/api-server/src/scripts/data/hff-ja-b03-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-b03-ids-v1.json
  apps/api-server/src/scripts/data/hff-ja-b03-regression-v1.json
  apps/api-server/src/scripts/data/hff-ja-b03-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ja-b03-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-b03-verify-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-summary-v1.json
  apps/api-server/src/scripts/hff-ja-b03-apply.mjs
  apps/api-server/src/scripts/hff-ja-b03-regression.mjs
  apps/api-server/src/scripts/hff-ja-b03-render.mjs
  apps/api-server/src/scripts/hff-ja-b03-verify.mjs
  docs/checks/WO-O4O-HFF-JA-ALL-CURRENTLY-PRODUCIBLE-7414-DIRECT-BULK-PRODUCTION-V1-CHECK.md
Labels: backend, documentation

feat(cosmetics): 화장품 초기 census·설명서 파일럿 1,000건 (WO-O4O-COSMETICS-INITIAL-CENSUS-AND-GUIDE-PILOT-V0)
  apps/api-server/src/scripts/cosmetics-census-pilot/01-fetch-functional.mjs
  apps/api-server/src/scripts/cosmetics-census-pilot/02-fetch-general.mjs
  apps/api-server/src/scripts/cosmetics-census-pilot/03-normalize.mjs
  apps/api-server/src/scripts/cosmetics-census-pilot/04-generate-guides.mjs
  apps/api-server/src/scripts/cosmetics-census-pilot/05-summary.mjs
  apps/api-server/src/scripts/cosmetics-census-pilot/lib.mjs
  docs/cosmetics/O4O-COSMETICS-PRODUCT-GUIDE-PRODUCTION-STANDARD-V0.md
  tmp/cosmetics-pilot/functional-candidates-500.json
  tmp/cosmetics-pilot/general-candidates-500.json
  tmp/cosmetics-pilot/guide-pilot-en.json
  tmp/cosmetics-pilot/guide-pilot-ko.json
  tmp/cosmetics-pilot/issue-queue.json
  tmp/cosmetics-pilot/normalized-products.json
  tmp/cosmetics-pilot/pilot-summary.json
Labels: backend, documentation

fix: restore React hooks call order
  apps/admin-dashboard/src/components/editor/blocks/SocialIconsBlock.tsx
  apps/admin-dashboard/src/pages/cpt-engine/CPTContentEditorWrapper.tsx
  packages/block-renderer/src/renderers/product/AddToCartPanelBlock.tsx
  packages/block-renderer/src/renderers/product/ProductGalleryBlock.tsx
  packages/block-renderer/src/renderers/special/MarkdownBlock.tsx
  services/web-k-cosmetics/src/components/layouts/DashboardLayout.tsx
  services/web-neture/src/components/AccountMenu.tsx
Labels: frontend, packages, typescript

chore: make typecheck scripts cross-platform
  apps/admin-dashboard/package.json
  apps/api-gateway/package.json
Labels: frontend, dependencies

feat(cosmetics): 소매시장 화장품 census — 설명서 후보 33,106 단위 확정 (WO-O4O-COSMETICS-RETAIL-PRODUCT-CENSUS-V1)
  apps/api-server/src/scripts/cosmetics-census-pilot/03-normalize.mjs
  apps/api-server/src/scripts/cosmetics-census-pilot/normalize-core.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/01-fetch-musinsa.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/02-fetch-hwahae.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/03-fetch-oliveyoung-global.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/04-union-normalize.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/05-fetch-functional-index.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/06-functional-match.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/07-productmaster-compare.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/08-summary.mjs
  apps/api-server/src/scripts/cosmetics-retail-census/lib.mjs
  docs/checks/CHECK-O4O-COSMETICS-RETAIL-PRODUCT-CENSUS-V1.md
  docs/cosmetics/O4O-COSMETICS-PRODUCT-GUIDE-PRODUCTION-STANDARD-V0.md
  tmp/cosmetics-pilot/issue-queue.json
  tmp/cosmetics-pilot/normalized-products.json
  tmp/cosmetics-retail-census/README.md
  tmp/cosmetics-retail-census/census-summary.json
  tmp/cosmetics-retail-census/functional-index.json.gz
  tmp/cosmetics-retail-census/functional-match.json.gz
  tmp/cosmetics-retail-census/issue-queue.json
  tmp/cosmetics-retail-census/productmaster-compare.json
  tmp/cosmetics-retail-census/retail-normalized.json
  tmp/cosmetics-retail-census/retail-raw-union.json.gz
  tmp/cosmetics-retail-census/retail-unique-guide-candidates.json.gz
  tmp/cosmetics-retail-census/source-hwahae.json.gz
  tmp/cosmetics-retail-census/source-musinsa.json.gz
  tmp/cosmetics-retail-census/source-oliveyoung-global.json
Labels: backend, documentation

feat(easy-drug-en): batch-0002~0038 EN 재번역 파일 생산 (WO-O4O-EASY-DRUG-EN-FULL-RETRANSLATION-BATCH-PRODUCTION-CONTINUE-V1)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-frame.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/en-validator.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/produce-emit.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/produce-ingest.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/sample-en-translations.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

chore: remove api gateway bash script dependency
  apps/api-gateway/package.json
Labels: dependencies

chore: reduce residual lint defects
  apps/admin-dashboard/src/pages/neture/ProductApprovalQueuePage.tsx
  apps/admin-dashboard/src/pages/pages/PageList.tsx
  packages/content-editor/src/components/ImageInsertModal.tsx
  scripts/cli/o4o.ts
  services/web-kpa-society/src/pages/pharmacy/SignagePlaybackPage.tsx
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: frontend, packages, ci/cd, typescript

@ fix(ci): @o4o/account-ui 를 패키지 사전 빌드 체인에 추가
  .github/workflows/ci-pipeline.yml
  package.json
  scripts/dev.mjs
Labels: ci/cd, config, dependencies

fix(ci): solution tsconfig 워크스페이스의 공허 type-check 실검사 전환
  scripts/dev.mjs
  services/signage-player-web/package.json
  services/web-account/package.json
  services/web-glycopharm/package.json
Labels: ci/cd, dependencies

chore: retire api-gateway app
  .github/workflows/ci-pipeline.yml
  apps/api-gateway/.env.example
  apps/api-gateway/.eslintignore
  apps/api-gateway/README.md
  apps/api-gateway/package.json
  apps/api-gateway/src/config/gateway.config.ts
  apps/api-gateway/src/middleware/auth.middleware.ts
  apps/api-gateway/src/middleware/proxy.middleware.ts
  apps/api-gateway/src/middleware/rateLimit.middleware.ts
  apps/api-gateway/src/server.test.ts
  apps/api-gateway/src/server.ts
  apps/api-gateway/src/services/RouteManager.ts
  apps/api-gateway/src/services/ServiceRegistry.ts
  apps/api-gateway/src/utils/logger.ts
  apps/api-gateway/tsconfig.json
  apps/api-gateway/vitest.config.ts
  pnpm-lock.yaml
Labels: ci/cd, config, dependencies, testing, typescript, security

ci: enforce verified quality gates
  .github/actions/setup-build-env/action.yml
  .github/workflows/ci-pipeline.yml
  scripts/lint-ratchet.mjs
Labels: ci/cd

ci: document the one intentionally non-blocking step
  .github/workflows/ci-pipeline.yml
Labels: ci/cd

feat(hff-ja): 잔여 전량 13,504 모집단 재현·저작 대상 실측 (WO-O4O-HFF-JA-ALL-REMAINING-13504 §3/§4)
  apps/api-server/src/scripts/data/hff-ja-b04-measure-v1.json
  apps/api-server/src/scripts/hff-ja-b04-measure.mjs
  docs/checks/WO-O4O-HFF-JA-ALL-REMAINING-13504-DIRECT-BULK-PRODUCTION-AND-TRACK-CLOSURE-V1-CHECK.md
Labels: backend, documentation

feat(easy-drug-en): 최종 TM 기반 resume state 재구성 + batch-0039~0040 생산
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-dry-check.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-precheck.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-reconstruct.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0039.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0039.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0040.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0040.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0039-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0040-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-master-set.sha256
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-master-set.txt
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-not-ready.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-summary.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/recovery-validation-failures.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

chore(easy-drug-en): recovery master set 무결성 검증기 추가
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-verify-set.mjs
Labels: backend

docs: canonicalize development environment docs
  .env.example
  AGENTS.md
  README.md
  SETUP.md
  scripts/README.md
Labels: ci/cd, documentation, security

docs: restructure AI development harness
  AGENTS.md
  CLAUDE.md
Labels: documentation

feat(easy-drug-en): batch-0041~0043 EN 생산 (338 master)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0041.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0041.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0042.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0042.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0043.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0043.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0041-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0042-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0043-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

feat(hff-ja): 정형 계열 구조 압축 + 롱테일 저작 j13~j19, 조립 사고 게이트 신설
  apps/api-server/src/scripts/data/hff-ja-b01-j13-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j14-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j15-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j16-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j17-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j18-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j19-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-regression-v1.json
  apps/api-server/src/scripts/hff-ja-b01-translate.mjs
  apps/api-server/src/scripts/hff-ja-b04-apply.mjs
  apps/api-server/src/scripts/hff-ja-b04-gate.mjs
  apps/api-server/src/scripts/hff-ja-b04-regression.mjs
  apps/api-server/src/scripts/hff-ja-b04-render.mjs
  apps/api-server/src/scripts/hff-ja-b04-verify.mjs
Labels: backend

feat(hff-ja): batch04 JA canonical 2,635건 생산·적재 (구조 압축 + 롱테일 저작 1차)
  apps/api-server/src/scripts/data/hff-ja-b01-j20-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-ids-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-measure-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-verify-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-v1.jsonl
  docs/checks/WO-O4O-HFF-JA-REMAINING-16162-PHRASE-AUTHORING-STRUCTURED-COMPRESSION-AND-CONTINUOUS-SHARDS-V1-CHECK.md
Labels: backend, documentation

feat(easy-drug-en): batch-0044 EN 생산 (134 master / 239 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/recovery-inspect-route.mjs
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0044.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0044.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0044-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

security: rotate development and test credentials
  CLAUDE.md
  docs/baseline/operations/PRODUCTION-MIGRATION-STANDARD.md
Labels: documentation

fix(hff-ja): 수치 범위 이상→異常 오역 프로덕션 120건 교정 (WO-…-IZYOU-154-CORRECTION-V1)
  apps/api-server/src/scripts/data/hff-ja-fix154-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-survey-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-targets-v1.json
  apps/api-server/src/scripts/data/hff-ja-fix154-verify-v1.json
  apps/api-server/src/scripts/hff-ja-b01-translate.mjs
  apps/api-server/src/scripts/hff-ja-fix154-apply.mjs
  apps/api-server/src/scripts/hff-ja-fix154-survey.mjs
  apps/api-server/src/scripts/hff-ja-fix154-verify.mjs
  docs/checks/WO-O4O-HFF-JA-NUMERIC-IZYOU-MISTRANSLATION-154-CORRECTION-V1-CHECK.md
Labels: backend, documentation

docs: repair stale CLAUDE section references
  docs/architecture/O4O-STORE-RULES.md
  docs/baseline/CONTENT-STABLE-DECLARATION-V1.md
  docs/baseline/UX-CORE-FREEZE-V1.md
  docs/baseline/legacy/GLYCOPHARM-LEGACY-POSTMORTEM.md
  docs/platform/content-core/CONTENT-CORE-OVERVIEW.md
  docs/platform/lms/LMS-CORE-CONTRACT.md
  docs/platform/lms/LMS-CORE-EXTENSION-PRINCIPLES.md
  docs/templates/business-web-template/README.md
  docs/templates/business-web-template/api-contract-usage.template.md
  docs/templates/business-web-template/routing-rules.template.md
  docs/templates/business-web-template/service-flow.template.md
  docs/templates/business-web-template/web-rules.template.md
  docs/templates/o4o-store-template/NEW-STORE-CHECKLIST.md
  docs/templates/o4o-store-template/b2c-templates/B2C-TEMPLATE-INDEX.md
  packages/api-types/src/cosmetics.ts
  packages/api-types/src/index.ts
  scripts/check-forbidden-tables.mjs
  scripts/generators/openapi-types-generator.ts
Labels: packages, ci/cd, documentation, typescript

docs: validate AI development environment reproducibility
  CLAUDE.md
  docs/architecture/BUSINESS-SERVICE-RULES.md
  docs/architecture/COSMETICS-DOMAIN-RULES.md
  docs/baseline/E-COMMERCE-ORDER-CONTRACT.md
  docs/checks/CHECK-O4O-AI-DEVELOPMENT-ENVIRONMENT-FINAL-REPRODUCIBILITY-VALIDATION-V1.md
Labels: documentation

feat(easy-drug-en): batch-0045~0046 EN 생산 (244 master)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0045.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0045.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0046.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0046.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0045-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0046-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

feat(hff-ja): 롱테일 연속 저작 1차 사이클 — JA canonical +268 (30,049→30,317)
  apps/api-server/src/scripts/data/hff-ja-b01-j21-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j22-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b01-j23-translations-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-apply-result-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-ids-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-measure-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-regression-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-render-audit-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-rollback-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-safe-targets-v1.json
  apps/api-server/src/scripts/data/hff-ja-b04-verify-v1.json
  apps/api-server/src/scripts/data/hff-ja-deferred-issue-queue-v1.jsonl
  apps/api-server/src/scripts/hff-ja-b01-translate.mjs
  apps/api-server/src/scripts/hff-ja-b04-regression.mjs
  docs/checks/WO-O4O-HFF-JA-REMAINING-LONGTAIL-CONTINUOUS-SHARD-AUTHORING-V2-CHECK.md
Labels: backend, documentation

feat(easy-drug-en): batch-0047 EN 생산 (81 master / 189 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0047.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0047.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/problem-queue.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0047-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

feat(easy-drug-en): batch-0048 EN 생산 (96 master / 114 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0048.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0048.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0048-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

feat(easy-drug-en): batch-0049 EN 생산 (52 master / 182 문장)
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0049.en.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/batches/batch-0049.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/checkpoints.jsonl
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/produce-ingest-0049-result.json
  apps/api-server/src/scripts/easy-drug-en-full-retranslation/results/tm-store.jsonl
Labels: backend

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
