Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

docs(check): WO-O4O-DRUG-OTC-ORAL-SINGLE-DRAFT-BATCH-03-V1 — 단일 경구 3차 batch, 콜레칼시페롤 1000IU grounded 1건 + len7 clean 단일 소진 확인
  docs/checks/CHECK-O4O-DRUG-OTC-ORAL-SINGLE-DRAFT-BATCH-03-V1.md
Labels: documentation

feat(drug-otc): WO-...-COMBO-NONCOLD-NONNUTRITION-DRAFT-DB-APPLY-V1 — A-family 6행 적재 준비(dry-run 검증, apply 승인 대기)
  apps/api-server/src/modules/neture/drug-import/drug-otc-combo-description-draft-content.ts
  apps/api-server/src/modules/neture/drug-import/drug-otc-combo-description-draft-plan.ts
  apps/api-server/src/scripts/drug-otc-combo-description-draft-apply.ts
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-COMBO-NONCOLD-NONNUTRITION-DRAFT-DB-APPLY-V1.md
  docs/work-orders/WO-O4O-DRUG-OTC-DESCRIPTION-COMBO-NONCOLD-NONNUTRITION-DRAFT-DB-APPLY-V1.md
Labels: backend, documentation, typescript

docs(drug-otc): WO-O4O-DRUG-OTC-DESCRIPTION-BATCH-EYE-DRAFT-STAGE2-V1 — 점안제 2단계 원문 grounding 초안 작성 요청서(인공눈물 성분군 CMC/트레할로스/포비돈/히알루론산/PDRN 분리, S01XA20 과병합금지, dry-run·DB write 0)
  docs/work-orders/WO-O4O-DRUG-OTC-DESCRIPTION-BATCH-EYE-DRAFT-STAGE2-V1.md
Labels: documentation

docs(check): WO-O4O-ADMIN-O4O-PRODUCT-MASTER-DETAIL-ACTION-DESIGN-V1 — 기본상품 상세 action 설계
  docs/checks/CHECK-O4O-ADMIN-O4O-PRODUCT-MASTER-DETAIL-ACTION-DESIGN-V1.md
Labels: documentation

docs(check): COMBO DRAFT-DB-APPLY-V1 DONE — A-family 6행 적재 완료(inserted=6, 검산 6==6)
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-COMBO-NONCOLD-NONNUTRITION-DRAFT-DB-APPLY-V1.md
Labels: documentation

docs(check): WO-O4O-DRUG-OTC-ORAL-SINGLE-RESIDUAL-TARGET-REFINEMENT-V1 — 경구 단일제 잔여 정리 (Batch-04 가능 8, coarse=복합제 풀 확인)
  docs/checks/CHECK-O4O-DRUG-OTC-ORAL-SINGLE-RESIDUAL-TARGET-REFINEMENT-V1.md
Labels: documentation

docs: add OTC nutrition combo pilot draft check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-PILOT-DRAFT-V1.md
Labels: documentation

docs(check): WO-O4O-DRUG-OTC-DESCRIPTION-COMBO-DRAFT-REVIEW-AND-PROMOTION-DESIGN-V1 — 복합제 6 draft 검수·승격 설계(read-only)
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-COMBO-DRAFT-REVIEW-AND-PROMOTION-DESIGN-V1.md
Labels: documentation

docs(check): WO-O4O-DRUG-OTC-ORAL-SINGLE-DRAFT-BATCH-04-V1 — 경구 단일제 마지막 batch, grounded 초안 8건 + 단일 경구 트랙 종료 선언
  docs/checks/CHECK-O4O-DRUG-OTC-ORAL-SINGLE-DRAFT-BATCH-04-V1.md
Labels: documentation

docs: add OTC nutrition combo strength split check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-STRENGTH-SPLIT-V1.md
Labels: documentation

docs(drug-otc): WO-O4O-DRUG-OTC-DESCRIPTION-BATCH-EYE-DRAFT-STAGE2B-OTHER-INGREDIENT-EXTRACTION-V1 — 점안 other 603(브랜드명만) SPD 원문서 성분추출→성분군 재분류 요청서. 본문작성 아님·재분류, 농도 창작금지, read-only·DB write 0
  docs/work-orders/WO-O4O-DRUG-OTC-DESCRIPTION-BATCH-EYE-DRAFT-STAGE2B-OTHER-INGREDIENT-EXTRACTION-V1.md
Labels: documentation

feat(admin): WO-O4O-ADMIN-O4O-PRODUCT-MASTER-NOTE-V1 — 기본상품 내부 운영 메모(첫 write)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/migrations/20261212000000-CreateProductMasterNotes.ts
  apps/api-server/src/modules/neture/controllers/product-master-note.controller.ts
  apps/api-server/src/modules/neture/services/product-master-note.service.ts
Labels: frontend, backend, typescript

docs(drug-otc): WO-O4O-DRUG-OTC-DESCRIPTION-BATCH-TOPICAL-LOW-RISK-DRAFT-V1 — 외용 저위험군(항진균/보습/소독) 원문 grounding 초안 작성 요청서. 스테로이드/항생제/국소마취/미백 보류, spec=용기용량 농도아님, read-only·DB write 0
  docs/work-orders/WO-O4O-DRUG-OTC-DESCRIPTION-BATCH-TOPICAL-LOW-RISK-DRAFT-V1.md
Labels: documentation

docs: add OTC nutrition combo split draft revision check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-SPLIT-DRAFT-REVISION-V1.md
Labels: documentation

docs(check): WO-O4O-DRUG-OTC-DESCRIPTION-PROBIOTIC-STRAIN-GROUPING-AND-DRAFT-STANDARD-V1 — A07FA 정장제 607 균주 분류·기준 (다균복합 조성 DB부재 defer, pilot 2~3)
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-PROBIOTIC-STRAIN-GROUPING-AND-DRAFT-STANDARD-V1.md
Labels: documentation

docs: add OTC nutrition combo draft apply dry-run check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-DRAFT-DB-APPLY-V1.md
Labels: documentation

feat(admin): WO-O4O-ADMIN-O4O-PRODUCT-MASTER-AUDIT-LOG-VIEW-V1 — 기본상품 작업 이력 조회(read-only)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/modules/neture/controllers/product-master-audit-log.controller.ts
  apps/api-server/src/modules/neture/services/product-master-audit-log.service.ts
Labels: frontend, backend, typescript

docs: record OTC nutrition combo draft apply result
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-DRAFT-DB-APPLY-V1.md
Labels: documentation

docs(check): WO-O4O-ADMIN-O4O-PRODUCT-IMAGE-ACTION-DESIGN-V1 — 이미지 action 설계
  docs/checks/CHECK-O4O-ADMIN-O4O-PRODUCT-IMAGE-ACTION-DESIGN-V1.md
Labels: documentation

docs: add OTC nutrition combo admin review smoke check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-ADMIN-REVIEW-SMOKE-V1.md
Labels: documentation

docs(check): WO-O4O-DRUG-OTC-DESCRIPTION-PROBIOTIC-A07FA51-STRAIN-SOURCE-ACQUISITION-V1 — 다균복합 46품목 조성 DB전무, MFDS 품목기준코드 100%보유→취득 feasibility HIGH (ETL WO 필요)
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-PROBIOTIC-A07FA51-STRAIN-SOURCE-ACQUISITION-V1.md
Labels: documentation

docs: add OTC nutrition combo canonical review prep check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-REVIEW-CANONICAL-PREP-V1.md
Labels: documentation

feat(o4o-product-db): ProductMaster 이미지 추가·대표 지정 (admin write, Phase 1)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/entities.ts
  apps/api-server/src/database/migrations/20261220000000-AddProductImageActionColumnsAndAuditLogTable.ts
  apps/api-server/src/modules/neture/controllers/product-master-image.controller.ts
  apps/api-server/src/modules/neture/entities/ProductImage.entity.ts
  apps/api-server/src/modules/neture/services/product-master-audit-log.service.ts
Labels: frontend, backend, typescript

fix(o4o-product-db): 이미지 action 버튼 권한 게이트를 라우트 가드에 위임
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
Labels: frontend, typescript

fix(o4o-product-db): 이미지 업로드 multipart Content-Type 강제 json 제거
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
Labels: frontend, typescript

fix(o4o-product-db): 업로드 transformRequest 타입 오류 수정 (as any)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
Labels: frontend, typescript

feat: add OTC nutrition combo canonical promotion dry-run
  apps/api-server/src/scripts/drug-otc-nutrition-combo-canonical-promotion.ts
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-CANONICAL-PROMOTION-SCRIPT-V1.md
Labels: backend, documentation, typescript

feat(o4o-product-db): ProductMaster 이미지 숨김/복원 (soft delete, admin write, Phase 2)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
  apps/api-server/src/modules/neture/controllers/product-master-image.controller.ts
  apps/api-server/src/modules/neture/services/product-image-quality.service.ts
  apps/api-server/src/modules/neture/services/product-master-audit-log.service.ts
  apps/api-server/src/modules/store-ai/services/product-ocr.service.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
Labels: frontend, backend, typescript

feat: add OTC nutrition combo membership persist dry-run
  apps/api-server/src/scripts/drug-otc-nutrition-combo-membership-persist.ts
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-MEMBERSHIP-PERSIST-V1.md
Labels: backend, documentation, typescript

docs: append OTC nutrition combo membership persist apply result (18 groups)
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-MEMBERSHIP-PERSIST-V1.md
Labels: documentation

feat(o4o-product-db): ProductMaster 이미지 숨김·복원 (admin write, Phase 2)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/modules/neture/controllers/product-master-image.controller.ts
  docs/checks/CHECK-O4O-ADMIN-O4O-PRODUCT-IMAGE-SOFT-DELETE-RESTORE-V1.md
Labels: frontend, backend, documentation, typescript

feat: switch OTC nutrition combo promotion to masterIds dry-run
  apps/api-server/src/scripts/drug-otc-nutrition-combo-canonical-promotion.ts
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-CANONICAL-PROMOTION-MASTERIDS-DRYRUN-V1.md
Labels: backend, documentation, typescript

feat: apply OTC nutrition combo canonical promotion (18 groups, 1890 canonical)
  apps/api-server/src/modules/neture/entities/SharedProductDescription.entity.ts
  apps/api-server/src/scripts/drug-otc-nutrition-combo-canonical-promotion.ts
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-CANONICAL-PROMOTION-MASTERIDS-DRYRUN-V1.md
Labels: backend, documentation, typescript

docs(check): Phase 2 소프트삭제·복원 프로덕션 smoke 결과 기록 (PASS)
  docs/checks/CHECK-O4O-ADMIN-O4O-PRODUCT-IMAGE-SOFT-DELETE-RESTORE-V1.md
Labels: documentation

docs: add OTC nutrition combo mismatch fix check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-MISMATCH-FIX-V1.md
Labels: documentation

feat: persist+promote OTC nutrition combo vitamin C 1000mg (25 canonical)
  apps/api-server/src/scripts/drug-otc-nutrition-combo-vitc1000-persist-promote.ts
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-VITC1000-PERSIST-PROMOTE-V1.md
Labels: backend, documentation, typescript

docs: add OTC nutrition combo canonical apply dry-run check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-NUTRITION-COMBO-CANONICAL-APPLY-V1.md
Labels: documentation

docs: add SOURCE GAP handling rules for OTC description writing guide
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-WRITING-GUIDE-SOURCE-GAP-RULE-UPDATE-V1.md
  docs/guides/O4O-DRUG-STORE-DESCRIPTION-WRITING-GUIDE-V1.md
Labels: documentation

feat(o4o-product-db): 숨긴 이미지 read path 전수 제외 (Image Mgmt Phase 1 종료)
  apps/api-server/src/controllers/operator/ProductConsoleController.ts
  apps/api-server/src/modules/neture/services/offer-service-approval.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/neture/services/product-import-common.service.ts
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-products.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  apps/api-server/src/routes/platform/store-handled-products.routes.ts
  docs/checks/CHECK-O4O-ADMIN-O4O-PRODUCT-IMAGE-HIDDEN-FILTER-COVERAGE-V1.md
Labels: backend, documentation, typescript

docs: add OTC antacid/gastric combo bucket + representative draft dry-run check
  docs/checks/CHECK-O4O-DRUG-OTC-DESCRIPTION-ANTACID-GASTRIC-COMBO-DRAFT-V1.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
