Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

refactor: Clean up settings code and remove unused files
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/settings/PolicySettings.tsx
  apps/admin-dashboard/src/pages/settings/ThemeSettings.tsx
  apps/admin-dashboard/src/pages/settings/ThemeSettingsWithAuth.tsx
  apps/admin-dashboard/src/pages/settings/components/InventoryPolicies.tsx
  apps/admin-dashboard/src/pages/settings/components/PartnerPolicies.tsx
  apps/admin-dashboard/src/pages/settings/components/PolicyHistory.tsx
  apps/admin-dashboard/src/pages/settings/components/SalesTargetPolicies.tsx
  apps/admin-dashboard/src/pages/settings/components/UserSecurityPolicies.tsx
Labels: frontend, typescript

refactor: Clean up user code and remove unused files
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/users/UserDeleteModal.tsx
  apps/admin-dashboard/src/components/users/UserForm.tsx
  apps/admin-dashboard/src/components/users/UserQuickEdit.tsx
  apps/admin-dashboard/src/components/users/UserRoleChangeModal.tsx
  apps/admin-dashboard/src/pages/users/RolePermissions.tsx
Labels: frontend, typescript

refactor: Centralize configuration for block, appearance, and CPT modules
  apps/api-server/src/config/appearance.constants.ts
  apps/api-server/src/config/cpt.constants.ts
  apps/api-server/src/config/editor.constants.ts
  apps/api-server/src/config/oauth-providers.ts
  apps/api-server/src/controllers/ThemeController.ts
  apps/api-server/src/controllers/menu/MenuController.ts
  apps/api-server/src/controllers/settingsController.ts
  apps/api-server/src/entities/MenuItem.ts
  apps/api-server/src/modules/cpt-acf/controllers/cpt.controller.ts
  apps/api-server/src/modules/cpt-acf/routes/block-api.routes.ts
  apps/api-server/src/modules/cpt-acf/services/block-data.service.ts
  apps/api-server/src/modules/cpt-acf/services/cpt.service.ts
  apps/api-server/src/routes/block-patterns.routes.ts
  apps/api-server/src/routes/reusable-blocks.routes.ts
  apps/api-server/src/routes/settings.routes.ts
  apps/api-server/src/routes/v1/pages.routes.ts
  apps/api-server/src/services/ThemeService.ts
  apps/api-server/src/services/menu.service.ts
  apps/api-server/src/services/settingsService.ts
Labels: backend, typescript

fix: Update pnpm lockfile for CI/CD compatibility
  pnpm-lock.yaml
Labels: config

fix: Remove console.log statements for production
  apps/admin-dashboard/src/components/vendor/ProductApprovalManager.tsx
  apps/main-site/src/hooks/useBlogSettings.ts
  apps/main-site/src/hooks/useScrollToTopSettings.ts
  apps/main-site/src/hooks/useStickyHeaderSettings.ts
  apps/main-site/src/pages/BlogArchive.tsx
Labels: frontend, typescript

refactor: Remove hardcoded roles and implement dynamic role/permission system
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/hooks/useAdminMenu.ts
  apps/admin-dashboard/src/pages/appearance/astra-customizer/components/panels/BlogPanel.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/types/customizer-types.ts
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/default-settings.ts
  apps/admin-dashboard/src/types/user.ts
  packages/types/src/auth.ts
Labels: frontend, packages, typescript

feat: Phase 1+2A - Enhanced Gutenberg Editor with Advanced UX
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/BlockDragHandle.tsx
  apps/admin-dashboard/src/components/editor/BlockToolbar/BlockToolbar.tsx
  apps/admin-dashboard/src/components/editor/BlockToolbar/ButtonBlockToolbar.tsx
  apps/admin-dashboard/src/components/editor/BlockToolbar/CommonTools.tsx
  apps/admin-dashboard/src/components/editor/BlockToolbar/ImageBlockToolbar.tsx
  apps/admin-dashboard/src/components/editor/BlockToolbar/TextBlockToolbar.tsx
  apps/admin-dashboard/src/components/editor/BlockToolbar/index.ts
  apps/admin-dashboard/src/components/editor/BlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/SlashCommandMenu.tsx
  apps/admin-dashboard/src/styles/editor.css
  apps/admin-dashboard/src/utils/history-manager.ts
Labels: frontend, typescript, styles

feat(cpt-engine): Stage 1 Quick Wins 완료
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/LinkFieldDisplay.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/fields/LinkFieldInput.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/fields/index.ts
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/LocationRuleGroup.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/LocationRuleRow.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/LocationRulesEditor.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/index.ts
  apps/admin-dashboard/src/features/cpt-acf/types/acf.types.ts
  apps/admin-dashboard/src/pages/cpt-engine/field-groups/FieldGroupEditor.tsx
  apps/admin-dashboard/src/pages/cpt-engine/index.tsx
  apps/admin-dashboard/src/pages/cpt-engine/tools/ToolsPage.tsx
  apps/admin-dashboard/src/pages/cpt-engine/tools/components/ExportTab.tsx
  apps/admin-dashboard/src/pages/cpt-engine/tools/components/ImportTab.tsx
Labels: frontend, typescript

feat(cpt-engine): Stage 2 Conditional Logic 완성
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/ConditionalFieldWrapper.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/DependencyVisualizer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/FieldsRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/conditional-logic/ConditionalLogicEditor.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/conditional-logic/ConditionalRuleRow.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/conditional-logic/index.ts
  apps/admin-dashboard/src/features/cpt-acf/components/index.ts
  apps/admin-dashboard/src/features/cpt-acf/hooks/index.ts
  apps/admin-dashboard/src/features/cpt-acf/hooks/useConditionalLogic.ts
  apps/admin-dashboard/src/features/cpt-acf/types/acf.types.ts
  apps/admin-dashboard/src/features/cpt-acf/utils/conditionalLogic.ts
  apps/admin-dashboard/src/features/cpt-acf/utils/index.ts
  apps/admin-dashboard/src/pages/cpt-engine/field-groups/FieldGroupEditor.tsx
  apps/admin-dashboard/src/pages/cpt-engine/field-groups/components/FieldEditor.tsx
Labels: frontend, typescript

feat(cpt-acf): Implement Stage 3 Task 1 - User Role Location Rules
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/CurrentUserInfo.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/index.ts
  apps/admin-dashboard/src/features/cpt-acf/hooks/index.ts
  apps/admin-dashboard/src/features/cpt-acf/hooks/useLocationEvaluation.ts
  apps/admin-dashboard/src/features/cpt-acf/hooks/useLocationRules.ts
  apps/admin-dashboard/src/features/cpt-acf/services/acf.api.ts
  apps/admin-dashboard/src/features/cpt-acf/types/acf.types.ts
  apps/admin-dashboard/src/features/cpt-acf/utils/index.ts
  apps/admin-dashboard/src/features/cpt-acf/utils/locationEvaluation.ts
  apps/admin-dashboard/src/pages/cpt-engine/field-groups/FieldGroupEditor.tsx
Labels: frontend, typescript

feat(cpt-acf): Implement Stage 3 Task 2 - Taxonomy & Category Location
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/CategorySelector.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/LocationRuleRow.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/TaxonomyTermSelector.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/index.ts
  apps/admin-dashboard/src/features/cpt-acf/services/acf.api.ts
  apps/admin-dashboard/src/features/cpt-acf/utils/locationEvaluation.ts
Labels: frontend, typescript

feat: Complete Task 4 - Page/Post Template Location Rules (Stage 3)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/LocationRuleRow.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/TemplateSelector.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/location-rules/index.ts
  apps/admin-dashboard/src/features/cpt-acf/services/acf.api.ts
Labels: frontend, typescript

feat: Complete Task 1 - Repeater Field Basic Structure (Stage 4)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/fields/index.ts
  apps/admin-dashboard/src/features/cpt-acf/types/acf.types.ts
Labels: frontend, typescript

feat: Add Collapse All/Expand All to Repeater Field (Task 2.2)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
Labels: frontend, typescript

feat: Complete Task 2.4 - Repeater Layout Options (Stage 4)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
Labels: frontend, typescript

feat(CPT): Implement drag-and-drop sorting for Repeater field (Task 3.1-3.2)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
  docs/admin/appearance-upgrade-plan.md
Labels: frontend, documentation, typescript

feat(CPT): Enhanced drag-and-drop animations for Repeater (Task 3.3)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
Labels: frontend, typescript

feat(CPT): Add nested repeater support for drag-and-drop isolation (Task 3.4)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
Labels: frontend, typescript

feat(CPT): Implement nested repeater with recursive rendering (Task 4.1, 4.4)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
Labels: frontend, typescript

feat(CPT): Complete nested repeater with value management and optimizations (Task 4.2, 4.3)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/RepeaterFieldInput.tsx
Labels: frontend, typescript

feat(CPT): Implement Front-end Form Renderer with shortcode support (Task 1)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/FormRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/ShortcodeFormRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/ShortcodeRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/fields/index.ts
  apps/admin-dashboard/src/utils/shortcode-parser.ts
Labels: frontend, typescript

feat(CPT): Implement Group Field for organizing sub-fields (Task 2)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/fields/GroupFieldInput.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/fields/index.ts
Labels: frontend, typescript

feat(CPT): Complete Dynamic Shortcodes with ACF field rendering (Task 3)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/ACFShortcodeRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/ShortcodeRenderer.tsx
Labels: frontend, typescript

fix: Correct authClient API usage and shortcode callback signature
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/ACFShortcodeRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/FormRenderer.tsx
Labels: frontend, typescript

fix: Add edge case handling and defensive programming
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/features/cpt-acf/components/ACFShortcodeRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/FormRenderer.tsx
  apps/admin-dashboard/src/features/cpt-acf/components/fields/GroupFieldInput.tsx
Labels: frontend, typescript

docs: Add comprehensive CPT Engine documentation
  apps/admin-dashboard/src/features/cpt-acf/README.md
Labels: frontend

build: Update version to 2025.10.11-1232
  apps/admin-dashboard/public/version.json
Labels: frontend

feat(customizer): Add master token map and naming convention
  apps/admin-dashboard/src/pages/appearance/astra-customizer/NAMING_CONVENTION.md
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/token-map.ts
Labels: frontend, typescript

feat(customizer): Unify CSS variables to --wp-* naming system
  apps/admin-dashboard/src/styles/globals.css
Labels: frontend, styles

feat(customizer): Update CSS generator to produce --wp-* variables
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/css-generator.ts
Labels: frontend, typescript

feat(customizer): Update Tailwind config to use unified --wp-* variables
  apps/admin-dashboard/tailwind.config.cjs
Labels: frontend

build: Update version to 2025.10.11-1254
  apps/admin-dashboard/public/version.json
Labels: frontend

fix(customizer): Update CSS generator to use --wp-* variables in output
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/css-generator.ts
Labels: frontend, typescript

feat(customizer): Restore General section UI with scroll-to-top, buttons, and breadcrumbs settings
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/types/customizer-types.ts
Labels: frontend, typescript

fix(layout): Fix theme class conflicts by using classList instead of className assignment
  apps/main-site/src/components/layout/Layout.tsx
Labels: frontend, typescript

feat(api): Implement customizer API endpoints for scroll-to-top, buttons, and breadcrumbs
  apps/api-server/src/main.ts
  apps/api-server/src/routes/v1/customizer.routes.ts
  apps/api-server/src/utils/deep-merge.ts
  apps/api-server/src/validators/customizer.validators.ts
Labels: backend, typescript

feat(main-site): Update hooks to use new customizer API endpoints
  apps/main-site/src/hooks/useBreadcrumbsSettings.ts
  apps/main-site/src/hooks/useButtonSettings.ts
  apps/main-site/src/hooks/useScrollToTopSettings.ts
Labels: frontend, typescript

feat(api): Implement schema migration system for customizer settings
  apps/api-server/src/routes/v1/customizer.routes.ts
  apps/api-server/src/utils/schema-migration.ts
Labels: backend, typescript

test(api): Add comprehensive tests and migration guide
  apps/api-server/MIGRATION_GUIDE.md
  apps/api-server/src/__tests__/deep-merge.test.ts
  apps/api-server/src/__tests__/schema-migration.test.ts
Labels: backend, testing, typescript

feat: Complete Day 4 - Final stabilization and comprehensive documentation
  apps/admin-dashboard/API_REFERENCE.md
  apps/admin-dashboard/CUSTOMIZER_DEVELOPER_GUIDE.md
  apps/admin-dashboard/CUSTOMIZER_USER_GUIDE.md
  apps/admin-dashboard/TROUBLESHOOTING.md
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/test/e2e/README.md
  apps/admin-dashboard/src/test/e2e/customizer-errors.spec.ts
  apps/admin-dashboard/src/test/e2e/customizer.spec.ts
  apps/admin-dashboard/src/test/e2e/global-setup.ts
  apps/admin-dashboard/src/test/e2e/global-teardown.ts
  apps/main-site/src/components/common/ButtonStyleProvider.tsx
Labels: frontend, testing, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
