Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

fix(typeorm): WO-O4O-GUIDE-CONTENT-DATASOURCE-REGISTER-V1 — register GuideContent in DataSource
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

feat(inline-edit): WO-O4O-SERVICE-INLINE-EDIT-PORT-GK-V1 — port guide inline edit to GlycoPharm and K-Cosmetics
  services/web-glycopharm/src/api/guideContent.ts
  services/web-glycopharm/src/components/guide/GuideEditableSection.tsx
  services/web-glycopharm/src/components/guide/index.ts
  services/web-glycopharm/src/pages/hub/StoreHubPage.tsx
  services/web-glycopharm/src/pages/store-management/CustomerRequestsPage.tsx
  services/web-glycopharm/src/pages/store/StoreChannelsPage.tsx
  services/web-k-cosmetics/src/api/guideContent.ts
  services/web-k-cosmetics/src/components/guide/GuideEditableSection.tsx
  services/web-k-cosmetics/src/components/guide/index.ts
  services/web-k-cosmetics/src/pages/hub/KCosmeticsHubPage.tsx
  services/web-k-cosmetics/src/pages/store/InterestRequestsPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreChannelsPage.tsx
Labels: typescript

fix(k-cosmetics): update test login button to k-cosmetics dedicated account
  services/web-k-cosmetics/src/pages/auth/LoginPage.tsx
Labels: typescript

feat(k-cosmetics): add favicon
  services/web-k-cosmetics/index.html
  services/web-k-cosmetics/public/favicon.svg
Labels: none

fix(typeorm): WO-O4O-GUIDE-CONTENT-CIRCULAR-DEP-FIX-V1 — import GuideContent directly from entity file
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

fix(inline-edit): WO-O4O-GUIDE-INLINE-EDIT-TRIM-GUARD-V1 — guard dbContent.trim() against non-string editorValue
  services/web-glycopharm/src/components/guide/GuideEditableSection.tsx
  services/web-k-cosmetics/src/components/guide/GuideEditableSection.tsx
  services/web-kpa-society/src/components/guide/GuideEditableSection.tsx
Labels: typescript

fix(inline-edit): block save when editorValue is non-string to prevent [object Object] in DB
  services/web-glycopharm/src/components/guide/GuideEditableSection.tsx
  services/web-k-cosmetics/src/components/guide/GuideEditableSection.tsx
  services/web-kpa-society/src/components/guide/GuideEditableSection.tsx
Labels: typescript

feat(kpa/resources): WO-KPA-RESOURCES-OWNER-ACTIONS-AND-TAKE-V1 — owner edit/delete + take action
  packages/shared-space-ui/src/ResourcesHubTemplate.tsx
  services/web-kpa-society/src/pages/resources/ResourcesHubPage.tsx
Labels: packages, typescript

feat(kpa-society/guide): WO-O4O-GUIDE-QR-TABLET-MANUAL-V1 — add /guide/features/qr page with editable sections
  packages/shared-space-ui/src/guide/copy/kpa.ts
  packages/shared-space-ui/src/guide/index.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/guide/GuideFeatureQrTabletPage.tsx
Labels: packages, typescript

fix(migration): WO-O4O-STORE-FLOW-BLOCKER-FIX-V1 — BUG-1 + BUG-2
  apps/api-server/src/database/migrations/20260906000000-AddRequestedSlugToCosmeticsApplications.ts
  apps/api-server/src/database/migrations/20260906100000-AddEventOfferColumnsToListings.ts
Labels: backend, typescript

feat(kpa-society/guide): WO-O4O-GUIDE-STORE-MANUAL-V1 — add /guide/features/store page with editable sections
  packages/shared-space-ui/src/guide/copy/kpa.ts
  packages/shared-space-ui/src/guide/index.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/guide/GuideFeatureStorePage.tsx
Labels: packages, typescript

feat(kpa/resources): WO-O4O-KPA-RESOURCES-DATA-GUARD-AND-RETEST-V1 — usage_type 입력 가드
  services/web-kpa-society/src/pages/resources/ResourceWritePage.tsx
Labels: typescript

feat(kpa-society/guide): WO-O4O-GUIDE-LMS-MANUAL-V1 — add /guide/features/lms page with editable sections
  packages/shared-space-ui/src/guide/copy/kpa.ts
  packages/shared-space-ui/src/guide/index.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/guide/GuideFeatureLmsPage.tsx
Labels: packages, typescript

feat(k-cosmetics): WO-KCOS-HOME-NAV-EXPOSURE-CLEANUP-V1 — gate store-hub nav to store_owner, remove 자료실/매장HUB home cards
  services/web-k-cosmetics/src/components/common/Header.tsx
  services/web-k-cosmetics/src/pages/HomePage.tsx
Labels: typescript

fix(kpa/resources): WO-KPA-RESOURCES-VIEW-AND-COPY-SEPARATION-FIX-V1
  packages/shared-space-ui/package.json
  packages/shared-space-ui/src/ResourcesHubTemplate.tsx
  pnpm-lock.yaml
Labels: packages, config, dependencies, typescript

feat(table/resources): WO-O4O-KPA-RESOURCES-LIST-ORDER-AND-OWNER-ACTIONS-V1 — fix actions column position to rightmost
  packages/shared-space-ui/src/ResourcesHubTemplate.tsx
  packages/ui/src/components/table/BaseTable.tsx
  packages/ui/src/components/table/types.ts
Labels: packages, typescript

feat(signage): WO-KPA-SIGNAGE-OWNER-ACTIONS-V1 — add author column + owner/operator edit-delete to signage list
  packages/shared-space-ui/src/SignageManagerTemplate.tsx
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Labels: packages, typescript

feat(forum): remove orphan category structure and clean stale postCounts
  apps/api-server/src/database/migrations/20260906200000-CleanupOrphanForumCategories.ts
  services/web-kpa-society/src/pages/forum/ForumListPage.tsx
  services/web-kpa-society/src/pages/forum/ForumWritePage.tsx
Labels: backend, typescript

fix(forum): flatten authorName/categoryName in post API response
  apps/api-server/src/controllers/forum/ForumControllerBase.ts
  apps/api-server/src/controllers/forum/ForumPostController.ts
Labels: backend, typescript

fix(kpa): WO-KPA-CONTENT-RESOURCE-SUBTYPE-SEPARATION-V1
  apps/api-server/src/database/migrations/20260430100000-BackfillKpaContentsSubType.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/resources.ts
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
  services/web-kpa-society/src/pages/contents/ContentWritePage.tsx
  services/web-kpa-society/src/pages/resources/ResourceWritePage.tsx
Labels: backend, typescript

feat(k-cosmetics): WO-KCOS-HOME-APPENTRY-RESOURCES-RESTORE-V1 — 자료실 카드 복원
  services/web-k-cosmetics/src/pages/HomePage.tsx
Labels: typescript

feat(forum): complete category removal — single feed, no category structure
  apps/api-server/src/controllers/forum/ForumPostController.ts
  apps/api-server/src/database/migrations/20260906300000-ForumFullCategoryRemoval.ts
  services/web-kpa-society/src/pages/forum/ForumListPage.tsx
  services/web-kpa-society/src/pages/forum/ForumWritePage.tsx
  services/web-kpa-society/src/types/index.ts
Labels: backend, typescript

fix(forum): remove categoryName from post API response
  apps/api-server/src/controllers/forum/ForumControllerBase.ts
Labels: backend, typescript

feat(kpa-lms): WO-KPA-LMS-INSTRUCTOR-ENTRY-CTA-AND-PROFILE-FIX-V1 — 강사 신청/심사중/강의등록 CTA 추가
  services/web-kpa-society/src/pages/lms/EducationPage.tsx
  services/web-kpa-society/src/pages/mypage/MyQualificationsPage.tsx
Labels: typescript

feat(kpa-society/content): WO-KPA-CONTENT-QUIZ-REMOVE-V1 — remove quiz from content hub, redirect to LMS
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/contents/ContentListPage.tsx
  services/web-kpa-society/src/pages/contents/ContentTypeSelectPage.tsx
  services/web-kpa-society/src/pages/contents/ContentWritePage.tsx
Labels: typescript

feat(forum): WO-O4O-FORUM-TAG-UX-AND-SEARCH-V1 — add tag filter bar and popular tags API
  apps/api-server/src/controllers/forum/ForumPostController.ts
  apps/api-server/src/routes/forum/forum.routes.ts
  services/web-kpa-society/src/api/forum.ts
  services/web-kpa-society/src/components/forum/ForumCategorySection.tsx
  services/web-kpa-society/src/pages/forum/ForumHomePage.tsx
  services/web-kpa-society/src/pages/forum/ForumListPage.tsx
Labels: backend, typescript

feat(operator-menu): WO-KPA-LMS-INSTRUCTOR-APPROVAL-RELOCATE-V1 — restructure operator sidebar menu
  packages/ui/src/operator-shell/constants.ts
  packages/ui/src/operator-shell/types.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
Labels: packages, typescript

fix(kpa/types): remove categoryId from CreatePostRequest — forum category structure removed
  services/web-kpa-society/src/types/index.ts
Labels: typescript

chore: remove playwright screenshot files
  .playwright-mcp/ir-step1-homepage.png
  .playwright-mcp/ir-step2-after-login.png
  .playwright-mcp/ir-step3-operator-dashboard.png
  .playwright-mcp/ir-step5-direct-access.png
  .playwright-mcp/ir-step6-back-button.png
  .playwright-mcp/kpa-mobile-menu-open.png
  .playwright-mcp/kpa-mobile-operator-before-menu.png
  .playwright-mcp/kpa-operator-authenticated.png
  .playwright-mcp/kpa-operator-clean.png
  .playwright-mcp/kpa-operator-mobile.png
  .playwright-mcp/kpa-operator-noauth.png
  .playwright-mcp/page-2026-04-22T05-55-00-675Z.png
  .playwright-mcp/page-2026-04-22T05-55-09-323Z.png
  .playwright-mcp/page-2026-04-22T05-55-20-278Z.png
  .playwright-mcp/page-2026-04-22T06-01-52-486Z.png
  .playwright-mcp/page-2026-04-22T06-02-12-939Z.png
Labels: none

fix(kpa-society/forum): rename forum title and add categoryPath
  services/web-kpa-society/src/pages/forum/ForumHomePage.tsx
Labels: typescript

fix(kpa-society): unblock build after recent pull
  services/web-kpa-society/src/components/guide/GuideEditableSection.tsx
  services/web-kpa-society/src/pages/resources/ResourceWritePage.tsx
Labels: typescript

refactor(kpa-society/pharmacy-store): collapse redundant pharmacyInfo dynamic import
  services/web-kpa-society/src/pages/pharmacy/PharmacyStorePage.tsx
Labels: typescript

refactor(kpa-society): apply route code splitting PoC
  services/web-kpa-society/src/App.tsx
Labels: typescript

refactor(kpa-society): complete route code splitting
  services/web-kpa-society/src/App.tsx
Labels: typescript

feat(forum): multi-forum reconstruction without category
  apps/api-server/src/controllers/forum/ForumPostController.ts
  apps/api-server/src/database/migrations/20260907000000-AddForumIdToForumPostAndSlugToRequests.ts
  apps/api-server/src/modules/forum/forum-query.service.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  packages/forum-core/src/backend/entities/ForumCategoryRequest.ts
  packages/forum-core/src/backend/entities/ForumPost.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/home.ts
  services/web-kpa-society/src/components/forum/ForumHubSection.tsx
  services/web-kpa-society/src/pages/forum/ForumFeedPage.tsx
  services/web-kpa-society/src/pages/forum/ForumWritePage.tsx
  services/web-kpa-society/src/types/index.ts
Labels: backend, packages, typescript

refactor(forum): WO-O4O-FORUM-CATEGORY-CLEANUP-V1 — remove forum_category refs, migrate to forum_id
  apps/api-server/src/modules/forum/forum-query.service.ts
  packages/forum-core/src/backend/entities/ForumPost.ts
Labels: backend, packages, typescript

feat(kpa/qualification): instructor approval flow improvements
  apps/api-server/src/routes/kpa/controllers/qualification.controller.ts
  services/web-kpa-society/src/api/qualification.ts
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
Labels: backend, typescript

feat(forum): WO-O4O-FORUM-CATEGORY-CLEANUP-V1 — remove forum_category references from application code
  apps/api-server/src/controllers/forum/ForumCommentController.ts
  apps/api-server/src/controllers/forum/ForumControllerBase.ts
  apps/api-server/src/controllers/forum/ForumPostController.ts
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  apps/api-server/src/routes/kpa/services/forum-membership.service.ts
  apps/api-server/src/routes/kpa/services/forum-request.service.ts
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
  services/web-kpa-society/src/types/index.ts
Labels: backend, typescript

feat(operator): WO-O4O-OPERATOR-CONTENT-APPROVAL-PHASE1-V1 — content approval system for hub submissions and store share requests
  apps/admin-dashboard/src/pages/operator/ContentApprovalsPage.tsx
  apps/admin-dashboard/src/routes/platform.routes.tsx
  apps/api-server/src/routes/kpa/controllers/content-approval.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/kpa/services/content-approval.service.ts
Labels: frontend, backend, typescript

feat(supplier): WO-O4O-SUPPLIER-CONTENT-SUBMISSION-PHASE1-V1 — supplier marketing material submission with hub approval flow
  apps/admin-dashboard/src/admin/menu/admin-menu.static.tsx
  apps/admin-dashboard/src/pages/operator/ContentApprovalsPage.tsx
  apps/admin-dashboard/src/pages/supplierops/SupplierOpsRouter.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/MarketingMaterials.tsx
  apps/admin-dashboard/src/pages/supplierops/pages/MarketingMaterialsCreate.tsx
  apps/api-server/src/routes/kpa/controllers/supplier-content.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/kpa/services/supplier-content.service.ts
Labels: frontend, backend, typescript
