Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

refactor(pharmacy-hub): keep forum route diff minimal
  services/web-pharmacy-hub/src/App.tsx
Labels: typescript

refactor(pharmacy-hub): keep shared forum Docker diff minimal
  services/web-pharmacy-hub/Dockerfile
Labels: none

refactor(pharmacy-hub): keep community entry diff minimal
  services/web-pharmacy-hub/src/pages/HomePage.tsx
Labels: typescript

feat(store-ui-core): 내 매장 홈 canonical 파트 4종 + StoreHomeShell 헤더/상태/신호/KPI 슬롯 (WO-O4O-MY-STORE-HOME-CROSSSERVICE-COMMONIZATION-V1)
  packages/store-ui-core/src/components/StoreHomeShell.tsx
  packages/store-ui-core/src/components/home/StoreHomeActivityPanel.tsx
  packages/store-ui-core/src/components/home/StoreHomeMetricGrid.tsx
  packages/store-ui-core/src/components/home/StoreHomeSignalList.tsx
  packages/store-ui-core/src/components/home/StoreHomeStateView.tsx
  packages/store-ui-core/src/index.ts
Labels: packages, typescript

refactor(kpa): 내 매장 홈을 canonical 셸 파트로 위임 (WO-O4O-MY-STORE-HOME-CROSSSERVICE-COMMONIZATION-V1)
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
Labels: typescript

refactor(k-cosmetics): 매장 코크핏을 canonical 셸 파트로 위임 (WO-O4O-MY-STORE-HOME-CROSSSERVICE-COMMONIZATION-V1)
  services/web-k-cosmetics/src/pages/operator/StoreCockpitPage.tsx
Labels: typescript

refactor(pharmacy-hub): 매장 경영 홈 canonical 셸 최초 채택 (WO-O4O-MY-STORE-HOME-CROSSSERVICE-COMMONIZATION-V1)
  services/web-pharmacy-hub/src/pages/store-owner/HomePage.tsx
Labels: typescript

docs(check): 4서비스 내 매장 홈 공통화 검증 기록 (WO-O4O-MY-STORE-HOME-CROSSSERVICE-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-HOME-CROSSSERVICE-COMMONIZATION-V1.md
Labels: documentation

chore(ci): one-shot community lockfile sync
  .github/workflows/community-lockfile-sync.yml
Labels: ci/cd

chore(ci): verify community phase 1
  .github/workflows/community-phase1-verify.yml
Labels: ci/cd

fix(pharmacy-hub): type forum directory adapter rows
  services/web-pharmacy-hub/src/services/forumApi.ts
Labels: typescript

fix(kpa): activity_type→pharmacy_owner 경로에도 organization 주소·약국 전화 초기화 정렬 (WO-O4O-KPA-ACTIVITY-TYPE-PHARMACY-OWNER-ORGANIZATION-CONTACT-ALIGNMENT-V1)
  apps/api-server/src/routes/kpa/controllers/__tests__/member.controller.infoOrgContactSync.test.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  docs/checks/CHECK-O4O-KPA-ACTIVITY-TYPE-PHARMACY-OWNER-ORGANIZATION-CONTACT-ALIGNMENT-V1.md
Labels: backend, documentation, testing, typescript

fix(kpa): 승인 시 organization 주소·약국 전화 write 를 공통 resolver 로 정렬 (WO-O4O-KPA-APPROVAL-ORGANIZATION-CONTACT-WRITE-ALIGNMENT-V1)
  apps/api-server/src/routes/kpa/controllers/__tests__/member.controller.orgContactSync.test.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/shared/__tests__/organizationContactSync.test.ts
  apps/api-server/src/routes/kpa/shared/organizationContactSync.ts
  docs/checks/CHECK-O4O-KPA-APPROVAL-ORGANIZATION-CONTACT-WRITE-ALIGNMENT-V1.md
Labels: backend, documentation, testing, typescript

feat(pharmacy-hub): 운영자 영역 공통 OperatorAreaShell 편입 (WO-O4O-PHARMACY-HUB-OPERATOR-SHELL-COMMON-CORE-ADOPTION-V1)
  docs/checks/CHECK-O4O-PHARMACY-HUB-OPERATOR-SHELL-COMMON-CORE-ADOPTION-V1.md
  pnpm-lock.yaml
  services/web-pharmacy-hub/package.json
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/components/operator/OperatorHeader.tsx
  services/web-pharmacy-hub/src/config/operatorCapabilities.ts
  services/web-pharmacy-hub/src/config/operatorMenuGroups.ts
  services/web-pharmacy-hub/src/layouts/OperatorLayoutWrapper.tsx
  services/web-pharmacy-hub/tailwind.config.js
Labels: config, documentation, dependencies, typescript, javascript

feat(pharmacy-hub): 매장허브 홈 /store-hub 추가 — 공통 StoreHubTemplate 소비 (WO-O4O-PHARMACY-HUB-STORE-HUB-HOME-INTRODUCTION-V1)
  docs/checks/CHECK-O4O-PHARMACY-HUB-STORE-HUB-HOME-INTRODUCTION-V1.md
  pnpm-lock.yaml
  services/web-pharmacy-hub/Dockerfile
  services/web-pharmacy-hub/package.json
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/pages/store-hub/StoreHubPage.tsx
Labels: config, documentation, dependencies, typescript

feat(store-ui-core): 매장 경영활용 제품 공통 목록 UI 추출 (WO-O4O-MY-STORE-HANDLED-PRODUCTS-VIEW-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-HANDLED-PRODUCTS-VIEW-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/handled-products/HandledProductsListParts.tsx
  packages/store-ui-core/src/index.ts
  services/web-kpa-society/src/pages/pharmacy/StoreHandledProductsPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/HandledProductsPage.tsx
Labels: packages, documentation, typescript

feat(store-ui-core): 매장 자체 상품 KPA 수렴 — Manager 슬롯 확장 (WO-O4O-MY-STORE-LOCAL-PRODUCTS-CROSSSERVICE-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-LOCAL-PRODUCTS-CROSSSERVICE-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/local-products/StoreLocalProductsManager.tsx
  packages/store-ui-core/src/index.ts
  services/web-kpa-society/src/pages/pharmacy/StoreLocalProductsPage.tsx
Labels: packages, documentation, typescript

refactor(store-hub): commonize supply product explorer
  docs/checks/CHECK-O4O-STORE-HUB-SUPPLY-PRODUCT-EXPLORER-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/supply-catalog/SupplyCatalogHub.tsx
  packages/store-ui-core/src/components/supply-catalog/SupplyProductExplorer.tsx
  packages/store-ui-core/src/components/supply-catalog/useSupplyProductList.ts
  packages/store-ui-core/src/index.ts
  services/web-pharmacy-hub/src/pages/store-owner/ProductsPage.tsx
  services/web-pharmacy-hub/tailwind.config.js
Labels: packages, documentation, typescript, javascript

feat(store-ui-core): 내 매장 홈 바로가기 그리드 공통화 (WO-O4O-MY-STORE-HOME-SHORTCUT-GRID-CROSSSERVICE-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-HOME-SHORTCUT-GRID-CROSSSERVICE-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/home/StoreHomeShortcutGrid.tsx
  packages/store-ui-core/src/index.ts
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/HomePage.tsx
Labels: packages, documentation, typescript

chore(ci): apply community forum list A-B contract
  .github/workflows/community-forum-list-ab-apply.yml
Labels: ci/cd

fix(forum): scope post lists by service code
  .github/workflows/community-forum-list-ab-apply.yml
  apps/api-server/src/controllers/forum/ForumPostController.ts
  apps/api-server/src/routes/forum/admin-forum.routes.ts
  apps/api-server/src/routes/forum/operator-forum.routes.ts
Labels: backend, ci/cd, typescript

chore(ci): apply PharmacyHub forum list adoption
  .github/workflows/community-forum-list-c-apply.yml
Labels: ci/cd

feat(pharmacy-hub): adopt common forum list
  .github/workflows/community-forum-list-c-apply.yml
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/pages/forum/ForumHubPage.tsx
  services/web-pharmacy-hub/src/pages/forum/ForumListPage.tsx
  services/web-pharmacy-hub/src/services/forumApi.ts
Labels: ci/cd, typescript

chore(ci): verify community forum list commonization
  .github/workflows/community-forum-list-verify.yml
Labels: ci/cd

chore(ci): align forum list verification with api dependency build
  .github/workflows/community-forum-list-verify.yml
Labels: ci/cd

feat(store-ui-core): 내 매장 홈 매장 상태 카드 구성 공통화 (WO-O4O-MY-STORE-HOME-STORE-STATUS-CARD-CROSSSERVICE-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-HOME-STORE-STATUS-CARD-CROSSSERVICE-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/home/StoreHomeStatusCard.tsx
  packages/store-ui-core/src/index.ts
  services/web-k-cosmetics/src/pages/operator/StoreCockpitPage.tsx
  services/web-pharmacy-hub/src/pages/store-owner/HomePage.tsx
Labels: packages, documentation, typescript

fix(pharmacy-hub): type forum post normalization row
  services/web-pharmacy-hub/src/services/forumApi.ts
Labels: typescript

feat(pharmacy-hub): 공급자 영역 셸 편입 (WO-O4O-PHARMACY-HUB-SUPPLIER-SHELL-COMMON-CORE-ADOPTION-V1)
  docs/checks/CHECK-O4O-PHARMACY-HUB-SUPPLIER-SHELL-COMMON-CORE-ADOPTION-V1.md
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/components/supplier/SupplierHeader.tsx
  services/web-pharmacy-hub/src/config/supplierMenu.ts
  services/web-pharmacy-hub/src/layouts/SupplierShell.tsx
Labels: documentation, typescript

docs(check): close community forum list commonization
  .github/workflows/community-forum-list-verify.yml
  docs/investigations/CHECK-O4O-COMMUNITY-FORUM-LIST-COMMONIZATION-V1.md
Labels: ci/cd, documentation

refactor(store-hub): commonize supplier content explorer
  docs/checks/CHECK-O4O-STORE-HUB-SUPPLIER-CONTENT-EXPLORER-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/hub-import/useHubImportLibrary.ts
  packages/store-ui-core/src/index.ts
  services/web-k-cosmetics/src/pages/hub/HubBlogLibraryPage.tsx
  services/web-k-cosmetics/src/pages/hub/HubPopLibraryPage.tsx
  services/web-k-cosmetics/src/pages/hub/HubQrLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubBlogLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubPopLibraryPage.tsx
  services/web-kpa-society/src/pages/pharmacy/HubQrLibraryPage.tsx
Labels: packages, documentation, typescript

docs(check): 내 매장 콘텐츠·제작 영역 서비스 간 공통화 조사 (WO-O4O-MY-STORE-CONTENT-PRODUCTION-CROSSSERVICE-AUDIT-V1)
  docs/checks/CHECK-O4O-MY-STORE-CONTENT-PRODUCTION-CROSSSERVICE-AUDIT-V1.md
Labels: documentation

refactor(store-hub): commonize event offers
  docs/checks/CHECK-O4O-STORE-HUB-EVENT-OFFER-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/event-offers/EventOffersHubList.tsx
  packages/store-ui-core/src/components/event-offers/eventOfferCart.ts
  packages/store-ui-core/src/components/event-offers/eventOfferStatus.ts
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/utils/eventOfferCart.ts
  services/web-k-cosmetics/src/utils/eventOfferCart.ts
  services/web-kpa-society/src/pages/event-offer/KpaEventOfferPage.tsx
  services/web-kpa-society/src/utils/eventOfferCart.ts
Labels: packages, documentation, typescript

refactor(store-ui-core): KCos·GP POP 제작 흐름 공통화 (WO-O4O-MY-STORE-POP-COMPOSER-KCOS-GP-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-POP-COMPOSER-KCOS-GP-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/pop/PopAiContentPanel.tsx
  packages/store-ui-core/src/components/pop/PopGenerateBar.tsx
  packages/store-ui-core/src/components/pop/PopLayoutTemplateSection.tsx
  packages/store-ui-core/src/components/pop/PopLocalProductSection.tsx
  packages/store-ui-core/src/components/pop/PopQrSelector.tsx
  packages/store-ui-core/src/components/pop/PopStateBlocks.tsx
  packages/store-ui-core/src/components/pop/PopSupplierItemSelector.tsx
  packages/store-ui-core/src/components/pop/StorePopComposerView.tsx
  packages/store-ui-core/src/components/pop/index.ts
  packages/store-ui-core/src/components/pop/popHelpers.ts
  packages/store-ui-core/src/components/pop/popStyles.ts
  packages/store-ui-core/src/components/pop/types.ts
  packages/store-ui-core/src/components/pop/usePopComposer.ts
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/pages/store-management/StorePopPage.tsx
  services/web-k-cosmetics/src/pages/store/StorePopPage.tsx
Labels: packages, documentation, typescript

refactor(store-hub): commonize product application and cart
  docs/checks/CHECK-O4O-STORE-HUB-PRODUCT-APPLICATION-AND-CART-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/store-cart/StoreCartView.tsx
  packages/store-ui-core/src/components/store-cart/storeCartTypes.ts
  packages/store-ui-core/src/components/store-cart/useStoreCart.ts
  packages/store-ui-core/src/components/supply-catalog/SupplyCatalogHub.tsx
  packages/store-ui-core/src/components/supply-catalog/useSupplyProductApplication.ts
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/api/storeCart.ts
  services/web-glycopharm/src/pages/store-cart/StoreCartPage.tsx
  services/web-k-cosmetics/src/api/storeCart.ts
  services/web-k-cosmetics/src/pages/store-cart/StoreCartPage.tsx
  services/web-kpa-society/src/api/storeCart.ts
  services/web-kpa-society/src/pages/pharmacy/HubB2BCatalogPage.tsx
  services/web-kpa-society/src/pages/store-cart/StoreCartPage.tsx
Labels: packages, documentation, typescript

refactor(pharmacy-hub): 운영자 가입 신청 콘솔을 @o4o/operator-core-ui 로 공통화 (WO-O4O-PHARMACY-HUB-OPERATOR-MEMBERSHIP-CONSOLE-COMMON-CORE-ADOPTION-V1)
  docs/checks/CHECK-O4O-PHARMACY-HUB-OPERATOR-MEMBERSHIP-CONSOLE-COMMON-CORE-ADOPTION-V1.md
  packages/operator-core-ui/src/modules/members/OperatorMembersConsolePage.tsx
  packages/operator-core-ui/src/modules/members/types.ts
  pnpm-lock.yaml
  services/web-pharmacy-hub/Dockerfile
  services/web-pharmacy-hub/package.json
  services/web-pharmacy-hub/src/lib/membershipConsoleClient.ts
  services/web-pharmacy-hub/src/pages/operator/MembershipDetailPage.tsx
  services/web-pharmacy-hub/src/pages/operator/MembershipsPage.tsx
  services/web-pharmacy-hub/tailwind.config.js
Labels: packages, config, documentation, dependencies, typescript, javascript

refactor(store-library): KCos·GP 자료함 Resources+Contents 공통화 (WO-O4O-MY-STORE-LIBRARY-RESOURCES-CONTENTS-KCOS-GP-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-LIBRARY-RESOURCES-CONTENTS-KCOS-GP-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/library/StoreLibraryContentRow.tsx
  packages/store-ui-core/src/components/library/StoreLibraryContentsView.tsx
  packages/store-ui-core/src/components/library/StoreLibraryPageShell.tsx
  packages/store-ui-core/src/components/library/StoreLibraryResourceRow.tsx
  packages/store-ui-core/src/components/library/StoreLibraryResourcesView.tsx
  packages/store-ui-core/src/components/library/index.ts
  packages/store-ui-core/src/components/library/libraryHelpers.ts
  packages/store-ui-core/src/components/library/libraryStyles.ts
  packages/store-ui-core/src/components/library/types.ts
  packages/store-ui-core/src/components/library/useStoreLibraryList.ts
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/pages/store-management/StoreLibraryContentsPage.tsx
  services/web-glycopharm/src/pages/store-management/StoreLibraryResourcesPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreLibraryContentsPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreLibraryResourcesPage.tsx
Labels: packages, documentation, typescript

refactor(store-hub): finalize cross-service commonization
  docs/checks/CHECK-O4O-STORE-HUB-CROSSSERVICE-FINAL-COMMONIZATION-AUDIT-AND-CLEANUP-V1.md
  packages/store-ui-core/src/components/store-cart/createStoreCartApi.ts
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/api/storeCart.ts
  services/web-k-cosmetics/src/api/storeCart.ts
  services/web-kpa-society/src/api/storeCart.ts
  services/web-pharmacy-hub/src/layouts/StoreOwnerShell.tsx
  services/web-pharmacy-hub/src/pages/store-owner/HomePage.tsx
Labels: packages, documentation, typescript

refactor(store-tablet): KCos·GP 태블릿 진열 관리 화면 공통화 (WO-O4O-MY-STORE-TABLET-DISPLAYS-KCOS-GP-COMMONIZATION-V1)
  docs/checks/CHECK-O4O-MY-STORE-TABLET-DISPLAYS-KCOS-GP-COMMONIZATION-V1.md
  packages/store-ui-core/src/components/tablet/StoreTabletDisplaysView.tsx
  packages/store-ui-core/src/components/tablet/TabletDisplayListPanel.tsx
  packages/store-ui-core/src/components/tablet/TabletIdlePlaylistSection.tsx
  packages/store-ui-core/src/components/tablet/TabletProductPoolPanel.tsx
  packages/store-ui-core/src/components/tablet/TabletProductTypeBadge.tsx
  packages/store-ui-core/src/components/tablet/TabletSelectorBar.tsx
  packages/store-ui-core/src/components/tablet/TabletStateBlocks.tsx
  packages/store-ui-core/src/components/tablet/index.ts
  packages/store-ui-core/src/components/tablet/tabletHelpers.ts
  packages/store-ui-core/src/components/tablet/types.ts
  packages/store-ui-core/src/components/tablet/useStoreTabletDisplays.ts
  packages/store-ui-core/src/index.ts
  services/web-glycopharm/src/pages/store-management/StoreTabletDisplaysPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreTabletDisplaysPage.tsx
Labels: packages, documentation, typescript

docs(check): store-hub 최종 공통화 browser smoke 실측 기록
  docs/checks/CHECK-O4O-STORE-HUB-CROSSSERVICE-FINAL-COMMONIZATION-AUDIT-AND-CLEANUP-V1.md
Labels: documentation

docs(store-hub): audit full feature commonization gaps
  docs/checks/CHECK-O4O-STORE-HUB-CROSSSERVICE-FINAL-COMMONIZATION-AUDIT-AND-CLEANUP-V1.md
  docs/checks/CHECK-O4O-STORE-HUB-FULL-FEATURE-INVENTORY-AND-COMMONIZATION-GAP-AUDIT-V1.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
