Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(kpa): WO-O4O-REGISTRATION-STRUCTURE-REFACTOR-V1 — expand KPA membership to 4 groups
  apps/api-server/src/database/connection.ts
  apps/api-server/src/migrations/1771200000023-AddKpaMemberSubRole.ts
  apps/api-server/src/migrations/1771200000024-CreateKpaExternalExpertProfiles.ts
  apps/api-server/src/migrations/1771200000025-CreateKpaSupplierStaffProfiles.ts
  apps/api-server/src/modules/auth/controllers/auth-register.controller.ts
  apps/api-server/src/modules/auth/dto/register.dto.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/kpa-external-expert-profile.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-member.entity.ts
  apps/api-server/src/routes/kpa/entities/kpa-supplier-staff-profile.entity.ts
  services/web-kpa-society/src/components/RegisterModal.tsx
Labels: backend, typescript

feat(glycopharm): KPA-style UX refine P1 — Hub, Store, Community
  pnpm-lock.yaml
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/layouts/GlycoPharmHubLayout.tsx
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/hub/GlycoPharmHubPage.tsx
  services/web-glycopharm/src/pages/store-management/StoreMainPage.tsx
Labels: config, typescript

feat(glycopharm): KPA-style UX refine P2 — data connection & usability
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/hub/HubB2BCatalogPage.tsx
  services/web-glycopharm/src/pages/store-management/StoreMainPage.tsx
Labels: typescript

fix(kpa): move new migrations to src/database/migrations (production path)
  apps/api-server/src/database/migrations/1771200000023-AddKpaMemberSubRole.ts
  apps/api-server/src/database/migrations/1771200000024-CreateKpaExternalExpertProfiles.ts
  apps/api-server/src/database/migrations/1771200000025-CreateKpaSupplierStaffProfiles.ts
Labels: backend, typescript

fix(kpa): WO-O4O-REGISTRATION-STRUCTURE-REFACTOR-V1 — fix /apply endpoint for new member types
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
Labels: backend, typescript

feat(glycopharm): KPA-style UX refine P3 — navigation & status flow
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/community/CommunityMainPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPostDetailPage.tsx
  services/web-glycopharm/src/pages/hub/HubB2BCatalogPage.tsx
Labels: typescript

fix(kpa): fix TypeScript error and make organization_id nullable for new member types
  apps/api-server/src/database/migrations/1771200000026-MakeKpaMemberOrganizationIdNullable.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/entities/kpa-member.entity.ts
Labels: backend, typescript

fix(cors): add Cloud Run service URLs to allowed origins
  apps/api-server/src/bootstrap/setup-middlewares.ts
Labels: backend, typescript

fix(glycopharm): correct B2B catalog API path from kpa to glycopharm
  services/web-glycopharm/src/api/pharmacyProducts.ts
Labels: typescript

feat(kpa): WO-O4O-QUALIFICATION-SYSTEM-V1 — qualification apply/approve engine
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/1771200000027-CreateQualificationTables.ts
  apps/api-server/src/routes/kpa/controllers/qualification.controller.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/member-qualification.entity.ts
  apps/api-server/src/routes/kpa/entities/qualification-request.entity.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/qualification.ts
  services/web-kpa-society/src/pages/mypage/MyQualificationsPage.tsx
  services/web-kpa-society/src/pages/mypage/index.ts
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
  services/web-kpa-society/src/pages/operator/index.ts
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Labels: backend, typescript

feat(kpa): WO-O4O-INSTRUCTOR-APPLICATION-V1 — instructor qualification application engine
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/1771200000028-CreateInstructorProfiles.ts
  apps/api-server/src/routes/kpa/controllers/qualification.controller.ts
  apps/api-server/src/routes/kpa/entities/index.ts
  apps/api-server/src/routes/kpa/entities/instructor-profile.entity.ts
  services/web-kpa-society/src/pages/mypage/MyQualificationsPage.tsx
  services/web-kpa-society/src/pages/operator/QualificationRequestsPage.tsx
Labels: backend, typescript

fix(glycopharm): realign entry points after care removal — WO-O4O-GLYCOPHARM-ENTRYPOINT-AND-NAV-REALIGN-V1
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/config/dashboard.ts
  services/web-glycopharm/src/config/operatorMenuGroups.ts
  services/web-glycopharm/src/pages/PatientPlaceholderPage.tsx
  services/web-glycopharm/src/pages/PharmacyPlaceholderPage.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
  services/web-glycopharm/src/pages/store/hooks/useStoreHub.ts
Labels: typescript

feat(kpa): WO-O4O-INSTRUCTOR-DASHBOARD-V1 — instructor entry point dashboard
  apps/api-server/src/routes/kpa/controllers/instructor-dashboard.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/instructor.ts
  services/web-kpa-society/src/pages/instructor/InstructorDashboardPage.tsx
  services/web-kpa-society/src/pages/mypage/MyQualificationsPage.tsx
Labels: backend, typescript

fix(api-server): remove unused glucoseview-scope middleware — WO-1 followup
  apps/api-server/src/middleware/glucoseview-scope.middleware.ts
Labels: backend, typescript

test: remove deleted care module tests + update kpa blocked prefixes
  apps/api-server/src/__tests__/kpa-role-guard.spec.ts
  apps/api-server/src/__tests__/security/ownership.spec.ts
Labels: backend, testing, typescript, security

feat(kpa): WO-O4O-LMS-FOUNDATION-V1 — instructor course management frontend
  apps/api-server/src/routes/kpa/controllers/qualification.controller.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/InstructorDashboardPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseListPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseNewPage.tsx
Labels: backend, typescript

feat(kpa): WO-EVENT-OFFER-* — full event offer flow (operator + supplier)
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/kpa/services/groupbuy.service.ts
  services/web-kpa-society/src/api/eventOffer.ts
  services/web-kpa-society/src/api/eventOfferAdmin.ts
  services/web-kpa-society/src/api/supplierEventOffer.ts
  services/web-kpa-society/src/pages/event-offer/EventOfferDetailPage.tsx
  services/web-kpa-society/src/pages/intranet/event-offer/EventOfferManagePage.tsx
  services/web-kpa-society/src/pages/supplier/SupplierEventOfferPage.tsx
Labels: backend, typescript

feat(glycopharm): WO-4 patient surface removal
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/patient.ts
  services/web-glycopharm/src/api/pharmacy.ts
  services/web-glycopharm/src/pages/PatientPlaceholderPage.tsx
  services/web-glycopharm/src/pages/PharmacyPlaceholderPage.tsx
  services/web-glycopharm/src/pages/patient/AppointmentsPage.tsx
  services/web-glycopharm/src/pages/patient/DataAnalysisPage.tsx
  services/web-glycopharm/src/pages/patient/GlucoseInputPage.tsx
  services/web-glycopharm/src/pages/patient/PharmacyCoachingPage.tsx
  services/web-glycopharm/src/pages/patient/ProfilePage.tsx
  services/web-glycopharm/src/pages/patient/RecordsListPage.tsx
  services/web-glycopharm/src/pages/patient/SelectPharmacyPage.tsx
  services/web-glycopharm/src/pages/pharmacist/AppointmentsPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PatientRequestsPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PharmacistPatientDetailPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PharmacistPatientsPage.tsx
  services/web-glycopharm/src/pages/pharmacist/PharmacyCoachingPage.tsx
  services/web-glycopharm/src/pages/store-management/PharmacyPatients.tsx
Labels: typescript

fix(kpa): IR-O4O-LMS-FOUNDATION-VERIFY-V1 — fix response shape mismatches
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/courses/CourseEditPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseListPage.tsx
  services/web-kpa-society/src/pages/instructor/courses/CourseNewPage.tsx
Labels: typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-HOME-TO-COMMUNITY-V1
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/LandingPage.tsx
  services/web-glycopharm/src/pages/auth/LoginPage.tsx
Labels: typescript

fix(kpa): replace ecommerce_orders with checkout_orders in groupbuy service
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/services/groupbuy.service.ts
Labels: backend, typescript

feat(kpa): WO-O4O-ENROLLMENT-SYSTEM-V1 — MyEnrollmentsPage + route
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/mypage/MyEnrollmentsPage.tsx
  services/web-kpa-society/src/pages/mypage/index.ts
  services/web-kpa-society/src/pages/mypage/navItems.ts
Labels: typescript

fix(kpa): fix checkout_orders column names — camelCase not snake_case
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/services/groupbuy.service.ts
Labels: backend, typescript

fix(lms): IR-O4O-ENROLLMENT-VERIFY-V1 — allow re-enrollment after cancel/reject/expire
  apps/api-server/src/modules/lms/services/EnrollmentService.ts
Labels: backend, typescript

fix(kpa): move supplier/event-offers route to top-level (out of /demo/*)
  services/web-kpa-society/src/App.tsx
Labels: typescript

feat(glycopharm): guard system menu to admin-only (WO-GLYCOPHARM-OPERATOR-MENU-ADMIN-GUARD-V1)
  services/web-glycopharm/src/config/operatorMenuGroups.ts
Labels: typescript

fix(kpa): ns.company_name → ns.name (neture_suppliers column is 'name')
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
Labels: backend, typescript

refactor(glycopharm): replace custom HTML tables with DataTable (WO-GLYCOPHARM-OPERATOR-TABLE-UNIFICATION-V1)
  services/web-glycopharm/src/pages/operator/ApplicationsPage.tsx
  services/web-glycopharm/src/pages/operator/ForumRequestsPage.tsx
  services/web-glycopharm/src/pages/operator/OrdersPage.tsx
  services/web-glycopharm/src/pages/operator/PharmaciesPage.tsx
  services/web-glycopharm/src/pages/operator/ProductsPage.tsx
  services/web-glycopharm/src/pages/operator/StoreApprovalsPage.tsx
  services/web-glycopharm/src/pages/operator/StoresPage.tsx
Labels: typescript

fix(kpa): resolve neture_suppliers name column — join organizations via organization_id
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
Labels: backend, typescript

fix(kpa): resolve KPA organization_id via operator role in kpa_members
  apps/api-server/src/routes/kpa/controllers/groupbuy-operator.controller.ts
  apps/api-server/src/routes/kpa/controllers/supplier-offers.controller.ts
Labels: backend, typescript

feat(market-trial): Phase H8 full implementation — funnel, conversion, listing, order auto-link
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
  apps/api-server/src/database/migrations/20260415200000-AddConversionFieldsToMarketTrials.ts
  apps/api-server/src/database/migrations/20260415210000-AddNotificationSentAtToMarketTrials.ts
  apps/api-server/src/database/migrations/20260415220000-AddCustomerConversionToMarketTrialParticipants.ts
  apps/api-server/src/database/migrations/20260415230000-AddListingLinkToMarketTrialParticipants.ts
  apps/api-server/src/database/migrations/20260415240000-AddSourceToOrganizationProductListings.ts
  apps/api-server/src/modules/store-core/entities/organization-product-listing.entity.ts
  apps/api-server/src/routes/market-trial-operator.routes.ts
  apps/api-server/src/routes/market-trial.routes.ts
  apps/api-server/src/services/checkout.service.ts
  packages/market-trial/src/entities/MarketTrial.entity.ts
  packages/market-trial/src/entities/MarketTrialParticipant.entity.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/api/trial.ts
  services/web-neture/src/pages/operator/MarketTrialApprovalDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialDetailPage.tsx
  services/web-neture/src/pages/supplier/SupplierTrialListPage.tsx
  services/web-neture/src/pages/supplier/index.ts
Labels: backend, packages, typescript

refactor(kpa): cleanup legacy roles, context simplification, type fixes
  apps/api-server/src/app-manifests/forum-yaksa.manifest.ts
  apps/api-server/src/routes/kpa/controllers/member.controller.ts
  apps/api-server/src/routes/kpa/controllers/organization-join-request.controller.ts
  services/web-kpa-society/src/api/kpa.ts
  services/web-kpa-society/src/components/auth/PharmacyOwnerOnlyGuard.tsx
  services/web-kpa-society/src/components/intranet/IntranetAuthGuard.tsx
  services/web-kpa-society/src/contexts/OrganizationContext.tsx
  services/web-kpa-society/src/contexts/ServiceContext.tsx
  services/web-kpa-society/src/data/sampleOrganizations.ts
  services/web-kpa-society/src/lib/role-constants.ts
  services/web-kpa-society/src/pages/OrganizationServicePage.tsx
  services/web-kpa-society/src/pages/event-offer/EventOfferListPage.tsx
  services/web-kpa-society/src/pages/event-offer/KpaEventOfferPage.tsx
  services/web-kpa-society/src/pages/feedback/FeedbackDetailPage.tsx
  services/web-kpa-society/src/pages/feedback/FeedbackNewPage.tsx
  services/web-kpa-society/src/pages/join/PharmacyJoinPage.tsx
  services/web-kpa-society/src/pages/operator/aiReportConfig.tsx
  services/web-kpa-society/src/pages/organization/OrganizationAboutPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyB2BPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacySellPage.tsx
  services/web-kpa-society/src/pages/pharmacy/b2b/SupplierDetailPage.tsx
  services/web-kpa-society/src/pages/pharmacy/b2b/SupplierListPage.tsx
  services/web-kpa-society/src/pages/services/PharmacyServicePage.tsx
  services/web-kpa-society/src/types/feedback.ts
  services/web-kpa-society/src/types/index.ts
Labels: backend, typescript

fix(market-trial): replace console.log with console.error in conversion notification
  apps/api-server/src/controllers/market-trial/marketTrialOperatorController.ts
Labels: backend, typescript

feat(glycopharm): WO-GLYCOPHARM-OPERATOR-DASHBOARD-5BLOCK-V1 — align to KPA standard 5-Block
  services/web-glycopharm/src/pages/operator/GlycoPharmOperatorDashboard.tsx
Labels: typescript

fix: reseed market trial forum category after cleanup migration
  apps/api-server/src/database/migrations/20260415260000-ReseedMarketTrialForumCategory.ts
Labels: backend, typescript

docs(audit): IR-O4O-STORE-QR-AND-PRODUCT-DESCRIPTION-CURRENT-STATE-AUDIT-V1
  docs/audit/IR-O4O-STORE-QR-AND-PRODUCT-DESCRIPTION-CURRENT-STATE-AUDIT-V1.md
Labels: documentation

refactor(glycopharm): WO-GLYCOPHARM-UI-COMMON-COMPONENTS-V1 — StatusBadge + PageHeader commonization
  services/web-glycopharm/src/components/common/PageHeader.tsx
  services/web-glycopharm/src/components/common/StatusBadge.tsx
  services/web-glycopharm/src/pages/operator/ApplicationsPage.tsx
  services/web-glycopharm/src/pages/operator/ForumDeleteRequestsPage.tsx
  services/web-glycopharm/src/pages/operator/ForumRequestsPage.tsx
  services/web-glycopharm/src/pages/operator/OrdersPage.tsx
  services/web-glycopharm/src/pages/operator/PharmaciesPage.tsx
  services/web-glycopharm/src/pages/operator/ProductsPage.tsx
  services/web-glycopharm/src/pages/operator/StoresPage.tsx
Labels: typescript

fix(market-trial): fix gateway 500 error and service_key mismatch
  apps/api-server/src/controllers/market-trial/marketTrialController.ts
Labels: backend, typescript

feat(lms): WO-O4O-QUIZ-SYSTEM-V1 + WO-O4O-CREDIT-SYSTEM-V1 + WO-O4O-COMPLETION-V1
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/database/migrations/20260415250000-CreateLmsQuizTables.ts
  apps/api-server/src/database/migrations/20260415260000-CreateCreditTables.ts
  apps/api-server/src/database/migrations/20260415270000-CreateCourseCompletionsTable.ts
  apps/api-server/src/modules/credit/controllers/CreditController.ts
  apps/api-server/src/modules/credit/credit-constants.ts
  apps/api-server/src/modules/credit/entities/CreditBalance.ts
  apps/api-server/src/modules/credit/entities/CreditTransaction.ts
  apps/api-server/src/modules/credit/routes/credit.routes.ts
  apps/api-server/src/modules/credit/services/CreditService.ts
  apps/api-server/src/modules/lms/controllers/CompletionController.ts
  apps/api-server/src/modules/lms/controllers/QuizController.ts
  apps/api-server/src/modules/lms/entities/CourseCompletion.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  apps/api-server/src/modules/lms/services/CompletionService.ts
  apps/api-server/src/modules/lms/services/QuizService.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  packages/interactive-content-core/src/entities/Quiz.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/credit.ts
  services/web-kpa-society/src/api/lms.ts
  services/web-kpa-society/src/pages/lms/LmsLessonPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCompletionsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCreditsPage.tsx
  services/web-kpa-society/src/pages/mypage/index.ts
  services/web-kpa-society/src/pages/mypage/navItems.ts
  services/web-kpa-society/src/types/index.ts
Labels: backend, packages, typescript

feat: WO-STORE-PRODUCT-DESCRIPTION-OVERRIDE-V1 + WO-GLYCOPHARM-MEMBER-TABLE-CREATION-V1
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260415280000-CreateGlycopharmMembersTable.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-member.entity.ts
  apps/api-server/src/routes/glycopharm/entities/index.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-utils.ts
  docs/audit/IR-O4O-KPA-MEMBER-MANAGEMENT-TO-GLYCOPHARM-ADAPTATION-AUDIT-V1.md
  docs/audit/IR-O4O-SERVICE-CURRENT-STATE-AUDIT-V1.md
  docs/event-offer/EventOffer-Operation-Policy.md
  services/web-glycopharm/vite.config.ts
  services/web-k-cosmetics/vite.config.ts
  services/web-kpa-society/src/pages/storefront/StorefrontProductDetailPage.tsx
  services/web-kpa-society/vite.config.ts
Labels: backend, documentation, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
