Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(drug-otc): 에르도스테인 300mg 정 Track A 승격 파일럿 스크립트+설계 — dry-run 실행 대기(.env) (WO-O4O-OTC-ERDOSTEINE-300MG-CANONICAL-UPGRADE-PILOT-DRYRUN-DA-V1)
  apps/api-server/src/scripts/drug-otc-erdosteine-300mg-canonical-upgrade-pilot.ts
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-CANONICAL-UPGRADE-PILOT-DRYRUN-DA-V1.md
Labels: backend, documentation, typescript

feat(kpa-tablet): Screen Set archive/restore ↔ QR is_active 동기화 + 비활성 410 종료 (WO-O4O-SCREEN-SET-QR-LIFECYCLE-SYNC-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  apps/api-server/src/routes/platform/store-screen-set-qr.service.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-SCREEN-SET-QR-LIFECYCLE-SYNC-V1.md
  services/web-kpa-society/src/pages/qr/QrLandingPage.tsx
Labels: backend, documentation, typescript

docs(drug): audit 로그 규약 26행/master 확정 정정 + 에르도스테인 CHECK 갱신 (Track A)
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-CANONICAL-UPGRADE-PILOT-DRYRUN-DA-V1.md
  docs/guides/products/drug/OTC-EASY-DRUG-TO-AUTHORED-CANONICAL-UPGRADE-POLICY-V1.md
Labels: documentation

docs(check): 에르도스테인 300mg 승격 dry-run 실행 (에이전트 가) — FAIL (fingerprint 재현 불일치, target 0)
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-UPGRADE-DRYRUN-EXECUTE-V1.md
Labels: documentation

fix(kpa-tablet): 공개 QR 랜딩 no-store — archive/restore 라이브 반영 (WO-O4O-SCREEN-SET-QR-LIFECYCLE-SYNC-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
Labels: backend, typescript

fix(drug-otc): 에르도스테인 파일럿 fingerprint 재현 교정 — bridge 정본 함수 verbatim 채용 (WO-O4O-OTC-ERDOSTEINE-300MG-SSOT-TARGET-FIX-DA-V1)
  apps/api-server/src/scripts/drug-otc-erdosteine-300mg-canonical-upgrade-pilot.ts
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-SSOT-TARGET-FIX-DA-V1.md
Labels: backend, documentation, typescript

docs(check): Screen Set QR 생명주기 동기화 스모크 PASS 기록 (WO-O4O-SCREEN-SET-QR-LIFECYCLE-SYNC-V1)
  docs/checks/CHECK-O4O-SCREEN-SET-QR-LIFECYCLE-SYNC-V1.md
Labels: documentation

docs(check): 에르도스테인 300mg 승격 dry-run 재실행 (에이전트 가) — PASS, 전 게이트 통과, byte-identical
  apps/api-server/src/scripts/data/otc-erdosteine-300mg-upgrade-dryrun-v1.json
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-UPGRADE-DRYRUN-REEXECUTE-V1.md
Labels: backend, documentation

feat(media): 미디어 하드삭제에 Screen Set 사용 가드 (WO-O4O-SCREEN-SET-MEDIA-DELETE-GUARD-V1)
  apps/api-server/src/modules/media/controllers/media-library.controller.ts
  apps/api-server/src/modules/media/services/media-library.service.ts
  docs/checks/CHECK-O4O-SCREEN-SET-MEDIA-DELETE-GUARD-V1.md
Labels: backend, documentation, typescript

docs(check): 에르도스테인 300mg 승격 apply 중단 인시던트 (에이전트 가) — STEP B flip 파싱 버그, live 안전
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-UPGRADE-APPLY-INCIDENT-V1.md
Labels: documentation

fix(drug-otc): 에르도스테인 승격 RETURNING 결과 파싱 최소 수정 — flip ABORT 해소 (WO-O4O-OTC-ERDOSTEINE-300MG-FLIP-RESULT-PARSE-FIX-DA-V1)
  apps/api-server/src/scripts/drug-otc-erdosteine-300mg-canonical-upgrade-pilot.ts
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-FLIP-RESULT-PARSE-FIX-DA-V1.md
Labels: backend, documentation, typescript

docs(check): 미디어 삭제 가드 탐지 입력 라이브 확인 + operator 409 절차 기록 (WO-O4O-SCREEN-SET-MEDIA-DELETE-GUARD-V1)
  docs/checks/CHECK-O4O-SCREEN-SET-MEDIA-DELETE-GUARD-V1.md
Labels: documentation

docs(check): 에르도스테인 300mg 승격 apply 재실행 완료 (에이전트 가) — 26건 LIVE
  docs/checks/CHECK-O4O-OTC-ERDOSTEINE-300MG-UPGRADE-APPLY-RETRY-V1.md
Labels: documentation

docs(guide): 에르도스테인 첫 Track A 승격 결과 실행 가이드 반영 (WO-O4O-OTC-GROUNDED-UPGRADE-PILOT-LESSONS-GUIDE-NA-V1)
  docs/guides/products/drug/OTC-EASY-DRUG-TO-AUTHORED-CANONICAL-UPGRADE-POLICY-V1.md
Labels: documentation

refactor(kpa-tablet): extract pure screen-content contract to @o4o/screen-content-core (WO-O4O-SCREEN-CONTENT-CORE-PURE-CONTRACT-EXTRACTION-V1)
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-GROUNDED-UPGRADE-RUNNER-HARDENING-DA-V1.md
  packages/screen-content-core/package.json
  packages/screen-content-core/src/index.ts
  packages/screen-content-core/tsconfig.json
  pnpm-lock.yaml
  services/web-kpa-society/package.json
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: backend, packages, config, documentation, dependencies, typescript

docs(check): HFF higher-N(5~8) STRICT 인벤토리 완료 (read-only, DB write 0) — clean 1,351/609조합, 첫 배치 mg+mn+vd+zn+ca(N5,22) 권장 (WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1 §6)
  apps/api-server/src/scripts/hff-combo-mx-inventory-strict.ts
  docs/checks/CHECK-O4O-HFF-HIGHER-N-5-8-STRICT-INVENTORY-V1.md
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Labels: backend, documentation, typescript

fix(kpa-web): COPY screen-content-core into web-kpa-society Docker build (WO-O4O-SCREEN-CONTENT-CORE-PURE-CONTRACT-EXTRACTION-V1)
  services/web-kpa-society/Dockerfile
Labels: none

docs(check): 다음 Track A 승격 후보 Top 3 감사 (에이전트 가) — bridge full-content fp 재분리 (WO-O4O-OTC-GROUNDED-UPGRADE-NEXT-CANDIDATES-AUDIT-GA-V1)
  apps/api-server/src/scripts/data/otc-grounded-upgrade-next-candidates-v1.json
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-next-candidates-audit.ts
  docs/checks/CHECK-O4O-OTC-GROUNDED-UPGRADE-NEXT-CANDIDATES-AUDIT-GA-V1.md
Labels: backend, documentation, typescript

docs(check): HFF higher-N 상위 3그룹 기준·검수 (Agent A, read-only, DB write 0) — ①N8 B컴플렉스 READY_WITH_HOLD(43/6) ②N6 간건강+B군(28/14) ③N6 비타민C HOLD(3) (WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1 §6)
  docs/checks/CHECK-O4O-HFF-HIGHER-N-TOP3-REVIEW-A-V1.md
Labels: documentation

docs(check): screen-content-core pure extraction (WO-O4O-SCREEN-CONTENT-CORE-PURE-CONTRACT-EXTRACTION-V1)
  docs/checks/CHECK-O4O-SCREEN-CONTENT-CORE-PURE-CONTRACT-EXTRACTION-V1.md
Labels: documentation

@ feat(drug-otc): 트리메부틴 100mg 정 범용 runner dry-run PASS + excludeFp 다중 fp 지원 (WO-O4O-OTC-TRIMEBUTINE-100MG-UPGRADE-RUNNER-PILOT-DA-V1)
  apps/api-server/src/scripts/data/otc-grounded-upgrade-trimebutine-100mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-trimebutine-100mg-jeong.run.json
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-TRIMEBUTINE-100MG-UPGRADE-RUNNER-PILOT-DA-V1.md
Labels: backend, documentation, typescript

@ docs(check): 트리메부틴 100mg 정 ko 66건 승격 apply 완료 (에이전트 다) — LIVE
  apps/api-server/src/scripts/data/otc-grounded-upgrade-trimebutine-100mg-jeong.run.json
  docs/checks/CHECK-O4O-OTC-TRIMEBUTINE-100MG-UPGRADE-RUNNER-PILOT-DA-V1.md
Labels: backend, documentation

docs(check): live prod browser verification — screen-content-core + media delete guard 409
  docs/checks/CHECK-O4O-SCREEN-CONTENT-CORE-PURE-CONTRACT-EXTRACTION-V1.md
  docs/checks/CHECK-O4O-SCREEN-SET-MEDIA-DELETE-GUARD-V1.md
Labels: documentation

fix(hff): G-MULTI-AMOUNT-SOURCE 비타민B1 라벨 정규식 단어경계 추가 — B1⊆B12 오매칭 해소
  apps/api-server/src/scripts/hff-combo-compose.ts
Labels: backend, typescript

docs(guide): ko→en 번역 정책 확정 (WO-O4O-OTC-KO-TO-EN-TRANSLATION-POLICY-CLARIFY-NA-V1)
  docs/guides/products/drug/OTC-BULK-TRANSLATION-EXECUTION-GUIDE-V1.md
Labels: documentation

@ feat(drug-otc): 바실루스리케니포르미스균 250mg 캡슐 ko 56건 승격 LIVE (WO-O4O-OTC-BACILLUS-LICHENIFORMIS-250MG-KO-UPGRADE-DA-V1)
  apps/api-server/src/scripts/data/otc-grounded-upgrade-bacillus-liche-250mg-capsule.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-bacillus-liche-250mg-capsule.run.json
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-BACILLUS-LICHENIFORMIS-250MG-KO-UPGRADE-DA-V1.md
Labels: backend, documentation, typescript

docs(check): 바실루스·디오스민 이후 Track A 승격 후보 Top 5 감사 (에이전트 가) — bridge full-content fp (WO-O4O-OTC-GROUNDED-UPGRADE-NEXT-BATCH-AUDIT-GA-V1)
  apps/api-server/src/scripts/data/otc-grounded-upgrade-next-batch-v1.json
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-next-batch-audit.ts
  docs/checks/CHECK-O4O-OTC-GROUNDED-UPGRADE-NEXT-BATCH-AUDIT-GA-V1.md
Labels: backend, documentation, typescript

docs(check): 로라타딘 10mg 정 38건 승격 실행 준비 감사 (에이전트 가) — READY + GROUP_REGISTRY 초안 (WO-O4O-OTC-LORATADINE-10MG-UPGRADE-PREP-AUDIT-GA-V1)
  apps/api-server/src/scripts/data/otc-loratadine-10mg-upgrade-prep-v1.json
  apps/api-server/src/scripts/drug-otc-loratadine-10mg-upgrade-prep-audit.ts
  docs/checks/CHECK-O4O-OTC-LORATADINE-10MG-UPGRADE-PREP-AUDIT-GA-V1.md
Labels: backend, documentation, typescript

@ feat(drug-otc): 트리메부틴 100mg 정 영어 설명서 66건 canonical 완결 LIVE (WO-O4O-OTC-TRIMEBUTINE-100MG-EN-COMPLETE-DA-V1)
  apps/api-server/src/scripts/data/otc-trimebutine-100mg-en-complete.run.json
  apps/api-server/src/scripts/drug-otc-trimebutine-100mg-en.ts
  docs/checks/CHECK-O4O-OTC-TRIMEBUTINE-100MG-EN-COMPLETE-DA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-trimebutine-100mg-v1.json
Labels: backend, documentation, typescript

docs(check): HFF higher-N 후속 그룹 기준·검수 (Agent A, read-only, DB write 0) — B변형 소진(#4 9/#5 2/#6 1), 미네랄 #9(17)·#11(16) READY (WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1 §6)
  docs/checks/CHECK-O4O-HFF-HIGHER-N-FOLLOWUP-REVIEW-A-V1.md
Labels: documentation

feat(kpa-tablet): 신규 제작 템플릿에서 대기 영상형(idle_touch_video) 제거 (WO-O4O-KPA-TABLET-REMOVE-IDLE-VIDEO-TEMPLATE-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-REMOVE-IDLE-VIDEO-TEMPLATE-V1.md
  services/web-kpa-society/src/pages/pharmacy/TabletContentLibraryList.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
Labels: documentation, typescript

docs(check): 대기 영상형 제거 프로덕션 브라우저 검증 PASS (WO-O4O-KPA-TABLET-REMOVE-IDLE-VIDEO-TEMPLATE-V1)
  docs/checks/CHECK-O4O-KPA-TABLET-REMOVE-IDLE-VIDEO-TEMPLATE-V1.md
Labels: documentation

docs(guide): EN 전개 master 스코프 가드 반영 (WO-O4O-OTC-EN-MASTER-SCOPE-GUARD-DOC-NA-V1)
  docs/guides/products/drug/OTC-BULK-TRANSLATION-EXECUTION-GUIDE-V1.md
Labels: documentation

docs(check): HFF higher-N 후속 검수 V2 잔여 상위 그룹 (Agent A, read-only, DB write 0) — G13 6미네랄 READY(10)·G10 READY_WITH_HOLD(9)·G7 HOLD(1) (WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1 §6)
  docs/checks/CHECK-O4O-HFF-HIGHER-N-FOLLOWUP-REVIEW-A-V2.md
Labels: documentation

@ feat(drug-otc): 바실루스 250mg 캡슐 영어 설명서 56건 canonical 완결 LIVE (WO-O4O-OTC-BACILLUS-LICHENIFORMIS-250MG-EN-COMPLETE-DA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-bacillus-liche-250mg.run.json
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  docs/checks/CHECK-O4O-OTC-BACILLUS-LICHENIFORMIS-250MG-EN-COMPLETE-DA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-bacillus-liche-250mg-v1.json
Labels: backend, documentation, typescript

feat(drug-otc): 로라타딘 10mg 정 38건 ko authored canonical 승격 LIVE (에이전트 가) (WO-O4O-OTC-LORATADINE-10MG-KO-UPGRADE-GA-V1)
  apps/api-server/src/scripts/data/otc-grounded-upgrade-loratadine-10mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-loratadine-10mg-jeong.run.json
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-LORATADINE-10MG-KO-UPGRADE-GA-V1.md
Labels: backend, documentation, typescript

refactor(tablet): content_list 원본 조회를 ContentSourceAdapter 경계로 분리 (WO-O4O-SCREEN-SET-RESOLVER-CONTENT-SOURCE-SEAM-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  apps/api-server/src/routes/platform/store-public/__tests__/store-public-tablet-content-resolve.test.ts
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet-content-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet-content-source.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-SCREEN-SET-RESOLVER-CONTENT-SOURCE-SEAM-V1.md
Labels: backend, documentation, testing, typescript

docs(check): content_list adapter seam 프로덕션 세 경로 parity PASS (WO-O4O-SCREEN-SET-RESOLVER-CONTENT-SOURCE-SEAM-V1)
  docs/checks/CHECK-O4O-SCREEN-SET-RESOLVER-CONTENT-SOURCE-SEAM-V1.md
Labels: documentation

feat(hff): higher-N V2 1순위 #9 mg+mn+vd+vk+ca N5 17 LIVE — 복합형 누적 529 (Agent B)
  docs/checks/CHECK-O4O-HFF-HIGHER-N-FOLLOWUP-REVIEW-A-V2.md
  docs/checks/data/product-description-guard/hff-combo-mg-mn-vd-vk-ca.json
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-001.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-001.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-002.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-002.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-003.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-003.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-004.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-004.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-005.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-005.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-006.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-006.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-007.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-007.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-008.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-008.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-009.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-009.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-010.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-010.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-011.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-011.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-012.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-012.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-013.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-013.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-014.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-014.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-015.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-015.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-016.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-016.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-017.en.html
  docs/guides/products/health-functional-food/production-combo/mg-mn-vd-vk-ca/drafts/mg-mn-vd-vk-ca-017.ko.html
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Labels: documentation

feat(drug-otc): 로라타딘 10mg 정 EN 38건 canonical 완결 LIVE (에이전트 가) (WO-O4O-OTC-LORATADINE-10MG-EN-COMPLETE-GA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-loratadine-10mg.run.json
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  docs/checks/CHECK-O4O-OTC-LORATADINE-10MG-EN-COMPLETE-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-loratadine-10mg-v1.json
Labels: backend, documentation, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
