Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

feat(neture-supplier): disclose approval gate reasons in result banner (WO-O4O-SUPPLIER-PRODUCT-APPROVAL-GATE-UX-MESSAGE-IMPROVEMENT-V1)
  docs/checks/CHECK-O4O-SUPPLIER-PRODUCT-APPROVAL-GATE-UX-MESSAGE-IMPROVEMENT-V1.md
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
Labels: documentation, typescript

docs(check): general-category no-document live browser smoke PASS (WO-O4O-NETURE-SUPPLIER-GENERAL-CATEGORY-NO-DOCUMENT-V1)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-GENERAL-CATEGORY-NO-DOCUMENT-V1.md
Labels: documentation

docs(ir): FORM-ALIGNMENT-V1 구현범위+남은 delta 보강 (cross-service business registration audit)
  docs/investigations/IR-O4O-CROSSSERVICE-BUSINESS-REGISTRATION-SIGNUP-FIELD-AUDIT-V1.md
Labels: documentation

feat(neture-supplier): number-first review request for regulated categories (WO-O4O-NETURE-SUPPLIER-REGULATED-CATEGORY-NUMBER-FIRST-V1)
  apps/api-server/src/modules/neture/controllers/supplier-management.controller.ts
  apps/api-server/src/modules/neture/services/supplier-regulated-category.service.ts
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-REGULATED-CATEGORY-NUMBER-FIRST-V1.md
  services/web-neture/src/lib/api/supplier.ts
  services/web-neture/src/pages/supplier/SupplierProfilePage.tsx
Labels: backend, documentation, typescript

feat(neture-supplier): remove business-type select, align 업태 to cert fields
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-BUSINESS-TYPE-SELECT-REMOVE-V1.md
  services/web-neture/src/components/RegisterModal.tsx
Labels: documentation, typescript

docs(ir): neture supplier public profile & store visibility audit (IR-O4O-NETURE-SUPPLIER-PUBLIC-PROFILE-STORE-VISIBILITY-AUDIT-V1)
  docs/investigations/IR-O4O-NETURE-SUPPLIER-PUBLIC-PROFILE-STORE-VISIBILITY-AUDIT-V1.md
Labels: documentation

docs(check): number-first regulated category live browser smoke PASS (WO-O4O-NETURE-SUPPLIER-REGULATED-CATEGORY-NUMBER-FIRST-V1)
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-REGULATED-CATEGORY-NUMBER-FIRST-V1.md
Labels: documentation

docs(check): codify order supplier contact as transaction-party visibility policy (CHECK-O4O-NETURE-ORDER-SUPPLIER-CONTACT-VISIBILITY-POLICY-V1)
  docs/checks/CHECK-O4O-NETURE-ORDER-SUPPLIER-CONTACT-VISIBILITY-POLICY-V1.md
Labels: documentation

docs(ir): cross-service business address postcode-search audit
  docs/investigations/IR-O4O-CROSSSERVICE-BUSINESS-ADDRESS-POSTCODE-SEARCH-AUDIT-V1.md
Labels: documentation

docs(ir): neture supplier profile empty + bulk approve 0-target audit (IR-O4O-NETURE-SUPPLIER-PROFILE-APPROVAL-TARGET-AUDIT-V1)
  docs/investigations/IR-O4O-NETURE-SUPPLIER-PROFILE-APPROVAL-TARGET-AUDIT-V1.md
Labels: documentation

feat(neture-supplier): postcode AddressSearch on supplier signup
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-SIGNUP-ADDRESS-POSTCODE-SEARCH-V1.md
  services/web-neture/src/components/RegisterModal.tsx
Labels: documentation, typescript

fix(neture): normalize supplier registration batch approval result shape
  docs/investigations/CHECK-O4O-NETURE-SUPPLIER-APPROVAL-BATCH-RESULT-SHAPE-FIX-V1.md
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Labels: documentation, typescript

docs(wo): lock neture supplier onboarding profile-sync decisions (WO-O4O-NETURE-SUPPLIER-ONBOARDING-BUSINESS-PROFILE-SYNC-AND-SIMPLIFICATION-V1)
  docs/work-orders/WO-O4O-NETURE-SUPPLIER-ONBOARDING-BUSINESS-PROFILE-SYNC-AND-SIMPLIFICATION-V1.md
Labels: documentation

feat(neture-supplier): complete businessInfo seed on supplier creation (WO-O4O-NETURE-SUPPLIER-ONBOARDING-BUSINESS-PROFILE-SYNC-AND-SIMPLIFICATION-V1 D1)
  apps/api-server/src/modules/neture/services/operator-registration.service.ts
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-ONBOARDING-PROFILE-SEED-COMPLETE-V1.md
Labels: backend, documentation, typescript

docs(ir): neture store_owner role semantic audit (read-only)
  docs/investigations/IR-O4O-NETURE-STORE-OWNER-ROLE-SEMANTIC-AUDIT-V1.md
Labels: documentation

docs(ir): neture supplier activation document gate audit (IR-O4O-NETURE-SUPPLIER-ACTIVATION-DOCUMENT-GATE-AUDIT-V1)
  docs/checks/IR-O4O-NETURE-SUPPLIER-ACTIVATION-DOCUMENT-GATE-AUDIT-V1.md
Labels: documentation

docs(ir): neture store_owner signup vs funding participation policy audit
  docs/investigations/IR-O4O-NETURE-STORE-OWNER-SIGNUP-AND-FUNDING-PARTICIPATION-POLICY-AUDIT-V1.md
Labels: documentation

feat(neture-supplier): relax ACTIVE approval gate, defer docs to sale/settlement stages (WO-O4O-NETURE-SUPPLIER-ACTIVATION-DOCUMENT-GATE-RELAXATION-V1)
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/neture/services/supplier.service.ts
  docs/checks/WO-O4O-NETURE-SUPPLIER-ACTIVATION-DOCUMENT-GATE-RELAXATION-V1.md
  services/web-neture/src/pages/admin/AdminSupplierApprovalPage.tsx
  services/web-neture/src/pages/operator/OperatorSupplierApprovalPage.tsx
  services/web-neture/src/pages/supplier/SupplierProductsPage.tsx
  services/web-neture/src/pages/supplier/SupplierProfilePage.tsx
Labels: backend, documentation, typescript

feat(neture): remove store_owner signup card (supplier/partner only)
  apps/api-server/src/modules/auth/controllers/auth-register.controller.ts
  docs/checks/CHECK-O4O-NETURE-STORE-OWNER-SIGNUP-CARD-REMOVE-V1.md
  services/web-neture/src/components/RegisterModal.tsx
Labels: backend, documentation, typescript

docs(ir): supplier profile category selection-only audit (IR-O4O-NETURE-SUPPLIER-PROFILE-CATEGORY-SELECTION-ONLY-AUDIT-V1)
  docs/investigations/IR-O4O-NETURE-SUPPLIER-PROFILE-CATEGORY-SELECTION-ONLY-AUDIT-V1.md
Labels: documentation

docs(ir): cross-service business contact fields audit (read-only)
  docs/investigations/IR-O4O-CROSSSERVICE-BUSINESS-CONTACT-FIELDS-AUDIT-V1.md
Labels: documentation

feat(neture-supplier): category selection-only + lightweight product gate (WO-O4O-NETURE-SUPPLIER-PROFILE-CATEGORY-SELECTION-ONLY-AND-PRODUCT-LIGHTWEIGHT-GATE-V1)
  apps/api-server/src/modules/neture/services/offer.service.ts
  apps/api-server/src/modules/neture/services/supplier-regulated-category.service.ts
  docs/checks/WO-O4O-NETURE-SUPPLIER-PROFILE-CATEGORY-SELECTION-ONLY-AND-PRODUCT-LIGHTWEIGHT-GATE-V1.md
  services/web-neture/src/pages/supplier/SupplierProfilePage.tsx
Labels: backend, documentation, typescript

docs(check): add D3 policy conclusion + deferred items (WO-O4O-NETURE-SUPPLIER-PROFILE-CATEGORY-SELECTION-ONLY-AND-PRODUCT-LIGHTWEIGHT-GATE-V1)
  docs/checks/WO-O4O-NETURE-SUPPLIER-PROFILE-CATEGORY-SELECTION-ONLY-AND-PRODUCT-LIGHTWEIGHT-GATE-V1.md
Labels: documentation

feat(business-info): accept contact fields (businessPhone/businessEmail/contactEmail)
  apps/api-server/src/modules/auth/controllers/auth-account.controller.ts
  apps/api-server/src/modules/auth/controllers/auth-register.controller.ts
  apps/api-server/src/modules/auth/dto/register.dto.ts
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-mypage.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/mypage.controller.ts
  apps/api-server/src/types/user.ts
  docs/checks/CHECK-O4O-CROSSSERVICE-BUSINESS-CONTACT-FIELDS-BACKEND-SUPPORT-V1.md
Labels: backend, documentation, typescript

@ docs(ir): operator product approval needs-info audit (IR-O4O-NETURE-OPERATOR-PRODUCT-APPROVAL-NEEDS-INFO-AUDIT-V1)
  docs/investigations/IR-O4O-NETURE-OPERATOR-PRODUCT-APPROVAL-NEEDS-INFO-AUDIT-V1.md
Labels: documentation

feat(neture-supplier): add business contact fields to signup (WO-O4O-NETURE-SUPPLIER-CONTACT-FIELDS-EXTEND-V1)
  docs/checks/CHECK-O4O-NETURE-SUPPLIER-CONTACT-FIELDS-EXTEND-V1.md
  services/web-neture/src/components/RegisterModal.tsx
Labels: documentation, typescript

@ fix(neture-product-approval): resubmit after reject (WO-O4O-NETURE-PRODUCT-APPROVAL-RESUBMIT-AFTER-REJECT-FIX-V1)
  apps/api-server/src/modules/neture/services/offer-service-approval.service.ts
  apps/api-server/src/modules/neture/services/offer.service.ts
  docs/investigations/CHECK-O4O-NETURE-PRODUCT-APPROVAL-RESUBMIT-AFTER-REJECT-FIX-V1.md
Labels: backend, documentation, typescript

feat(glycopharm): add business contact fields to signup/profile UI (WO-O4O-GLYCOPHARM-BUSINESS-CONTACT-FIELDS-UI-EXTEND-V1)
  docs/checks/CHECK-O4O-GLYCOPHARM-BUSINESS-CONTACT-FIELDS-UI-EXTEND-V1.md
  services/web-glycopharm/src/api/mypage.ts
  services/web-glycopharm/src/pages/auth/RegisterFlowModal.tsx
  services/web-glycopharm/src/pages/store/PharmacyInfoPage.tsx
Labels: documentation, typescript

@ feat(neture-product-approval): rejection copy + resubmit guidance UX (WO-O4O-NETURE-PRODUCT-APPROVAL-REJECTION-COPY-AND-RESUBMIT-UX-V1)
  apps/api-server/src/modules/neture/services/offer-service-approval.service.ts
  docs/investigations/CHECK-O4O-NETURE-PRODUCT-APPROVAL-REJECTION-COPY-AND-RESUBMIT-UX-V1.md
  services/web-neture/src/pages/admin/AdminProductApprovalPage.tsx
  services/web-neture/src/pages/operator/OperatorProductApprovalPage.tsx
  services/web-neture/src/pages/supplier/ProductDetailDrawer.tsx
Labels: backend, documentation, typescript

feat(k-cosmetics): add business contact fields to signup/store-info UI (WO-O4O-KCOSMETICS-BUSINESS-CONTACT-FIELDS-UI-EXTEND-V1)
  docs/checks/CHECK-O4O-KCOSMETICS-BUSINESS-CONTACT-FIELDS-UI-EXTEND-V1.md
  services/web-k-cosmetics/src/api/mypage.ts
  services/web-k-cosmetics/src/pages/auth/RegisterPage.tsx
  services/web-k-cosmetics/src/pages/store/StoreInfoPage.tsx
Labels: documentation, typescript

docs(ir): KPA business contact fields mapping audit (IR-O4O-KPA-BUSINESS-CONTACT-FIELDS-MAPPING-AUDIT-V1)
  docs/investigations/IR-O4O-KPA-BUSINESS-CONTACT-FIELDS-MAPPING-AUDIT-V1.md
Labels: documentation

docs(ir): operator members supplier two-step pending state audit (IR-O4O-NETURE-OPERATOR-MEMBERS-SUPPLIER-PENDING-STATE-AUDIT-V1)
  docs/investigations/IR-O4O-NETURE-OPERATOR-MEMBERS-SUPPLIER-PENDING-STATE-AUDIT-V1.md
Labels: documentation

feat(neture-operator): clarify supplier 2-step approval on members console (WO-O4O-NETURE-OPERATOR-MEMBERS-SUPPLIER-PENDING-UX-CLARIFY-V1)
  services/web-neture/src/pages/operator/UsersManagementPage.tsx
Labels: typescript

@ docs(check): live smoke results for neture product approval resubmit + rejection UX
  docs/investigations/CHECK-O4O-NETURE-PRODUCT-APPROVAL-REJECTION-COPY-AND-RESUBMIT-UX-V1.md
  docs/investigations/CHECK-O4O-NETURE-PRODUCT-APPROVAL-RESUBMIT-AFTER-REJECT-FIX-V1.md
Labels: documentation

feat(kpa): add business contact email fields to signup/pharmacy-info (WO-O4O-KPA-BUSINESS-CONTACT-EMAIL-FIELDS-UI-EXTEND-V1)
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-info.controller.ts
  docs/checks/CHECK-O4O-KPA-BUSINESS-CONTACT-EMAIL-FIELDS-UI-EXTEND-V1.md
  services/web-kpa-society/src/api/pharmacyInfo.ts
  services/web-kpa-society/src/components/RegisterModal.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyInfoPage.tsx
Labels: backend, documentation, typescript

@ docs(ir): service offer approval exposure gate audit (IR-O4O-SERVICE-OFFER-APPROVAL-EXPOSURE-GATE-AUDIT-V1)
  docs/investigations/IR-O4O-SERVICE-OFFER-APPROVAL-EXPOSURE-GATE-AUDIT-V1.md
Labels: documentation

docs(check): business contact fields batch deploy + browser smoke (PASS)
  docs/checks/CHECK-O4O-BUSINESS-CONTACT-FIELDS-BUNDLE-DEPLOY-SMOKE-V1.md
Labels: documentation

@ fix(store-hub): per-service approval gate on pharmacy catalog (WO-O4O-SERVICE-OFFER-HUB-EXPOSURE-APPROVAL-GATE-FIX-V1)
  apps/api-server/src/routes/o4o-store/controllers/pharmacy-products.controller.ts
  docs/investigations/CHECK-O4O-SERVICE-OFFER-HUB-EXPOSURE-APPROVAL-GATE-FIX-V1.md
Labels: backend, documentation, typescript

@ docs(check): service offer HUB approval gate live smoke result
  docs/investigations/CHECK-O4O-SERVICE-OFFER-HUB-EXPOSURE-APPROVAL-GATE-FIX-V1.md
Labels: documentation

docs(check): close service-offer HUB exposure gate fix + fix policy axis (WO-O4O-SERVICE-OFFER-HUB-EXPOSURE-APPROVAL-GATE-FIX-V1)
  docs/investigations/CHECK-O4O-SERVICE-OFFER-HUB-EXPOSURE-APPROVAL-GATE-FIX-V1.md
Labels: documentation
