Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix(docker): k-cosmetics-web 빌드 — @o4o/admin-ux-core 패키지 COPY 누락 수정
  services/web-k-cosmetics/Dockerfile
Labels: none

fix(pharmacy): WO-O4O-KPA-PHARMACY-MOBILE-V1 — Pharmacy 화면 모바일 반응형 + TS warning 정리
  services/web-kpa-society/src/pages/pharmacy/PharmacyBlogPage.tsx
  services/web-kpa-society/src/pages/pharmacy/PharmacyStorePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreHomePage.tsx
Labels: typescript

feat(mypage): WO-O4O-KCOS-MYPAGE-HUB-PHONE-INFROW-FIX-V1 — K-Cosmetics Hub phone InfoRow 추가
  services/web-k-cosmetics/src/pages/mypage/MyPageHub.tsx
Labels: typescript

feat(settings): WO-O4O-NETURE-KCOS-PASSWORD-CHANGE-CANONICAL-V1 — Password Change Canonical 정렬
  services/web-k-cosmetics/src/pages/mypage/MySettingsPage.tsx
  services/web-neture/src/pages/mypage/MySettingsPage.tsx
Labels: typescript

fix(mypage,forum): WO-O4O-KPA-MYPAGE-FORUM-MOBILE-POLISH-V1 — 모바일 cramped/overflow 보완
  services/web-kpa-society/src/pages/forum/ForumDetailPage.tsx
  services/web-kpa-society/src/pages/mypage/MyDashboardPage.tsx
Labels: typescript

feat(settings): WO-O4O-AUTH-LOGOUTALL-CANONICAL-V1 — logoutAll Canonical 정렬
  services/web-glycopharm/src/contexts/AuthContext.tsx
  services/web-glycopharm/src/pages/mypage/MySettingsPage.tsx
  services/web-k-cosmetics/src/contexts/AuthContext.tsx
  services/web-k-cosmetics/src/pages/mypage/MySettingsPage.tsx
  services/web-neture/src/contexts/AuthContext.tsx
  services/web-neture/src/pages/mypage/MySettingsPage.tsx
Labels: typescript

feat(forum): WO-O4O-GLYCOPHARM-FORUM-API-CANONICAL-V1 — Forum API 경로 Canonical 정렬
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/public.ts
  services/web-glycopharm/src/pages/forum-ext/ForumFeedPage.tsx
  services/web-glycopharm/src/pages/forum-ext/ForumListPage.tsx
  services/web-glycopharm/src/pages/forum-ext/index.ts
  services/web-glycopharm/src/pages/forum/ForumHubPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPage.tsx
  services/web-glycopharm/src/pages/forum/ForumPostDetailPage.tsx
  services/web-glycopharm/src/pages/forum/ForumWritePage.tsx
  services/web-glycopharm/src/pages/operator/forum-management/OperatorForumManagementPage.tsx
  services/web-glycopharm/src/services/forumApi.ts
  services/web-glycopharm/src/types/forum.ts
  services/web-glycopharm/src/types/index.ts
Labels: typescript

fix(ai): URL 분석 중 무한 로딩 버그 수정 (IR-O4O-KPA-AI-CONTENT-URL-GENERATION-HANG-AUDIT-V1)
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/routes/ai-proxy/youtube-fetcher.ts
  packages/content-editor/src/components/AiContentModal.tsx
Labels: backend, packages, typescript

fix(signage): WO-O4O-KPA-SIGNAGE-ASSET-CREATE-TOKEN-EXPIRY-UX-AUDIT-V1 — apiFetch 401 refresh retry 추가
  services/web-kpa-society/src/pages/signage/ContentHubPage.tsx
Labels: typescript

docs: 미커밋 파일 일괄 추가
  docs/reports/IR-O4O-KPA-RESPONSIVE-FINAL-AUDIT-V1.md
  docs/reports/cosmetics_app_architecture_audit.md
  lms-01-nonlogin-list.png
Labels: documentation

feat(glycopharm): WO-O4O-GLYCOPHARM-FORUM-DASHBOARD-V1 — add canonical forum dashboard
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/forum/ForumHubPage.tsx
  services/web-glycopharm/src/pages/forum/MyForumDashboardPage.tsx
  services/web-glycopharm/src/services/forumApi.ts
Labels: typescript

feat(kpa-lms): WO-O4O-KPA-LMS-INSTRUCTOR-OPERATIONS-MENU-REFACTOR-V1 — 강사 IA 정리: '강의 운영' 메뉴 분리
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/instructor/InstructorLayout.tsx
  services/web-kpa-society/src/pages/instructor/ContentParticipantsPage.tsx
  services/web-kpa-society/src/pages/instructor/InstructorCourseDashboardPage.tsx
  services/web-kpa-society/src/pages/instructor/InstructorDashboardPage.tsx
  services/web-kpa-society/src/pages/instructor/operations/OperationsCourseDetailPage.tsx
  services/web-kpa-society/src/pages/instructor/operations/OperationsCourseListPage.tsx
Labels: typescript

feat(forum): WO-O4O-FORUM-CANONICAL-SPRINT2-CLEANUP-V1 — Forum Canonical 종료 정리
  services/web-glycopharm/src/pages/forum/ForumPostDetailPage.tsx
  services/web-glycopharm/src/services/forumApi.ts
  services/web-glycopharm/src/types/index.ts
  services/web-k-cosmetics/src/pages/forum/ForumHubPage.tsx
  services/web-k-cosmetics/src/pages/forum/ForumWritePage.tsx
  services/web-k-cosmetics/src/services/forumApi.ts
Labels: typescript

feat(kpa-lms): WO-O4O-KPA-LMS-INSTRUCTOR-OPERATIONS-PARTICIPANTS-LIST-V1 — 강의 운영 상세에 수강회원 리스트 연결
  services/web-kpa-society/src/pages/instructor/operations/OperationsCourseDetailPage.tsx
Labels: typescript

feat(ai): WO-O4O-KPA-AI-CONTENT-MODE-PRESET-REMOVAL-V1 — AI 모달 "정리 모드" 프리셋 제거
  apps/api-server/src/routes/ai-proxy.routes.ts
  apps/api-server/src/services/ai-prompts/common.ts
  apps/api-server/src/services/ai-prompts/flexible.ts
  apps/api-server/src/services/ai-prompts/index.ts
  packages/content-editor/src/components/AiContentModal.tsx
Labels: backend, packages, typescript

feat(content): WO-O4O-GLYCOPHARM-HUB-CONTENT-API-WRAPPER-V1 — Hub Content Wrapper Canonical 정렬
  services/web-glycopharm/src/api/hubContent.ts
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
Labels: typescript

docs: IR-O4O-AI-ASSISTANCE-CANONICAL-AUDIT-V1 — AI 편집·생성 흐름 전수 조사
  docs/reports/IR-O4O-AI-ASSISTANCE-CANONICAL-AUDIT-V1.md
Labels: documentation

fix(lms): 수강회원 진도율 toFixed TypeError 수정 (WO-O4O-KPA-LMS-PARTICIPANTS-PROGRESS-TYPE-GUARD-FIX-V1)
  services/web-kpa-society/src/pages/instructor/operations/OperationsCourseDetailPage.tsx
Labels: typescript

refactor(ai): WO-O4O-AI-MODAL-UX-NEUTRAL-ENTRY-V1 — AI 모달 dead mode 항목 제거
  packages/content-editor/src/components/AiContentModal.tsx
Labels: packages, typescript

feat(ai): WO-O4O-AI-URL-NAVER-BLOG-IFRAME-POSTVIEW-EXTRACTOR-V1 — 네이버 블로그 iframe PostView 본문 추출
  apps/api-server/src/routes/ai-proxy.routes.ts
Labels: backend, typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-RESOURCES-BACKEND-V1 — Resource Layer 백엔드 기반 구축
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/1771200000027-CreateGlycopharmContentsTables.ts
  apps/api-server/src/routes/glycopharm/controllers/resources.controller.ts
  apps/api-server/src/routes/glycopharm/entities/glycopharm-content.entity.ts
  apps/api-server/src/routes/glycopharm/entities/index.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
Labels: backend, typescript

feat(point): WO-O4O-SERVICE-OPERATOR-POINT-BUDGET-PHASE1-V1 — 서비스별 포인트 예산 구조 구축
  apps/admin-dashboard/src/pages/operator/PointBudgetPage.tsx
  apps/admin-dashboard/src/routes/platform.routes.tsx
  apps/api-server/src/database/migrations/2026052100001-CreateServicePointBudgets.ts
  apps/api-server/src/modules/lms/services/QuizService.ts
  apps/api-server/src/modules/point/controllers/PointAdminController.ts
  apps/api-server/src/modules/point/controllers/PointBudgetController.ts
  apps/api-server/src/modules/point/entities/ServicePointBudget.ts
  apps/api-server/src/modules/point/entities/ServicePointBudgetTransaction.ts
  apps/api-server/src/modules/point/routes/point.routes.ts
  apps/api-server/src/modules/point/services/PointService.ts
  apps/api-server/src/modules/point/services/ServicePointBudgetService.ts
  docs/investigations/IR-O4O-SERVICE-OPERATOR-POINT-BUDGET-AUDIT-V1.md
Labels: frontend, backend, documentation, typescript

docs: IR-O4O-AI-NAVER-BLOG-POLICY-FOOTER-EXTRACTION-AUDIT-V1 — 네이버 블로그 footer 포함 원인 정적 분석
  docs/investigations/IR-O4O-AI-NAVER-BLOG-POLICY-FOOTER-EXTRACTION-AUDIT-V1.md
Labels: documentation

fix(ai): WO-O4O-AI-URL-NAVER-BLOG-POLICY-FOOTER-CLEANUP-V1 — 네이버 블로그 CCL/footer 문구 제거
  apps/api-server/src/routes/ai-proxy.routes.ts
Labels: backend, typescript

feat(signage): 플레이리스트 재생 시작 전 전체화면 선택 화면 추가 (WO-O4O-KPA-SIGNAGE-PLAYLIST-FULLSCREEN-MODE-V1)
  services/web-kpa-society/src/pages/signage/SignageFullscreenPlayerPage.tsx
Labels: typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-HUB-RESOURCES-V1 — Hub Resources 프론트엔드 연결
  services/web-glycopharm/src/api/resources.ts
  services/web-glycopharm/src/pages/resources/ResourcesPage.tsx
Labels: typescript

feat(ai): WO-O4O-AI-USAGE-CONDITION-DETECTION-UX-V1 — 원문 이용조건 감지 안내 UX
  apps/api-server/src/routes/ai-proxy.routes.ts
  packages/content-editor/src/components/AiContentModal.tsx
Labels: backend, packages, typescript

feat(signage): 플레이리스트 전체화면 선택 기능 GlycoPharm/KPA Store 적용 (WO-O4O-SIGNAGE-PLAYLIST-FULLSCREEN-CORE-PROMOTION-V1)
  services/web-glycopharm/src/pages/store-management/signage/SignagePlaybackPage.tsx
  services/web-kpa-society/src/pages/pharmacy/SignagePlaybackPage.tsx
Labels: typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-AI-CONTENT-ACTIVATION-V1 — Operator 자료실 관리 + AI 콘텐츠 생성
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/resources.ts
  services/web-glycopharm/src/pages/operator/OperatorResourcesPage.tsx
Labels: typescript

feat(lms): WO-O4O-KPA-LMS-OPERATIONS-POINT-REWARD-VIEW-V1 — 강의 운영 포인트 지급 현황 조회 추가
  apps/api-server/src/modules/lms/controllers/InstructorController.ts
  apps/api-server/src/modules/lms/routes/lms.routes.ts
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-kpa-society/src/pages/instructor/operations/OperationsCourseDetailPage.tsx
Labels: backend, typescript

fix(ai): WO-O4O-AI-URL-NAVER-BLOG-MAIN-CONTENT-SELECTION-WITH-GENERIC-REGRESSION-GUARD-V1
  apps/api-server/src/routes/ai-proxy.routes.ts
Labels: backend, typescript

feat(signage): WO-O4O-SIGNAGE-PLAYER-CORE-FULLSCREEN-START-UI-V1 — Core 채널 플레이어 전체화면 시작 UI 추가
  services/signage-player-web/src/components/player/PlayerController.tsx
  services/signage-player-web/src/components/player/PlayerOverlay.tsx
Labels: typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-POP-STORE-EXECUTION-V1 — POP 생성 Store Execution 연결
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/store-management/StoreMainPage.tsx
  services/web-glycopharm/src/pages/store-management/StorePopPage.tsx
Labels: typescript

docs: IR-O4O-AI-URL-NAVER-BLOG-BLOCK-GENERATION-REGRESSION-AUDIT-V1
  docs/investigations/IR-O4O-AI-URL-NAVER-BLOG-BLOCK-GENERATION-REGRESSION-AUDIT-V1.md
Labels: documentation

fix(ai): WO-O4O-AI-URL-NAVER-BLOG-CANDIDATE-SELECTION-FIX-V1
  apps/api-server/src/routes/ai-proxy.routes.ts
Labels: backend, typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-QR-STORE-EXECUTION-V1 — QR 관리 UI 추가
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/store-management/StoreMainPage.tsx
  services/web-glycopharm/src/pages/store/StoreQrPage.tsx
Labels: typescript

fix(lms): WO-O4O-LMS-ROUTING-UNIFICATION-V1 — GlycoPharm LMS route Canonical 정렬
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/pages/education/CourseDetailPage.tsx
  services/web-glycopharm/src/pages/education/EducationPage.tsx
Labels: typescript

fix(rbac): WO-O4O-RBAC-ADMIN-LEGACY-PREFIX-COMPAT-GUARD-FIX-V1 — requireAdmin legacy+prefix compat
  apps/api-server/src/common/middleware/auth/authorization.middleware.ts
Labels: backend, typescript

refactor(lms): WO-O4O-LMS-CLIENT-GLYCOPHARM-UNWRAP-CLEANUP-V1 — factory 직접 위임 구조 정렬
  services/web-glycopharm/src/api/lms.ts
  services/web-glycopharm/src/pages/education/CourseDetailPage.tsx
Labels: typescript

fix(ai): WO-O4O-AI-BLOCK-VALIDATION-TYPE-AWARE-LENGTH-FIX-V1
  apps/api-server/src/routes/ai-proxy.routes.ts
Labels: backend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
