Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(k-cosmetics): WO-O4O-KCOSMETICS-STORE-HUB-CONTENT-CANONICAL-ALIGNMENT-V1 — HubContentPage wrapper → ContentHubTemplate canonical 구조 이식
  services/web-k-cosmetics/src/pages/hub/HubContentPage.tsx
Labels: typescript

feat(k-cosmetics): WO-O4O-KCOS-STORE-HUB-CONTENT-PAGE-CANONICAL-ALIGNMENT-V1 — dashboardCopyApi → assetSnapshotApi canonical 전환
  services/web-k-cosmetics/src/pages/hub/HubContentPage.tsx
Labels: typescript

feat(member-admin): WO-O4O-OPERATOR-MEMBERS-DELETE-FLOW-COMMONIZATION-V1 — GP/K-Cos admin Delete Flow 공통화
  packages/operator-core-ui/src/modules/members/OperatorMemberDeleteFlow.tsx
  packages/operator-core-ui/src/modules/members/index.ts
  services/web-glycopharm/src/pages/admin/GlycoPharmAdminMembersPage.tsx
  services/web-k-cosmetics/src/pages/admin/KCosmeticsAdminMembersPage.tsx
Labels: packages, typescript

fix(glycopharm): WO-O4O-GLYCOPHARM-STORE-HUB-CONTENT-COPY-API-FIX-V1 — dashboardCopyApi → assetSnapshotApi canonical 전환
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
Labels: typescript

docs: add store hub canonical cross-service completion v2 check
  docs/investigations/CHECK-O4O-STORE-HUB-CANONICAL-CROSSSERVICE-COMPLETION-V2.md
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
Labels: documentation, typescript

fix(glycopharm): restore pharmacy wording in hub content copy labels
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
Labels: typescript

docs(crossservice): CHECK-O4O-CROSSSERVICE-STORE-HUB-CANONICAL-ALIGNMENT-CYCLE1-V1 — Store HUB 6영역 1차 정렬 완료 고정
  docs/investigations/CHECK-O4O-CROSSSERVICE-STORE-HUB-CANONICAL-ALIGNMENT-CYCLE1-V1.md
Labels: documentation

docs(member): CHECK-O4O-MEMBER-MANAGEMENT-COMMONIZATION-COMPLETION-V1
  docs/investigations/CHECK-O4O-MEMBER-MANAGEMENT-COMMONIZATION-COMPLETION-V1.md
Labels: documentation

docs: add my store execution cross-service commonization check
  docs/investigations/CHECK-O4O-MY-STORE-EXECUTION-CROSSSERVICE-COMMONIZATION-V1.md
Labels: documentation

fix(glycopharm): WO-O4O-GLYCOPHARM-HUBCONTENT-PHARMACY-LABEL-RESTORE-AND-GUARD-V1 — 약국 문구 복구 + 재발 방지 주석
  services/web-glycopharm/src/pages/hub/HubContentListPage.tsx
Labels: typescript

docs(glycopharm): CHECK-O4O-GLYCOPHARM-STORE-HUB-CONTENT-LABEL-RESIDUE-V1 — 내 약국 레이블 의도적 유지 확인 및 정책 고정
  docs/investigations/CHECK-O4O-GLYCOPHARM-STORE-HUB-CONTENT-LABEL-RESIDUE-V1.md
Labels: documentation

docs(crossservice): IR-O4O-CROSSSERVICE-STORE-HUB-PAGE-COMMONIZATION-V1 — service-local 병렬 복제 현황 조사, 공통화 보류 권장
  docs/investigations/IR-O4O-CROSSSERVICE-STORE-HUB-PAGE-COMMONIZATION-V1.md
Labels: documentation

docs(ir): IR-O4O-MY-STORE-PRODUCT-DESCRIPTION-CROSSSERVICE-GAP-V1 — 상품 설명 cross-service gap 조사 PASS, frontend-only WO 즉시 가능
  docs/investigations/IR-O4O-MY-STORE-PRODUCT-DESCRIPTION-CROSSSERVICE-GAP-V1.md
Labels: documentation

docs(operator-members): CHECK-O4O-OPERATOR-MEMBERS-LIST-COMMONIZATION-COMPLETION-V1 — 3서비스 thin wrapper 완료 상태 PASS 고정
  docs/investigations/CHECK-O4O-OPERATOR-MEMBERS-LIST-COMMONIZATION-COMPLETION-V1.md
Labels: documentation

docs: WO-O4O-DOCS-CARE-GLUCOSEVIEW-OBSOLETE-CLEANUP-V1 — care/glucoseview 폐기 문서 archive 이동 및 빈 폴더 제거
  docs/README.md
  docs/archive/obsolete/care/CARE-HOME-CURRENT-STRUCTURE-REPORT-V1.md
  docs/archive/obsolete/care/CARE-PATIENTS-CURRENT-STRUCTURE-REPORT-V1.md
  docs/archive/obsolete/care/CARE-USER-TEST-CHECKLIST.md
  docs/archive/obsolete/care/MY-PAGE-ROLE-STRUCTURE-REPORT-V1.md
  docs/archive/obsolete/care/STORE-ROLE-ACCESS-REPORT-V1.md
  docs/manual/README.md
  docs/manual/glucoseview/assets/.gitkeep
  docs/manual/glucoseview/operator/.gitkeep
Labels: documentation

docs(operator-members): IR-O4O-OPERATOR-MEMBERS-EDIT-MODAL-COMMONIZATION-AUDIT-V1 — EditUserModal 공통화 완료 확인, 추가 WO 불필요
  docs/investigations/IR-O4O-OPERATOR-MEMBERS-EDIT-MODAL-COMMONIZATION-AUDIT-V1.md
Labels: documentation

docs(operator-members): IR-O4O-OPERATOR-MEMBERS-API-CLIENT-COMMONIZATION-AUDIT-V1 — API client 공통화 가치 낮음, service-local 유지 권장
  docs/investigations/IR-O4O-OPERATOR-MEMBERS-API-CLIENT-COMMONIZATION-AUDIT-V1.md
Labels: documentation

feat(store): WO-O4O-MY-STORE-PRODUCT-DESCRIPTION-CROSSSERVICE-ALIGNMENT-V1 — GlycoPharm/K-Cosmetics 상품 설명 기능 이식
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/productAiContent.ts
  services/web-glycopharm/src/config/productionTemplates.ts
  services/web-glycopharm/src/pages/store-management/StoreProductDescriptionsPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/api/productAiContent.ts
  services/web-k-cosmetics/src/config/productionTemplates.ts
  services/web-k-cosmetics/src/pages/store/StoreProductDescriptionsPage.tsx
Labels: typescript

docs: WO-O4O-DOCS-MARKET-TRIAL-POINT-RESET-CLEANUP-V1 — obsolete point policy and unexecuted reset plan archive 이동
  docs/README.md
  docs/archive/investigations/IR-O4O-KPA-TEMP-SEED-ACCOUNT-RESIDUE-AUDIT-V1.md
  docs/archive/obsolete/point/O4O-POINT-REWARD-OPERATION-POLICY.md
  docs/archive/reports/O4O-PLATFORM-RESET-EXECUTION-PLAN-V1.md
Labels: documentation

docs(operator-members): CHECK-O4O-OPERATOR-MEMBERS-COMMONIZATION-LIVE-SMOKE-V1 — 3서비스 배포 환경 brower smoke PASS, 공통화 사이클 종료
  docs/investigations/CHECK-O4O-OPERATOR-MEMBERS-COMMONIZATION-LIVE-SMOKE-V1.md
Labels: documentation

docs: WO-O4O-DOCS-REMAINING-SMALL-FOLDERS-REORGANIZATION-V1 — dev/ops/policies 소규모 폴더 재배치 및 kpa/neture README 추가
  docs/README.md
  docs/baseline/operations/INTERNAL-BETA-RUNBOOK-V1.md
  docs/kpa/README.md
  docs/neture/README.md
  docs/platform/development/PLAYWRIGHT-MCP.md
  docs/platform/lms/marketing-content-reward-policy-v1.md
Labels: documentation

feat(glycopharm): WO-O4O-GLYCOPHARM-ADMIN-DASHBOARD-LAYOUT-WRAPPER-V1 — admin dashboard AdminDashboardLayout 적용
  services/web-glycopharm/src/pages/admin/GlycoPharmAdminDashboard.tsx
Labels: typescript

docs(store): CHECK-O4O-MY-STORE-EXECUTION-CROSSSERVICE-COMMONIZATION-V2 — 3서비스 내 매장/내 약국 실행 영역 cross-service 공통화 1차 완료 확인
  docs/investigations/CHECK-O4O-MY-STORE-EXECUTION-CROSSSERVICE-COMMONIZATION-V2.md
Labels: documentation

feat(k-cosmetics): WO-O4O-KCOS-ADMIN-DASHBOARD-LAYOUT-WRAPPER-V1 — admin dashboard AdminDashboardLayout 적용
  services/web-k-cosmetics/src/pages/admin/KCosmeticsAdminDashboard.tsx
Labels: typescript

docs(store): CHECK-V2 PARTIAL 판정 갱신 + IR-O4O-STORE-HUB-UI-UX-STANDARDIZATION-AUDIT-V1 추가
  docs/architecture/O4O-CORE-FREEZE-V1.md
  docs/archive/obsolete/work-orders/WO-KPA-SIGNAGE-DEAD-CODE-RETIREMENT-PLAN-V1.md
  docs/archive/obsolete/work-orders/WO-KPA-SIGNAGE-IA-RESTRUCTURE-DRAFT-V1.md
  docs/archive/obsolete/work-orders/WO-O4O-NETURE-LOGIN-REDIRECT-ENV-VERIFY-V1.md
  docs/archive/obsolete/work-orders/WO-O4O-SIGNAGE-UX-AND-BOUNDARY-ALIGNMENT-V1.md
  docs/archive/work-orders/CHECK-O4O-GLYCOPHARM-LMS-CANONICAL-ALIGNMENT-COMPLETION-V1.md
  docs/archive/work-orders/WO-EVENT-OFFER-LIFECYCLE-SMOKE-VERIFICATION-V1.md
  docs/archive/work-orders/WO-O4O-E2E-REGISTRATION-APPROVAL-LOGIN-TEST-V1-REPORT.md
  docs/archive/work-orders/WO-O4O-GLYCOPHARM-CARE-AI-INTERMITTENT-404-FIX-REPORT-V1.md
  docs/investigations/CHECK-O4O-MY-STORE-EXECUTION-CROSSSERVICE-COMMONIZATION-V2.md
  docs/investigations/IR-O4O-STORE-HUB-UI-UX-STANDARDIZATION-AUDIT-V1.md
  docs/work-orders/README.md
Labels: documentation

docs: WO-O4O-DOCS-WORK-ORDERS-REORGANIZATION-V1 — work-orders 원본 제거 (archive 이동 완료)
  docs/work-orders/CHECK-O4O-GLYCOPHARM-LMS-CANONICAL-ALIGNMENT-COMPLETION-V1.md
  docs/work-orders/WO-EVENT-OFFER-LIFECYCLE-SMOKE-VERIFICATION-V1.md
  docs/work-orders/WO-KPA-SIGNAGE-DEAD-CODE-RETIREMENT-PLAN-V1.md
  docs/work-orders/WO-KPA-SIGNAGE-IA-RESTRUCTURE-DRAFT-V1.md
  docs/work-orders/WO-O4O-E2E-REGISTRATION-APPROVAL-LOGIN-TEST-V1-REPORT.md
  docs/work-orders/WO-O4O-GLYCOPHARM-CARE-AI-INTERMITTENT-404-FIX-REPORT-V1.md
  docs/work-orders/WO-O4O-NETURE-LOGIN-REDIRECT-ENV-VERIFY-V1.md
  docs/work-orders/WO-O4O-SIGNAGE-UX-AND-BOUNDARY-ALIGNMENT-V1.md
  packages/admin-ux-core/src/blocks/AdminLinkBlock.tsx
  packages/admin-ux-core/src/index.ts
  services/web-glycopharm/src/pages/admin/GlycoPharmAdminDashboard.tsx
  services/web-k-cosmetics/src/pages/admin/KCosmeticsAdminDashboard.tsx
Labels: packages, documentation, typescript

fix(kcosmetics): align production materials menu label
  packages/store-ui-core/src/config/storeMenuConfig.ts
Labels: packages, typescript

feat(kpa): WO-O4O-KPA-ADMIN-DASHBOARD-ADMIN-UX-CORE-MIGRATION-V1 — admin dashboard AdminDashboardLayout 정합
  services/web-kpa-society/src/pages/admin/KpaAdminDashboardPage.tsx
Labels: typescript

docs(workstream): CHECK-O4O-CURRENT-WORKSTREAM-NEXT-SCOPE-AUDIT-V1 — 완료 3축 정리, My Store/Admin 다른 세션 제외, 다음 후보 우선순위 제안
  docs/investigations/CHECK-O4O-CURRENT-WORKSTREAM-NEXT-SCOPE-AUDIT-V1.md
Labels: documentation

docs: add kcosmetics store order billing placeholder audit
  docs/investigations/IR-O4O-KCOSMETICS-STORE-ORDER-BILLING-PLACEHOLDER-AUDIT-V1.md
Labels: documentation

docs(operator-forum): IR-O4O-OPERATOR-FORUM-LIST-COMMONIZATION-AUDIT-V1 — Forum 리스트 2패턴 혼재 확인, GP/K-Cos bulk parity 보강 권장, ForumManagement 공통화 보류
  docs/investigations/IR-O4O-OPERATOR-FORUM-LIST-COMMONIZATION-AUDIT-V1.md
Labels: documentation

docs: CHECK-O4O-DOCS-POST-CLEANUP-LINK-AND-INDEX-V1 — broken link fix and archive README update
  CLAUDE.md
  docs/README.md
Labels: documentation

docs(operator-admin): CHECK-O4O-OPERATOR-ADMIN-UI-STANDARDIZATION-COMPLETION-V1
  docs/investigations/CHECK-O4O-OPERATOR-ADMIN-UI-STANDARDIZATION-COMPLETION-V1.md
Labels: documentation

docs: WO-O4O-DOCS-MISSING-BASELINE-DOCUMENTS-CREATION-V1 — O4O 핵심 baseline 4개 문서 생성
  docs/baseline/O4O-3-ROLE-FLOW-BASELINE-V1.md
  docs/baseline/O4O-BUSINESS-PHILOSOPHY-V1.md
  docs/baseline/O4O-OPERATOR-HUB-CONTENT-PUBLISHING-STANDARD-V1.md
  docs/baseline/O4O-OPERATOR-NON-APPROVAL-UX-BASELINE-V1.md
  docs/baseline/README.md
Labels: documentation

feat(forum): WO-O4O-GLYCOPHARM-KCOS-FORUM-DELETE-REQUEST-BULK-PARITY-V1 — GP/K-Cos 포럼 삭제요청 bulk parity 보강
  services/web-glycopharm/src/pages/operator/ForumDeleteRequestsPage.tsx
  services/web-k-cosmetics/src/pages/operator/ForumDeleteRequestsPage.tsx
Labels: typescript

feat(kcosmetics): WO-O4O-KCOSMETICS-STORE-ORDERS-FRONTEND-ALIGNMENT-V1 — 매장 주문 관리 frontend 구현
  packages/store-ui-core/src/config/storeMenuConfig.ts
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/api/storeOrders.ts
  services/web-k-cosmetics/src/pages/store/StoreOrdersPage.tsx
Labels: packages, typescript

feat(neture): WO-O4O-NETURE-CONTEXTUAL-NAV-SUPPLIER-PARTNER-INTEGRATION-V1 — supplier/partner 워크스페이스 진입 nav 보강
  services/web-neture/src/config/navigation.ts
Labels: typescript

feat(forum): WO-O4O-GLYCOPHARM-KCOS-FORUM-REQUEST-BULK-PARITY-V1 — GP/K-Cos 포럼 신청 bulk parity 보강
  services/web-glycopharm/src/pages/operator/ForumRequestsPage.tsx
  services/web-k-cosmetics/src/pages/operator/ForumRequestsPage.tsx
Labels: typescript

docs: add kcosmetics store billing settlement design audit
  docs/investigations/IR-O4O-KCOSMETICS-STORE-BILLING-SETTLEMENT-DESIGN-V1.md
Labels: documentation

docs(neture): CHECK-O4O-NETURE-CONTEXTUAL-NAV-SUPPLIER-PARTNER-SMOKE-V1
  docs/investigations/CHECK-O4O-NETURE-CONTEXTUAL-NAV-SUPPLIER-PARTNER-SMOKE-V1.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
