Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

docs(check): PharmacyHub 최종 마감 배포 후 프로덕션 재검증 기록 (WO-O4O-PHARMACYHUB-FINAL-ROLE-ENTRY-AND-PRODUCTION-ADOPTION-CLOSURE-V1)
  docs/checks/CHECK-O4O-PHARMACYHUB-FINAL-ROLE-ENTRY-AND-PRODUCTION-ADOPTION-CLOSURE-V1.md
Labels: documentation

fix(o4o): Header/Footer 공통화 최종 종료 감사 — dead anchor 제거·stale 연도 정정 (WO-O4O-CROSSSERVICE-HEADER-FOOTER-FINAL-CLOSURE-AUDIT-V1)
  docs/checks/CHECK-O4O-CROSSSERVICE-HEADER-FOOTER-FINAL-CLOSURE-AUDIT-V1.md
  services/web-glycopharm/src/components/common/Footer.tsx
  services/web-glycopharm/src/components/layouts/StoreLayout.tsx
  services/web-k-cosmetics/src/components/common/Footer.tsx
  services/web-kpa-society/src/components/platform/PlatformHeader.tsx
Labels: documentation, typescript

docs(check): PharmacyHub LMS learner adoption — 프로덕션 E2E·서비스 경계 실측 기록 (WO-O4O-PHARMACYHUB-LMS-LEARNER-FULL-ADOPTION-V1 §24)
  docs/investigations/CHECK-O4O-PHARMACYHUB-LMS-LEARNER-FULL-ADOPTION-V1.md
Labels: documentation

fix(operator): 회원 상세 ID·상태 축 계약 정리 (WO-O4O-OPERATOR-CROSSSERVICE-MEMBER-DETAIL-ID-AND-STATUS-CONTRACT-CLOSURE-V1)
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  packages/ui/src/operator-user-detail/UserDetailPage.tsx
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/pages/admin/KCosmeticsAdminMembersPage.tsx
  services/web-k-cosmetics/src/pages/operator/UsersPage.tsx
Labels: backend, packages, typescript

chore(sites): Multi-Site Builder sites 도메인 retire (WO-O4O-MULTI-SITE-BUILDER-SITES-DOMAIN-CENSUS-AND-RETIREMENT-V1)
  apps/api-server/src/__tests__/service-monitor-retirement.spec.ts
  apps/api-server/src/__tests__/sites-domain-retirement.spec.ts
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/common/docs/module-structure.md
  apps/api-server/src/database/entities.ts
  apps/api-server/src/modules/sites/dto/create-site.dto.ts
  apps/api-server/src/modules/sites/dto/scaffold-site.dto.ts
  apps/api-server/src/modules/sites/index.ts
  apps/api-server/src/modules/sites/site.entity.ts
  apps/api-server/src/modules/sites/sites.routes.ts
  docs/checks/WO-O4O-MULTI-SITE-BUILDER-SITES-DOMAIN-CENSUS-AND-RETIREMENT-V1-CHECK.md
Labels: backend, documentation, testing, typescript

docs(check): production adoption 실측 반영 — Header/Footer 최종 종료 감사 (WO-O4O-CROSSSERVICE-HEADER-FOOTER-FINAL-CLOSURE-AUDIT-V1)
  docs/checks/CHECK-O4O-CROSSSERVICE-HEADER-FOOTER-FINAL-CLOSURE-AUDIT-V1.md
Labels: documentation

docs(ui): Global Header 표준 문서를 현재 구현 상태와 정합화 (WO-O4O-GLOBAL-HEADER-STANDARD-CURRENT-STATE-ALIGNMENT-V1)
  docs/architecture/ui/GLOBAL-HEADER-STANDARD-V1.md
  docs/checks/CHECK-O4O-GLOBAL-HEADER-STANDARD-CURRENT-STATE-ALIGNMENT-V1.md
Labels: documentation

fix(operator): k-cosmetics bare store_owner 역할 정규화·회수 scope 판정 교정 (WO-O4O-OPERATOR-CROSSSERVICE-MEMBER-DETAIL-ID-AND-STATUS-CONTRACT-CLOSURE-V1 D4)
  apps/api-server/src/controllers/operator/MembershipConsoleController.ts
  apps/api-server/src/services/approval/MembershipApprovalService.ts
Labels: backend, typescript

docs(check): sites 도메인 retire 배포 후 프로덕션 검증 기록 (WO-O4O-MULTI-SITE-BUILDER-SITES-DOMAIN-CENSUS-AND-RETIREMENT-V1 §17)
  docs/checks/WO-O4O-MULTI-SITE-BUILDER-SITES-DOMAIN-CENSUS-AND-RETIREMENT-V1-CHECK.md
Labels: documentation

fix(approval): membership lifecycle 의 bare role 부여를 서비스 prefix 로 정규화 (WO-O4O-OPERATOR-CROSSSERVICE-MEMBER-DETAIL-ID-AND-STATUS-CONTRACT-CLOSURE-V1 D4)
  apps/api-server/src/services/approval/MembershipApprovalService.ts
Labels: backend, typescript

docs(check): GlobalHeader submenu(children) 계약 결정 — REMOVE_UNUSED_CHILDREN (WO-O4O-GLOBAL-HEADER-SUBMENU-CONTRACT-DECISION-V1)
  docs/architecture/ui/GLOBAL-HEADER-STANDARD-V1.md
  docs/checks/CHECK-O4O-GLOBAL-HEADER-SUBMENU-CONTRACT-DECISION-V1.md
Labels: documentation

docs(check): Header/Footer 공통화 production adoption 전수 재검증 기록 (WO-O4O-CROSSSERVICE-HEADER-FOOTER-PRODUCTION-ADOPTION-FINAL-VERIFICATION-V1)
  docs/checks/CHECK-O4O-CROSSSERVICE-HEADER-FOOTER-FINAL-CLOSURE-AUDIT-V1.md
Labels: documentation

chore(deployment): application-level Deployment 도메인 retire (WO-O4O-DEPLOYMENT-DOMAIN-CENSUS-AND-RETIREMENT-V1)
  apps/api-server/src/__tests__/deployment-domain-retirement.spec.ts
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/common/docs/module-structure.md
  apps/api-server/src/database/entities.ts
  apps/api-server/src/modules/deployment/deployment.entity.ts
  apps/api-server/src/modules/deployment/dto/create-instance.dto.ts
  apps/api-server/src/modules/deployment/dto/index.ts
  apps/api-server/src/modules/deployment/dto/install-apps.dto.ts
  apps/api-server/src/modules/deployment/index.ts
  docs/checks/WO-O4O-DEPLOYMENT-DOMAIN-CENSUS-AND-RETIREMENT-V1-CHECK.md
Labels: backend, documentation, testing, typescript

docs(check): GlobalHeader children 제거 중단 보고 + 표준 문서 경로 대소문자 정정 (WO-O4O-GLOBAL-HEADER-UNUSED-CHILDREN-CONTRACT-REMOVAL-V1)
  docs/checks/CHECK-O4O-GLOBAL-HEADER-UNUSED-CHILDREN-CONTRACT-REMOVAL-V1.md
  packages/ui/src/layout/GlobalHeader.tsx
Labels: packages, documentation, typescript

feat(pharmacy-hub): 회원 자료실을 공통 ResourcesHubTemplate + cms_contents 로 채택 (WO-O4O-PHARMACYHUB-COMMUNITY-CONTENT-RESOURCE-TABLE-AND-ADOPTION-V1)
  apps/api-server/src/__tests__/community-content-resource-frontend-view-commonization.spec.ts
  apps/api-server/src/__tests__/pharmacy-hub-content-resource-adoption.spec.ts
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/config/navigation.ts
  services/web-pharmacy-hub/src/lib/api/pharmacyHubResources.ts
  services/web-pharmacy-hub/src/pages/community/CommunityHomePage.tsx
  services/web-pharmacy-hub/src/pages/resources/PharmacyHubResourcesPage.tsx
Labels: backend, testing, typescript

fix(test): lint ratchet 신규 오류 해소 — 리터럴 TAB 을 \t 이스케이프로 교체
  apps/api-server/src/__tests__/pharmacy-hub-community-capability-adoption.spec.ts
Labels: backend, testing, typescript

docs(check): Deployment 도메인 retire 배포 후 프로덕션 검증 기록 (WO-O4O-DEPLOYMENT-DOMAIN-CENSUS-AND-RETIREMENT-V1 §19)
  docs/checks/WO-O4O-DEPLOYMENT-DOMAIN-CENSUS-AND-RETIREMENT-V1-CHECK.md
Labels: documentation

fix(pharmacy-hub): 자료실 진입점 실렌더 경로 보강 (WO-O4O-PHARMACYHUB-COMMUNITY-CONTENT-RESOURCE-TABLE-AND-ADOPTION-V1 §12)
  apps/api-server/src/__tests__/pharmacy-hub-content-resource-adoption.spec.ts
  services/web-pharmacy-hub/src/config/navigation.ts
  services/web-pharmacy-hub/src/pages/community/CommunityHomePage.tsx
Labels: backend, testing, typescript

docs(check): PharmacyHub Community/Content/Resource 채택 CHECK (WO-O4O-PHARMACYHUB-COMMUNITY-CONTENT-RESOURCE-TABLE-AND-ADOPTION-V1)
  docs/checks/CHECK-O4O-PHARMACYHUB-COMMUNITY-CONTENT-RESOURCE-TABLE-AND-ADOPTION-V1.md
Labels: documentation

docs(check): 운영자 회원 ID·상태전이 계약 마감 CHECK (WO-O4O-OPERATOR-CROSSSERVICE-MEMBER-DETAIL-ID-AND-STATUS-CONTRACT-CLOSURE-V1)
  docs/checks/WO-O4O-OPERATOR-CROSSSERVICE-MEMBER-DETAIL-ID-AND-STATUS-CONTRACT-CLOSURE-V1-CHECK.md
Labels: documentation

feat(pharmacy-hub): 회원 콘텐츠(/content) 공통 View 채택 (WO-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1)
  apps/api-server/src/__tests__/pharmacyhub-community-content-adoption.spec.ts
  packages/shared-space-ui/src/ContentHubTemplate.tsx
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/config/navigation.ts
  services/web-pharmacy-hub/src/lib/api/pharmacyHubContents.ts
  services/web-pharmacy-hub/src/pages/content/PharmacyHubContentDetailPage.tsx
  services/web-pharmacy-hub/src/pages/content/PharmacyHubContentPage.tsx
Labels: backend, packages, testing, typescript

docs(check): PH 커뮤니티·내 매장 parity 진행 기록 (WO-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1)
  docs/investigations/CHECK-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1.md
Labels: documentation

refactor(ui): remove unused global header children contract
  docs/architecture/ui/GLOBAL-HEADER-STANDARD-V1.md
  docs/checks/CHECK-O4O-GLOBAL-HEADER-UNUSED-CHILDREN-CONTRACT-REMOVAL-V1.md
  packages/ui/src/layout/GlobalHeader.tsx
  services/web-glycopharm/src/config/navigation.ts
  services/web-k-cosmetics/src/config/navigation.ts
  services/web-kpa-society/src/config/navigation.ts
  services/web-neture/src/config/navigation.ts
  services/web-pharmacy-hub/src/config/navigation.ts
Labels: packages, documentation, typescript

docs(check): 회원 Content write 계약 정정 + 동일 WO 인계 (WO-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1)
  docs/investigations/CHECK-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1.md
Labels: documentation

docs(check): Operator KPA canonical cross-service UI/UX 전수 census (WO-O4O-OPERATOR-KPA-CANONICAL-CROSSSERVICE-UIUX-FULL-CENSUS-V1)
  docs/checks/WO-O4O-OPERATOR-KPA-CANONICAL-CROSSSERVICE-UIUX-FULL-CENSUS-V1-CHECK.md
Labels: documentation

docs(check): census 수치 정합 — KPA UX_DRIFT 8건 · 290/290 셀 (WO-O4O-OPERATOR-KPA-CANONICAL-CROSSSERVICE-UIUX-FULL-CENSUS-V1)
  docs/checks/WO-O4O-OPERATOR-KPA-CANONICAL-CROSSSERVICE-UIUX-FULL-CENSUS-V1-CHECK.md
Labels: documentation

fix(cms): 콘텐츠 상세 조회에 서비스 스코프 경로 신설 + invalid UUID 500 누출 제거
  apps/api-server/src/__tests__/cms-content-detail-service-scope.spec.ts
  apps/api-server/src/routes/cms-content/cms-content-query.handler.ts
  docs/checks/CHECK-O4O-CMS-CONTENT-DETAIL-SERVICE-SCOPE-GUARD-V1.md
  services/web-pharmacy-hub/src/lib/api/pharmacyHubResources.ts
Labels: backend, documentation, testing, typescript

chore(app-system): app_instances 생명주기 전수조사 후 RETIRE (WO-O4O-APP-INSTANCES-LIFECYCLE-CENSUS-AND-CANONICAL-DISPOSITION-V1)
  apps/admin-dashboard/src/api/app-system.api.ts
  apps/admin-dashboard/src/components/ai/SimpleAIModal.tsx
  apps/admin-dashboard/src/services/app-system-keys.service.ts
  apps/api-server/scripts/run-migration-standalone.mjs
  apps/api-server/src/__tests__/app-instances-retirement.spec.ts
  apps/api-server/src/database/entities.ts
  apps/api-server/src/entities/AppInstance.ts
  apps/api-server/src/services/app-registry.service.ts
  docs/checks/WO-O4O-APP-INSTANCES-LIFECYCLE-CENSUS-AND-CANONICAL-DISPOSITION-V1-CHECK.md
Labels: frontend, backend, documentation, testing, typescript

docs(check): app_instances retire 배포 후 검증 + CI 선행실패 귀속 기록 (WO-O4O-APP-INSTANCES-LIFECYCLE-CENSUS-AND-CANONICAL-DISPOSITION-V1)
  docs/checks/WO-O4O-APP-INSTANCES-LIFECYCLE-CENSUS-AND-CANONICAL-DISPOSITION-V1-CHECK.md
Labels: documentation

docs(check): CMS read visibility 계약 확정 — platform+serviceKey 의미 판정
  docs/checks/CHECK-O4O-CMS-READ-VISIBILITY-AND-SERVICE-SCOPE-CONTRACT-CLOSURE-V1.md
Labels: documentation

fix(test): children 제거로 깨진 PH navigation 계약 테스트 교정
  apps/api-server/src/__tests__/pharmacy-hub-community-capability-adoption.spec.ts
  apps/api-server/src/__tests__/pharmacy-hub-lms-learner-adoption.spec.ts
  docs/checks/CHECK-O4O-GLOBAL-HEADER-UNUSED-CHILDREN-CONTRACT-REMOVAL-V1.md
Labels: backend, documentation, testing, typescript

docs(check): main 머지 결과 + 운영자 콘솔 채택 blocker 기록 (WO-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1)
  docs/investigations/CHECK-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1.md
Labels: documentation

docs(check): 운영자 콘솔 generic 확장 스펙 확정 (WO-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1)
  docs/investigations/CHECK-O4O-PHARMACYHUB-COMMUNITY-AND-MY-STORE-FULL-PARITY-CLOSURE-V1.md
Labels: documentation

refactor(operator): GlycoPharm 중복 View 공통 Core 수렴 + 공통 Table 모바일 신원 고정 (WO-O4O-OPERATOR-GP-VIEW-DEDUP-AND-CROSSSERVICE-TABLE-UX-ALIGN-V1)
  docs/checks/WO-O4O-OPERATOR-GP-VIEW-DEDUP-AND-CROSSSERVICE-TABLE-UX-ALIGN-V1-CHECK.md
  docs/checks/WO-O4O-OPERATOR-KPA-CANONICAL-CROSSSERVICE-UIUX-FULL-CENSUS-V1-CHECK.md
  packages/operator-core-ui/src/modules/members/OperatorMembersConsolePage.tsx
  packages/operator-core-ui/src/modules/operator-analytics/OperatorAnalyticsPage.tsx
  packages/operator-core-ui/src/modules/operator-analytics/types.ts
  packages/operator-ux-core/src/list/DataTable.tsx
  packages/operator-ux-core/src/list/types.ts
  packages/ui/src/components/table/BaseTable.tsx
  services/web-glycopharm/src/pages/operator/AnalyticsPage.tsx
  services/web-glycopharm/src/pages/operator/LmsCoursesPage.tsx
  services/web-glycopharm/src/pages/operator/StoreDetailPage.tsx
  services/web-glycopharm/src/pages/operator/blog/OperatorBlogListPage.tsx
  services/web-glycopharm/src/pages/operator/blog/OperatorBlogWritePage.tsx
  services/web-glycopharm/src/pages/operator/pop/OperatorPopListPage.tsx
  services/web-glycopharm/src/pages/operator/pop/OperatorPopWritePage.tsx
  services/web-glycopharm/src/pages/operator/qr/OperatorQrListPage.tsx
  services/web-glycopharm/src/pages/operator/qr/OperatorQrWritePage.tsx
  services/web-glycopharm/src/pages/operator/signage/ForcedContentPage.tsx
  services/web-glycopharm/src/pages/operator/signage/HqMediaDetailPage.tsx
  services/web-glycopharm/src/pages/operator/signage/HqMediaPage.tsx
  services/web-glycopharm/src/pages/operator/signage/HqPlaylistCreatePage.tsx
  services/web-glycopharm/src/pages/operator/signage/HqPlaylistDetailPage.tsx
  services/web-glycopharm/src/pages/operator/signage/HqPlaylistsPage.tsx
  services/web-glycopharm/src/pages/operator/signage/TemplateDetailPage.tsx
  services/web-glycopharm/src/pages/operator/signage/TemplatesPage.tsx
  services/web-glycopharm/src/pages/operator/signage/signageHqConfig.ts
  services/web-glycopharm/src/pages/operator/store-channels/OperatorStoreChannelsPage.tsx
  services/web-glycopharm/src/pages/operator/survey/OperatorSurveyCreatePage.tsx
  services/web-glycopharm/src/pages/operator/survey/OperatorSurveyListPage.tsx
  services/web-glycopharm/src/pages/operator/survey/surveysConsole.ts
Labels: packages, documentation, typescript

fix(test): LMS 정적 가드 대상을 실렌더 경로로 이동 + 배포 후 브라우저 검증 기록 (WO-O4O-OPERATOR-GP-VIEW-DEDUP-AND-CROSSSERVICE-TABLE-UX-ALIGN-V1)
  apps/api-server/src/__tests__/lms-public-course-service-scope.spec.ts
  docs/checks/WO-O4O-OPERATOR-GP-VIEW-DEDUP-AND-CROSSSERVICE-TABLE-UX-ALIGN-V1-CHECK.md
Labels: backend, documentation, testing, typescript

docs(check): PH Community navigation red 재조사 종결 — 두 route ACTIVE + STALE_TEST 확정
  docs/checks/WO-O4O-PHARMACYHUB-COMMUNITY-NAVIGATION-REGRESSION-CLOSURE-V1-CHECK.md
  services/web-kpa-society/src/components/ServiceBanner.tsx
  services/web-kpa-society/src/components/platform/PlatformFooter.tsx
  services/web-kpa-society/src/components/platform/PlatformHeader.tsx
  services/web-kpa-society/src/components/platform/ServiceCard.tsx
  services/web-kpa-society/src/pages/mypage/AnnualReportFormPage.tsx
Labels: documentation, typescript

revert(kpa): 다른 세션의 staged 삭제 5건을 원복 — 431526533 오포함 정정
  services/web-kpa-society/src/components/ServiceBanner.tsx
  services/web-kpa-society/src/components/platform/PlatformFooter.tsx
  services/web-kpa-society/src/components/platform/PlatformHeader.tsx
  services/web-kpa-society/src/components/platform/ServiceCard.tsx
  services/web-kpa-society/src/pages/mypage/AnnualReportFormPage.tsx
Labels: typescript

fix(rbac): legacy bare role 전수조사 + 고아 store_owner 회수 + 부여경로 재발방지 (WO-O4O-CROSSSERVICE-LEGACY-BARE-ROLE-CENSUS-AND-CLEANUP-V1)
  apps/api-server/src/database/migrations/20270318000000-RevokeOrphanedBareStoreOwnerRole.ts
  apps/api-server/src/modules/neture/services/operator-registration.service.ts
  apps/api-server/src/services/approval/MembershipApprovalService.ts
  apps/api-server/src/services/approval/__tests__/MembershipApprovalService.bareRoleContract.test.ts
  docs/checks/WO-O4O-CROSSSERVICE-LEGACY-BARE-ROLE-CENSUS-AND-CLEANUP-V1-CHECK.md
Labels: backend, documentation, testing, typescript

docs(check): 배포 후 프로덕션 실측 기록 (WO-O4O-CROSSSERVICE-LEGACY-BARE-ROLE-CENSUS-AND-CLEANUP-V1)
  docs/checks/WO-O4O-CROSSSERVICE-LEGACY-BARE-ROLE-CENSUS-AND-CLEANUP-V1-CHECK.md
Labels: documentation

fix(cms): read 경계를 serviceKey 로 강제 — list/detail/stats/slot 동일 계약 (WO-O4O-CMS-READ-VISIBILITY-AND-SERVICE-SCOPE-CONTRACT-CLOSURE-V1)
  apps/admin-dashboard/src/lib/cms.ts
  apps/admin-dashboard/src/pages/cms/contents/CMSContentList.tsx
  apps/api-server/src/__tests__/cms-content-detail-service-scope.spec.ts
  apps/api-server/src/__tests__/cms-content-slot-service-scope.spec.ts
  apps/api-server/src/__tests__/pharmacy-hub-content-resource-adoption.spec.ts
  apps/api-server/src/routes/cms-content/cms-content-mutation.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-query.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-slot.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-utils.ts
  docs/checks/CHECK-O4O-CMS-READ-VISIBILITY-AND-SERVICE-SCOPE-CONTRACT-CLOSURE-V1.md
  services/web-glycopharm/src/api/cms.ts
Labels: frontend, backend, documentation, testing, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
