Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

refactor(admin-dashboard): Unify all block namespaces to o4o/*
  apps/admin-dashboard/src/blocks/definitions/button.tsx
  apps/admin-dashboard/src/blocks/definitions/code.tsx
  apps/admin-dashboard/src/blocks/definitions/column.tsx
  apps/admin-dashboard/src/blocks/definitions/columns.tsx
  apps/admin-dashboard/src/blocks/definitions/cover.tsx
  apps/admin-dashboard/src/blocks/definitions/file.tsx
  apps/admin-dashboard/src/blocks/definitions/gallery.tsx
  apps/admin-dashboard/src/blocks/definitions/group.tsx
  apps/admin-dashboard/src/blocks/definitions/heading.tsx
  apps/admin-dashboard/src/blocks/definitions/image.tsx
  apps/admin-dashboard/src/blocks/definitions/list.tsx
  apps/admin-dashboard/src/blocks/definitions/paragraph.tsx
  apps/admin-dashboard/src/blocks/definitions/quote.tsx
  apps/admin-dashboard/src/blocks/definitions/shortcode.tsx
  apps/admin-dashboard/src/blocks/definitions/social.tsx
  apps/admin-dashboard/src/blocks/definitions/table.tsx
  apps/admin-dashboard/src/blocks/definitions/video.tsx
Labels: frontend, typescript

refactor: Unify all block namespaces from core/* to o4o/*
  AGENTS.md
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/components/editor/DesignLibraryModalImproved.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/InnerBlocks.tsx
  apps/admin-dashboard/src/components/inspector/InspectorSidebar.tsx
  apps/admin-dashboard/src/components/inspector/block-settings/index.ts
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
Labels: frontend, documentation, typescript

refactor: Complete namespace unification - replace all core/* with o4o/*
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/blocks/definitions/column.tsx
  apps/admin-dashboard/src/blocks/registry/DynamicRenderer.tsx
  apps/admin-dashboard/src/blocks/registry/types.ts
  apps/admin-dashboard/src/components/editor/BlockDragHandle.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/editor/GutenbergBlockInserter.tsx
  apps/admin-dashboard/src/components/editor/blocks/ColumnsBlockNew.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedCoverBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedHeadingBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedQuoteBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/cover/CoverContent.tsx
  apps/admin-dashboard/src/components/editor/blocks/image/ImageDisplay.tsx
  apps/admin-dashboard/src/components/editor/blocks/shared/BlockTransforms.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
  apps/admin-dashboard/src/hooks/useBlockPatterns.ts
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/template-parts-converter.ts
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
  apps/admin-dashboard/src/pages/preview/PostPreview.tsx
  apps/admin-dashboard/src/scripts/update-ai-docs.ts
  apps/admin-dashboard/src/scripts/update-ai-page-docs.ts
  apps/admin-dashboard/src/services/ai/SimpleAIGenerator.ts
  apps/admin-dashboard/src/services/ai/block-registry-extractor.ts
  apps/admin-dashboard/src/utils/block-icons.tsx
  apps/admin-dashboard/src/utils/block-parser.ts
  apps/admin-dashboard/src/utils/history-manager.ts
Labels: frontend, typescript

refactor: Delete unused ColumnsBlock.tsx
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/ColumnsBlock.tsx
Labels: frontend, typescript

chore(docs): prune and reorganize
  apps/admin-dashboard/src/blocks/definitions/slider-slide.tsx
  apps/admin-dashboard/src/components/editor/blocks/slider/SliderBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/slider/SliderSlideBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/slider/types.ts
  docs/architecture/BLOCK_PLUGIN_IMPLEMENTATION_GUIDE.md
  docs/deployment/SSH_INFRASTRUCTURE.md
  docs/deployment/SSH_KEY_SETUP_GUIDE.md
  docs/deployment/database-password-handling.md
  docs/development/CODE_QUALITY_ANALYSIS.md
  docs/development/DEPENDENCY_ISSUES_REPORT.md
  docs/development/PACKAGE_VERSION_STATUS.md
  docs/development/TYPESCRIPT_GUIDELINES.md
  docs/development/dependency-resolution-analysis.md
  docs/security/SECURITY_AUDIT_REPORT.md
  docs/troubleshooting/ADMIN_DASHBOARD_REACT19_FIX.md
  docs/troubleshooting/REACT19_FIX_SUMMARY.md
  docs/troubleshooting/SERVER_GIT_MERGE_GUIDE.md
  docs/troubleshooting/SERVER_PM2_FIX_GUIDE.md
  docs/v/ADMIN_UI_IMPLEMENTATION.md
  docs/v/AI-Page-Builder_Node-Research_2025-10-11.md
  docs/v/AUTH_MIDDLEWARE_MIGRATION_REPORT.md
  docs/v/FRONTEND_IMPLEMENTATION.md
  docs/v/INTEGRATION_TEST_REPORT.md
  docs/v/MENU_API_INTEGRATION.md
Labels: frontend, documentation, typescript, security

docs(deployment): add post-deploy verification checklist
  docs/deployment/POST_DEPLOY_VERIFICATION_CHECKLIST.md
Labels: documentation

refactor(paragraph): remove custom toolbar and hook into standard block toolbar
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/blocks/definitions/slider.tsx
  apps/admin-dashboard/src/blocks/index.ts
  apps/admin-dashboard/src/blocks/registry/types.ts
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/slider/SliderBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/slider/SliderBlockSettings.tsx
  apps/admin-dashboard/src/components/editor/blocks/slider/SliderSlideBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/slider/SliderSlideBlockSettings.tsx
Labels: frontend, typescript

refactor(paragraph): remove execCommand and adopt standard alignment UI
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Labels: frontend, typescript

refactor(paragraph): Complete Gutenberg compliance - remove execCommand, add LinkPopover & InspectorControls
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlockSettings.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/LinkPopover.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Labels: frontend, typescript

fix(paragraph): Fix LinkPopover input focus issue with delayed event listeners
  apps/admin-dashboard/src/components/editor/gutenberg/LinkPopover.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Labels: frontend, typescript

fix: Remove debug console.log from RichText component
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Labels: frontend, typescript

fix: Remove hardcoded toolbar position and add margin
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

fix(deploy): Improve admin deployment script reliability
  .github/workflows/deploy-admin.yml
Labels: ci/cd

fix: Increase toolbar spacing and remove wrapper div from ParagraphBlock
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Labels: frontend, typescript

feat: Add Link button to block toolbar
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Labels: frontend, typescript

test: Trigger GitHub Actions auto-deploy
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
Labels: frontend, typescript

fix: Increase toolbar spacing to 100px and fix RichText tagName rendering
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Labels: frontend, typescript

fix: Don't intercept clicks on contentEditable elements
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

fix(editor): Improve contentEditable click detection in EnhancedBlockWrapper
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

fix(admin): Fix menu visibility issue with improved permission logic
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/hooks/useAdminMenu.ts
Labels: frontend, typescript

refactor(paragraph): Improve Paragraph block UX and code quality (Part 1)
  apps/admin-dashboard/src/blocks/definitions/paragraph.tsx
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Labels: frontend, typescript

chore: Update version to 2025.10.16-0949 after Paragraph block improvements
  apps/admin-dashboard/public/version.json
Labels: frontend

fix(paragraph): Fix cursor/input bug caused by unnecessary re-renders
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/ParagraphBlock.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Labels: frontend, typescript

fix(customize): Fix undefined settings error in CustomizerContext
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/appearance/astra-customizer/context/CustomizerContext.tsx
Labels: frontend, typescript

fix(editor): Fix contentEditable click not selecting block (CRITICAL)
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

fix(editor): Optimize block rendering by memoizing event callbacks
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/vite.config.ts
Labels: frontend, typescript

chore: Update version to trigger deployment
  apps/admin-dashboard/public/version.json
Labels: frontend

fix(deploy): Fix GitHub Actions workflow and add manual deployment
  .github/workflows/deploy-admin.yml
  CLAUDE.md
  apps/admin-dashboard/public/version.json
  scripts/deploy-admin-manual.sh
Labels: frontend, ci/cd, documentation

fix(editor): Directly focus contentEditable on block click to fix cursor issue
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

fix(editor): Add proper cursor positioning to useEffect auto-focus
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

fix(admin-dashboard): normalize customizer settings load
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/normalize-settings.ts
Labels: frontend, typescript

fix(editor): CRITICAL FIX - Prevent innerHTML update when editor has focus
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/components/editor/gutenberg/RichText.tsx
Labels: frontend, typescript

refactor(editor): Simplify EnhancedBlockWrapper onClick handler
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

refactor(customizer): Clean up settings initialization logic
  CLAUDE.md
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/appearance/Customize.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/context/CustomizerContext.tsx
Labels: frontend, documentation, typescript

fix(editor): CRITICAL - Restore focus logic to fix Paragraph input bug
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
Labels: frontend, typescript

fix(editor): Make W button and Customizer icon always visible
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

feat: Make theme preview toggle always visible in editor header
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: Add z-index to editor header to prevent click blocking
  apps/admin-dashboard/public/version.json
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript

fix: Correct HeaderBuilder and FooterBuilder props in SimpleCustomizer
  apps/admin-dashboard/src/pages/appearance/astra-customizer/SimpleCustomizer.tsx
Labels: frontend, typescript

fix: Simplify onClick handler and add pointer-events to editor header
  apps/admin-dashboard/src/components/editor/blocks/EnhancedBlockWrapper.tsx
  apps/admin-dashboard/src/pages/editor/StandaloneEditor.tsx
Labels: frontend, typescript
