Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat(neture-guide): WO-O4O-NETURE-GUIDE-COPY-CONTENT-V1 — placeholder copy를 공개용 공급자 실행 플랫폼 관점 copy로 교체
  packages/shared-space-ui/src/guide/copy/neture.ts
Labels: packages, typescript

feat(kpa-web): WO-O4O-KPA-WEB-MENU-STRUCTURE-PHASE1-V1 — 상단 메뉴 구조 정리
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/KpaGlobalHeader.tsx
  services/web-kpa-society/src/config/navigation.ts
Labels: typescript

polish(neture-guide): WO-O4O-NETURE-GUIDE-POLISH-V1 — 문구·카드·Hero 가독성 보정
  packages/shared-space-ui/src/guide/copy/neture.ts
  packages/shared-space-ui/src/guide/styles.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/Layout.tsx
  services/web-kpa-society/src/components/MobileBottomNav.tsx
  services/web-kpa-society/src/pages/mobile/MobilePharmacyPage.tsx
  services/web-neture/src/pages/guide/GuideHomePage.tsx
Labels: packages, typescript

docs(ir): IR-O4O-SEO-CANONICAL-STRUCTURE-AUDIT-V1 — SEO 구조 현황 조사
  docs/investigations/IR-O4O-SEO-CANONICAL-STRUCTURE-AUDIT-V1.md
Labels: documentation

fix(kpa-mobile): md:hidden 재정의 버그 수정 — display를 Tailwind로만 제어
  services/web-kpa-society/src/components/MobileBottomNav.tsx
Labels: typescript

feat(kpa-about): AboutPage 전용 파일로 분리 (pages/about/AboutPage.tsx)
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/pages/about/AboutPage.tsx
Labels: typescript

docs(ir): IR-O4O-NAVIGATION-SEO-METADATA-MAPPING-V1 — 메뉴-SEO 연결 구조 설계
  docs/investigations/IR-O4O-NAVIGATION-SEO-METADATA-MAPPING-V1.md
Labels: documentation

feat(seo): WO-O4O-KPA-NETURE-SEO-BASIC-META-SITEMAP-ROBOTS-V1 — KPA·Neture 기본 SEO 추가
  services/web-kpa-society/index.html
  services/web-kpa-society/public/robots.txt
  services/web-kpa-society/public/sitemap.xml
  services/web-neture/index.html
  services/web-neture/public/robots.txt
  services/web-neture/public/sitemap.xml
Labels: none

feat(seo): WO-O4O-KPA-NETURE-SEO-REGISTRY-USEPAGESEO-V1 — 동적 페이지 메타 registry 구현
  packages/shared-space-ui/src/blog/useBlogSeo.ts
  packages/shared-space-ui/src/index.ts
  packages/shared-space-ui/src/seo/index.ts
  packages/shared-space-ui/src/seo/metaUtils.ts
  packages/shared-space-ui/src/seo/types.ts
  packages/shared-space-ui/src/seo/usePageSeo.ts
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/config/seoRegistry.ts
  services/web-neture/src/App.tsx
  services/web-neture/src/config/seoRegistry.ts
Labels: packages, typescript

feat(kpa-contact): ContactPage 전용 파일로 분리 (pages/contact/ContactPage.tsx)
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/components/Footer.tsx
  services/web-kpa-society/src/config/seoRegistry.ts
  services/web-kpa-society/src/pages/contact/ContactPage.tsx
Labels: typescript

feat(kpa-society): WO-O4O-KPA-INSTALLABLE-WEB-PHASE1-V1 — Installable Business Web Phase 1
  services/web-kpa-society/index.html
  services/web-kpa-society/public/icons/apple-touch-icon.png
  services/web-kpa-society/public/icons/icon-192.png
  services/web-kpa-society/public/icons/icon-512.png
  services/web-kpa-society/public/manifest.json
Labels: none

polish(kpa-contact): 강의 카드 항목 정리 — 콘텐츠 제작 협업 제거
  services/web-kpa-society/src/pages/contact/ContactPage.tsx
Labels: typescript

feat(seo): WO-O4O-BLOG-SEO-JSONLD-CANONICAL-V1 — 블로그 상세 SEO 강화
  packages/shared-space-ui/src/blog/useBlogSeo.ts
  packages/shared-space-ui/src/index.ts
  packages/shared-space-ui/src/seo/canonicalUtils.ts
  packages/shared-space-ui/src/seo/index.ts
  packages/shared-space-ui/src/seo/jsonLdUtils.ts
  packages/shared-space-ui/src/seo/metaUtils.ts
  services/web-kpa-society/src/pages/store/StoreBlogPostPage.tsx
Labels: packages, typescript

feat(glycopharm): WO-O4O-GLYCOPHARM-MENU-CANONICAL-ALIGN-V1 — 메뉴 구조 canonical 정렬
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/components/GlycoGlobalHeader.tsx
  services/web-glycopharm/src/components/MobileBottomNav.tsx
  services/web-glycopharm/src/components/layouts/MainLayout.tsx
  services/web-glycopharm/src/config/navigation.ts
  services/web-glycopharm/src/pages/mobile/MobilePharmacyPage.tsx
Labels: typescript

docs(ir): IR-O4O-INSTALLABLE-WEB-READINESS-AUDIT-V1, IR-O4O-NETURE-ROLE-ONBOARDING-FLOW-AUDIT-V1
  docs/investigations/IR-O4O-INSTALLABLE-WEB-READINESS-AUDIT-V1.md
  docs/investigations/IR-O4O-NETURE-ROLE-ONBOARDING-FLOW-AUDIT-V1.md
Labels: documentation

feat(k-cosmetics): WO-O4O-KCOS-MENU-CANONICAL-ALIGN-V1 — 메뉴 구조 canonical 정렬
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/components/KCosGlobalHeader.tsx
  services/web-k-cosmetics/src/components/MobileBottomNav.tsx
  services/web-k-cosmetics/src/components/layouts/MainLayout.tsx
  services/web-k-cosmetics/src/config/navigation.ts
  services/web-k-cosmetics/src/pages/mobile/MobileStorePage.tsx
Labels: typescript

fix(kpa-society): WO-O4O-KPA-INSTALLABLE-WEB-PHASE2-V1 — standalone UX 보정
  services/web-kpa-society/src/components/LoginModal.tsx
  services/web-kpa-society/src/components/MobileBottomNav.tsx
  services/web-kpa-society/src/pages/event-offer/EventOfferHistoryPage.tsx
  services/web-kpa-society/src/pages/lms/LmsCertificatesPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCertificatesPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCompletionsPage.tsx
  services/web-kpa-society/src/pages/mypage/MyCreditsPage.tsx
Labels: typescript

feat(kpa-signage): WO-O4O-KPA-SIGNAGE-VIDEO-PLAYLIST-MODAL-V1 — 동영상/플레이리스트 등록 모달화
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
Labels: typescript

feat(kpa-contact): WO-O4O-KPA-CONTACT-FORM-WORKFLOW-V1 — 이메일 직접 노출 → 내부 폼 전환
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/20260922000000-CreateContactRequests.ts
  apps/api-server/src/entities/ContactRequest.ts
  apps/api-server/src/entities/Notification.ts
  apps/api-server/src/routes/kpa/controllers/contact-request.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/contactRequest.ts
  services/web-kpa-society/src/pages/contact/ContactModal.tsx
  services/web-kpa-society/src/pages/contact/ContactPage.tsx
Labels: backend, typescript

fix(kpa-society): 헤더 메뉴 순서 수정 — 약국 운영 허브 → 내 약국
  services/web-kpa-society/src/config/navigation.ts
Labels: typescript

feat(kpa-signage): WO-O4O-KPA-HQ-PLAYLIST-CREATE-ITEMS-V1 — 플레이리스트 등록 모달에 URL 목록 입력 추가
  services/web-kpa-society/src/pages/operator/signage/HqPlaylistsPage.tsx
Labels: typescript

fix(menu): 메뉴 정책 전면 재정렬 — 커뮤니티 통합 + 내 매장/HUB 순서 확정
  services/web-glycopharm/src/config/navigation.ts
  services/web-glycopharm/src/pages/mobile/MobilePharmacyPage.tsx
  services/web-k-cosmetics/src/config/navigation.ts
  services/web-k-cosmetics/src/pages/mobile/MobileStorePage.tsx
  services/web-kpa-society/src/config/navigation.ts
  services/web-kpa-society/src/pages/mobile/MobilePharmacyPage.tsx
Labels: typescript

fix(kpa-signage): WO-O4O-KPA-HQ-MEDIA-MODAL-CLEANUP-V1 — 미디어 타입 제거 + 설명 필드 추가
  services/web-kpa-society/src/pages/operator/signage/HqMediaPage.tsx
Labels: typescript

feat(store-signage): WO-O4O-KPA-SIGNAGE-VIDEO-PLAYLIST-MODAL-V1 — 매장 동영상/플레이리스트 인라인 폼 모달 전환
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Labels: typescript

feat(kpa-operator): WO-O4O-KPA-OPERATOR-COLLABORATION-INBOX-V1 — 협업 문의 운영자 메뉴
  apps/api-server/src/entities/ContactRequest.ts
  apps/api-server/src/routes/kpa/controllers/contact-request.controller.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  services/web-kpa-society/src/api/contactRequest.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/CollaborationRequestsPage.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Labels: backend, typescript

fix(signage): WO-O4O-KPA-STORE-HUB-SIGNAGE-ADD-TO-STORE-FIX-V1 — 내 매장에 추가 500 오류 수정
  apps/api-server/src/modules/asset-snapshot/resolvers/kpa-asset.resolver.ts
  apps/api-server/src/modules/asset-snapshot/resolvers/neture-asset.resolver.ts
  services/web-kpa-society/src/pages/pharmacy/HubSignageLibraryPage.tsx
Labels: backend, typescript

feat(kpa-resources): WO-O4O-KPA-RESOURCES-CREATE-MODAL-UX-V1 — 자료 등록 모달 전환 + 태그/활용방식 UX 개선
  services/web-kpa-society/src/pages/resources/ResourceWriteModal.tsx
  services/web-kpa-society/src/pages/resources/ResourceWritePage.tsx
  services/web-kpa-society/src/pages/resources/ResourcesHubPage.tsx
Labels: typescript

fix(media): WO-O4O-KPA-RESOURCES-CREATE-MODAL-UX-V1 — 한글 파일명 깨짐 수정 (multer latin1 → UTF-8 보정)
  apps/api-server/src/modules/media/services/media-library.service.ts
Labels: backend, typescript

feat(lms): WO-O4O-LMS-INSTRUCTOR-COURSES-DATATABLE-CANONICAL-V1
  services/web-kpa-society/src/pages/instructor/courses/CourseListPage.tsx
Labels: typescript

fix(store): WO-O4O-KPA-STORE-MY-PRODUCTS-EMPTY-STATE-FIX-V1 — 빈 데이터를 에러로 표시하던 문제 수정
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
Labels: packages, typescript

docs(ir): IR-O4O-LMS-INSTRUCTOR-DASHBOARD-STRUCTURE-AUDIT-V1 — 강사 대시보드 구조 감사
  docs/investigations/IR-O4O-LMS-INSTRUCTOR-DASHBOARD-STRUCTURE-AUDIT-V1.md
Labels: documentation

fix(store): WO-O4O-KPA-STORE-MY-PRODUCTS-SEARCH-ERROR-FIX-V1 — 검색 오류/빈 결과 UI 분리
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
Labels: packages, typescript

feat(store-library): WO-O4O-STORE-LIBRARY-CONTENTS-TAB-RESTRUCTURE-V1
  services/web-kpa-society/src/pages/pharmacy/StoreLibraryContentsPage.tsx
Labels: typescript

feat(store-signage): WO-O4O-STORE-SIGNAGE-UX-SIMPLIFICATION-V1
  apps/api-server/src/routes/o4o-store/controllers/store-asset-control.controller.ts
  packages/store-asset-policy-core/src/components/AssetRow.tsx
  services/web-glycopharm/src/pages/store-management/StoreSignagePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Labels: backend, packages, typescript

feat(store-library): WO-O4O-STORE-LIBRARY-CONTENTS-TAB-HIERARCHY-UI-ALIGN-V1
  services/web-kpa-society/src/pages/pharmacy/StoreLibraryContentsPage.tsx
Labels: typescript

feat(store): WO-O4O-STORE-PRODUCTION-MATERIALS-CONTENT-AI-BRIDGE-V1
  packages/content-editor/src/components/AiContentModal.tsx
  services/web-kpa-society/src/pages/pharmacy/SelectContentForAiModal.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreProductionMaterialsPage.tsx
Labels: packages, typescript

docs(ir): IR-O4O-KPA-STORE-MY-PRODUCTS-REGISTRATION-FLOW-AUDIT-V1 — 내 매장 상품 등록 흐름 감사
  docs/investigations/IR-O4O-KPA-STORE-MY-PRODUCTS-REGISTRATION-FLOW-AUDIT-V1.md
Labels: documentation

docs(ir): IR-O4O-STORE-SIGNAGE-MEDIA-DETAIL-EDIT-FLOW-AUDIT-V1
  docs/investigations/IR-O4O-STORE-SIGNAGE-MEDIA-DETAIL-EDIT-FLOW-AUDIT-V1.md
Labels: documentation

feat(store): WO-O4O-KPA-STORE-MY-PRODUCTS-FLOW-SIMPLIFY-V1 — ProductMaster 기반 매장 상품 등록 구조 정상화
  apps/api-server/src/database/migrations/20260920000000-MakeOfferIdNullableAddMasterListing.ts
  apps/api-server/src/modules/store-core/entities/organization-product-listing.entity.ts
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
  packages/store-products-ui/src/api.ts
  packages/store-products-ui/src/types.ts
  services/web-neture/src/lib/api/store.ts
  services/web-neture/src/pages/store/StoreListingsPage.tsx
Labels: backend, packages, typescript

feat(store-signage): WO-O4O-STORE-SIGNAGE-MEDIA-EDIT-UX-V1
  apps/api-server/src/routes/o4o-store/controllers/store-product-library.controller.ts
  packages/store-products-ui/src/StoreProductsManagerPage.tsx
  packages/store-products-ui/src/api.ts
  packages/store-products-ui/src/index.ts
  packages/store-products-ui/src/types.ts
  services/web-kpa-society/src/api/signageMedia.ts
  services/web-kpa-society/src/pages/pharmacy/StoreSignagePage.tsx
Labels: backend, packages, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
