Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

docs(medical-device-seed): Gate B DB 충돌 대조 = 0, 최종 승격후보 확정 (WO-O4O-MEDICAL-DEVICE-GATE-B-DB-COLLISION-CHECK-V1)
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-DB-COLLISION-CHECK-V1.md
Labels: documentation

feat(canonical-output): ProductMaster 상세에 canonical 공식 설명 연결 (WO-O4O-DRUG-CANONICAL-DESCRIPTION-OUTPUT-LINK-V1)
  apps/admin-dashboard/src/api/o4o-product-db.api.ts
  apps/admin-dashboard/src/pages/o4o-product-db/ProductMasterDetailPage.tsx
  apps/api-server/src/modules/neture/controllers/product-library.controller.ts
Labels: frontend, backend, typescript

feat(neture): ProductIdentifier UDI_DI type 추가 (WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1)
  apps/api-server/src/modules/neture/entities/ProductIdentifier.entity.ts
  apps/api-server/src/modules/neture/utils/__tests__/product-identifier.util.test.ts
  apps/api-server/src/modules/neture/utils/product-identifier.util.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1.md
Labels: backend, documentation, testing, typescript

docs(canonical-output): canonical 설명 출력 연결 완료 기록 (WO 종결)
  docs/checks/CHECK-O4O-DRUG-CANONICAL-DESCRIPTION-OUTPUT-LINK-V1.md
Labels: documentation

fix(neture): UDI_DI normalize 원형 보존 — 하이픈·대소문자 유지 (WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1)
  apps/api-server/src/modules/neture/utils/__tests__/product-identifier.util.test.ts
  apps/api-server/src/modules/neture/utils/product-identifier.util.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-UDI-DI-IDENTIFIER-TYPE-IMPLEMENTATION-V1.md
Labels: backend, documentation, testing, typescript

feat(hff-seed): 매장 설명 bulk dry-run — guards 3종 + 사전필터 + 비용예측 (GO 조건부)
  apps/api-server/package.json
  apps/api-server/src/modules/neture/drug-import/__tests__/health-functional-food-description-guards.test.ts
  apps/api-server/src/modules/neture/drug-import/health-functional-food-description-guards.ts
  apps/api-server/src/scripts/health-functional-food-store-description-bulk-dryrun.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-DRYRUN-V1.md
Labels: backend, documentation, dependencies, testing, typescript

feat(neture): add medical device candidate import dry-run (WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-IMPORT-V1)
  apps/api-server/src/modules/neture/drug-import/__tests__/medical-device-standard-code-candidate-import.test.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-candidate-import.service.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-candidate.mapper.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-jsonl.parser.ts
  apps/api-server/src/scripts/medical-device-standard-code-candidate-import.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-IMPORT-V1.md
Labels: backend, documentation, testing, typescript

docs(hff-seed): 매장 설명 bulk apply 설계 — 저장구조 Option B 확정 (GO 조건부)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-APPLY-DESIGN-V1.md
  docs/design/O4O-HEALTH-FUNCTIONAL-FOOD-CANDIDATE-DESCRIPTION-DRAFT-STORAGE-V1.md
Labels: documentation

docs(medical-device-seed): Gate A candidate apply runbook 고정 (WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RUNBOOK-V1)
  docs/checks/WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RUNBOOK-V1.md
Labels: documentation

feat(hff-seed): 후보 설명 draft 저장 인프라 + bulk apply CLI (live 게이트로 apply 중단)
  apps/api-server/package.json
  apps/api-server/src/database/entities.ts
  apps/api-server/src/database/migrations/20261204000000-CreateProductCandidateDescriptionDrafts.ts
  apps/api-server/src/modules/neture/entities/ProductCandidateDescriptionDraft.entity.ts
  apps/api-server/src/modules/neture/entities/index.ts
  apps/api-server/src/modules/neture/services/__tests__/product-candidate-description-draft.service.test.ts
  apps/api-server/src/modules/neture/services/product-candidate-description-draft.service.ts
  apps/api-server/src/scripts/health-functional-food-store-description-bulk-apply.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-APPLY-V1.md
Labels: backend, documentation, dependencies, testing, typescript

perf(neture): medical device candidate import 배치 apply + 로컬 proxy SSL 지원 (WO-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-IMPORT-V1)
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-candidate-import.service.ts
  apps/api-server/src/scripts/medical-device-standard-code-candidate-import.ts
Labels: backend, typescript

docs(medical-device-seed): Gate A apply 완료 결과 기록 (CHECK-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RESULT-V1)
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-PUBLIC-CANDIDATE-APPLY-RESULT-V1.md
Labels: documentation

docs(neture): add medical device Gate B apply runbook (WO-O4O-MEDICAL-DEVICE-GATE-B-APPLY-RUNBOOK-V1)
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-APPLY-RUNBOOK-V1.md
Labels: documentation

feat(hff-seed): HFF 매장설명 AI policy scope 추가 + ai_llm_policies seed (bulk-apply-execute 선행)
  apps/api-server/src/database/migrations/20261205000000-SeedHffStoreDescriptionAiPolicy.ts
  apps/api-server/src/modules/ai-policy/ai-policy-scope.ts
  apps/api-server/src/scripts/health-functional-food-store-description-bulk-apply.ts
Labels: backend, typescript

feat(neture): add medical device Gate B promotion dry-run (WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-SCRIPT-V1)
  apps/api-server/src/modules/neture/drug-import/__tests__/medical-device-gate-b-promotion.test.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-gate-b-promotion.service.ts
  apps/api-server/src/scripts/medical-device-gate-b-promotion.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-SCRIPT-V1.md
Labels: backend, documentation, testing, typescript

docs(hff-seed): 매장설명 bulk apply-execute — live 50 게이트 HOLD(gemini 429 quota)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BULK-APPLY-EXECUTE-V1.md
Labels: documentation

feat(neture): implement medical device Gate B promotion apply path (WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-APPLY-IMPLEMENTATION-V1)
  apps/api-server/src/modules/neture/drug-import/__tests__/medical-device-gate-b-promotion.test.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-gate-b-promotion.service.ts
  apps/api-server/src/scripts/medical-device-gate-b-promotion.ts
  docs/checks/WO-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-APPLY-IMPLEMENTATION-V1.md
Labels: backend, documentation, testing, typescript

docs(medical-device-seed): Gate B 승격 apply 완료 결과 기록 (CHECK-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-APPLY-RESULT-V1)
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GATE-B-PROMOTION-APPLY-RESULT-V1.md
Labels: documentation

docs(medical-device-seed): 전량 확장 runbook + CHECK 작성 (O4O-MEDICAL-DEVICE-FULL-SCALE-SEED-EXPANSION-RUNBOOK-V1)
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-FULL-SCALE-SEED-EXPANSION-RUNBOOK-V1.md
  docs/runbooks/O4O-MEDICAL-DEVICE-FULL-SCALE-SEED-EXPANSION-RUNBOOK-V1.md
Labels: documentation

fix(ai-key): ai_settings 조회 컬럼 isactive→"isEnabled" (운영 실측 정합) + HFF 재게이트 HOLD
  apps/api-server/src/utils/__tests__/ai-key.util.test.ts
  apps/api-server/src/utils/ai-key.util.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-LIVE-QUOTA-RECOVERY-AND-RETRY-GATE-V1.md
Labels: backend, documentation, testing, typescript

feat(neture): Gate A importer baseline 보호 가드 (WO-O4O-MEDICAL-DEVICE-FULL-SCALE-RAW-FETCH-AND-GATE-A-IMPORT-DRYRUN-V1)
  apps/api-server/src/modules/neture/drug-import/__tests__/medical-device-standard-code-candidate-import.test.ts
  apps/api-server/src/modules/neture/drug-import/medical-device-standard-code-candidate-import.service.ts
  apps/api-server/src/scripts/medical-device-standard-code-candidate-import.ts
Labels: backend, testing, typescript

docs(hff-seed): provider quota 대안 검증 + 셋업 runbook — HOLD(billed 키 미확보)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-PROVIDER-QUOTA-ALTERNATIVE-V1.md
Labels: documentation

docs(hff-seed): 기존 env 키 재게이트 프로브 — 429 100%(무료 티어) HOLD
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-LIVE-GATE-RERUN-WITH-BILLED-KEY-V1.md
Labels: documentation

docs(hff-seed): 유료 전환 후 재게이트 — 429 해소, GO_WITH_LIMIT(조건부)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-LIVE-GATE-RERUN-WITH-BILLED-KEY-V1.md
Labels: documentation

docs(medical-device-seed): 전량 fetch 완주 + Gate A dry-run HOLD 판정 (CHECK-O4O-MEDICAL-DEVICE-FULL-SCALE-RAW-FETCH-AND-GATE-A-IMPORT-DRYRUN-V1)
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-FULL-SCALE-RAW-FETCH-AND-GATE-A-IMPORT-DRYRUN-V1.md
Labels: documentation

fix(hff-seed): sourceFidelityGuard 조사·띄어쓰기 오탐 제거 (BEYONDSOURCE-MINI-AUDIT)
  apps/api-server/src/modules/neture/drug-import/__tests__/health-functional-food-description-guards.test.ts
  apps/api-server/src/modules/neture/drug-import/health-functional-food-description-guards.ts
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-STORE-DESCRIPTION-BEYONDSOURCE-MINI-AUDIT-V1.md
Labels: backend, documentation, testing, typescript

feat(product-curation): 의료기기 4등급 ProductMaster hard delete migration (선행 구현 부재→신규)
  apps/api-server/src/database/migrations/20261206000000-AddProductCurationSchemaAndCandidateIdentifierIndex.ts
  apps/api-server/src/database/migrations/20261206010000-DeleteMedicalDeviceGrade4Masters.ts
  apps/api-server/src/modules/neture/entities/ProductMaster.entity.ts
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE4-HARD-DELETE-EXECUTE-WITH-COUNT-REPORT-V1.md
Labels: backend, documentation, typescript

docs(check): 의료기기 4등급 삭제 CI/CD 실행 완료·프로덕션 검증 확정 기록
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE4-HARD-DELETE-EXECUTE-WITH-COUNT-REPORT-V1.md
Labels: documentation

feat(product-curation): 의료기기 3등급 품목명 기반 삭제표시+일괄 hard delete migration
  apps/api-server/src/database/migrations/20261207000000-MarkMedicalDeviceGrade3ByCategory.ts
  apps/api-server/src/database/migrations/20261207010000-DeleteMedicalDeviceGrade3DeleteMarked.ts
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE3-NAME-BASED-DELETE-MARK-AND-BULK-DELETE-V1.md
Labels: backend, documentation, typescript

docs(check): 의료기기 3등급 삭제 CI/CD 실행 완료·프로덕션 검증 확정 기록
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE3-NAME-BASED-DELETE-MARK-AND-BULK-DELETE-V1.md
Labels: documentation

docs(hff-seed): HFF candidate 표본 시장성 조사 — 전량삭제 부적절 결론 (CANDIDATE-SAMPLE-MARKET-TEST-V2)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-CANDIDATE-SAMPLE-MARKET-TEST-AND-LISTING-NO-DESCRIPTION-V2.md
Labels: documentation

docs(check): 의료기기 전체등급 수출/죽은허가 조사 — 삭제 대상 0건 결론
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-ALL-GRADES-MFDS-STATUS-EXPORT-EXCLUSION-CLEANUP-BEFORE-GRADE2-V1.md
Labels: documentation

chore(hff-seed): 전량수출용 HFF candidate 2,835건 hard delete (확실군 우선정리)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-CANDIDATE-EXPORT-ONLY-HARD-DELETE-V1.md
Labels: documentation

chore(hff-seed): 균주(strain) HFF candidate 699건 hard delete (확실군 후속)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-CANDIDATE-EXPORT-ONLY-HARD-DELETE-V1.md
Labels: documentation

feat(product-curation): 의료기기 2등급 소비자vs전문가 카테고리 삭제표시+일괄 hard delete
  apps/api-server/src/database/migrations/20261208000000-MarkMedicalDeviceGrade2ByCategory.ts
  apps/api-server/src/database/migrations/20261208010000-DeleteMedicalDeviceGrade2DeleteMarked.ts
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE2-CONSUMER-VS-PROFESSIONAL-CATEGORY-DELETE-MARK-AND-BULK-DELETE-V1.md
Labels: backend, documentation, typescript

docs(check): 의료기기 2등급 삭제 CI/CD 실행 완료·프로덕션 검증 확정 기록
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE2-CONSUMER-VS-PROFESSIONAL-CATEGORY-DELETE-MARK-AND-BULK-DELETE-V1.md
Labels: documentation

feat(product-curation): 의료기기 1등급 소비자vs전문가 카테고리 삭제표시+일괄 hard delete
  apps/api-server/src/database/migrations/20261209000000-MarkMedicalDeviceGrade1ByCategory.ts
  apps/api-server/src/database/migrations/20261209010000-DeleteMedicalDeviceGrade1DeleteMarked.ts
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE1-CONSUMER-VS-PROFESSIONAL-CATEGORY-AUDIT-AND-CLEANUP-V1.md
Labels: backend, documentation, typescript

chore(drug-seed): drug_unspecified 53,721건 삭제표시 마이그레이션 (1/2 표시)
  apps/api-server/src/database/migrations/20261210000000-MarkDrugUnspecifiedByRawGubun.ts
  docs/checks/CHECK-O4O-DRUG-UNSPECIFIED-CATEGORY-AUDIT-V1.md
Labels: backend, documentation, typescript

docs(check): 의료기기 1등급 삭제 CI/CD 실행 완료·프로덕션 검증 확정 기록
  docs/checks/CHECK-O4O-MEDICAL-DEVICE-GRADE1-CONSUMER-VS-PROFESSIONAL-CATEGORY-AUDIT-AND-CLEANUP-V1.md
Labels: documentation

chore(hff-seed): B 원료형태 HFF candidate 90건 hard delete (확실군 후속)
  docs/checks/CHECK-O4O-HEALTH-FUNCTIONAL-FOOD-CANDIDATE-EXPORT-ONLY-HARD-DELETE-V1.md
Labels: documentation

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
