Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

fix: remove console.log statements from production code
  apps/admin-dashboard/src/pages/settings/PrivacySettings.tsx
  apps/admin-dashboard/src/pages/settings/WritingSettings.tsx
Labels: frontend, typescript

chore: remove all console statements from admin dashboard and auth-client
  apps/admin-dashboard/src/blocks/core/index.ts
  apps/admin-dashboard/src/blocks/layout/index.ts
  apps/admin-dashboard/src/blocks/media/index.ts
  apps/admin-dashboard/src/components/editor/GutenbergBlockEditor.tsx
  apps/admin-dashboard/src/components/ui/select.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/components/layout/CustomizerPreview.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/components/layout/EnhancedPreview.tsx
  apps/admin-dashboard/src/pages/appearance/astra-customizer/hooks/usePreviewInjection.ts
  apps/admin-dashboard/src/pages/appearance/astra-customizer/utils/postmessage.ts
  apps/admin-dashboard/src/pages/content/ShortcodeList.tsx
  apps/admin-dashboard/src/pages/media/MediaListWordPress.tsx
  apps/admin-dashboard/src/pages/users/UsersListClean.tsx
  apps/admin-dashboard/src/utils/block-manager.ts
  packages/auth-client/src/client.ts
Labels: frontend, packages, typescript

fix: improve login form input field readability
  apps/admin-dashboard/src/pages/auth/Login.tsx
Labels: frontend, typescript

fix: Add public permalink endpoint to avoid authentication issues
  apps/admin-dashboard/src/pages/settings/PermalinkSettings.tsx
  apps/api-server/src/main.ts
  apps/api-server/src/routes/public.ts
Labels: frontend, backend, typescript

fix: Add missing user endpoints and public CPT types endpoint
  apps/api-server/src/routes/public.ts
  apps/api-server/src/routes/v1/users.routes.ts
Labels: backend, typescript

feat: Complete authentication system improvements and email notifications
  apps/api-server/src/controllers/adminController.ts
  apps/api-server/src/database/connection.ts
  apps/api-server/src/database/migrations/1703000000000-AddRefreshTokenAndLoginAttempt.ts
  apps/api-server/src/entities/LoginAttempt.ts
  apps/api-server/src/entities/RefreshToken.ts
  apps/api-server/src/routes/email-auth.routes.ts
  apps/api-server/src/routes/unified-auth.routes.ts
  apps/api-server/src/services/AuthServiceV2.ts
  apps/api-server/src/services/LoginSecurityService.ts
  apps/api-server/src/services/RefreshTokenService.ts
  apps/api-server/src/services/email.service.ts
  apps/api-server/src/services/refreshToken.service.ts
  apps/api-server/src/templates/email/accountReactivated.html
  apps/api-server/src/templates/email/accountSuspended.html
  apps/api-server/src/templates/email/userApproved.html
  apps/api-server/src/templates/email/userRejected.html
Labels: backend, typescript

docs: Add comprehensive API server documentation and sync script
  docs/API_SERVER_STATUS.md
  scripts/sync-local.sh
Labels: ci/cd, documentation

feat: Implement comprehensive e-commerce features for API server
  apps/api-server/src/controllers/pricing.controller.ts
  apps/api-server/src/controllers/shippingTracking.controller.ts
  apps/api-server/src/controllers/vendor/vendorProductController.ts
  apps/api-server/src/entities/ShippingTracking.ts
  apps/api-server/src/main.ts
  apps/api-server/src/middleware/authorize.middleware.ts
  apps/api-server/src/migrations/1706123456789-CreateShippingTracking.ts
  apps/api-server/src/routes/pricing.routes.ts
  apps/api-server/src/routes/shipping.routes.ts
  apps/api-server/src/schedules/commissionSchedule.ts
  apps/api-server/src/services/email.service.ts
  apps/api-server/src/services/pricing.service.ts
  apps/api-server/src/services/shippingTracking.service.ts
  apps/api-server/src/templates/email/commissionCalculated.html
  apps/api-server/src/templates/email/settlementRequest.html
  docs/API_SERVER_STATUS.md
Labels: backend, documentation, typescript

fix: Add support for numeric menu IDs and create menu_locations table
  apps/api-server/src/controllers/menu/MenuController.ts
Labels: backend, typescript

docs: Add local development commands guide
  LOCAL_DEV_COMMANDS.md
Labels: documentation

docs: Add comprehensive local setup guide
  LOCAL_SETUP_GUIDE.md
Labels: documentation

fix: Fix CouponService TypeORM query field name
  apps/api-server/src/services/CouponService.ts
Labels: backend, typescript

fix: Step 2 - Fix Affiliate module TypeORM field names (snake_case → camelCase)
  apps/api-server/src/modules/affiliate/dto/commission.dto.ts
  apps/api-server/src/modules/affiliate/repositories/affiliate.repository.ts
  apps/api-server/src/modules/affiliate/repositories/commission.repository.ts
  apps/api-server/src/modules/affiliate/services/commission.service.ts
  apps/api-server/src/modules/affiliate/services/notification.service.ts
  apps/api-server/src/modules/affiliate/services/performance.service.ts
Labels: backend, typescript

fix: Step 3 - Fix CrowdfundingService TypeORM field names (snake_case → camelCase)
  apps/api-server/src/services/CrowdfundingService.ts
Labels: backend, typescript

fix: Step 3.1 - Fix additional CrowdfundingService query field references
  apps/api-server/src/services/CrowdfundingService.ts
Labels: backend, typescript

fix: Step 4 - Mass fix TypeORM field names across 40+ files
  apps/api-server/src/controllers/ShippingController.ts
  apps/api-server/src/controllers/SmtpController.ts
  apps/api-server/src/controllers/inventory/inventoryController.ts
  apps/api-server/src/controllers/operationsController.ts
  apps/api-server/src/controllers/pagesController.ts
  apps/api-server/src/controllers/paymentController.ts
  apps/api-server/src/controllers/post-creation.ts
  apps/api-server/src/controllers/pricePolicyController.ts
  apps/api-server/src/controllers/signageController.ts
  apps/api-server/src/controllers/templatesController.ts
  apps/api-server/src/controllers/v1/userActivity.controller.ts
  apps/api-server/src/controllers/v1/userStatistics.controller.ts
  apps/api-server/src/repositories/CrowdfundingRepository.ts
  apps/api-server/src/routes/posts-base.ts
  apps/api-server/src/routes/theme-approvals.ts
  apps/api-server/src/schedules/inventorySchedule.ts
  apps/api-server/src/services/AnalyticsService.ts
  apps/api-server/src/services/AutoScalingService.ts
  apps/api-server/src/services/PerformanceOptimizationService.ts
  apps/api-server/src/services/ReviewService.ts
  apps/api-server/src/services/StatusPageService.ts
  apps/api-server/src/services/analytics.service.ts
  apps/api-server/src/services/betaUserService.ts
  apps/api-server/src/services/forecasting.service.ts
  apps/api-server/src/services/forumService.ts
  apps/api-server/src/services/menu.service.ts
  apps/api-server/src/services/notification.service.ts
  apps/api-server/src/services/order-automation.service.ts
  apps/api-server/src/services/payment-analytics.service.ts
  apps/api-server/src/services/reporting.service.ts
  apps/api-server/src/services/revision.service.ts
  apps/api-server/src/services/tag.service.ts
  apps/api-server/src/services/toss-payments-advanced.service.ts
Labels: backend, typescript

fix: Remove duplicate coupon routes import in main.ts
  apps/api-server/src/main.ts
Labels: backend, typescript

fix: Add SnakeNamingStrategy to TypeORM configuration
  apps/api-server/src/database/SnakeNamingStrategy.ts
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

fix: Remove SnakeNamingStrategy - database already uses camelCase
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

fix: Fix Shipment entity to match actual database schema
  apps/api-server/src/entities/Shipment.ts
  apps/api-server/src/services/shipping/ShippingService.ts
Labels: backend, typescript

refactor: Comprehensive coupon module cleanup and improvement
  apps/api-server/src/controllers/CouponController.ts
  apps/api-server/src/dto/coupon.dto.ts
  apps/api-server/src/routes/v1/coupon.routes.ts
  apps/api-server/src/services/CouponService.ts
Labels: backend, typescript

fix: Register CustomPostType and CustomPost entities in TypeORM
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

fix: CPT/CustomPost Entity DB 매핑 오류 수정
  apps/api-server/src/entities/CustomPost.ts
  apps/api-server/src/entities/CustomPostType.ts
  apps/api-server/src/modules/cpt-acf/services/cpt.service.ts
  apps/api-server/src/services/permalink.service.ts
Labels: backend, typescript

fix: Change CPT types endpoint to use public route to avoid authentication issue
  apps/admin-dashboard/src/features/cpt-acf/services/cpt.api.ts
Labels: frontend, typescript

fix: OAuth 설정 페이지 password 필드 form 경고 해결
  apps/admin-dashboard/src/pages/settings/OAuthSettings.tsx
Labels: frontend, typescript

feat: CPT Engine 통합 관리 시스템 구현
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/features/cpt-acf/types/cpt.types.ts
  apps/admin-dashboard/src/hooks/useDynamicCPTMenu.ts
  apps/admin-dashboard/src/hooks/useDynamicMenu.ts
  apps/admin-dashboard/src/pages/cpt-engine/CPTContentEditorWrapper.tsx
  apps/admin-dashboard/src/pages/cpt-engine/CPTDashboard.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTBuilder.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentEditor.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentList.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTFieldManager.tsx
  apps/admin-dashboard/src/pages/cpt-engine/index.tsx
Labels: frontend, typescript

fix: CPT Engine 빌드 오류 수정 - FormBuilder 경로 및 RichTextEditor 제거
  apps/admin-dashboard/src/hooks/useDynamicCPTMenu.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentEditor.tsx
Labels: frontend, typescript

fix: acfApi import 오류 수정 - 올바른 export 사용
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentEditor.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTFieldManager.tsx
Labels: frontend, typescript

fix: FormBuilder 의존성 제거 - 간단한 폼 필드로 대체
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentEditor.tsx
Labels: frontend, typescript

chore: clean up unused files and components after CPT Engine implementation
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/content/ACFFieldGroupForm.tsx
  apps/admin-dashboard/src/pages/content/ACFManager.tsx
  apps/admin-dashboard/src/pages/content/CPTForm.tsx
  apps/admin-dashboard/src/pages/content/CPTList.tsx
  apps/admin-dashboard/src/pages/content/Content.tsx
  apps/admin-dashboard/src/pages/content/CustomFieldBuilder.tsx
  apps/admin-dashboard/src/pages/content/DynamicContentList.tsx
  apps/admin-dashboard/src/pages/content/PostForm.tsx
  apps/admin-dashboard/src/pages/content/PostFormWYSIWYG.tsx
  apps/admin-dashboard/src/pages/content/ReusableBlocksPage.tsx
  apps/admin-dashboard/src/pages/content/ShortcodeList.tsx
  apps/admin-dashboard/src/pages/content/WidgetManager.tsx
  apps/admin-dashboard/src/pages/cpt-engine/components/CPTContentEditor.tsx
  apps/admin-dashboard/src/pages/forms/FormList.tsx
  apps/admin-dashboard/src/pages/pages/PageList.tsx
  apps/admin-dashboard/src/pages/pages/PagesRouter.tsx
Labels: frontend, typescript

fix: remove Content component reference from legacy route
  apps/admin-dashboard/src/App.tsx
Labels: frontend, typescript

fix: add CPT Engine to core menus list for visibility
  apps/admin-dashboard/src/hooks/useDynamicMenu.ts
Labels: frontend, typescript

fix: add CPT Engine menu permission configuration
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/hooks/useDynamicMenu.ts
Labels: frontend, typescript

feat: implement Toolset UI/UX for CPT Content Engine
  apps/admin-dashboard/src/main.tsx
  apps/admin-dashboard/src/pages/cpt-engine/CPTDashboard.tsx
  apps/admin-dashboard/src/pages/cpt-engine/CPTDashboardToolset.tsx
  apps/admin-dashboard/src/pages/cpt-engine/index.tsx
  apps/admin-dashboard/src/styles/toolset-ui.css
Labels: frontend, typescript, styles

feat: Remove app activation/deactivation feature and add Forum, Signage, Crowdfunding pages
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/api/apps.ts
  apps/admin-dashboard/src/pages/apps/AppsManagerV2.tsx
  apps/admin-dashboard/src/pages/crowdfunding/CrowdfundingDashboard.tsx
  apps/admin-dashboard/src/pages/crowdfunding/CrowdfundingRouter.tsx
  apps/admin-dashboard/src/pages/crowdfunding/ProjectDetail.tsx
  apps/admin-dashboard/src/pages/crowdfunding/ProjectEdit.tsx
  apps/admin-dashboard/src/pages/crowdfunding/ProjectList.tsx
  apps/admin-dashboard/src/pages/forum/ForumBoards.tsx
  apps/admin-dashboard/src/pages/forum/ForumCategories.tsx
  apps/admin-dashboard/src/pages/forum/ForumComments.tsx
  apps/admin-dashboard/src/pages/forum/ForumDashboard.tsx
  apps/admin-dashboard/src/pages/forum/ForumPosts.tsx
  apps/admin-dashboard/src/pages/forum/ForumReports.tsx
  apps/admin-dashboard/src/pages/forum/ForumRouter.tsx
  apps/admin-dashboard/src/pages/forum/ForumSettings.tsx
  apps/admin-dashboard/src/pages/signage/SignageDashboard.tsx
  apps/admin-dashboard/src/pages/signage/SignageRouter.tsx
  apps/api-server/src/routes/v1/apps.routes.ts
Labels: frontend, backend, typescript

fix: Remove console.log statements from production code
  apps/admin-dashboard/src/config/rolePermissions.ts
  apps/admin-dashboard/src/hooks/useDynamicMenu.ts
  deploy.sh
Labels: frontend, typescript

fix: Show forum, signage, crowdfunding menus and clean up app management
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
  apps/admin-dashboard/src/hooks/useDynamicMenu.ts
Labels: frontend, typescript

fix: Replace AppsManager with AppsManagerV2 to fix undefined error
  apps/admin-dashboard/src/App.tsx
Labels: frontend, typescript

refactor: Simplify app menu management system
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/components/layout/AdminSidebar.tsx
  apps/admin-dashboard/src/hooks/useSimpleMenu.ts
  apps/admin-dashboard/src/pages/apps/AppsSimple.tsx
Labels: frontend, typescript

refactor: Switch to WordPress-style menu structure
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/config/wordpressMenuFinal.tsx
Labels: frontend, typescript

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
