Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

feat: Add Digital Signage frontend components (Step 21 Phase C-E)
  packages/@o4o-apps/signage/functions/signageDashboard.ts
  packages/@o4o-apps/signage/functions/signageDevices.ts
  packages/@o4o-apps/signage/functions/signagePlayback.ts
  packages/@o4o-apps/signage/functions/signagePlaylists.ts
  packages/@o4o-apps/signage/functions/signageSchedule.ts
  packages/@o4o-apps/signage/functions/signageSlides.ts
  packages/@o4o-apps/signage/ui/DeviceCard.tsx
  packages/@o4o-apps/signage/ui/PlaylistCard.tsx
  packages/@o4o-apps/signage/ui/ScheduleCard.tsx
  packages/@o4o-apps/signage/ui/SignageGrid.tsx
  packages/@o4o-apps/signage/ui/SignagePlayer.tsx
  packages/@o4o-apps/signage/ui/SlideCard.tsx
  packages/@o4o-apps/signage/views/signage-dashboard.json
  packages/@o4o-apps/signage/views/signage-devices.json
  packages/@o4o-apps/signage/views/signage-player.json
  packages/@o4o-apps/signage/views/signage-playlists.json
  packages/@o4o-apps/signage/views/signage-schedule.json
  packages/@o4o-apps/signage/views/signage-slides.json
Labels: packages, typescript

feat: Add database migration for Digital Signage tables (Step 21 Phase F)
  apps/api-server/src/migrations/1830000000000-CreateSignageTables.ts
Labels: backend, typescript

fix: Convert signage manifest to TypeScript and fix build configuration
  packages/@o4o-apps/signage/index.ts
  packages/@o4o-apps/signage/manifest.json
  packages/@o4o-apps/signage/manifest.ts
  packages/@o4o-apps/signage/package.json
  packages/@o4o-apps/signage/tsconfig.json
  pnpm-lock.yaml
Labels: packages, config, dependencies, typescript

fix: Correct forum package.json export paths
  packages/forum-neture/package.json
  packages/forum-yaksa/package.json
Labels: packages, dependencies

feat: Register Digital Signage entities in TypeORM connection
  apps/api-server/src/database/connection.ts
Labels: backend, typescript

feat: Register Digital Signage components in main-site registry
  apps/main-site/src/components/registry/function.ts
  apps/main-site/src/components/registry/ui.tsx
Labels: frontend, typescript

wip: Add signage component registry (build issues - needs resolution)
  apps/main-site/src/components/registry/function.ts
  apps/main-site/src/components/registry/ui.tsx
  packages/@o4o-apps/signage/package.json
Labels: frontend, packages, dependencies, typescript

docs: Add Step 21 Digital Signage Builder Completion Report
  docs/nextgen-frontend/reports/step21_digital_signage_completion_report.md
Labels: documentation

fix(build): unify TS/Vite/workspace paths for NextGen apps
  apps/main-site/src/components/registry/function.ts
  apps/main-site/src/components/registry/ui.tsx
  apps/main-site/tsconfig.json
  apps/main-site/vite.config.ts
  docs/nextgen-frontend/tasks/step22_ts_vite_workspace_fix_workorder.md
  packages/@o4o-apps/signage/ui/DeviceCard.tsx
  pnpm-workspace.yaml
  tsconfig.base.json
Labels: frontend, packages, config, documentation, typescript

docs: Add Phase H finalization work order for Digital Signage
  docs/nextgen-frontend/tasks/step21_phase_h_finalization_workorder.md
Labels: documentation

docs: Complete Phase H - Digital Signage Finalization
  docs/nextgen-frontend/reports/phase_h_completion_summary.md
Labels: documentation

fix: Allow super_admin role access to Site Builder
  apps/admin-dashboard/src/App.tsx
Labels: frontend, typescript

fix: Fix React Suspense error for SiteBuilder lazy loading
  apps/admin-dashboard/src/pages/site-builder/SiteBuilder.tsx
  apps/admin-dashboard/src/pages/site-builder/index.ts
Labels: frontend, typescript

feat: Add Site Builder test page for debugging
  apps/admin-dashboard/src/App.tsx
  apps/admin-dashboard/src/pages/test/SiteBuilderTest.tsx
Labels: frontend, testing, typescript

feat: Add manual deployment script for dev-admin
  scripts/deploy-dev-admin-manual.sh
Labels: ci/cd

fix: Add authClient to AuthContext for API calls
  packages/auth-context/src/AuthContext.tsx
  packages/auth-context/src/AuthProvider.tsx
Labels: packages, typescript

fix: Remove --silent flag from vite build command
  scripts/deploy-dev-admin-manual.sh
Labels: ci/cd

fix: Remove hardcoded /api prefix from SiteBuilder API calls
  apps/admin-dashboard/src/pages/site-builder/SiteBuilder.tsx
Labels: frontend, typescript

feat: Add sites table migration for Multi-Site Builder
  apps/api-server/src/database/migrations/9000000000000-CreateSitesTable.ts
Labels: backend, typescript

fix: Update sites routes to use dynamic scaffolding import and fix TypeScript errors
  apps/api-server/src/modules/sites/sites.routes.ts
Labels: backend, typescript

fix: Correct scaffolding import path in sites routes
  apps/api-server/src/modules/sites/sites.routes.ts
Labels: backend, typescript

fix: Remove NestJS-style deployment files and fix TypeScript errors in routes
  apps/api-server/src/modules/deployment/deployment.controller.ts
  apps/api-server/src/modules/deployment/deployment.module.ts
  apps/api-server/src/modules/deployment/deployment.service.ts
  apps/api-server/src/routes/deployment.routes.ts
Labels: backend, typescript

fix: Disable scaffolding service temporarily and fix deployment module exports
  apps/api-server/src/modules/deployment/index.ts
  apps/api-server/src/modules/sites/sites.routes.ts
Labels: backend, typescript

fix: Temporarily disable yaksa forum routes to fix build
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/src/config/routes.config.ts
Labels: backend, typescript

revert: Restore yaksa forum routes to original state
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/src/config/routes.config.ts
Labels: backend, typescript

fix: Re-disable forum-yaksa (legacy package incompatible with NextGen)
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/src/config/routes.config.ts
Labels: backend, typescript

fix: Add super_admin role to Sites API requireAdmin middleware
  apps/api-server/src/modules/sites/sites.routes.ts
Labels: backend, typescript

debug: Add detailed logging to Sites API requireAdmin middleware
  apps/api-server/src/modules/sites/sites.routes.ts
Labels: backend, typescript

fix: Remove PostgreSQL array curly braces from role names
  apps/api-server/src/modules/sites/sites.routes.ts
Labels: backend, typescript

fix: Extract sites array from API response data property
  apps/admin-dashboard/src/pages/site-builder/SiteBuilder.tsx
Labels: frontend, typescript

fix: Allow scaffolding retry for FAILED sites
  apps/api-server/src/modules/sites/sites.routes.ts
Labels: backend, typescript

docs: Add Step 24 completion report and Step 25 work order
  docs/implementation-reports/step24_multi_site_builder_report.md
  docs/nextgen-backend/tasks/step25_api_server_v2_workorder.md
Labels: documentation

feat(api-server): Phase A legacy cleanup - Remove yaksa and dropshipping legacy code
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/src/config/routes.config.ts
  apps/api-server/src/controllers/dropshipping/DropshippingController.ts
  apps/api-server/src/controllers/yaksa/YaksaCommunityController.ts
  apps/api-server/src/routes/admin/dropshipping.routes.ts
  apps/api-server/src/routes/yaksa/community.routes.ts
  apps/api-server/src/routes/yaksa/post.routes.ts
  apps/api-server/src/services/AppManager.ts
Labels: backend, typescript

docs: Add Step 25 Phase A legacy cleanup report
  docs/api-server/reports/legacy_cleanup_report.md
Labels: documentation

feat(api-server): Phase A - Remove unused controllers
  apps/api-server/src/controllers/performanceController.ts
  apps/api-server/src/controllers/themes/previewController.ts
Labels: backend, typescript

feat(api-server): Phase A - Remove 16 unused route files
  apps/api-server/src/routes/admin.ts
  apps/api-server/src/routes/admin/security.ts
  apps/api-server/src/routes/aiRoutes.ts
  apps/api-server/src/routes/autoRecovery.ts
  apps/api-server/src/routes/content/image-editing.ts
  apps/api-server/src/routes/content/index.ts
  apps/api-server/src/routes/dev.routes.ts
  apps/api-server/src/routes/ds-seller-authorization-v2.routes.ts
  apps/api-server/src/routes/posts-base.ts
  apps/api-server/src/routes/posts-complete.ts
  apps/api-server/src/routes/posts-gutenberg.ts
  apps/api-server/src/routes/theme-approvals.ts
  apps/api-server/src/routes/v1/admin-settlements.routes.ts
  apps/api-server/src/routes/v1/businessInfo.routes.ts
  apps/api-server/src/routes/v1/userActivity.routes.ts
  apps/api-server/src/routes/v1/userRoleSwitch.routes.ts
  apps/api-server/src/routes/v1/userStatistics.routes.ts
  apps/api-server/src/routes/v1/users.routes.ts
  apps/api-server/src/routes/zones.ts
Labels: backend, typescript

feat(api-server): Phase A - Remove 3 unused service files
  apps/api-server/src/services/WebhookHandlers.ts
  apps/api-server/src/services/forecasting.service.ts
  apps/api-server/src/services/user-role.service.ts
Labels: backend, typescript

feat(auth): Migrate AUTH controllers and routes to NextGen pattern
  apps/api-server/src/config/routes.config.ts
  apps/api-server/src/modules/auth/controllers/auth.controller.ts
  apps/api-server/src/modules/auth/controllers/index.ts
  apps/api-server/src/modules/auth/controllers/password.controller.ts
  apps/api-server/src/modules/auth/controllers/verification.controller.ts
  apps/api-server/src/modules/auth/dto/index.ts
  apps/api-server/src/modules/auth/dto/login.dto.ts
  apps/api-server/src/modules/auth/dto/password.dto.ts
  apps/api-server/src/modules/auth/dto/refresh.dto.ts
  apps/api-server/src/modules/auth/dto/register.dto.ts
  apps/api-server/src/modules/auth/dto/verification.dto.ts
  apps/api-server/src/modules/auth/routes/auth.routes.ts
  docs/nextgen-backend/tasks/step25_phase_b2_step3_auth_controllers_routes_workorder.md
Labels: backend, documentation, typescript

feat: Migrate User & Profile Module to NextGen V2 Architecture
  apps/api-server/src/config/routes.config.ts
  apps/api-server/src/modules/user/controllers/index.ts
  apps/api-server/src/modules/user/controllers/user-activity.controller.ts
  apps/api-server/src/modules/user/controllers/user-management.controller.ts
  apps/api-server/src/modules/user/controllers/user-role.controller.ts
  apps/api-server/src/modules/user/controllers/user.controller.ts
  apps/api-server/src/modules/user/dto/activity-query.dto.ts
  apps/api-server/src/modules/user/dto/change-password.dto.ts
  apps/api-server/src/modules/user/dto/index.ts
  apps/api-server/src/modules/user/dto/update-profile.dto.ts
  apps/api-server/src/modules/user/dto/update-user.dto.ts
  apps/api-server/src/modules/user/dto/user-query.dto.ts
  apps/api-server/src/modules/user/dto/user-role.dto.ts
  apps/api-server/src/modules/user/routes/user.routes.ts
  docs/nextgen-backend/tasks/step25_phase_b2_step4_user_profile_migration_workorder.md
Labels: backend, documentation, typescript

chore: Update pnpm-lock.yaml for CI compatibility
  pnpm-lock.yaml
Labels: config

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files
