Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

feat(hff): higher-N V2 2순위 #11 mg+vd+vk+zn+ca N5 15 LIVE (+1 정당 HOLD) — 복합형 누적 544 (Agent B)
  docs/checks/CHECK-O4O-HFF-HIGHER-N-FOLLOWUP-REVIEW-A-V2.md
  docs/checks/data/product-description-guard/hff-combo-mg-vd-vk-zn-ca.blocked-hold.json
  docs/checks/data/product-description-guard/hff-combo-mg-vd-vk-zn-ca.json
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-001.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-001.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-002.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-002.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-003.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-003.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-004.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-004.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-005.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-005.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-006.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-006.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-007.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-007.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-008.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-008.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-009.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-009.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-010.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-010.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-011.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-011.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-012.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-012.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-013.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-013.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-014.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-014.ko.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-015.en.html
  docs/guides/products/health-functional-food/production-combo/mg-vd-vk-zn-ca/drafts/mg-vd-vk-zn-ca-015.ko.html
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Labels: documentation

docs(check): 운영자 Screen Set 제작기 HOLD — organization_id NOT NULL 중지 조건 (WO-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1)
  docs/checks/CHECK-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1.md
Labels: documentation

feat(drug-otc): 알벤다졸 400mg 정 ko/en 38건 연속 완결 LIVE (에이전트 가) (WO-O4O-OTC-ALBENDAZOLE-400MG-KO-EN-COMPLETE-GA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-albendazole-400mg.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-albendazole-400mg-jeong.run.json
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-ALBENDAZOLE-400MG-KO-EN-COMPLETE-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-albendazole-400mg-v1.json
Labels: backend, documentation, typescript

feat(hff): higher-N V2 3순위 G13 6미네랄 N6 10 LIVE — 복합형 누적 554 (Agent B)
  docs/checks/CHECK-O4O-HFF-HIGHER-N-FOLLOWUP-REVIEW-A-V2.md
  docs/checks/data/product-description-guard/hff-combo-g13-6mineral.json
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-001.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-001.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-002.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-002.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-003.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-003.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-004.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-004.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-005.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-005.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-006.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-006.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-007.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-007.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-008.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-008.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-009.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-009.ko.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-010.en.html
  docs/guides/products/health-functional-food/production-combo/g13-6mineral/drafts/g13-6mineral-010.ko.html
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Labels: documentation

fix(hff): combo verifier baseline에 비-combo 접두 복합형 slug 포함 — totalComboLive 과소집계 해소
  apps/api-server/src/scripts/hff-combo-verify-committed.ts
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Labels: backend, documentation, typescript

docs(adr): Screen Set 소유권·스코프 모델 ADR (ADR-O4O-SCREEN-SET-OWNER-SCOPE-MODEL-V1)
  docs/architecture/ADR-O4O-SCREEN-SET-OWNER-SCOPE-MODEL-V1.md
  docs/checks/CHECK-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1.md
Labels: documentation

@ feat(drug-otc): 디오스민 300mg 캡슐 ko 승격 + 영어 완결 LIVE (WO-O4O-OTC-DIOSMIN-300MG-KO-EN-COMPLETE-DA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-diosmin-300mg.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-diosmin-300mg-capsule.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-diosmin-300mg-capsule.run.json
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-DIOSMIN-300MG-KO-EN-COMPLETE-DA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-diosmin-300mg-v1.json
Labels: backend, documentation, typescript

feat(drug-otc): 알마게이트 500mg 정 ko/en 37건 연속 완결 LIVE (에이전트 가) (WO-O4O-OTC-ALMAGATE-500MG-KO-EN-COMPLETE-GA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-almagate-500mg.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-almagate-500mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-almagate-500mg-jeong.run.json
  docs/checks/CHECK-O4O-OTC-ALMAGATE-500MG-KO-EN-COMPLETE-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-almagate-500mg-v1.json
Labels: backend, documentation

feat(tablet): Screen Set 소유권 모델 스키마 migration (WO-O4O-SCREEN-SET-OWNER-SCOPE-SCHEMA-MIGRATION-V1)
  apps/api-server/src/database/migrations/20270210000000-AddScreenSetOwnerScopeModel.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-SCREEN-SET-OWNER-SCOPE-SCHEMA-MIGRATION-V1.md
  services/web-kpa-society/src/api/tabletDisplays.ts
Labels: backend, documentation, typescript

feat(hff): higher-N 선택그룹 G10 B군+비타민C+아연 N5 9 LIVE — 복합형 누적 563 (Agent B)
  apps/api-server/src/scripts/hff-combo-verify-committed.ts
  docs/checks/CHECK-O4O-HFF-HIGHER-N-FOLLOWUP-REVIEW-A-V2.md
  docs/checks/data/product-description-guard/hff-combo-g10-b126-vc-zn.json
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-001.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-001.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-002.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-002.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-003.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-003.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-004.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-004.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-005.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-005.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-006.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-006.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-007.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-007.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-008.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-008.ko.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-009.en.html
  docs/guides/products/health-functional-food/production-combo/g10-b126-vc-zn/drafts/g10-b126-vc-zn-009.ko.html
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Labels: backend, documentation, typescript

docs(guide): EN 스코프 가드 바실루스 실증 + 범용 runner·ALREADY_COMPLETE 반영 (WO-O4O-OTC-EN-MASTER-SCOPE-GUARD-DOC-NA-V1 후속)
  docs/guides/products/drug/OTC-BULK-TRANSLATION-EXECUTION-GUIDE-V1.md
Labels: documentation

feat(hff): higher-N 마지막 선택배치 #4 N7 밀크씨슬+B군+아연 9 LIVE — 복합형 누적 572, 라인 종료 (Agent B)
  apps/api-server/src/scripts/hff-combo-verify-committed.ts
  docs/checks/CHECK-O4O-HFF-HIGHER-N-FOLLOWUP-REVIEW-A-V2.md
  docs/checks/data/product-description-guard/hff-combo-h4-ms-na-b126-zn-panto.json
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-001.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-001.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-002.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-002.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-003.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-003.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-004.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-004.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-005.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-005.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-006.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-006.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-007.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-007.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-008.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-008.ko.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-009.en.html
  docs/guides/products/health-functional-food/production-combo/h4-ms-na-b126-zn-panto/drafts/h4-ms-na-b126-zn-panto-009.ko.html
  docs/work-orders/WO-O4O-HFF-MX-MULTI-INGREDIENT-EXPANSION-PILOT-V1.md
Labels: backend, documentation, typescript

feat(drug-otc): 클로닉신리시네이트 125mg 연질캡슐 ko/en 27건 연속 완결 LIVE (에이전트 가) (WO-O4O-OTC-CLONIXIN-125MG-SOFTCAP-KO-EN-COMPLETE-GA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-clonixin-125mg-softcap.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-clonixin-125mg-softcap.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-clonixin-125mg-softcap.run.json
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-CLONIXIN-125MG-SOFTCAP-KO-EN-COMPLETE-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-clonixin-125mg-softcap-v1.json
Labels: backend, documentation, typescript

@ feat(drug-otc): 트리메부틴 150mg 정 ko 승격 + 영어 완결 LIVE (WO-O4O-OTC-TRIMEBUTINE-150MG-KO-EN-COMPLETE-DA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-trimebutine-150mg.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-trimebutine-150mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-trimebutine-150mg-jeong.run.json
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-TRIMEBUTINE-150MG-KO-EN-COMPLETE-DA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-trimebutine-150mg-v1.json
Labels: backend, documentation, typescript

docs(check): owner-scope migration 프로덕션 사후검증 PASS (WO-O4O-SCREEN-SET-OWNER-SCOPE-SCHEMA-MIGRATION-V1)
  docs/checks/CHECK-O4O-SCREEN-SET-OWNER-SCOPE-SCHEMA-MIGRATION-V1.md
Labels: documentation

chore(drug-otc): 알벤다졸 400mg 정 ko 승격 dry-run PASS 산출물 추가 (에이전트 가) — WO-O4O-OTC-ALBENDAZOLE-400MG-KO-EN-COMPLETE-GA-V1 누락 아티팩트
  apps/api-server/src/scripts/data/otc-grounded-upgrade-albendazole-400mg-jeong.dryrun-pass.json
Labels: backend

docs(check): HFF HOLD 교정 조사 정식화 — #11 칼슘 basis 오기(제품단위) + lut-va 그룹결함(재분류)
  docs/checks/CHECK-O4O-HFF-COMBO-11-CALCIUM-BASIS-TYPO-CORRECTION-V1.md
  docs/checks/CHECK-O4O-HFF-COMBO-LUTEIN-VA-GROUP-DEFECT-CORRECTION-INVESTIGATION-V1.md
Labels: documentation

feat(drug-otc): 클로닉신리시네이트 125mg 정 ko/en 26건 연속 완결 LIVE (에이전트 가) (WO-O4O-OTC-CLONIXIN-125MG-TABLET-KO-EN-COMPLETE-GA-V1)
  apps/api-server/src/scripts/data/otc-bromelain-100mg-fp-harvest.json
  apps/api-server/src/scripts/data/otc-en-complete-bromelain-100mg.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-en-complete-bromelain-100mg.run.json
  apps/api-server/src/scripts/data/otc-en-complete-clonixin-125mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-bromelain-100mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-bromelain-100mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-clonixin-125mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-clonixin-125mg-jeong.run.json
  apps/api-server/src/scripts/drug-otc-bromelain-100mg-fp-harvest.ts
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-BROMELAIN-100MG-KO-EN-COMPLETE-DA-V1.md
  docs/checks/CHECK-O4O-OTC-CLONIXIN-125MG-TABLET-KO-EN-COMPLETE-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-bromelain-100mg-v1.json
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-clonixin-125mg-jeong-v1.json
Labels: backend, documentation, typescript

feat(drug-otc): 브로멜라인 100mg 정 ko/en runner 등재 (WO-O4O-OTC-BROMELAIN-100MG-KO-EN-COMPLETE-DA-V1)
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
Labels: backend, typescript

docs(check): HFF 신규 후보 상위 3그룹 검수 (Agent A) — D+E 24 / D+Se+Zn 8 / fiber+zn DROP
  docs/checks/CHECK-O4O-HFF-COMBO-NEW-CANDIDATE-TOP3-REVIEW-A-V1.md
Labels: documentation

chore(drug-otc): 브로멜라인 100mg 정 ko/en 산출물·문서 (WO-O4O-OTC-BROMELAIN-100MG-KO-EN-COMPLETE-DA-V1)
  apps/api-server/src/scripts/data/otc-bromelain-100mg-fp-harvest.json
  apps/api-server/src/scripts/data/otc-en-complete-bromelain-100mg.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-en-complete-bromelain-100mg.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-bromelain-100mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-bromelain-100mg-jeong.run.json
  apps/api-server/src/scripts/drug-otc-bromelain-100mg-fp-harvest.ts
  docs/checks/CHECK-O4O-OTC-BROMELAIN-100MG-KO-EN-COMPLETE-DA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-bromelain-100mg-v1.json
Labels: backend, documentation, typescript

feat(drug-otc): 클로닉신리시네이트 125mg 정 ko/en 26건 연속 완결 LIVE (에이전트 가) (WO-O4O-OTC-CLONIXIN-125MG-TABLET-KO-EN-COMPLETE-GA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-clonixin-125mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-clonixin-125mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-clonixin-125mg-jeong.run.json
  docs/checks/CHECK-O4O-OTC-CLONIXIN-125MG-TABLET-KO-EN-COMPLETE-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-clonixin-125mg-jeong-v1.json
Labels: backend, documentation

chore(drug-otc): 브로멜라인 100mg 정 ko/en 산출물·문서 (WO-O4O-OTC-BROMELAIN-100MG-KO-EN-COMPLETE-DA-V1)
  docs/checks/CHECK-O4O-HFF-COMBO-NEW-CANDIDATE-TOP3-REVIEW-A-V1.md
Labels: documentation

docs(check): HFF 신규 후보 상위 3그룹 검수 (Agent A) — D+E 24 / D+Se+Zn 8 / fiber+zn DROP
  docs/checks/CHECK-O4O-HFF-COMBO-NEW-CANDIDATE-TOP3-REVIEW-A-V1.md
Labels: documentation

feat(operator): 운영자 Screen Set 원본 제작기 재개 — API·Adapter·제작기 (WO-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1)
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/operator-screen-set.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet-content-source.ts
  docs/checks/CHECK-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1.md
  services/web-kpa-society/src/api/operatorTabletScreenSets.ts
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/tablet/OperatorTabletScreenSetsPage.tsx
  services/web-kpa-society/src/pages/pharmacy/TabletScreenSetManager.tsx
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
Labels: backend, documentation, typescript

feat(hff): #11 mg+vd+vk+zn+ca 칼슘 basis 오기 단건 교정 LIVE — 복합형 572→573 (Agent B)
  apps/api-server/src/scripts/hff-11-ca-basis-normalize.ts
  apps/api-server/src/scripts/hff-11-ca-postverify.ts
  docs/checks/CHECK-O4O-HFF-COMBO-11-CALCIUM-BASIS-TYPO-CORRECTION-V1.md
  docs/checks/data/product-description-guard/hff-combo-mg-vd-vk-zn-ca.blocked-hold.json
Labels: backend, documentation, typescript

fix(operator): PATCH/DELETE TypeORM UPDATE...RETURNING 결과 정규화 + CHECK 검증 결과 (WO-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1)
  apps/api-server/src/routes/o4o-store/controllers/operator-screen-set.controller.ts
  docs/checks/CHECK-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1.md
Labels: backend, documentation, typescript

docs(check): HFF 단일형 라인 다중원료 흡수 플랫폼 전수 감사 (Agent A) — 공통 결함 확정
  docs/checks/CHECK-O4O-HFF-SINGLE-LINE-MULTI-INGREDIENT-ABSORPTION-PLATFORM-AUDIT-A-V1.md
Labels: documentation

chore(drug-otc): NEXT 5 grounded-upgrade 최종 감사 read-only (WO-O4O-OTC-GROUNDED-UPGRADE-NEXT-5-FINAL-AUDIT-NA-V1, 에이전트 나)
  apps/api-server/src/scripts/data/otc-next-5-audit-v1.json
  apps/api-server/src/scripts/otc-next-5-audit.ts
Labels: backend, typescript

docs(check): HFF 단일형 흡수 교정 설계 + 제품별 검증 큐 (Agent A) — A155/C81/benign23
  docs/checks/CHECK-O4O-HFF-SINGLE-LINE-ABSORPTION-CORRECTION-DESIGN-A-V1.md
  docs/checks/data/product-description-guard/hff-single-line-absorption-correction-queue.json
Labels: documentation

docs(check): 운영자 Screen Set 제작기 완료·LIVE — API+브라우저 스모크 PASS (WO-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1)
  docs/checks/CHECK-O4O-OPERATOR-SCREEN-SET-AUTHORING-FOUNDATION-V1.md
Labels: documentation

feat(hff): 비타민D+비타민E 24건 복합형 LIVE — 복합형 573→597 (Agent B)
  apps/api-server/src/scripts/hff-combo-verify-committed.ts
  apps/api-server/src/scripts/hff-vd-ve-postverify.ts
  docs/checks/CHECK-O4O-HFF-COMBO-NEW-CANDIDATE-TOP3-REVIEW-A-V1.md
  docs/checks/data/product-description-guard/hff-combo-vd-ve.json
Labels: backend, documentation, typescript

feat(drug-otc): 아세트아미노펜 325mg·나프록센 250mg 연질캡슐 ko/en 완결 LIVE (WO-O4O-OTC-ACETAMINOPHEN-NAPROXEN-KO-EN-COMPLETE-DA-V1)
  apps/api-server/src/scripts/data/otc-acetaminophen-325mg-softcap-fp-harvest.json
  apps/api-server/src/scripts/data/otc-en-complete-acetaminophen-325mg-softcap.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-en-complete-acetaminophen-325mg-softcap.run.json
  apps/api-server/src/scripts/data/otc-en-complete-naproxen-250mg-softcap.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-en-complete-naproxen-250mg-softcap.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-acetaminophen-325mg-softcap.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-acetaminophen-325mg-softcap.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-naproxen-250mg-softcap.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-naproxen-250mg-softcap.run.json
  apps/api-server/src/scripts/data/otc-naproxen-250mg-softcap-fp-harvest.json
  apps/api-server/src/scripts/drug-otc-acet-naproxen-softcap-fp-harvest.ts
  apps/api-server/src/scripts/drug-otc-en-complete-runner.ts
  apps/api-server/src/scripts/drug-otc-grounded-upgrade-runner.ts
  docs/checks/CHECK-O4O-OTC-ACETAMINOPHEN-NAPROXEN-KO-EN-COMPLETE-DA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-acetaminophen-325mg-softcap-v1.json
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-naproxen-250mg-softcap-v1.json
Labels: backend, documentation, typescript

feat(drug-otc): 니자티딘 75mg 정 / 엘카르니틴 330mg 정 / 소브레롤 200mg 캡슐 ko/en 완결 LIVE (에이전트 가) (WO-O4O-OTC-NIZATIDINE-LEVOCARNITINE-SOBREROL-KO-EN-COMPLETE-GA-V1)
  apps/api-server/src/scripts/data/otc-en-complete-levocarnitine-330mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-en-complete-nizatidine-75mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-en-complete-sobrerol-200mg-capsule.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-levocarnitine-330mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-levocarnitine-330mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-nizatidine-75mg-jeong.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-nizatidine-75mg-jeong.run.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-sobrerol-200mg-capsule.dryrun-pass.json
  apps/api-server/src/scripts/data/otc-grounded-upgrade-sobrerol-200mg-capsule.run.json
  docs/checks/CHECK-O4O-OTC-NIZATIDINE-LEVOCARNITINE-SOBREROL-KO-EN-COMPLETE-GA-V1.md
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-levocarnitine-330mg-jeong-v1.json
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-nizatidine-75mg-jeong-v1.json
  docs/guides/products/drug/pilot-en-design/translations/otc-en-translations-sobrerol-200mg-capsule-v1.json
Labels: backend, documentation

feat(hff): 비타민D+셀레늄+아연 8건 복합형 LIVE — 복합형 597→605 (Agent B)
  apps/api-server/src/scripts/hff-combo-verify-committed.ts
  docs/checks/CHECK-O4O-HFF-COMBO-NEW-CANDIDATE-TOP3-REVIEW-A-V1.md
  docs/checks/data/product-description-guard/hff-combo-vd-se-zn.json
Labels: backend, documentation, typescript

chore(drug-otc): NEXT batch-8 grounded-upgrade 감사 read-only (WO-O4O-OTC-GROUNDED-UPGRADE-NEXT-BATCH-8-AUDIT-NA-V1, 에이전트 나)
  apps/api-server/src/scripts/data/otc-next-batch-8-audit-v1.json
  apps/api-server/src/scripts/otc-next-batch-8-audit.ts
Labels: backend, typescript

feat(store-tablet): 매장 Screen Set origin='store' 명시 격리 + UPDATE/DELETE 404 판정 수정 (WO-O4O-STORE-SCREEN-SET-ORIGIN-ISOLATION-HARDENING-V1)
  apps/api-server/src/routes/o4o-store/controllers/store-qr-landing.controller.ts
  apps/api-server/src/routes/platform/store-public/store-public-screen-set-resolve.ts
  apps/api-server/src/routes/platform/store-public/store-public-tablet.handler.ts
  apps/api-server/src/routes/platform/store-screen-set-qr.service.ts
  apps/api-server/src/routes/platform/store-tablet.routes.ts
  docs/checks/CHECK-O4O-STORE-SCREEN-SET-ORIGIN-ISOLATION-HARDENING-V1.md
Labels: backend, documentation, typescript

chore(drug-otc): 클로닉신 정 / 니자티딘·엘카르니틴·소브레롤 조사·독립검증 probe 스크립트 (에이전트 가)
  apps/api-server/src/scripts/otc-batch03-en-probe.ts
  apps/api-server/src/scripts/otc-batch03-fp-probe.ts
  apps/api-server/src/scripts/otc-batch03-verify.ts
  apps/api-server/src/scripts/otc-clonixin-jeong-en-probe.ts
  apps/api-server/src/scripts/otc-clonixin-jeong-fp-probe.ts
  apps/api-server/src/scripts/otc-clonixin-jeong-probe.ts
  apps/api-server/src/scripts/otc-clonixin-jeong-verify.ts
Labels: backend, typescript

fix(drug-otc): NEXT batch-8 감사 write 산식 정본화 ko=4T·en=2T·총=6T (WO-O4O-OTC-GROUNDED-UPGRADE-NEXT-BATCH-8-AUDIT-NA-V1, 에이전트 나)
  apps/api-server/src/scripts/data/otc-next-batch-8-audit-v1.json
  apps/api-server/src/scripts/otc-next-batch-8-audit.ts
Labels: backend, typescript

docs(hff): 복합형 신규 후보 전수 인벤토리 read-only (CHECK-O4O-HFF-COMBO-NEW-CANDIDATE-INVENTORY-READONLY-C-V1, Agent C)
  docs/checks/CHECK-O4O-HFF-COMBO-NEW-CANDIDATE-INVENTORY-READONLY-C-V1.md
  docs/checks/data/product-description-guard/hff-combo-new-candidate-inventory.json
Labels: documentation
