Repository Renagang21/o4o-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, packages, ci/cd, config, documentation, dependencies, testing, typescript, javascript, styles, security

.github/labeler.yml:

# GitHub Labeler Configuration
# Automatically assigns labels to pull requests based on file changes

# Frontend Changes
frontend:
  - changed-files:
    - any-glob-to-any-file: 'apps/main-site/**/*'
    - any-glob-to-any-file: 'apps/admin-dashboard/**/*'

# Backend Changes  
backend:
  - changed-files:
    - any-glob-to-any-file: 'apps/api-server/**/*'

# Package Changes
packages:
  - changed-files:
    - any-glob-to-any-file: 'packages/**/*'

# Infrastructure Changes
ci/cd:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
    - any-glob-to-any-file: 'scripts/**/*'

# Configuration Changes
config:
  - changed-files:
    - any-glob-to-any-file: '*.json'
    - any-glob-to-any-file: '*.yml'
    - any-glob-to-any-file: '*.yaml'
    - any-glob-to-any-file: '*.toml'
    - any-glob-to-any-file: '*.config.*'

# Documentation Changes
documentation:
  - changed-files:
    - any-glob-to-any-file: '*.md'
    - any-glob-to-any-file: 'docs/**/*'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: '**/package.json'
    - any-glob-to-any-file: '**/package-lock.json'
    - any-glob-to-any-file: '**/yarn.lock'

# Testing
testing:
  - changed-files:
    - any-glob-to-any-file: '**/*.test.*'
    - any-glob-to-any-file: '**/*.spec.*'
    - any-glob-to-any-file: '**/test/**/*'
    - any-glob-to-any-file: '**/tests/**/*'

# TypeScript/JavaScript
typescript:
  - changed-files:
    - any-glob-to-any-file: '**/*.ts'
    - any-glob-to-any-file: '**/*.tsx'
    - any-glob-to-any-file: 'tsconfig*.json'

javascript:
  - changed-files:
    - any-glob-to-any-file: '**/*.js'
    - any-glob-to-any-file: '**/*.jsx'

# Styles
styles:
  - changed-files:
    - any-glob-to-any-file: '**/*.css'
    - any-glob-to-any-file: '**/*.scss'
    - any-glob-to-any-file: '**/*.sass'
    - any-glob-to-any-file: 'tailwind.config.*'

# Security
security:
  - changed-files:
    - any-glob-to-any-file: '**/.env*'
    - any-glob-to-any-file: '**/security/**/*'
    - any-glob-to-any-file: 'sonar-project.properties'

# Size Labels (Note: actions/labeler doesn't support file count-based labeling)
# These labels need to be applied through a different mechanism
# large-change: For PRs with >20 files
# small-change: For PRs with <=5 files

feat(operator): 크로스서비스 capability adoption 최종 감사 + 잔여 gap 일괄 해소 (WO-O4O-OPERATOR-CROSSSERVICE-CAPABILITY-ADOPTION-FINAL-AUDIT-AND-GAP-CLOSURE-V1)
  apps/api-server/src/routes/operator/analytics.routes.ts
  docs/checks/WO-O4O-OPERATOR-CROSSSERVICE-CAPABILITY-ADOPTION-FINAL-AUDIT-AND-GAP-CLOSURE-V1-CHECK.md
  services/web-k-cosmetics/src/App.tsx
  services/web-k-cosmetics/src/config/operatorMenuGroups.ts
  services/web-k-cosmetics/src/pages/operator/AnalyticsPage.tsx
  services/web-k-cosmetics/src/pages/operator/CommunityManagementPage.tsx
  services/web-kpa-society/src/config/operatorMenuGroups.ts
  services/web-kpa-society/src/pages/operator/LegalManagementPage.tsx
  services/web-kpa-society/src/pages/operator/index.ts
  services/web-kpa-society/src/routes/OperatorRoutes.tsx
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-pharmacy-hub/src/App.tsx
  services/web-pharmacy-hub/src/config/operatorMenuGroups.ts
  services/web-pharmacy-hub/src/lib/api/pharmacyHubResources.ts
  services/web-pharmacy-hub/src/pages/operator/AnalyticsPage.tsx
  services/web-pharmacy-hub/src/pages/operator/ResourcesPage.tsx
Labels: backend, documentation, typescript

docs(check): KPA·PharmacyHub 커뮤니티 Home/Nav canonical 수렴 검증 기록 (WO-O4O-KPA-PHARMACYHUB-COMMUNITY-HOME-AND-NAV-CANONICAL-CONVERGENCE-V1)
  docs/checks/CHECK-O4O-KPA-PHARMACYHUB-COMMUNITY-HOME-AND-NAV-CANONICAL-CONVERGENCE-V1.md
Labels: documentation

fix(operator): PharmacyHub 자료실 그룹 capability 누락 보정 (WO-O4O-OPERATOR-CROSSSERVICE-CAPABILITY-ADOPTION-FINAL-AUDIT-AND-GAP-CLOSURE-V1)
  services/web-pharmacy-hub/src/config/operatorCapabilities.ts
Labels: typescript

docs(check): 배포 후 프로덕션 실브라우저 검증 기록 + FIX-8 반영 (WO-O4O-OPERATOR-CROSSSERVICE-CAPABILITY-ADOPTION-FINAL-AUDIT-AND-GAP-CLOSURE-V1)
  docs/checks/WO-O4O-OPERATOR-CROSSSERVICE-CAPABILITY-ADOPTION-FINAL-AUDIT-AND-GAP-CLOSURE-V1-CHECK.md
Labels: documentation

refactor(cms): serviceKey alias 를 security-core canonical SSOT 파생으로 수렴 (WO-O4O-CMS-READ-VISIBILITY-AND-SERVICE-SCOPE-CONTRACT-CLOSURE-V1)
  apps/api-server/src/__tests__/cms-content-detail-service-scope.spec.ts
  apps/api-server/src/__tests__/cms-content-slot-service-scope.spec.ts
  apps/api-server/src/routes/cms-content/cms-content-slot.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-utils.ts
Labels: backend, testing, typescript

docs(check): CMS read 경계 배포 후 production 실측 + 실브라우저 smoke 기록 (WO-O4O-CMS-READ-VISIBILITY-AND-SERVICE-SCOPE-CONTRACT-CLOSURE-V1)
  docs/checks/CHECK-O4O-CMS-READ-VISIBILITY-AND-SERVICE-SCOPE-CONTRACT-CLOSURE-V1.md
Labels: documentation

fix(rbac): 5서비스 정지 lifecycle 계약 통일 — membership 게이트 단일화 + 복구는 restore-only (WO-O4O-CROSSSERVICE-MEMBERSHIP-SUSPENSION-ROLE-LIFECYCLE-CONTRACT-V1)
  apps/api-server/src/__tests__/store-local-products-service-scoped-org.spec.ts
  apps/api-server/src/__tests__/store-owner-backcompat-servicekey.spec.ts
  apps/api-server/src/__tests__/store-owner-membership-gate.spec.ts
  apps/api-server/src/__tests__/store-owner-service-scoped-org.spec.ts
  apps/api-server/src/services/approval/MembershipApprovalService.ts
  apps/api-server/src/services/approval/__tests__/MembershipApprovalService.bareRoleContract.test.ts
  apps/api-server/src/services/approval/__tests__/MembershipApprovalService.suspensionLifecycleContract.test.ts
  apps/api-server/src/utils/store-owner.utils.ts
  docs/checks/WO-O4O-CROSSSERVICE-MEMBERSHIP-SUSPENSION-ROLE-LIFECYCLE-CONTRACT-V1-CHECK.md
  docs/rbac/RBAC-ROLE-CATALOG-V1.md
  services/web-k-cosmetics/src/App.tsx
Labels: backend, documentation, testing, typescript

security(infra): Cloud Run DB 자격증명 Secret Manager 이관 (WO-O4O-CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1)
  .github/workflows/deploy-api.yml
  docs/checks/CHECK-O4O-CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1.md
Labels: ci/cd, documentation

docs(check): CI 재배포 end-to-end 검증 결과 반영 (WO-O4O-CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1)
  docs/checks/CHECK-O4O-CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1.md
Labels: documentation

chore(safety): 공유 main safe-commit + 리터럴 소비처 인구조사 계약화 (WO-O4O-CROSSSESSION-SAFE-COMMIT-AND-LITERAL-CONSUMER-GUARD-V1)
  AGENTS.md
  CLAUDE.md
  apps/api-server/src/__tests__/cross-session-safe-commit-guard.spec.ts
  docs/baseline/O4O-SHARED-MODULE-CHANGE-PROTOCOL-V1.md
  docs/baseline/operations/O4O-GIT-PARALLEL-WORK-SAFETY-V1.md
  docs/checks/WO-O4O-CROSSSESSION-SAFE-COMMIT-AND-LITERAL-CONSUMER-GUARD-V1-CHECK.md
  package.json
  scripts/git/check-staged-scope.mjs
  scripts/quality/check-literal-consumers.mjs
Labels: backend, ci/cd, config, documentation, dependencies, testing, typescript

fix(neture): AI 메뉴/route ↔ 권한 계약 정합 — dead config·dead link 제거 (WO-O4O-NETURE-OPERATOR-AI-GUARD-AND-MENU-VISIBILITY-FINAL-CLOSURE-V1)
  docs/checks/WO-O4O-NETURE-OPERATOR-AI-GUARD-AND-MENU-VISIBILITY-FINAL-CLOSURE-V1-CHECK.md
  services/web-neture/src/App.tsx
  services/web-neture/src/components/layouts/AdminLayoutWrapper.tsx
  services/web-neture/src/config/operatorMenuGroups.ts
  services/web-neture/src/pages/admin/ai/AiAdminDashboardPage.tsx
  services/web-neture/src/pages/admin/ai/AiCostPage.tsx
  services/web-neture/src/pages/admin/ai/AiEnginesPage.tsx
  services/web-neture/src/pages/admin/ai/AiPolicyPage.tsx
  services/web-neture/src/pages/admin/ai/AnswerCompositionRulesPage.tsx
  services/web-neture/src/pages/admin/ai/AssetQualityPage.tsx
  services/web-neture/src/pages/admin/ai/ContextAssetFormPage.tsx
  services/web-neture/src/pages/admin/ai/ContextAssetListPage.tsx
  services/web-neture/src/pages/admin/ai/index.ts
Labels: documentation, typescript

test(api): 매장 판정 스텁을 membership 게이트 계약에 맞춘다 + 인구조사 센티널 자기참조 제거
  apps/api-server/src/__tests__/cross-session-safe-commit-guard.spec.ts
  apps/api-server/src/__tests__/security/store-hub-product-apply-gate.spec.ts
  apps/api-server/src/__tests__/store-policy-ownership-axis.spec.ts
Labels: backend, testing, typescript, security

fix(api): CMS mutation 인가를 role 축으로 접어 KPA/KCos 403 을 닫는다
  apps/api-server/src/__tests__/cms-content-mutation-service-scope.spec.ts
  apps/api-server/src/__tests__/pharmacy-hub-content-resource-adoption.spec.ts
  apps/api-server/src/routes/cms-content/cms-content-mutation.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-utils.ts
  docs/checks/CHECK-O4O-CMS-KPA-MUTATION-SERVICEKEY-CANONICALIZATION-V1.md
Labels: backend, documentation, testing, typescript

fix(rbac): cross-service 권한 판정을 membership+role 계약으로 최종 정합 (WO-O4O-CROSSSERVICE-IDENTITY-RBAC-MEMBERSHIP-FINAL-AUDIT-AND-CLOSURE-V1)
  apps/api-server/src/__tests__/crossservice-identity-rbac-membership-closure.spec.ts
  apps/api-server/src/__tests__/crossservice-membership-gate-live-consumers.spec.ts
  apps/api-server/src/__tests__/signage-servicekey-canonicalization.spec.ts
  apps/api-server/src/common/middleware/membership-guard.middleware.ts
  apps/api-server/src/middleware/signage-role.middleware.ts
  apps/api-server/src/modules/auth/controllers/auth-helpers.ts
  apps/api-server/src/routes/kpa/controllers/me-context.controller.ts
  apps/api-server/src/utils/service-membership.ts
  apps/api-server/src/utils/serviceScope.ts
  docs/checks/WO-O4O-CROSSSERVICE-IDENTITY-RBAC-MEMBERSHIP-FINAL-AUDIT-AND-CLOSURE-V1-CHECK.md
  docs/rbac/RBAC-CANONICAL-STATE-V1.md
  packages/store-ui-core/src/auth/StoreOwnerGuard.tsx
  services/web-kpa-society/src/components/admin/AdminAuthGuard.tsx
Labels: backend, packages, documentation, testing, typescript

chore(service): provisioning/service-admin legacy 축 전면 retire (WO-O4O-SERVICE-PROVISIONING-CANONICAL-CONTRACT-AND-LEGACY-API-CLOSURE-V1)
  apps/admin-dashboard/src/api/admin-apps.ts
  apps/admin-dashboard/src/components/apps/ServiceTemplateSelector.tsx
  apps/admin-dashboard/src/pages/apps/AppStorePage.tsx
  apps/api-server/src/__tests__/admin-api-guard-inventory.spec.ts
  apps/api-server/src/__tests__/service-admin-guard.spec.ts
  apps/api-server/src/__tests__/service-monitor-retirement.spec.ts
  apps/api-server/src/__tests__/service-provisioning-guard.spec.ts
  apps/api-server/src/__tests__/service-provisioning-retirement.spec.ts
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/routes/service-admin.routes.ts
  apps/api-server/src/routes/service-provisioning.routes.ts
  apps/api-server/src/service-templates/index.ts
  apps/api-server/src/service-templates/init-pack-registry.ts
  apps/api-server/src/service-templates/init-packs/cosmetics-retail-init.json
  apps/api-server/src/service-templates/init-packs/tourist-service-init.json
  apps/api-server/src/service-templates/init-packs/yaksa-branch-init.json
  apps/api-server/src/service-templates/init-schema.ts
  apps/api-server/src/service-templates/service-initializer.ts
  apps/api-server/src/service-templates/service-installer.ts
  apps/api-server/src/service-templates/template-registry.ts
  apps/api-server/src/service-templates/template-schema.ts
  apps/api-server/src/service-templates/template-version-schema.ts
  apps/api-server/src/service-templates/templates/cosmetics-retail.json
  apps/api-server/src/service-templates/templates/partnerops-service.json
  apps/api-server/src/service-templates/templates/platform-core.json
  apps/api-server/src/service-templates/templates/signage-retail.json
  apps/api-server/src/service-templates/templates/tourist-service.json
  apps/api-server/src/service-templates/templates/yaksa-branch.json
  apps/api-server/src/service-templates/versioned-template-registry.ts
  apps/api-server/src/services/AppStoreService.ts
  apps/api-server/src/services/theme-preset.service.ts
  apps/api-server/src/validators/initpack-linter.ts
  apps/api-server/src/validators/template-linter.ts
  docs/checks/WO-O4O-SERVICE-PROVISIONING-CANONICAL-CONTRACT-AND-LEGACY-API-CLOSURE-V1-CHECK.md
Labels: frontend, backend, documentation, testing, typescript

docs(checks): service provisioning retire — production 배포 후 실측 결과 추가 (WO-O4O-SERVICE-PROVISIONING-CANONICAL-CONTRACT-AND-LEGACY-API-CLOSURE-V1)
  docs/checks/WO-O4O-SERVICE-PROVISIONING-CANONICAL-CONTRACT-AND-LEGACY-API-CLOSURE-V1-CHECK.md
Labels: documentation

refactor(cms): serviceKey alias 잔여 리터럴을 security-core SSOT 로 수렴한다
  apps/admin-dashboard/src/pages/cms/channels/ChannelFormModal.tsx
  apps/admin-dashboard/src/pages/cms/channels/ChannelList.tsx
  apps/admin-dashboard/src/pages/cms/cmsServiceCatalog.ts
  apps/admin-dashboard/src/pages/cms/contents/CMSContentList.tsx
  apps/admin-dashboard/src/pages/cms/contents/ContentFormModal.tsx
  apps/admin-dashboard/src/pages/cms/slots/CMSSlotList.tsx
  apps/admin-dashboard/src/pages/cms/slots/SlotFormModal.tsx
  apps/api-server/src/__tests__/cms-servicekey-alias-ssot-closure.spec.ts
  apps/api-server/src/routes/cms-content/cms-content-slot.handler.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/news.controller.ts
  docs/checks/CHECK-O4O-CMS-KPA-MUTATION-SERVICEKEY-CANONICALIZATION-V1.md
  docs/checks/CHECK-O4O-CMS-SERVICEKEY-ALIAS-SSOT-RESIDUAL-CLOSURE-V1.md
  services/web-kpa-society/src/api/cms.ts
Labels: frontend, backend, documentation, testing, typescript

fix(checkout): 환불 authorization 을 canonical role 계약으로 확정
  apps/api-server/src/__tests__/checkout-refund-authorization-canonical-role.spec.ts
  apps/api-server/src/controllers/checkout/checkoutController.ts
  apps/api-server/src/routes/glycopharm/controllers/checkout.controller.ts
  apps/api-server/src/routes/glycopharm/glycopharm.routes.ts
  docs/checks/WO-O4O-CHECKOUT-REFUND-AUTHORIZATION-CANONICAL-ROLE-CONTRACT-V1-CHECK.md
  docs/rbac/RBAC-CANONICAL-STATE-V1.md
Labels: backend, documentation, testing, typescript

fix(ci): 매 배포마다 one-off Cloud Run job 이미지 참조 갱신 (WO-O4O-CLOUDRUN-JOB-IMAGE-REFERENCE-RECOVERY-AND-DEPLOYMENT-CONTRACT-V1)
  .github/workflows/deploy-api.yml
Labels: ci/cd

docs(business): define O4O store commerce boundary
  CLAUDE.md
  docs/baseline/CHECKOUT-STABLE-DECLARATION-V1.md
  docs/baseline/O4O-STORE-COMMERCE-BOUNDARY-V1.md
  docs/baseline/README.md
  docs/checks/WO-O4O-STORE-COMMERCE-BOUNDARY-POLICY-DOCUMENT-V1-CHECK.md
  docs/platform/architecture/O4O-RETAIL-STABLE-V1.md
Labels: documentation

docs(baseline): O4O-STORE-COMMERCE-BOUNDARY-V1 Priority Chain 편입 + 플랫폼 직접판매 계약 상태 확정
  AGENTS.md
  CLAUDE.md
  docs/baseline/O4O-STORE-COMMERCE-BOUNDARY-V1.md
Labels: documentation

docs(checks): Cloud SQL 하드닝 · Cloud Run job 이미지 참조 복구 CHECK 기록
  docs/checks/WO-O4O-CLOUDRUN-JOB-IMAGE-REFERENCE-RECOVERY-AND-DEPLOYMENT-CONTRACT-V1-CHECK.md
  docs/checks/WO-O4O-CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1-CHECK.md
Labels: documentation

fix(channels): serviceKey 를 canonical SSOT 로 정렬해 CMS slot 고립을 없앤다
  apps/admin-dashboard/src/pages/cms/channels/ChannelFormModal.tsx
  apps/admin-dashboard/src/pages/cms/channels/ChannelList.tsx
  apps/api-server/src/__tests__/channels-servicekey-canonical-scope.spec.ts
  apps/api-server/src/routes/admin/channel-heartbeat.routes.ts
  apps/api-server/src/routes/admin/channel-ops.routes.ts
  apps/api-server/src/routes/admin/channel-playback-logs.routes.ts
  apps/api-server/src/routes/channels/channels.routes.ts
  docs/checks/CHECK-O4O-CHANNELS-SERVICEKEY-CANONICAL-SCOPE-ALIGNMENT-V1.md
  packages/cms-core/src/entities/Channel.entity.ts
Labels: frontend, backend, packages, documentation, testing, typescript

refactor(apps): App 관리 축 canonical 고정 + runtime residue retire
  apps/admin-dashboard/src/api/admin-apps.ts
  apps/admin-dashboard/src/pages/apps/AppStorePage.tsx
  apps/api-server/scripts/bootstrap-install-apps.mjs
  apps/api-server/scripts/bootstrap-install-apps.ts
  apps/api-server/src/__tests__/app-management-runtime-residue-retirement.spec.ts
  apps/api-server/src/__tests__/service-provisioning-retirement.spec.ts
  apps/api-server/src/app-manifests/forum.manifest.ts
  apps/api-server/src/app-manifests/index.ts
  apps/api-server/src/app-manifests/partnerops.manifest.ts
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/constants/coreTables.ts
  apps/api-server/src/modules/index.ts
  apps/api-server/src/modules/module-loader.ts
  apps/api-server/src/modules/types.ts
  apps/api-server/src/routes/admin/apps.routes.ts
  apps/api-server/src/services/AppDataCleaner.ts
  apps/api-server/src/services/AppDependencyResolver.ts
  apps/api-server/src/services/AppSecurityValidator.ts
  apps/api-server/src/services/AppTableOwnershipResolver.ts
  apps/api-server/src/services/ExtensionMergeService.ts
  apps/api-server/src/services/RemoteManifestLoader.ts
  apps/api-server/src/services/RemoteResourcesLoader.ts
  apps/api-server/src/services/app-manager/app-manager.execution.ts
  apps/api-server/src/services/app-manager/app-manager.facade.ts
  apps/api-server/src/services/app-manager/app-manager.lifecycle.ts
  apps/api-server/src/services/app-manager/app-manager.loader.ts
  apps/api-server/src/services/app-manager/app-manager.registry.ts
  apps/api-server/src/services/app-manager/app-manager.types.ts
  docs/checks/WO-O4O-APP-MANAGEMENT-CANONICAL-MODEL-AND-RUNTIME-RESIDUE-CLOSURE-V1-CHECK.md
Labels: frontend, backend, documentation, testing, typescript

fix(api): CMS mutation 인가를 role 축으로 접어 KPA/KCos 403 을 닫는다
  apps/api-server/src/__tests__/cms-content-mutation-service-scope.spec.ts
  apps/api-server/src/__tests__/pharmacy-hub-content-resource-adoption.spec.ts
  apps/api-server/src/routes/cms-content/cms-content-mutation.handler.ts
  apps/api-server/src/routes/cms-content/cms-content-utils.ts
  docs/checks/CHECK-O4O-CMS-KPA-MUTATION-SERVICEKEY-CANONICALIZATION-V1.md
Labels: backend, documentation, testing, typescript

refactor(cms): serviceKey alias 잔여 리터럴을 security-core SSOT 로 수렴한다
  apps/admin-dashboard/src/pages/cms/channels/ChannelFormModal.tsx
  apps/admin-dashboard/src/pages/cms/channels/ChannelList.tsx
  apps/admin-dashboard/src/pages/cms/cmsServiceCatalog.ts
  apps/admin-dashboard/src/pages/cms/contents/CMSContentList.tsx
  apps/admin-dashboard/src/pages/cms/contents/ContentFormModal.tsx
  apps/admin-dashboard/src/pages/cms/slots/CMSSlotList.tsx
  apps/admin-dashboard/src/pages/cms/slots/SlotFormModal.tsx
  apps/api-server/src/__tests__/cms-servicekey-alias-ssot-closure.spec.ts
  apps/api-server/src/routes/cms-content/cms-content-slot.handler.ts
  apps/api-server/src/routes/kpa/kpa.routes.ts
  apps/api-server/src/routes/o4o-store/controllers/news.controller.ts
  docs/checks/CHECK-O4O-CMS-KPA-MUTATION-SERVICEKEY-CANONICALIZATION-V1.md
  docs/checks/CHECK-O4O-CMS-SERVICEKEY-ALIAS-SSOT-RESIDUAL-CLOSURE-V1.md
  services/web-kpa-society/src/api/cms.ts
Labels: frontend, backend, documentation, testing, typescript

fix(channels): serviceKey 를 canonical SSOT 로 정렬해 CMS slot 고립을 없앤다
  apps/admin-dashboard/src/pages/cms/channels/ChannelFormModal.tsx
  apps/admin-dashboard/src/pages/cms/channels/ChannelList.tsx
  apps/api-server/src/__tests__/channels-servicekey-canonical-scope.spec.ts
  apps/api-server/src/routes/admin/channel-heartbeat.routes.ts
  apps/api-server/src/routes/admin/channel-ops.routes.ts
  apps/api-server/src/routes/admin/channel-playback-logs.routes.ts
  apps/api-server/src/routes/channels/channels.routes.ts
  docs/checks/CHECK-O4O-CHANNELS-SERVICEKEY-CANONICAL-SCOPE-ALIGNMENT-V1.md
  packages/cms-core/src/entities/Channel.entity.ts
Labels: frontend, backend, packages, documentation, testing, typescript

feat(commerce): retire store/platform consumer commerce legacy paths
  apps/api-server/src/__tests__/checkout-refund-authorization-canonical-role.spec.ts
  apps/api-server/src/controllers/checkout/checkoutController.ts
  apps/api-server/src/routes/checkout.routes.ts
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-order.controller.ts
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-payment.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/checkout.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/glycopharm-payment.controller.ts
  apps/api-server/src/routes/kpa/controllers/kpa-checkout.controller.ts
  apps/api-server/src/routes/kpa/controllers/kpa-payment.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-hub.controller.ts
  docs/checks/WO-O4O-STORE-AND-PLATFORM-CONSUMER-COMMERCE-LEGACY-RETIREMENT-V1-CHECK.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/store.ts
  services/web-glycopharm/src/components/layouts/KioskLayout.tsx
  services/web-glycopharm/src/components/layouts/StoreLayout.tsx
  services/web-glycopharm/src/components/layouts/TabletLayout.tsx
  services/web-glycopharm/src/pages/store/StoreCart.tsx
  services/web-glycopharm/src/pages/store/StoreProductDetail.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/checkout.ts
  services/web-kpa-society/src/pages/pharmacy/OnlineSalesOrderDetailPage.tsx
  services/web-kpa-society/src/pages/pharmacy/OnlineSalesOrdersPage.tsx
  services/web-kpa-society/src/pages/pharmacy/OnlineSalesOrdersRetiredPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreOrderWorktablePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreOrdersPage.tsx
Labels: backend, documentation, testing, typescript

docs(checks): 두 완료 브랜치 main 통합 결과를 기록한다
  docs/checks/CHECK-O4O-CMS-CHANNELS-COMPLETED-BRANCHES-MAIN-INTEGRATION-V1.md
Labels: documentation

feat(commerce): retire store/platform consumer commerce legacy paths
  apps/api-server/src/__tests__/checkout-refund-authorization-canonical-role.spec.ts
  apps/api-server/src/controllers/checkout/checkoutController.ts
  apps/api-server/src/routes/checkout.routes.ts
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-order.controller.ts
  apps/api-server/src/routes/cosmetics/controllers/cosmetics-payment.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/checkout.controller.ts
  apps/api-server/src/routes/glycopharm/controllers/glycopharm-payment.controller.ts
  apps/api-server/src/routes/kpa/controllers/kpa-checkout.controller.ts
  apps/api-server/src/routes/kpa/controllers/kpa-payment.controller.ts
  apps/api-server/src/routes/o4o-store/controllers/store-hub.controller.ts
  docs/checks/WO-O4O-STORE-AND-PLATFORM-CONSUMER-COMMERCE-LEGACY-RETIREMENT-V1-CHECK.md
  services/web-glycopharm/src/App.tsx
  services/web-glycopharm/src/api/store.ts
  services/web-glycopharm/src/components/layouts/KioskLayout.tsx
  services/web-glycopharm/src/components/layouts/StoreLayout.tsx
  services/web-glycopharm/src/components/layouts/TabletLayout.tsx
  services/web-glycopharm/src/pages/store/StoreCart.tsx
  services/web-glycopharm/src/pages/store/StoreProductDetail.tsx
  services/web-kpa-society/src/App.tsx
  services/web-kpa-society/src/api/checkout.ts
  services/web-kpa-society/src/pages/pharmacy/OnlineSalesOrderDetailPage.tsx
  services/web-kpa-society/src/pages/pharmacy/OnlineSalesOrdersPage.tsx
  services/web-kpa-society/src/pages/pharmacy/OnlineSalesOrdersRetiredPage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreOrderWorktablePage.tsx
  services/web-kpa-society/src/pages/pharmacy/StoreOrdersPage.tsx
Labels: backend, documentation, testing, typescript

docs(check): Neture AI 메뉴/route production 브라우저 재검증 기록 + 최종 판정 (WO-O4O-NETURE-OPERATOR-AI-GUARD-AND-MENU-VISIBILITY-FINAL-CLOSURE-V1 §5-§7)
  docs/checks/WO-O4O-NETURE-OPERATOR-AI-GUARD-AND-MENU-VISIBILITY-FINAL-CLOSURE-V1-CHECK.md
Labels: documentation

docs(checks): CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1 결과를 기존 CHECK로 병합 (중복 파일 제거)
  docs/checks/CHECK-O4O-CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1.md
  docs/checks/WO-O4O-CLOUDSQL-AND-RUNTIME-SECRET-HARDENING-V1-CHECK.md
Labels: documentation

chore(store-ui): retire KPA seller-axis '주문 관리' menu row (D-1)
  packages/shared-space-ui/src/guide/copy/kpa.ts
  packages/store-ui-core/src/config/storeMenuConfig.ts
Labels: packages, typescript

refactor(api-server): retire public App Store read API (WO-O4O-PUBLIC-APPSTORE-READ-CONTRACT-CENSUS-AND-DISPOSITION-V1)
  apps/api-server/src/__tests__/app-instances-retirement.spec.ts
  apps/api-server/src/__tests__/app-management-runtime-residue-retirement.spec.ts
  apps/api-server/src/__tests__/public-appstore-read-retirement.spec.ts
  apps/api-server/src/__tests__/service-provisioning-retirement.spec.ts
  apps/api-server/src/app-manifests/appsCatalog.ts
  apps/api-server/src/bootstrap/register-routes.ts
  apps/api-server/src/routes/__tests__/appstore-auth-boundary.test.ts
  apps/api-server/src/routes/appstore.routes.ts
  docs/baseline/core-boundary.md
  docs/checks/WO-O4O-PUBLIC-APPSTORE-READ-CONTRACT-CENSUS-AND-DISPOSITION-V1-CHECK.md
Labels: backend, documentation, testing, typescript

docs(checks): 소비자 커머스 은퇴 WO 를 배포·production smoke 까지 마감한다
  docs/checks/WO-O4O-STORE-AND-PLATFORM-CONSUMER-COMMERCE-LEGACY-RETIREMENT-V1-CHECK.md
Labels: documentation

fix(pharmacy-hub): 자료실에 '내 자료' 축 추가 — 등록자 자기 자료 수정 경로 고립 해소
  apps/api-server/src/__tests__/pharmacy-hub-content-resource-adoption.spec.ts
  services/web-pharmacy-hub/src/lib/api/pharmacyHubResources.ts
  services/web-pharmacy-hub/src/pages/resources/PharmacyHubResourcesPage.tsx
Labels: backend, testing, typescript

fix(channels): register Channel/PlaybackLog/Heartbeat entities and close runtime
  apps/api-server/jest.config.cjs
  apps/api-server/src/__tests__/channels-typeorm-entity-registration.spec.ts
  apps/api-server/src/database/entities.ts
  apps/api-server/src/routes/admin/channel-heartbeat.routes.ts
  apps/api-server/src/routes/admin/channel-ops.routes.ts
  apps/api-server/src/routes/admin/channel-playback-logs.routes.ts
  apps/api-server/src/routes/channels/channels.routes.ts
  docs/checks/CHECK-O4O-CHANNELS-TYPEORM-ENTITY-REGISTRATION-AND-RUNTIME-CLOSURE-V1.md
  packages/cms-core/src/entities/ChannelHeartbeat.entity.ts
  packages/cms-core/src/entities/ChannelPlaybackLog.entity.ts
Labels: backend, packages, documentation, testing, typescript

docs(checks): 운영자 감사 로그 읽기 계약·채택 전수 판정 (WO-O4O-CROSSSERVICE-OPERATOR-AUDIT-LOG-READ-CONTRACT-AND-ADOPTION-V1)
  docs/checks/CHECK-O4O-CROSSSERVICE-OPERATOR-AUDIT-LOG-READ-CONTRACT-AND-ADOPTION-V1.md
Labels: documentation

docs(checks): channels entity 등록 WO 를 배포·production smoke 까지 마감한다
  docs/checks/CHECK-O4O-CHANNELS-TYPEORM-ENTITY-REGISTRATION-AND-RUNTIME-CLOSURE-V1.md
Labels: documentation

fix(lms): 강사 목록 cross-service leakage 차단 (instructor courses/enrollments service scope)
  apps/api-server/src/__tests__/lms-instructor-course-service-scope.spec.ts
  apps/api-server/src/modules/lms/controllers/InstructorController.ts
  packages/lms-client/src/index.ts
  services/web-kpa-society/src/api/lms-instructor.ts
  services/web-pharmacy-hub/src/api/lms.ts
Labels: backend, packages, testing, typescript
